/*
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/* Autocomplete ========================================================================= */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 3px; white-space: nowrap; overflow: hidden; text-align: left; }
.autocomplete-selected { /*background:  #F0F0F0 ;*/ background: #F80000; color:#FFF; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }

#product-filter .autocomplete-field {display: none;}
#product-filter .section-select {width: auto !important;}
#product-filter .content {display: none;}
#product-filter .content select {float:left;}
#product-filter .content span.delete {background-image: url(images/cancel_btn_icon.gif); width: 16px; height: 16px; padding: 0; border: 0; cursor: pointer;margin-left: 5px; float: left;}
.difference-warning:before {
    content: "";
    border: solid 1px red;
    background: red;
    height: 15px;
    padding: 2px;
    position: absolute;
    margin-left: -10px;
}
