<?php
$customerSession = Mage::getSingleton('customer/session');
$quote = Mage::getSingleton('checkout/cart')->getQuote();
/** @var Dyna_Package_Model_Package $activePackage */
$activePackage = $quote->getPackageById($quote->getActivePackageId());

if($activePackage->getType() == strtolower(Dyna_Catalog_Model_Type::TYPE_MOBILE)){
    $linkedAccountNo = $customerSession->getKiasLinkedAccountNumber();
} elseif(in_array($activePackage->getType(),array(
    strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_TV),
    strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE),
    strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INDEPENDENT)
    ))){
    $linkedAccountNo = $customerSession->getKdLinkedAccountNumber();
}

?>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-linked-accounts" onclick="expandCollapseLinkedAccounts(this)">
                <span class="panel-title"><?php echo $this->__('Linked accounts'); ?></span>
                <span class="pull-right pts">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </span>
            </div>

            <div class="panel-body">

                <div class="row linkedElementHeader">
                    <?php echo $this->__('Available accounts'); ?>
                </div>

                <!-- element 1 -->
                <?php foreach ($this->getLinkedAccounts() as $customerNumber => $account) : ?>
                <?php
                $buttonClass = ($linkedAccountNo && $linkedAccountNo == $customerNumber) ? "btn-green-selected" : "btn-green";
                $counter     = 0;

                foreach ($account['contracts'] as $contract) {
                    if ($counter == 0) {
                        $customerName    = "{$contract['subscriptions'][0]['contact_first_name']} {$contract['subscriptions'][0]['contact_last_name']}";
                        $customerInitials = "{$contract['subscriptions'][0]['contact_first_name'][0]}{$contract['subscriptions'][0]['contact_last_name'][0]}";

                        if (empty(trim($customerName))) {
                            $customerName = "{$this->getCustomerData()[$customerNumber]['firstName']} {$this->getCustomerData()[$customerNumber]['lastName']}";
                            $customerInitials = "{$this->getCustomerData()[$customerNumber]['firstName'][0]}{$this->getCustomerData()[$customerNumber]['lastName'][0]}";
                        }

                        $tooltipContent  = "<div class='tooltip-header'>{$customerName}</div>";
                        $tooltipContent .= "<div class='tooltip-subheader'>". $this->__('Connected contact number'). ": {$customerNumber}</div>";
                    }
                    $tooltipContent .= "<div class='tooltip-content'>";
                    $tooltipContent .= $contract['subscriptions'][0]['tariff']['name']."<br />";
                    $tooltipContent .= $this->__('Account number').": {$contract['subscriptions'][0]['ctn']}";
                    $tooltipContent .= "</div>";
                    $counter++;
                }
                ?>
                <div class="row linkedElement" id="linked_account_<?php echo $customerNumber; ?>">
                    <div class="col-md-10">
                        <div class="option-image pull-left">
                            <span><?php echo $customerInitials; ?></span>
                        </div>

                        <div class="pull-left">
                            <span class="header"><?php echo $customerName; ?></span>
                            <span class="subheader">
                                <?php echo $this->__('Connected contact number').": {$customerNumber}"; ?>
                            </span>
                        </div>

                        <div class="pull-left lh35">
                            <i class="icon-item-info v-middle"
                               data-toggle="tooltip"
                               data-html="true"
                               data-container="body"
                               data-placement="right service-description tooltip-linked-accounts"
                               title="<?php echo $tooltipContent; ?>"></i>
                        </div>
                    </div>

                    <div class="col-md-2 text-right">
                        <button type="button" class="btn <?php echo $buttonClass; ?>" <?php echo $this->getDisabledState() ? 'disabled="disabled"' : ''; ?>
                                data-customer-number="<?php echo $customerNumber; ?>" onclick="selectLinkedAccount(this)">
                            <?php echo $this->__('Choose'); ?>
                        </button>
                    </div>
                </div>

                <?php endforeach; ?>
                <!-- If package is in Pre-post action display create new ban button -->
                <?php if ($activePackage->isPrePost() || $linkedAccountNo == Dyna_Customer_Helper_Customer::PRE_POST_BAN): ?>
                    <!--Create a new account ID -->
                    <div class="row linkedElementHeader">
                        <?php echo $this->__('Create a new account ID'); ?>
                    </div>
                    <div class="row linkedElement" id="linked_account_<?php echo $customerNumber; ?>">
                        <div class="col-md-10">
                            <div class="option-image pull-left">
                                <span>+</span>
                            </div>
                            <div class="pull-left">
                                <span class="header align-middle">
                                    <?php if (!$activePackage->isPrePost() && $linkedAccountNo == Dyna_Customer_Helper_Customer::PRE_POST_BAN) {
                                        echo $this->__('Assigned to new account ID of Pre-Post flow');
                                    }else{
                                        echo $this->__('Create a new account ID');
                                    }
                                    ?>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-2 text-right">
                            <button type="button"
                                    class="btn <?php echo $linkedAccountNo == Dyna_Customer_Helper_Customer::PRE_POST_BAN ? "btn-green-selected" : "btn-green"; ?>" <?php echo (!$activePackage->isPrePost() && $linkedAccountNo == Dyna_Customer_Helper_Customer::PRE_POST_BAN ) ? 'disabled="disabled"' : ''; ?>
                                    data-customer-number="<?php echo Dyna_Customer_Helper_Customer::PRE_POST_BAN; ?>"
                                    data-active = "<?php echo $activePackage->getParentAccountNumber();?>"
                                    <?php if ($this->getClearCart()): ?>
                                        onclick="newAccountBanIDModal(this)"
                                    <?php else: ?>
                                        onclick="selectLinkedAccount(this)"
                                    <?php endif; ?>
                                    data-clear-cart="<?php echo $this->getClearCart(); ?>" >
                                <?php echo $this->__('Choose'); ?>
                            </button>
                        </div>
                    </div>
                 <?php endif; ?>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    // enable tooltips
    jQuery(document).ready(function () {
        jQuery('i[data-toggle="tooltip"]').tooltip();
        if (configuratorUI !== 'undefined') {
            configuratorUI.handleLinkedAccountsPanelState();
        }
    });


    function newAccountBanIDModal(obj)
    {
        var $this = jQuery(obj);
        if ($this.hasClass('btn-green-selected')) {
            return;
        }
        jQuery("#new-account-ban-modal").modal();
        jQuery("#select-new-linked-account").on('click', function(){
            selectLinkedAccount($this, true);
        });
    }
    // --
    function expandCollapseLinkedAccounts(obj)
    {
        var $this = jQuery(obj);
        if(!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp("fast", function() {
                configurator.assureElementsHeight();
            });
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            store.set('linkedAccountPanelState', 'closed');
        } else {
            $this.parents('.panel').find('.panel-body').removeClass('hide');
            $this.parents('.panel').find('.panel-body').slideDown("fast", function() {
                configurator.assureElementsHeight();
            });
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            store.set('linkedAccountPanelState', 'open');
        }
    }

    // --
    function selectLinkedAccount(object, clearCart = false)
    {
        var $this = jQuery(object);

        // Hide drawer on selection as requested in OVG-2492
        jQuery('#panel-linked-accounts').trigger('click');

        if ($this.hasClass('btn-green-selected')) {
            return;
        }

        if($this.hasClass('btn-green')) {
            jQuery('button[data-customer-number].btn-green-selected')
                .removeClass('btn-green-selected')
                .addClass('btn-green');
            $this.addClass('btn-green-selected').removeClass('btn-green');
            setLinkedAccount($this.data('customer-number'), clearCart);
        } else {
            $this.addClass('btn-green').removeClass('btn-green-selected');
            setLinkedAccount('', clearCart);
        }

    }

    function setLinkedAccount(linked_account_number , clearCart)
    {
        jQuery.post(MAIN_URL + 'configurator/init/setLinkedAccount',{
            linked_account_number: linked_account_number,
            clear_cart: clearCart ? 'true' : 'false'
        }).done(function (response) {
            var $redPlusButton = jQuery('#package-types').find("[data-package-creation-type-id='" + REDPLUS_CREATION_TYPE_ID + "']");

            if(response.cartIsRedPlusEligible == true) {
                if ($redPlusButton.hasClass('disabled')) {
                    $redPlusButton.removeClass('disabled');
                }
            } else {
                if (!$redPlusButton.hasClass('disabled')) {
                    $redPlusButton.addClass('disabled');
                }
            }

            if (response.hasOwnProperty('rightBlock') && response.rightBlock) {
                jQuery('.cart_packages')
                    .replaceWith(response.rightBlock)
                    .promise()
                    .done(function () {
                        if (response.hasOwnProperty('package_id') && response.package_id) {
                            var inlifePackage = jQuery('.cart_packages')
                                .find('[data-package-id="' + response.package_id + '"]')
                                .first()
                                .find('.block-container');
                            activateBlock(inlifePackage);
                        }
                    });
            }
            if (response.hasOwnProperty('totals') && response.totals) {
                jQuery('.sticker #cart_totals').replaceWith(response.totals);
                jQuery('.expanded-shoppingcart-totals #cart_totals').replaceWith(response.totals);
            }
        });
    }
</script>
