<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

    /** @var Omnius_Configurator_Helper_Data $helper */
    $helper = Mage::helper('omnius_configurator');
    /** @var Omnius_Configurator_Model_Template $templateModel */
    $templateModel = Mage::getSingleton('omnius_configurator/template');
    $templates = $templateModel->getAllTemplates($this->getType());
    $partials = $templates['partials'];
    unset($templates['partials']);
?>

<?php foreach ($templates as $section => $template): ?>
    <script type="text/template" id="<?php echo sprintf('section_template_%s', $section); ?>"><?php echo $template; ?></script>
<?php endforeach; ?>
<?php foreach ($partials as $section => $templates): ?>
    <?php foreach ($templates as $id => $template): ?>
        <script type="text/template"
                data-section="<?php echo $section; ?>"
                data-id="<?php echo $id; ?>"
                id="<?php echo sprintf('partial_template_%s_%s', $section, $id); ?>"
                class="<?php echo sprintf('partial_%s', $section) ?>">
            <?php echo $template; ?></script>
    <?php endforeach; ?>
<?php endforeach; ?>