<?php $data = $this->getData(); ?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        <span class="subscription"><?php echo $this->__('Change subscription?'); ?></span>
    </h4>
</div>
<div class="modal-body">
    <p class="subscription"><?php echo sprintf($this->__('Are you sure you want to change the subscription to %s?'), $data['name']); ?></p>
    <input name="productOfferID" type="hidden" value="<?php echo $data['product_offer_code']; ?>" />
    <input name="billingOfferID" type="hidden" value="<?php echo $data['base_price_plan_code']; ?>" />
    <input name="name" type="hidden" value="<?php echo $data['name']; ?>" />
    <input name="current" type="hidden" value="<?php echo $data['current']; ?>" />
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" data-dismiss="modal"><?php echo $this->__('Cancel'); ?></a>
    <button type="submit" class="btn btn-info pull-right subscription" onclick="inlife.saveSubscription(this);"><?php echo $this->__('Change subscription'); ?></button>
</div>