<?php
$data = $this->getData();
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();
$isTelesales = $agentHelper->isTeleSalesLine();
if ($data['delivery']['method'] == 'deliver') {
    $shippingAdrress = Mage::helper('vznl_checkout')->_getAddressByType(array(
        'address' => $data['delivery']['deliver']['address'],
        'billingAddress' => !empty($data['delivery']['billingAddress']) ? $data['delivery']['billingAddress'] : [],
        'otherAddress' => $data['delivery']['otherAddress'],
    ));
    $shippingAdrress = Mage::helper('vznl_checkout')->formatAddressAsHtml($shippingAdrress, true);
} else {
    $shippingAdrress = Mage::getSingleton('customer/session')->getAgent()->getDealer()->getAddress();
}
$newSimNumber = isset($data['postfix_simcard']) ? $data['postfix_simcard'] : '';
if (!$isIndirect && isset($data['prefix_simcard'])) {
    $newSimNumber = $data['prefix_simcard'] . $newSimNumber;
}
?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        <span class="subscription"><?php echo $this->__('SIM Swap'); ?></span>
    </h4>
</div>
<div class="modal-body">
    <p><?php echo $this->__('Are you sure you want to change the SIM card to:'); ?></p>

    <div class="row">
        <div class="col-md-3"><?php echo $this->__('SIM type'); ?></div>
        <div class="col-md-9"><?php echo $data['sim_name']; ?></div>
    </div>
    <?php if ($isIndirect) { ?>
        <div class="row">
            <div class="col-md-3"><?php echo $this->__('SIM number'); ?></div>
            <div class="col-md-9"><?php echo $newSimNumber; ?></div>
        </div>
    <?php } ?>
    <?php if (!$isIndirect) { ?>
        <div class="row">
            <div class="col-md-3"><?php echo $this->__('Address'); ?></div>
            <div class="col-md-9">
                <?php echo (!$isTelesales) ? $this->__('Current shop') . ': ' : '';
                echo $shippingAdrress; ?>
            </div>
        </div>
    <?php } ?>
    <input type="hidden" name="new_sim_number" value="<?php echo $newSimNumber; ?>" />
    <input type="hidden" name="sim_id" value="<?php echo $data['sim_id']; ?>" />
    <input type="hidden" name="current_simcard" value="<?php echo $data['current_simcard']; ?>" />
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" data-dismiss="modal"><?php echo $this->__('Cancel'); ?></a>
    <button type="submit" class="btn btn-primary pull-right simswap" onclick="inlife.<?php echo $isIndirect ? 'simSwapAction(this)' : 'createSimSwapOrder(this)'; ?>;">
        <?php echo $this->__('SIM Swap'); ?>
    </button>
</div>
