<?php $data = $this->getData();?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        <span class="add"><?php echo sprintf($this->__('Add %s?'), $data['name']); ?></span>
    </h4>
</div>
<div class="modal-body">
    <p class="add"><?php echo sprintf($this->__('Are you sure you want to add %s?'), $data['name']); ?></p>
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" data-dismiss="modal"><?php echo $this->__('Cancel'); ?></a>
    <button type="submit" class="btn btn-info pull-right add" onclick="inlife.saveVom(this);"><?php echo $this->__('Add Extra'); ?></button>
</div>