<?php $data = $this->getData(); ?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        <span class="add"><?php echo sprintf($this->__('Add %s?'), $data['addonName']); ?></span>
    </h4>
</div>
<div class="modal-body">
    <p class="add"><?php echo sprintf($this->__('Are you sure you want to add %s?'), $data['addonName']); ?></p>
    <p><?php echo $this->__("Total one time"); ?>: <?php echo Mage::helper('core')->currency($data['totaloc']); ?></p>
    <p><?php echo $this->__("Total per month"); ?>: <?php echo Mage::helper('core')->currency($data['totalrc']); ?></p>
    <input type="hidden" name="billingOfferCode" value="<?php echo $data['billingOfferCode']; ?>" />
    <input type="hidden" name="assignedComponentId" value="<?php echo $data['assignedComponentId']; ?>" />
    <input type="hidden" name="componentCode" value="<?php echo $data['componentCode']; ?>" />
    <input type="hidden" name="parentAssignedComponentId" value="<?php echo $data['parentAssignedComponentId']; ?>" />
    <input type="hidden" name="addonName" value="<?php echo $data['addonName']; ?>" />
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" data-dismiss="modal"><?php echo $this->__('Cancel'); ?></a>
    <button type="submit" class="btn btn-info pull-right add" onclick="inlife.addInlifeAddon(this);"><?php echo $this->__('Add Extra'); ?></button>
</div>