<?php $data = $this->getData(); ?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        <span class="remove"><?php echo sprintf($this->__('Remove %s?'), $data['addonName']); ?></span>
    </h4>
</div>
<div class="modal-body">
    <p class="remove"><?php echo sprintf($this->__('Are you sure you want to delete the extra %s?'), $data['addonName']); ?></p>
    <input type="hidden" name="billingOfferCode" value="<?php echo $data['billingOfferCode']; ?>" />
    <input type="hidden" name="assignedComponentId" value="<?php echo $data['assignedComponentId']; ?>" />
    <input type="hidden" name="addonName" value="<?php echo $data['addonName']; ?>" />
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" data-dismiss="modal"><?php echo $this->__('Cancel'); ?></a>
    <button type="submit" class="btn btn-info pull-right remove" onclick="inlife.removeInlifeAddon(this);"><?php echo $this->__('Remove Extra'); ?></button>
</div>