<?php
$addon = $this->getAddon();

$customer = Mage::getSingleton('customer/session')->getCustomer();
$ctnCode = Mage::getSingleton('customer/session')->getAssignedProductId();
$key = sprintf('%s_%s_%s_%s', session_id(), $customer->getBan(), $ctnCode, 'inlife_vom_providers');

$providers = isset($addon['providers']) ? $addon['providers'] : [];
Mage::app()->getCache()->save(serialize($providers), $key, [Vznl_Configurator_Model_Cache::CACHE_TAG]);

// Format billing address
$billingAddress = Mage::getModel('customer/address')->load($customer->getDefaultBilling());
$street[0] = $billingAddress->getStreetName();
$street[1] = $billingAddress->getHouseNo();
$street[2] = $billingAddress->getHouseAdd();
$billingAddress->setData('street', $street);
$key = sprintf('%s_%s_%s_%s', session_id(), $customer->getBan(), $ctnCode, 'inlife_vom_billingAddress');
Mage::app()->getCache()->save(serialize($billingAddress->toArray()), $key, [Vznl_Configurator_Model_Cache::CACHE_TAG]);

// Format shipping address
$shippingAddress = Mage::getModel('customer/address')->load($customer->getDefaultShipping());
$street[0] = $shippingAddress->getStreetName();
$street[1] = $shippingAddress->getHouseNo();
$street[2] = $shippingAddress->getHouseAdd();
$shippingAddress->setData('street', $street);

$key = sprintf('%s_%s_%s_%s', session_id(), $customer->getBan(), $ctnCode, 'inlife_vom_shippingAddress');
Mage::app()->getCache()->save(serialize($shippingAddress->toArray()), $key, [Vznl_Configurator_Model_Cache::CACHE_TAG]);

$connectedVom = $this->getConnectedVom() ?:0;
$connectedFaxes = $this->getConnectedFaxes() ?:0;
$hideAddButton = false;

if (!$connectedVom && isset($addon['vom_options']) && count($addon['vom_options'])) {
    $firstVom = array_shift($addon['vom_options']);
} else {
    if ($connectedVom) {
        if (!count($addon['vom_options'])) {
            $addon['vom_options'] = [
                1 => ['name' => 1]
            ];
            $hideAddButton = true;
        }
    } else {
        $firstVom['name'] = 1;
    }
}

$getVomName = function ($name) {
    $name = explode(' ', $name, 2);
    return trim($name[0]);
};
// TODO: toggle validation rules
?>
<div class="vom">
    <h3 class="border-bottom"><?php echo sprintf($this->__('Add %s'), "VastOpMobiel"); ?></h3>
    <form action="" method="post" id="saveVom" class="clearfix" onsubmit="return inlife.quoteVom(saveVom);">

        <?php if (!$connectedVom) { ?>
            <div class="clearfix row">
                <div class="col-xs-3 col-md-2 col-lg-2">
                    <img width="50" class="pull-right" src="<?php echo $this->getSkinUrl('images/vom.png') ?>" alt="" />
                </div>
                <div class="col-xs-9 col-md-10 col-lg-10">
                    <h2 class="blue-title">
                        <?php echo sprintf($this->__('%se connection'), $getVomName($firstVom['name'])); ?> <?php echo isset($firstVom['price']) ? Mage::helper('core')->currency($firstVom['price'], true, false) : ''; ?>
                    </h2>

                    <div class="vom-block">
                        <?php echo $this->getLayout()->createBlock('core/template')
                            ->setIndex(1)
                            ->setProviders($providers)
                            ->setBillingAddress($billingAddress)
                            ->setShippingAddress($shippingAddress)
                            ->setTemplate('configurator/inlife/partials/vom_block.phtml')
                            ->toHtml(); ?>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        <?php } ?>
        <!-- Additional VOM -->
        <?php if (isset($addon['vom_options']) && count($addon['vom_options'])) { $i = 0; $faxes = 0; ?>
            <?php foreach($addon['vom_options'] as $key => $option) { ?>
                <?php
                    $i++;
                    if ($i > $addon['max_vom_numbers']) {
                        break;
                    }
                ?>
                <?php if ($i > $connectedVom) { ?>
                    <?php
                        $loadFax = false;
                        if ($faxes < $addon['max_fax_numbers'] - $connectedFaxes) {
                            $loadFax = true;
                            $faxes++;
                        }
                    ?>
                    <div class="clearfix row">
                        <div class="col-xs-3 col-md-2 col-lg-2">
                            <img width="50" class="pull-right" src="<?php echo $this->getSkinUrl('images/vom.png') ?>" alt="" />
                        </div>
                        <div class="col-xs-9 col-md-10 col-lg-10">
                            <a class="blue-title height" onclick="inlife.loadMoreVoms(this, <?php echo (int)$loadFax; ?>);" data-index="<?php echo $getVomName($option['name']); ?>">
                                <?php echo '<span class="plus">+</span>' . sprintf($this->__('%se connection'), $getVomName($option['name'])); ?> <?php echo Mage::helper('core')->currency($option['price'], true, false); ?>
                            </a>
                            <div class="vom-block"><!-- Filled with JS --></div>
                        </div>
                    </div>
                <?php } else { ?>
                    <div class="clearfix row">
                        <div class="col-xs-3 col-md-2 col-lg-2">
                            <img width="50" class="pull-right" src="<?php echo $this->getSkinUrl('images/vom.png') ?>" alt="" />
                        </div>
                        <div class="col-xs-9 col-md-10 col-lg-10">
                            <?php echo $this->__('Fixed to Mobile') . ' ' . $i; ?>
                        </div>
                    </div>
                    <hr />
                <?php } ?>
            <?php } ?>

        <?php } ?>

        <br />
        <?php if ($connectedVom) { ?>
            <input type="hidden" name="connected" value="1" />
        <?php } ?>
        <button type="button" class="btn btn-default" onclick="inlife.cancelEditVom();">
            <?php echo $this->__('Cancel'); ?>
        </button>
        <?php if (! $hideAddButton) { ?>
            <button type="submit" class="btn btn-info pull-right<?php echo ($connectedVom < $addon['max_vom_numbers']) ? '' : ' disabled'; ?>">
                <?php echo sprintf($this->__('Connecting %s'), 'VastOpMobiel'); ?>
            </button>
        <?php } ?>
    </form>
    <script>
      var saveVom = new VarienForm('saveVom', true);
      <?php if (Mage::helper('vznl_validators')->getFixedRule('fixed_number')) { ?>
          Validation.add('validate-fixed-number', '<?php echo $this->__('Invalid fixed number');?>', function(v, element) {
            var reg = <?php echo Mage::helper('vznl_validators')->getFixedRule('fixed_number'); ?>;
            return reg.test(v);
          });
      <?php } ?>
      <?php if (Mage::helper('vznl_validators')->getFixedRule('fixed_customer_number')) { ?>
          Validation.add('validate-fixed-customer-number', '<?php echo $this->__('Invalid customer number');?>', function(v, element) {
            var reg = <?php echo Mage::helper('vznl_validators')->getFixedRule('fixed_customer_number'); ?>;
            return reg.test(v);
          });
      <?php } ?>
    </script>
</div>
