<?php
    if ($serviceError = $this->getServiceError()) {
    echo $this->getLayout()->createBlock('core/template')->setServiceError($serviceError)->setTemplate('inlife/partials/service_error.phtml')->toHtml();
    ?>
    <button type="button" onclick="inlife.cancelEditSim();" class="btn btn-primary pull-right">
        <?php echo $this->__('Back to overview'); ?>
    </button>
<?php } else { ?>
    <?php
    /** @var Vznl_Checkout_Helper_Data $checkoutHelper */
    $checkoutHelper = Mage::helper('vznl_checkout');
    $billingAddress = Mage::getModel('customer/address')->load(Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling());
    $street[0] = $billingAddress->getStreetName();
    $street[1] = $billingAddress->getHouseNo();
    $street[2] = $billingAddress->getHouseAdd();
    $billingAddress->setData('street', $street);
    $agentHelper = Mage::helper('vznl_agent');
    $isIndirect = $agentHelper->isIndirectStore();
    $isTelesales = $agentHelper->isTeleSalesLine();
    $isRetail = $agentHelper->isRetailStore();
    $agent = Mage::getSingleton('customer/session')->getAgent();
    $currentSims = $this->getCurrentSims();
    $sim_prefixes = explode(PHP_EOL, Mage::helper('dyna_validators')->getConfigOptions('sim_prefix'));
    $simcards = Mage::helper('vznl_configurator/inlife')->getAvailableSimcards();
    $isForeignBilling = strtolower($billingAddress->getCountryId()) !== strtolower(Vznl_Checkout_Model_Sales_Order::DEFAULT_COUNTRY);
    ?>
    <!-- Edit Sim block -->
    <div class="edit-sim">
        <form method="post" role="form" id="saveSimSwap" onsubmit="return inlife.confirmSimSwap(saveSimSwap);">
            <h3 class="border-bottom"><?php echo $this->__('SIM swap'); ?></h3>
            <div class="row">
                <div class="col-md-6"><?php echo $this->__('Phone number'); ?>:</div>
                <div class="col-md-6"><?php echo $this->getCtn(); ?></div>
                <div class="clear"></div>
                <div class="col-md-6"><?php echo $this->__('Current SIM card'); ?>:</div>
                <div class="col-md-6">
                    <?php if (count($currentSims) > 0) { ?>
                        <?php if (count($currentSims) == 1) { ?>
                            <?php reset($currentSims); echo key($currentSims); ?>
                            <input type="hidden" name="current_simcard" value="<?php echo key($currentSims); ?>" />
                        <?php } else { ?>
                            <select name="current_simcard" class="form-control input-sm" onchange="jQuery('#csn').text(value);">
                                <?php foreach ($currentSims as $sim => $simName) { ?>
                                    <option value="<?php echo $sim; ?>"><?php echo $simName; ?></option>
                                <?php } ?>
                            </select>
                        <?php } ?>
                    <?php } else { ?>
                        <input type="text" name="current_simcard" value="" class="form-control input-sm required-entry validate-sim" />
                    <?php } ?>
                </div>
                <?php if (count($currentSims) > 1) { ?>
                    <div class="clear"></div>
                    <div class="col-md-6"><?php echo $this->__('Current SIM card number'); ?>:</div>
                    <div id="csn" class="col-md-6"><?php reset($currentSims); echo key($currentSims); ?></div>
                <?php } ?>
            </div>

            <h4 class="dotted-bottom"><strong><?php echo $this->__('SIM card data'); ?></strong></h4>
            <?php if (!$isIndirect) { ?>
                <label><?php echo $this->__('SIM card type');?></label>
                <div class="btn-group btn-block">
                    <button type="button" id="simcard-select" class="btn btn-default dropdown-toggle text-left btn-sm required-entry" data-toggle="dropdown" style="width: 100%">
                        <span class="text"><?php echo $this->__('Please Select'); ?></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="width: 100%" role="menu">
                        <?php if ($simcards) {
                            foreach ($simcards as $simcard) {
                                $finalPriceExcludingTax = Mage::helper('tax')->getPrice($simcard, $simcard->getPrice(), false); ?>
                                <li>
                                    <a class="clearfix" onclick="inlife.selectSim(this)" data-price-excl="<?php echo Mage::helper('core')->currency($finalPriceExcludingTax, true, false); ?>" data-sim-id="<?php echo $simcard->getId(); ?>">
                                        <span class="pull-left"><?php echo $simcard->getName(); ?></span>
                                        <span class="pull-left"><img src="<?php echo Mage::helper('catalog/image')->init($simcard, 'small_image')->resize(45, 30); ?>" alt="" /> </span>
                                        <span class="pull-right"><?php echo Mage::helper('core')->currency($simcard->getPrice(), true, false);?></span>
                                    </a>
                                </li>
                            <?php
                            }
                        }
                        ?>
                    </ul>
                </div>
            <?php } ?>

            <?php if ($isIndirect) { ?>
                <label for="simcard"><?php echo $this->__('SIM card number');?></label>
                <div class="row">
                    <div class="col-md-6 pad-right-0">
                        <input type="text" name="postfix_simcard" class="form-control input-sm required-entry validate-sim" />
                    </div>
                </div>
                <div class="clearfix"><br />
                    <?php echo $this->__('Activation'); ?>
                    <div class="clearfix">
                        <label class="radio-inline">
                            <input type="radio" name="activation" value="1" checked /> <?php echo $this->__('Activate now'); ?>
                            <small>
                                <?php echo $this->__('The SIM card is activated immediately'); ?>
                            </small>
                        </label>
                    </div>
                    <div class="clearfix">
                        <label class="radio-inline">
                            <input type="radio" name="activation" value="0" /> <?php echo $this->__('Activate later'); ?>
                            <small>
                                <?php echo $this->__('The customer can activate later via myVodafone his SIM card'); ?>
                            </small>
                        </label>
                    </div>
                </div>
            <?php } ?>

            <div class="cost-container hidden">
                <h4 class="dotted-bottom"><strong><?php echo $this->__('Cost'); ?></strong></h4>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="border-bottom clearfix">
                            <span class="name"><!-- Filled with javascript --></span> <span class="pull-right sim-price">&euro; 0,00</span>
                        </div>
                        <div class="clearfix">
                            <strong><?php echo $this->__('Total'); ?></strong> <span class="pull-right total">&euro; 0,00</span>
                        </div>
                        <div class="clearfix">
                            <?php echo $this->__('excl. VAT'); ?> <span class="pull-right total-excl">&euro; 0,00</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="sim_name" value="" />
                <input type="hidden" name="sim_id" value="" />
            </div>

            <?php if (!$isIndirect) { ?>
                <h4 class="dotted-bottom"><strong><?php echo $this->__('Delivery and payment'); ?></strong></h4>
                <div class="row">
                    <div class="col-md-6 pad-right-0">
                        <label for="delivery[method]"><?php echo $this->__('Delivery method'); ?></label>
                        <select id="delivery[method]" name="delivery[method]" class="form-control input-sm validate-select" onchange="inlife.toggleDelivery(this.value)">
                            <?php if($isRetail) { ?>
                                <option value="direct"><?php echo $this->__('Take directly'); ?></option>
                            <?php } else { ?>
                                <option value="deliver"><?php echo $this->__('Deliver'); ?></option>
                            <?php } ?>
                        </select>
                        <div id="delivery-method-direct" class="delivery-method<?php echo ($isTelesales) ? ' hidden' : ''; ?>">
                            <div class="clearfix pakket">
                                <div class="row">
                                    <div class="col-md-12">
                                        <?php if ($agent && $agent->getDealer()): ?>
                                            <i><?php echo $checkoutHelper->__('Current shop');?>: <?php echo $agent->getDealer()->getAddress(); ?></i>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="delivery-method-deliver" class="delivery-method<?php echo ($isTelesales || $isIndirect) ? '' : ' hidden'; ?>">
                            <div class="clearfix pakket">
                                <div class="row">
                                    <div class="col-md-12">
                                        <?php if(!$isForeignBilling) { ?>
                                            <div class="radio" style="margin-top: 0">
                                                <label>
                                                    <input type="radio" id="delivery[deliver][billing_address]" name="delivery[deliver][address]" value="billing_address" checked />
                                                    <strong><?php echo $checkoutHelper->__('To billing address'); ?></strong>
                                                </label>
                                                <p data-package-id="-1" class="small italic billing-address"><?php echo $checkoutHelper->formatAddressAsHtml($billingAddress->getData()); ?></p>
                                                <div data-package-id="-1" class="billing-address-hidden hidden">
                                                    <input type="text" id="delivery[billingAddress][street]" name="delivery[billingAddress][street]" value="<?php echo $billingAddress->getStreetName(); ?>" />
                                                    <input type="text" id="delivery[billingAddress][houseno]" name="delivery[billingAddress][houseno]" value="<?php echo $billingAddress->getHouseNo(); ?>" />
                                                    <input type="text" id="delivery[billingAddress][addition]" name="delivery[billingAddress][addition]" value="<?php echo $billingAddress->getHouseAdd(); ?>" />
                                                    <input type="text" id="delivery[billingAddress][postcode]" name="delivery[billingAddress][postcode]" value="<?php echo $billingAddress->getPostcode(); ?>" />
                                                    <input type="text" id="delivery[billingAddress][city]" name="delivery[billingAddress][city]" value="<?php echo $billingAddress->getCity(); ?>" />
                                                </div>
                                            </div>
                                        <?php } ?>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" id="delivery[deliver][other_address]" name="delivery[deliver][address]" value="other_address"<?php echo (!$isForeignBilling)?'':' checked'; ?> />
                                                <strong><?php echo $checkoutHelper->__('To other address'); ?></strong>
                                            </label>

                                            <div class="<?php echo ($isForeignBilling)?'':' hidden'; ?> search-address">
                                                <!-- Search address -->
                                                <div class="clearfix form-row-small search-address-form">
                                                    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <label for="searchOtherAddress[postcode]">
                                                                <?php echo $checkoutHelper->__('Postcode'); ?>
                                                            </label>
                                                            <input type="text" id="searchOtherAddress[postcode]" class="form-control input-sm<?php echo ($isForeignBilling)?' required-entry':''; ?>" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="form-group">
                                                            <label for="searchOtherAddress[houseno]">
                                                                <?php echo $checkoutHelper->__('No.'); ?>
                                                            </label>
                                                            <input type="text" id="searchOtherAddress[houseno]" class="form-control input-sm validate-number<?php echo ($isForeignBilling)?' required-entry':''; ?>" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="form-group">
                                                            <label for="searchOtherAddress[addition]">
                                                                <?php echo $checkoutHelper->__('Add.'); ?>
                                                            </label>
                                                            <input type="text" id="searchOtherAddress[addition]" class="form-control input-sm">
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <!-- Search address results -->
                                                <ul class="hidden otherAddressFound"><!-- Filled with ajax --></ul>

                                                <!-- Other address details -->
                                                <div class="hidden otherAddress">
                                                    <strong><?php echo $checkoutHelper->__('Address'); ?></strong>
                                                    <div class="delivery_address_details">
                                                        <?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['html']) : ''; ?>
                                                    </div>
                                                    <a href="javascript:void(0)" class="editOtherAddress" onclick="editOtherAddress(this)">
                                                        <?php echo $checkoutHelper->__('edit'); ?>
                                                    </a>
                                                    <div class="hidden">
                                                        <div class="clearfix form-row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <input type="text" id="delivery[otherAddress][country]" placeholder="<?php echo $checkoutHelper->__('Country'); ?>" name="delivery[otherAddress][country]" class="form-control input-sm" disabled="disabled" value="<?php echo $checkoutHelper->__('The Netherlands'); ?>" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group">
                                                                    <input type="text" id="delivery[otherAddress][street]" placeholder="<?php echo $checkoutHelper->__('Street'); ?>" name="delivery[otherAddress][street]" class="form-control input-sm" value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['street_name']) : ''; ?>" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <div class="form-group">
                                                                    <input type="text" id="delivery[otherAddress][houseno]" placeholder="<?php echo $checkoutHelper->__('No.'); ?>" name="delivery[otherAddress][houseno]" class="form-control input-sm validate-number" value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['houseno']) : ''; ?>" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <div class="form-group">
                                                                    <input type="text" id="delivery[otherAddress][addition]" placeholder="<?php echo $checkoutHelper->__('Add.'); ?>" name="delivery[otherAddress][addition]" class="form-control input-sm" value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['addition']) : ''; ?>" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <input type="text" id="delivery[otherAddress][postcode]" placeholder="<?php echo $checkoutHelper->__('Postcode'); ?>" name="delivery[otherAddress][postcode]" class="form-control input-sm" value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['postcode']) : ''; ?>" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <div class="form-group">
                                                                    <input type="text" id="delivery[otherAddress][city]" placeholder="<?php echo $checkoutHelper->__('City'); ?>" name="delivery[otherAddress][city]" class="form-control input-sm" value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['city']) : ''; ?>" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="javascript:void(0)" onclick="saveOtherAddress(this)">
                                                            <?php echo $checkoutHelper->__('Save'); ?>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pad-left-0">
                        <label for="payment[method]"><?php echo $this->__('One time payment'); ?></label>
                        <select id="payment[method]" name="payment[method]" class="form-control input-sm validate-select">
                            <?php if ($isRetail) { ?>
                                <option value="payinstore"><?php echo $this->__('Pay in store'); ?></option>
                            <?php } else { ?>
                                <!-- <option value="cashondelivery"><?php //echo $this->__('Reimbursement'); ?></option> -->
                                <option value="checkmo"><?php echo $this->__('Invoice'); ?></option>
                            <?php } ?>
                        </select>
                        <p><?php echo $checkoutHelper->__('Amount'); ?>: <span id="inlife-cash-amount"><?php echo Mage::helper('core')->currency(0, true, false);?></span></p>
                    </div>
                </div>
            <?php } else { ?>
                <h4 class="dotted-bottom"><strong><?php echo $this->__('One time payment'); ?></strong></h4>
                <div class="clearfix">
                    <label class="radio-inline">
                        <input type="radio" name="payment[method]" value="checkmo" checked /> <?php echo $this->__('Invoice'); ?>
                    </label>
                    <p class="pull-right" id="inlife-cash-amount">&euro; 0,00</p>
                </div>
                <div class="clearfix">
                    <label class="radio-inline">
                        <input type="radio" name="payment[method]" value="alreadypaid" /> <?php echo $this->__('None'); ?>
                    </label>
                </div>
                <input type="hidden" name="delivery[method]" value="virtual" /><!-- Virtual delivery for Indirect -->
            <?php } ?>
            <p>&nbsp;</p>

            <button type="button" class="btn btn-default" onclick="inlife.cancelEditSim();">
                <?php echo $this->__('Cancel'); ?>
            </button>
            <button type="submit" class="btn btn-primary pull-right">
                <?php echo $this->__('Swap SIM'); ?>
            </button>
        </form>
        <script>
          Translator.add(
            '<?php echo Vznl_Validators_Helper_Messages::INVALID_DATE_FORMAT; ?>',
            '<?php echo $checkoutHelper->__(Vznl_Validators_Helper_Messages::INVALID_DATE_FORMAT); ?>'
          );
          var saveSimSwap = new VarienForm('saveSimSwap', true);
          jQuery(document).ready(function($){
            // Show / hide the sim type selection list
            $('.edit-sim .dropdown-toggle').bind('click', function(e) {
              e.stopPropagation();
              $(this).parents(".btn-group").toggleClass('open');
            });

            $('.edit-sim [name="delivery[deliver][address]"]').bind('change', function() {
              var container = $('.edit-sim .search-address');
              if ($(this).val() != 'billing_address') {
                container.removeClass('hidden');
                $('.edit-sim .search-address .search-address-form input:not([id*="addition"])').addClass('required-entry');
              } else {
                container.addClass('hidden');
                $('.edit-sim .search-address .search-address-form input:not([id*="addition"])').removeClass('required-entry');
              }
            });
          });
        </script>
    </div>
<?php } ?>
