<?php
/** @var Vznl_Checkout_Helper_Data $checkoutHelper */
$checkoutHelper = Mage::helper('vznl_checkout');
$agent = Mage::getSingleton('customer/session')->getAgent();
$sim_prefixes = explode(PHP_EOL, Mage::helper('vznl_validators')->getConfigOptions('sim_prefix'));
$simcards = Mage::helper('vznl_configurator/inlife')->getAvailableSimcards();
$billingAddress = Mage::getModel('customer/address')->load(Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling());
$street[0] = $billingAddress->getStreetName();
$street[1] = $billingAddress->getHouseNo();
$street[2] = $billingAddress->getHouseAdd();
$billingAddress->setData('street', $street);
$addon = $this->getAddon();
$websiteCode = Mage::app()->getWebsite()->getCode();
$defaultNanoSim = Mage::getModel('catalog/product')->loadByAttribute('sku', Vznl_Configurator_Helper_Inlife::DEFAULT_SIMCARD_NANO_SKU);
$isForeignBilling = strtolower($billingAddress->getCountryId()) !== strtolower(Vznl_Checkout_Model_Sales_Order::DEFAULT_COUNTRY);
/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('agent');
?>
<div class="multisim">
    <form method="post" role="form" id="saveMultiSim" onsubmit="return inlife.quoteMultisim(saveMultiSimForm);">
        <input type="hidden" name="billingOfferCode" value="<?php echo $addon['billing_offer_code']; ?>" />
        <input type="hidden" name="componentCode" value="<?php echo $addon['component_code']; ?>" />
        <input type="hidden" name="parentAssignedComponentId" value="<?php echo $addon['parent_assigned_component_id']; ?>" />
        <input type="hidden" name="addonName" value="<?php echo $addon['addon_name']; ?>" />
        <h3 class="border-bottom"><?php echo sprintf($this->__('Add %s'), "Multi SIM"); ?></h3>
        <div class="clearfix row multisim-wrapper">
            <?php
            $i = 0;
            $addonOCPrice = 0;
            foreach ($addon['addon_options'] as $addonOption) {
                $optionOCPrice = $optionRCPrice = 0;
                $optionName = str_replace('AO_MultiSim', '', $addonOption['catalog_pricing_name']);
                if (isset($addonOption['pricing_info']['price_type']) == 'RC') {
                    $optionRCPrice = isset($addonOption['pricing_info']['prices']['rate']) ? $addonOption['pricing_info']['prices']['rate'] : 0;
                    $optionOCPrice = 0;
                } elseif (isset($addonOption['pricing_info']) && is_array($addonOption['pricing_info'])) {
                    foreach ($addonOption['pricing_info'] as $priceOption) {
                        if ($priceOption['price_type'] == 'RC') {
                            $optionRCPrice = isset($addonOption['pricing_info']['prices']['rate']) ? $addonOption['pricing_info']['prices']['rate'] : 0;
                        }
                        if ($priceOption['price_type'] == 'OC') {
                            $optionOCPrice = isset($addonOption['pricing_info']['prices']['rate']) ? $addonOption['pricing_info']['prices']['rate'] : 0;
                        }
                    }
                }
                if ($i == 0) {
                    $addonOCPrice = $optionOCPrice;
                }
                unset($firstSim);
                ?>
                <input type="hidden" name="multisim[prices][<?php echo $addonOption['catalog_pricing_code']; ?>][OC]" value="<?php echo $optionOCPrice; ?>" />
                <input type="hidden" name="multisim[prices][<?php echo $addonOption['catalog_pricing_code']; ?>][RC]" value="<?php echo $optionRCPrice; ?>" />
                <input type="hidden" name="multisim[name][<?php echo $addonOption['catalog_pricing_code']; ?>]" value="<?php echo $optionName; ?>" />

                <div class="col-xs-3 col-md-2 col-lg-2">
                    <img width="50" class="pull-right" src="<?php echo $this->getSkinUrl('images/multisim.png') ?>" alt="" />
                </div>
                    <div class="multi-details col-xs-9 col-md-10 col-lg-10<?php echo ($i > 0) ? ' hidden' : '';?>" data-oc-price="<?php echo $optionOCPrice; ?>">
                        <?php if ($i == 0) { ?>
                            <p style="color: #428BCA">
                                <?php echo $optionName .' '. Mage::helper('core')->currency($optionRCPrice, true, false); ?>
                            </p>
                        <?php } ?>
                        <?php if ( $websiteCode != Vznl_Agent_Model_Website::WEBSITE_RETAIL_CODE
                            && $websiteCode != Vznl_Agent_Model_Website::WEBSITE_BELCOMPANY_CODE
                            && !Mage::helper('agent')->isTelesalesLine($websiteCode)
                        ) { ?>
                            <label for="postfix_multisim[<?php echo $addonOption['catalog_pricing_code']; ?>]"><?php echo $this->__('Multi SIM number');?></label>
                            <div class="row">
                                <div class="col-md-6 pad-right-0">
                                    <select name="prefix_multisim[<?php echo $addonOption['catalog_pricing_code']; ?>]" class="form-control input-sm<?php echo ($i == 0) ? ' validate-select' : '';?>">
                                        <option selected="" value=""><?php echo $this->__('Please Select'); ?></option>
                                        <?php if (is_array($sim_prefixes)) {
                                            foreach ($sim_prefixes as $prefix) {
                                                echo '<option value="' . $prefix. '">' . $prefix. '</option>';
                                            }
                                        } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 pad-left-0">
                                    <input type="text" id="postfix_multisim[<?php echo $addonOption['catalog_pricing_code']; ?>]" name="postfix_multisim[<?php echo $addonOption['catalog_pricing_code']; ?>]" class="form-control input-sm<?php echo ($i == 0) ? ' required-entry validate-sim' : '';?>" />
                                </div>
                            </div>
                        <?php } ?>
                        <?php if ($websiteCode != Vznl_Agent_Model_Website::WEBSITE_INDIRECT_CODE && $defaultNanoSim->getId()) { ?>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong style="margin-bottom: 0"><?php echo $this->__('Choose SIM card type'); ?></strong>
                                    <?php if ($simcards) {
                                        foreach ($simcards as $simcard) {
                                            $finalPriceExcludingTax = Mage::helper('tax')->getPrice($simcard, $simcard->getPrice(), false); ?>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio"
                                                           name="multisim[simcard][<?php echo $addonOption['catalog_pricing_code']; ?>]"
                                                           value="<?php echo $simcard->getId(); ?>"
                                                           data-price-excl="<?php echo round($finalPriceExcludingTax, 2); ?>"
                                                           data-price-incl="<?php echo round($simcard->getPrice(),   2); ?>"
                                                        <?php if (!isset($firstSim)) {
                                                            echo " checked";
                                                        } ?> />
                                                    <?php echo $simcard->getName(); ?>
                                                </label>
                                            </div>
                                            <?php $firstSim = true;
                                        }
                                    }
                                    ?>
                                </div>
                            </div>
                        <?php } else { ?>
                            <input type="hidden" name="multisim[simcard][<?php echo $addonOption['catalog_pricing_code']; ?>]" value="<?php echo $defaultNanoSim->getId(); ?>" />
                        <?php } ?>
                    </div>
            <?php if ($i > 0) { ?>
                <div class="col-xs-9 col-md-10 col-lg-10 pull-right">
                    <button class="btn btn-link" type="button" onclick="inlife.toggleMultisimAddon(this)"
                            data-code="<?php echo $addonOption['catalog_pricing_code']; ?>"
                            data-show-text="+<?php echo $optionName .' '. Mage::helper('core')->currency($optionRCPrice, true, false); ?>"
                            data-hide-text="<?php echo $optionName . ' ' . strtolower($this->__('Cancel')); ?>"
                    >
                        +<?php echo $optionName .' '. Mage::helper('core')->currency($optionRCPrice, true, false); ?>
                    </button>
                    <input type="checkbox" class="hidden" value="<?php echo $addonOption['catalog_pricing_code']; ?>" name="multisim[addon][]" />
                </div>
            <?php } else { ?>
                <input type="checkbox" class="hidden" value="<?php echo $addonOption['catalog_pricing_code']; ?>" name="multisim[addon][]" checked />
            <?php } ?>
            <p>&nbsp;</p>
            <?php $i++; } ?>
            <div class="col-xs-9 col-md-10 col-lg-10 col-xs-offset-3 col-md-offset-2 col-lg-offset-2">
                <?php if ($websiteCode != Vznl_Agent_Model_Website::WEBSITE_INDIRECT_CODE) { ?>
                    <div class="row">
                        <div class="col-md-6 pad-right-0">
                            <label for="multisim[delivery]"><?php echo $this->__('Delivery method'); ?></label>
                            <select id="multisim[delivery]" name="multisim[delivery]" class="form-control input-sm validate-select" onchange="inlife.toggleDelivery(this.value)">
                                <?php if($agentHelper->isRetailStore()) { ?>
                                    <option value="direct"><?php echo $this->__('Take directly'); ?></option>
                                <?php } else { ?>
                                    <option value="deliver"><?php echo $this->__('Deliver'); ?></option>
                                <?php } ?>
                            </select>
                            <div id="multisim-method-direct" class="delivery-method<?php echo ($agentHelper->isTelesalesLine($websiteCode)) ? ' hidden' : ''; ?>">
                                <div class="clearfix pakket">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <?php if ($agent && $agent->getDealer()) { ?>
                                                <i><?php echo $checkoutHelper->__('Current shop');?>: <?php echo $agent->getDealer()->getAddress(); ?></i>
                                            <?php } ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="multisim-method-deliver" class="delivery-method<?php echo ($agentHelper->isTelesalesLine($websiteCode)) ? '' : ' hidden'; ?>">
                                <div class="clearfix pakket">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <?php if(!$isForeignBilling): ?>
                                                <div class="radio" style="margin-top: 0">
                                                    <label>
                                                        <input type="radio" id="multisim[deliver][billing_address]" name="multisim[deliver][address]" value="billing_address" checked />
                                                        <strong><?php echo $checkoutHelper->__('To billing address'); ?></strong>
                                                    </label>
                                                    <p data-package-id="-1" class="small italic billing-address"><?php echo $checkoutHelper->formatAddressAsHtml($billingAddress->getData()); ?></p>
                                                    <div data-package-id="-1" class="billing-address-hidden hidden">
                                                        <input type="text" id="multisim[billingAddress][street]" name="multisim[billingAddress][street]" value="<?php echo $billingAddress->getStreetName(); ?>" />
                                                        <input type="text" id="multisim[billingAddress][houseno]" name="multisim[billingAddress][houseno]" value="<?php echo $billingAddress->getHouseNo(); ?>" />
                                                        <input type="text" id="multisim[billingAddress][addition]" name="multisim[billingAddress][addition]" value="<?php echo $billingAddress->getHouseAdd(); ?>" />
                                                        <input type="text" id="multisim[billingAddress][postcode]" name="multisim[billingAddress][postcode]" value="<?php echo $billingAddress->getPostcode(); ?>" />
                                                        <input type="text" id="multisim[billingAddress][city]" name="multisim[billingAddress][city]" value="<?php echo $billingAddress->getCity(); ?>" />
                                                    </div>
                                                </div>
                                            <?php endif; ?>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" id="multisim[deliver][other_address]" name="multisim[deliver][address]" value="other_address" <?php echo (!$isForeignBilling)?'':' checked'; ?> />
                                                    <strong><?php echo $checkoutHelper->__('To other address'); ?></strong>
                                                </label>

                                                <div class="<?php echo ($isForeignBilling)?'':' hidden'; ?> search-address">
                                                    <!-- Search address -->
                                                    <div class="clearfix form-row-small search-address-form">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="searchOtherAddress[postcode]"><?php echo $checkoutHelper->__('Postcode'); ?></label>
                                                                <input type="text" id="searchOtherAddress[postcode]" class="form-control input-sm<?php echo ($isForeignBilling)?' required-entry':''; ?>" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <div class="form-group">
                                                                <label for="searchOtherAddress[houseno]"><?php echo $checkoutHelper->__('No.'); ?></label>
                                                                <input type="text" id="searchOtherAddress[houseno]" class="form-control input-sm validate-number<?php echo ($isForeignBilling)?' required-entry':''; ?>" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <div class="form-group">
                                                                <label for="searchOtherAddress[addition]"><?php echo $checkoutHelper->__('Add.'); ?></label>
                                                                <input type="text" id="searchOtherAddress[addition]" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Search address results -->
                                                    <ul class="hidden otherAddressFound"><!-- Filled with ajax --></ul>

                                                    <!-- Other address details -->
                                                    <div class="hidden otherAddress">
                                                        <strong><?php echo $checkoutHelper->__('Address'); ?></strong>
                                                        <div class="delivery_address_details">
                                                            <?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['html']) : ''; ?>
                                                        </div>
                                                        <a href="javascript:void(0)" class="editOtherAddress" onclick="editOtherAddress(this)">
                                                            <?php echo $checkoutHelper->__('edit'); ?>
                                                        </a>
                                                        <div class="hidden">
                                                            <div class="clearfix form-row-small">
                                                                <div class="col-xs-6">
                                                                    <div class="form-group">
                                                                        <input type="text" id="multisim[otherAddress][street]" placeholder="<?php echo $checkoutHelper->__('Street'); ?>" name="multisim[otherAddress][street]" class="form-control input-sm" value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['street_name']) : ''; ?>" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <div class="form-group">
                                                                        <input type="text" id="multisim[otherAddress][houseno]" placeholder="<?php echo $checkoutHelper->__('No.'); ?>" name="multisim[otherAddress][houseno]" class="form-control input-sm validate-number" value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['houseno']) : ''; ?>" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <div class="form-group">
                                                                        <input type="text" id="multisim[otherAddress][addition]" placeholder="<?php echo $checkoutHelper->__('Add.'); ?>" name="multisim[otherAddress][addition]" class="form-control input-sm" value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['addition']) : ''; ?>" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix form-row-small">
                                                                <div class="col-xs-4">
                                                                    <div class="form-group">
                                                                        <input type="text" id="multisim[otherAddress][postcode]" placeholder="<?php echo $checkoutHelper->__('Postcode'); ?>" name="multisim[otherAddress][postcode]" class="form-control input-sm" value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['postcode']) : ''; ?>" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-8">
                                                                    <div class="form-group">
                                                                        <input type="text" id="multisim[otherAddress][city]" placeholder="<?php echo $checkoutHelper->__('City'); ?>" name="multisim[otherAddress][city]" class="form-control input-sm" value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['city']) : ''; ?>" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <a href="javascript:void(0)" onclick="saveOtherAddress(this)"><?php echo $checkoutHelper->__('Save'); ?></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pad-left-0">
                            <label for="payment[method]"><?php echo $this->__('One time payment'); ?></label>
                            <select id="payment[method]" name="payment[method]" class="form-control input-sm validate-select">
                                <?php if ($agentHelper->isRetailStore()) { ?>
                                    <option value="payinstore"><?php echo $this->__('Pay in store'); ?></option>
                                <?php } else { ?>
                                    <option value="checkmo"><?php echo $this->__('Invoice'); ?></option>
                                <?php } ?>
                            </select>
                            <div class="multisim-amount">
                                <?php echo $checkoutHelper->__('Amount'); ?>: <span class="amount"><?php echo Mage::helper('core')->currency($addonOCPrice, true, false);?></span>
                            </div>
                        </div>
                    </div>
                <?php } else { ?>
                    <h4 class="dotted-bottom"><strong><?php echo $this->__('One time payment'); ?></strong></h4>
                    <div class="clearfix">
                        <label class="radio-inline">
                            <input type="radio" name="payment[method]" value="checkmo" checked /> <?php echo $this->__('Invoice'); ?>
                        </label>
                        <div class="multisim-amount pull-right">
                            <?php echo $checkoutHelper->__('Amount'); ?>: <span class="amount"><?php echo Mage::helper('core')->currency($addonOCPrice, true, false);?></span>
                        </div>
                    </div>
                    <input type="hidden" name="multisim[delivery]" value="virtual" /><!-- Virtual delivery for Indirect -->
                <?php } ?>
            </div>
        </div>
        <br />
        <button type="button" class="btn btn-default" onclick="inlife.cancelEditMultisim();">
            <?php echo $this->__('Cancel'); ?>
        </button>
        <button type="submit" class="btn btn-info pull-right">
            <?php echo sprintf($this->__('Connecting %s'), 'Multi SIM'); ?>
        </button>
    </form>
    <script>
      //<![CDATA[
      var saveMultiSimForm = new VarienForm('saveMultiSim', true);

      jQuery(function ($) {
        $('.multisim [name="multisim[deliver][address]"]').bind('change', function () {
          var container = $('.multisim .search-address');
          if ($(this).val() != 'billing_address') {
            container.removeClass('hidden');
            $('.multisim .search-address .search-address-form input:not([id*="addition"])').addClass('required-entry');
          } else {
            container.addClass('hidden');
            $('.multisim .search-address .search-address-form input:not([id*="addition"])').removeClass('required-entry');
          }
        });
      });
      //]]>
    </script>
</div>
