<?php if ($serviceError = $this->getServiceError()) {
    echo $this->getLayout()->createBlock('core/template')->setServiceError($serviceError)->setTemplate('configurator/inlife/partials/service_error.phtml')->toHtml();
    ?>
    <button type="button" onclick="window.location.reload(true)" class="btn btn-info pull-right"><?php echo $this->__('Back to overview'); ?></button>
<?php } else { ?>
    <?php $qT = Mage::getModel('varien/object')->addData($this->getQuotationInformation() ?: []);
        $multisimData = $this->getData('multisim'); ?>
    <form action="" method="post" onsubmit="return inlife.createMultisimOrder(this);">
        <h4><?php echo $this->__('Quotation'); ?></h4>
        <div class="section clearfix" style="background: #eee;position: relative;">
            <div class="col-sm-6 less-padding-left">
                <a class="btn btn-default" style="background: #ccc;">
                    <div onclick="event.stopPropagation()">
                        <strong><?php echo $this->__('Current'); ?></strong>
                        <div class="row">
                            <div class="col-sm-6 small">
                                <?php echo $this->__("Per month") . ' ' . Mage::helper('core')->currency($qT->getData('previous_total_r_c'), true, false); ?><br/>
                                <?php echo $this->__("VAT") . ' ' . Mage::helper('core')->currency($qT->getData('previous_tax_total_r_c'), true, false); ?>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <span class="glyphicon glyphicon-play current-new-arrow" aria-hidden="true"></span>
            <div class="col-sm-6 less-padding-right">
                <a class="btn btn-default">
                    <div onclick="event.stopPropagation()">
                        <strong><?php echo $this->__('New'); ?></strong>
                        <div class="row">
                            <div class="col-sm-6 small">
                                <?php echo $this->__("Per month") . ' ' . Mage::helper('core')->currency($qT->getData('total_r_c'), true, false); ?><br/>
                                <?php echo $this->__("VAT") . ' ' . Mage::helper('core')->currency($qT->getData('tax_total_r_c'), true, false); ?>
                            </div>
                            <div class="col-sm-6 small">
                                <?php echo $this->__("One time") . ' ' . Mage::helper('core')->currency($qT->getData('total_o_c'), true, false); ?><br/>
                                <?php echo $this->__("VAT") . ' ' . Mage::helper('core')->currency($qT->getData('tax_total_o_c'), true, false); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 small">
                                <div class="separator">&nbsp;</div>
                                <?php if ($effectiveDate = $this->getEffectiveDate()) { ?>
                                    <?php echo $this->__('Effective Date') .': '. $effectiveDate; ?>
                                <?php } ?><br/>
                                <?php if ($orderID = $this->getOrderId()) { ?>
                                    <span style="color: #7A7A7A;"><?php echo $this->__('Order ID') .': ' . $orderID; ?></span>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="clearfix">
            <button type="button" class="btn btn-default pull-left" onclick="inlife.cancelEditMultisim();">
                <?php echo $this->__('Cancel'); ?>
            </button>
            <button type="submit" class="btn btn-info pull-right">
                <?php echo $this->__('Confirm'); ?>
            </button>
        </div>
    </form>
<?php } ?>
