<?php if ($serviceError = $this->getServiceError()) : ?>
    <div class="service-error">
        <?php if (is_array($serviceError)) :
            echo Mage::helper('vznl_inlife/data')->array2ul($serviceError); ?>
        <?php else : ?>
            <p>
                <strong><?php echo $this->__('Error message'); ?>:</strong> <br />
                <?php echo $serviceError; ?>
            </p>
        <?php endif; ?>
    </div>

    <?php if ($this->getOverviewButton()) : ?>
        <button type="button" onclick="window.location.reload(true)" class="btn btn-info pull-right"><?php echo $this->__('Back to overview'); ?></button>
    <?php endif; ?>

<?php endif; ?>