<script id="Handlebars-Template-Details-Customer" type="text/x-handlebars-template">
    <div id="left-customer-info" class="customer-info">
        <div class="new-search">
            <span class="customer-search-arrow"><</span>
            <a id="new-search" onclick="customerDe.unloadCustomer(this);"><?php echo strtoupper($this->__("New Search")); ?></a>
        </div>
        <div class="customer-info-block">
            <div class="customer-name-container">
                {{#if isSoho}}
                    <span class="customer-name">{{company_name}}</span>
                {{/if}}
                <span class="customer-name">
                    {{#compare isProspect 0 operator="=="}}
                        {{title}}
                    {{/compare}}
                    {{first_name}} {{last_name}}
                </span>
                <span class="customer-id">
                    {{#compare global_id null operator="=="}}
                            -
                     {{else}}
                            {{global_id}}
                    {{/compare}}
                </span>
            </div>
            <!-- Customer DOB Block -->
            {{#compare isProspect 0 operator="=="}}
                <div class="customer-details-container">
                    {{#if isSoho}}
                        <div class="customer-details-dob">
                            <span class="dob-text"><?php echo strtoupper($this->__("Registr. no")); ?>:</span>
                            <span class="dob-value">{{kvk_number}}</span>
                        </div>
                    {{else}}
                        <div class="customer-details-dob" data-id="customer-details-dob">
                            {{#if birth_date}}
                                <span class="dob-text"><?php echo strtoupper($this->__("Birthdate")); ?>:</span>
                                <span class="dob-value" data-id="customer-details-dob">{{birth_date}}</span>
                            {{/if}}
                        </div>
                    {{/if}}

                </div>
            {{else}}
                {{#if isSoho}}
                {{else}}
                    <div class="contact-person-details">
                        {{birth_date}}
                    </div>
                {{/if}}
            {{/compare}}
            <!-- Customer Address Block -->
            {{#compare isProspect 0 operator="=="}}
                <div class="customer-address-container">
                    {{#if legal_address}}
                    <span class="address-text"><?php echo strtoupper($this->__('Address')); ?>:</span>
                    <p>{{legal_address.street}} {{removeAddressAdditionSpace legal_address.no}} {{legal_address.house_addition}}<br>
                        {{legal_address.postal_code}} {{legal_address.city}}</p>
                    {{else if service_address}}
                    <p>{{service_address.street}} {{removeAddressAdditionSpace service_address.no}} {{service_address.house_addition}}<br>
                        {{service_address.postal_code}} {{service_address.city}}</p>
                    {{else}}
                    <p>{{street}} {{removeAddressAdditionSpace no}} {{house_addition}}<br>
                        {{postal_code}} {{city}}</p>
                    {{/if}}

                </div>
                {{else}}
                <div class="customer-address-container">
                    <span class="address-text"><?php echo strtoupper($this->__('Address')); ?>:</span>
                    <p>{{#showLocalAreaCode contact_number_prefix}}{{/showLocalAreaCode}} {{contact_number}}<br>
                        {{email}}</p>
                </div>
            {{/compare}}

            <!-- Contact Details Block -->
            {{#compare isProspect 0 operator="=="}}
            <div class="contact-person-container">
                <span class="contact-person-text"><?php echo strtoupper($this->__('Contact Details')); ?>:</span>
                <span class="contact-person-value">{{#if contact_number_prefix}}({{contact_number_prefix}}){{/if}} {{contact_number}}</span>
                <span class="contact-person-value">{{contactPerson.title}} {{contactPerson.first_name}} {{contactPerson.last_name}}</span>
            </div>
            {{/compare}}

        </div>
        <?php
        /**
         * In order to add another customer section:
         * make sure there is a unique value defined for data-toggle attribute,
         * make sure there that a handlebars template with the name left-sidebar-{data-toggle value} exists (by default these templates are appended to modals.phtml)
         * make sure the processing is defined in Dyna_Customer_Helper_Panel
         */
        ?>
        <div class="customer_ctns block">
            <ul class="nav nav-tabs" id="ctn-tabs" style="display: block;">
                {{#compare isProspect 0 operator="=="}}
                <li>
                    <div class="customer-360-icons-container">
                        <span class="my-products"></span>
                    </div>
                    <a id="product_info_left" data-slidebutton-left="panel" data-toggle="products-content" onclick="customerDe.loadCustomerInfo(this)"><?php echo strtoupper($this->__("My products")); ?></a>
                    <!--<span class="view-specific-details">j</span>-->
                    <span class="number-of-circle {{#compare products_count 0 operator='=='}}hidden{{/compare}}">{{products_count}}</span>
                </li>
                {{/compare}}
                <li>
                    <div class="customer-360-icons-container">
                        <span class="my-carts"></span>
                    </div>
                    <a id="cart_info_left" data-slidebutton-left="panel" data-toggle="carts-content" onclick="customerDe.loadCustomerInfo(this)"><?php echo strtoupper($this->__("Shopping carts")); ?></a>
                    <span class="number-of-circle {{#compare carts_count 0 operator='=='}}hidden{{/compare}}">{{carts_count}}</span>
                </li>
                {{#compare isProspect 0 operator="=="}}
                <li>
                    <div class="customer-360-icons-container">
                        <span class="my-orders"></span>
                    </div>
                    <a id="order_info_left" data-slidebutton-left="panel" data-toggle="orders-content" onclick="customerDe.loadCustomerInfo(this)"><?php echo strtoupper($this->__("Orders")); ?></a>
                    <span class="number-of-circle {{#compare orders_count 0 operator='=='}}hidden{{/compare}}">{{orders_count}}</span>
                </li>
                <li>
                    <div class="customer-360-icons-container">
                        <span class="my-links"></span>
                    </div>
                    <a id="customer_info_left" data-slidebutton-left="panel" data-toggle="link-details" onclick="customerDe.loadCustomerInfo(this)"><?php echo strtoupper($this->__("Link details")); ?></a>
                </li>
                <!--A HH member is a VF customer and is identified as a HH member of the current handled customer and is identified by 5 business rules-->
                {{#if isSoho}}
                {{else}}
                <?php
                if (!Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')) {
                ?>
                    <li>
                        <div class="customer-360-icons-container">
                            <span class="household"></span>
                        </div>
                        <a id="household_info_left" data-slidebutton-left="panel" data-toggle="household" onclick="customerDe.loadCustomerInfo(this)"><?php echo strtoupper($this->__("Household")); ?></a> <!--Haushalt-->
                        <div class="number-of-circle" id="household_badge">
                            {{#if household_members_count}}
                                {{household_members_count}}
                            {{else}}
                                 0
                            {{/if}}
                        </div>
                    </li>
                <?php
                }
                ?>
                {{/if}}
                {{/compare}}
            </ul>
        </div>
    </div>
</script>
