<?php
/** @var Dyna_Configurator_Block_Rightsidebar this */
/** @var Dyna_Checkout_Helper_Data $helper */
$helper = Mage::helper('dyna_checkout');
/** @var Dyna_Package_Helper_Data $packageHelper */
$packageHelper = Mage::helper('dyna_package');
/** @var Dyna_Catalog_Helper_Data $catalogHelper */
$catalogHelper = Mage::helper('dyna_catalog');

$quoteData = $this->getQuoteData();
$packages = $this->getPackages();
$agent = Mage::helper('agent/data')->getAgent();
$agentName = $agent?$agent->getName():'';
$dealerGroups = Mage::getSingleton('customer/session')->getAgent(true)->getDealer()->getDealerGroups();
$dealerGroupName = $dealerGroups->count() > 0 ? $dealerGroups->getFirstItem()->getName() : null;
$storeName = Mage::app()->getStore()->getName();
$mageDate = Mage::getModel('core/date');
$createdDateTimestamp = $mageDate->timestamp(strtotime($quoteData->getData('created_at')));
$updatedDateTimestamp = $mageDate->timestamp(strtotime($quoteData->getDate('updated_at')));
$customer = Mage::getSingleton('dyna_customer/session')->getCustomer();
$customerLoggedIn = $customer->isCustomerLoggedIn();
/** @var Dyna_Configurator_Helper_Data $configuratorHelper */
$configuratorHelper = Mage::helper('dyna_configurator');
$hasKipWhileNotAllowed = $configuratorHelper->hasKIPWhileNotAllowed();
$packageTypes = Mage::helper('dyna_package')->getPackageTypes();
$completedMandatoryFamilies =  Mage::helper("bundles")->hasMandatoryFamiliesCompleted();
$packageTypeAndTariffTitles = [];

$isSoho = Mage::getSingleton('customer/session')->getIsSoho();
$btwSessionState = Mage::getSingleton('customer/session')->getBtwState();
// initial state
if (is_null($isSoho) && is_null($btwSessionState)) {
    $btwState = true;
} else {
    $btwState = (bool) $isSoho;
    if ($btwSessionState == false) {
        $btwState = false;
    }
    if ($btwSessionState == true) {
        $btwState = true;
    }
}

if (!$completedMandatoryFamilies) {
    $familiesPerPackage = Mage::helper('bundles')->getMandatoryFamilies();
    foreach ($familiesPerPackage as $families) {
        foreach ($families as $family) {
            $familyNames[] = $family['familyName'];
        }
    }
}

usort($packages,array(get_class($packageHelper),'sortPackagesById'));

$templateData = $this->getData();
$includeForm = $this->getExcludeForm() ? false : true;
?>

<?php echo isset($templateData['infoSummary']) ? $templateData['infoSummaryStyle'] : ''; ?>
<div id="right-panel-cart" class="panel-content clearfix">
    <?php echo isset($templateData['infoSummary']) ? '<h2>' . $this->__('Your offer') . '</h2>' : ''; ?>
    <?php if ($includeForm) { ?>
    <form action="<?php echo $this->getUrl('checkout/cart'); ?>processNotes" id="expanded_form" method="GET">
        <?php } ?>
        <div class="clearfix row <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>">
            <div class="cart_right_expanded col-md-11 col-xs-10"
                 style="max-height: 630px; overflow-y: auto; position: relative;">
                <p class="title"><?php echo $this->__('Cart overview'); ?></p>
                <?php if ($hasKipWhileNotAllowed) {?>
                    <script>
                      jQuery( document ).ready(function() {
                        showNotificationBar('<?php echo $this->__('Cannot continue because the selected customer already has a cable package'); ?>', 'warning');
                      });
                    </script>
                <?php }?>

                <?php if (!$completedMandatoryFamilies && isset($familyNames)) {?>
                    <script>
                      jQuery( document ).ready(function() {
                        showNotificationBar('<?php echo $this->__('Cannot continue without selecting an item from the mandatory families: '). implode(',', $familyNames); ?>', 'error');
                      });
                    </script>
                <?php }?>
                <p class="cart-title-description">
                    <?php
                    $dateAsArray = explode(" ", date('j. F Y', $createdDateTimestamp));
                    $dateAsArray[1] = $this->__($dateAsArray[1]);
                    $translatedDate = implode(" ", $dateAsArray);
                    echo $this->__('Last modified on') . ' ' . $translatedDate;
                    echo $this->__('updated') . ' ' . date('H:i', $updatedDateTimestamp);
                    echo ' ' . $this->__('Clock') . ' ' . $this->__('by') . ' ' . $agentName;
                    echo $this->__('by') . ' ' . $dealerGroupName ?: $storeName;
                    ?>
                </p>
            </div>

            <div class="col-md-1 col-xs-2" id="right-panel-cart-menu">
                <div class="menu-expand full">
                    <ul>
                        <li>
                            <a onclick="showSaveCartModal('<?php echo ($customerLoggedIn) ? 1: 0 ?>');">
                                <i class="vfde-save"></i>
                                <?php echo $this->__("Save and send") ?>
                            </a>
                        </li>
                        <li>
                            <a onclick="showCancelCartModal();">
                                <i class="vfde-delete"></i>
                                <?php echo $this->__('Delete all packages') ?>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pull-right mtm three-dots" onclick="switchPackageMenu(event, this)">
                    <i class="vfde-more"></i>
                </div>
            </div>
        </div>
        <div class="border-cart-expanded"></div>
        <div class="cart_right_expanded_packages">
            <?php
            /** @var Dyna_Package_Model_Package $package */
            $sortedPackages = $packageHelper->groupRedPlusPackages($packages);
            $sortedPackages = $packageHelper->groupInstalledBaseBundlePackages($sortedPackages);
            echo $this->getLayout()
                ->createBlock('core/template')
                ->setTemplate('customer/partials/sidebar_expanded_packages.phtml')
                ->addData([
                    'packages' => $sortedPackages,
                    'template_data' => $templateData,
                ])
                ->toHtml();
            ?>
            <!-- packages content from the right side-->
            <div class="<?php echo isset($templateData['infoSummary']) ? '' : 'expanded-package-container col-xs-10'?>">
                <!-- packages details devided per package devided per product-->
                <div class="expanded-package-details" data-spy="scroll" data-target="#right_expanded_packets"
                     data-offset="50">
                    <?php
                    /** @var Dyna_Package_Model_Package $package */
                    /** @var Dyna_Package_Helper_Data $packageHelper */
                    $packageHelper = Mage::helper('dyna_package');
                    $hasPriceSliding = false;

                    foreach ($sortedPackages as $counter => $package) {
                        // get unique base customer identifier and display it for ILS flows only
                        $uniqueBaseCustomerIdentifier = Mage::helper('dyna_checkout/layout')->getUniqueBaseIdentifier($package);
                        $priceSlicing = null;
                        $packageNotes = $package->getNotes();
                        $installedBaseProducts = explode(',', $package->getInstalledBaseProducts());
                        $class = $packageHelper->getPackageState($package->getData());
                        $numberOfCurrentRedplusMembers = $packageHelper->getNumberOfRedPlusGroupMembers($package->getData(), $package->getType());
                        $packageNotes = $packageHelper->checkNotes($package);
                        ?>
                        <div id="scroll-pack-<?php echo $package->getPackageId(); ?>"
                             data-package-id="<?php echo $package->getPackageId() ?>" class="package-expand">
                            <!-- menu for each package-->
                            <table class="clear mtm package-items-table" cellspacing=0 cellpadding=0>
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                <thead class="<?php echo !empty($class['title'])? $class['title']: ''?> <?php echo $packageHelper->getBundleColor($package['package_id']) ?>">
                                <?php } ?>
                                <tr class="package-item-header<?php echo isset($templateData['infoSummary']) ? ' brder-bottom' : ''; ?>">
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                        <th class="left_border <?php echo $packageHelper->getBundleColor($package['package_id']) ?>""></th>
                                    <?php } ?>
                                    <th class="description"<?php echo isset($templateData['infoSummary']) ? ' colspan="4"' : ''; ?>>
                                        <?php
                                        $packageTitle = Mage::getModel('dyna_package/packageType')->loadByCode($package->getType())->getFrontEndName();
                                        $packageTypeAndTariffTitles = Mage::helper('dyna_package')->getTypeAndSubtypeTitle($package,Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION, Dyna_Catalog_Model_Product::GUI_COMMUNICATION);
                                        if (($packageTypeAndTariffTitles['packageTitle'] != '') && ($packageTypeAndTariffTitles['packageSubtypeTitle'] != '')) {
                                            echo isset($templateData['infoSummary']) ? '' : "<p title='{$packageTypeAndTariffTitles['packageTitle']}' class='light'>{$packageTypeAndTariffTitles['packageTitle']}</p>";
                                            echo "<".(isset($templateData['infoSummary']) ? 'h4' : 'p').
                                                " title='{$packageTypeAndTariffTitles['packageSubtypeTitle']}'>{$packageTypeAndTariffTitles['packageSubtypeTitle']}</".(isset($templateData['infoSummary']) ? 'h4' : 'p').">";
                                        } else {
                                            echo "<p title='{$packageTitle}'>{$packageTitle}</p>";
                                        }
                                        if ($uniqueBaseCustomerIdentifier && isset($templateData['infoSummary'])) {
                                            echo '<h4>' . $uniqueBaseCustomerIdentifier . '</h4>';
                                        }
                                        ?>
                                    </th>
                                    <th class="monthly-costs">&nbsp;</th>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                        <th class="one-of-costs">
                                            <?php if (!empty($class['state']['partOfGroup'])) { ?>
                                                <div class="secondBadge <?php echo $class['state']['secondBadge']; ?> extended-cart-second-badge"
                                                     data-toggle="tooltip" data-placement="top" data-container="body" data-html="true"
                                                     data-template='<div class="tooltip ils-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                                                     data-original-title="<span class='lightbulb-tooltip-title ils-renew-tooltip'><?php echo $class['tooltipInfo']['title']; ?></span>"
                                                >
                                                </div>
                                            <?php } ?>
                                            <?php if ($class['state']['badge'] && !isset($templateData['infoSummary'])) { ?>
                                                <div class="badge  <?php echo $class['state']['badge']; ?>">
                                                    <i class="<?php echo $class['state']['icon']; ?>"></i>
                                                    <?php echo $numberOfCurrentRedplusMembers > 0 ? $numberOfCurrentRedplusMembers : ''; ?>
                                                </div>
                                            <?php } ?>
                                            <span class="package-notes-extended <?php echo $packageNotes ? '' : 'hidden' ?>
                                                <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>" id="<?php echo $package->getPackageId(); ?>"></span>
                                            <!-- menu for each package-->
                                            <div class="menu-expand full <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>">
                                                <ul>
                                                    <li class="icons note">
                                                        <a class="package-item-notes" id="<?php echo $package->getPackageId(); ?>">
                                                            <?php echo $this->__('Note'); ?>
                                                        </a>
                                                    </li>
                                                    <li class="edit-package icons edit">
                                                        <a onclick="window.location.href = '<?php echo Mage::getUrl() . '?packageId=' . $package->getPackageId(); ?>'"><?php echo $this->__('Edit'); ?>
                                                        </a>
                                                    </li>
                                                    <li class="remove-package icons delete">
                                                        <a onclick="removeExpandedPackage(event,'<?php echo $package->getPackageId() ?>')"><?php echo $this->__('Remove'); ?>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="pull-right mtm three-dots <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>" onclick="switchPackageMenu(event, this)">
                                                <i class="vfde-more"></i>
                                            </div>
                                        </th>
                                        <th class="package-spacer"></th>
                                    <?php } ?>
                                </tr>
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                    </thead>
                                <?php } ?>

                                <tbody>
                                <tr class="package-item-subheader">
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                        <td class="package-spacer"></td>
                                    <?php } ?>
                                    <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="description">
                                        <?php echo isset($templateData['infoSummary']) ? '<h4>' . $this->__('Your selection') . '</h4>' : '&nbsp;' ?>
                                    </td>
                                    <td class="one-of-costs"><?php echo $this->__('One time cost'); ?></td>
                                    <td class="monthly-costs"><?php echo $this->__('Monthly'); ?></td>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                        <td class="package-spacer"></td>
                                    <?php } ?>
                                </tr>
                                <!-- products displayed from a package in 4 sections: hardware, tariff, option and promotion-->
                                <?php
                                $packageItemsBySections = $package->getPackagesProductsForSidebarSection($package->getData('items'), Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_EXTENDED_SHOPPING_CART);
                                if (count($packageItemsBySections)) { ?>
                                    <?php foreach ($packageItemsBySections as $section => $productsInSection) { ?>
                                        <?php if (count($productsInSection)) { ?>
                                            <!-- separate the sections visually-->
                                            <tr class="subheader-section  <?php echo $section; ?> <?php echo !$productsInSection['section_visibility'] ? 'hidden' : '';  ?>">
                                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                                    <td class="package-spacer"<?php echo isset($templateData['infoSummary']) ? ' width="0"' : ''; ?>></td>
                                                <?php } ?>
                                                <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="names <?php echo !$productsInSection['section_visibility'] ? 'hidden' : '';  ?>">
                                                    <?php echo isset($templateData['infoSummary']) ? '<h4>' : ''; ?>
                                                    <?php echo $this->__(ucfirst($packageHelper->getPackageSubtype($package->getType(), $section, true))); ?>&nbsp;
                                                    <?php echo isset($templateData['infoSummary']) ? '</h4>' : ''; ?>
                                                </td>
                                                <td class="monthly-costs <?php echo !$productsInSection['section_visibility'] ? 'hidden' : '';  ?>">&nbsp;</td>
                                                <td class="one-of-costs <?php echo !$productsInSection['section_visibility'] ? 'hidden' : '';  ?>">&nbsp;</td>
                                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                                    <td class="package-spacer <?php echo !$productsInSection['section_visibility'] ? 'hidden' : '';  ?>"></td>
                                                <?php } ?>
                                            </tr>
                                            <?php if (!empty($packageItemsBySections[$section]['items'])) {
                                                $formattedItemsForPriceSliding = $helper->getFormattedItemsForPriceSliding($packageItemsBySections[$section]['items']);
                                                if (!empty($formattedItemsForPriceSliding)){
                                                    $priceSlicing = $priceSlicing ? array_merge($priceSlicing, $formattedItemsForPriceSliding) : $formattedItemsForPriceSliding;
                                                }
                                                echo $this->getLayout()
                                                    ->createBlock('core/template')
                                                    ->setTemplate('customer/partials/sidebar_products.phtml')
                                                    ->addData([
                                                        'installed_base_products' => $installedBaseProducts,
                                                        'package' => $package,
                                                        'package_items_by_sections' => $packageItemsBySections,
                                                        'products_in_section' => $productsInSection,
                                                        'section' => $section,
                                                        'template_data' => $templateData
                                                    ])
                                                    ->toHtml();
                                                ?>
                                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                                    <tr>
                                                        <td class="table-spacer table-spacer" colspan="5">&nbsp;</td>
                                                    </tr>
                                                <?php } ?>
                                            <?php } ?>
                                        <?php } ?>
                                    <?php } ?>
                                    <tr class="small<?php echo isset($templateData['infoSummary']) ? ' hidden' : ''; ?>">
                                        <td class="description">&nbsp;</td>
                                        <td class="one-of-costs">&nbsp;</td>
                                        <td class="monthly-costs">&nbsp;</td>
                                        <?php if (isset($templateData['infoSummary'])) { ?>
                                            <td class="one-of-costs" colspan="2">&nbsp;</td>
                                        <?php } ?>
                                    </tr>
                                <?php } ?>
                                </tbody>
                                <tfoot>
                                <!-- price sliding for cable-->
                                <?php if (! $package->getData('editing_disabled') && $priceSlicing && $package->isCable()) { ?>
                                    <?php
                                    $priceSlicing = $helper->getPriceSlidingPerMonthForAllProduct($priceSlicing);
                                    //remove total from header
                                    $headers = array_diff(array_keys(current($priceSlicing)), ['total'] );
                                    ?>

                                    <tr class="subheader-section recurring-costs">
                                        <td class="names"colspan="5"><?php echo isset($templateData['infoSummary']) ? '<h4>' . $this->__("Recurring costs") . '</h4>' : $this->__("Recurring costs"); ?></td>
                                    </tr>
                                    <?php foreach ($priceSlicing as $monthIndex => $month) { ?>
                                        <tr class="package-item-subheader recurring-costs no-shadow">
                                            <td class="names no-border" <?php echo isset($templateData['infoSummary']) ? 'colspan="3"' : 'colspan="2"'; ?>>
                                                <?php echo isset($templateData['infoSummary']) ? '<h4>' . $this->__("From Month ") . $monthIndex . '</h4>' : $this->__("From Month ") . $monthIndex; ?>
                                            </td>
                                            <td class="one-of-costs no-border"></td>
                                            <td class="monthly-costs no-border">
                                                <?php echo isset($templateData['infoSummary']) ? '<h4>' . '€ ' . $month['total'] . '</h4>' : '€ ' . $month['total']; ?>
                                            </td>
                                            <?php if (!isset($templateData['infoSummary'])) { ?>
                                                <td class="package-spacer no-border"></td>
                                            <?php } ?>
                                        </tr>
                                    <?php } ?>
                                    <?php $hasPriceSliding = true; ?>
                                <?php } ?>
                                <!-- totals per package-->
                                <tr class="small<?php echo isset($templateData['infoSummary']) ? ' hidden' : ''; ?>">
                                    <td class="description">&nbsp;</td>
                                    <td class="one-of-costs">&nbsp;</td>
                                    <td class="monthly-costs">&nbsp;</td>
                                    <?php if (isset($templateData['infoSummary'])) { ?>
                                        <td class="one-of-costs" colspan="2">&nbsp;</td>
                                    <?php } ?>
                                </tr>
                                <?php $packageTotals = $quoteData->calculateTotalsForPackage($package->getPackageId()); ?>
                                <tr class="package-total">
                                    <td class="names" <?php echo isset($templateData['infoSummary']) ? 'colspan="3"' : 'colspan="2"'; ?>>
                                        <?php echo isset($templateData['infoSummary']) ? '<h3>' . $this->__("Total") . '</h3>' : strtoupper($this->__("Total")); ?>
                                    </td>
                                    <td class="one-of-costs"><?php echo $helper->showNewFormattedPriced($packageTotals['total']); ?></td>
                                    <td class="monthly-costs"><?php echo $helper->showNewFormattedPriced($packageTotals['total_maf'] > 0 ? $packageTotals['total_maf'] : 0); ?></td>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                        <td class="package-spacer no-border"></td>
                                    <?php } ?>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    <?php } ?>
                </div>
                <!-- totals for all packages -->
                <div class="expanded-shoppingcart-totals" data-state="false">
                    <table class="clear package-items-table" cellspacing=0 cellpadding=0>
                        <tfoot>
                        <tr>
                            <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="description">
                                <div class="form-group pull-left">
                                    <?php echo isset($templateData['infoSummary']) ? '<h4' : '<p'; ?> class="cart_totals_header">
                                    € <?php
                                    if ($hasPriceSliding) {
                                        echo $this->__("Total in 1st month");
                                    } else {
                                        echo $this->__("Total costs");
                                    } ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</h4>' : '</p>'; ?>
                                </div>
                            </td>
                            <td class="<?php echo isset($templateData['infoSummary']) ? '' : 'monthly-costs'; ?> show-total-string">
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                    <?php echo $this->__("Show VAT") ?>
                                <?php } ?>
                            </td>
                            <td class="one-of-costs show-total-toggle-btn">
                                <div class="toggle-container">
                                    <div class="toggle-label">
                                        <label for="toggle">
                                            <div id="display-prices-switch"
                                                 class="toggle-button off-state"
                                                 onclick="sidebar.showHideVatPrices(this);">
                                                <span class="bullet"> </span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <?php if (!isset($templateData['infoSummary'])) { ?>
                                <td class="package-spacer"></td>
                            <?php } ?>
                        </tr>
                        <tr>
                            <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="description"></td>
                            <td class="one-of-costs">
                                <?php echo isset($templateData['infoSummary']) ? '<h4' : '<p'; ?> class="no-margin-bottom">
                                <?php echo $this->__('One time cost'); ?>
                                <?php echo isset($templateData['infoSummary']) ? '</h4>' : '</p>'; ?>
                            </td>
                            <td class="monthly-costs">
                                <?php echo isset($templateData['infoSummary']) ? '<h4' : '<p'; ?> class="no-margin-bottom">
                                <?php echo $this->__('Monthly'); ?>
                                <?php echo isset($templateData['infoSummary']) ? '</h4>' : '</p>'; ?>
                            </td>
                            <?php if (!isset($templateData['infoSummary'])) { ?>
                                <td class="package-spacer"></td>
                            <?php } ?>
                        </tr>
                        <tr id="vat-price-details" class="hide">
                            <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="description">
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                <div class="form-group pull-left">
                                    <?php } ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="cart-totals-vat price">' : '<p class="cart-totals-vat">'; ?>
                                    <?php echo $this->__('Net'); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="cart-totals-vat price">' : '<p class="cart-totals-vat">'; ?>
                                    <?php echo $this->__('VAT.'); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                </div>
                            <?php } ?>
                            </td>
                            <td class="one-of-costs">
                                <?php echo isset($templateData['infoSummary']) ? '<span class="no-margin-bottom fs13 fw300 price">' : '<p class="no-margin-bottom fs13 fw300">'; ?>
                                <?php echo $helper->showNewFormattedPriced($quoteData['initial_mixmatch_subtotal']) ?>
                                <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                <?php echo isset($templateData['infoSummary']) ? '<span class="no-margin-bottom fs13 fw300 price">' : '<p class="no-margin-bottom fs13 fw300">'; ?>
                                <?php echo $helper->showNewFormattedPriced($quoteData['initial_mixmatch_tax']) ?>
                                <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                            </td>
                            <td class="monthly-costs">
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                <div>
                                    <?php } ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="no-margin-bottom fs13 fw300 price">' : '<p class="no-margin-bottom fs13 fw300">'; ?>
                                    <?php echo $helper->showNewFormattedPriced($quoteData['initial_mixmatch_maf_subtotal']) ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="no-margin-bottom fs13 fw300 price">' : '<p class="no-margin-bottom fs13 fw300">'; ?>
                                    <?php echo $helper->showNewFormattedPriced($quoteData['initial_mixmatch_maf_tax']) ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                    <?php if (!isset($templateData['infoSummary'])){ ?>
                                </div>
                            <?php } ?>
                            </td>
                            <?php if (!isset($templateData['infoSummary'])) { ?>
                                <td class="package-spacer"></td>
                            <?php } ?>
                        </tr>
                        <tr>
                            <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="description">
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                <div class="form-group pull-left">
                                    <?php } ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<h3' : '<p'; ?> class="cart-totals-vat">
                                    <?php echo $this->__("Total"); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</h3>' : '</p>'; ?>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                </div>
                            <?php } ?>
                            </td>
                            <td class="one-of-costs">
                                <?php echo isset($templateData['infoSummary']) ? '<span class="total fs13 fw500 price">' : '<p class="total fs13 fw500">'; ?>
                                <?php echo $helper->showNewFormattedPriced($quoteData['grand_total']) ?>
                                <?php echo isset($templateData['infoSummary']) ? '</span>' : '</p>'; ?>
                            </td>
                            <td class="monthly-costs">
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                <div>
                                    <?php } ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="total fs13 fw500 price">' : '<p class="total fs13 fw500">'; ?>
                                    <?php echo $helper->showNewFormattedPriced($quoteData['initial_mixmatch_maf_total'] ?: $quoteData['maf_grand_total']); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span>' : '</p>'; ?>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                </div>
                            <?php } ?>
                            </td>
                            <?php if (!isset($templateData['infoSummary'])) { ?>
                                <td class="package-spacer"></td>
                            <?php } ?>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <?php
                $complete = Mage::helper('dyna_checkout')->hasAllPackagesCompleted();
                ?>
                <?php $disabled = (!$complete || $hasKipWhileNotAllowed || !$completedMandatoryFamilies) ? ' disabled' : ''; ?>
                <div class="expanded-package-next-button clearfix <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>">
                    <input<?php echo $disabled; ?> class="btn btn-primary expanded_checkout_btn<?php echo $disabled; ?>"
                                                   type="button" style=""
                                                   id="expanded_checkout_btn" value="<?php echo $this->__('To checkout'); ?>"
                                                   onclick="expandedFormSubmit();"/>
                </div>
            </div>
            <?php if (isset($templateData['infoSummary'])) { ?>
                <div style="clear: both;"></div>
            <?php } ?>
        </div>
        <?php if ($includeForm) { ?>
    </form> <!-- END form#expanded_form -->
    <?php } ?>
</div> <!-- END #right-panel-cart -->
<script>
  jQuery(document).ready(function ($) {
    $('.package-notes, .package-notes-extended, .package-notes-checkout').click(function () {
      window.customerDe.getNoteOnPackage(this,0);
    });

    $('.menu-expand .package-item-notes, .note-field-btn').click(function () {
      window.customer.displayNoteAddForm(this);
    });

    $('.edit-note-btn').click(function() {
      var noteId = $(this).attr('data-note-id');
      window.customerDe.getNoteOnPackage(this,noteId);
    });
  });
</script>