<?php
/**
 * @var Dyna_Customer_Block_CustomerSearch $this
 */
$uctParams = $this->getUctParams();
$ctnParam = (!empty($uctParams['callingNumber'])) ? $uctParams['callingNumber'] : null;
$customerSession = Mage::getSingleton('dyna_customer/session');
$newSearchFlag = $customerSession->getData('new_search_customer');
?>
<div class="search-header">
    <h2 class="col-title"><?php echo $this->__('Customer search') ?></h2>
</div>
<?php if ($customerSession->getAgent()->isGranted(array('SEARCH_CUSTOMER'))) : ?>

    <form class="form-inline" role="form" id="customer_search_form" onsubmit="return false">
        <div class="search-block customer-search-form">
            <div class="search-fields" id="customer-search-container">
                <div class="form-group col-xs-12 for-cable-address-disable dsl-required on-exact-disabled">
                    <label for="customer"
                           class="on-cable-hide legacy-off-show mobil-dsl-customernumber"><?php echo $this->__('Customer-/Contract-/Order number'); ?></label>
                    <label for="customer"
                           class="on-dsl-hide on-mobile-hide hide cable-customernumber"><?php echo $this->__('Customernumber'); ?></label>
                    <input type="text" class="form-control legacy-mobile-required-field"
                           name="customer" id="customer"
                           placeholder="" autocomplete="off"
                           onblur="CustomerFiltersSearch.disableAddressCableInput(this)"/>
                </div>
                <div class="form-group col-xs-12 on-dsl-show on-mobile-show on-mobile-disable on-cable-disable legacy-off-show on-exact-disabled">
                    <label for="telephone_number"><?php echo $this->__('Phone number'); ?></label>
                    <input type="text" class="form-control input_small"
                           value='<?php echo ($ctnParam && !$newSearchFlag) ? $ctnParam : "" ?>'
                           name="telephone_number" id="telephone_number" autocomplete="off"
                           onblur="CustomerFiltersSearch.disableAddressCableInput(this)"/>
                </div>
                <div class="form-group col-xs-6 left-input on-dsl-show on-mobile-show legacy-off-show on-cable-disable on-exact-disabled">
                    <label for="first_name"><?php echo $this->__('First name'); ?></label>
                    <input type="text" class="form-control input_small" maxlength="256" name="first_name"
                           id="first_name" autocomplete="off"
                           onblur="CustomerFiltersSearch.disableAddressCableInput(this)"/>
                </div>
                <div class="form-group col-xs-6 right-input on-dsl-show on-mobile-show dsl-required legacy-off-show on-cable-disable on-exact-disabled">
                    <label for="last_name"><?php echo $this->__('Surname'); ?></label>
                    <input type="text" class="form-control input_medium legacy-mobile-required-field"
                           maxlength="256" name="last_name" id="last_name" autocomplete="off"/>
                </div>
                <div class="form-group col-xs-9 on-dsl-show on-mobile-show dsl-required legacy-off-show on-cable-disable on-exact-disabled">
                    <label for="birthday"><?php echo $this->__('Date of birth'); ?></label>
                    <input type="text"
                           class="form-control date-format validate-date-de validate-min-age-18 validate-max-age-dob"
                           name="birthday" id="birthday" autocomplete="off"
                           placeholder="<?php echo $this->__('DD.MM.YYYY'); ?>" maxlength="10" onkeyup="dobChange(event)" />
                </div>
                <div class="form-group col-xs-6 left-input for-cable-device-or-order-disable exact-required dsl-required">
                    <label for="zipcode"><?php echo $this->__('Postcode'); ?></label>
                    <input type="text" class="form-control" name="zipcode" id="zipcode" maxlength="5"
                           onblur="CustomerFiltersSearch.disableDeviceAndOrderCableInput(this)"
                           onkeydown="address.handleServiceabilityForm()"/>
                </div>
                <div class="form-group col-xs-6 right-input for-cable-device-or-order-disable exact-required">
                    <label for="city"><?php echo $this->__('City'); ?></label>
                    <input type="text" class="form-control" name="city" id="city" autocomplete="off"
                           onblur="CustomerFiltersSearch.disableDeviceAndOrderCableInput(this)"
                           onkeydown="address.handleServiceabilityForm()" maxlength="50"/>
                </div>
                <div class="form-group col-xs-12 for-cable-device-or-order-disable exact-required">
                    <label for="street"><?php echo $this->__('Street'); ?></label>
                    <input type="text" class="form-control" name="street" id="street" autocomplete="off" maxlength="50"
                           onblur="CustomerFiltersSearch.disableDeviceAndOrderCableInput(this)"
                           onkeydown="address.handleServiceabilityForm()"/>
                </div>
                <div class="form-group col-xs-3 for-cable-device-or-order-disable exact-required">
                    <label for="no"><?php echo $this->__('HouseNo'); ?></label>
                    <input type="text" class="form-control input_small" name="no" id="no" maxlength="50"
                           autocomplete="off" onblur="CustomerFiltersSearch.disableDeviceAndOrderCableInput(this)"
                           onkeydown="address.handleServiceabilityForm()"/>
                </div>
                <div class="form-group col-xs-3 on-mobile-disable for-cable-device-or-order-disable">
                    <label for="addNo"><?php echo $this->__('Add.'); ?></label>
                    <input type="text" class="form-control input_small" name="addNo" id="addNo"
                           autocomplete="off" onblur="CustomerFiltersSearch.disableDeviceAndOrderCableInput(this)"
                           onkeydown="address.handleServiceabilityForm()"/>
                </div>

                <div class="form-group col-xs-12 exact-search-switch toggle-container hidden">
                    <div class="form-group col-xs-2 switch">
                        <div class="toggle-button" data-state="false"
                             onclick="CustomerFiltersSearch.onSwitchExactSearchChange(this);">
                            <span class="bullet"> </span>
                        </div>
                        <input id="exact-search" type="radio" name="exact-search" class="exact-search" value="legacy"/>
                    </div>
                    <div class="form-group col-xs-9 exact-search-label">
                        <label for="exact-search"
                               onclick="toggleExactSearch();"><?php echo $this->__('Exact search'); ?></label>
                    </div>
                </div>

                <div class="form-group col-xs-12 advanced-search-switch toggle-container">
                    <div class="form-group col-xs-2 switch">
                        <div class="toggle-button" data-state="false"
                             onclick="CustomerFiltersSearch.onSwitchAdvancedSearchChange(this);"><span
                                class="bullet"> </span></div>
                        <input id="advanced-search" type="radio" name="advanced-search" class="advanced-search"
                               value="advanced"/>
                    </div>
                    <div class="form-group col-xs-9 advanced-search-label">
                        <label for="advanced-search"
                               onclick="toggleAdvancedSearch()"><?php echo $this->__('Advanced search'); ?></label>
                    </div>
                </div>

                <div class="form-group col-xs-12 legacy-search-switch toggle-container">
                    <div class="form-group col-xs-2 switch">
                        <div class="toggle-button" data-state="false"
                             onclick="CustomerFiltersSearch.onSwitchLegacySearchChange(this);"><span
                                class="bullet"> </span></div>
                        <input id="legacy-search" type="radio" name="legacy-search" class="legacy-search"
                               value="legacy"/>
                    </div>
                    <div class="form-group col-xs-9 legacy-search-label">
                        <label for="legacy-search"
                               onclick="toggleLegacySearch();"><?php echo $this->__('Legacy search'); ?></label>
                    </div>
                </div>

                <div id="legacy-search-filters">
                    <div class="form-group col-xs-12 legacy-search-switch-radio-buttons">
                        <div class="form-group col-xs-4 clearfix form-row">
                            <label class="radio-inline">
                                <input type="radio" id="legacy[mobile]" name="legacy_type" value="mobile"
                                       onclick="CustomerFiltersSearch.showHideDisableLegacySpecificFilters(this)"/>
                                <span><?php echo $this->__("Mobile"); ?></span>
                            </label>
                        </div>
                        <div class="form-group col-xs-4 clearfix form-row">
                            <label class="radio-inline">
                                <input type="radio" id="legacy[dsl]" name="legacy_type" value="dsl"
                                       onclick="CustomerFiltersSearch.showHideDisableLegacySpecificFilters(this)"/>
                                <span><?php echo $this->__("Dsl"); ?></span>
                            </label>
                        </div>
                        <div class="form-group col-xs-4 clearfix form-row cable-legacy-search-switch">
                            <label class="radio-inline">
                                <input type="radio" id="legacy[cable]" name="legacy_type" value="cable"
                                       onclick="CustomerFiltersSearch.showHideDisableLegacySpecificFilters(this)"/>
                                <span><?php echo $this->__("Cable"); ?></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="other-search-filters" class="clear">
                    <div class="form-group col-xs-12 hide on-legacy-filter on-dsl-hide on-cable-hide on-mobile-hide">
                        <label for="telephone_number"><?php echo $this->__('Phone number'); ?></label>
                        <input type="text" class="form-control input_small" value=''
                               name="telephone_number" id="telephone_number" autocomplete="off" maxlength="256"/>
                    </div>
                    <div class="form-group col-xs-12 hide on-legacy-filter on-dsl-hide on-cable-hide on-mobile-hide">
                        <label for="local_number"><?php echo $this->__('Local number'); ?></label>
                        <input type="text" class="form-control input_small" value=''
                               name="local_number" id="local_number" autocomplete="off" maxlength="256"/>
                    </div>
                    <div class="form-group col-xs-12 on-cable-hide on-dsl-hide on-mobile-hide hide on-advanced on-exact-filter on-legacy-filter">
                        <label for="customer_email"><?php echo $this->__('E-mail'); ?></label>
                        <input type="text" class="form-control" name="email" id="customer_email" autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-12 on-cable-hide  on-dsl-hide on-mobile-show hide on-legacy-filter">
                        <label for="subscriber_number"><?php echo $this->__('Subscriber number'); ?></label>
                        <input type="text" class="form-control input_small  legacy-mobile-required-field"
                               name="subscriber_number" id="subscriber_number" autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-12 on-cable-hide on-dsl-hide on-mobile-show hide on-legacy-filter">
                        <label for="sim_imei"><?php echo $this->__('SIM / IMEI'); ?></label>
                        <input type="text" class="form-control input_small legacy-mobile-required-field" name="sim_imei"
                               id="sim_imei" autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-12 on-cable-show on-dsl-hide on-mobile-hide hide on-advanced on-exact-filter on-legacy-filter for-cable-address-disable">
                        <label for="device_id"><?php echo $this->__('Device ID'); ?></label>
                        <input type="text" class="form-control" name="device_id" id="device_id" autocomplete="off"
                               onblur="CustomerFiltersSearch.disableAddressCableInput(this)"/>
                    </div>
                </div>
            </div>

            <div class="search-button customer_search_field">
                <input type="hidden" name="perform-exact-address-search" id="perform-exact-address-search" value="0"/>
                <button id="submit-search" type="submit" class="btn btn-block btn-default"
                        onclick="searchCustomer(this)">
                    <span class="loading-search invisible"></span> <?php echo $this->__('Search'); ?>
                </button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        function dobChange(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode >= 48 && charCode <= 57) || (charCode >= 96 && charCode <= 105)) {
                dobDots();
            } else if (charCode == 37 || charCode == 39 || charCode == 46 || charCode == 8) {
                // LET LEFT, RIGHT, BACKSPACE AND DEL PASS
            } else {
                evt.preventDefault();
            }
        }

        function dobDots() {
            var dateBox = jQuery('#birthday');
            var chars = dateBox.val().length;
            var text = dateBox.val();

            if (chars == 2) {
                dateBox.val(text + ".");
            }
            if (chars == 5) {
                dateBox.val(text + ".");
            }
        }

        function checkDateFormat(value)
        {
            value = jQuery.trim(value).replace(/[^\d\.]/g, '');
            if (value.length < 0) {
                return false;
            }

            var val = value.split('.');
            if (val.length != 3) {
                return false;
            }

            if(val[2].toString().length < 4){
                return false;
            }

            // check if input birthday is future date
            var rightnow = new Date();
            var inputdate = new Date(val[2],val[1],val[0]);
            if (rightnow < inputdate) {
                return false;
            }

            return true;
        }

        function toggleLegacySearch() {
            jQuery('#legacy-search').prev().trigger('click');
        }

        function toggleAdvancedSearch() {
            // trigger toggle button
            jQuery('#advanced-search').prev().trigger('click');
            // remove validation classes left from legacy search
            CustomerFiltersSearch.resetFilters();
        }

        function toggleExactSearch() {
            jQuery('#exact-search').prev().trigger('click');
        }

        function toggleExactSearch() {
            jQuery('#exact-search').prev().trigger('click');
        }

    </script>
<?php else: ?>
    <?php echo $this->__('The agent doesn\'t have enough permissions to search customers'); ?>
<?php endif ?>
