<?php
/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper('dyna_checkout/fields');
$checkoutData->setOrderCheckoutData("save_customer", $this->getParentBlock()->getOrderPackageIds());

$isSohoCustomer = $checkoutData->getFieldValue('customer[type]') == 'Soho';
$packageType = $this->getParentBlock()->getPackageType();
?>
<div class="row"></div>
<div class="container-fluid">
    <div class="bs-docs-section margin-top-0 overview-block-section">
        <p id="billing_details" class="overview-font-header overview-title-font"><?php echo $this->__('Billing Details'); ?></p>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Invoice address')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <?php if ($checkoutData->getFieldValue('billing[other_address][selected]') == 2): ?>
                        <?php if($isSohoCustomer) {
                            echo '<p>' . $this->__('At another address') . '</p>';
                        }?>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                        <?php echo ' ' . $checkoutData->getFieldValue('billing[other_address][firstname]') . ' ' . $checkoutData->getFieldValue('billing[other_address][lastname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][street]') . ' ' . $checkoutData->getFieldValue('billing[other_address][houseno]') . ' ' .
                                $checkoutData->getFieldValue('billing[other_address][addition]'); ?>
                        <?php echo $checkoutData->getFieldValue('billing[other_address][postcode]') . ' ' . $checkoutData->getFieldValue('billing[other_address][city]'); ?></p>
                    <?php else: ?>
                        <?php if($isSohoCustomer) {
                            echo '<p>' . $this->__("At customer's address") . '</p>';
                        }?>
                        <p><?php echo $checkoutData->getFieldValue('customer[gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                        <?php echo ' ' . $checkoutData->getFieldValue('customer[prefix]'); ?>
                        <?php echo  ' ' . $checkoutData->getFieldValue('customer[firstname]')
                            . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                $checkoutData->getFieldValue('customer[address][addition]'); ?>
                        <?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <?php if ($isSohoCustomer && in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getMobilePackages())) : ?>
            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('By invoice')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <?php if (in_array($checkoutData->getFieldValue('billing[email_invoice]'), array(2, "on"))): ?>
                            <?php echo '<p>' . $this->__('Billing by e-mail') . '<p>'; ?>
                            <p><?php echo $checkoutData->getFieldValue('billing[email_address]'); ?></p>
                        <?php elseif ($checkoutData->getFieldValue('billing[post_invoice]') == 1) : ?>
                            <?php echo '<p>' . $this->__('Invoice by post') . '</p>'; ?>
                            <?php if ($checkoutData->getFieldValue('billing[other_address][selected]') == 2): ?>
                                <p><?php echo $checkoutData->getFieldValue('billing[other_address][firstname]') . ' ' . $checkoutData->getFieldValue('billing[other_address][lastname]'); ?></p>
                                <p><?php echo $checkoutData->getFieldValue('billing[other_address][street]') . ' ' . $checkoutData->getFieldValue('billing[other_address][houseno]') . ' ' .
                                        $checkoutData->getFieldValue('billing[other_address][addition]'); ?>
                                <?php echo $checkoutData->getFieldValue('billing[other_address][postcode]') . ' ' . $checkoutData->getFieldValue('billing[other_address][city]'); ?></p>
                            <?php else: ?>
                                <p><?php echo $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                                <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                        $checkoutData->getFieldValue('customer[address][addition]'); ?>
                                <?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        <?php else: ?>
            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Billing by e-mail')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p><?php echo in_array($checkoutData->getFieldValue('billing[email_invoice]'), array(2, "on")) ? $this->__('Yes') : $this->__('No'); ?></p>
                    </div>
                </div>
            </div>

            <?php if(in_array($checkoutData->getFieldValue('billing[email_invoice]'), array(2, "on"))): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('E-mail')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $checkoutData->getFieldValue('billing[email_address]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
