<?php
    /** @var Dyna_Checkout_Helper_Fields $checkoutData */
    $checkoutData = Mage::helper('dyna_checkout/fields');
    $checkoutData->setOrderCheckoutData("save_customer", $this->getParentBlock()->getOrderPackageIds());

    $isSohoCustomer = $checkoutData->getFieldValue('customer[type]') == 'Soho';
    $packageType = $this->getParentBlock()->getPackageType();

    $serviceAddress = $this->getParentBlock()->getPackageServiceAddress();
    $customerPhoneNumbers = $this->getParentBlock()->getCustomerPhoneNumbers();
?>
<div class="row"></div>
<div class="container-fluid">
<?php if ($isSohoCustomer && in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getMobilePackages())) : ?>
    <div class="bs-docs-section margin-top-0 overview-block-section">
        <p id="klantgegevens" class="overview-font-header overview-title-font"><?php echo $this->__('Customer details'); ?></p>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Customer Type')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[type]'); ?></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Customer Information')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                        <?php echo $checkoutData->getFieldValue('customer[prefix]'); ?>
                        <?php echo $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?>
                    </p>
                    <p><?php echo $checkoutData->getFieldValue('customer[dob]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[id_number]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[nationality]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[account_password]'); ?></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Address')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') ; ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]') ; ?></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Contact details')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[contact_details][email]'); ?></p>
                    <?php if (!empty($customerPhoneNumbers)): ?>
                        <?php foreach ($customerPhoneNumbers as $number): ?>
                            <p><?php echo $number['prefix'] . ' ' . $number['phone'] . ' ' . $this->__($number['type']); ?></p>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <!--    Billing details Start    -->
        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Billing Details')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <?php if ($checkoutData->getFieldValue('billing[other_address][selected]') == 2): ?>
                        <?php
                        if ($isSohoCustomer) {
                            echo '<p>' . $this->__('At another address') . '</p>';
                        }
                        ?>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                            <?php echo ' ' . $checkoutData->getFieldValue('billing[other_address][firstname]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][lastname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][postcode]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][city]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][street]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][houseno]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][addition]'); ?></p>
                    <?php else: ?>
                        <?php
                        if ($isSohoCustomer) {
                            echo '<p>' . $this->__("At customer's address") . '</p>';
                        }
                        ?>
                        <p><?php echo $checkoutData->getFieldValue('customer[gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                            <?php echo ' ' . $checkoutData->getFieldValue('customer[prefix]'); ?>
                            <?php echo  ' ' . $checkoutData->getFieldValue('customer[firstname]')
                                . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][street]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][houseno]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                    <?php endif; ?>

                    <?php if ($checkoutData->getFieldValue('billing[email_invoice]') == 2): ?>
                        <?php echo '<p>' . $this->__('Billing by e-mail') . '<p>'; ?>
                        <p><?php echo $checkoutData->getFieldValue('billing[email_address]'); ?></p>
                    <?php elseif ($checkoutData->getFieldValue('billing[post_invoice]') == 1) : ?>
                        <?php echo '<p>' . $this->__('Invoice by post') . '</p>'; ?>
                        <?php if ($checkoutData->getFieldValue('billing[other_address][selected]') == 2): ?>
                            <p><?php echo $checkoutData->getFieldValue('billing[other_address][firstname]') . ' ' . $checkoutData->getFieldValue('billing[other_address][lastname]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('billing[other_address][street]') . ' ' . $checkoutData->getFieldValue('billing[other_address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('billing[other_address][addition]'); ?>
                                <?php echo $checkoutData->getFieldValue('billing[other_address][postcode]') . ' ' . $checkoutData->getFieldValue('billing[other_address][city]'); ?></p>
                        <?php else: ?>
                            <p><?php echo $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('customer[address][addition]'); ?>
                                <?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <!--    Billing details End    -->

        <?php if ($checkoutData->getFieldValue('contact_person') == 'on'): ?>
            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Contact Person')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p><?php echo $checkoutData->getFieldValue('customer[contact_person_details][0][salutation]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); echo ' '; ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[contact_person_details][0][lastname]')
                                . ' ' . $checkoutData->getFieldValue('customer[contact_person_details][0][firstname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[contact_person_details][0][telephone_prefix]')
                                . ' ' . $checkoutData->getFieldValue('customer[contact_person_details][0][telephone]')
                                . ' ' . $checkoutData->getFieldValue('customer[contact_person_details][0][telephone_type]'); ?></p>
                    </div>
                </div>
            </div>
        <?php endif; ?>

        <?php if ($checkoutData->getFieldValue('order_status[email]') || $checkoutData->getFieldValue('order_status[telephone]')): ?>
            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Order status')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p><?php echo $checkoutData->getFieldValue('order_status[email]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('order_status[telephone]'); ?></p>
                    </div>
                </div>
            </div>
        <?php endif; ?>
    </div>
<?php elseif ($isSohoCustomer && in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getCablePackages())): ?>
    <div class="bs-docs-section margin-top-0 overview-block-section">
        <p id="klantgegevens" class="overview-font-header overview-title-font"><?php echo $this->__('Customer details'); ?></p>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Customer Type')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[type]'); ?></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Information about company')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[address][company_name]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]') ; ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' . $checkoutData->getFieldValue('customer[address][addition]') ; ?></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Contact Person')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[contact_person][first_name]')
                            . ' ' . $checkoutData->getFieldValue('customer[contact_person][last_name]'); ?></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Contact Details')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[account_password]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[contact_details][email]'); ?></p>
                    <?php if (!empty($customerPhoneNumbers)): ?>
                        <?php foreach ($customerPhoneNumbers as $number): ?>
                            <p><?php echo $number['prefix'] . ' ' . $number['phone'] . ' ' . $this->__($number['type']); ?></p>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <!--    Billing details Start    -->
        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Billing Details')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <?php if ($checkoutData->getFieldValue('billing[other_address][selected]') == 2): ?>
                        <?php
                        if ($isSohoCustomer) {
                            echo '<p>' . $this->__('At another address') . '</p>';
                        }
                        ?>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                            <?php echo ' ' . $checkoutData->getFieldValue('billing[other_address][firstname]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][lastname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][postcode]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][city]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][street]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][houseno]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][addition]'); ?></p>
                    <?php else: ?>
                        <?php
                        if ($isSohoCustomer) {
                            echo '<p>' . $this->__("At customer's address") . '</p>';
                        }
                        ?>
                        <p><?php echo $checkoutData->getFieldValue('customer[gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                            <?php echo ' ' . $checkoutData->getFieldValue('customer[prefix]'); ?>
                            <?php echo  ' ' . $checkoutData->getFieldValue('customer[firstname]')
                                . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][street]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][houseno]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                    <?php endif; ?>

                    <p>
                        <?php echo $this->__('Billing by e-mail'); ?>:
                        <?php echo $checkoutData->getFieldValue('billing[email_invoice]') == 2 ? $this->__('Yes') : $this->__('No'); ?>
                    </p>

                    <?php if($checkoutData->getFieldValue('billing[email_invoice]') == 2): ?>
                        <p>
                            <?php echo $this->__('E-mail'); ?>:
                            <?php echo $checkoutData->getFieldValue('billing[email_address]'); ?>
                        </p>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <!--    Billing details End    -->

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Service address')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $serviceAddress['postcode'] . ' ' . $serviceAddress['city']; ?></p>
                    <p><?php echo $serviceAddress['street'] . ' ' . $serviceAddress['houseno'] . ' ' . $serviceAddress['addition']; ?></p>
                </div>
            </div>
        </div>
    </div>
<?php elseif ($isSohoCustomer && in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getFixedPackages())): ?>
    <div class="bs-docs-section margin-top-0 overview-block-section">
        <p id="klantgegevens" class="overview-font-header overview-title-font"><?php echo $this->__('Customer details'); ?></p>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Customer Type')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[type]'); ?></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Commercial register entry available')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[business][commercial_register]') == 1 ? $this->__('No') : $this->__('Yes'); ?></p>
                </div>
            </div>
        </div>

        <?php if ($checkoutData->getFieldValue('customer[business][commercial_register]') == 1): ?>
        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Information about company')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getOrderRowFromArray($this->__('Company Name'), ['customer[address][company_name]', 'customer[address][company_additional_name]']) ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[address][commercial_register_type]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[address][company_registration_number]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[address][company_trade_location]'); ?></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Address')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]') ; ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                            $checkoutData->getFieldValue('customer[address][addition]') ; ?></p>
                </div>
            </div>
        </div>
        <?php else: ?>
            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Customer Information')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p><?php echo $checkoutData->getFieldValue('customer[gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                            <?php echo $checkoutData->getFieldValue('customer[prefix]'); ?>
                            <?php echo $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                        <p><?php echo $checkoutData->getOrderRow($this->__('Date of birth'), 'customer[dob]'); ?></p>
                        <p><?php echo $checkoutData->getOrderRow($this->__('ID card'), 'customer[id_number]'); ?></p>
                        <p><?php echo $checkoutData->getOrderRow($this->__('Nationality'), 'customer[nationality]'); ?></p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Address')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p><?php echo $checkoutData->getFieldValue('customer_soho[address][street]') . ' ' . $checkoutData->getFieldValue('customer_soho[address][houseno]') . ' ' .
                                $checkoutData->getFieldValue('customer_soho[address][addition]') ; ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer_soho[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer_soho[address][city]') ; ?></p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Information about company')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p><?php echo $checkoutData->getOrderRowFromArray($this->__('Company Name'), ['customer[address][company_name]', 'customer[address][company_additional_name]']) ?></p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Address')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                $checkoutData->getFieldValue('customer[address][addition]') ; ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]') ; ?></p>
                    </div>
                </div>
            </div>
        <?php endif; ?>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Contact Details')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[account_password]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[contact_details][email]'); ?></p>
                    <?php if (!empty($customerPhoneNumbers)): ?>
                        <?php foreach ($customerPhoneNumbers as $number): ?>
                            <p><?php echo $number['prefix'] . ' ' . $number['phone'] . ' ' . $this->__($number['type']); ?></p>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <!--    Billing details Start    -->
        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Billing Details')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <?php if ($checkoutData->getFieldValue('billing[other_address][selected]') == 2): ?>
                        <?php
                        if ($isSohoCustomer) {
                            echo '<p>' . $this->__('At another address') . '</p>';
                        }
                        ?>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                            <?php echo ' ' . $checkoutData->getFieldValue('billing[other_address][firstname]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][lastname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][postcode]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][city]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][street]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][houseno]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][addition]'); ?></p>
                    <?php else: ?>
                        <?php
                        if ($isSohoCustomer) {
                            echo '<p>' . $this->__("At customer's address") . '</p>';
                        }
                        ?>
                        <p><?php echo $checkoutData->getFieldValue('customer[gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                            <?php echo ' ' . $checkoutData->getFieldValue('customer[prefix]'); ?>
                            <?php echo  ' ' . $checkoutData->getFieldValue('customer[firstname]')
                                . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][street]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][houseno]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                    <?php endif; ?>

                    <p>
                        <?php echo $this->__('Billing by e-mail'); ?>:
                        <?php echo $checkoutData->getFieldValue('billing[email_invoice]') == 2 ? $this->__('Yes') : $this->__('No'); ?>
                    </p>

                    <?php if($checkoutData->getFieldValue('billing[email_invoice]') == 2): ?>
                        <p>
                            <?php echo $this->__('E-mail'); ?>:
                            <?php echo $checkoutData->getFieldValue('billing[email_address]'); ?>
                        </p>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <!--    Billing details End    -->

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Service address')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $serviceAddress['postcode'] . ' ' . $serviceAddress['city']; ?></p>
                    <p><?php echo $serviceAddress['street'] . ' ' . $serviceAddress['houseno'] . ' ' . $serviceAddress['addition']; ?></p>
                </div>
            </div>
        </div>
    </div>
<?php else: ?>
    <div class="bs-docs-section margin-top-0 overview-block-section">
        <p id="klantgegevens" class="overview-font-header overview-title-font"><?php echo $this->__('Customer details'); ?></p>
        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Customer information')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[type]'); ?></p>
                    <p>
                        <?php echo $checkoutData->getFieldValue('customer[gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                        <?php echo $checkoutData->getFieldValue('customer[prefix]'); ?>
                        <?php echo $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?>
                    </p>
                    <p><?php echo $checkoutData->getFieldValue('customer[dob]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[id_number]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[nationality]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[account_password]'); ?></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Address')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]') ; ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                            $checkoutData->getFieldValue('customer[address][addition]') ; ?></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Contact details')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('customer[contact_details][email]'); ?></p>
                    <?php if (!empty($customerPhoneNumbers)): ?>
                        <?php foreach ($customerPhoneNumbers as $number): ?>
                            <p><?php echo $number['prefix'] . ' ' . $number['phone'] . ' ' . $this->__($number['type']); ?></p>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <!--    Billing details Start    -->
        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Billing Details')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <?php if ($checkoutData->getFieldValue('billing[other_address][selected]') == 2): ?>
                        <?php
                            if ($isSohoCustomer) {
                                echo '<p>' . $this->__('At another address') . '</p>';
                            }
                        ?>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                            <?php echo ' ' . $checkoutData->getFieldValue('billing[other_address][firstname]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][lastname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][postcode]')
                            . ' ' . $checkoutData->getFieldValue('billing[other_address][city]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('billing[other_address][street]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][houseno]')
                                . ' ' . $checkoutData->getFieldValue('billing[other_address][addition]'); ?></p>
                    <?php else: ?>
                        <?php
                            if ($isSohoCustomer) {
                                echo '<p>' . $this->__("At customer's address") . '</p>';
                            }
                        ?>
                        <p><?php echo $checkoutData->getFieldValue('customer[gender]') == 1 ? $this->__('Mr.') : $this->__('Mrs.'); ?>
                            <?php echo ' ' . $checkoutData->getFieldValue('customer[prefix]'); ?>
                            <?php echo  ' ' . $checkoutData->getFieldValue('customer[firstname]')
                                . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]')
                            . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][street]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][houseno]')
                                . ' ' . $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                    <?php endif; ?>

                    <p>
                        <?php echo $this->__('Billing by e-mail'); ?>:
                        <?php echo $checkoutData->getFieldValue('billing[email_invoice]') == 2 ? $this->__('Yes') : $this->__('No'); ?>
                    </p>

                    <?php if($checkoutData->getFieldValue('billing[email_invoice]') == 2): ?>
                        <p>
                            <?php echo $this->__('E-mail'); ?>:
                            <?php echo $checkoutData->getFieldValue('billing[email_address]'); ?>
                        </p>
                    <?php endif; ?>

                </div>
            </div>
        </div>
        <!--    Billing details End    -->

        <?php if ($checkoutData->getFieldValue('contact_person') == 'on'): ?>
        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Contact Person')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php
                        echo $checkoutData->getFieldValue('customer[contact_person_details][0][salutation]') == 1 ? $this->__('Mr.') : $this->__('Mrs.');
                        echo ' ' . $checkoutData->getFieldValue('customer[contact_person_details][0][firstname]')
                            . ' ' . $checkoutData->getFieldValue('customer[contact_person_details][0][lastname]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('customer[contact_person_details][0][telephone_prefix]')
                            . ' ' . $checkoutData->getFieldValue('customer[contact_person_details][0][telephone]'); ?></p>
                </div>
            </div>
        </div>
        <?php endif; ?>

        <?php if ($checkoutData->getFieldValue('order_status[email]') || $checkoutData->getFieldValue('order_status[telephone]')): ?>
        <div class="col-md-12 overview-plan-section">
            <div class="col-md-12 overview-block-title overview-title-font fs-11">
                <?php echo strtoupper($this->__('Order status')); ?>
            </div>
        </div>
        <div class="overview-plan-details products-overview col-md-12">
            <div class="row">
                <div class="col-md-12 order-details-section">
                    <p><?php echo $checkoutData->getFieldValue('order_status[email]'); ?></p>
                    <p><?php echo $checkoutData->getFieldValue('order_status[telephone]'); ?></p>
                </div>
            </div>
        </div>
        <?php endif; ?>
    </div>
<?php endif; ?>
</div>
