<?php
/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper('dyna_checkout/fields');
$packageIds = $this->getParentBlock()->getOrderPackageIds();
$checkoutData->setOrderCheckoutData("save_delivery", $packageIds);

$isSohoCustomer = $checkoutData->getFieldValue('customer[type]') == 'Soho';
$packageType = $this->getParentBlock()->getPackageType();

?>
<div class="row"></div>
<div class="container-fluid">
    <div class="bs-docs-section margin-top-0 overview-block-section">
        <p id="delivery_details" class="overview-font-header overview-title-font"><?php echo $this->__('Delivery address'); ?></p>

        <?php if (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getMobilePackages())): ?>
            <?php if ($checkoutData->getFieldValue('delivery[method]') == 'deliver'): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Deliver to')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <?php $checkoutData->setOrderCheckoutData('save_customer', $packageIds); ?>
                            <p><?php echo $this->__("Specified address"); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_delivery', $packageIds); ?>
                        </div>
                    </div>
                </div>
            <?php elseif ($checkoutData->getFieldValue('delivery[method]') == 'other_address'): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Deliver to')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <?php
                            $salutation = $checkoutData->getFieldValue('delivery[other_address][gender]');
                            if ($salutation == 3) {
                                $contactDetails = 'Firma ' . $checkoutData->getFieldValue('delivery[other_address][company_name]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][co_name]');
                            } else {
                                $contactDetails = $salutation == 1 ? $this->__('Mr.') : $this->__('Mrs.');
                                $contactDetails = $contactDetails . ' ' . $checkoutData->getFieldValue('delivery[other_address][prefix]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][firstname]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][lastname]');
                            }
                            ?>
                            <p><?php echo $this->__("Other address"); ?></p>
                            <p><?php echo $contactDetails; ?></p>
                            <p><?php echo $checkoutData->getFieldValue('delivery[other_address][street]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('delivery[other_address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('delivery[other_address][postcode]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][city]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php else: ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Deliver to')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $this->__("A Vodafone Shop"); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('delivery[pickup_address][shopName1]')
                                . ' ' . $checkoutData->getFieldValue('delivery[pickup_address][shopName2]')
                                . ' ' . $checkoutData->getFieldValue('delivery[pickup_address][shopName3]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('delivery[pickup_address][street]')
                                . ' ' . $checkoutData->getFieldValue('delivery[pickup_address][houseno]')
                                . ' ' . $checkoutData->getFieldValue('delivery[pickup_address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('delivery[pickup_address][postcode]')
                                . ' ' . $checkoutData->getFieldValue('delivery[pickup_address][city]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Same day delivery')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p><?php echo $checkoutData->getFieldValue('delivery[same_day]') == 1 ? $this->__('Yes') : $this->__('No'); ?></p>
                    </div>
                </div>
            </div>
        <?php elseif (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getCablePackages())): ?>
            <?php if ($checkoutData->getFieldValue('delivery[method]') == 'deliver'): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Deliver to')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <?php $checkoutData->setOrderCheckoutData('save_customer', $packageIds); ?>
                            <p><?php echo $this->__('Specified address'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_delivery', $packageIds); ?>
                        </div>
                    </div>
                </div>
            <?php else: ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Deliver to')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <?php
                            $salutation = $checkoutData->getFieldValue('delivery[other_address][gender]');
                            if ($salutation == 3) {
                                $contactDetails = 'Firma ' . $checkoutData->getFieldValue('delivery[other_address][company_name]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][co_name]');
                            } else {
                                $contactDetails = $salutation == 1 ? $this->__('Mr.') : $this->__('Mrs.');
                                $contactDetails = $contactDetails . ' ' . $checkoutData->getFieldValue('delivery[other_address][prefix]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][firstname]') . ' ' .
                                    $checkoutData->getFieldValue('delivery[other_address][lastname]');
                            }
                            ?>
                            <p><?php echo $this->__("Other address"); ?></p>
                            <p><?php echo $contactDetails; ?></p>
                                <p><?php echo $checkoutData->getFieldValue('delivery[other_address][street]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][houseno]') . ' ' .
                                        $checkoutData->getFieldValue('delivery[other_address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('delivery[other_address][postcode]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][city]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>


            <?php if ($checkoutData->getFieldValue('delivery[date_choice]') == 1): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Delivery date')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $this->__('No preference'); ?></p>
                        </div>
                    </div>
                </div>
            <?php else: ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Delivery date')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $checkoutData->getFieldValue('delivery[date]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($this->getParentBlock()->hasInstallationServiceProduct()): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Installation service')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $checkoutData->getFieldValue('delivery[install_service]') == 'on' ? $this->__('Yes') : $this->__('No'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php else: ?>
            <?php if ($checkoutData->getFieldValue('delivery[method]') == 'deliver'): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Deliver to')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <?php $checkoutData->setOrderCheckoutData('save_customer', $packageIds); ?>
                            <p><?php echo $this->__('Specified address'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_delivery', $packageIds); ?>
                        </div>
                    </div>
                </div>


            <?php else: ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Deliver to')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <?php
                            $salutation = $checkoutData->getFieldValue('delivery[other_address][gender]');
                            if ($salutation == 3) {
                                $contactDetails = 'Firma ' . $checkoutData->getFieldValue('delivery[other_address][company_name]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][co_name]');
                            } else {
                                $contactDetails = $salutation == 1 ? $this->__('Mr.') : $this->__('Mrs.');
                                $contactDetails = $contactDetails . ' ' . $checkoutData->getFieldValue('delivery[other_address][prefix]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][firstname]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][lastname]');
                            }
                            ?>
                            <p><?php echo $this->__("Other address"); ?></p>
                            <p><?php echo $contactDetails; ?></p>
                            <p><?php echo $checkoutData->getFieldValue('delivery[other_address][street]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('delivery[other_address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('delivery[other_address][postcode]') . ' ' . $checkoutData->getFieldValue('delivery[other_address][city]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
