<?php
/** @var $this Mage_Core_Block_Template */
/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper('dyna_checkout/fields');
$packageIds = $this->getParentBlock()->getOrderPackageIds();
$checkoutData->setOrderCheckoutData("save_other", $packageIds);

$isSohoCustomer = $checkoutData->getFieldValue('customer[type]') == 'Soho';
$packageType = $this->getParentBlock()->getPackageType();
$packageId = $this->getParentBlock()->getOrderPackageId();

$hasStudentDiscount = $this->getParentBlock()->hasStudentDiscount();
$hasYoungDiscount = $this->getParentBlock()->hasYoungDiscount();
$hasDisabledDiscount = $this->getParentBlock()->hasDisabledDiscount();

$directoryEntries = $this->getParentBlock()->getDirectoryEntries($packageId,$packageType);

?>
<div class="row"></div>
<div class="container-fluid">
    <div class="bs-docs-section margin-top-0 overview-block-section">
        <p id="other_details" class="overview-font-header overview-title-font"><?php echo $this->__('Other'); ?></p>
        <?php if (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getMobilePackages())): ?>
            <?php if ($hasStudentDiscount || $hasYoungDiscount || $hasDisabledDiscount): ?>
                <div class="col-md-12 overview-plan-section overview-sub-header">
                    <?php echo $this->__('Deals'); ?>
                </div>
                <?php if ($hasStudentDiscount): ?>
                    <div class="col-md-12 overview-plan-section">
                        <div class="col-md-12 overview-block-title overview-title-font fs-11">
                            <?php echo strtoupper($this->__('Deals')); ?>
                        </div>
                    </div>
                    <div class="overview-plan-details products-overview col-md-12">
                        <div class="row">
                            <div class="col-md-12 order-details-section">
                                <p><?php echo $this->__('Student'); ?></p>
                                <p><?php echo $checkoutData->getFieldValue('other[student][matriculation_nr]'); ?></p>
                                <p><?php echo $checkoutData->getFieldValue('other[student][institution_location]'); ?></p>
                            </div>
                        </div>
                    </div>
                <?php elseif ($hasYoungDiscount): ?>
                    <div class="col-md-12 overview-plan-section">
                        <div class="col-md-12 overview-block-title overview-title-font fs-11">
                            <?php echo strtoupper($this->__('Deals')); ?>
                        </div>
                    </div>
                    <div class="overview-plan-details products-overview col-md-12">
                        <div class="row">
                            <div class="col-md-12 order-details-section">
                                <p><?php echo $this->__('Young People'); ?></p>
                                <p><?php
                                $checkoutData->setOrderCheckoutData("save_customer", $packageIds);
                                echo $checkoutData->getFieldValue('customer[dob]');
                                $checkoutData->setOrderCheckoutData("save_other", $packageIds);
                                ?></p>
                            </div>
                        </div>
                    </div>
                <?php elseif ($hasDisabledDiscount): ?>
                    <div class="col-md-12 overview-plan-section">
                        <div class="col-md-12 overview-block-title overview-title-font fs-11">
                            <?php echo strtoupper($this->__('Deals')); ?>
                        </div>
                    </div>
                    <div class="overview-plan-details products-overview col-md-12">
                        <div class="row">
                            <div class="col-md-12 order-details-section">
                                <p><?php echo $this->__('Disabled access'); ?></p>
                                <p><?php echo $checkoutData->getFieldValue('other[disabled][disabled_id]'); ?></p>
                                <p><?php echo $checkoutData->getFieldValue('other[disabled][disabled_degree]'); ?></p>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endif;?>

            <div class="col-md-12 overview-plan-section overview-sub-header">
                <?php echo $this->__('Phone book entries'); ?>
            </div>

            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Phone book entries')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p>
                            <?php
                            switch ($checkoutData->getFieldValue('other[phonebook_choice]['.$packageId.']['.$packageType.']')) {
                                case 0:
                                    echo $this->__('Standard');
                                    break;
                                case 1:
                                    echo $this->__('None');
                                    break;
                                case 2:
                                    echo $this->__('Extended');
                                    break;
                            }
                            ?>
                        </p>
                        <?php if ($checkoutData->getFieldValue('other[phonebook_choice]['.$packageId.']['.$packageType.']') == 2): ?>
                            <p>
                                <?php echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][firstname]')
                                    . ' ' . $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][lastname]')
                                    . ' ' . $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][prefix]'); ?>
                            </p>
                            <p>
                                <?php echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][profession]')
                                    . ' ' . $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][keyword]'); ?>
                            </p>
                            <p>
                                <div class="col-md-3">
                                    <?php echo $this->__('Contrary to the inverse search in telephone directories') . ': '; ?>
                                </div>
                                <div class="col-md-9">
                                    <?php echo $checkoutData->getFieldValue('other[extended]['.$this->getParentBlock()->getOrderPackageId().'][not_inverse_search]') == 'on' ? $this->__('Yes') : $this->__('No'); ?>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-3">
                                    <?php echo $this->__('Publish address') . ': '; ?>
                                </div>
                                <div class="col-md-9">
                                    <?php echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][publish_address]') == 'on' ? $this->__('Yes') : $this->__('No'); ?>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-3">
                                    <?php echo $this->__('Entry in the directories') . ': '; ?>
                                </div>
                                <div class="col-md-9">
                                    <?php echo $directoryEntries; ?>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-3">
                                    <?php echo $this->__('Information exchange'). ': '; ?>
                                </div>
                                <div class="col-md-9">
                                    <?php
                                    switch ($checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][information_exchange]')) {
                                        case 0:
                                            echo $this->__('Everything');
                                            break;
                                        case 1:
                                            echo $this->__('Information on the phone number');
                                            break;
                                        case 2:
                                            echo $this->__('No Information');
                                            break;
                                    }
                                    ?>
                                </div>
                            </p>
                        <?php endif; ?>
                    </div>
                </div>
            </div>

            <div class="col-md-12 overview-plan-section overview-sub-header">
                <?php echo $this->__('Single connection detection'); ?>
            </div>

            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Single connection detection')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p>
                            <?php
                            switch ($checkoutData->getFieldValue('other[single_connection][' . $packageType . ']')) {
                                case 1:
                                    echo $this->__('No connection');
                                    break;
                                case 2:
                                    echo $this->__('Mini with full destination number (free of charge)');
                                    break;
                                case 3:
                                    echo $this->__('Mini with shortened destination number (free of charge)');
                                    break;
                            }
                            ?>
                        </p>
                    </div>
                </div>
            </div>

            <?php if (!empty($checkoutData->getFieldValue('other[remarks][content]'))): ?>
                <div class="col-md-12 overview-plan-section overview-sub-header">
                    <?php echo $this->__('Remarks'); ?>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Remarks')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $checkoutData->getFieldValue('other[remarks][content]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php elseif (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getCablePackages())): ?>
            <?php if ($checkoutData->getFieldValue('other[phonebook_choice]['.$packageId.']['.$packageType.']') !== false): ?>
                <div class="col-md-12 overview-plan-section overview-sub-header">
                    <?php echo $this->__('Phone book entries'); ?>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Phone book entries')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php
                                switch ($checkoutData->getFieldValue('other[phonebook_choice]['.$packageId.']['.$packageType.']')) {
                                    case 0:
                                        echo $this->__('Standard');
                                        break;
                                    case 1:
                                        echo $this->__('None');
                                        break;
                                    case 2:
                                        echo $this->__('Extended');
                                        break;
                                }
                                ?>
                            </p>
                            <?php if ($checkoutData->getFieldValue('other[phonebook_choice]['.$packageId.']['.$packageType.']') == 2): ?>
                                <p>
                                    <?php echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][phone_entries][0][prefix]')
                                    . ' ' . $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][phone_entries][0][telephone_no]')
                                    . ' ' . $this->__($checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][phone_entries][0][type]'));?>
                                </p>
                                <p>
                                    <div class="col-md-3">
                                        <?php echo $this->__('Contrary to the inverse search in telephone directories') . ': '; ?>
                                    </div>
                                    <div class="col-md-9">
                                        <?php echo $checkoutData->getFieldValue('other[extended]['.$this->getParentBlock()->getOrderPackageId().'][not_inverse_search]') == 'on' ? $this->__('Yes') : $this->__('No'); ?>
                                    </div>
                                </p>
                                <p>
                                    <div class="col-md-3">
                                        <?php echo $this->__('Enter Abbreviated Name') . ': '; ?>
                                    </div>
                                    <div class="col-md-9">
                                        <?php echo $checkoutData->getFieldValue('other[extended]['.$packageId.'][abreviated_name]') == 'on' ? $this->__('Yes') : $this->__('No'); ?>
                                    </div>
                                </p>
                                <p>
                                    <div class="col-md-3">
                                        <?php echo $this->__('Publish address') . ': '; ?>
                                    </div>
                                    <div class="col-md-9">
                                        <?php echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][publish_address]') == 'on' ? $this->__('Yes') : $this->__('No'); ?>
                                    </div>
                                </p>
                                <p>
                                    <div class="col-md-3">
                                        <?php echo $this->__('Entry in the directories') . ': '; ?>
                                    </div>
                                    <div class="col-md-9">
                                        <?php echo $directoryEntries; ?>
                                    </div>
                                </p>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($checkoutData->getFieldValue('other[single_connection][' . $packageType . ']') !== false): ?>
                <div class="col-md-12 overview-plan-section overview-sub-header">
                    <?php echo $this->__('Detailed billing'); ?>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Detailed billing')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php
                                switch ($checkoutData->getFieldValue('other[single_connection][' . $packageType . ']')) {
                                    case 1:
                                        echo $this->__('None');
                                        break;
                                    case 2:
                                        echo $this->__('Full');
                                        break;
                                    case 3:
                                        echo $this->__('Shortened');
                                        break;
                                }
                                ?>
                            </p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($checkoutData->getFieldValue('other[connection_data]') !== false): ?>
                <div class="col-md-12 overview-plan-section overview-sub-header">
                    <?php echo $this->__('Connection data'); ?>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Connection data')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php echo $checkoutData->getFieldValue('other[connection_data]') == 1 ? $this->__('Save (legal limit)') : $this->__('Clear after accounting'); ?>
                            </p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($checkoutData->getFieldValue('provider[connection_active]') !== false): ?>
                <div class="col-md-12 overview-plan-section overview-sub-header">
                    <?php echo $this->__('Connection ready'); ?>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Connection (WE) is already ready / active')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php echo $checkoutData->getFieldValue('provider[connection_active]') == 1 ? $this->__('Yes') : $this->__('No'); ?>
                            </p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if (!empty($checkoutData->getFieldValue('other[remarks][content]'))): ?>
                <div class="col-md-12 overview-plan-section overview-sub-header">
                    <?php echo $this->__('Remarks'); ?>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Remarks')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php echo $checkoutData->getFieldValue('other[remarks][content]'); ?>
                            </p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php elseif (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getFixedPackages())): ?>
            <div class="col-md-12 overview-plan-section overview-sub-header">
                <?php echo $this->__('Phone book entries'); ?>
            </div>

            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Phone book entries')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p>
                            <?php
                            switch ($checkoutData->getFieldValue('other[phonebook_choice]['.$packageId.']['.$packageType.']')) {
                                case 0:
                                    echo $this->__('Standard');
                                    break;
                                case 1:
                                    echo $this->__('None');
                                    break;
                                case 2:
                                    echo $this->__('Extended');
                                    break;
                            }
                            ?>
                        </p>
                        <?php if ($checkoutData->getFieldValue('other[phonebook_choice]['.$packageId.']['.$packageType.']') == 2): ?>
                            <p>
                                <?php for ($phoneEntryCounter = 0; $phoneEntryCounter < 3; $phoneEntryCounter++) {
                                echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][phone_entries][' . $phoneEntryCounter .  '][prefix]')
                                    . ' ' . $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][phone_entries][' . $phoneEntryCounter .  '][telephone_no]')
                                    . ' ' . $this->__($checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][phone_entries][' . $phoneEntryCounter .  '][type]'));
                                echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][phone_entries][' . $phoneEntryCounter .  '][prefix]') ? '<br/>' : '';
                                } ?>
                            </p>
                            <p>
                                <?php echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][firstname]')
                                . ' ' . $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][lastname]')
                                . ' ' . $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][prefix]'); ?>
                            </p>
                            <p>
                                <?php echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][co_users][firstname]')
                                . ' ' . $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][co_users][lastname]'); ?>
                            </p>
                            <p>
                                <?php echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][profession]')
                                . ' ' . $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][keyword]'); ?>
                            </p>
                            <br/>
                            <p>
                                <div class="col-md-3">
                                    <?php echo $this->__('Contrary to the inverse search in telephone directories') . ': '; ?>
                                </div>
                                <div class="col-md-9">
                                    <?php echo $checkoutData->getFieldValue('other[extended]['.$this->getParentBlock()->getOrderPackageId().'][not_inverse_search]') == 'on' ? $this->__('Yes') : $this->__('No'); ?>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-3">
                                    <?php echo $this->__('Publish address') . ': '; ?>
                                </div>
                                <div class="col-md-9">
                                    <?php echo $checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][publish_address]') == 'on' ? $this->__('Yes') : $this->__('No'); ?>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-3">
                                    <?php echo $this->__('Entry in the directories') . ': '; ?>
                                </div>
                                <div class="col-md-9">
                                    <?php echo $directoryEntries; ?>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-3">
                                    <?php echo $this->__('Information exchange'). ': '; ?>
                                </div>
                                <div class="col-md-9">
                                    <?php
                                    switch ($checkoutData->getFieldValue('other[extended]['.$packageId.']['.$packageType.'][information_exchange]')) {
                                        case 0:
                                            echo $this->__('Everything');
                                            break;
                                        case 1:
                                            echo $this->__('Information on the phone number');
                                            break;
                                        case 2:
                                            echo $this->__('No Information');
                                            break;
                                    }
                                    ?>
                                </div>
                            </p>
                        <?php endif; ?>
                    </div>
                </div>
            </div>

            <?php if (!empty($checkoutData->getFieldValue('other[remarks][content]'))): ?>
                <div class="col-md-12 overview-plan-section overview-sub-header">
                    <?php echo $this->__('Remarks'); ?>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Remarks')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php echo $checkoutData->getFieldValue('other[remarks][content]'); ?>
                            </p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
