<?php  /** @var Vznl_Checkout_Block_Pdf_Contract $this */ ?>
<style type="text/css">
    @font-face {
        font-family: VodafoneRg;
        src: url(<?=MAGENTO_ROOT?>/skin/frontend/vznl/default/fonts/VodafoneRg.ttf);
    }

    .new-page {
        page-break-before: always;
    }
</style>
<div class="container">
    <div class="new-page">
        <?php
        foreach($this->getOrder()->getPackageIds() as $packageId) {
            /** @var Dyna_Package_Model_Package $package */
            $package = $this->getOrder()->getPackages($packageId);
        }
        echo Mage::app()->getLayout()
            ->createBlock('vznl_checkout/pdf_contract')
            ->setTemplate('checkout/cart/pdf/contract/fixed/details.phtml')
            ->init($this->getOrder())
            ->setPackage($package)
            ->toHtml();
        ?>
    </div>
    <div class="new-page">
        <?php

        foreach($this->getOrder()->getPackageIds() as $packageId) {
            /** @var Dyna_Package_Model_Package $package */
            $package = $this->getOrder()->getPackages($packageId);
            if ($package->isFixed()) {
                echo Mage::app()->getLayout()
                    ->createBlock('vznl_checkout/pdf_contract')
                    ->setTemplate('checkout/cart/pdf/contract/fixed/fixed.phtml')
                    ->init($this->getOrder())
                    ->setPackage($package)
                    ->toHtml();
            }
        }
        ?>
    </div>
    <div class="new-page">
        <?php
        echo Mage::app()->getLayout()
            ->createBlock('vznl_checkout/pdf_contract')
            ->setTemplate('checkout/cart/pdf/contract/fixed/terms.phtml')
            ->init($this->getOrder())
            ->toHtml();
        echo Mage::app()->getLayout()
            ->createBlock('vznl_checkout/pdf_contract')
            ->setTemplate('checkout/cart/pdf/contract/fixed/terms-authorize.phtml')
            ->init($this->getOrder())
            ->toHtml();
        ?>
    </div>
</div>