<?php
$inlifeOrders = [];
$customerSession = Mage::getSingleton('customer/session');
/** @var Vznl_Customer_Helper_Data $customerHelper */
$customerHelper = Mage::helper('vznl_customer');
$section = $this->getSection();
if(!$customerSession->getProspect()) {
    $ctns = $this->getCustomer()->getData('ctn');
    $orders = Mage::getModel('superorder/superorder')->getCollectionForCustomer();
    $carts = $this->getCustomer()->getShoppingCarts(true);
    if ($this->getCustomer()->getCustomerLabel() === Vznl_Customer_Model_Customer_Customer::LABEL_UNIFY) {
        $key = sprintf('%s_%s_%s', session_id(), $this->getCustomer()->getBan(), 'inlife_orders');
        if ($inlifeOrders = Mage::app()->getCache()->load($key)) {
            $inlifeOrders = unserialize($inlifeOrders);
        }
    }
    $customer = Mage::getSingleton('dyna_customer/session')->getCustomer();
    $customerNumber = $customer->getCustomerNumber();
    $customerProducts = Mage::helper('dyna_customer/panel')->getCustomerProducts();
    $customerCTNs = $customerProducts[Vznl_Customer_Helper_Services::ACCOUNT_CATEGORY_BSL][$customerNumber]['contracts'];
    $ctnsList= array();
    foreach ($customerCTNs as $ctn) {
        foreach ($ctn['subscriptions'] as $subscriptions) {
            $ctnsList[] = $subscriptions['ctn'];
        }
    }
} else {
    $mediaUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
    $carts = $this->getCustomer()->getShoppingCarts(true);
}
?>
<div class="inner clearer white">
    <div class="tab-content">
        <?php switch ($section) :
            case "carts-content" :?>
                <div class="tab-pane top_menu_content active" id="carts-content">
                    <h3 class="tab-title"><?php echo $customerHelper->__('Carts'); ?></h3>
                    <div id="cart-overview">
                        <!-- Filled with ajax -->
                    </div>
                </div>
            <?php break; ?>
            <?php case "orders-content" : ?>
                <div class="tab-pane top_menu_content" id="orders-content">
                    <div class="row tab-title">
                        <h3 class="col-xs-12"><?php echo $this->__('Orders'); ?></h3>
                    </div>
                    <div id="orders-overview">
                    <h4><?php echo $customerHelper->__('Overview'); ?></h4>
                    <?php
                    $ordersCount = empty($orders) ? 0 : count($orders);
                    $ilsOrdersCount = empty($inlifeOrders) ? 0 : count($inlifeOrders);
                    if ($ordersCount > 0 || $ilsOrdersCount > 0): ?>
                        <ul class="order_list">
                            <li class="arrow_desc" onclick="sortOrderList('date', this)"><?php echo $this->__('Date'); ?></li>
                            <li class="arrow_desc" onclick="sortOrderList('nr', this)"><?php echo $this->__('Order nr.'); ?></li>
                            <li class="arrow_desc" onclick="sortOrderList('status', this)"><?php echo $this->__('Status'); ?></li>
                        </ul>
                        <div class="order_overview" id="order_overview_list">
                            <?php $counter = 0; foreach($orders as $order): $counter++;?>
                                <ul onclick="loadSuperOrder(<?php echo $order->getOrderNumber(); ?>);" class="clearfix" style="<?php echo (isset($inlifeOrders) && $counter == $ordersCount) ? 'border-bottom:none;' : '' ?>">
                                    <li><?php echo date('d-m-Y', strtotime($order->getCreatedAt())); ?></li>
                                    <li><?php echo $order->getOrderNumber(); ?></li>
                                    <li><?php echo $order->getOrderStatus(); ?></li>
                                </ul>
                            <?php endforeach; ?>
                            <div id="inlife-orders">
                                <?php echo isset($inlifeOrders) ? Mage::getBlockSingleton('page/html')->setInlifeOrders($inlifeOrders)->setTemplate('configurator/inlife/orders_list.phtml')->toHtml() : ''; ?>
                            </div>
                        </div>
                    <?php else: ?>
                        <p><?php echo $this->__('Customer has no orders'); ?></p>
                    <?php endif; ?>
                    </div>
                    <div id="open-order">

                    </div>
                </div>
            <?php break; ?>
            <?php case "products-content" : ?>
                <div class="tab-pane top_menu_content active" id="products-content">
            <?php
                $ctnArr = array();
                $canCreatePackages = Mage::getSingleton('customer/session')->getAgent(true)->isGranted('CREATE_PACKAGE');
                if (isset($ctns)) {
                    foreach ($ctns->getItems() as $ctn) {
                        // Fix for I-155640 - Email address contains wrong data and is not used in the frontend
                        $ctn->setEmail('');
                        array_push($ctnArr, $ctn->toArray());
                    }
                }
            ?>
            <script type="text/javascript">
                //make the filtering work on the formatted phone numbers
                var dataCTNDocuments = jQuery('.customer_ctn_search').attr('data-documents');
                if(dataCTNDocuments) {
                    var arrayElements = [];
                    jQuery.each(JSON.parse(dataCTNDocuments), function(index, elem) {
                        elem.ctn = customer.formatPhoneNumber(elem.ctn);
                        elem.raw_ctn = elem.ctn.replace(/ /g, '');
                        arrayElements.push(elem);
                    });
                    jQuery('.customer_ctn_search').attr('data-documents', JSON.stringify(arrayElements));
                }
            </script>
            <div class="row tab-title">
                <h3 class="col-xs-12"><?php echo $this->__('Products of'); ?> <?php echo sprintf('%s %s', $this->__($this->getCustomer()->getPrefix()), $this->getCustomer()->getLastname()) ?></h3>
            </div>
            <div class="row hidden" id="profile_credit_status">
                <span class="error col-xs-12" id="profile_credit_status_text"></span>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" name="customer_ctn_search" class="customer_ctn_search form-control" data-search-on-type="true" data-document-id="entity_id" data-search-fields="ctn,raw_ctn" data-callback="customer.filterCtn" data-documents='<?php echo htmlentities(json_encode($ctnArr)) ?>' placeholder="<?php echo $this->__('Filter on phone number'); ?>"/>
                    <a href="javascript:void(0)" class="search_ctn hide" onclick="customer.searchCustomerCtn()"></a>
                </div>
                <?php if(!Mage::helper('dyna_service')->isOverride() && !$this->getCustomer()->isInMigration()):?>
                <div class="col-xs-6">
                    <button class="refresh show_retainable btn btn-default" href="javascript:void(0)" onclick="customer.showOnlyRetainable(this)">
                        <?php echo $customerHelper->__('Show retainable'); ?>
                    </button>
                    <?php if (isset($ctns) && count($ctns)): ?>
                        <input class="btn btn-primary" id="one-off-deal" type="button" value="<?php echo $this->__('One off Deal'); ?>" disabled="disabled"/>
                    <?php endif; ?>
                </div>
                <?php endif;?>
            </div>
            <div class="row relative">
                <p id="no_retainable_msg"><!--filled with js--></p>
                <div id="list_ctns">
                    <h4 class="ctn-result-amount row">
                        <span class="amount-of-ctns"><?php echo count($ctnArr) ?></span> <?php if(count($ctnArr) > 1){ echo $this->__('results'); }else{ echo $this->__('result'); } ?>
                    </h4>
                    <ul class="ctn_list row">
                        <li class="col-xs-1 hide">
                            <div id="select_only_retainable">
                                <label for="only_retainable_check" id="only_retainable_check_label">
                                    <input type="checkbox" id="only_retainable_check" disabled="disabled" onclick="customer.selectOnlyRetainable(this.checked)"/>
                                </label>
                            </div>
                        </li>
                        <li class="col-xs-4 arrow_desc" onclick="sortCtnList('nr', this);"><?php echo $this->__('Phone number'); ?></li>
                        <li class="col-xs-3 arrow_desc" onclick="sortCtnList('date', this)"><?php echo $this->__('End date'); ?></li>
                        <li class="col-xs-2">&nbsp;</li>
                        <li class="col-xs-1">&nbsp;</li>
                        <li class="col-xs-1">&nbsp;</li>
                    </ul>
                    <?php if(Mage::helper('dyna_service')->isOverride()):?>
                        <style scoped="scoped" type="text/css">
                            .retainable { display: block;}
                        </style>
                    <?php endif;?>
                    <div class="ctn_overview">
                        <?php
                        if (isset($ctns)) :
                            foreach($ctns as $ctn): ?>
                                <ul class="clearfix ctn_record row" data-id="<?php echo $ctn->getId(); ?>" data-ctn="<?php echo Mage::helper('dyna_checkout')->formatCtn($ctn->getCtn()); ?>" data-rawctn="<?php echo $ctn->getCtn(); ?>">
                                    <li class="col-xs-1 hide">
                                        <input type="checkbox" disabled="disabled" id="ctn_checkbox_<?php echo $ctn->getId(); ?>"
                                               class="ctn_checkbox" value="<?php echo $ctn->getId(); ?>" name="ctn[]"
                                               onchange="checkCanAddToCart(this)" data-ctn="<?php echo $ctn->getCtn(); ?>" />
                                    </li>
                                    <li class="col-xs-4">
                                        <p for="ctn_checkbox_<?php echo $ctn->getId(); ?>" data-format="phonenumber" class="retainable-number"><?php echo Mage::helper('dyna_checkout')->formatCtn($ctn->getCtn()); ?></p>
                                    </li>
                                    <?php
                                    $ctnAdditional = $ctn->getAdditional();
                                    $ctnProducts = isset($ctnAdditional['products']) ? $ctnAdditional['products'] : [];
                                    $ctnProductsFlat = '';
                                    if (!empty($ctnProducts)) {
                                        if (isset($ctnProducts['name'])) {
                                            // only one item
                                            $ctnProducts = array($ctnProducts);
                                        }
                                        foreach ($ctnProducts as $ctnProduct) {
                                            $ctnProductsFlat .= $ctnProduct['name'] . ', ';
                                        }
                                    }
                                    if ($ctnProductsFlat) {
                                        $ctnProductsFlat = rtrim($ctnProductsFlat, ', ');
                                    }
                                    ?>
                                    <?php $showCtnInfo = !empty($ctnProducts) || Mage::helper('dyna_service')->isOverride(); ?>
                                        <li class="col-xs-3">
                                            <p <?php echo $showCtnInfo ? '' : ' class="hide"';?>><?php echo $ctn->getEndDate() ? $ctn->getEndDate()->format('d-m-Y') : $this->__('N/A'); ?></p>
                                        </li>
                                        <li class="col-xs-2">
                                            <div class="ctn-details-trigger<?php echo $showCtnInfo ? '' : ' hide';?> " onclick="expandCtnDetails(this, '.ctn-details')" data-opened="H" data-closed="H"><span>H</span></div>
                                        </li>
                                        <li class="col-xs-1">
                                            <div class="right ctn_box retainablectn retainable<?php echo $canCreatePackages?'':' disabled'; ?>" id="ctn_retain_<?php echo $ctn->getId(); ?>" onclick="
                                                <?php if (Mage::getSingleton('customer/session')->getOrderEditMode()): ?>
                                                    showModalError('<?php echo $this->__('You can not renew an order because you are changing and order. You have to cancel your changes first and go to the configurator.');?>');
                                                    return;
                                                <?php elseif (!$canCreatePackages): ?>
                                                    return ;
                                                <?php else: ?>
                                                    createPackage('<?php echo $ctn->getCtn();?>','<?php echo Vznl_Checkout_Model_Sales_Quote_Item::RETENTION; ?>', '<?php echo $this->htmlEscape($ctnProductsFlat); ?>');
                                                <?php endif;?>
                                            ">
                                                &nbsp;
                                            </div>
                                        </li>
                                        <li class="col-xs-1 hide">
                                            <div class="pull-right red notretainablectn glyphicon glyphicon-remove-circle"
                                                 data-toggle="tooltip" data-placement="right" title=""
                                                 id="ctn_not_retain_<?php echo $ctn->getId(); ?>">
                                            </div>
                                        </li>
                                    <?php if ($showCtnInfo): ?>
                                        <li class="col-xs-1">
                                            <?php if(true || $ctn->isInlife() && $ctn->getStatus() == 'ACTIVE' && Mage::getSingleton('customer/session')->getCustomerInfoSync()): ?>
                                                <div class="left ctn_box inlife" onclick="
                                                <?php if (Mage::getSingleton('customer/session')->getOrderEditMode()): ?>
                                                    showModalError('<?php echo $this->__('You can not renew an order because you are changing and order. You have to cancel your changes first and go to the configurator.');?>');
                                                    return;
                                                <?php else: ?> customer.modifyInlifeCtn('<?php echo $ctn->getCtn();?>')<?php endif;?>">
                                                    <?php echo $this->__('inlife'); ?>
                                                </div>
                                            <?php endif; ?>
                                        </li>
                                        <li class="col-xs-6 clearfix ctn-details">
                                            <?php foreach ($ctnProducts as $ctnProduct): ?>
                                                <p><?php echo sprintf('&bull;&nbsp;%s', $ctnProduct['name']) ?></p>
                                            <?php endforeach; ?>
                                        </li>
                                    <?php endif; ?>
                                </ul>
                            <?php endforeach;
                        endif;
                        ?>
                    </div>
                </div>
            </div>
            <?php if (isset($ctns) && count($ctns)): ?>
                <div class="row ctn-detail-buttons">
                    <div class="col-xs-6 right">
                        <p class="ctn_actions">
                            <span>
                            </span>
                            <input class="right btn btn-info hide" disabled="disabled" type="button"  value="<?php echo $this->__('Configure'); ?>" onclick="createPackages();return false;"/>
                        </p>
                    </div>
                </div>
            <?php endif; ?>
        </div>
            <?php break; ?>
            <?php case "customer-content" : ?>
                <div class="tab-pane top_menu_content active" id="customer-content">
                    <h3 class="tab-title"><?php echo $this->__('360-view'); ?></h3>
                    <div>
                        <div class="vn-tab">
                            <div class="tab-menu user-info-nav-buttons">
                                <?php if (!empty($ctnsList)) :
                                    foreach($ctnsList as $ctn):
                                        ?>
                                        <div data-format="phonenumber" data-phone="<?php echo substr($ctn, -8); ?>" class="tab-menu-item"><?php echo $ctn; ?></div>
                                    <?php   endforeach;
                                endif;
                                ?>
                            </div>
                        </div>
                    </div>
                    <?php if (!empty($ctnsList)) : ?>
                        <div class="user-info-iframe-wrapper">
                            <div class="user-info-iframe-holder">
                                <iframe class="user-info-iframe hidden" src="<?php echo Mage::helper('vznl_customer')->getUsageUrl(); ?>"></iframe>
                            </div>
                        </div>
                    <?php else: ?>
                        <div class="vn-empty-state">
                            <div class="empty-state-section">
                                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72"><g fill="none" fill-rule="evenodd"><path fill="#D8D9DA" fill-rule="nonzero" d="M44.68 49.92c.221.12.43.275.616.465l1.731 1.762.978.995a3.511 3.511 0 0 1 2.41 1.058l11.421 11.626a3.664 3.664 0 0 1 0 5.115 3.51 3.51 0 0 1-5.025 0L45.389 59.315a3.636 3.636 0 0 1-1.039-2.453l-.978-.995-1.73-1.761a2.637 2.637 0 0 1-.458-.628A24.877 24.877 0 0 1 7.38 51.785c-9.84-10.016-9.84-26.256 0-36.273a24.887 24.887 0 0 1 35.637 0c9.25 9.417 9.805 24.333 1.662 34.408zm2.08 8l11.42 11.626c.63.641 1.654.642 2.285 0 .63-.641.63-1.683 0-2.325L49.044 55.595a1.596 1.596 0 0 0-2.285 0 1.667 1.667 0 0 0 0 2.325zm-5.114-7.53c9.084-9.246 9.084-24.237 0-33.483a22.973 22.973 0 0 0-32.895 0c-9.084 9.246-9.084 24.237 0 33.483a22.973 22.973 0 0 0 32.895 0zm-2.513-2.558a19.463 19.463 0 0 1-27.87 0c-7.695-7.833-7.695-20.534 0-28.367a19.463 19.463 0 0 1 27.87 0c7.696 7.833 7.696 20.534 0 28.367zm-1.37-1.395c6.938-7.063 6.938-18.514 0-25.577a17.549 17.549 0 0 0-25.128 0c-6.94 7.063-6.94 18.514 0 25.577a17.549 17.549 0 0 0 25.128 0zm5.249 6.273l1.73 1.762.914-.93-1.73-1.762a.64.64 0 0 0-.916-.002.666.666 0 0 0 .002.932zm-17.855-6.609c6.78 0 12.276-5.594 12.276-12.495 0-.545.434-.987.969-.987a.98.98 0 0 1 .97.987c0 7.99-6.365 14.468-14.215 14.468a.978.978 0 0 1-.97-.986c0-.545.434-.987.97-.987zm32.92-11.18c.714 0 1.293-.589 1.293-1.315s-.579-1.315-1.292-1.315c-.714 0-1.293.589-1.293 1.315s.579 1.315 1.293 1.315zm5.816 0c.713 0 1.292-.589 1.292-1.315s-.579-1.315-1.292-1.315c-.714 0-1.293.589-1.293 1.315s.579 1.315 1.293 1.315zm5.815 0c.713 0 1.292-.589 1.292-1.315s-.579-1.315-1.292-1.315c-.714 0-1.292.589-1.292 1.315s.578 1.315 1.292 1.315z"></path><path fill="#FF9D2A" d="M66.536 17L63.5 20.036 60.464 17H53.5a8.5 8.5 0 1 1 0-17h18a8.5 8.5 0 1 1 0 17h-4.964zM56.242 8.592c0 .693-.128 1.307-.385 1.84a2.85 2.85 0 0 1-1.096 1.234 3.052 3.052 0 0 1-1.62.432c-.605 0-1.142-.14-1.61-.418a2.846 2.846 0 0 1-1.097-1.194c-.262-.517-.4-1.111-.412-1.782v-.4c0-.697.128-1.311.383-1.844a2.844 2.844 0 0 1 1.099-1.232 3.074 3.074 0 0 1 1.628-.435c.602 0 1.14.143 1.611.43.472.286.84.694 1.102 1.223.262.529.394 1.135.397 1.819v.327zM54.5 8.294c0-.706-.118-1.243-.354-1.609a1.135 1.135 0 0 0-1.013-.55c-.86 0-1.313.645-1.362 1.934l-.005.523c0 .696.116 1.232.347 1.606.23.375.574.562 1.03.562a1.12 1.12 0 0 0 1-.552c.235-.368.354-.897.357-1.587v-.327zm2.244 1.016c0-.528.103-.997.308-1.41a2.2 2.2 0 0 1 .883-.949c.385-.221.835-.332 1.353-.332.791 0 1.414.245 1.87.735.456.49.684 1.156.684 2v.058c0 .824-.229 1.477-.686 1.96-.458.484-1.077.726-1.858.726-.752 0-1.356-.226-1.812-.677-.455-.45-.701-1.062-.737-1.833l-.005-.278zm1.646.102c0 .488.076.846.23 1.074.152.228.378.342.678.342.586 0 .885-.45.898-1.352V9.31c0-.948-.303-1.421-.908-1.421-.55 0-.848.408-.894 1.225l-.004.298zm8.982-.015c0 .82-.185 1.476-.555 1.966-.37.49-.868.735-1.496.735-.485 0-.884-.178-1.196-.533v2.466h-1.646V6.717h1.538l.049.488c.316-.39.73-.586 1.245-.586.651 0 1.157.24 1.519.72.36.48.542 1.14.542 1.98v.078zm-1.646-.102c0-.938-.273-1.406-.82-1.406-.39 0-.651.14-.781.42v2.08c.143.293.406.44.79.44.525 0 .795-.453.811-1.358v-.176zm5.037 1.22c0-.14-.073-.252-.22-.336-.146-.085-.425-.173-.835-.264a3.807 3.807 0 0 1-1.015-.359 1.701 1.701 0 0 1-.61-.54 1.288 1.288 0 0 1-.21-.727c0-.485.2-.885.6-1.199.4-.314.924-.47 1.572-.47.697 0 1.257.157 1.68.473.423.316.634.73.634 1.245h-1.65c0-.423-.223-.635-.669-.635a.663.663 0 0 0-.434.144.446.446 0 0 0-.176.36c0 .146.071.264.215.355.143.092.372.167.686.225.314.059.59.129.827.21.795.274 1.192.763 1.192 1.47 0 .482-.214.874-.642 1.177-.428.302-.983.454-1.663.454a2.88 2.88 0 0 1-1.21-.244 2.025 2.025 0 0 1-.831-.665 1.504 1.504 0 0 1-.298-.883h1.538c.007.244.088.422.244.534.157.113.357.169.601.169.225 0 .393-.046.505-.137a.437.437 0 0 0 .169-.356zm3.89-.766h-1.334l-.21-4.858h1.753l-.21 4.858zm-1.593 1.514c0-.241.087-.439.262-.594a.946.946 0 0 1 .651-.232.95.95 0 0 1 .652.232.758.758 0 0 1 .261.594c0 .24-.087.438-.26.593a.946.946 0 0 1-.653.232.946.946 0 0 1-.651-.232.758.758 0 0 1-.262-.593z"></path></g></svg>
                                <h3 class="ui header vn-header"><?php echo $this->__('No customer telephone numbers'); ?></h3>
                                <p>
                                    <span><?php echo $this->__('If the customer has telephone numbers, you\'ll see them here') ?></span>
                                </p>
                            </div>
                        </div>
                    <?php endif ?>
                </div>
            <?php break; ?>
            <?php case "nba-content" : ?>
                <div class="tab-pane top_menu_content scrollable-y-table active" id="nba-content">
                    <h3 class="tab-title"><?php echo $customerHelper->__('Next Best Activity'); ?></h3>
                    <div class="vn-tab">
                        <div class="tab-menu">
                            <?php
                            if (isset($ctns)) {
                                foreach ($ctns as $i => $ctn) {
                                    ?>
                                    <div class="tab-menu-item nba-btn" data-format="phonenumber" data-phone="<?php echo $ctn->getCtn(); ?>">
                                        <?php echo $ctn->getCtn(); ?>
                                    </div>
                                    <?php
                                }
                            }
                            ?>
                        </div>
                    </div>
                    <?php if (!empty($ctns)) { ?>
                        <iframe class="user-info-iframe nba-iframe" width="100%"></iframe>
                    <?php } else { ?>
                        <div class="vn-empty-state">
                            <div class="empty-state-section">
                                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72">
                                    <g fill="none" fill-rule="evenodd"><path fill="#D8D9DA" fill-rule="nonzero" d="M44.68 49.92c.221.12.43.275.616.465l1.731 1.762.978.995a3.511 3.511 0 0 1 2.41 1.058l11.421 11.626a3.664 3.664 0 0 1 0 5.115 3.51 3.51 0 0 1-5.025 0L45.389 59.315a3.636 3.636 0 0 1-1.039-2.453l-.978-.995-1.73-1.761a2.637 2.637 0 0 1-.458-.628A24.877 24.877 0 0 1 7.38 51.785c-9.84-10.016-9.84-26.256 0-36.273a24.887 24.887 0 0 1 35.637 0c9.25 9.417 9.805 24.333 1.662 34.408zm2.08 8l11.42 11.626c.63.641 1.654.642 2.285 0 .63-.641.63-1.683 0-2.325L49.044 55.595a1.596 1.596 0 0 0-2.285 0 1.667 1.667 0 0 0 0 2.325zm-5.114-7.53c9.084-9.246 9.084-24.237 0-33.483a22.973 22.973 0 0 0-32.895 0c-9.084 9.246-9.084 24.237 0 33.483a22.973 22.973 0 0 0 32.895 0zm-2.513-2.558a19.463 19.463 0 0 1-27.87 0c-7.695-7.833-7.695-20.534 0-28.367a19.463 19.463 0 0 1 27.87 0c7.696 7.833 7.696 20.534 0 28.367zm-1.37-1.395c6.938-7.063 6.938-18.514 0-25.577a17.549 17.549 0 0 0-25.128 0c-6.94 7.063-6.94 18.514 0 25.577a17.549 17.549 0 0 0 25.128 0zm5.249 6.273l1.73 1.762.914-.93-1.73-1.762a.64.64 0 0 0-.916-.002.666.666 0 0 0 .002.932zm-17.855-6.609c6.78 0 12.276-5.594 12.276-12.495 0-.545.434-.987.969-.987a.98.98 0 0 1 .97.987c0 7.99-6.365 14.468-14.215 14.468a.978.978 0 0 1-.97-.986c0-.545.434-.987.97-.987zm32.92-11.18c.714 0 1.293-.589 1.293-1.315s-.579-1.315-1.292-1.315c-.714 0-1.293.589-1.293 1.315s.579 1.315 1.293 1.315zm5.816 0c.713 0 1.292-.589 1.292-1.315s-.579-1.315-1.292-1.315c-.714 0-1.293.589-1.293 1.315s.579 1.315 1.293 1.315zm5.815 0c.713 0 1.292-.589 1.292-1.315s-.579-1.315-1.292-1.315c-.714 0-1.292.589-1.292 1.315s.578 1.315 1.292 1.315z"></path><path fill="#FF9D2A" d="M66.536 17L63.5 20.036 60.464 17H53.5a8.5 8.5 0 1 1 0-17h18a8.5 8.5 0 1 1 0 17h-4.964zM56.242 8.592c0 .693-.128 1.307-.385 1.84a2.85 2.85 0 0 1-1.096 1.234 3.052 3.052 0 0 1-1.62.432c-.605 0-1.142-.14-1.61-.418a2.846 2.846 0 0 1-1.097-1.194c-.262-.517-.4-1.111-.412-1.782v-.4c0-.697.128-1.311.383-1.844a2.844 2.844 0 0 1 1.099-1.232 3.074 3.074 0 0 1 1.628-.435c.602 0 1.14.143 1.611.43.472.286.84.694 1.102 1.223.262.529.394 1.135.397 1.819v.327zM54.5 8.294c0-.706-.118-1.243-.354-1.609a1.135 1.135 0 0 0-1.013-.55c-.86 0-1.313.645-1.362 1.934l-.005.523c0 .696.116 1.232.347 1.606.23.375.574.562 1.03.562a1.12 1.12 0 0 0 1-.552c.235-.368.354-.897.357-1.587v-.327zm2.244 1.016c0-.528.103-.997.308-1.41a2.2 2.2 0 0 1 .883-.949c.385-.221.835-.332 1.353-.332.791 0 1.414.245 1.87.735.456.49.684 1.156.684 2v.058c0 .824-.229 1.477-.686 1.96-.458.484-1.077.726-1.858.726-.752 0-1.356-.226-1.812-.677-.455-.45-.701-1.062-.737-1.833l-.005-.278zm1.646.102c0 .488.076.846.23 1.074.152.228.378.342.678.342.586 0 .885-.45.898-1.352V9.31c0-.948-.303-1.421-.908-1.421-.55 0-.848.408-.894 1.225l-.004.298zm8.982-.015c0 .82-.185 1.476-.555 1.966-.37.49-.868.735-1.496.735-.485 0-.884-.178-1.196-.533v2.466h-1.646V6.717h1.538l.049.488c.316-.39.73-.586 1.245-.586.651 0 1.157.24 1.519.72.36.48.542 1.14.542 1.98v.078zm-1.646-.102c0-.938-.273-1.406-.82-1.406-.39 0-.651.14-.781.42v2.08c.143.293.406.44.79.44.525 0 .795-.453.811-1.358v-.176zm5.037 1.22c0-.14-.073-.252-.22-.336-.146-.085-.425-.173-.835-.264a3.807 3.807 0 0 1-1.015-.359 1.701 1.701 0 0 1-.61-.54 1.288 1.288 0 0 1-.21-.727c0-.485.2-.885.6-1.199.4-.314.924-.47 1.572-.47.697 0 1.257.157 1.68.473.423.316.634.73.634 1.245h-1.65c0-.423-.223-.635-.669-.635a.663.663 0 0 0-.434.144.446.446 0 0 0-.176.36c0 .146.071.264.215.355.143.092.372.167.686.225.314.059.59.129.827.21.795.274 1.192.763 1.192 1.47 0 .482-.214.874-.642 1.177-.428.302-.983.454-1.663.454a2.88 2.88 0 0 1-1.21-.244 2.025 2.025 0 0 1-.831-.665 1.504 1.504 0 0 1-.298-.883h1.538c.007.244.088.422.244.534.157.113.357.169.601.169.225 0 .393-.046.505-.137a.437.437 0 0 0 .169-.356zm3.89-.766h-1.334l-.21-4.858h1.753l-.21 4.858zm-1.593 1.514c0-.241.087-.439.262-.594a.946.946 0 0 1 .651-.232.95.95 0 0 1 .652.232.758.758 0 0 1 .261.594c0 .24-.087.438-.26.593a.946.946 0 0 1-.653.232.946.946 0 0 1-.651-.232.758.758 0 0 1-.262-.593z"></path></g>
                                </svg>
                                <h3 class="ui header vn-header">Customer has no deals available</h3>
                                <p><span>If the customer will have some deals availabe, you'll see them here</span></p>
                            </div>
                        </div>
                    <?php } ?>
                    <div class="vn-empty-state hidden connection-problem-state">
                        <div class="empty-state-section">
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
                                <g fill="none" fill-rule="evenodd">
                                    <path fill="#D8D9DA" fill-rule="nonzero" d="M67.396 61.676l-7.852-2.923h6.61c.51 0 .923-.418.923-.933V24.576a.929.929 0 0 0-.86-.93l-11.632-.8-25.08-10.772a.913.913 0 0 0-.721 0L3.562 22.907a.933.933 0 0 0-.562.857v34.003c0 .374.22.711.56.858l15.688 6.774v10.668c0 .36.205.689.527.843a.913.913 0 0 0 .98-.12l8.501-7.02 11.307 4.8a.914.914 0 0 0 .716 0l26.157-11.16a.933.933 0 0 0 .564-.88.932.932 0 0 0-.604-.854zM62.198 32.91l-8.186 3.486-.007.003-15.545 6.62-7.717-8.038L54.159 24.87l8.04 8.04zm-32.13 15.249l21.834 9.658-21.835 9.427V48.16zm0-2.037v-9.165l7.507 7.82a.918.918 0 0 0 1.02.21l14.85-6.325v17.8l-23.377-10.34zm35.164 10.765H55.29v-19.01l8.896-3.79a.94.94 0 0 0 .29-1.523l-7.696-7.698 8.452.582v31.44zm-36.087-42.94l22.867 9.82-22.868 9.875-22.867-9.874 22.868-9.821zm-9.517 26.7a.936.936 0 0 0-.38.755V63.37L4.845 57.15V25.178l22.568 9.745-7.785 5.724zm1.465 1.23l7.129-5.242v31.58L21.093 74.1V41.877zm19.826 30.82l-9.408-3.994 22.882-9.88 10.172 3.787L40.92 72.697z"/>
                                    <path fill="#FF9D2A" d="M66.536 19L63.5 22.036 60.464 19H53.5a8.5 8.5 0 1 1 0-17h18a8.5 8.5 0 1 1 0 17h-4.964zm-10.294-8.408c0 .693-.128 1.307-.385 1.84a2.85 2.85 0 0 1-1.096 1.234 3.052 3.052 0 0 1-1.62.432c-.605 0-1.142-.14-1.61-.418a2.846 2.846 0 0 1-1.097-1.194c-.262-.517-.4-1.111-.412-1.782v-.4c0-.697.128-1.311.383-1.844a2.844 2.844 0 0 1 1.099-1.232 3.074 3.074 0 0 1 1.628-.435c.602 0 1.14.143 1.611.43.472.286.84.694 1.102 1.223.262.529.394 1.135.397 1.819v.327zm-1.743-.298c0-.706-.118-1.243-.354-1.609a1.135 1.135 0 0 0-1.013-.55c-.86 0-1.313.645-1.362 1.934l-.005.523c0 .696.116 1.232.347 1.606.23.375.574.562 1.03.562a1.12 1.12 0 0 0 1-.552c.235-.368.354-.897.357-1.587v-.327zm2.244 1.016c0-.528.103-.997.308-1.41a2.2 2.2 0 0 1 .883-.949c.385-.221.835-.332 1.353-.332.791 0 1.414.245 1.87.735.456.49.684 1.156.684 2v.058c0 .824-.229 1.477-.686 1.96-.458.484-1.077.726-1.858.726-.752 0-1.356-.226-1.812-.677-.455-.45-.701-1.062-.737-1.833l-.005-.278zm1.646.102c0 .488.076.846.23 1.074.152.228.378.342.678.342.586 0 .885-.45.898-1.352v-.166c0-.948-.303-1.421-.908-1.421-.55 0-.848.408-.894 1.225l-.004.298zm8.982-.015c0 .82-.185 1.476-.555 1.966-.37.49-.868.735-1.496.735-.485 0-.884-.178-1.196-.533v2.466h-1.646V8.717h1.538l.049.488c.316-.39.73-.586 1.245-.586.651 0 1.157.24 1.519.72.36.48.542 1.14.542 1.98v.078zm-1.646-.102c0-.938-.273-1.406-.82-1.406-.39 0-.651.14-.781.42v2.08c.143.293.406.44.79.44.525 0 .795-.453.811-1.358v-.176zm5.037 1.22c0-.14-.073-.252-.22-.336-.146-.085-.425-.173-.835-.264a3.807 3.807 0 0 1-1.015-.359 1.701 1.701 0 0 1-.61-.54 1.288 1.288 0 0 1-.21-.727c0-.485.2-.885.6-1.199.4-.314.924-.47 1.572-.47.697 0 1.257.157 1.68.473.423.316.634.73.634 1.245h-1.65c0-.423-.223-.635-.669-.635a.663.663 0 0 0-.434.144.446.446 0 0 0-.176.36c0 .146.071.264.215.356.143.09.372.166.686.224.314.059.59.129.827.21.795.274 1.192.763 1.192 1.47 0 .482-.214.874-.642 1.177-.428.302-.983.454-1.663.454-.452 0-.856-.082-1.21-.244a2.025 2.025 0 0 1-.831-.665 1.504 1.504 0 0 1-.298-.883h1.538c.007.244.088.422.244.534.157.113.357.169.601.169.225 0 .393-.046.505-.137a.437.437 0 0 0 .169-.356zm3.89-.766h-1.334l-.21-4.858h1.753l-.21 4.858zm-1.593 1.514c0-.241.087-.439.262-.594a.946.946 0 0 1 .651-.232c.26 0 .478.078.652.232a.758.758 0 0 1 .261.594c0 .24-.087.438-.26.593a.946.946 0 0 1-.653.232.946.946 0 0 1-.651-.232.758.758 0 0 1-.262-.593z"/>
                                </g>
                            </svg>
                            <h3 class="ui header vn-header">Can't connect to remote server</h3>
                            <p><span>We're unable to connect to PEGA servers<br />and retrieve all next best activities</span></p>
                        </div>
                    </div>
                </div>
                <?php break; ?>
        <?php endswitch; ?>
    </div>
</div>

<script type="text/javascript">
  <?php if ($section == 'nba-content') { ?>
    window['nbaIframeUrl'] = "<?php echo Mage::helper('vznl_guru')->getUrl(Mage::getSingleton('customer/session')->getCustomer(), 'CustomerCTNValue'); ?>";
    jQuery('.nba-iframe').load(function(){
      if (jQuery(this).contents().find('body').html() === '') {
        jQuery('.connection-problem-state').removeClass('hidden');
        jQuery('.nba-iframe').addClass('hidden');
      }
    });
  <?php } ?>
  jQuery(document).ready(function($) {
    window.search = new Search({events: 'change keyup'});
    //toggle dropdown button
    toggleDropdownButton();
    //add tabfunctionality to userinfo
    addTabFunctionUserInfo('<?php echo str_replace('-content', '', $section); ?>');
    //adjust height of ctn overview tab on window.resize
    window.addResizeEvent(function(event) {
      if($('#products-content').hasClass('active')){
        setMaxHeightCTNOverview();
      }
    });
    $('.notretainablectn')
      .tooltip({
        'selector': '',
        'placement': 'right',
        'container':'body'
      })
      .on('mouseleave', function (ev) {
        $(this).show();
      });
  });
  <?php if ($section == 'nba-content') { ?>
    jQuery('.nba-btn:first').trigger('click');
  <?php } ?>
</script>
