<div class="tab-pane top_menu_content" id="orders-content">
    <h3 class="tab-title"><?php echo $this->__('Linked accounts'); ?></h3>
    <div id="customer-linked_account">
        <!-- Fixed with ajax -->
    </div>
</div>

<script type='text/javascript'>
    updateLinkAccountSection();
</script>
