<?php
/** @var Dyna_Package_Helper_Data $packageHelper */
$packageHelper = Mage::helper('dyna_package');
$packages = $this->getPackages();
$templateData = $this->getTemplateData();
/** @var Vznl_Checkout_Model_Sales_Quote $quoteModel */
$quoteModel = Mage::getSingleton('checkout/cart')->getQuote();

foreach ($packages as $key => $value) {
    if (in_array($value['type'], Vznl_Catalog_Model_Type::getMobilePackages()))
        $mobilePkgs[$key] = $value;
    else
        $fixpkg[$key] = $value;
}
if (!empty($mobilePkgs) && !empty($fixpkg))
    $packages = $mobilePkgs + $fixpkg;
?>
<!-- nav list from the left side with packages ids-->
<div id="right_expanded_packets" class="right_expanded_packets col-xs-3 testtikkel <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>">
    <div class="border-cart-expanded"></div>
    <ul class="nav nav-list new_template">
        <?php
        foreach ($packages as $key => $package) {
            $packageNotes = $packageHelper->checkNotes($package);
            $class = $packageHelper->getPackageState($package->getData()); ?>
            <li class="<?php if ($key == 0) echo 'active'; ?>">
                <a href="#scroll-pack-<?php echo $package->getPackageId(); ?>"
                   class="<?php if ($package['editing_disabled']) {
                       echo 'disabled_full';
                   } ?>">
                    <div class="option-image-block product-cart-icon <?php echo strtolower($package->getType()); ?> pull-left"></div>
                    <div data-summary-id="<?php echo $package->getPackageId(); ?>" class="package-summary pull-left">
                        <?php
                        $packageTitle = Mage::getModel('dyna_package/packageType')->loadByCode($package->getType())->getFrontEndName();
                        $packageId = $package->getPackageId();
                        $packageTypeAndTariffTitles = Mage::helper('vznl_package')->getTypeAndSubtypeTitle($package, null, Dyna_Catalog_Model_Product::GUI_COMMUNICATION);
                        ?>
                        <p class="title"><?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?></p>
                        <p class="light"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></p>
                    </div>
                    <span class="package-notes <?php echo $packageNotes ? '' : 'hidden' ?>" id="<?php echo $package->getPackageId(); ?>"></span>
                </a>
            </li>
        <?php } ?>
    </ul>

    <?php if (isset($quoteModel) && $quoteModel->isLoanRequired()) : ?>
        <div class="col-sm-12 expanded-package-loan-banner">
            <div class="loan-banner"><img src="/skin/frontend/vznl/default/images/geld-lenen-kost-geld.svg" class="img-responsive" /></div>
        </div>
    <?php endif; ?>

</div>
