<?php
$section = $this->getSection();
$templateData = $this->getTemplateData();
$data = $this->getPackageData();
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();

for ($i = 0; $i < count($data['image']); $i++) { ?>
    <tr class="<?php echo $section; ?>">
        <td class="names"<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?>>
            <span class="circle-small <?=isset($data['circle_style'][$i]) ? $data['circle_style'][$i] : '';?>"></span>
            <?php echo isset($data['name'][$i]) ? $data['name'][$i] : ''; ?>
            <?php if ($i === 0 && !Mage::getSingleton('customer/session')->isBusinessCustomer() && !empty($data['iltRequired'])) { ?>
                <span class="item_ilt" data-toggle="tooltip" data-html="true"
                      data-container="body" data-placement="right"
                      title="<?php echo $this->__('In this monthly handset payment, an income test is necessary'); ?>"
                >
                    &nbsp;
                </span>
            <?php } ?>
        </td>


        <td class="package-prices monthly-costs">
            <?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?>
        </td>
        <?php if(!$isIndirect) { ?>
            <td class="package-prices one-of-costs">
                <?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?>
            </td>
        <?php } ?>
    </tr>
<?php } ?>
