<?php

/** @var $checkoutLayout Dyna_Checkout_Helper_Layout */
$checkoutLayout = Mage::helper("dyna_checkout/layout");
$checkoutLayout->setupFormLayout();
$isConverged = $checkoutLayout->isConvergedOrder();
$notes = $checkoutLayout->getNoteTypesArray();
$PackageTypeArray = $checkoutLayout->getPackageTypeArray();
$checkoutData = Mage::helper("dyna_checkout/fields");

$enablemobile=false;
$enablecable=false;
$enableremark=false;

foreach ($PackageTypeArray as $key => $value) {
    if($key == 'mobile' || $key == 'prepaid' || $key == 'redplus') {
        $enablemobile=true;
    }
    if($key == 'cable_tv' || $key == 'cable_internet_phone' || $key == 'cable_independent') {
        $enablecable=true;
    }
}

if($enablecable || $enablemobile) {
    $enableremark=true;
}

if($enableremark) {
?>
<p class="section-header">
    <?php echo $this->__('Remarks'); ?>
</p>

<div class="checkout-section-container ">
    <div class="remarks-content" id="remarkdiv">

        <div id="checkdiv" class="dt">
            <div class="tc cell33">
                <div class="checkbox-button <?php echo (!$enablemobile) ? 'inactive' : ''; ?>">
                    <input id="other[remarks][mobile1]"
                           type="checkbox"
                           name="other[remarks][mobile1]" <?php echo (!$enablemobile) ? 'disabled' : ''; ?> >
                    <label id="mobile1lable" for="other[remarks][mobile1]"></label><span>  <?php echo __('Mobile') ?></span>
                </div>
            </div>
            <div class="tc cell33">
                <div class="checkbox-button <?php echo (!$enablecable) ? 'inactive' : ''; ?>">
                    <input id="other[remarks][cable1]"
                           type="checkbox"
                           name="other[remarks][cable1]" <?php echo (!$enablecable) ? 'disabled' : ''; ?> >
                    <label id="cable1lable" for="other[remarks][cable1]"></label><span>  <?php echo __('Cable') ?></span>
                </div>
            </div>
            <div class="tc cell33">
                <div class="checkbox-button inactive">
                    <input disabled id="other[remarks][fixnet1]"
                           type="checkbox"
                           name="other[remarks][fixnet1]">
                    <label for="other[remarks][fixnet1]"></label><span>  <?php echo __('FixedNet') ?></span>
                </div>
            </div>
        </div>

        <div class="input-group-custom">
            <div class="select-wrapper ">
                <div class="field-row">
                    <select id="other[remarks][layout1]"
                            name="other[remarks][layout1]"
                            class="form-control"
                            autocomplete="off">
                        <option value="" data-editable=1><?php echo $this->__('None'); ?></option>
                        <?php foreach ($notes as $note) : ?>
                            <option
                                value="<?php echo $note['pk']; ?>"
                                data-editable=<?php echo (int)($note['edit'] == 'true'); ?> <?php echo $checkoutData->getFieldValue("other[remarks1][layout]") == $note['pk']
                            ? "selected" : "" ?>><?php echo $note['text']; ?></option>
                        <?php endforeach; ?>
                    </select> <label id="layout1label" for="other[remarks][layout1]"><?php echo __('Remarks template') ?></label>
                </div>
            </div>
        </div>
        <div class="input-group-custom">
            <textarea name="other[remarks1][content]" id="other[remarks1][content]" maxlength="150"></textarea>
            <span id="remark1count" class="textcount">150</span>
        </div>
    </div>

    <?php if($enablecable && $enablemobile) : ?>
     <br>
        <button id="addRemarkBtn" data-step="addRemarkBtn" class="btn" type="button" onclick="addRemarkDiv();"><?php echo $this->__('Add Another Remark'); ?></button>

    <?php endif; ?>

    <input type="hidden" id="other[remarks1][mobile]" name="other[remarks1][mobile]" value="" />
    <input type="hidden" id="other[remarks1][cable]" name="other[remarks1][cable]" value="" />
    <input type="hidden" id="other[remarks1][layout]" name="other[remarks1][layout]" value="" />

</div>

<div class="checkout-section-container" id="anotherremark" style="display: none;">
    <div class="remarks-content">
        <input type="hidden" id="other[remarks2][mobile]" name="other[remarks2][mobile]" value="" />
        <input type="hidden" id="other[remarks2][cable]" name="other[remarks2][cable]" value="" />
        <input type="hidden" id="other[remarks2][layout]" name="other[remarks2][layout]" value="" />

        <div class="dt">
            <div class="tc cell33">
                <div class="checkbox-button <?php echo (!$enablemobile) ? 'inactive' : ''; ?>">
                    <input id="other[remarks][mobile2]"
                           type="checkbox"
                           name="other[remarks][mobile2]" <?php echo (!$enablemobile) ? 'disabled' : ''; ?> >
                    <label id="mobile2lable" for="other[remarks][mobile2]"></label><span>  <?php echo __('Mobile') ?></span>
                </div>
            </div>
            <div class="tc cell33">
                <div class="checkbox-button <?php echo (!$enablecable) ? 'inactive' : ''; ?>">
                    <input id="other[remarks][cable2]"
                           type="checkbox"
                           name="other[remarks][cable2]" <?php echo (!$enablecable) ? 'disabled' : '';  ?> >
                    <label id="cable2lable" for="other[remarks][cable2]"></label><span>  <?php echo __('Cable') ?></span>
                </div>
            </div>
            <div class="tc cell33">
                <div class="checkbox-button inactive">
                    <input disabled id="other[remarks][fixnet2]"
                           type="checkbox"
                           name="other[remarks][fixnet2]">
                    <label for="other[remarks][fixnet2]"></label><span>  <?php echo __('FixedNet') ?></span>
                </div>
            </div>
        </div>

        <div class="input-group-custom">
            <div class="select-wrapper ">
                <div class="field-row">
                    <select id="other[remarks][layout2]"
                            name="other[remarks][layout2]"
                            class="form-control"
                            autocomplete="off">
                        <option value="" data-editable=1><?php echo $this->__('None'); ?></option>
                        <?php foreach ($notes as $note) : ?>
                            <option
                                value="<?php echo $note['pk']; ?>"
                                data-editable=<?php echo (int)($note['edit'] == 'true'); ?> <?php echo $checkoutData->getFieldValue("other[remarks2][layout]") == $note['pk']
                            ? "selected" : "" ?>><?php echo $note['text']; ?></option>
                        <?php endforeach; ?>
                    </select> <label id="layout2label" for="other[remarks][layout2]"><?php echo __('Remarks template') ?></label>
                </div>
            </div>
        </div>
        <div class="input-group-custom">
            <textarea name="other[remarks2][content]" id="other[remarks2][content]" maxlength="150"></textarea>
            <span id="remark2count" class="textcount">150</span>
        </div>
    </div>
        <br>
        <button id="removeRemarkBtn" data-step="removeRemarkBtn" class="btn red" type="button" onclick="removeRemarkDiv();" style="display: none;"><?php echo $this->__('Delete Remark'); ?></button>
</div>

<?php
}
?>
<script type="text/javascript">
    var enablemobile='<?php echo $enablemobile; ?>';
    var enablecable='<?php echo $enablecable; ?>';

    function addRemarkDiv() {
        var mobile=jQuery('[id="other[remarks][mobile1]"]').is(":checked");
        var cable=jQuery('[id="other[remarks][cable1]"]').is(":checked");

        if(mobile || cable) {

            jQuery('[id="anotherremark"]').show();
            var jElement = jQuery('[id="other[remarks1][content]"]');
            jElement.removeAttr('readonly').attr('readonly', true);

            var jElement = jQuery('[id="other[remarks][layout1]"]');
            jElement.removeAttr('readonly').attr('disabled', true);

            var jElement = jQuery('[id="other[remarks][mobile1]"]');
            jElement.removeAttr('readonly').attr('disabled', true);

            var jElement = jQuery('[id="other[remarks][cable1]"]');
            jElement.removeAttr('readonly').attr('disabled', true);

            jQuery('[id="addRemarkBtn"]').hide();
            jQuery('[id="removeRemarkBtn"]').show();

            var jElement = jQuery('[id="other[remarks][layout2]"]');
            jElement.removeAttr('readonly').attr('disabled', false);

            jQuery('[id="other[remarks2][mobile]"]').val('0');
            jQuery('[id="other[remarks2][cable]"]').val('0');
            jQuery('[id="other[remarks2][layout]"]').val('');
            jQuery('[id="other[remarks][mobile2]"]').val('0');
            jQuery('[id="other[remarks][cable2]"]').val('0');
            jQuery('[id="other[remarks][layout2]"]').val('');

            if(mobile) {
                jQuery('[id="other[remarks][layout2]"]').attr('disabled', false);
                jQuery('[id="layout2label"]').attr('disabled', false);

                jQuery('[id="other[remarks2][cable]"]').val('1');
                jQuery('[id="other[remarks][cable2]').prop('checked', true);

                var jElement = jQuery('[id="cable2lable"]');
                jElement.attr('disabled', true);
                jElement.attr('style',"pointer-events: none;");
            } else {
                jQuery('[id="other[remarks][layout2]"]').attr('disabled', true);
                jQuery('[id="layout2label"]').attr('disabled', true);
                jQuery('[id="other[remarks2][layout]"]').val('');

                jQuery('[id="other[remarks2][mobile]"]').val('1');
                jQuery('[id="other[remarks][mobile2]').prop('checked', true);

                var jElement = jQuery('[id="mobile2lable"]');
                jElement.attr('disabled', true);
                jElement.attr('style',"pointer-events: none;");
            }

            if(jQuery('[id="other[remarks][mobile1]"]').is(":checked")) {
                var jElement = jQuery('[id="other[remarks][mobile2]"]');
                jElement.removeAttr('readonly').attr('disabled', true);
            } else {
                var jElement = jQuery('[id="other[remarks][mobile2]"]');
                jElement.removeAttr('readonly').attr('disabled', false);
            }

            if(jQuery('[id="other[remarks][cable1]"]').is(":checked")) {
                var jElement = jQuery('[id="other[remarks][cable2]"]');
                jElement.removeAttr('readonly').attr('disabled', true);
            } else {
                var jElement = jQuery('[id="other[remarks][cable2]"]');
                jElement.removeAttr('readonly').attr('disabled', false);
            }
        }
        else
        {
            alert("plz write one remark to add another");
        }
        return false;
    }

    function removeRemarkDiv() {
        jQuery('[id="other[remarks2][mobile]"]').val('0');
        jQuery('[id="other[remarks2][cable]"]').val('0');
        jQuery('[id="other[remarks2][layout]"]').val('');
        jQuery('[id="other[remarks][mobile2]"]').val('0');
        jQuery('[id="other[remarks][cable2]"]').val('0');
        jQuery('[id="other[remarks][layout2]"]').val('');

        var jElement = jQuery('[id="other[remarks][mobile2]"]');
        jElement.removeAttr('checked');

        var jElement = jQuery('[id="other[remarks][cable2]"]');
        jElement.removeAttr('checked');

        jQuery('[id="anotherremark"]').hide();
        var jElement = jQuery('[id="other[remarks1][content]"]');
        jElement.removeAttr('readonly').attr('readonly', false);

        var jElement = jQuery('[id="other[remarks][layout1]"]');
        jElement.removeAttr('readonly').attr('disabled', false);

        var jElement = jQuery('[id="other[remarks][mobile1]"]');
        jElement.removeAttr('readonly').attr('disabled', false);

        var jElement = jQuery('[id="other[remarks][cable1]"]');
        jElement.removeAttr('readonly').attr('disabled', false);

        jQuery('[id="addRemarkBtn"]').show();
        jQuery('[id="removeRemarkBtn"]').hide();
    }
        // jElement.removeAttr('style',"pointer-events: none;");

</script>

<style type="text/css" media="screen">

.red {
    height: 40px;
    border-radius: 2px;
    background-color: #e2574c;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.05);
}
.textcount {
    position: absolute;
    top: 141px;
    left: 506px;
}
</style>