<?php if ($serviceError = $this->getServiceError()) : ?>
    <h4><?php echo $this->__('Extras could not be loaded'); ?></h4>
    <?php echo $this->getLayout()->createBlock('core/template')->setServiceError($serviceError)->setTemplate('configurator/inlife/partials/service_error.phtml')->toHtml(); ?>
    <a href="javascript:void(0)" onclick="inlife.retrieveSubsAddonsData('<?php echo $this->getCtnCode(); ?>');"><?php echo $this->__('Try again'); ?></a>
<?php else :
    $eligibleAddons = $this->getEligibleAddons();
    $removableAddons = $this->getRemovableAddons();
    $coreHelper = Mage::helper('core');
?>
    <div class="home-screen">
        <div class="section">
            <h4><?php echo $this->__('Connected Extras'); ?></h4>
            <div class="payload row">
                <?php if (count($removableAddons)) : $index = 0;
                    foreach ($removableAddons as $addon) :
                        $index++;
                        if (isset($addon['component_code']) && !empty($addon['component_code']) && isset($addon['addon_options']) && !empty($addon['addon_options'])) :
                            $addonOptions = $addon['addon_options'][0];
                            if (isset($addonOptions['pricing_info']['prices']['rate'])) {
                                $addonOptions['pricing_info']['prices'][0] = $addonOptions['pricing_info']['prices'];
                            }
                            $action = 'inlife.quoteRemoveAddon(this);';
                            if (isset($addon['vom']) && $addon['vom']) {
                                $action = 'inlife.editVom(this, 1);';
                            }
                            ?>
                            <div class="col-sm-6">
                                <a class="btn btn-default<?php if (isset($addon['disable']) && $addon['disable']) echo ' disabled'; ?>"
                                   data-billing-offer-code="<?php echo $addon['billing_offer_code']; ?>"
                                   data-component-code="<?php echo $addon['component_code']; ?>"
                                   data-assigned-component-id="<?php echo $addon['assigned_component_id']; ?>"
                                   data-addon-name="<?php echo trim($addon['addon_name']); ?>"
                                   onclick="<?php echo $action; ?>">
                                    <span class="glyphicon glyphicon-minus"></span>
                                    <span class="text" onclick="event.stopPropagation()">
                                        <?php echo trim($addonOptions['catalog_pricing_description']); ?><br/>
                                        <?php echo isset($addonOptions['pricing_info']['prices'][0]['rate']) ? $this->__($addonOptions['pricing_info']['price_type'] == "RC" ? "Per month" : " One time") : '';
                                        echo '&nbsp;';
                                        echo isset($addonOptions['pricing_info']['prices'][0]['rate']) ? $coreHelper->currency($addonOptions['pricing_info']['prices'][0]['rate'], true, false) : '';
                                        if (isset($addonOptions['pending_action']) && isset($addonOptions['effective_date'])) {
                                            if ($addonOptions['pending_action'] == 'A') {
                                                $txt = 'Connection date';
                                            } elseif ($addonOptions['pending_action'] == 'R') {
                                                $txt = 'Remove date';
                                            } else {
                                                $txt = 'Connection date';
                                            }
                                            $effective_date = Mage::app()->getLocale()->date(substr($addonOptions['effective_date'], 0, 10), null, null, false)->toString('d-MM-y');
                                            echo '<span class="pull-right" style="padding-right: 24px;">' . $this->__($txt) . ': ' . $effective_date . '</span>';
                                        }

                                        ?>
                                        <br/>
                                        <?php echo $addonOptions['ui_display_category']['value']; ?><br/>
                                    </span>
                                </a>
                            </div>
                            <?php if ($index % 2 == 0) : ?>
                            <div class="clear"></div>
                        <?php endif; ?>
                        <?php endif; endforeach; else : ?>
                    <div class="col-sm-12"><?php echo $this->__('There are no removable Blox found.'); ?></div>
                <?php endif; ?>
            </div>
        </div>

        <div class="section">
            <h4><?php echo $this->__('Available Extras'); ?></h4>
            <div class="payload row">
                <?php if (count($eligibleAddons)) : $index = 0;
                    foreach ($eligibleAddons as $addon) :
                        $index++;
                        if (isset($addon['component_code']) && !empty($addon['component_code']) && isset($addon['addon_options']) && !empty($addon['addon_options'])) :
                            $addonOptions = $addon['addon_options'][0];
                            if (isset($addon['vf_garant'])) {
                                $action = 'inlife.editGarant(this)';
                            } elseif (isset($addon['multisim'])) {
                                $action = 'inlife.editMultisim(this)';
                            } elseif (isset($addon['vom'])) {
                                $action = 'inlife.editVom(this)';
                            } else {
                                $action = 'inlife.quoteAddon(this)';
                            }
                            ?>
                            <div class="col-sm-6">
                                <a class="btn btn-default"
                                   data-billing-offer-code="<?php echo $addon['billing_offer_code']; ?>"
                                   data-assigned-component-id="<?php echo $addon['assigned_component_id']; ?>"
                                   data-component-code="<?php echo $addon['component_code']; ?>"
                                   data-parent-assigned-component-id="<?php echo $addon['parent_assigned_component_id']; ?>"
                                   data-addon-name="<?php echo $addon['addon_name']; ?>"
                                   onclick="<?php echo $action; ?>">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span class="text" onclick="event.stopPropagation()">
                                        <?php echo $addonOptions['catalog_pricing_description']; ?><br/>
                                        <?php echo isset($addonOptions['pricing_info']['prices'][0]['rate']) ? $this->__($addonOptions['pricing_info']['price_type'] == "RC" ? "Per month" : " One time") : '';
                                        echo '&nbsp;';
                                        echo isset($addonOptions['pricing_info']['prices'][0]['rate']) ? $coreHelper->currency($addonOptions['pricing_info']['prices'][0]['rate'], true, false) : ''; ?>
                                        <br/>
                                        <?php echo $addonOptions['ui_display_category']['value']; ?><br/>
                                    </span>
                                </a>
                            </div>
                            <?php if ($index % 2 == 0) : ?>
                            <div class="clear"></div>
                        <?php endif; ?>
                        <?php endif; endforeach; else: ?>
                    <div class="col-sm-12"><?php echo $this->__('There are no linkable Blox found.'); ?></div>
                <?php endif; ?>
            </div>
        </div>
    </div>
<?php endif; ?>
