<div id="inlife-wrapper">
    <div class="row-fluid clearfix">
        <div class="col-xs-8">
            <h2><?php echo $this->__('Customize mobile package'); ?></h2>

            <?php if ($serviceError = $this->getServiceError()) : ?>
                <?php echo $this->getLayout()->createBlock('core/template')->setServiceError($serviceError)->setTemplate('inlife/partials/service_error.phtml')->toHtml(); ?>
            <?php else : ?>
                <?php $codes = Vznl_Agent_Model_Website::getWebsiteCodes(); $codes = array_combine($codes, $codes); ?>
                <div class="home-wrapper">
                    <div class="section">
                        <h4><?php echo $this->__('Current subscription'); ?></h4>
                        <a class="btn btn-default" onclick="inlife.editCtn(<?php echo $this->getCustomerCtn()->getCtn(); ?>);">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="text"><?php echo $this->getCustomerCtn()->getCtn(); ?></span>
                        </a>
                        <?php if (Mage::helper('vznl_inlife/data')->canMigratePricePlans()) { ?>
                            <a class="btn btn-default"
                               onclick="inlife.editSubscription(<?php echo $this->getCustomerCtn()->getCode(); ?>);">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="text"><?php echo $this->getCurrentSubscription(); ?></span>
                            </a>
                        <?php } ?>
                        <a class="btn btn-default" onclick="inlife.editSim('<?php echo $this->getCustomerCtn()->getCtn(); ?>');">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="text"><?php echo $this->__('Change SIM card'); ?></span>
                        </a>
                    </div>

                    <div class="main-screen"><!-- Filled with JS --></div>
                    <div class="loading-extras">
                        <h4><?php echo $this->__('Extras are loading'); ?></h4>
                        <p>
                            <img width="40" src="<?php echo $this->getSkinUrl('images/credit_check_spinner.gif') ?>" alt="" />
                        </p>
                    </div>
                    <div class="loading-edit-sim hidden">
                        <h3><?php echo $this->__('SIM swap loading'); ?></h3>
                        <p>
                            <img width="40" src="<?php echo $this->getSkinUrl('images/credit_check_spinner.gif') ?>" alt="" />
                        </p>
                    </div>

                    <div class="section" style="margin-top: 20px;">
                        <a onclick="Mage.Cookies.set('openTab', '#product_info_left'); document.location='<?php echo Mage::getUrl(); ?>';" class="btn btn-small btn-default">
                            <span><?php echo $this->__('Back to CTN overview'); ?></span>
                        </a>
                    </div>

                    <div id="inlife-edit-block" class="hidden"></div>
                </div>

                <!-- START Edit priceplans section -->
                <div class="section-wrapper eligible-priceplans hidden"><!-- Filled with JS --></div>
                <div class="loading-priceplans hidden">
                    <h3><?php echo $this->__('Get subscriptions.'); ?></h3>

                    <p>
                        <img width="20" src="<?php echo $this->getSkinUrl('images/credit_check_spinner.gif') ?>" alt="" />
                        <?php echo $this->__('The request is being processed. This may take several minutes.'); ?>
                    </p>
                </div>
                <!-- END Edit priceplans section -->

                <div class="modal search-phone-number" id="search-inlife-phone-number" tabindex="-1" role="dialog" aria-labelledby="search-inlife-phone-number" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title red" id="ctn-width"><?php echo Mage::helper('vznl_checkout')->__('Select new number for') . ' ' . $this->getCustomerCtn()->getCtn(); ?></h4>
                            </div>
                            <div class="modal-body">
                                <!-- CTNs list -->
                                <table id="ctn-content" class="table table-striped"><tbody><!-- Filled with ajax --></tbody></table>
                                <br />
                                <button type="button" class="btn btn-default btn-block" onclick="inlife.loadMoreNumbers()"><?php echo $this->__('Load more numbers for this category') ?></button>
                                <p id="ctn-modal-error" class="red text-right" style="margin-top: 10px; padding-bottom:0;"><!-- Filled with ajax --></p>
                            </div>
                            <div class="modal-footer modal-footer-search">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                                <button type="button" class="btn btn-info pull-right" onclick="inlife.setPhoneNumber(true, '<?php echo $this->getCustomerCtn()->getCtn(); ?>')"><?php echo $this->__('Select') ?></button>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><?php echo $this->__('Please note'); ?></h4>
                    <p><?php echo $this->__('You can only add one at a time, or one further remove additional, or change subscription. Start the process again in order to do multiple changes.'); ?></p>
                    <p><?php echo $this->__('The Fixed-to-Mobile lines and MultiSim Extras can only be added, not removed.'); ?></p>
                </div>
            </div>
        </div>
    </div>
    <div id="inlife-modal"><!-- Filled with JS --></div>
    <script>
        var validation_inlife_string =
            {
                invalid_sim: '<?php echo $this->__('Invalid sim');?>',
                sim_format: <?php echo Mage::helper('vznl_validators')->getRule('sim_format'); ?>,
                invalid_chars_detected: '<?php echo $this->__('Invalid characters have been detected. Please use only letters and space characters.');?>',
                name_regex: '<?php echo Mage::helper('dyna_validators')->getNameRegex(); ?>',
                to_short: '<?php echo $this->__('The name has to be longer than two (2) characters.');?>',
                invalid_postcode: '<?php echo $this->__('Invalid postcode');?>',
                must_be_number: '<?php echo Mage::helper('dyna_checkout')->__('Must select a number'); ?>',
                website_codes: '<?php echo isset($codes) ? json_encode($codes) : ''; ?>',
                is_business: '<?php echo (int)$this->getCustomer()->getIsBusiness(); ?>',
                current_website_code: '<?php echo Mage::app()->getWebsite()->getCode(); ?>',
                current_ctn_code: '<?php echo $this->getCtn()->getCode();?>'
            };
    </script>
</div>