<?php
/**
 * Copyright (c) 2018. Dynacommerce B.V.
 */

/** @var Vznl_Customer_Helper_Data $customer */
$customer = Mage::getSingleton('customer/session')->getCustomer();
$customerIsBusiness = $customer->getIsBusiness();
$onlyButtons = $this->getOnlyShowButtons();
$defaultPackageType = Mage::getModel('package/package')->getDefaultPackageType();
$productGroupCollection = array();
foreach ($defaultPackageType as $type) {
    $defaultProductOrder = Mage::getModel('package/package')->getDefaultProductOrder($simcard = false, $type);
    $productGroupCollection = array_merge($defaultProductOrder,$productGroupCollection);
}
$oldProductGroup = $productGroupCollection[0];
$agent = Mage::getSingleton('customer/session')->getAgent();
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();
$loggedInAgent = Mage::getSingleton('customer/session')->getAgent(true);
$cancelledPackagesNow = Mage::registry('cancelledPackagesNow') ?: [];
$canChangeSuperorder = $loggedInAgent->canDoActionOnSuperorderPackage(
    Vznl_Agent_Model_Agent::AGENT_CHANGE_PACKAGE,
    $this->getSuperOrder()
);
$canCancelSuperorder = $loggedInAgent->canDoActionOnSuperorderPackage(
    Vznl_Agent_Model_Agent::AGENT_CANCEL_PACKAGE,
    $this->getSuperOrder()
);
$isOrderClosed = $this->getSuperOrder()->getOrderStatus() == Vznl_Superorder_Model_Superorder::SO_CLOSED;
/** @var Vznl_Package_Model_Package $package */
$package = $this->getPackage();
$packageDisabled = false;
/** @var Vznl_Superorder_Model_Superorder $superOrder */
$superOrder = $this->getSuperOrder();
$packageAllowPortingEdit = $package->allowNumberPortingEdit((bool) $package->getCurrentNumber());
$missingSim = $superOrder->getMissingSim();
if (!$packageAllowPortingEdit) {
    $packageDisabled = (bool) $package->getCurrentNumber();
}

$showReturnButton = !(in_array($package->getStatus(), Vznl_Package_Model_Package::getCancelledTypePackages())
        || $package->getReturnDate()
        || (count(array_merge($this->getModifiedPackageIds(), $this->getCancelledPackageIds()))
            && (($package->getStatus() !== $this->getEditedPackageStatus()) || $this->getIsLocked()))
    ) && Mage::getSingleton('customer/session')->getAgent(true)->isGranted(['REGISTER_RETURN']);
if ($showReturnButton) {
    if ($package->getNewPackageId()) {
        // if package was edited, only show if hardware changed
        $showReturnButton = (bool) $package->getHardwareChange();
    } else {
        // if package was not yet edited, only show if there is a hardware item in the package
        $showReturnButton = $package->containsHardware();
    }
}
$hasShoppingCart = (bool) Mage::getModel('checkout/cart')->getQuote()->getPackages();
if (!$onlyButtons) {
    foreach ($productGroupCollection as $productGroup) { ?>
        <?php $packageData = $package->getDisplayFor($productGroup, $this->getItems()); ?>
        <?php if ($packageData) { ?>
            <?php foreach ($packageData as $qo_id => $data) { ?>
                <?php if ($oldProductGroup != $productGroup) { //if productGroup changed, put a dotted line ?>
                    <tr>
                        <td class="dotted" colspan="4">
                        </td>
                    </tr>
                    <tr class="small">
                        <td colspan="2" class="dotted-right">&nbsp;</td>
                        <td class="dotted-right">&nbsp;</td>
                        <?php if (!$isIndirect) : ?>
                        <td>&nbsp;</td>
                        <?php endif; ?>
                    </tr>
                    <?php $oldProductGroup = $productGroup; ?>
                <?php } ?>
                <?php
                $counts = [];
                $index = 0;
                $row = 0;
                foreach ($data['image'] as $id => $image) {
                    if ($image == '') {
                        $index++;
                    } else {
                        $index = 1;
                        $row = $id;
                    }
                    $counts[$row] = $index;
                }
                ?>
                <?php for ($i = 0; $i < count($data['image']); $i++) { ?>
                    <tr>
                        <td width="4%">
                            <?php if (isset($counts[$i])) { ?>
                                <?php echo isset($data['image'][$i]) ? $data['image'][$i] : ''; ?>
                            <?php } else { ?>
                                &nbsp;
                            <?php } ?>
                        </td>
                        <td class="dotted-right">
                            <?php
                            echo isset($data['name'][$i]) ? $data['name'][$i] : '';
                            if (isset($data['iltRequired']) && $data['iltRequired'] && $i === 0 && (!$customer || !$customerIsBusiness)) {
                                $imgDir = '/skin/frontend/vznl/default/images/';
                                ?>
                                <span class="generic_tool_tip_container">
                                    <img src="<?php echo $imgDir;?>ilt_icon.png" alt="ILT" onerror="this.src='<?php echo $imgDir;?>ilt_icon.png'" height="15px" width="15px"/>
                                    <div class="generic_tool_tip">
                                        <?php echo $this->__('In this monthly handset payment, an income test is necessary'); ?>
                                    </div>
                                </span>
                            <?php } ?>
                        </td>
                        <td class="package-prices dotted-right">
                            <?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?>
                        </td>
                        <?php if (!$isIndirect) : ?>
                        <td class="package-prices">
                            <?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?>
                        </td>
                    <?php endif?>
                    </tr>
                <?php } ?>

            <?php } ?>
            <tr class="small">
                <td colspan="2" class="dotted-right">&nbsp;</td>
                <td class="dotted-right">&nbsp;</td>
                <?php if (!$isIndirect) : ?>
                <td>&nbsp;</td>
                <?php endif; ?>
            </tr>

        <?php } ?>
    <?php }
} ?>

<?php
$packageTotals = $package->getPackageTotals($this->getItems());
$cancelledPackages = $onlyButtons ? ($package->isCancelled() ? [$package->getPackageId()] : []) : Mage::helper('omnius_package')->getCancelledPackages();
$isCanceled = in_array($package->getPackageId(), array_merge($cancelledPackages, $cancelledPackagesNow)) || strtotime($package->getCancellationDate()) > 0;
$labelClass = ($isCanceled !== false) ? 'striked ' : '';
$totalsClass = $labelClass . 'red';
$isDelivered = $package->isDelivered();
?>
<?php if (in_array($package->getPackageId(), $this->getModifiedPackageIds()) && $isDelivered) { ?>
    <?php $packageDiffPrice = Mage::helper('omnius_package')->getPackageDifferences($package->getPackageId()); ?>
    <?php $totalsClass = $labelClass; ?>
<?php } ?>
<?php if (!$onlyButtons) { ?>
    <tr class="order_package_item dotted">
        <td colspan="2" style="text-align: right" class="dotted-right">
            <label><?php echo $this->helper('tax')->__('Excl.'); ?></label><br/>
            <label><?php echo $this->helper('tax')->__('Tax'); ?></label><br/>
            <label class="<?php echo $totalsClass; ?>"><?php echo $this->helper('tax')->__('Total'); ?></label><br/>
            <?php
            /** @var Vznl_Checkout_Helper_Data $checkoutHelper */
            $checkoutHelper = Mage::helper('omnius_checkout');
            if (isset($packageDiffPrice) && $isDelivered) {
                if ($packageDiffPrice > 0) {
                    $toBePaid = Mage::registry('to_pay_amount');
                    Mage::unregister('to_pay_amount');
                    if ($toBePaid) {
                        $toBePaid[$package->getPackageId()] = $packageDiffPrice;
                    } else {
                        $toBePaid = [$package->getPackageId() => $packageDiffPrice];
                    }
                    Mage::register('to_pay_amount', $toBePaid, true);
                }
                ?>
                <label class="red">
                    <?php echo $checkoutHelper->__($packageDiffPrice >= 0 ? 'Payment' : 'Refund'); ?>
                </label>
            <?php } ?>
            <?php if (!$isDelivered && !$isCanceled) {
                $toBePaid = Mage::registry('to_pay_amount');
                Mage::unregister('to_pay_amount');
                if ($toBePaid) {
                    $toBePaid[$package->getPackageId()] = $packageTotals['total'];
                } else {
                    $toBePaid = [$package->getPackageId() => $packageTotals['total']];
                }
                Mage::register('to_pay_amount', $toBePaid, true);
            } ?>
        </td>
        <td class="dotted-right package-prices">
            <label class="<?php echo $labelClass; ?>">
                <?php echo Mage::helper('core')->currency($packageTotals['subtotal_maf'], true, false); ?>
            </label><br/>
            <label class="<?php echo $labelClass; ?>">
                <?php echo Mage::helper('core')->currency($packageTotals['tax_maf'], true, false); ?>
            </label><br/>
            <label class="<?php echo $totalsClass; ?>">
                <?php echo Mage::helper('core')->currency($packageTotals['total_maf'], true, false); ?>
            </label><br/>
            <?php if (isset($packageDiffPrice) && $isDelivered) { ?>
                <label class="red"></label>
            <?php } ?>
        </td>
        <?php if (!$isIndirect) : ?>
        <td class="package-prices">
            <label class="<?php echo $labelClass; ?>">
                <?php echo Mage::helper('core')->currency($packageTotals['subtotal_price'], true, false); ?>
            </label><br/>
            <label class="<?php echo $labelClass; ?>">
                <?php echo Mage::helper('core')->currency($packageTotals['tax_price'], true, false); ?>
            </label><br/>
            <label class="<?php echo $totalsClass; ?>">
                <?php echo Mage::helper('core')->currency($packageTotals['total'], true, false); ?>
            </label><br/>
            <?php if (isset($packageDiffPrice) && $isDelivered) { ?>
                <label class="red">
                    <?php echo Mage::helper('core')->currency($packageDiffPrice < 0 ? -1 * $packageDiffPrice : $packageDiffPrice, true, false); ?>
                </label>
            <?php } ?>
        </td>
        <?php endif; ?>
    </tr>
<?php } ?>
<?php if (!$onlyButtons) { ?>
    <tr>
        <td colspan="4" id="<?php echo $onlyButtons ? 'hide-dropdown-list' : 'show-dropdown-list'; ?>" class="package_edit_button">
            <?php } ?>
            <?php if (Mage::registry('creditCheckPerformed') && $package->getSuperOrder()->isEditable($this->getDeliveryInThisStore()) && $package->isMobile()) { ?>
                <div class="<?php echo $onlyButtons ? 'fixed-buttons pull-right' : 'btn-group'; ?>">
                    <?php
                    $isDisabled = (!$package->getSuperOrder()->isEditable($this->getDeliveryInThisStore()))
                        || (count(array_merge($this->getModifiedPackageIds(), $this->getCancelledPackageIds()))
                            && (($package->getStatus() !== $this->getEditedPackageStatus())
                                || $this->getIsLocked()
                                || $this->getModified()))
                        || ($isCanceled !== false)
                        || ($this->getIsDeliveredEdited());
                    ?>
                    <?php if (!$onlyButtons) { ?>
                    <button type="button" id="button-edit" class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        <?php echo $isDisabled ? 'disabled="disabled"' : '' ?>>
                        <?php echo $this->__('Please Select'); ?> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu edit-mode edit_package_options" aria-labelledby="button-edit">
                        <?php } ?>
                        <?php if (($onlyButtons && $isDisabled) || !$canChangeSuperorder || $packageDisabled || $missingSim) { ?>
                            <?php if ($onlyButtons) { ?>
                                <div class="disabled btn btn-xs btn-default pull-right">
                                    <?php echo $isIndirect ? $this->__('Adjust package') : $this->__('Adjust'); ?>
                                </div>
                                <div class="pull-right">&nbsp;</div>
                            <?php } else { ?>
                                <li>
                                    <a class="disabled" href="javascript:void(0);"><?php echo $isIndirect ? $this->__('Adjust package') : $this->__('Adjust'); ?></a>
                                </li>
                            <?php } ?>
                        <?php } else { ?>
                            <?php if ($onlyButtons) { ?>
                                <?php
                                $action = $hasShoppingCart ? 'editTopMenuPackage' : 'editTopMenuPackageWithoutModal';
                            ?>
                            <div class="btn btn-xs btn-primary pull-right"
                                 onclick="<?= $action ?>('<?php echo $superOrder->getOrderNumber(); ?>','<?php echo $superOrder->getId(); ?>','<?php echo $package->getPackageId(); ?>', <?php echo (int)$package->isDelivered() ?>, <?php echo $superOrder->getCustomerId(); ?>)">
                                <?php echo $isIndirect ? $this->__('Adjust package') : $this->__('Adjust'); ?>
                            </div>
                            <div class="pull-right">&nbsp;</div>
                        <?php } else { ?>
                            <li>
                                <a onclick="editPackage('<?php echo $package->getPackageId(); ?>', <?php echo (int)$package->isDelivered() ?>)" href="javascript:void(0)">
                                    <?php echo $isIndirect ? $this->__('Adjust package') : $this->__('Adjust'); ?>
                                </a>
                            </li>
                        <?php } ?>
                    <?php } ?>
                    <?php if (($onlyButtons && $isDisabled) || !$canCancelSuperorder || $missingSim) { ?>
                        <?php if ($onlyButtons) { ?>
                            <div class="disabled btn btn-xs btn-default pull-right">
                                <?php echo $isIndirect ? $this->__('Cancel package') : $this->__('Cancel'); ?>
                            </div>
                        <?php } else { ?>
                            <li>
                                <a class="disabled" href="javascript:void(0);">
                                    <?php echo $isIndirect ? $this->__('Cancel package') : $this->__('Cancel'); ?>
                                </a>
                            </li>
                        <?php } ?>
                    <?php } else { ?>
                        <?php
                        if ($package->getOneOfDeal() && !$superOrder->hasChildren() && !$superOrder->hasParents()) {
                            $action = 'cancelOneOffPackages();';
                            $topMenu = 1;
                        } elseif ($package->isDelivered()) {
                            $action = 'cancelDeliveredPackage(' . $package->getPackageId() . ');';
                            $topMenu = 2;
                        } else {
                            $action = 'cancelPackage(' . $package->getPackageId() . ');';
                            $topMenu = 3;
                        }
                        if ($onlyButtons) {
                            $actionName = $hasShoppingCart ? 'cancelTopMenuPackage' : 'cancelTopMenuPackageWithoutModal';
                            $action = $actionName . '(\'' . $superOrder->getOrderNumber() . '\',\'' . $superOrder->getId() . '\',\'' . $package->getPackageId() . '\',\'' . $topMenu . '\',' . $superOrder->getCustomerId() . ');';
                        }
                        ?>
                        <?php if ($onlyButtons) { ?>
                            <div class="btn btn-xs btn-primary pull-right" onclick="<?php echo $action; ?>">
                                <?php echo $isIndirect ? $this->__('Cancel package') : $this->__('Cancel'); ?>
                            </div>
                        <?php } else { ?>
                            <li>
                                <a onclick="<?php echo $action; ?>" href="javascript:void(0);">
                                    <?php echo $isIndirect ? $this->__('Cancel package') : $this->__('Cancel'); ?>
                                </a>
                            </li>
                        <?php } ?>
                        <?php unset($action); ?>
                    <?php } ?>
                    <?php if (!$onlyButtons) { ?>
                        <?php if (in_array(
                            Mage::app()->getWebsite()->getCode(),
                            array(Vznl_Agent_Model_Website::WEBSITE_RETAIL_CODE, Vznl_Agent_Model_Website::WEBSITE_BELCOMPANY_CODE, Vznl_Agent_Model_Website::WEBSITE_INDIRECT_CODE)
                            )
                            && (in_array($package->getCreditcheckStatus(), [Vznl_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_APPROVED]))
                            &&!$package->isDelivered()
                            && !($package->getApproveOrder() && $package->getContractSignDate())
                            && ($package->needsApprovePackage() || $package->isRetention())
                        ) {
                            if ((!$this->getDeliveryInThisStore() && Mage::app()->getWebsite()->getCode() != Vznl_Agent_Model_Website::WEBSITE_INDIRECT_CODE) ||count($cancelledPackagesNow) > 0 || !$canChangeSuperorder || $package->getDeliveryOrder()->getShippingAddress()->getDeliveryStoreId() != $loggedInAgent->getDealerId()) {
                                $deliverOrderLi = "<li><a class='disabled' href='javascript:void(0)'>".$this->__('Deliver Order')."</a></li>";
                                echo $package->getContractSignDate() ? '' : $deliverOrderLi;
                            } else { ?>
                                <li>
                                    <a class="<?php echo $isDisabled ? '' : 'delivery_enabled'; ?>"
                                       onclick="deliverOrder('<?php echo $this->getSuperOrder()->getOrderNumber(); ?>', '<?php echo $package->getPackageId(); ?>')"
                                       href="javascript:void(0)">
                                        <?php echo $this->__('Deliver Order'); ?>
                                    </a>
                                </li>
                            <?php } ?>
                        <?php } ?>
                    <?php } ?>
                    <?php
                    if ($agentHelper->isIndirectStore()) {
                        $portingApproved = $package->getPortingStatus() == Vznl_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_NP_AUTHORIZED;
                        // Check if the porting date is not set or in the future
                        $portingDateInFuture = !$package->getActualPortingDate() || (now() < $package->getActualPortingDate());
                        if (!$package->getImei() && $portingApproved && $portingDateInFuture) {
                            if ($onlyButtons) {
                                $action = $hasShoppingCart ? 'registerImeiTopMenuPackage' : 'registerImeiTopMenuPackageWithoutModal';
                                $params = sprintf(
                                    "'%s','%s',%s",
                                    $superOrder->getOrderNumber(),
                                    $superOrder->getId(),
                                    $superOrder->getCustomerId()
                                );
                                ?>
                                <div class="pull-right">&nbsp;</div>
                                <div class="btn btn-xs btn-primary pull-right" onclick="<?php echo $action; ?>(<?php echo $params; ?>)">
                                    <?php echo $this->__('Fill in IMEI'); ?>
                                </div>
                                <?php
                            } else {
                                ?>
                                <li>
                                    <a href="<?php echo $this->getUrl('checkout/cart/registerImei') ?>">
                                        <?php echo $this->__('Fill in IMEI'); ?>
                                    </a>
                                </li>
                                <?php
                                }
                            }
                        }
                        ?>
                        <?php if (!$onlyButtons) { ?>
                    </ul>
                <?php } ?>
                </div>
            <?php } elseif ($onlyButtons && $package->isMobile()) { ?>
                <div class="pull-right fixed-buttons">
                    <div class="disabled btn btn-xs btn-default pull-right">
                        <?php echo $isIndirect ? $this->__('Adjust package') : $this->__('Adjust'); ?>
                    </div>
                    <div class="pull-right">&nbsp;</div>
                    <div class="disabled btn btn-xs btn-default pull-right">
                        <?php echo $isIndirect ? $this->__('Cancel package') : $this->__('Cancel'); ?>
                    </div>
                    <?php
                    if ($agentHelper->isIndirectStore()) {
                        $portingApproved =  $package->getPortingStatus() == Vznl_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_NP_AUTHORIZED;
                        // Check if the porting date is not set or in the future
                        $portingDateInFuture = !$package->getActualPortingDate() || (now() < $package->getActualPortingDate());

                        if (!$package->getImei() && $portingApproved && $portingDateInFuture) {
                            if ($onlyButtons) {
                                $action = 'loadRegisterImei';
                                $params = sprintf("'%s','%s'", $superOrder->getOrderNumber(), $superOrder->getCustomer()->getId());
                                ?>
                                <div class="pull-right">&nbsp;</div>
                                <div class="btn btn-xs btn-default pull-right"
                                     onclick="<?php echo $action; ?>(<?php echo $params; ?>)">
                                    <?php echo $this->__('Fill in IMEI'); ?>
                                </div>
                                <?php
                            } else {
                                ?>
                                <li>
                                    <a href="<?php echo $this->getUrl('checkout/cart/registerImei') ?>">
                                        <?php echo $this->__('Fill in IMEI'); ?>
                                    </a>
                                </li>
                                <?php
                            }
                        }
                    }
                    ?>
                </div>
            <?php } ?>

            <?php if (Mage::helper('agent')->isTelesalesLine() && !$onlyButtons && $showReturnButton && !$isCanceled && $isDelivered && !$isOrderClosed && $package->isMobile()) { ?>
                <button class="btn btn-primary test" type="button"
                        id="return_button_<?php echo $package->getPackageId(); ?>"
                        onclick="checkout.registerReturn(<?php echo $package->getPackageId(); ?>);">
                    <?php echo $this->__('Register return'); ?>
                </button>
            <?php } ?>
            <?php if (!$onlyButtons) { ?>
        </td>
    </tr>
<?php } ?>

<?php if (
    (Mage::registry('creditCheckPerformed') && $package->getSuperOrder()->isEditable($this->getDeliveryInThisStore()))
    || $onlyButtons
) { ?>
    <script type="text/javascript">
      var editOrderPackageButtons = true;
    </script>
<?php } ?>
