<?php
/**
 * Copyright (c) 2018. Dynacommerce B.V.
 */

/** @var Vznl_Customer_Helper_Data $customer */
$customer = Mage::getSingleton('customer/session')->getCustomer();
$customerIsBusiness = $customer->getIsBusiness();
$onlyButtons = $this->getOnlyShowButtons();
$defaultPackageType = Mage::getModel('package/package')->getDefaultPackageType();
$productGroupCollection = array();
foreach ($defaultPackageType as $type) {
    $defaultProductOrder = Mage::getModel('package/package')->getDefaultProductOrder($simcard = false, $type);
    $productGroupCollection = array_merge($defaultProductOrder,$productGroupCollection);
}
$oldProductGroup = $productGroupCollection[0];
$agent = Mage::getSingleton('customer/session')->getAgent();
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();
$loggedInAgent = Mage::getSingleton('customer/session')->getAgent(true);
$cancelledPackagesNow = Mage::registry('cancelledPackagesNow') ?: [];
$canChangeSuperorder = $loggedInAgent->canDoActionOnSuperorderPackage(
    Vznl_Agent_Model_Agent::AGENT_CHANGE_PACKAGE,
    $this->getSuperOrder()
);
$canCancelSuperorder = $loggedInAgent->canDoActionOnSuperorderPackage(
    Vznl_Agent_Model_Agent::AGENT_CANCEL_PACKAGE,
    $this->getSuperOrder()
);
$isOrderClosed = $this->getSuperOrder()->getOrderStatus() == Vznl_Superorder_Model_Superorder::SO_CLOSED;
/** @var Vznl_Package_Model_Package $package */
$package = $this->getPackage();
$packageId = $package['package_id'];
$withBtw = Mage::getSingleton('customer/session')->showPriceWithBtw();
$package->setIsExtendedCart($this->getIsExtendedCart())->setWithBtw($withBtw)->setPackageId($packageId);

$packageDisabled = false;
/** @var Vznl_Superorder_Model_Superorder $superOrder */
$superOrder = $this->getSuperOrder();
$packageAllowPortingEdit = $package->allowNumberPortingEdit((bool) $package->getCurrentNumber());
$missingSim = $superOrder->getMissingSim();

if (!$packageAllowPortingEdit) {
    $packageDisabled = (bool) $package->getCurrentNumber();
}
$hasShoppingCart = (bool) Mage::getModel('checkout/cart')->getQuote()->getPackages();
$packageHelper = Mage::helper('dyna_package');      
$helper = Mage::helper('dyna_checkout');
?>

<?php if (!$onlyButtons) : ?>
    <?php foreach ($productGroupCollection as $productGroup) : ?>
        <?php
        $packageData = $package->getDisplayFor($productGroup, $this->getItems());
        $sectionTotals = Mage::helper('vznl_configurator')->calculatePackageSectionTotals($packageItems, true);
        ?>
        <?php if ($packageData) : ?>
            <?php $section = strtolower($productGroup); ?>
            <?php foreach ($packageData as $qo_id => $data) : ?>
                <?php if ($oldProductGroup != $productGroup) : ?>
                    <?php if ($section != strtolower(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE_SUBSCRIPTION) && $section != strtolower(Vznl_Catalog_Model_Type::SUBTYPE_SIMCARD))  : ?>
                        <div class="orderline-price-section-header">
                            <table class="orderline-section-table">
                                <tr>
                                    <td style="vertical-align: middle;"><?php echo $this->__(ucfirst($packageHelper->getPackageSubtype($package->getType(), $section, true))); ?></td>
                                    <td><?php echo $this->__('Monthly') ?></td>
                                    <?php if (!$isIndirect) : ?>
                                        <td><?php echo $this->__('Upfront') ?></td>
                                    <?php endif; ?>
                                </tr>
                            </table>
                        </div>
                    <?php endif; ?>
                    <?php $oldProductGroup = $productGroup; ?>
                <?php endif; ?>
                <?php
                $counts = [];
                $index = 0;
                $row = 0;
                foreach ($data['image'] as $id => $image) {
                    if ($image == '') {
                        $index++;
                    } else {
                        $index = 1;
                        $row = $id;
                    }
                    $counts[$row] = $index;
                }
                ?>
                <?php if (count($data['image']) > 0) : ?>
                <div class="orderline-price-section-content">
                    <table class="orderline-section-table">
                        <?php for ($i = 0; $i < count($data['image']); $i++) : ?>
                            <tr>
                                <td style="vertical-align: middle;">
                                    <?php echo isset($data['name'][$i]) ? $data['name'][$i] : ''; ?>
                                    <?php if (isset($data['iltRequired']) && $data['iltRequired'] && $i === 0 && (!$customer || !$customerIsBusiness)) : ?>
                                        <span class="generic_tool_tip_container">
                                            <img src="/skin/frontend/vznl/default/images/ilt_icon.png" alt="ILT" onerror="this.src='/skin/frontend/vznl/default/images/ilt_icon.png'" height="15px" width="15px" />
                                            <div class="generic_tool_tip">
                                                <?php echo $this->__('In this monthly handset payment, an income test is necessary'); ?>
                                            </div>
                                        </span>
                                    <?php endif; ?>
                                </td>
                                <td><?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?></td>
                                <?php if (!$isIndirect) : ?>
                                    <td><?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?></td>
                                <?php endif; ?>
                            </tr>
                        <?php endfor; ?>
                    </table>
                </div>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>


<?php
$packageTotals = $package->getPackageTotals($this->getItems());
$cancelledPackages = $onlyButtons ? ($package->isCancelled() ? [$package->getPackageId()] : []) : Mage::helper('omnius_package')->getCancelledPackages();
$isCanceled = in_array($package->getPackageId(), array_merge($cancelledPackages, $cancelledPackagesNow)) || strtotime($package->getCancellationDate()) > 0;
$labelClass = ($isCanceled !== false) ? 'striked ' : '';
$totalsClass = $labelClass . 'red';
$isDelivered = $package->isDelivered();
?>
<?php if (in_array($package->getPackageId(), $this->getModifiedPackageIds()) && $isDelivered) { ?>
    <?php $packageDiffPrice = Mage::helper('omnius_package')->getPackageDifferences($package->getPackageId()); ?>
    <?php $totalsClass = $labelClass; ?>
<?php } ?>

<div class="orderline-total-price-section">
    <table class="orderline-section-table">

        <tr class="orderline-section-table-price-row">
            <td><?php echo $this->__('Excl. VAT'); ?></td>
            <td class="<?php echo $labelClass; ?>"><?php echo Mage::helper('core')->currency($packageTotals['subtotal_maf'], true, false); ?></td>
            <?php if(!$isIndirect) {?>
                <td class="<?php echo $labelClass; ?>"><?php echo Mage::helper('core')->currency($packageTotals['subtotal_price'], true, false); ?></td>
            <?php } ?>

        </tr>
        <tr>
            <td><?php echo $this->__('VAT'); ?></td>
            <td class="<?php echo $labelClass; ?>"><?php echo Mage::helper('core')->currency($packageTotals['tax_maf'], true, false); ?></td>
            <?php if(!$isIndirect) {?>
                <td class="<?php echo $labelClass; ?>"><?php echo Mage::helper('core')->currency($packageTotals['tax_price'], true, false); ?></td>
            <?php } ?>
        </tr>
        <tr>
            <td><?php echo $this->__('Package total incl. VAT'); ?></td>
            <td class="<?php echo $totalsClass; ?>"><strong><?php echo Mage::helper('core')->currency($packageTotals['total_maf'], true, false); ?></strong></td>
            <?php if(!$isIndirect) {?>
                <td class="<?php echo $totalsClass; ?>"><?php echo Mage::helper('core')->currency($packageTotals['total'], true, false); ?></strong></td>
            <?php } ?>
        </tr>
        <?php
        /** @var Vznl_Checkout_Helper_Data $checkoutHelper */
        $checkoutHelper = Mage::helper('omnius_checkout');
        if (isset($packageDiffPrice) && $isDelivered) :
            if ($packageDiffPrice > 0) {
                $toBePaid = Mage::registry('to_pay_amount');
                Mage::unregister('to_pay_amount');
                if ($toBePaid) {
                    $toBePaid[$package->getPackageId()] = $packageDiffPrice;
                } else {
                    $toBePaid = [$package->getPackageId() => $packageDiffPrice];
                }
                Mage::register('to_pay_amount', $toBePaid, true);
                Mage::getSingleton('customer/session')->setToPayAmount($toBePaid);
            }
            ?>
        <tr>
            <td><?php echo $checkoutHelper->__($packageDiffPrice >= 0 ? $this->__('Payment') : $this->__('Refund')); ?></td>
            <td></td>
            <?php if(!$isIndirect) {?>
                <td></td>
            <?php } ?>
        </tr>
        <?php endif; ?>
    </table>
</div>
