<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/** @var Omnius_Package_Model_Package $package */
$package = $this->getPackage();
$items = $this->getItems() ?: array();
$showReturn = false;
$showCancelled = false;
if ($package->getReturnDate()) {
    $showReturn = true;
} elseif ($package->getCancellationDate()) {
    $showCancelled = true;
}
if($showReturn) { ?>
    <div class="col-sm-12 title"><?php echo $this->__('Items return');?></div>
    <div class="section-content">
        <div class="row">
            <div class="col-sm-6"><?php echo $this->__('By user'); ?>:</div>
            <div class="col-sm-6"><?php echo $package->getReturnedBy();?></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><?php echo $this->__('Return date'); ?>:</div>
            <div class="col-sm-6"><?php echo date('d-m-Y', strtotime($package->getReturnDate()));?></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><?php echo $this->__('Package is complete'); ?>:</div>
            <div class="col-sm-6"><?php echo __($package->getCompleteReturn() == 1 ? 'Yes' : 'No');?></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><?php echo $this->__('Products are undamaged'); ?>:</div>
            <div class="col-sm-6"><?php echo __($package->getNotDamagedItems() == 1 ? 'Yes' : 'No');?></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><?php echo $this->__('Products'); ?>:</div>
            <div class="col-sm-6"><?php
            $packageProductNames = [];
            /** @var Dyna_Checkout_Model_Sales_Quote_Item $item */
            foreach ($package->getAllVisibleItems() as $item) {
                $product = $item->getProduct();
                if (!$product->isOfHardwareType()) {
                    continue;
                }
                $packageProductNames[] = $item->getName();
            }
            echo implode('<br />', $packageProductNames);
            ?></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><?php echo $this->__('Remarks'); ?>:</div>
            <div class="col-sm-6"><?php echo $package->getReturnNotes();?></div>
        </div>

    </div>
    <?php } if ($showCancelled) {?>
        <div class="row">
            <div class="title col-sm-6 return-note-margin"><?php echo $this->__('Items return');?></div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-6"><?php echo $this->__('By user'); ?>:</div>
                <div class="col-sm-6"><?php echo $package->getReturnedBy() ?></div>
            </div>
            <div class="row">
                <div class="col-sm-6"><?php echo $this->__('Date'); ?>:</div>
                <div class="col-sm-6"><?php echo date('d-m-Y',strtotime($package->getCancellationDate())); ?></div>
            </div>
            <div class="row">
                <div class="col-sm-6"><?php echo $this->__('Return reason'); ?>:</div>
                <div class="col-sm-6"><?php echo $this->__($package->getRefundReason() ? 'Yes' : 'No'); ?></div>
            </div>
            <div class="row">
                <div class="col-sm-6"><?php echo $this->__('Return method'); ?>:</div>
                <div class="col-sm-6"><?php echo $this->__('Home Delivery'); ?></div>
            </div>
        </div>
    <?php } ?>
