<?php

/* @var Dyna_Checkout_Block_Cart_Steps_SaveIncomeTest $this */
$customerSession = $this->getCustomerSession();
$iltModel = null;
if ($this->getQuote()->getSuperOrderEditId()) {
    $superOrder = Mage::getModel('superorder/superorder')->load($this->getQuote()->getSuperOrderEditId());
    $repo = new Vznl_Ilt_Repository_SuperorderIlt();
    $iltModel = $repo->get($superOrder->getOrderNumber());
} else {
    $incomeTestData = Mage::getSingleton('checkout/session')->getIncomeTestData();
}

if (!is_null($iltModel)) {
    $incomeTestData['choice'] = 'fill-in-now';
    $incomeTestData['family_type'] = $iltModel->getFamilytype();
    $incomeTestData['income'] = $iltModel->getIncome();
    $incomeTestData['housing_costs'] = $iltModel->getHousingcosts();
    $incomeTestData['birth_middlename'] = $iltModel->getParty()->getBirthMiddlename();
    $incomeTestData['birth_lastname'] = $iltModel->getParty()->getBirthLastname();
}

if (empty($incomeTestData)) {
    $incomeTestData['choice'] = 'fill-in-now';

    if ($this->getQuote()->getSuperOrderEditId() && $superOrder->getIltSelectionInitial()) {
        $incomeTestData['choice'] = $superOrder->getIltSelectionInitial();
    }
    // When editing an order
    if ($customerSession->getOrderEditMode()) {
        if ($this->getQuote()->getSuperOrderEditId() && $superOrder->getIltSelectionInitial()) {
            $incomeTestData['choice'] = 'already-filled-in';
        }
    }
}
$cartPackages = $this->getCartPackages();
$packageCount = count($cartPackages);
$quote = $this->getQuote();
$imgDir = '/skin/frontend/vznl/default/images/';
$orderEditMode = !$this->getQuote()->getSuperOrderEditId() || $customerSession->getOrderEditMode();
$iltEmail = $incomeTestData['email'] ?? $this->getCustomerSession()->getCustomer()->getCorrespondanceEmail();
?>
<!-- Inkomens-/Lasten Toets
================================================== -->

<div class="section" data-ref="ilt">
    <!-- Income and Costs Information -->
    <section class="row form"  data-url="/checkout/index/saveIncomeTest" id="saveIncomeTest" data-validate="validate">
        <div class="col-sm-12">
            <h3><?php echo $this->__('Debt to income ratio'); ?></h3>
            <h4><?php echo $this->__('Device loan details'); ?></h4>
        </div>
        <div class="col-sm-12">
            <div class="radio-box">
                <div class="radio-item radio-collection" id="incomeradio">
                    <div class="radio" >
                        <label>
                            <input
                                data-required="true"
                                type="radio"
                                checked
                                <?php echo (isset($packageDisabled) && $packageDisabled) || !$orderEditMode ? 'disabled' : ''; ?>
                                name="incometest[choice]"
                                data-fill-name="fill-income"
                                data-fill-value="<?php echo $this->__('Provide now'); ?>"
                                value="fill-in-now"
                                id="fill-now"
                                onchange="summaryDataSynchronization(jQuery(this))"
                            />
                            <span class="circle"></span><span class="check"></span>
                            <?php echo $this->__('Provide now'); ?>
                        </label>
                    </div>
                    <div class="radio-popdown" id="fill-in-now">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="content-separator">
                                    <div class="content-separator-title"><?php echo $this->__('Personal details') ?></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <p id="customer-details-ils" class="pbl"></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group label-floating">
                                    <div class="input-wrapper select-wrapper">
                                        <label class="control-label"><?php echo $this->__('Family composition') ?></label>
                                        <select class="form-control" name="family_type_select" id="family-type" oninput="summaryDataSynchronization(jQuery(this))" onchange="summaryDataSynchronization(jQuery(this))">
                                            <option></option>
                                            <?php foreach (Mage::helper('ilt')->getAllowedFamilyTypes() as $familyType) { ?>
                                                <option value="<?php echo $familyType ?>" <?php echo(isset($incomeTestData['family_type']) && $incomeTestData['family_type'] == $familyType ? 'selected' : ''); ?>>
                                                    <?php echo $this->__($familyType); ?>
                                                </option>
                                            <?php } ?>
                                        </select>
                                        <input data-required="true" type="hidden" name="incometest[family_type]" id="validate-family-type"
                                        value="<?php echo(isset($incomeTestData['family_type']) ? $incomeTestData['family_type'] : '') ?>">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group label-floating" id="singlecustomer">
                                    <div class="input-wrapper">
                                        <label class="control-label"><?php echo $this->__('Insertion') ?></label>
                                        <input
                                            id="birth-name-prefix"
                                            type="text"
                                            name="incometest[birth_middlename]"
                                            class="form-control validate-name"
                                            value="<?php echo isset($incomeTestData['birth_middlename']) ? $incomeTestData['birth_middlename'] : '' ?>"
                                            oninput="summaryDataSynchronization(jQuery(this))"
                                            onchange="summaryDataSynchronization(jQuery(this))"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group label-floating" id="singlecustomername">
                                    <div class="input-wrapper">
                                        <label class="control-label"><?php echo $this->__('Last name (birth name)') ?></label>
                                        <input
                                            id="birth-name"
                                            type="text"
                                            name="incometest[birth_lastname]"
                                            data-required="true"
                                            class="form-control validate-name"
                                            value="<?php echo isset($incomeTestData['birth_lastname']) ? $incomeTestData['birth_lastname'] : '' ?>" oninput="summaryDataSynchronization(jQuery(this))" onchange="summaryDataSynchronization(jQuery(this))"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="content-separator">
                                    <div class="content-separator-title"><?php echo $this->__('Situation income') ?></div>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group label-floating">
                                    <div class="input-wrapper">
                                        <label class="control-label"><?php echo $this->__('Net monthly (family) income') ?></label>
                                        <input type="text" id="net-income" data-required="true" name="incometest[income]"
                                        class="form-control hidden-non-password"
                                        value="<?php echo isset($incomeTestData['income']) ? $incomeTestData['income'] : '' ?>">
                                    </div>
                                    <span
                                        class="info_icon tip-trig-hover"
                                        data-placement="left"
                                        data-original-title="<?php echo $this->__('The amount that remains from the gross salary and is deposited into your bank account'); ?>"
                                        data-container="#checkout-wrapper"
                                        data-html="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-secondary icon inline" id="showIncome">
                                  <span class="btn-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                      <path d="M0 0h24v24H0z" fill="none"/>
                                      <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z" fill="currentColor" />
                                    </svg>
                                  </span>
                                </button>
                                <button class="btn btn-secondary icon hidden inline" id="hideIncome">
                                  <span class="btn-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                      <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none"/>
                                      <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"  fill="currentColor" />
                                    </svg>
                                  </span>
                                </button>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group label-floating">
                                    <div class="col-md-12 input-wrapper">
                                        <label class="control-label"><?php echo $this->__('Housing costs') ?></label>
                                        <input type="text" id="housing-costs" data-required="true"
                                        name="incometest[housing_costs]"
                                        class="form-control input-sm hidden-non-password"
                                        value="<?php echo isset($incomeTestData['housing_costs']) ? $incomeTestData['housing_costs'] : '' ?>">
                                    </div>
                                    <span
                                    class="info_icon tip-trig-hover"
                                    data-placement="left"
                                    data-original-title="<?php echo $this->__('Monthly housing costs (rent or mortgage)'); ?>"
                                    data-container="#checkout-wrapper"
                                    data-html="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-secondary icon inline" id="showHousingCosts">
                                    <span class="btn-content">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z" fill="currentColor" />
                                        </svg>
                                    </span>
                                </button>
                                <button class="btn btn-secondary icon hidden inline" id="hideHousingCosts">
                                    <span class="btn-content">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                          <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none"/>
                                          <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"  fill="currentColor" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="radio-item radio-collection">
                    <div class="radio" id="block-fill-in-later">
                        <label>
                            <input
                                data-required="true"
                                type="radio"
                                <?php echo !$orderEditMode || (isset($packageDisabled) && $packageDisabled) ? 'disabled' : ''; ?>
                                name="incometest[choice]"
                                data-fill-name="fill-income"
                                data-fill-value="<?php echo $this->__('Provide later on'); ?>"
                                value="fill-in-later"
                                id="fill-later"
                                onchange="summaryDataSynchronization(jQuery(this))"
                            /><span class="circle"></span><span class="check"></span>
                            <?php echo $this->__('Provide later on');?>
                        </label>
                    </div>
                    <div class="radio-popdown">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group label-floating">
                                    <div class="input-wrapper">
                                        <label class="control-label"><?php echo $this->__('Email');?></label>
                                        <input type="text" data-required="true" type="text" name="incometest[email]"
                                        class="form-control input-sm validate-email validate-backend-email"
                                        value="<?php echo $iltEmail ?>"> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <p><?php echo $this->__('The customer receives a link for completing the income and expense check. Valid already provided data will remain available.')?></p>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="radio-item radio-collection">
                    <div class="radio">
                        <label>
                            <input
                                data-required="true"
                                type="radio"
                                <?php echo !$orderEditMode || (isset($packageDisabled) && $packageDisabled) ? 'disabled' : ''; ?>
                                name="incometest[choice]"
                                data-fill-name="fill-income"
                                data-fill-value="<?php echo $this->__('Already filled in (Only for existing Vodafone customers)'); ?>"
                                value="already-filled-in"
                                id="fill-already"
                                onchange="summaryDataSynchronization(jQuery(this))"
                            /><span class="circle"></span><span class="check"></span>
                            <?php echo $this->__('Already filled in (Only for existing Vodafone customers)'); ?>
                        </label>
                    </div>
                    <div class="radio-popdown">
                        <div class="row">
                            <div class="col-sm-12">
                                <p><?php echo $this->__('This option can only be entered if the customer has previously passed on his / her income and expenses to Vodafone.');?> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section footer -->
    <section class="row">
        <div class="col-sm-12">
            <div class="section-footer-wrapper">
                <div class="section-footer">
                    <div class="col-sm-8">
                        <a class="arrow-back" href="/"><?php echo $this->__('Back to configuration'); ?></a>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-inverted pull-right btn-next">
                            <span class="btn-content"><?php echo $this->__('Next'); ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="summary">
        <div class="head">
            <h3><?php echo $this->__('Debt to income ratio'); ?></h3>
            <button class="btn-edit pull-right"></button>
        </div>
        <div class="section-head">
            <h5><?php echo strtoupper($this->__('Device loan details')); ?></h5>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-6"><?php echo $this->__('Method'); ?>:</div>
                <div class="col-sm-6">
                    <span class="fill-income-summary"></span>
                </div>
            </div>
            <div class="row fill-income-details-summary hidden">
                <div class="col-sm-6"><?php echo $this->__('Family composition'); ?>:</div>
                <div class="col-sm-6">
                    <span class="family-type-summary"></span>
                </div>
            </div>
            <div class="row fill-income-details-summary hidden">
                <div class="col-sm-6"><?php echo $this->__('Last name (birth name)'); ?>:</div>
                <div class="col-sm-6">
                    <span class="birth-name-prefix-summary"></span>
                    <span class="birth-name-summary"></span>
                </div>
            </div>
        </div>
    </section>
</div>

