<?php
/** @var Vznl_Checkout_Block_Cart_Steps_SaveDeliveryAddress $this */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();
$isFixed = $quote->hasFixed();
$isOrderEdit = $this->getIsOrderEdit();

foreach ($quote->getAllItems() as $item) {
    $dispatchMethod = '';
    $paymentMethod = '';
    $dispatchArray = unserialize($item->getDispatchMethod());
    if (count($dispatchArray) > 0 && $dispatchMethod == '') {
        $dispatchMethod = $dispatchArray[0];
    }
    $paymentMethodArray = unserialize($item->getPaymentMethod());
    if (count($paymentMethodArray) > 0 && $paymentMethod == '') {
        $paymentMethod = $paymentMethodArray[0];
    }
}
$serviceAddress = unserialize($quote->getServiceAddress());
$serviceStreet = isset($serviceAddress["street"]) ? $serviceAddress["street"] : '';
$serviceHouseNumber = isset($serviceAddress["housenumber"]) ? $serviceAddress["housenumber"] : '';
$serviceHouseNumberAddition = isset($serviceAddress["housenumberaddition"]) ? $serviceAddress["housenumberaddition"] : '';
$servicePostalCode = isset($serviceAddress["postalcode"]) ? $serviceAddress["postalcode"] : '';
$serviceCity = isset($serviceAddress["city"]) ? $serviceAddress["city"] : '';
$singleOrderPackageId = 0;


$quoteBillingAddress = $quote->getBillingAddress();
$selectedBillingOption = 'same_as_service_address';
$serviceAddress = unserialize($quote->getServiceAddress());

$savedBillingAddress = ['postcode' => '', 'houseno' => '', 'addition' => ''];

// In case of different address for billing than service address, mark proper option
if( !empty($quoteBillingAddress->getData('postcode')) ) {
    if (!isset($serviceAddress['houseaddition'])) $serviceAddress['houseaddition'] = '';
    if ($serviceAddress['postalcode'] != $quoteBillingAddress->getData('postcode') ||
        $serviceAddress['city'] != $quoteBillingAddress->getData('city') ||
        $serviceAddress['street'] != $quoteBillingAddress->getStreet(1) ||
        $serviceAddress['housenumber'] != $quoteBillingAddress->getStreet(2) ||
        $serviceAddress['houseaddition'] != $quoteBillingAddress->getStreet(3) ) {
        $selectedBillingOption = 'another_address';
        $savedBillingAddress['postcode'] = $quoteBillingAddress->getData('postcode');
        $savedBillingAddress['houseno'] = $quoteBillingAddress->getStreet(2);
        $savedBillingAddress['addition'] = $quoteBillingAddress->getStreet(3);
    }
}

?>

<!-- payment
================================================== -->
<div class="bs-docs-section hidden">
    <form class="cart" action="savePaymentAddress" method="post" role="form" id="savePaymentAddress">
        <div class="checkout-section">
            <div class="checkout-content">
                <div class="checkout-content-body checkout-content-naked">
                    <p class="section-header-capitals">
                        <?php echo $this->__('Payment'); ?>
                    </p>
                    <div id="not-on-stock" class="bg-dark hidden">
                        <strong><?php echo $checkoutHelper->__('Split delivery required; not all products in stock in the store'); ?></strong>
                    </div>
                    <div id="delivery-payment">
                        <div class="row">
                            <div id="delivery-type" class="col-md-6">
                                <div class="row col-md-12">
                                    <h6><strong><?php echo $checkoutHelper->__('Billing Address'); ?></strong></h6>
                                    <!-- Delivery method -->
                                    <div class="btn-group" id="address_type" data-type="delivery"
                                         data-input="address_type">
                                        <button type="button" id="address_type_text" name="address_type"
                                                class="btn btn-default text"><?php echo $this->__('Choose'); ?></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <?php
                                            $paymentOptions = $checkoutHelper->getBillingAddressOptions();
                                            foreach ($paymentOptions as $paymentValue => $paymentOption) {
                                                ?>
                                                <li>
                                                    <a data-value="<?php echo $paymentValue ?>" class="selected-option<?php if ($paymentValue == $selectedBillingOption) {?> js-seleted<?php } ?>"
                                                       href="javascript:void(0)"><?php echo $this->__($paymentOption); ?></a>
                                                </li>
                                                <?php
                                            }
                                            ?>
                                        </ul>
                                    </div>
                                </div>

                                <input type="hidden" id="delivery_address" name="address_type" value=""/>

                                <div id="same_as_service_address" class="row col-md-12 fixed_billing_address">
                                    <div class="clearfix pakket">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php
                                                echo $serviceStreet . " " . $serviceHouseNumber . " " . $serviceHouseNumberAddition . " " . $servicePostalCode . " " . $serviceCity;
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="another_address" class="row col-md-12 fixed_billing_address hidden">
                                    <div class="clearfix pakket">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="radio">
                                                    <div data-package-id="0"
                                                         data-address-flag="delivery[deliver][other_address]"
                                                         class="search-address">
                                                        <?php if (!$isOrderEdit || ($isOrderEdit && !isset($singleOrderPackage[$singleOrderPackageId]['canceled']))): ?>
                                                            <!-- Search address -->
                                                            <div class="clearfix form-row-small search-address-form <?php echo $isFixed  ? "search-address-payment-fixed" :"";?>"">
                                                                <div class="col-xs-12">
                                                                    <div class="form-group">
                                                                        <label for="searchOtherAddress[postcode]">
                                                                            <?php echo $checkoutHelper->__('Postcode'); ?>
                                                                        </label>
                                                                        <input type="text"
                                                                               id="searchOtherAddress[postcode]"
                                                                               value="<?php echo $checkoutHelper->getTextValue($savedBillingAddress['postcode']);?>"
                                                                               class="form-control input-sm postcode-payment-fixed">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6">
                                                                    <div class="form-group">
                                                                        <label for="searchOtherAddress[houseno]">
                                                                            <?php echo $checkoutHelper->__('No.'); ?>
                                                                        </label>
                                                                        <input type="text"
                                                                               id="searchOtherAddress[houseno]"
                                                                               value="<?php echo $checkoutHelper->getTextValue($savedBillingAddress['houseno']);?>"
                                                                               class="form-control input-sm validate-number housenumber-payment-fixed">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6">
                                                                    <div class="form-group">
                                                                        <label for="searchOtherAddress[addition]">
                                                                            <?php echo $checkoutHelper->__('Add.'); ?>
                                                                        </label>
                                                                        <input type="text"
                                                                               id="searchOtherAddress[addition]"
                                                                               value="<?php echo $checkoutHelper->getTextValue($savedBillingAddress['addition']);?>"
                                                                               class="form-control input-sm validate-length maximum-length-10 addition-payment-fixed">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <?php endif; ?>
                                                        <!-- Search address results -->
                                                        <ul class="hidden otherAddressFound"><!-- Filled with ajax --></ul>
                                                        <!-- Other address details -->
                                                        <div class=" otherAddress">
                                                            <strong><?php echo $checkoutHelper->__('Address'); ?></strong>
                                                            <div class="delivery_address_details"><?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['html']) : ''; ?></div>
                                                            <?php if (!$isOrderEdit || ($isOrderEdit && !isset($singleOrderPackage[$singleOrderPackageId]['canceled']))): ?>
                                                                <a href="javascript:void(0)" class="editOtherAddress"
                                                                   onclick="editOtherAddress(this)"><?php echo $checkoutHelper->__('edit'); ?></a>
                                                            <?php endif; ?>
                                                            <div class="hidden">
                                                                <?php if($isFixed) { ?>
                                                                    <div class="form-group">
                                                                        <input type="hidden"
                                                                               id="otherFixedAddress[addressid]"
                                                                               name="otherFixedAddress[addressid]"
                                                                               class="form-control input-sm addressid-payment-fixed"
                                                                               value="" />
                                                                    </div>
                                                                <?php } ?>
                                                                <div class="clearfix form-row-small">
                                                                    <div class="col-xs-6">
                                                                        <div class="form-group">
                                                                            <input type="text" id="otherAddress[street]"
                                                                                   placeholder="<?php echo $checkoutHelper->__('Street'); ?>"
                                                                                   name="otherAddress[street]"
                                                                                   class="form-control input-sm"
                                                                                   value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['street_name']) : ''; ?>"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <div class="form-group">
                                                                            <input type="text"
                                                                                   id="otherAddress[houseno]"
                                                                                   placeholder="<?php echo $checkoutHelper->__('No.'); ?>"
                                                                                   name="otherAddress[houseno]"
                                                                                   class="form-control input-sm validate-number"
                                                                                   value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['houseno']) : ''; ?>"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <div class="form-group">
                                                                            <input type="text"
                                                                                   id="otherAddress[addition]"
                                                                                   placeholder="<?php echo $checkoutHelper->__('Add.'); ?>"
                                                                                   name="otherAddress[addition]"
                                                                                   class="form-control input-sm validate-length maximum-length-10"
                                                                                   value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['addition']) : ''; ?>"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix form-row-small">
                                                                    <div class="col-xs-4">
                                                                        <div class="form-group">
                                                                            <input type="text"
                                                                                   id="otherAddress[postcode]"
                                                                                   placeholder="<?php echo $checkoutHelper->__('Postcode'); ?>"
                                                                                   name="otherAddress[postcode]"
                                                                                   class="form-control input-sm"
                                                                                   value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['postcode']) : ''; ?>"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-8">
                                                                        <div class="form-group">
                                                                            <input type="text" id="otherAddress[city]"
                                                                                   placeholder="<?php echo $checkoutHelper->__('City'); ?>"
                                                                                   name="otherAddress[city]"
                                                                                   class="form-control input-sm"
                                                                                   value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['city']) : ''; ?>"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="javascript:void(0)"
                                                                   onclick="saveOtherAddress(this)"><?php echo $checkoutHelper->__('Save'); ?></a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="payment-type" class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 row-title">
                                        <p>
                                            <?php echo $this->__('Monthly Charges'); ?>
                                        </p>
                                    </div>
                                    <div class="col-md-5">
                                        <label for="fixed_payment_method_monthly_charges">
                                            <?php echo $this->__('Payment Method'); ?>
                                        </label>
                                        <input type="text" id="fixed_payment_method_monthly_charges"
                                               name="fixed_payment_method_monthly_charges"
                                               class="form-control input-sm required-entry"
                                               value="<?php echo ($paymentMethod) ? $paymentMethod : 'Direct debit'; ?>"
                                               readonly="true"
                                               autocomplete="off">

                                    </div>
                                    <div class="col-md-5">
                                        <label for="fixed_bill_distribution_method">
                                            <?php echo $this->__('Bill distribution method'); ?>
                                        </label>
                                        <input type="text" id="fixed_bill_distribution_method"
                                               name="fixed_bill_distribution_method"
                                               class="form-control input-sm required-entry" readonly="true"
                                               value="<?php echo ($dispatchMethod) ? $dispatchMethod : 'Verplichte elektr fakt'; ?>"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 row-title">

                                    </div>
                                    <div class="col-md-5">
                                        <label for="fixed_iban">
                                            <?php echo $this->__('IBAN'); ?>
                                        </label>
                                        <input type="text" id="fixed_iban" name="account_number"
                                               class="form-control input-sm required-entry validate-iban-number validate-blacklist-check"
                                               value="<?php echo $quote->getCustomerAccountNumber();?>" autocomplete="off">
                                    </div>
                                    <div class="col-md-5">
                                        <label for="fixed_account_holder_name">
                                            <?php echo $this->__('Account holder name'); ?>
                                        </label>
                                        <input type="text" id="fixed_account_holder_name"
                                               name="account_holder_name"
                                               class="form-control input-sm required-entry validate-length maximum-length-40"
                                               value="<?php echo $quote->getCustomerAccountHolder();?>">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 row-title">
                                        <p>
                                            <?php echo $this->__('One time Charges'); ?>
                                        </p>
                                    </div>
                                    <div class="col-md-5">
                                        <label for="fixed_payment_method_one_time_charge">
                                            <?php echo $this->__('Payment Method'); ?>
                                        </label>
                                        <input type="text" id="fixed_payment_method_one_time_charge"
                                               name="fixed_payment_method_one_time_charge"
                                               class="form-control input-sm required-entry" readonly="true"
                                               value="<?php echo $this->__('Pay on bill'); ?>">
                                    </div>
                                </div>
                            </div><!-- END payment-type -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-section prev-next-section">
            <div class="checkout-content">
                <div class="checkout-content-body">
                    <div class="checkout-section-container dt">
                        <div class="tr">
                            <div class="tc al vm">
                                <a class="arrow-back" href="/"><?php echo $this->__('Back to configuration'); ?></a>
                            </div>
                            <div class="tc ar">
                                <button type="submit" data-step="savePaymentAddress" id="savePaymentAddressSubmit" class="btn btn-primary pull-right step">
                                    <?php echo $checkoutHelper->__('Next step'); ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>