<?php
/** @var Dyna_Package_Helper_Data $packageHelper */
$packageHelper = Mage::helper('dyna_package');
/** @var $this Vznl_Checkout_Block_Cart_Steps_SaveOverview */
$customerSession = $this->getCustomerSession();
$customerData = $customerSession->getCustomer();
$mobileCustomer = $customerData && $customerData->getBan();
$fixedCustomer = $customerData && $customerData->getPan();
$linkId = $customerData->getAccountIdentifierLinkid();
$customer = $customerSession->getCustomer()->getId();
$cartPackages = $this->getCartPackages();
$quote = Mage::getSingleton('checkout/cart')->getQuote();
$isFixed = $quote->hasFixed();
$quoteData = $this->getQuoteData();
$packages = $this->getPackages();
$agentHelper = Mage::helper('agent');
$isTelesales = $agentHelper->isTelesalesLine();
$isAssistedChannel = $agentHelper->isAssistedChannel();
$sortedPackages = $packageHelper->groupRedPlusPackages($packages);
$sortedPackages = $packageHelper->groupInstalledBaseBundlePackages($sortedPackages);
$isMobile = $quote->hasMobilePackage();
$dealer = $agentHelper->getDealerData();
$callCenterActivity = $dealer->getCallCenterActivity();
$isBusiness = $customerSession->getCustomer()->getIsSoho();

if (!$isBusiness && $quote->getCustomer()->getIsBusiness()) {
    $isBusiness = true;
}

$isDummyEmail = $quote->getDefaultValueForField('dummy_email', 'checkout');
$isGarantProductExistInCart = $this->getIsGarantCartProductsAvailable();
?>

<div class="section" data-ref="order-overview">
    <section class="row form" data-url="/checkout/index/saveOverview" id="saveOverview" data-validate="validate" style="margin-bottom:30px">
        <div class="col-sm-12">
            <h3><?php echo $this->__('Review Order') ?></h3>
        </div>
        <div class="col-sm-12">
            <h4><?php echo $this->__('Overview') ?></h4>
        </div>

        <div class="col-sm-12">
            <?php echo Mage::getSingleton('core/layout')->createBlock('dyna_configurator/rightsidebar')->setCheckout(true)->setExcludeForm(true)->setTemplate('customer/right_sidebar.phtml')->toHtml(); ?>
        </div>
        <div class="col-sm-12">
            <?php echo Mage::getSingleton('core/layout')->createBlock('checkout/cart_totals')->setTemplate('checkout/cart/totals_checkout.phtml')->setData('cart_sidebar', 'no')->setData('checkout', '1')->toHtml(); ?>
        </div>

        <?php if ($quote->isLoanRequired()) { ?>
            <div class="col-sm-12 save-overview-loan-banner">
                <div class="loan-banner"><img src="/skin/frontend/vznl/default/images/geld-lenen-kost-geld.svg" class="img-responsive" /></div>
            </div>
        <?php } ?>

        <?php if ($isFixed) { ?>
            <div class="col-sm-12">
                <div class="content-separator"></div>
            </div>

            <div class="col-sm-12">
                <div class="form-group label-floating">
                    <div class="input-wrapper">
                        <label class="control-label"><?php echo $this->__('Campaign ID') ?></label>
                        <input type="text" id="campaign_id" name="campaign_id" class="form-control input-sm validate-number validate-campaign-id" maxlength="6" value="<?php echo $quote->getData('campaign_id', 'checkout'); ?>"/>
                    </div>
                </div>
            </div>
        <?php } ?>

        <?php

        if ($callCenterActivity == 'multiskill' &&
            $isFixed &&
            $agentHelper->isTelesalesChannel() &&
            !$this->getCustomerSession()->getCustomer()->getIsSoho()):
        ?>
            <div class="col-sm-12">
                <div class="form-group label-floating">
                    <div class="input-wrapper select-wrapper">
                        <label class="control-label"><?php echo $this->__('Call Type') ?></label>
                        <select  id="written_consent" name="written_consent" class="form-control<?php echo ($callCenterActivity == 'multiskill') ? ' required-entry' : ''; ?>"  onchange="checkout.summaryDataSynchronization(jQuery(this))">
                            <option></option>
                            <option value="0"><?php echo $this->__('Inbound call') ?></option>
                            <option value="1" <?php echo ($quote->getFixedWrittenConsent()) ? ' selected="selected"' : '';?>>
                                <?php echo $this->__('Outbound call. Customer will receive a written consent') ?>
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        <?php endif ?>

        <div class="col-sm-12">
            <div class="content-separator"></div>
        </div>

        <?php if ($quote->isLoanRequired()) { ?>
            <div class="col-sm-12 mtm">
                <div class="checkbox-options">
                    <div class="checkbox-item checkbox" id="accept_loan_container">
                        <label>
                            <input type="checkbox"  type="checkbox" name="accept" id="accept_loan" value="1"
                                   onchange="checkout.acceptTerms(this)">
                            <span class="checkbox-material"><span class="check"></span></span>
                            <?php echo $this->__('Customer agrees with the') . ' '; ?>
                            <a href="https://www.vodafone.nl/support/abonnementen/alle-tarieven-en-voorwaarden.shtml" target="_blank"><?php echo $this->__('General credit terms'); ?></a>
                            <?php echo $this->__('of Vodafone') . ' '; ?>
                        </label>
                    </div>
                </div>
            </div>
        <?php } ?>

        <div class="col-sm-12 mtm">
            <div class="checkbox-options">
                <div class="checkbox-item checkbox">
                    <label>
                        <input type="checkbox" name="accept" id="accept_terms" value="1" onchange="checkout.acceptTerms(this)">
                        <span class="checkbox-material"><span class="check"></span></span>
                        <?php
                        if ($isMobile) {
                            echo $this->__('Customer agrees with the') . ' '; ?>
                            <a href="https://www.vodafone.nl/support/abonnementen/alle-tarieven-en-voorwaarden.shtml" target="_blank">
                               <?php echo $this->__('terms and conditions'); ?>
                            </a>
                            <?php if ( $isGarantProductExistInCart && !$agentHelper->isIndirectStore() ){
                                   $pdfHelper = Mage::helper('vznl_checkout/pdf');
                                   echo __('and the')?>
                                   <a href="<?php echo $pdfHelper->getAssurantIpidPLinkPath()?>" target="_blank">
                                      <?php echo $this->__('IPID'); ?>
                                   </a>
                            <?php }?>

                            <?php echo ' '.$this->__('and asks Vodafone to immediately start service') . '. ';
                        }
                        if ($isFixed) {
                            echo $this->__('Customer agrees with the') . ' ';
                            if ($isBusiness) { ?>
                                <a href="https://www.ziggo.nl/zakelijk/voorwaarden/" target="_blank">
                                    <?php echo $this->__('Ziggo terms and conditions') . ' '; ?>
                                </a>
                            <?php } else { ?>
                                <a href="https://www.ziggo.nl/voorwaarden/" target="_blank">
                                    <?php echo $this->__('Ziggo terms and conditions') . ' '; ?>
                                </a>
                            <?php }
                            echo $this->__('of Ziggo') . ' ';
                        }
                        ?>
                    </label>
                </div>
            </div>

            <?php $mobCustHasMobileOrder = $mobileCustomer && $isMobile;
            if (($mobCustHasMobileOrder) && !Mage::getSingleton('customer/session')->getOrderEdit()) {
                $additionalEmail = $quote->getDefaultValueForField('additional_email', 'checkout');
                $emails = explode(';', $additionalEmail); ?>
                <div class="content-separator"></div>
                <div class="form-group label-floating" style="margin-bottom: 30px;">
                  <div class="input-wrapper">
                    <label class="control-label"><?php echo $this->__('Email for communication');?></label>
                    <input type="text" id="email_overwrite" name="email_overwrite" class="form-control input-sm validate-email validate-backend-email-overwrite" value="<?php echo ($isDummyEmail ? '' : $emails[0]); ?>"/>
                  </div>
                </div>
            <?php } ?>


        </div>
    </section>
    <?php if (!Mage::getSingleton('customer/session')->getOrderEdit()) { ?>
        <!-- Section footer -->
        <section class="row">
            <div class="col-sm-12">
                <div class="section-footer-wrapper">
                    <div class="section-footer">
                        <a class="arrow-back" href="/"><?php echo $this->__('Back to configuration'); ?></a>
                        <div>
                            <input type="hidden" id="skip_store_ilt" name="skip_store_ilt" value="0"/>
                            <button id="submit" data-step="saveOverview" disabled class="btn<?php echo (!$isTelesales) ? ' btn-next':'' ?>">
                                <span class="btn-content"><?php echo ($isTelesales) ? $this->__('Confirm order'):$this->__('Next Step'); ?></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <?php } ?>
    <section class="summary"></section>
</div>
