<?php
    /** @var $this Vznl_Checkout_Block_Cart_Steps_SaveNumberPorting */
    $quote = $this->getQuote();
    $isMobile = $quote->hasMobilePackage(); // is Vodafone
    $isFixed = $quote->hasFixed();
    $customerSession = $this->getCustomerSession();
    $customerData = $customerSession->getCustomer();
    $cartPackages = $this->getCartPackages();
    $multiplePackages = $this->quoteHasMultiplePackages();

    $packages = $this->getPackages();
    $packageTitles = [];
    foreach($packages as $packageId => $package){
        $packageSubtype = $isFixed ? Vznl_Catalog_Model_Type::SUBTYPE_FIXED_PACKAGE : Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION;
        $packageTitles[$packageId] = array_merge($package, Mage::helper('vznl_package')->getTypeAndSubtypeTitle($package, $packageSubtype, Dyna_Catalog_Model_Product::GUI_COMMUNICATION));
    }
    $mobRet = false;
    foreach ($packages as $package) {
        if (in_array($package['type'], Vznl_Catalog_Model_Type::getMobilePackages())) {
            $mobRet = $package['sale_type'] == Vznl_Catalog_Model_ProcessContext::RETBLU ? true : false;
        }
    }

    foreach ($cartPackages as $key => $value) {
        if (in_array($value['type'], Vznl_Catalog_Model_Type::getMobilePackages())) {
            $mobilePkgs[$key] = $value;
        } else {
            $fixpkg[$key] = $value;
        }
    }
    if(!empty($mobilePkgs) && !empty($fixpkg))
        $cartPackages = $mobilePkgs+$fixpkg;

    $isCustomer = $customerData->getId();
    $mobileCustomer = $customerData && $customerData->getBan();
    $fixedCustomer = $customerData && $customerData->getPan();
    $linkedCustomer = $mobileCustomer && $fixedCustomer;
    $customer = $customerData && ($customerData->getBan() || $customerData->getPan());
    $accDetEditable = true;
    if ($linkedCustomer) {
        $accDetEditable = false;
    } else if (($mobileCustomer && $isFixed) || ($fixedCustomer && $isMobile)) {
        $accDetEditable = true;
    } else if (($mobileCustomer && $isMobile) || ($fixedCustomer && $isFixed)){
        $accDetEditable = false;
    }
    if ($isFixed) {
        $fixedBillingMethods = [];
        $fixedPaymentMethods = [];
        foreach ($quote->getAllItems() as $item) {
            if ($item->getPackageType() == 'int_tv_fixtel') {
                $dispatchArray = unserialize($item->getDispatchMethod());
                if (!empty($dispatchArray)) {
                    if (count(array_filter($dispatchArray)) > 0) {
                        $fixedBillingMethods = array_merge($fixedBillingMethods, $dispatchArray);
                    }
                }
                $paymentMethodArray = unserialize($item->getPaymentMethod());
                if (!empty($paymentMethodArray)) {
                    if (count(array_filter($paymentMethodArray)) > 0) {
                        $fixedPaymentMethods = array_merge($fixedPaymentMethods, $paymentMethodArray);
                    }
                }
            }
        }
        $fixedBillingMethods = array_unique($fixedBillingMethods);
        $fixedPaymentMethods = array_unique($fixedPaymentMethods);
    }

    $isIndirect = Mage::helper('agent')->isIndirectStore();
    $isRetail = Mage::helper('agent')->isRetailStore();
    $isTelesales = Mage::helper('agent')->isTelesalesLine();
    $serviceAddress = unserialize($quote->getServiceAddress());
    $serviceStreet = isset($serviceAddress["street"]) ? $serviceAddress["street"] : '';
    $serviceHouseNo = isset($serviceAddress["housenumber"]) ? $serviceAddress["housenumber"] : '';
    $serviceHouseNoAddition = isset($serviceAddress["housenumberaddition"]) ? $serviceAddress["housenumberaddition"] : '';
    $servicePostCode = isset($serviceAddress["postalcode"]) ? $serviceAddress["postalcode"] : '';
    $serviceCity = isset($serviceAddress["city"]) ? $serviceAddress["city"] : '';
    $serviceAddressStr = "".$serviceStreet . " " . $serviceHouseNo . " " . $serviceHouseNoAddition . " " . $servicePostCode . " " . $serviceCity."";

    $customerBillingAddress = Mage::getModel('customer/address')->load($customerData->getData('default_billing'));
    $billingAddress = $quote->getBillingAddress();
    $customerAddressStreet = $customerBillingAddress->getStreet('1');
    $customerAddressHN = $customerBillingAddress->getStreet('2');
    $customerAddressHNAdd = $customerBillingAddress->getStreet('3');
    $customerAddressId = $customerBillingAddress->getStreet('4');
    $customerAddressCity = $customerBillingAddress->getCity();
    $customerAddressPostcode = $customerBillingAddress->getPostcode();
    $customerAddressStr = "".$customerAddressStreet . " " . $customerAddressHN . " " . $customerAddressHNAdd . " " . $customerAddressPostcode . " " . $customerAddressCity."";
    if ($quote->isFixedIlsMove()) {
        $serviceAddressStr = $customerAddressStr;
    }
?>
<input type="hidden" id="isCustomer" name="isCustomer" value="<?php echo $isCustomer; ?>">
<div class="section" data-ref="payment">
    <section class="row form" data-url="/checkout/index/savePaymentMethod" id="savePaymentMethod" data-validate="validate">
        <input type="hidden" id="isFixedIlsMove" name="isFixedIlsMove" value="<?php echo $quote->isFixedIlsMove(); ?>">
        <input type="hidden" name="billingAdd[addressId]" value="<?php echo $customerAddressId; ?>">
        <input type="hidden" name="billingAdd[street]" value="<?php echo $customerAddressStreet; ?>">
        <input type="hidden" name="billingAdd[houseno]" value="<?php echo $customerAddressHN; ?>">
        <input type="hidden" name="billingAdd[addition]" value="<?php echo $customerAddressHNAdd; ?>">
        <input type="hidden" name="billingAdd[city]" value="<?php echo $customerAddressCity; ?>">
        <input type="hidden" name="billingAdd[postcode]" value="<?php echo $customerAddressPostcode; ?>">
        <div class="col-sm-12">
            <h3><?php echo $this->__('Payment options'); ?></h3>
        </div>
        <!--------------------------------START: monthly payment------------------------------------------->
        <div class="col-sm-12">
            <h4><?php echo $this->__('Monthly payment details'); ?></h4>
        </div>
        <div class="col-sm-12">
             <div class="radio-box">
                <div class="radio-item radio-collection checked" id="direct_debit">
                    <div class="radio">
                        <label>
                            <input type="radio" name="payment[monthly_method]"
                            data-fill-name="monthly-method" data-fill-value="<?php echo $this->__('Direct Debit');?>"
                            class="payment-validation-choice" value="direct_debit" checked
                            oninput="summaryDataSynchronization(jQuery(this))">
                            <span class="circle"></span><span class="check"></span>
                            <?= $this->__('Direct debit'); ?>
                        </label>
                    </div>
                    <?php $customerAccNoMasked = $quote->getDefaultValueForFieldMask('customer_account_number','checkout') ?  $quote->getDefaultValueForFieldMask('customer_account_number','checkout'): $quote->getDefaultValueForFieldMask('fixed_account_number','checkout');
                    $customerAccNo = $quote->getDefaultValueForField('customer_account_number','checkout') ?  $quote->getDefaultValueForField('customer_account_number','checkout'): $quote->getDefaultValueForField('fixed_account_number','checkout');
                    ?>
                    <div class="radio-popdown" id="payment_direct_debit">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group label-floating is-empty <?php echo (!$accDetEditable && $mobRet) ? 'disabled' : '';?>">
                                    <div class="input-wrapper">
                                        <label class="control-label"><?php echo $this->__('IBAN');?></label>
                                        <input <?php echo (!$accDetEditable && $mobRet) ? 'readonly disabled':'' ?>  type="text" name="payment[account_no]" id="direct-account-no" oninput=" summaryDataSynchronization(jQuery(this));" class="form-control input-sm required-entry validate-iban-number validate-blacklist-check" value="<?php echo ($customer) ? $customerAccNoMasked : $customerAccNo ;?>" data-toggle="tooltip">
                                    </div>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group label-floating <?php echo (!$accDetEditable && $mobRet) ? 'disabled' : '';?>">
                                    <div class="input-wrapper">
                                        <label class="control-label"><?php echo $this->__('Account holder');?></label>
                                        <input <?php echo (!$accDetEditable && $mobRet) ? 'readonly disabled':'' ?>
                                            type="text"
                                            oninput="summaryDataSynchronization(jQuery(this))"
                                            name="payment[account_holder]"
                                            id="direct-account-holder"
                                            value="<?php echo $quote->getCustomerAccountHolder();  ?>"
                                            class="form-control input-sm required-entry validate-length maximum-length-40 account-holder"
                                            data-toggle="tooltip"
                                        >
                                        <span class="validation-done-check hidden">
                                            <i class="glyphicon glyphicon-ok"></i></span>
                                    </div>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <?php if($multiplePackages && !($isMobile && !$isFixed)) { ?>
                    <div class="radio-item radio-collection" id="direct_debit">
                    <div class="radio">
                        <label>
                            <input type="radio" name="payment[monthly_method]"
                            class="payment-validation-choice" value="multiple_payment"
                            data-fill-name="monthly-method" data-fill-value="Multiple payment method"
                            oninput="summaryDataSynchronization(jQuery(this))">
                            <span class="circle"></span><span class="check"></span>
                            <?= $this->__('Customer uses multiple payment methods'); ?>
                        </label>
                    </div>
                    <div class="radio-popdown" id="customer_multiple_payment" data-ref="multiple-payment-methods">
                        <?php
                        $count = 0;
                        foreach ($cartPackages as $packageId => $package) {
                            $count++; ?>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="package-head">
                                        <?php $packageItems = explode(",", $package['name']);?>
                                        <?php ob_start(); ?>
                                        <ul>
                                            <?php foreach ($packageItems as $item ) : ?>
                                                <li><?= trim($item) ?></li>
                                            <?php endforeach; ?>
                                        </ul>
                                        <?php $packageItemsAsList = ob_get_clean(); ?>
                                        <div class="<?php echo (in_array($package['type'], Vznl_Catalog_Model_Type::getMobilePackages()))? 'package-head-icon':'package-head-fixedicon' ?>" ></div>
                                        <label>
                                            <h5>
                                                <?php echo $packageTitles[$packageId]['packageSubtypeTitle']; ?>
                                                <div class="tip-trig-hover-popover info-icon" data-placement="right" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                            </h5>
                                            <div class="packagetype"><?php echo $packageTitles[$packageId]['packageTitle']; ?></div>
                                        </label>
                                    </div>
                                </div>
                                <?php if (in_array($package['type'], Vznl_Catalog_Model_Type::getMobilePackages())) { ?>
                                    <div class="col-sm-12">
                                        <div class="radio-box">
                                            <div class="radio-item">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" checked data-package-id="<?php echo $packageId; ?>"
                                                        name="payment[direct_mobile_<?php echo $packageId; ?>]" class="mobile-payment-validation-choice" value="0" ><span class="circle"></span><span class="check"></span>

                                                        <?php echo $this->__($count == 1 ? 'Direct debit' :'Payment method is inherited from first mobile package'); ?>
                                                    </label>
                                                </div>
                                                <?php if ($count == 1) {?>
                                                <div class="radio-popdown">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group label-floating is-empty <?php echo (($mobileCustomer && $mobRet) || ($linkedCustomer)) ? 'disabled' : '';?>">
                                                                <div class="input-wrapper">
                                                                    <label class="control-label"><?php echo $this->__('IBAN');?></label>
                                                                    <input <?php echo ($mobileCustomer && $mobRet) ? 'readonly disabled':'' ?>  type="text"
                                                                    name="payment[account_no_mobile]" id="mobile-account-no"
                                                                    oninput="summaryDataSynchronization(jQuery(this));"
                                                                    onblur="copyIBANField(this);"
                                                                    class="form-control input-sm validate-iban-number validate-iban-number-mobile "
                                                                    value="<?php echo ($customer) ? $quote->getDefaultValueForFieldMask('customer_account_number','checkout') :$quote->getCustomerAccountNumber();?>"
                                                                    data-toggle="tooltip">
                                                                </div>
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group label-floating is-empty <?php echo (($mobileCustomer && $mobRet) || ($linkedCustomer)) ? 'disabled' : '';?>">
                                                                <div class="input-wrapper">
                                                                    <label class="control-label"><?php echo $this->__('Account holder'); ?></label>
                                                                    <input type="text" <?php echo ($mobileCustomer && $mobRet) ? 'readonly disabled':'' ?>
                                                                    name="payment[account_holder_mobile]"
                                                                    id="mobile-account-holder"
                                                                    class="form-control input-sm   validate-length maximum-length-40" value="<?php echo $quote->getCustomerAccountHolder();  ?>"
                                                                    oninput="summaryDataSynchronization(jQuery(this))">
                                                                    <span class="validation-done-check hidden"><i class="glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <?php  } else if ($package['type'] == 'int_tv_fixtel') {?>
                                <div class="col-sm-12">
                                    <div class="radio-box">
                                       <?php
                                        foreach ($fixedPaymentMethods as $paymentMethod) {
                                            if (strtolower($paymentMethod) == 'direct_debit') { ?>
                                                <?php if ($isMobile) {?>
                                                <div class="radio-item" id="payment_direct_debit_fixed">
                                                    <div class="radio direct-debit">
                                                        <label>
                                                            <input type="radio" checked name="payment[fixed_method]" class="fixed-payment-validation-choice" value="direct_debit_fixed" data-fill-name="fixed-method" data-fill-value="Direct debit"
                                                            oninput="summaryDataSynchronization(jQuery(this))">
                                                            <span class="circle"></span><span class="check"></span>
                                                            <p data-text="<?php echo $this->__('Direct debit via %s'); ?>" data-placeholder="<?php echo $this->__('same IBAN as first mobile package'); ?>">
                                                                <?php echo sprintf($this->__('Direct debit via %s'),  ($customer) ? $quote->getDefaultValueForFieldMask('customer_account_number','checkout') : $quote->getCustomerAccountNumber() ? (string)($customer) ? $quote->getDefaultValueForFieldMask('customer_account_number','checkout') : $quote->getCustomerAccountNumber() : $this->__('same IBAN as first mobile package')); ?>
                                                            </p>
                                                        </label>
                                                    </div>
                                                </div>
                                            <?php } ?>
                                            <div class="radio-item radio-collection" id="payment_direct_debit_fixed">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" <?php echo (!$isMobile)?'checked':''; ?>  name="payment[fixed_method]" class="fixed-payment-validation-choice" value="direct_debit_fixed_different" data-fill-name="fixed-method" data-fill-value="Direct debit"
                                                        oninput="summaryDataSynchronization(jQuery(this))">
                                                        <span class="circle"></span><span class="check"></span>
                                                        <?php echo $this->__($isMobile ? 'Direct debit by a different bank account' : 'Direct debit'); ?>
                                                    </label>
                                                </div>
                                                <div class="radio-popdown">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group label-floating is-empty">
                                                                <div class="input-wrapper input-dirty">
                                                                    <label class="control-label"><?php echo $this->__('IBAN');?></label>
                                                                    <input type="text" name="payment[account_no_fixed_different]" id="fixed-account-no-different" class="input-sm <?php echo ($customer) ? '': 'validate-iban-number validate-iban-number-fixed'?>" value="<?php echo (($customer) && $quote->getFixedAccountNumber()) ? $quote->getDefaultValueForFieldMask('fixed_account_number','checkout'): ''?> " oninput="summaryDataSynchronization(jQuery(this))" data-toggle="tooltip">
                                                                </div>
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group label-floating is-empty">
                                                                <div class="input-wrapper input-dirty">
                                                                    <label class="control-label"><?php echo $this->__('Account holder');?></label>
                                                                    <input type="text" id="fixed-account-holder-different" name="payment[account_holder_fixed_different]" class="form-control input-sm  validate-length maximum-length-40" value="<?php echo $quote->getFixedAccountHolder();  ?>" oninput="summaryDataSynchronization(jQuery(this))">
                                                                    <span class="validation-done-check hidden"><i class="glyphicon glyphicon-ok"></i></span>
                                                                </div>
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <?php } if (strtolower($paymentMethod) == 'acceptgiro') { ?>
                                                 <div class="radio-item " id="payment_direct_debit_fixed">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="payment[fixed_method]"
                                                        class="fixed-payment-validation-choice"
                                                        value="<?php echo $paymentMethod ?>"
                                                        data-fill-name="fixed-method" data-fill-value="<?php echo $this->__('By invoice'); ?>"
                                                        oninput="summaryDataSynchronization(jQuery(this))">
                                                        <span class="circle"></span><span class="check"></span>
                                                        <?php echo $this->__('By invoice'); ?>
                                                    </label>
                                                </div>
                                                </div>
                                            <?php } ?>
                                        <?php } ?>
                                    </div>
                                </div>
                            <?php  } ?>
                        <?php  } ?>
                        </div>
                    </div>
                </div>
                <?php
                }
                if (!$multiplePackages && (!$isMobile && $isFixed)) {
                     foreach ($fixedPaymentMethods as $paymentMethod) {
                         if (strtolower($paymentMethod) == 'acceptgiro') { ?>
                             <div class="radio-item" id="direct_debit">
                                 <div class="radio">
                                     <label>
                                         <input type="radio" name="payment[monthly_method]"
                                                class="payment-validation-choice"
                                                value="<?php echo $paymentMethod ?>"
                                                data-fill-name="fixed-method" data-fill-value=" <?php echo $this->__('By invoice'); ?>"
                                                oninput="summaryDataSynchronization(jQuery(this))">
                                         <span class="circle"></span><span class="check"></span>
                                         <?php echo $this->__('By invoice'); ?>
                                     </label>
                                 </div>
                             </div>
                             <?php
                         }
                     }
                 } ?>
            </div>
        </div>
        <!--------------------------------END: monthly payment--------------------------------------------->
        <!--------------------------------START: one-off payment------------------------------------------->
        <?php if ($isMobile && !$isIndirect) { ?>
            <div class="col-sm-12">
                <h4><?php echo $this->__('Mobile one-off payment details'); ?> </h4>
                <div class="radio-box">
                    <div class="radio-item" id="one-off">
                        <?php
                        $paymentMethodsData = [
                            'payinstore' => [
                                'id' => 'pay_in_store',
                                'label' => 'Pay in store'
                            ],
                            'cashondelivery' => [
                                'id' => 'pay_on_delivery',
                                'label' => 'Pay on delivery'
                            ],
                            'checkmo' => [
                                'id' => 'pay_on_first_bill',
                                'label' => 'Pay on first bill'
                            ]
                        ];
                        $hasRetention = false;
                        foreach ($cartPackages as $cartPackage) {
                            if ($cartPackage['sale_type'] === Dyna_Catalog_Model_ProcessContext::RETBLU) {
                                $hasRetention = true;
                                break;
                            }
                        }
                        if ($hasRetention) {
                            $paymentMethods = ['payinstore', 'checkmo', 'cashondelivery'];
                        } else {
                            $paymentMethods = ['payinstore', 'cashondelivery', 'checkmo'];
                        }
                        if (!$isCustomer || !$isTelesales) {
                            $paymentMethods = array_diff($paymentMethods, ['checkmo']);
                        }
                        foreach ($paymentMethods as $paymentMethod) {
                            $paymentMethodData = $paymentMethodsData[$paymentMethod];
                            ?>
                            <div class="radio" id="<?php echo $paymentMethodData['id']; ?>">
                                <label>
                                    <input type="radio" name="payment[oneoff_method]" checked oninput="summaryDataSynchronization(jQuery(this))" class="payment-validation-choice" value="<?php echo $paymentMethod; ?>"  data-fill-name="oneoff-method" data-fill-value="<?php echo $this->__($paymentMethodData['label']); ?>">
                                    <span class="circle"></span><span class="check" ></span>
                                    <?php echo $this->__($paymentMethodData['label']); ?>
                                </label>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        <?php } ?>
        <!--------------------------------END: one-off payment----------------------------------------------->
        <!--------------------------------START: Bill distribution------------------------------------------->
        <div class="col-sm-12">
            <h4><?php echo $this->__('Billing address'); ?> </h4>
            <div class="radio-box">
                <div class="radio-item " id="billing">
                    <div class="radio">
                        <label>
                            <input type="radio" name="billAddress[address_type]"
                            oninput="summaryDataSynchronization(jQuery(this))" class="payment-validation-choice"
                            value="same_as_service_address" checked data-fill-name="billing-method"
                            data-fill-value="<?php echo $serviceAddressStr; ?>">
                            <span class="circle"></span><span class="check" ></span>
                            <div id="billing_address_display_1">
                            <?php
                            if($isMobile && !$isFixed)
                                echo $customerAddressStr;
                            else if($isMobile && $isFixed)
                               echo $serviceAddressStr; ?>
                            </div>
                        </label>
                    </div>
                </div>
                <?php if($isFixed && !$isMobile) { ?>
                    <div class="radio-item radio-collection search-address-fixed" id="billing">
                        <div class="radio">
                            <label>
                                <input type="radio" name="billAddress[address_type]" data-fill-name="fixed-billing-address" data-fill-value="Use customer diffrent billing address" class="mobile-payment-validation-choice" value="diffrent_address"
                                oninput="summaryDataSynchronization(jQuery(this))">
                                <span class="circle"></span><span class="check" ></span>
                                <?php echo $this->__('Customer uses a different billing address'); ?>
                            </label>
                        </div>
                        <div class="radio-popdown search-address-form-fixed" >
                            <input type="hidden" id="billAddress-addressid" name="billAddress[addressId]" value="">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group label-floating is-empty">
                                        <div class="input-wrapper">
                                            <label class="control-label"><?php echo $this->__('Postcode');?></label>
                                            <input type="text" name="billAddress[postcode]"
                                            id="billAddress-postcode" class="form-control input-sm format-postcode-nl validate-postcode-nl" value="<?php echo $billingAddress->getFixedPostcode(); ?>" oninput="summaryDataSynchronization(jQuery(this))">

                                        </div>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating is-empty">
                                        <div class="input-wrapper">
                                            <label class="control-label"><?php echo $this->__('No.');?></label>
                                            <input type="text"
                                            class="form-control input-sm validate-number validate-house-number houseno"
                                            id="billAddress-houseno"
                                            oninput="summaryDataSynchronization(jQuery(this))"
                                            value="<?php echo $billingAddress->getFixedStreet(1); ?>"
                                            name="billAddress[houseno]">
                                            <span class="validation-done-check hidden"><i class="glyphicon glyphicon-ok"></i></span>
                                        </div>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <div class="input-wrapper select-wrapper">
                                            <label class="control-label"><?php echo $this->__('Suffix'); ?></label>
                                            <select name="billAddress[addition]" id="billAddress-addition"
                                                class="form-control"
                                                onchange="summaryDataSynchronization(jQuery(this))" oninput="summaryDataSynchronization(jQuery(this))"
                                            >
                                                <option value="<?php echo $billingAddress->getFixedStreet(2); ?>"><?php echo $billingAddress->getFixedStreet(2) ? $billingAddress->getFixedStreet(2):'None'; ?></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group label-floating is-empty">
                                        <div class="input-wrapper">
                                            <label class="control-label"><?php echo $this->__('Street');?></label>
                                            <input type="text" readonly name="billAddress[street]" id="billAddress-street" class="input-sm" value="<?php echo $billingAddress->getFixedStreet(0); ?>" oninput="summaryDataSynchronization(jQuery(this))">
                                        </div>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating is-empty">
                                        <div class="input-wrapper">
                                            <label class="control-label "><?php echo $this->__('City');?></label>
                                            <input type="text" readonly id="billAddress-city" name="billAddress[city]" class="form-control input-sm  validate-length maximum-length-40" value="<?php echo $billingAddress->getFixedCity(); ?>" oninput="summaryDataSynchronization(jQuery(this))">
                                            <span class="validation-done-check hidden"><i class="glyphicon glyphicon-ok"></i></span>
                                        </div>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <?php if($multiplePackages && !($isMobile && !$isFixed)) { ?>
                    <div class="radio-item radio-collection" id="billing">
                        <div class="radio">
                            <label>
                                <input type="radio" name="billAddress[address_type]"
                                oninput="summaryDataSynchronization(jQuery(this))"  class="payment-validation-choice"
                                value="multiple_address" data-fill-name="billing-method" data-fill-value="multiple address">
                                <span class="circle"></span><span class="check"></span>
                                <?php echo $this->__('Customer wishes multiple billing addresses'); ?>
                            </label>
                        </div>
                        <div class="radio-popdown" id="multiple_billing_address" data-ref="billing-address-type">
                            <?php foreach ($cartPackages as $packageId => $package) {
                               ?>
                               <div class="row">
                                <div class="package-head">
                                    <?php $packageItems = explode(",", $package['name']);?>
                                    <?php ob_start(); ?>
                                    <ul>
                                        <?php foreach ($packageItems as $item ) : ?>
                                            <li><?= trim($item) ?></li>
                                        <?php endforeach; ?>
                                    </ul>
                                    <?php $packageItemsAsList = ob_get_clean(); ?>
                                    <div class="<?php echo (in_array($package['type'], Vznl_Catalog_Model_Type::getMobilePackages()))? 'package-head-icon':'package-head-fixedicon' ?>" ></div>
                                    <label>
                                        <h5>
                                            <?php echo $packageTitles[$packageId]['packageSubtypeTitle']; ?>
                                            <div class="tip-trig-hover-popover info-icon" data-placement="right" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                        </h5>
                                        <div class="packagetype"><?php echo $packageTitles[$packageId]['packageTitle']; ?></div>
                                    </label>
                                </div>
                                <?php if (in_array($package['type'], Vznl_Catalog_Model_Type::getMobilePackages())) { ?>
                                    <div class="radio-box">
                                        <div class="radio-item">
                                            <div class="radio radio-disabled">
                                                <label>
                                                    <input checked type="radio" <?php echo ($isCustomer) ? 'readonly':'' ?>  name="payment[billing-mobile-<?php echo $packageId;?>]" data-fill-name="mobile-billing-address" data-fill-value="Use customer address" class="mobile-payment-validation-choice" value="Use Customer address" oninput="summaryDataSynchronization(jQuery(this))">
                                                    <span class="circle"></span><span class="check" ></span>
                                                    <?php echo $this->__('Use customer address').' (';
                                                    if($isMobile && !$isFixed)
                                                        echo $customerAddressStr;
                                                    else if(($isMobile && $isFixed) || (!$isMobile && $isFixed))
                                                       echo $serviceAddressStr;
                                                    echo ')';?>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                <?php }  if ($package['type'] == 'int_tv_fixtel') { ?>

                                    <div class="radio-box">
                                        <div class="radio-item " id="billing_address_fixed">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" checked name="billAddress[address_type_fixed]" data-fill-name="fixed-billing-address" data-fill-value="Use customer address" class="mobile-payment-validation-choice" value="same_as_service_address_fixed"
                                                    oninput="summaryDataSynchronization(jQuery(this))">
                                                    <span class="circle"></span><span class="check" ></span>
                                                    <?php echo $this->__('Use customer address').' ('; echo $serviceAddressStr.')';?>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="radio-item radio-collection search-address-fixed" id="billing_address_fixed">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="billAddress[address_type_fixed]" data-fill-name="fixed-billing-address" data-fill-value="Use customer diffrent billing address" class="mobile-payment-validation-choice" value="diffrent_address"
                                                    oninput="summaryDataSynchronization(jQuery(this))">
                                                    <span class="circle"></span><span class="check" ></span>
                                                    <?php echo $this->__('Customer uses a different billing address'); ?>
                                                </label>
                                            </div>
                                            <div class="radio-popdown search-address-form-fixed" >
                                                <input type="hidden" id="billAddress-addressid" name="billAddress[addressId]" value="">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group label-floating is-empty">
                                                            <div class="input-wrapper">
                                                                <label class="control-label"><?php echo $this->__('Postcode');?></label>
                                                                <input type="text" name="billAddress[postcode]"
                                                                id="billAddress-postcode" class="form-control input-sm format-postcode-nl validate-postcode-nl" value="<?php echo $billingAddress->getFixedPostcode(); ?>" oninput="summaryDataSynchronization(jQuery(this))">
                                                            </div>
                                                            <span class="material-input"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group label-floating is-empty">
                                                            <div class="input-wrapper">
                                                                <label class="control-label"><?php echo $this->__('No.');?></label>
                                                                <input type="text"
                                                                class="form-control input-sm validate-number validate-house-number houseno"
                                                                id="billAddress-houseno"
                                                                oninput="summaryDataSynchronization(jQuery(this))"
                                                                value="<?php echo $billingAddress->getFixedStreet(1); ?>"
                                                                name="billAddress[houseno]">
                                                                <span class="validation-done-check hidden"><i class="glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                            <span class="material-input"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group label-floating">
                                                            <div class="input-wrapper select-wrapper">
                                                                <label class="control-label"><?php echo $this->__('Suffix'); ?></label>
                                                                <select name="billAddress[addition]" id="billAddress-addition"
                                                                    class="form-control"
                                                                    onchange="summaryDataSynchronization(jQuery(this))"
                                                                >
                                                                    <option value="<?php echo $billingAddress->getFixedStreet(2); ?>"><?php echo $billingAddress->getFixedStreet(2) ? $billingAddress->getFixedStreet(2):''; ?></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group label-floating is-empty">
                                                            <div class="input-wrapper">
                                                                <label class="control-label"><?php echo $this->__('Street');?></label>
                                                                <input type="text" readonly name="billAddress[street]" id="billAddress-street" class="input-sm" value="<?php echo $billingAddress->getFixedStreet(0); ?>" oninput="summaryDataSynchronization(jQuery(this))">
                                                            </div>
                                                            <span class="material-input"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group label-floating is-empty">
                                                            <div class="input-wrapper">
                                                                <label class="control-label "><?php echo $this->__('City');?></label>
                                                                <input type="text" readonly id="billAddress-city" name="billAddress[city]" class="form-control input-sm  validate-length maximum-length-40" value="<?php echo $billingAddress->getFixedCity(); ?>" oninput="summaryDataSynchronization(jQuery(this))">
                                                                <span class="validation-done-check hidden"><i class="glyphicon glyphicon-ok"></i></span>
                                                            </div>
                                                            <span class="material-input"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php } ?>
                                </div>
                             <?php } ?>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
        <?php if ($isFixed) { ?>
            <div class="col-sm-12" style="margin-bottom: 30px;">
                <div class="form-group label-floating">
                    <div class="input-wrapper select-wrapper" id="dispatch">
                        <label class="control-label"><?php echo $this->__('Billing method (For fixed only)'); ?></label>
                        <select name="payment[bill_distribution_method]" id="bill_distribution_method" class="form-control required-entry" onchange="summaryDataSynchronization(jQuery(this))">
                            <option></option>
                            <?php
                            if(!count($fixedBillingMethods) ==0) {
                                foreach ($fixedBillingMethods as $value) {
                                    if ($value == "Verplichte elektr.fakt.") {
                                        $dispatchMethod = 'Electronic bill';
                                    } else if ($value == "Forced - Paper") {
                                        $dispatchMethod = 'Paper bill';
                                    } else {
                                        $dispatchMethod = $value;
                                    }
                                ?>
                                <option value="<?php echo $value; ?>"><?php echo $this->__($dispatchMethod); ?></option>
                                <?php
                                }
                            } else {
                            ?>
                            <option value="AUTOMATIC"><?php echo $this->__('Automatically defined'); ?></option>
                            <?php
                            }
                            ?>
                        </select>
                    </div>
                </div>
            </div>
        <?php } ?>
    </section>
    <!-- Section footer -->
    <section class="row">
        <div class="col-sm-12">
            <div class="section-footer-wrapper">
                <div class="section-footer">
                    <a class="arrow-back" href="/"><?php echo $this->__('Back to configuration'); ?></a>
                    <button class="btn btn-inverted pull-right btn-next">
                        <span class="btn-content"><?php echo $this->__('Next'); ?></span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="summary">
        <div class="head">
            <h3><?php echo $this->__('Payment'); ?></h3>
            <?php if (!Mage::getSingleton('customer/session')->getOrderEdit()) { ?>
                <button class="btn-edit pull-right"></button>
            <?php } ?>
        </div>
        <div class="section-head"><h5><?php echo $this->__('Monthly payment details'); ?></h5></div>
        <?php if($isMobile && !$isFixed) {
            $sectionClass = "section-content-mobileicon";
        } else if (!$isMobile && $isFixed) {
            $sectionClass = "section-content-fixedicon";
        } else if ($isMobile && $isFixed) {
            $sectionClass = "section-content-allicon";
        }?>
        <div class="section-content ">
            <div id="summary-direct">
                <div class="row">
                     <div class="col-sm-1"><div class="<?php echo 'section-content-allicon'; ?>"></div></div>
                     <div class="col-sm-11">
                        <h5><?php echo $this->__('For all packages'); ?></h5>
                        <div class="row">
                            <div class="col-sm-6"><?php echo $this->__('Method'); ?>:</div>
                            <div class="col-sm-6"><span class="monthly-method-summary"><?php echo $this->__('Direct debit'); ?></span></div>
                        </div>
                        <div id="direct_account_details">
                            <div class="row">
                                <div class="col-sm-6"><?php echo $this->__('IBAN'); ?>:</div>
                                <div class="col-sm-6"> <span class="direct-account-no-summary"><?php $quote->getCustomerAccountNumber(); ?></span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6"><?php echo $this->__('Account holder'); ?>:</div>
                                <div class="col-sm-6">
                                    <span class="direct-account-holder-summary"><?php echo ($quote->hasFixed()?$quote->getFixedAccountHolder():$quote->getCustomerAccountHolder()); ?></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="summary-payment-split" >
               <?php $cnt = 0;
                    foreach ($cartPackages as $cartPkg) {
                        $cnt++;?>
                        <div class="row">
                            <div class="col-sm-1"><div class="<?php echo (in_array($cartPkg['type'], Vznl_Catalog_Model_Type::getMobilePackages())) ? 'section-content-mobileicon' : 'section-content-fixedicon'; ?>"></div></div>
                            <div class="col-sm-11">
                                <h5><?php echo $cartPkg['subscriptionName']; ?></h5>
                                <?php if (in_array($cartPkg['type'], Vznl_Catalog_Model_Type::getMobilePackages())) {?>
                                    <div class="row">
                                        <div class="col-sm-6"><?php echo $this->__('Method');?>:</div>
                                        <div class="col-sm-6"><span class=""><?php echo $this->__('Direct debit'); ?></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6"><?php echo $this->__('IBAN');?>:</div>
                                        <div class="col-sm-6"><span class="mobile-account-no-summary">
                                            <?php $quote->getCustomerAccountNumber(); ?></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6"><?php echo $this->__('Account holder');?>:</div>
                                        <div class="col-sm-6"><span class="mobile-account-holder-summary">
                                            <?php echo ($quote->getCustomerAccountHolder()) ?></span></div>
                                    </div>
                                <?php } else if ($cartPkg['type'] == 'int_tv_fixtel') {?>
                                    <div class="row">
                                        <div class="col-sm-6"><?php echo $this->__('Method');?>:</div>
                                        <div class="col-sm-6"><span class="fixed-method-summary"><?php echo $this->__($quote->getFixedPaymentMethodMonthlyCharges() ? $quote->getFixedPaymentMethodMonthlyCharges() : 'Direct debit'); ?></span></div>
                                    </div>
                                   <div id="fixed_account_details">
                                        <div class="row">
                                            <div class="col-sm-6"><?php echo $this->__('IBAN');?>:</div>
                                            <div class="col-sm-6">
                                                <span class="fixed-account-no-summary">
                                                <?php echo $quote->getFixedAccountNumber() ? $quote->getFixedAccountNumber() : $quote->getCustomerAccountNumber(); ?></span>
                                                <span class="fixed-account-no-different-summary">
                                                <?php echo $quote->getFixedAccountNumber(); ?></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"><?php echo $this->__('Account holder');?>:</div>
                                            <div class="col-sm-6">
                                                <span class="fixed-account-holder-summary">
                                                <?php echo ($quote->getFixedAccountHolder()); ?></span>
                                                <span class="fixed-account-holder-different-summary"></span>
                                            </div>
                                        </div>
                                   </div>
                                <?php } ?>
                            </div>
                        </div>

                        <?php if($cnt < count($cartPackages)) {?>
                            <div class="summary-separator-single-line-payment" ></div>
                        <?php } ?>

                    <?php } ?>

            </div>

        </div>
       <?php if ($isMobile) { ?>
            <div class="section-head"><h5><?php echo $this->__('Mobile one-off payment details'); ?></h5></div>
            <div class="section-content">
                <?php
                if (sizeof($mobilePkgs) == 1) {
                foreach ($cartPackages as $cartPkg) {
                    if (in_array($cartPkg['type'], Vznl_Catalog_Model_Type::getMobilePackages())) {
                    ?>
                        <div class="row">
                            <div class="col-sm-1"><div class="section-content-mobileicon"></div></div>
                            <div class="col-sm-11">
                                <h5><?php echo $cartPkg['subscriptionName']; ?></h5>
                                <div class="row">
                                    <div class="col-sm-6"><?php echo $this->__('Method'); ?>:</div>
                                    <div class="col-sm-6">
                                        <span class="oneoff-method-summary">
                                            <?php echo $this->__($quote->getMobileOneoffPayment() ?: 'Pay on first bill'); ?>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                <?php } ?>
            <?php } else if (sizeof($mobilePkgs) > 1){?>
                <div class="row">
                    <div class="col-sm-1"><div class="section-content-mobileicon"></div></div>
                    <div class="col-sm-11">
                        <h5><?php echo $this->__('For all mobile packages'); ?></h5>
                        <div class="row">
                            <div class="col-sm-6"><?php echo $this->__('Method'); ?>:</div>
                            <div class="col-sm-6">
                                <span class="oneoff-method-summary">
                                    <?php echo $this->__($quote->getMobileOneoffPayment()) ?: $this->__('Pay on first bill'); ?>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
            </div>
        <?php } ?>
        <div class="section-head"><h5><?php echo $this->__('Billing address'); ?></h5></div>
        <div class="section-content">
            <div id="summary-address-all">
                <div class="row">
                    <div class="col-sm-1"><div class="<?php echo 'section-content-allicon'; ?>"></div></div>
                    <div class="col-sm-11">
                         <h5><?php echo $this->__('For all packages'); ?></h5>
                        <div class="row">
                            <div class="col-sm-6"><?php echo $this->__('Address'); ?>:</div>
                            <div class="col-sm-6">
                                <span id="billing_address_display_2">
                                    <?php if($isMobile && !$isFixed)
                                        echo $customerAddressStr;
                                    else if(($isMobile && $isFixed) || (!$isMobile && $isFixed))
                                       echo $serviceAddressStr; ?>
                                </span>
                            </div>
                            <?php if(!$isMobile && $isFixed) { ?>
                                <div class="col-sm-6" id="fix-diff-bill-addr">
                                    <span class="billAddress-street-summary"></span>
                                    <span class="billAddress-houseno-summary"></span>
                                    <span class="billAddress-addition-summary"></span>
                                    <span class="billAddress-postcode-summary"></span>
                                    <span class="billAddress-city-summary"></span>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
            <div id="summary-address-split">
                <?php
                $cnt = 0;
                foreach ($cartPackages as $key=>$cartPkg) {
                    $cnt++; ?>
                    <div class="row">
                        <div class="col-sm-1"><div class="<?php echo (in_array($cartPkg['type'], Vznl_Catalog_Model_Type::getMobilePackages())) ? 'section-content-mobileicon' : 'section-content-fixedicon'; ?>"></div></div>
                        <div class="col-sm-11">
                            <h5><?php echo $cartPkg['subscriptionName']; ?></h5>
                            <?php if (in_array($cartPkg['type'], Vznl_Catalog_Model_Type::getMobilePackages())) { ?>
                                <div class="row">
                                    <div class="col-sm-6"><?php echo $this->__('Address'); ?>:</div>
                                    <div class="col-sm-6">
                                        <span id="billing_address_display_3">
                                            <?php
                                            if ($isMobile && !$isFixed)
                                                echo $customerAddressStr;
                                            else if ($isMobile && $isFixed)
                                               echo $serviceAddressStr; ?>
                                        </span>
                                    </div>
                                </div>
                            <?php } else if ($cartPkg['type'] == 'int_tv_fixtel') { ?>
                                <div class="row">
                                    <div class="col-sm-6"><?php echo $this->__('Address'); ?>:</div>
                                    <div class="col-sm-6" id="fix-service-add">
                                        <span><?php echo $serviceAddressStr; ?></span>
                                    </div>
                                    <div class="col-sm-6" id="fix-diff-add">
                                        <span class="billAddress-street-summary"><?php echo ($quote->getFixedStreet(1)) ?: "".$serviceStreet ;?></span>
                                        <span class="billAddress-houseno-summary"><?php echo ($quote->getFixedStreet(2)) ?: " " . $serviceHouseNo;?></span>
                                        <span class="billAddress-addition-summary"><?php echo ($quote->getFixedStreet(3)) ?: " " . $serviceHouseNoAddition ;?></span>
                                        <span class="billAddress-postcode-summary"><?php echo ($quote->getFixedPostcode()) ?: " " . $servicePostCode ;?></span>
                                        <span class="billAddress-city-summary"><?php echo ($quote->getFixedCity()) ?: " " .$serviceCity."";?></span>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                    <?php if($cnt < count($cartPackages)) {?>
                        <div class="summary-separator-single-line-payment"></div>
                    <?php } ?>
                <?php } ?>
            </div>
        <?php if ($isFixed) { ?>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                    <div class="row">
                        <div class="col-sm-6"><?php echo $this->__('Bill distribution method'); ?>:</div>
                        <div class="col-sm-6">
                            <span class="bill_distribution_method-summary"><?php echo $this->__($quote->getFixedBillDistributionMethod() ?: ($fixedBillingMethods['0'] ?? '')) ?></span>
                        </div>
                    </div>
                </div>
            </div>
        <?php } ?>
        </div>
    </section>
</div>
