<?php
/** @var Vznl_Checkout_Block_Cart $this */
/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$customerSession = Mage::getSingleton('customer/session');
if ($this->getSuperOrderId()) {
    /** @var Vznl_Superorder_Model_Superorder $superOrder */
    $superOrder = Mage::getModel('superorder/superorder')->load($this->getSuperOrderId());
}
$orderEdit = false;
if ($customerSession->getOrderEdit()) {
    $quote = Mage::getSingleton('checkout/cart')->getQuote(true);
    $editedPackageQuote = Mage::getModel('sales/quote')->getCollection()->addFieldToFilter('super_quote_id',$customerSession->getOrderEdit())->getFirstItem();
    $allpackages = $editedPackageQuote->getId() ? $editedPackageQuote->getPackages() : $quote->getPackages();
    $orderEdit = true;
} else {
    $quote = Mage::getSingleton('checkout/cart')->getQuote();
    $allpackages = $quote->getPackages();
}
$isRetentionOnly = Mage::helper('checkout')->checkIsRetentionOnly($quote);
$isIndirect = $agentHelper->isIndirectStore();
$title = !$isRetentionOnly ? 'Credit check' : 'Order validation';
$cancelledPackagesNow = Mage::helper('dyna_package')->getCancelledPackagesNow();

$isSoho = false;

$helper = Mage::helper('dyna_checkout');
?>
<!-- Credit check waiting
================================================== -->
<div class="section" data-ref="credit_check">
    <a href="javascript:void(0);" onclick="javascript:performCreditCheck(<?php echo $this->getSuperOrderId() ?>);" style="display:none"></a>
    <!-- Customer information -->
    <section class="row form" data-url="/checkout/index/saveCreditCheck" id="saveCreditCheck">
        <div class="col-sm-12">
            <h3><?php echo $this->__('Credit Check'); ?></h3>
        </div>
        <div class="col-sm-12">
            <h4><?php echo $this->__($title); ?></h4>
        </div>

        <div class="col-sm-12">
            <div class="notification-banner success hidden">
                <div class="notification-banner-text">
                    <div class="notification-banner-title"><?php echo $this->__('All Credit checks are approved. Please continue to next section.'); ?></div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="notification-banner error hidden">
                <div class="notification-banner-text">
                    <div class="notification-banner-title" id="order_validation_error"><?php echo $this->__('One or more credit check(s) are declined. Change the order.'); ?></div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="notification-banner warning change hidden">
                <div class="notification-banner-text">
                    <div class="notification-banner-title"><?php echo $this->__('One or more credit check(s) are partially completed. Change the order.'); ?></div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <!-- Notice notification banner with actions -->
            <div class="notification-banner warning referral new-ui-elements hidden">
                <div class="notification-banner-text">
                    <div class="notification-banner-title"><?php echo $this->__('One or more credit check(s) are referred. Wait for approval.'); ?></div>
                </div>
                <!-- Optional actions -->
                <div class="notification-banner-actions">
                    <div class="btn btn-secondary redo-credit-check small" id="refreshButton" onclick="refreshCreditCheckStatus();">
                        <span class="btn-content"><?php echo $this->__('Refresh'); ?></span>
                    </div>
                </div>
            </div>
        </div>

        <?php
       foreach ($allpackages as $packageId => $package) {
            if ($package['type'] == 'mobile') {
                $subscription = false;
                $allItemNames = array();
                $hasVf = false;
                // Retention packages also get a credit check now
                $hasCtn = ($package['ctn']) && ($package['sale_type'] == Vznl_Checkout_Model_Sales_Quote_Item::RETENTIE);

                $items = [];
                // get the items from the actual super order
                if ($this->getSuperOrderId() && $superOrder->getId()) {
                    /** @var Vznl_Package_Model_Package $package */
                    $package = Mage::getModel('package/package')->getPackages($superOrder->getId(), null, $packageId)->getFirstItem();
                    $package['items'] = $package->getAllVisibleItems();
                }

                if (!$isIndirect) : ?>
                    <div class="col-sm-12">
                        <div class="row hidden" id="so-error"
                             style="margin-bottom: 10px; font-weight:bold; color: red;"> <?php // Refactor styling etc when time ?>
                            <div class="col-md-12">
                                <span><?php echo $this->__('Failed to register this salesorder in AXI, the error code reported was:'); ?></span>
                                <span id="so-error-code"></span>
                            </div>
                        </div>
                    </div>
                <?php endif;

                $notCancelled = !(in_array($package['status'],Vznl_Package_Model_Package::getCancelledTypePackages()));
                foreach ($cancelledPackagesNow as $cancelledPackageId) {
                    if ($packageId == $cancelledPackageId) {
                        $notCancelled = false;
                    }
                }

                foreach ($package['items'] as $item) {
                    /** @var Vznl_Catalog_Model_Product $product */
                    $product = $item->getProduct();
                    if ($product->isNetwork()) {
                        $hasVf = true;
                        if ($product->isSubscription()) {
                            $subscription = $item->getProduct();
                        }
                    }
                    if ($hasVf && $subscription) {
                        break;
                    }
                }

                if ($subscription && $hasVf && $notCancelled) {
                    $packageTypeAndTariffTitles = Mage::helper('vznl_package')->getTypeAndSubtypeTitle($package, null);
                     ?>

                    <?php $manualActivationTitle = (trim($package['manual_activation_reason'])) ? $this->__('This package must be connected manually') : ''; ?>
                    <div class="col-sm-12">
                        <div class="orderline-advanced expandable loading" id="orderline_<?php echo $packageId ?>">

                        <!-- Orderline header section -->
                        <div class="orderline-header">
                            <div id="credit-check-reason_<?php echo $packageId ?>" class="tip-trig-hover-left credit-check-reason" style="width: 30px; height: 30px; position: absolute; right:40px; top: 13px;" title="" data-original-title="" data-title-manual-activation="<?php echo $manualActivationTitle; ?>"></div>
                            <div class="orderline-header-mobileicon"></div>
                            <div class="orderline-header-title">
                                <h6 class="orderline-header-title-category"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></h6>
                                <h5 class="orderline-header-title-name"><?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?></h5>
                            </div>
                        </div>

                        <!-- Orderline dropdown section -->
                        <div class="orderline-dropdown">

                            <!-- Dropdown details section  -->
                            <div class="orderline-details" id="package-check-<?php echo $packageId; ?>">
                                <table class="orderline-details-table">
                                    <tr>
                                        <td><?php echo $this->__('Reference Number'); ?></td>
                                        <td><span id="creditcheck-esb-number-<?php echo $packageId; ?>"></span></td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $this->__('Client Number'); ?></td>
                                        <td><span id="creditcheck-ban-<?php echo $packageId; ?>"></span></td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $this->__('Package number'); ?></td>
                                        <td><span id="creditcheck-package-number-<?php echo $packageId; ?>"></span></td>
                                    </tr>
                                </table>
                            </div>
                            <input type="hidden" name="package-type-retention-<?php echo $packageId; ?>"
                                   id="package-type-retention-<?php echo $packageId; ?>"
                                   value="<?php echo (int)$hasCtn; ?>"/>
                            <input type="hidden" name="creditSuperOrderId"
                                   id="creditSuperOrderId"
                                   value=""/>
                            <!--REPEAT: copy the following section for the amount of times you need-->
                            <!--Price section header-->


                            <!--Price section content-->


                                    <!-- products displayed from a package in 4 sections: hardware, tariff, option and promotion-->
                                    <?php
                                    $packageHelper = Mage::helper('dyna_package');
                                    $packageobj = Mage::getModel('package/package')->load($packageId);
                                    $currentPackage = Mage::getModel('package/package')->getPackages(null, $quote->getId(), $packageId)->getFirstItem();
                                    $withBtw = Mage::getSingleton('customer/session')->showPriceWithBtw();
                                    $packageobj->setIsExtendedCart(!$orderEdit)->setWithBtw($withBtw)->setPackageId($packageId);

                                    $cartPackageType = $packageobj->isFixed() ? Vznl_Catalog_Model_Type::TYPE_FIXED : Dyna_Catalog_Model_Type::TYPE_MOBILE;
                                    $productGroupCollection = Vznl_Package_Model_Package::getDefaultProductOrder($simcard = false, $cartPackageType);
                                    $oldProductGroup = '';
                                    $packageId = $packageobj->getPackageId();
                                    $packageItems = $package['items'];
                                    $currentPackage = Mage::getModel('package/package')->getPackages(null, $quote->getId(), $packageId)->getFirstItem();
                                    $withBtw = Mage::getSingleton('customer/session')->showPriceWithBtw();
                                    $manualActivation = trim($packageobj->getData('manual_activation_reason'));
                                    $manualActivationNote = trim($packageobj->getData('manual_activation_user_input'));
                                    $section_cnt = 1;

                                    $packageTotals = $packageobj->getPackageTotals($package['items']);
                                    $toBePaid = Mage::registry('to_pay_amount');
                                    Mage::unregister('to_pay_amount');
                                    if ($toBePaid) {
                                        $toBePaid[$packageobj->getPackageId()] = $packageTotals['total'];
                                    } else {
                                        $toBePaid = array($packageobj->getPackageId() => $packageTotals['total']);
                                    }
                                    Mage::register('to_pay_amount', $toBePaid, true);
                                    Mage::getSingleton('customer/session')->setToPayAmount($toBePaid);


                                    foreach ($productGroupCollection as $productGroup) { ?>

                                        <?php $packageData = $packageobj->getDisplayFor($productGroup, $packageItems); ?>

                                        <?php if ($packageData): ?>

                                            <?php $section = strtolower($productGroup); ?>
                                            <div class="orderline-price-section-header">
                                                <table class="orderline-section-table">
                                                    <tr>
                                                        <td>
                                                            <?php echo $this->__(ucfirst($packageHelper->getPackageSubtype($packageobj->getType(), $section, true))); ?>
                                                        </td>
                                                        <?php if (!$isIndirect) {?>
                                                        <td><?php echo ($section_cnt == 1) ? $this->__("Upfront") : "&nbsp;" ?></td>
                                                        <?php } ?>
                                                        <td><?php echo ($section_cnt == 1) ? $this->__("Monthly") : "&nbsp;" ?></td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="orderline-price-section-content">
                                            <table class="orderline-section-table">
                                            <?php foreach ($packageData as $data) { ?>

                                                <?php if ($oldProductGroup !== $productGroup): ?>
                                                    <!-- separate the sections visually-->

                                                    <?php
                                                    for ($i = 0; $i < count($data['image']); $i++) { ?>
                                                    <tr class="<?php echo $section; ?>">

                                                        <td>
                                                            <?php echo isset($data['name'][$i]) ? $data['name'][$i] : ''; ?>
                                                        </td>
                                                        <?php if (!$isIndirect) { ?>
                                                        <td class="package-prices one-of-costs">
                                                            <?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?>
                                                        </td>
                                                        <?php } ?>
                                                        <td class="package-prices monthly-costs">
                                                            <?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?>
                                                        </td>

                                                    </tr>
                                                    <?php } ?>




                                                    <?php $oldProductGroup = $productGroup ?>
                                                <?php endif; ?>

                                            <?php } ?>
                                            </table>
                                            </div>
                                        <?php endif; ?>
                                        <?php $section_cnt++; ?>
                                    <?php } ?>


                            <!--STOP REPEAT-->

                            <!--Total price Section-->
                            <div class="orderline-total-price-section">
                                <table class="orderline-section-table">
                                    <tr>
                                        <td><?php echo $this->__('Excl. VAT');?></td>
                                        <?php if(!$isIndirect) {?>
                                            <td><?php echo Mage::helper('core')->currency($packageTotals['subtotal_price'], true, false); ?></td>
                                        <?php } ?>
                                        <td><?php echo Mage::helper('core')->currency($packageTotals['subtotal_maf'], true, false); ?></td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $this->__('VAT');?></td>
                                        <?php if(!$isIndirect) {?>
                                            <td><?php echo Mage::helper('core')->currency($packageTotals['tax_price'], true, false); ?></td>
                                        <?php } ?>
                                        <td><?php echo Mage::helper('core')->currency($packageTotals['tax_maf'], true, false); ?></td>
                                    </tr>
                                    <tr>
                                        <td><b><?php echo $this->__('Package total incl. VAT');?></b></td>
                                        <?php if(!$isIndirect) {?>
                                            <td><?php echo Mage::helper('core')->currency($packageTotals['total'], true, false); ?></strong></td>
                                        <?php } ?>
                                        <td><?php echo Mage::helper('core')->currency($packageTotals['total_maf'], true, false); ?></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    <?php
                }
            }
        }
        ?>
    </section>

    <!-- Section footer -->
    <section class="row">
        <div class="col-sm-12">
            <div class="section-footer">
                <div><!-- Empty div because of space-between setting --></div>
                <div>
                    <?php if($customerSession->getAgent(true)->isGranted(array('CREATE_OFFER')) && $isSoho) : ?>
                        <span class="btn btn-secondary create-offer-modal<?php echo ($isFixed || $quote->getIsOffer()) ? ' hidden' : ''; ?>" >
                            <?php echo $this->__('Save offer');?>
                        </span>
                        <button id="create-offer" class="hidden"></button>
                    <?php endif; ?>
                    <div class="btn btn-secondary change-order-referred hidden" disabled="disabled" id="order-edit">
                        <?php echo $this->__('Change order'); ?>
                    </div>
                    <button class="btn btn-next" disabled="disabled" id="creditcheck-continue" style="margin-left:10px;">
                        <span class="btn-content"><?php echo $this->__('Next'); ?></span>
                    </button>
                </div>
            </div>
        </div>
    </section>


    <section class="summary">
        <div class="head">
             <h3><?php echo $this->__('Credit Check');?></h3>
            <button class="btn-edit disabled pull-right"></button>
        </div>
    </section>
</div>



