<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */
?>
<ul>
<?php foreach ($items as $item): ?>
    <li id="<?php echo $item['id'] ?>" url="<?php echo $item['url'] ?>">
        <div style="float:right; color:#fa4545; font-weight:600;">[<?php echo $item['type'] ?>]</div>
        <strong><?php echo $this->escapeHtml($item['name']) ?></strong><br/>
        <span class="informal"><?php echo $this->escapeHtml($item['description']) ?></span>
    </li>
<?php endforeach ?>
</ul>
