<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$session = Mage::getSingleton('core/session');
$headers = $session->getData('import_headers');
$headers[] = 'Action';
$rows = $session->getData('import_rows');
/** @var Dyna_Agent_Model_Mapper_AbstractMapper $mapper */
$mapper = Mage::registry('mapper');
?>

<style type="text/css">
    .import-action {border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; color: #FFF; padding: 1px 8px; font-size: 11px;}
    .import-action-new {background: #008000;}
    .import-action-update {background: #ffA500;}
    .import-action-skipped {background: #ff0124;}
</style>

<div class="content-header">
    <h3 class="icon-head head-import-approve"><?php echo Mage::helper('core')->__('Import entities import') ?></h3>

    <p class="form-buttons">
        <button title="Cancel" type="button" class="scalable back"
                onclick="setLocation('<?php echo $this->getReferrer() ?>')"
                style=""><span><span><span><?php echo Mage::helper('core')->__('Cancel'); ?></span></span></span></button>
        <button title="Import" type="button" class="scalable go"
                onclick="setLocation('<?php echo $this->getFinishUrl() ?>')"
                style=""><span><span><span><?php echo Mage::helper('core')->__('Import'); ?></span></span></span></button>
    </p>
</div>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-items"><?php echo Mage::helper('core')->__('Entities'); ?></h4>
    </div>
</div>

<div class="grid np">
<div class="hor-scroll">
<table cellspacing="0" class="data order-tables">
<colgroup>
    <?php foreach ($headers as $header): ?>
        <col width="1"/>
    <?php endforeach; ?>
</colgroup>
<thead>
<tr class="headings">
    <?php foreach ($headers as $header): if (strtolower($header) == 'password') continue; ?>
        <th><span class="nobr" <?php echo $header === 'Action' ? 'style="font-weight:bold; text-align:center;"' : '' ?>><?php echo $header ?></span></th>
    <?php endforeach; ?>
</tr>
</thead>
<?php $i=0; foreach ($rows as $row): $i++; /** @var Varien_Object $row */?>
    <?php
        if ($row instanceof Dyna_Agent_Model_Agent && !$row->getUsername()) {
            $row->setSkipped(true);
        }
    ?>
    <tbody class="<?php echo ($i%2)==0 ? 'even' : 'odd' ?>">
        <tr class="border">
            <?php foreach ($headers as $header): if (strtolower($header) == 'password') continue; ?>
                <?php if ($header == 'Action'): ?>
                    <td class="a-center">
                        <span class="import-action import-action-<?php echo $row->getSkipped() ? 'skipped' : ($row->getId() ? 'update' : 'new'); ?>">
                            <?php echo Mage::helper('core')->__($row->getSkipped() ? 'Skipped' : ($row->getId() ? 'Update' : 'New')); ?>
                        </span>
                    </td>
                <?php else: ?>
                    <td class="a-right">
                        <span class="<?php echo $header ?>">
                            <?php
                            $origData = $mapper->mapProperty($header, $row->getOrigData($header), $row);
                            $newData = $mapper->mapProperty($header, $row->getData($header), $row);

                            if (is_array($origData)) {
                                $origData = implode(',', $origData);
                            }

                            if (is_array($newData)) {
                                $newData = implode(',', $newData);
                            }

                            if ($row->getSkipped()) {
                                echo sprintf('<del style="color:#FF4500;">%s</del>', $newData);
                            } elseif ($origData && $origData !== $newData) {
                                echo sprintf('<del style="color:#FF4500;">%s</del>&nbsp;<span style="color:#008000">%s</span>', $origData, $newData);
                            } else {
                                echo $newData;
                            }
                            ?>
                        </span>
                    </td>
                <?php endif; ?>
            <?php endforeach; ?>
        </tr>
    </tbody>
<?php endforeach; ?>
</table>
</div>
</div>