<div class="title">
    <div class="table-title"><?php echo $this->__('Selected customer account'); ?></div>
</div>
<div class="customer-row col-md-12">
    <div class="row row-with-headers">
        <div class="col-md-1">
            {{#compare customer.noLinkedAccounts 1 operator=">"}}
                <button type="button" class="collapse-button-search buttons-trigger icon-already-linked"
                        onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="potential-links-{{customer.global_id}}">
                </button>
            {{else}}
                <button type="button" class="collapse-button-search buttons-trigger icon-already-linked"></button>
            {{/compare}}
        </div>
        <div class="col-md-8 customer-details-name">
            <div class="col-md-7 names">
                {{#compare customer.isSoho true operator="=="}}
                    {{customer.company_name}}
                {{/compare}}
                {{customer.contactPerson.first_name}}
                {{customer.contactPerson.last_name}}
            </div>
            <div class="col-md-5 customer-icon-details">
                {{#compare customer.isSoho true operator="=="}}
                    <span class="icon-soho-cust"></span>
                {{else}}
                    <span class="icon-private-cust"></span>
                {{/compare}}
                {{#compare customer.noLinkedAccounts 1 operator=">"}}
                    <span class="auth-call" onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="potential-links-{{customer.global_id}}">
                        <span class="auth-call-linked"></span>
                {{else}}
                    <span class="auth-call" onclick="customerDe.getAuthDetails('{{customer.global_id}}', '{{customer.customer_number}}', event, this)">
                        <span class="small-info"></span>
                {{/compare}}
                    {{customer.global_id}}
                </span>
            </div>
        </div>
        <div class="col-md-3 customer-types text-right">
            {{#each customer.stacks}}
                {{#compare @key 'KIAS' operator="=="}}
                    {{#compare this true operator="=="}}
                        <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                    {{else}}
                        <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php  echo $this->__('Mobile') ?>"></span>
                    {{/compare}}
                {{/compare}}
                {{#compare @key 'KD' operator="=="}}
                    {{#compare this true operator="=="}}
                        <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                    {{else}}
                        <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                    {{/compare}}
                {{/compare}}
                {{#compare @key 'FN' operator="=="}}
                    {{#compare this true operator="=="}}
                        <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                    {{else}}
                        <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                    {{/compare}}
                {{/compare}}
            {{/each}}
        </div>
    </div>
    <div class="row row-with-address">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 customer-details-content">
            {{customer.street}}
            {{customer.no}}
            {{customer.postal_code}}
            {{customer.city}}
        </div>
        <div class="col-md-2  customer-details-content">
            {{#showLocalAreaCode customer.contact_number_prefix}}{{/showLocalAreaCode}}
            {{customer.contact_number}}
        </div>
        <div class="col-md-2  customer-details-content">
            {{customer.email}}
        </div>
        <div class="col-md-1 customer-details-content customer-details-date">
            {{#compare customer.isSoho false operator="=="}}
                {{customer.birth_date}}
            {{/compare}}
        </div>
    </div>
</div>

{{#compare customer.noLinkedAccounts 1 operator=">"}}
    {{#each customer.linkedAccounts}}
        {{#each this}}
            <div class="customer-row col-md-12 collapse out potential-links-{{this.global_id}}">
                <div class="row row-with-headers">
                    <div class="col-md-1">
                        <span class="icon-already-linked"></span>
                    </div>
                    <div class="col-md-8 customer-details-name">
                        <div class="col-md-7 names">
                            {{#compare this.party_type "PRIVATE" operator="!="}}
                                {{this.party_name}}
                            {{/compare}}
                            {{this.firstname}}
                            {{this.lastname}}
                        </div>
                        <div class="col-md-5 customer-icon-details">
                            {{#compare this.party_type "PRIVATE" operator="!="}}
                            <span class="icon-soho-cust"></span>
                            {{else}}
                            <span class="icon-private-cust"></span>
                            {{/compare}}
                            <span class="auth-call" onclick="customerDe.getAuthDetails('{{this.global_id}}', '{{this.customer_number}}', event, this)">
                                <span class="small-info"></span>
                                {{this.customer_number}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 customer-types text-right">
                        {{#compare  this.account_category 'ALL' operator="caseInsensitiveEq"}}
                        <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                        <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                        <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                        {{else}}
                        {{#compare this.account_category 'KIAS,Mobile' operator="inArray"}}
                        <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                        {{else}}
                        <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php  echo $this->__('Mobile') ?>"></span>
                        {{/compare}}

                        {{#compare this.account_category 'KD,Cable' operator="inArray"}}
                        <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                        {{else}}
                        <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                        {{/compare}}

                        {{#compare  this.account_category 'FN,DSL' operator="inArray"}}
                        <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                        {{else}}
                        <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                        {{/compare}}
                        {{/compare}}
                    </div>
                </div>
                <div class="row row-with-address">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5 customer-details-content">
                        {{this.address.street}}
                        {{this.address.house_number}}
                        {{this.address.postcode}}
                        {{this.address.city}}
                    </div>
                    <div class="col-md-2 customer-details-content">
                        {{#showLocalAreaCode this.local_area_code}}{{/showLocalAreaCode}}
                        {{this.phone_number}}
                    </div>
                    <div class="col-md-2  customer-details-content">
                        {{this.mobile_email}}
                    </div>
                    <div class="col-md-1 customer-details-content customer-details-date">
                        {{#compare this.party_type "PRIVATE" operator="=="}}
                            {{formatDate this.dob 'DD.MM.YYYY'}}
                        {{/compare}}
                    </div>
                </div>
            </div>
        {{/each}}
    {{/each}}
{{/compare}}

<?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partials/customer_potential_link_found.phtml')->toHtml(); ?>

<div class="table-button below-table-button link-proceed-button">
    <input type="submit" class="btn btn-block btn-primary" value="<?php echo $this->__('Link and proceed') ?>"
           onclick="customerDe.linkCustomers('{{customer.global_id}}', '{{customer.customer_number}}', '{{customer.noLinkedAccounts}}', event)"/>
</div>
<div class="table-button below-table-button proceed-button">
    <input type="submit" class="btn btn-block btn-primary" value="<?php echo $this->__('Proceed') ?>"
           onclick="customerDe.linkCustomers('{{customer.global_id}}', '{{customer.customer_number}}', '{{customer.noLinkedAccounts}}', event)"/>
</div>
