{{#compare error true operator="=="}}
<div class="title second-title">
    <div class="table-title"><?php echo $this->__("Potential additional accounts"); ?></div>
    <div class="title-description">{{message}}</div>
</div>
{{else}}
{{#compare potential_links.length 0 operator="=="}}
<div class="title second-title">
    <div class="table-title"><?php echo $this->__("Potential additional accounts"); ?></div>
    <div class="title-description"><?php echo $this->__("There are no potential additional accounts for the selected customer account"); ?></div>
</div>
{{else}}
<div class="title second-title">
    <div class="table-title"><?php echo $this->__("Potential additional accounts"); ?></div>
    <div class="title-description"><?php echo $this->__("Select the additional account(s) to link with the main account"); ?></div>
</div>

{{#each potential_links}}
<div class="customer-row col-md-12 {{#if this.isTemporary}}temporary-customer{{/if}}">
    <div class="row row-with-headers">
        <div class="col-md-1" id="{{this.ParentAccountNumber.ID}}" onclick="customerDe.markLinkCustomers('{{this.ParentAccountNumber.ID}}', '{{this.Contact.ID}}', this)">
            <span class="icon-not-linked linked-id-{{this.ParentAccountNumber.ID}}"></span>
            <span class="icon-already-linked linked-id-{{this.ParentAccountNumber.ID}} hidden"></span>
        </div>
        <div class="col-md-8 customer-details-name">
            <div class="col-md-7 names">
                {{#compare this.AccountClass "S" operator="=="}}
                {{this.PartyName.Name}}
                {{/compare}}
                {{this.Role.Person.FirstName}}
                {{this.Role.Person.FamilyName}}
            </div>
            <div class="col-md-5 customer-icon-details">
                {{#compare this.AccountClass "S" operator="=="}}
                <span class="icon-soho-cust"></span>
                {{else}}
                <span class="icon-private-cust"></span>
                {{/compare}}
                {{#if this.isTemporary}}
                    <span class="auth-call" onclick="customerDe.displayTemporaryCustomerError('{{this.ParentAccountNumber.ID}}', '<?php echo $this->__("The order of this new customer is still being processed, the customer can not be authenticated until further notice.");?>')">
                        <span class="small-info"></span>
                        {{this.Contact.ID}}
                    </span>
                {{else}}
                   <span class="auth-call" onclick="customerDe.getAuthDetails('{{this.Contact.ID}}', '{{this.ParentAccountNumber.ID}}', event, this)">
                       <span class="small-info"></span>
                        {{this.Contact.ID}}
                    </span>
                {{/if}}
            </div>
        </div>
        <div class="col-md-3 customer-types text-right">
            {{#compare  this.AccountCategory 'ALL' operator="caseInsensitiveEq"}}
            <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
            <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
            <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
            {{else}}
            {{#compare this.AccountCategory 'KIAS,Mobile' operator="inArray"}}
            <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
            {{else}}
            <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php  echo $this->__('Mobile') ?>"></span>
            {{/compare}}

            {{#compare this.AccountCategory 'KD,Cable' operator="inArray"}}
            <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
            {{else}}
            <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
            {{/compare}}

            {{#compare this.AccountCategory 'FN,DSL' operator="inArray"}}
            <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
            {{else}}
            <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
            {{/compare}}
            {{/compare}}
        </div>
    </div>
    <div class="row row-with-address">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 customer-details-content">
            {{this.PostalAddress.StreetName}}
            {{this.PostalAddress.BuildingNumber}}
            {{this.PostalAddress.PostalZone}}
            {{this.PostalAddress.CityName}}
        </div>
        <div class="col-md-2  customer-details-content">
            {{#if this.Role.Person.ContactPhoneNumber.PhoneNumber}}
            {{#showLocalAreaCode this.Role.Person.ContactPhoneNumber.LocalAreaCode}}{{/showLocalAreaCode}}
            {{this.Role.Person.ContactPhoneNumber.PhoneNumber}}
            {{/if}}
            {{#each this.Role.Person.ContactPhoneNumber}}
            {{#showLocalAreaCode this.LocalAreaCode}}{{/showLocalAreaCode}}
            {{this.PhoneNumber}}
            {{/each}}
        </div>
        <div class="col-md-2  customer-details-content">
            {{this.Contact.ElectronicMail}}
        </div>
        <div class="col-md-1 customer-details-content">
            {{#compare this.AccountClass "P" operator="=="}}
            {{this.Role.Person.BirthDate}}
            {{/compare}}
        </div>
    </div>
</div>
{{/each}}
{{/compare}}
{{/compare}}
