<div class="back-to-search">
    <a id="back-to-search" onclick="customerDe.showCustomerList()"><?php echo $this->__("Back to search results") ?></a>
</div>
<div class="title">
    <div class="table-title"><?php echo $this->__('Selected customer account'); ?></div>
</div>
<div class="customer-row col-md-12">
    <div class="row row-with-headers">
        <div class="col-md-1">
            {{#compare customer.linkedAccounts.length 1 operator=">"}}
            <button type="button" class="collapse-button-search buttons-trigger icon-already-linked"
                    onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="potential-links-{{customer.Contact.ID}}">
            </button>
            {{else}}
            <button type="button" class="collapse-button-search buttons-trigger icon-already-linked"></button>
            {{/compare}}
        </div>
        <div class="col-md-8 customer-details-name">
            <div class="col-md-7 names">
                {{#compare customer.AccountClass "S" operator="=="}}
                {{customer.PartyName.Name}}
                {{/compare}}
                {{customer.Role.Person.FirstName}}
                {{customer.Role.Person.FamilyName}}
            </div>
            <div class="col-md-5 customer-icon-details">
                {{#compare customer.AccountClass "S" operator="=="}}
                    <span class="icon-soho-cust"></span>
                {{else}}
                    <span class="icon-private-cust"></span>
                {{/compare}}
                {{#compare customer.linkedAccounts.length 1 operator=">"}}
                <span class="auth-call" onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="potential-links-{{customer.Contact.ID}}">
                        <span class="auth-call-linked"></span>
                {{else}}
                    <span class="auth-call" onclick="customerDe.getAuthDetails('{{customer.Contact.ID}}', '{{customer.ParentAccountNumber.ID}}', event, this)">
                        <span class="small-info"></span>
                {{/compare}}
                    {{customer.Contact.ID}}
                </span>
            </div>
        </div>
        <div class="col-md-3 customer-types text-right">
            {{#each customer.stacks}}
            {{#compare @key 'KIAS' operator="=="}}
            {{#compare this true operator="=="}}
            <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
            {{else}}
            <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php  echo $this->__('Mobile') ?>"></span>
            {{/compare}}
            {{/compare}}
            {{#compare @key 'KD' operator="=="}}
            {{#compare this true operator="=="}}
            <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
            {{else}}
            <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
            {{/compare}}
            {{/compare}}
            {{#compare @key 'FN' operator="=="}}
            {{#compare this true operator="=="}}
            <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
            {{else}}
            <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
            {{/compare}}
            {{/compare}}
            {{/each}}
        </div>
    </div>
    <div class="row row-with-address">
        <div class="col-md-1">
        </div>
        {{#if customer.linkedAccounts}}
        <div class="col-md-5 customer-details-content">
            {{customer.linkedAccounts.0.PostalAddress.StreetName}}
            {{customer.linkedAccounts.0.PostalAddress.BuildingNumber}}
            {{customer.linkedAccounts.0.PostalAddress.PostalZone}}
            {{customer.linkedAccounts.0.PostalAddress.CityName}}
        </div>
        {{else}}
        <div class="col-md-5 customer-details-content">
            {{customer.PostalAddress.StreetName}}
            {{customer.PostalAddress.BuildingNumber}}
            {{customer.PostalAddress.PostalZone}}
            {{customer.PostalAddress.CityName}}
        </div>
        {{/if}}
        <div class="col-md-2  customer-details-content">
            {{#if customer.Role.Person.ContactPhoneNumber.PhoneNumber}}
            {{#showLocalAreaCode customer.Role.Person.ContactPhoneNumber.LocalAreaCode}}{{/showLocalAreaCode}}
            {{customer.Role.Person.ContactPhoneNumber.PhoneNumber}}
            {{/if}}
            {{#each customer.Role.Person.ContactPhoneNumber}}
            {{#showLocalAreaCode this.LocalAreaCode}}{{/showLocalAreaCode}}
            {{this.PhoneNumber}}
            {{/each}}
        </div>
        <div class="col-md-2  customer-details-content">
            {{customer.Contact.ElectronicMail}}
        </div>
        <div class="col-md-1 customer-details-content customer-details-date">
            {{#compare customer.AccountClass "P" operator="=="}}
            {{customer.Role.Person.BirthDate}}
            {{/compare}}
        </div>
    </div>
</div>

{{#compare customer.linkedAccounts.length 1 operator=">"}}
    {{#each customer.linkedAccounts}}
        <div class="customer-row col-md-12 collapse out potential-links-{{this.Contact.ID}} {{#if this.isTemporary}}temporary-customer{{/if}}">
            <div class="row row-with-headers">
                <div class="col-md-1">
                    <span class="icon-already-linked"></span>
                </div>
                <div class="col-md-8 customer-details-name">
                    <div class="col-md-7 names">
                        {{#compare this.AccountClass "S" operator="=="}}
                        {{this.PartyName.Name}}
                        {{/compare}}
                        {{this.Role.Person.FirstName}}
                        {{this.Role.Person.FamilyName}}
                    </div>
                    <div class="col-md-5 customer-icon-details">
                        {{#compare customer.AccountClass "S" operator="=="}}
                        <span class="icon-soho-cust"></span>
                        {{else}}
                        <span class="icon-private-cust"></span>
                        {{/compare}}
                        {{#if this.isTemporary}}
                            <span class="auth-call" onclick="customerDe.displayTemporaryCustomerError('{{this.ParentAccountNumber.ID}}', '<?php echo $this->__("The order of this new customer is still being processed, the customer can not be authenticated until further notice.");?>')">
                                <span class="small-info"></span>
                                {{this.ParentAccountNumber.ID}}
                            </span>
                        {{else}}
                            <span class="auth-call" onclick="customerDe.getAuthDetails('{{this.Contact.ID}}', '{{this.ParentAccountNumber.ID}}', event, this)">
                                <span class="small-info"></span>
                                {{this.ParentAccountNumber.ID}}
                            </span>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-3 customer-types text-right">
                    {{#compare  this.AccountCategory 'ALL' operator="caseInsensitiveEq"}}
                    <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                    <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                    <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                    {{else}}
                    {{#compare this.AccountCategory 'KIAS,Mobile' operator="inArray"}}
                    <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                    {{else}}
                    <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php  echo $this->__('Mobile') ?>"></span>
                    {{/compare}}

                    {{#compare this.AccountCategory 'KD,Cable' operator="inArray"}}
                    <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                    {{else}}
                    <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                    {{/compare}}

                    {{#compare  this.AccountCategory 'FN,DSL' operator="inArray"}}
                    <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                    {{else}}
                    <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                    {{/compare}}
                    {{/compare}}
                </div>
            </div>
            <div class="row row-with-address">
                <div class="col-md-1">
                </div>
                <div class="col-md-5 customer-details-content">
                    {{this.PostalAddress.StreetName}}
                    {{this.PostalAddress.BuildingNumber}}
                    {{this.PostalAddress.PostalZone}}
                    {{this.PostalAddress.CityName}}
                </div>
                <div class="col-md-2  customer-details-content">
                    {{#if this.Role.Person.ContactPhoneNumber.PhoneNumber}}
                    {{#showLocalAreaCode this.Role.Person.ContactPhoneNumber.LocalAreaCode}}{{/showLocalAreaCode}}
                    {{this.Role.Person.ContactPhoneNumber.PhoneNumber}}
                    {{/if}}
                    {{#each this.Role.Person.ContactPhoneNumber}}
                    {{#showLocalAreaCode this.LocalAreaCode}}{{/showLocalAreaCode}}
                    {{this.PhoneNumber}}
                    {{/each}}
                </div>
                <div class="col-md-2  customer-details-content">
                    {{this.Contact.ElectronicMail}}
                </div>
                <div class="col-md-1 customer-details-content customer-details-date">
                    {{#compare this.AccountClass "P" operator="=="}}
                    {{this.Role.Person.BirthDate}}
                    {{/compare}}
                </div>
            </div>
        </div>
    {{/each}}
{{/compare}}

<?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partials/customer_potential_link_found.phtml')->toHtml(); ?>

<div class="table-button below-table-button link-proceed-button">
    <input type="submit" class="btn btn-block btn-primary cancel-cart-button" value="<?php echo $this->__('Link and proceed') ?>"
           onclick="customerDe.linkCustomers('{{customer.Contact.ID}}', '{{customer.ParentAccountNumber.ID}}', '{{customer.linkedAccounts.length}}', event)"/>
</div>
<div class="table-button below-table-button proceed-button">
    <input type="submit" class="btn btn-block btn-primary cancel-cart-button" value="<?php echo $this->__('Proceed') ?>"
           onclick="customerDe.linkCustomers('{{customer.Contact.ID}}', '{{customer.ParentAccountNumber.ID}}', '{{customer.linkedAccounts.length}}', event)"/>
</div>
