<?php
/** @var Vznl_Checkout_Block_Cart $this */
/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();
?>
<!-- Credit check waiting
================================================== -->

<script>
    //<![CDATA[
    form.saveCreditCheck = new VarienForm('saveCreditCheck', true);
    var pollingTimeGap = <?php echo Mage::getStoreConfig('omnius_general/polling_settings/credit_check_polling_time_gap'); ?>;
    var pollingRetryLimit = <?php echo Mage::getStoreConfig('omnius_general/polling_settings/credit_check_polling_retry_limit'); ?>;
    var creditCheck = {};
    var superOrderChecked = false;
    var superorderErrorStatus = false;
    var superOrderPartial = false;
    var superorderErrorUpdateStatus = false;
    var superOrderRejected = false;
    var superOrderReferred = false;
    var intervalID = null;
    var addr = {};
    var cFailed = false;
    var performCreditChecksCountStart = pollingRetryLimit;
    var performCreditChecksCount = performCreditChecksCountStart; // How many times to try, keep it going for 30600seconds (8,5 hours), the maximum supported backend downtime
    var returnToOrderEditAfterCreditCheckURL = '<?php echo Mage::getUrl('checkout/cart/editSuperorderFromCreditCheck') ?>';

    function returnToConfigurator() {
        window.location.href = '<?php echo Mage::getUrl('/'); ?>';
    }

    function showCreditCheckFailed() {
        var html = '<?php echo trim(Mage::getSingleton('core/layout')->createBlock('core/template')->setTemplate('checkout/cart/steps/failed_credit_check.phtml')->toHtml()); ?>';
        jQuery.each(creditCheck, function (id, packageData) {
            jQuery('#creditcheck-resultbox-' + packageData['id']).find('span:first').html(html);
        });
        jQuery('#cancel-order-credit-check').removeClass('hidden');
    }

    function registerSoastaTimerStart() {
        <?php if(!$isIndirect): ?>
        SOASTA = window.SOASTA || {};
        if ((typeof BOOMR !== undefined) && (typeof BOOMR !== "undefined")) {
            SOASTA.timer_cc = BOOMR.requestStart("timer_cc");
        } else {
            SOASTA.timer_cc_start = new Date().getTime();
        }
        <?php endif; ?>
    }

    function registerSoastaTimerStop() {
        <?php if(!$isIndirect): ?>
        SOASTA = window.SOASTA || {};
        var data = { };
        if (SOASTA.timer_cc) {
            SOASTA.timer_cc.loaded(data);
        } else if(SOASTA.timer_cc_start && typeof BOOMR !== "undefined") {
            BOOMR.responseEnd("timer_cc", SOASTA.timer_cc_start, data);
        }
        SOASTA.timer_cc = SOASTA.timer_cc_start = undefined;
        <?php endif; ?>
    }

    function performCreditCheck(orderId) {
        if (performCreditChecksCountStart == performCreditChecksCount) {
            registerSoastaTimerStart();
        }

        --performCreditChecksCount;
        var count = 0;
        var packageIds = [];
        var retentionIds = [];
        jQuery.each(creditCheck, function (id, packageData) {
            if (!packageData['performed']) {
                ++count;
                if (jQuery('#package-type-retention-' + packageData['id']).val() == 1) {
                    retentionIds.push(packageData['id']);
                }
                packageIds.push(packageData['id']);
                jQuery('#so-error').addClass('hidden');
                jQuery('#so-error-code').html('');
                var html = '<span><table id="credit-check-result-table" style="text-align: center; vertical-align: middle;"><tr><td><img style="width: 30px; height: 10px;" src="<?php echo $this->getSkinUrl('images/credit_check_spinner_modern.gif') ?>" /></td></tr><tr><td><b><?php echo $this->__('Ongoing'); ?></b></td></tr></table></span>';
                jQuery('#creditcheck-resultbox-' + id).html(html);
            }
        });
        if ((count != 0 || !enableCreditCheckButton()) && superOrderPartial == false) {
            window.canShowSpinner = false;

            var agent_id = jQuery('#agent_id');
            var dealer_id = jQuery('#dealer_id');
            var is_order_edit_mode = jQuery('#is_order_edit_mode');
            var current_website_code = jQuery('#current_website_code');
            var axi_store_id = jQuery('#axi_store_id');
            var dealer_group_ids = jQuery('#dealer_code');

            jQuery.post('<?php echo Mage::getUrl('/') ?>creditcheck.php', {
                'package_ids': JSON.stringify(packageIds),
                'order_id': orderId,
                'retention_ids': JSON.stringify(retentionIds),
                'is_order_edit_mode' : is_order_edit_mode.length ? is_order_edit_mode.val() : null,
                'agent_id' : agent_id.length ? agent_id.val() : null,
                'dealer_id' : dealer_id.length ? dealer_id.val() : null,
                'website_code' : current_website_code.length ? current_website_code.val() : null,
                'axi_store_id' : axi_store_id.length ? axi_store_id.val() : null,
                'dealer_group_ids' : dealer_group_ids.length ? dealer_group_ids.val() : null
            }, function (response) {
                if (response.error == true) {
                    console.log(response.message);
                    checkout.showVodError(true, response.message, 0);
                    console.log('SOASTA timer stop');
                    registerSoastaTimerStop();
                } else if (response.error == false) {

                    if (response.super_order_error) {
                        console.log('SOASTA timer stop');
                        registerSoastaTimerStop();
                        // Show super order message
                        enableCCBar(orderId, 'redo');
                        checkout.showVodError(true, response.super_order_error, 0, 0);
                        jQuery('#so-error').removeClass('hidden');
                        jQuery('#so-error-code').html(response.super_order_error);
                        jQuery.each(response.data, function (id, el) {
                            jQuery('#creditcheck-resultbox-' + id).html('');
                        });
                    }

                    if (response.data.superorder_status == true) {
                        superOrderChecked = true;
                        console.log('SOASTA timer stop');
                        registerSoastaTimerStop();
                    } else if (response.data.superorder_status == -1) {
                        superOrderChecked = -1;
                        superorderErrorStatus = response.data.creditcheck_in_progress ? response.data.creditcheck_in_progress : false;

                        if(superorderErrorStatus == '<?php echo Vznl_Superorder_Model_Superorder::SO_VALIDATED_PARTIALLY ?>'){
                            superOrderPartial = true;
                            enableCCBar(orderId, 'editOrder', addr, cFailed);
                        }
                    }

                    // Set failed credit check as Saved Cart
                    if (response.hasOwnProperty('failed_cc') && response.failed_cc == true) {
                        console.log('SOASTA timer stop');
                        registerSoastaTimerStop();
                        jQuery.post('<?php echo Mage::getUrl('checkout/index/'); ?>saveFailedCreditCheck', {
                            'order_no': orderId
                        });
                    }
                    var packageFailed = false;
                    var perfomedOrder = true;

                    //TODO Add the needed check to enable edit order
                    jQuery.each(response.data, function (id, el) {
                        triggerCheckoutEvent('checkout.creditcheck_update', '');
                        if (el['performed']) {
                            if(el['description']) {
                                jQuery('#credit-check-reason_' + id).attr('data-original-title', el['description']);
                            }
                            if (el['complete']) {
                                jQuery('#orderline_' + id).removeClass("loading succeeded failed warning").addClass("succeeded");
                                triggerCheckoutEvent('checkout.creditcheck_complete', id + ':' + el['package_esb_number']);
                            } else if (el['repeat_cc'] || el['manual_activation']) {
                                jQuery('.credit-check-reason').attr('data-original-title', el['description']);
                                jQuery('#orderline_' + id).removeClass("loading succeeded failed warning").addClass("warning");
                                jQuery('[id^=orderline_]').removeClass("loading succeeded failed warning").addClass("warning");
                                enableCCBar(orderId, 'repeat', addr, cFailed);
                                var creditStub = response.credit_fail == true;
                                triggerCheckoutEvent('checkout.creditcheck_failed', id + ':' + el['code']);
                                packageFailed = true;
                                superOrderReferred = true;
                                jQuery('.notification-banner').addClass('hidden');
                                jQuery('.notification-banner.referral').removeClass('hidden');
                                returnToOrderEditAfterCreditCheckURL = '/?orderId=' + orderId;
                                if (!el['description']) {
                                    var $tooltip = jQuery('#credit-check-reason_'+ id);
                                    $tooltip.attr('data-original-title', $tooltip.attr('data-title-manual-activation'));
                                    jQuery('[id^=orderline_] .tip-trig-hover').attr('data-original-title', $tooltip.attr('data-title-manual-activation'));
                                }
                            } else if (el['rejected_cc']) {
                                jQuery('.credit-check-reason').attr('data-original-title', el['description']);
                                jQuery('#orderline_' + id).removeClass("loading succeeded failed warning").addClass("failed");
                                jQuery('[id^=orderline_]').removeClass("loading succeeded failed warning").addClass("failed");
                                returnToOrderEditAfterCreditCheckURL = '/checkout/cart/editSuperorder?superorderId=' + orderId + '&packageId='+id+'&changeorder=true&lock=true&redirect=directly';
                                enableCCBar(orderId, 'editOrder');
                                triggerCheckoutEvent('checkout.creditcheck_failed', id + ':' + el['code']);
                                packageFailed = true;
                                superOrderRejected = true;
                                jQuery('.notification-banner').addClass('hidden');
                                jQuery('.notification-banner.error').removeClass('hidden');
                            } else if(el['complete'] == false && el['repeat_cc'] == false) { // Partial status
                                packageFailed = false;
                                jQuery('#orderline_' + id).removeClass("loading succeeded failed warning").addClass("warning");
                                superOrderPartial = true;
                                returnToOrderEditAfterCreditCheckURL = '/checkout/cart/editSuperorder?superorderId=' + orderId + '&packageId='+id+'&changeorder=true&lock=true&redirect=directly';
                                enableCCBar(orderId, 'editOrder');
                                jQuery('.notification-banner').addClass('hidden');
                                jQuery('.notification-banner.change').removeClass('hidden');
                            } else {
                                jQuery('.credit-check-reason').attr('data-original-title', el['description']);
                                jQuery('#orderline_' + id).removeClass("loading succeeded failed warning").addClass("failed");
                                jQuery('[id^=orderline_]').removeClass("loading succeeded failed warning").addClass("failed");
                                enableCCBar(orderId);
                                triggerCheckoutEvent('checkout.creditcheck_failed', id + ':' + el['code']);
                                packageFailed = true;
                                superOrderRejected = true;
                                superorderErrorUpdateStatus = true;
                                jQuery('.notification-banner').addClass('hidden');
                                jQuery('.notification-banner.error').removeClass('hidden');
                            }

                            creditCheck[id]['performed'] = el['performed'];
                            creditCheck[id]['complete'] = el['complete'];
                            jQuery('#creditcheck-resultbox-' + id).find('span:first').html(el['html']);
                            if (undefined != el['package_esb_number']) {
                                jQuery('#creditcheck-esb-number-' + id).html(el['package_esb_number']);
                            }
                            if (undefined != el['customer_ban']) {
                                jQuery('#creditcheck-ban-' + id).html(el['customer_ban']);
                            }
                        } else if (id.toString().localeCompare('superorder_status')) {
                            //It's not the superorder_status node, at least one of the packages it's not checked
                            perfomedOrder = false;
                        }

                        if (undefined != el['package_order_number']) {
                            jQuery('#creditcheck-package-number-' + id).html(el['package_order_number']);
                            jQuery('#creditSuperOrderId').val(el['package_order_number']);
                        }
                    });

                    // If atleast one of the packages failed, cc stops, and we need to show message for all the other packages
                    if (packageFailed) {
                        var html = '<span class="credit-check-error"><br/><?php echo $this->__("Validation failed. This package can not be validated because another package has already received an error");?><span>';
                        jQuery.each(creditCheck, function (id, el) {
                            if (el.performed != true) {
                                jQuery('#creditcheck-resultbox-' + el.id).find('span:first').html(html);
                            }
                        });
                        clearInterval(intervalID);
                        endPiwikCall('checkout/creditcheck/creditcheckTotal');
                    }
                    enableCreditCheckButton();

                    if (perfomedOrder && superOrderChecked) {
                        clearInterval(intervalID);
                        endPiwikCall('checkout/creditcheck/creditcheckTotal');
                    }
                } else {
                    console.log('error occured / no response received');
                }
            });
            window.canShowSpinner = true;
        }
        if (performCreditChecksCount == 0) {
            clearInterval(intervalID);
            endPiwikCall('checkout/creditcheck/creditcheckTotal');
        }
    }

    function enableCCBar(order_id, action, addresses, c_failed) {
        clearInterval(intervalID);
        jQuery(".redo-credit-check").unbind('click');
        jQuery("#order-edit").unbind('click');
        if (action == 'repeat') {
            jQuery("#order-edit").addClass('hidden').prop('disabled', true);
            jQuery(".redo-credit-check").removeClass('hidden');
            jQuery('.arrow-back-disabled').addClass('hidden');
            jQuery('.arrow-back-enabled').removeClass('hidden');
            //jQuery(".redo-credit-check").text('<?php echo $this->__('Get latest status'); ?>');
            jQuery(".redo-credit-check").bind('click', function () {
                doCreditCheck(addresses, order_id, c_failed);
            });
        } else if(action == 'editOrder') {
            jQuery('#order-edit').removeAttr('disabled').removeClass('hidden');
            jQuery("#order-edit").bind('click', function () {
                editOrder();
            });
            jQuery(".redo-credit-check").bind('click', function () {
                doCreditCheck(addresses, order_id, c_failed);
            });
        } else {
            jQuery("#order-edit").removeAttr('disabled').removeClass('hidden');
            jQuery(".redo-credit-check").removeClass('hidden');
            jQuery(".redo-credit-check").text('<?php echo $this->__('Revalidate'); ?>');
            jQuery(".redo-credit-check").bind('click', function () {
                redoCreditCheck(order_id);
            });
        }

        jQuery('#redo-validation').removeClass('hidden');

    }

    function enableCreditCheckButton() {
        if (superOrderChecked == true) {
            jQuery('#credit-check-cancel-button').removeClass('hidden');
            jQuery('.arrow-back-disabled').addClass('hidden');
            jQuery('.arrow-back-enabled').removeClass('hidden');
            jQuery('#creditcheck-continue').prop('disabled', false);
            jQuery('#creditcheck-continue').removeClass('btn-primary').addClass('btn-inverted');
            jQuery('.notification-banner.success').removeClass('hidden');
            jQuery('.notification-banner.referral').addClass('hidden');
            clearInterval(intervalID);
            endPiwikCall('checkout/creditcheck/creditcheckTotal');
            return true;
        } else if (superOrderChecked == -1) {
            //Checking if any of the packages is rejected. If none, we show the invalid order status response
            jQuery('.arrow-back-disabled').addClass('hidden');
            jQuery('.arrow-back-enabled').removeClass('hidden');
            if (superOrderRejected == true) {
                jQuery('.notification-banner.error').removeClass('hidden');
                jQuery('.notification-banner.referral').addClass('hidden');
            }

            var showSuperorderMessage = true;
            jQuery(".credit_check_result").each(function () {
                if (jQuery(this).find('.credit-check-error, .credit-check-partial').length) {
                    showSuperorderMessage = false;
                }
            });
            if (showSuperorderMessage && superorderErrorUpdateStatus) {
                var text = '<?php echo $this->__("Invalid order status received");?>';
                if (superorderErrorStatus) {
                    var status = '<?php echo $this->__("Current status"); ?>' + ': <?php echo Dyna_Superorder_Model_Superorder::SO_STATUS_CANCELLED; ?>';
                }
                jQuery("#order_validation_error").html(text + '. ' + status);
            }
            return false;
        } else {
            return false;
        }
    }

    function showHideClientInfo(el) {
        jQuery('#creditcheck-data').toggleClass('hidden');
        toggleArrowType(el);
    }

    function togglePacketDetails(id, el) {
        jQuery(id).toggleClass('hidden');
        toggleArrowType(el);
    }

    function editOrder() {
        window.location.href = returnToOrderEditAfterCreditCheckURL;
    }

    function toggleArrowType(el) {
        if (jQuery(el).find('.arrow-down').hasClass('arrow-down')) {
            jQuery(el).find('.arrow-down').removeClass('arrow-down').addClass('arrow-right');
        } else if (jQuery(el).find('.arrow-right').hasClass('arrow-right')) {
            jQuery(el).find('.arrow-right').removeClass('arrow-right').addClass('arrow-down');
        }
    }

    function restartCreditCheck(superorderNo) {
        var creditCheckOld = creditCheck;
        creditCheck = {};

        jQuery.each(creditCheckOld, function (id, packageData) {
            creditCheck[id] = {'id': id, 'checked': false};
        });

        performCreditCheck(superorderNo);
        intervalID = setInterval(function () {
            performCreditCheck(superorderNo);
        }, pollingTimeGap);
    }
    function refreshCreditCheckStatus()
    {
        jQuery('#refreshButton').addClass('loading');
        setTimeout(function(){
            jQuery('#refreshButton').removeClass('loading');
        }, 5000);
    }

    //]]>
</script>
