<div id="homepage-wrapper" style="padding:10px;">
    <ul class="nav nav-tabs no-padding no-margin" id="home-tabs">
        <li class="active"><a href="#favorites-content" id="favorites-tab" data-toggle="tab"><?php echo $this->__('Favorites'); ?></a></li>
        <li class=""><a href="#deals-content" id="deals-tab" data-toggle="tab"><?php echo $this->__('Deals'); ?></a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane top_menu_content active" id="favorites-content">
            <?php echo $this->getChildHtml('favorites_list'); ?>
        </div>
        <div class="tab-pane top_menu_content" id="deals-content">
            <?php echo $this->getChildHtml('deals_list'); ?>
        </div>
    </div>
</div>