<div class="caller-icon hide">
    <div class="caller-icon-inactive">
        <img src="<?php echo $this->getSkinUrl('images/icon-phone-inactive.png'); ?>" alt="">
    </div>
    <div id='customerPoolingIcon' class="caller-icon-inactive hide" data-customer-id="" onclick="phone.loadCustomer(this)">
        <img src="<?php echo $this->getSkinUrl('images/icon-phone-ringing.png'); ?>" alt=""  data-icon="data-icon1"
             data-icon1="<?php echo $this->getSkinUrl('images/icon-phone-ringing.png'); ?>" data-icon2="<?php echo $this->getSkinUrl('images/icon-phone-not-ringing.png'); ?>">
    </div>
    <div class="caller-icon-hang-up hide" onclick="phone.hangUp()">
        <img src="<?php echo $this->getSkinUrl('images/icon-phone-hang-up.png'); ?>" alt="">
    </div>
</div>


