<?php
/** @var Dyna_Bundles_Helper_Data $bundlesHelper */
$bundlesHelper = Mage::helper('bundles');
/** @var Dyna_Customer_Model_Session $customerSession */
$customerSession = Mage::getSingleton('customer/session');
$checkoutSession = Mage::getSingleton('checkout/session');
$quote = $checkoutSession->getQuote();
/** @var Dyna_AgentDE_Model_Agent $agent */
$agent = $customerSession->getAgent();
$hasImpersonateAccess = $hasLockingPermission = false;
$loggedInRole = $agent ? Mage::getSingleton('customer/session')->getData($agent::AGENT_IMPERSONATES_ROLE_KEY) : null;
if ($agent) {
    $agentDealer = $agent->getDealer();
    $agency = Mage::getSingleton('agent/dealergroup')->load($agentDealer->getGroupId())->getName();
    /** @var Dyna_Agent_Model_Agent $superAgent */
    $superAgent = $customerSession->getSuperAgent();
    if ($superAgent) {
        $superAgentDealer = $superAgent->getDealer();
    }



    $hasImpersonateAccess = $agent->isGranted(Dyna_AgentDE_Model_Agent::AGENT_ROLE_PERMISSION_IMPERSONATE);
    $hasLockingPermission = $agent->isGranted('LOCKING_ACCOUNTS');
    $profileMenuClass = ($hasImpersonateAccess || $superAgent || $agent->hasBusinessFunction()) ? ($hasLockingPermission ? 'col-md-2' : 'col-md-3') : (($hasLockingPermission) ? 'col-md-3' : 'col-md-4');
    $headerMenuClass = ($hasLockingPermission && ($hasImpersonateAccess || $agent->hasBusinessFunction())) ? 'col-md-8 col-md-offset-3' : 'col-md-4 col-md-offset-4';
}
?>
<?php if ($agent): ?>
    <div class="right-menu">
        <div class="user-menu">
            <?php
            // Render incoming customer phone icon block
            echo $this->getLayout()
                ->createBlock('core/template')
                ->setTemplate('agent/top_menu_phone.phtml')
                ->toHtml();
            ?>
            <div class="drop-menu">
                <a href="#user-menu-content" data-slidebutton-top="panel">
                    <div class="clearfix">
                        <div class="menu">
                        <span id="impersonated_agent_details_top">
                            <?php
                            if ($superAgent) {
                                echo '' . $agent->getUsername() . '';
                            }
                            ?>
                        </span>

                            <span id="agent_details_top" class="<?php echo $superAgent ? 'grey' : null; ?>">
                            <?php
                            if ($superAgent) {
                                echo '&nbsp;<span>(</span>' . $superAgent->getUsername() . ')';
                            } else {
                                echo '&nbsp;<span>(</span>' . $agent->getUsername() . '';
                            }
                            ?>
                        </span>
                        </div>

                        <div class="menu-arrow-down"><span>B</span></div>
                    </div>
                </a>
            </div>
        </div>
        <div id="user-menu-content" class="cb_slide_panel">
            <div class="wrapper">
                <a href="javascript:void(0)" class="close">Close</a>
                <div class="inner">
                    <div class="top-menu-buttons col-xs-12">
                        <div class="nav btn-group <?php echo $headerMenuClass; ?>">
                            <button type="button"
                                    class="btn btn-default el-tab profile active <?php echo $profileMenuClass; ?>"
                                    onclick="jQuery('#profile-tab').tab('show');">
                                <?php echo $this->__('Account Details') ?>
                            </button>

                            <button type="button" class="btn btn-default el-tab <?php echo $profileMenuClass; ?>"
                                    onclick="jQuery('#password-change-tab').tab('show');">
                                <?php echo $this->__('Privacy') ?>
                            </button>

                            <?php // Impersonation of agents changed to impersonation of roles @see VFDED1W3S-1130 ?>
                            <?php if (false && ($hasImpersonateAccess || $superAgent)) : ?>
                                <button type="button" class="btn btn-default el-tab <?php echo $profileMenuClass; ?>"
                                        onclick="jQuery('#agent-load-tab').tab('show');">
                                    <?php echo $this->__('Impersonate') ?>
                                </button>
                            <?php endif; ?>
                            <?php if ($agent->hasBusinessFunction()) : ?>
                                <button type="button" class="btn btn-default el-tab <?php echo $profileMenuClass; ?>"
                                        onclick="jQuery('#role-load-tab').tab('show');">
                                    <?php echo $this->__('Impersonate') ?>
                                </button>
                            <?php endif; ?>
                            <?php if ($hasLockingPermission) : ?>
                                <button type="button" class="btn btn-default el-tab <?php echo $profileMenuClass; ?>"
                                        onclick="jQuery('#agent-lock-tab').tab('show');">
                                    <?php echo $this->__('Locking') ?>
                                </button>
                            <?php endif; ?>

                            <button type="button" class="btn btn-default el-tab <?php echo $profileMenuClass; ?>"
                                    onclick="agent.logout();">
                                <?php echo $this->__('Logout') ?>
                            </button>
                        </div>
                    </div>
                    <div class="middle-section col-xs-12">
                        <ul class="nav nav-tabs dont-show no-padding no-margin" id="top-tabs">
                            <li class=""><a href="#profile" id="profile-tab"
                                            data-toggle="tab"><?php echo $this->__('Profile!!!'); ?></a></li>
                            <li class=""><a href="#password-change" id="password-change-tab"
                                            data-toggle="tab"><?php echo $this->__('Change password'); ?></a></li>
                            <li class=""><a href="#role-load" id="role-load-tab" data-toggle="tab">
                                    <?php echo $this->__('Switch to another business function'); ?></a>
                            </li>
                            <li class=""><a href="#agent-lock" id="agent-lock-tab" data-toggle="tab"
                                            onclick="agent.getAgents(true)"><?php echo $this->__('Load other agent'); ?></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane top_menu_content active" id="profile">
                                <h4><?php echo $this->__('Agent details') ?></h4>
                                <hr/>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $this->__('Username'); ?></strong>:</span>
                                            <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getUsername() : $agent->getUsername(); ?></span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $this->__('E-Mail'); ?></strong>:</span>
                                            <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getEmail() : $agent->getEmail(); ?></span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $this->__('Phone'); ?></strong>:</span>
                                            <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getPhone() : $agent->getPhone(); ?></span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $this->__('First Name'); ?></strong>:</span>
                                            <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getFirstName() : $agent->getFirstName(); ?></span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $this->__('Last Name'); ?></strong>:</span>
                                            <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getLastName() : $agent->getLastName(); ?></span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $this->__('Rights'); ?></strong>:</span>
                                            <?php $roles = Dyna_Agent_Block_Adminhtml_Agent_Grid::getValueArray6(); ?>
                                            <span class="col-xs-6"><?php echo $roles[$superAgent ? $superAgent->getRoleId() : $agent->getRoleId()]; ?></span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $this->__('Vodafone employee number'); ?></strong>:</span>
                                            <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getEmployeeNumber() : $agent->getEmployeeNumber(); ?></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane top_menu_content" id="password-change">
                                <p id="agent-change-password-error" class="error"></p>
                                <h4><?php echo $this->__('Change password') ?></h4>
                                <hr/>
                                <form role="form">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="col-md-4 left">
                                                <h4><?php echo $this->__('Authentification') ?></h4>
                                            </div>
                                            <div class="form-group col-md-8 right">
                                                <label for="curr-password"><?php echo $this->__('Current password'); ?></label>
                                                <input type="password" class="form-control" id="curr-password">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <hr/>
                                            <div class="col-md-4 left">
                                                <h4><?php echo $this->__('New password') ?></h4>
                                            </div>
                                            <div class="form-group col-md-8 right">
                                                <label for="password"><?php echo $this->__('New password'); ?></label>
                                                <input type="password" class="form-control" id="password">
                                            </div>
                                            <div class="form-group col-md-8 right">
                                                <label for="password-again"><?php echo $this->__('Re-type New Password'); ?></label>
                                                <input type="password" class="form-control" id="password-again">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <hr>
                                        </div>
                                        <div class="btn btn-default right col-md-8"
                                             onclick="agent.changePassword(jQuery('#curr-password').val(), jQuery('#password').val(), jQuery('#password-again').val())">
                                            <?php echo $this->__('Save'); ?>
                                        </div>
                                    </div>
                                </form>
                                <div class="clearfix clear clearer"></div>
                            </div>
                            <?php if (false && ($hasImpersonateAccess || $superAgent)) : ?>
                                <div class="tab-pane top_menu_content" id="agent-load">

                                    <?php if ($hasImpersonateAccess && !$superAgent) : ?>
                                        <h4 class="login-user-agent"><?php echo $this->__('Log as other agent') ?></h4>
                                        <hr/>
                                        <p id="agent-login-error" class="error login-user-agent"></p>
                                        <div class="login-user-agent">
                                            <form role="form" class="loginOtherUserForm">
                                                <div class="form-group">
                                                    <label for="agent-username-input"><?php echo $this->__('Username') . ':'; ?></label>
                                                    <select class="form-control" id="agent-username-input">
                                                        <?php
                                                        foreach ($agent->getImpersonationAgents() as $impersonableAgent) {
                                                            echo "<option value='{$impersonableAgent['username']}'>{$impersonableAgent['first_name']} {$impersonableAgent['last_name']}</option>";
                                                        }
                                                        ?>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="btn btn-primary right login-user-agent" onclick="loginOtherUser()">
                                            <?php echo $this->__('login as other user'); ?>
                                        </div>
                                        <div class="clearfix"></div>
                                    <?php endif; ?>

                                    <?php if ($superAgent) : ?>
                                    <h4 class="logout-user"><?php echo $this->__('Logout as other agent') ?></h4>
                                    <hr/>
                                    <ul class="list-group logout-user">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <span class="col-xs-6"><strong><?php echo $this->__('Logged in as'); ?></strong></span>
                                                <span class="col-xs-6"><span
                                                            id="agent-username"><?php echo $agent->getUsername(); ?></span> - <span
                                                            id="agent-dealer"><?php echo $agentDealer ? $agentDealer->getVfDealerCode() : $this->__('N/A'); ?></span></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="btn btn-primary right logout-user" onclick="agent.logoutOtherAgent();">
                                        <?php echo $this->__('logout other user'); ?>
                                    </div>

                                    <p id="agent-logout-error" class="error"></p>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>

                            <?php if ($agent->hasBusinessFunction()) : ?>
                                <div class="tab-pane top_menu_content" id="role-load">
                                    <?php if (!$loggedInRole) : ?>
                                        <h4 class="login-user-agent"><?php echo $this->__('Switch to another business function') ?></h4>
                                        <hr/>
                                        <p id="role-login-error" class="error login-user-agent"></p>
                                        <div class="login-user-agent">
                                            <form role="form" class="loginOtherUserForm">
                                                <div class="form-group">
                                                    <label for="role-username-input"><?php echo $this->__('Business function') . ':'; ?></label>
                                                    <select class="form-control" id="role-id-input">
                                                        <?php
                                                        foreach ($agent->getAdditionalRoles() as $agentRole) {
                                                            echo "<option value='" . $agentRole->getRoleId() . "'>" . $agentRole->getRole() . "</option>";
                                                        }
                                                        ?>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="btn btn-primary right login-user-agent" onclick="switchAgentRole()">
                                            <?php echo $this->__('Switch business function'); ?>
                                        </div>
                                        <div class="clearfix"></div>
                                    <?php endif; ?>

                                    <?php if ($loggedInRole) : ?>
                                        <?php $loggedInRole = $agent->getAdditionalRoles($loggedInRole); ?>
                                        <h4 class="logout-user"><?php echo $this->__('Leave business function') ?></h4>
                                        <hr/>
                                        <ul class="list-group logout-user">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <span class="col-xs-6"><strong><?php echo $this->__('Switched to business function'); ?></strong></span>
                                                    <span class="col-xs-6"><span id="role-id"><?php echo $loggedInRole->getRole(); ?></span></span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="btn btn-primary right logout-user" onclick="leaveAgentRole();">
                                            <?php echo $this->__('Leave business function'); ?>
                                        </div>

                                        <p id="role-logout-error" class="error"></p>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>

                            <?php if ($hasLockingPermission) : ?>


                                <div class="tab-pane tab-agent-lock top_menu_content" id="agent-lock">
                                    <div class="field-row plm mbs">
                                        <input
                                            type="text"
                                            id="search_agents"
                                            name="search_agents"
                                            value=""
                                            placeholder="<?php echo $this->__('Search agents'); ?>"
                                            class="form-control" />
                                    </div>

                                    <ul class="list-group search-agents-list">
                                        <?php foreach ($agent->getAgents() as $agent): ?>
                                            <li class='list-group-item'>
                                                <div class='col-sm-8'>
                                                    <?php
                                                    echo "{$agent['first_name']} {$agent['last_name']}<br />{$agent['email']}";
                                                    ?>
                                                </div>

                                                <div class='col-sm-2'>
                                                    <span class="label label-default <?php echo ($agent['locked']) ? '' : 'hidden'; ?>">LOCKED</span>
                                                </div>

                                                <div class='col-sm-2'>
                                                    <div class="toggle-container">
                                                        <div class="switch">
                                                            <div id="display-prices-switch"
                                                                 class="toggle-button  <?php echo ($agent['locked']) ? 'on-state' : 'off-state' ?>"
                                                                 onclick="changeLockingStatus(this, <?php echo $agent['agent_id']; ?>)">
                                                                <span class="bullet"> </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class='clearfix'></div>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sales-id-menu" class="dropdown">
            <span class="dropdown-toggle" id="open_sales_id_menu" onclick="toggleTopMenu(this)">
                <span class="circle-medium red<?php echo (!empty($quote->getSalesId()) ? ' invisible' : '') ?>"></span>
            </span>
            <ul class="dropdown-menu" aria-labelledby="open_sales_id_menu">
                <li class="first-row">
                    <span class="dealer-name"><?php echo $agency ?></span>:
                </li>
                <li class="no-dealer-code<?php echo (!empty($quote->getSalesId()) ? ' hidden' : '') ?>">
                    <span></span>
                </li>
                <li class="sales-id kias hidden">
                    <span class="circle-small pale-red"></span>
                    <span class="dealercode"></span>
                </li>
                <li class="sales-id fn hidden">
                    <span class="circle-small pale-yellow"></span>
                    <span class="dealercode"></span>
                </li>
                <li class="sales-id kd hidden">
                    <span class="circle-small pale-blue"></span>
                    <span class="dealercode"></span>
                </li>
            </ul>
        </div>
    </div>
<?php endif; ?>
