<!-- MOBILE START -->
<script id="customer-screen-mobile-product" type="text/x-handlebars-template">
    <?php $customerSession = Mage::getSingleton('customer/session'); ?>

    <div class="product-details-content-container col-sm-12 clearfix">
        <div class="product-details-header row  col-sm-12 clearfix">
            <div data-tab="general"
                 class="details-item first-tab tab-title active col-md-3 col-sm-6  clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("General") ?>
            </div>

            {{#if tariff}}
            <div data-tab="subscriptions" class="details-item tab-title col-md-3 col-sm-6  clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Subscription") ?>
            </div>
            {{/if}}
        </div>

        <!-- tab contents general-->
        <div class="product-details-content tab-details general col-md-12  col-sm-12 clearfix row">
            <div class="row row-flex">
                <div class="col-sm-8 clearfix same-height-col general-content col">

                    <div class="info-title"><?php echo $this->__("Common Customer Record Benefits"); ?>:</div>
                    <div class="info-description">
                        {{#if bundle_eligible}}
                        <?php echo $this->__("Yes"); ?>
                        {{else}}
                        <?php echo $this->__("No"); ?>
                        {{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>
                    <div class="info-title"><?php echo $this->__("Contract end date"); ?>:</div>
                    <div class="info-description">
                        {{#if contract_end_date}}{{formatDate contract_end_date 'DD-MM-YYYY'}}{{else}}<span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>
                    <div class="info-title"><?php echo $this->__("Assigned Phone Number"); ?>:</div>
                    <div class="info-description">
                        {{#if ctn_phoneNumber}}{{ctn_phoneNumber}}{{else}}<span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                </div>
                <div class="col-sm-4 clearfix prolongation-popover products-buttons-container same-height-col col new-ui-elements">

                    <div class="ten-px-delimiter">
                        <div class="btn-block">
                            <button type="button"
                                    class="btn btn-block loading-search pos-relative ellipsis-overflow"
                                    {{#if this.disableButtons.pre_post.class}}disabled{{/if}}
                                    data-customer-id="{{this.customer_number}}"
                                    data-service-line-id="{{this.service_line_id}}"
                                    data-skus="{{this.mapped_skus}}"
                                    data-tariff="{{this.tariff.sku}}"
                                    data-socs="{{this.mapped_socs}}"
                                    data-all-socs="{{this.all_socs}}"
                                    data-package-type="mobile"
                                    data-ctn="{{this.ctn}}"
                                    data-button="pre_post"
                                    data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                    onclick="customer.modifyInlifeCtn('{{this.ctn}}')"
                                    title="<?php echo $this->__('Modify Package'); ?>">
                                <?php echo $this->__('Modify Package'); ?>
                            </button>
                        </div>
                    </div>
                    <div class="ten-px-delimiter">
                        <div class="btn-block">
                            <button type="button"
                                    class="prolongation-button btn btn-block btn-secondary dropdown-toggle pos-relative ellipsis-overflow"
                                    {{#if this.disableButtons.renew_package.class}}disabled{{/if}}
                                    data-toggle="dropdown"
                                    aria-haspopup="false"
                                    aria-expanded="false"
                                    data-contract="{{customer_number}}"
                                    data-ctn="{{ctn}}"
                                    data-localareacode="{{ctn_localAreaCode}}"
                                    data-phonenumber="{{ctn_phoneNumber}}"
                                    data-button="renew_package"
                                    data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                    title="<?php echo $this->__('Renew Package'); ?>">
                                <?php echo $this->__('Renew Package'); ?>
                                <span class="vfde-unfold-more dropdown-changeable-icon hidden"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- tab contents subscriptions-->
        <div class="product-details-content tab-details subscriptions col-md-12  col-sm-12 clearfix row hide">
            <?php /*
            <div class="col-md-12 product-details-content-title uppercase category-title">
                {{#if tariff.category_name }}
                    {{tariff.category_name}}
                {{else}}
                    <?php echo $this->__("Unknown"); ?>
                {{/if}}
            </div>
            */ ?>
            <div class="expandable-info">
                <div class="col-md-12 col-sm-12  products-sub-package-header clearfix">
                    <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                    <div class="col-xl-7 col-lg-6 col-md-10 col-sm-8  product-details">
                        <div class="product-name">
                            {{#if tariff.name }}{{tariff.name}} {{else}} <span class="disabled"><?php echo $this->__("Unknown"); ?></span> {{/if}}
                            <div class="product-phone-number">
                                <?php echo $this->__("Contract start date"); ?>:
                                {{#if contract_start_date}}
                                {{formatDate contract_start_date 'DD-MM-YYYY'}}
                                {{else}}
                                <?php echo $this->__("N/A"); ?>
                                {{/if}} -
                                <?php echo $this->__("Binding until") ?>:
                                {{#if contract_end_date}}
                                {{formatDate contract_end_date 'DD-MM-YYYY'}}
                                {{else}}
                                <?php echo $this->__("N/A"); ?>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8 ">
                        {{#if tariff.maf}}
                            {{tariff.maf}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                        {{/if}}
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 ">
                        <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 tab-content expanded">
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <div class="info-title"><?php echo $this->__("DETAILS"); ?>:</div>
                        <div class="info-description">
                            {{#if options}}
                            <ul style="list-style: disc; padding-left: 20px;">
                                {{#each options}}
                                {{#each this}}
                                    <li>
                                        {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                    </li>
                                {{/each}}
                                {{/each}}
                            </ul>
                            {{/if}}
                        </div>
                        <div class="row clearfix col-md-12 col-sm-12  margin-bottom-20"></div>
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>
                </div>
            </div>
        </div>
    </div>

</script>

<div class="modal-dialog modal-md prolongation-modal">
    <div class="modal-content">
        <div class="modal-header pbs">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="jQuery('.prolongation-modal').hide();">&times;</button>
            <h4 class="modal-title"> <?php echo $this->__('Renewal Availability'); ?></h4>
        </div>
        <div class="modal-body">
            <div> <?php echo $this->__('Product has the following renewal type availability'); ?>:</div>
            <div class="template-content">
                <span class="loading-search-prolongation-modal"></span>
            </div>
        </div>
        <button type="button"
                class=" btn btn-block btn-info-white btn-renewal-availability-modal-close" onclick="jQuery('.prolongation-modal').hide();">
            <?php echo $this->__('Close'); ?>
        </button>
    </div>
</div>

<script id="prolongation-check-info" type="text/x-handlebars-template">
                <ul class="list-group">
                    {{#each this}}
                    <li class="list-group-item prn pln">
                        <div class="col-sm-1 icon-container">
                            {{#ifCond this.days '==' '<?php echo Dyna_Customer_Model_Client_RetrieveCustomerCreditProfileClient::OVER_A_MONTH_AVAILABILITY ?>'}}
                            <div class="package-lightbulb-tooltip ">
                                <i class="lock-icon" aria-hidden="true"></i>
                            </div>
                            {{else}}
                            {{#compare this.type.key 'ART' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="package-lightbulb-tooltip ">
                                <i class="lock-icon" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'A' operator="=="}}
                            <div class="package-lightbulb-tooltip">
                                <i class="verified-green" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'STD' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="package-lightbulb-tooltip ">
                                <i class="lock-icon" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'E,T' operator="inArray"}}
                            <div class="package-lightbulb-tooltip">
                                <i class="verified-green" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'INO' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="package-lightbulb-tooltip ">
                                <i class=lock-icon" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'I' operator="=="}}
                            <div class="package-lightbulb-tooltip">
                                <i class="verified-green" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'INL' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="package-lightbulb-tooltip ">
                                <i class="lock-icon" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'I' operator="=="}}
                            <div class="package-lightbulb-tooltip">
                                <i class="verified-green" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{/compare}}
                            {{/ifCond}}
                        </div>
                        <div class="pln">
                            <b>{{this.name}}</b><br/>
                            {{#ifCond this.days '==' '<?php echo Dyna_Customer_Model_Client_RetrieveCustomerCreditProfileClient::OVER_A_MONTH_AVAILABILITY ?>'}}
                            <div class="details">
                                <?php echo $this->__('Available in more than 30 days'); ?>
                            </div>
                            {{else}}
                            {{#compare this.type.key 'ART' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Blocked due an upcoming future transaction'); ?>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'A' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Available'); ?>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'STD' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Available in more than 30 days'); ?>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'E,T' operator="inArray"}}
                            <div class="details">
                                <?php echo $this->__('Available'); ?>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'INL' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Not available'); ?>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'I' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Available with Penalty costs'); ?>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'INO' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Not available'); ?>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'I' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Available with Penalty costs'); ?>
                            </div>
                            {{/compare}}
                            {{/compare}}
                            {{/ifCond}}
                        </div>
                        <div class="clearfix border-buttom"></div>
                    </li>
                    {{/each}}
                </ul>

</script>

<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("customer-screen-mobile-product", jQuery("#customer-screen-mobile-product").html());
</script>
<!-- MOBILE END -->



