<script id="customer-screen-fixed-product" type="text/x-handlebars-template">
    <?php
    $customerSession = Mage::getSingleton('customer/session');
    $agent = $customerSession->getAgent();
    $hasFixedPermission = $agent->isGranted(Vznl_Agent_Model_Agent::ALLOW_ZIGGO);
    $quote = Mage::getSingleton('checkout/cart')->getQuote();
    ?>
    {{#each this}}{{/each}}
    <div class="product-details-content-container col-sm-12 clearfix">
        <div class="product-details-header row  col-sm-12 clearfix">
            <div data-tab="general"
                 class="details-item first-tab tab-title active col-lg-2 col-sm-6  col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("General") ?>
            </div>

            <div data-tab="packages" class="details-item tab-title col-lg-3 col-sm-6  col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Packages") ?>
            </div>

            {{#if details}}
            <div data-tab="details" class="details-item tab-title col-lg-3 col-sm-6  col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Package details") ?>
            </div>
            {{/if}}

            {{#if addons}}
            <div data-tab="addons" class="details-item tab-title col-lg-2 col-sm-6  col-md-6 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Add-ons") ?>
            </div>
            {{/if}}

            {{#if goodies}}
            <div data-tab="goodies" class="details-item tab-title col-lg-2 col-sm-6  col-md-6 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Goodies") ?>
            </div>
            {{/if}}

            {{#if materials}}
            <div data-tab="materials" class="details-item tab-title col-lg-2 col-sm-6  col-md-6 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Replacement Materials") ?>
            </div>
            {{/if}}


        </div>

        <!-- tab contents general-->
        {{#if this.disableButtons.perform_serviceability.enabled}}
        {{setVariable 'hidden' 'buttonsVisible'}}
        {{setVariable 'disabled-mandatory' 'buttonsDisabled'}}
        {{else}}
        {{setVariable '' 'buttonsVisible' }}
        {{setVariable '' 'buttonsDisabled' }}
        {{/if}}

        <!-- Blocking sales for specific customer subtypes -->
        {{#if @root.peal_party_subtype}}
        {{setVariable 'disabled-mandatory' 'pealButtonDisabled'}}
        {{else}}
        {{setVariable '' 'pealButtonDisabled' }}
        {{/if}}

        <div class="product-details-content tab-details general col-md-12 col-sm-12 clearfix row">
            <div class="row row-flex">
                <div class="col-lg-8 col-sm-12 clearfix col-md-12 same-height-col general-content">
                    <div class="info-title"><?php echo $this->__("Common Customer Record Benefits"); ?>:</div>
                    <div class="info-description">
                        {{#if bundle_eligible}}
                        <?php echo $this->__("Yes"); ?>
                        {{else}}
                        <?php echo $this->__("No"); ?>
                        {{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                    <div class="info-title"><?php echo $this->__("Contract end date"); ?>:</div>
                    <div class="info-description">
                        {{#if contract_end_date}}{{formatDate contract_end_date 'DD-MM-YYYY'}}{{else}}<span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                    {{#if service_address}}
                    <div class="info-title"><?php echo $this->__("Service Address"); ?>:
                    </div>
                    <div class="info-description">
                        {{service_address.street}} {{service_address.house_number}} {{service_address.house_addition}},
                        {{service_address.postcode}} {{service_address.city}}
                        {{service_address.district}} {{service_address.country.Name}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>
                    {{/if}}

                    <div class="info-title"><?php echo $this->__("Assigned Phone Number"); ?>:</div>
                    <div class="info-description">
                        {{#if ctn}}{{ctn}}{{else}}<span class="disabled"><?php echo "N/A"; ?></span>{{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>
                </div>
                <div class="col-lg-4 col-sm-12 clearfix products-buttons-container col-md-12 same-height-col">
                    <div class="ten-px-delimiter">
                        <div class="btn-block-acq-ils">
                            <button type="button" id="buttons-off"
                                    class="btn btn-block btn-primary <?php if (!$hasFixedPermission) { echo "disabled-mandatory"; } ?> {{#if blacklisted_disabled}} btn-info-purple {{else}} btn-primary {{/if}} loading-search pos-relative ellipsis-overflow {{pealButtonDisabled}} {{buttonsDisabled}} {{blacklisted_disabled}}"
                                    data-customer-id="{{this.customer_number}}"
                                    data-service-line-id="{{this.service_line_id}}"
                                    data-skus="{{this.mapped_skus}}"
                                    data-tariff="{{this.tariff.sku}}"
                                    data-socs="{{this.mapped_socs}}"
                                    data-all-socs="{{this.all_socs}}"
                                    data-package-type="{{this.package_type}}"
                                    data-ctn="{{this.ctn}}"
                                    data-button="modify_package"
                                    data-stack="<?php echo Vznl_Customer_Helper_Services::ACCOUNT_CATEGORY_PEAL; ?>"
                                    data-bundle-product-ids="{{this.bundle_product_ids}}"
                                    data-contract-start-date="{{this.contract_start_date}}"
                                    data-contract-end-date="{{this.contract_end_date}}"
                                    onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::ILSBLU; ?>')"
                                    title="<?php echo $this->__('Modify Package'); ?>">
                                <?php echo $this->__('Modify Package'); ?>
                            </button>
                        </div>
                    </div>
                    <div class="ten-px-delimiter">
                        <div class="btn-block-move">
                            <button type="button" id="move-off"
                                    class="btn btn-block btn-info-grey loading-search pos-relative ellipsis-overflow <?php if (!$hasFixedPermission) { echo "disabled-mandatory"; } ?>
                                    {{pealButtonDisabled}} {{blacklisted_disabled}} {{buttonsDisabled}}"
                                    data-customer-id="{{this.customer_number}}"
                                    data-service-line-id="{{this.service_line_id}}"
                                    data-skus="{{this.mapped_skus}}"
                                    data-tariff="{{this.tariff.sku}}"
                                    data-socs="{{this.mapped_socs}}"
                                    data-all-socs="{{this.all_socs}}"
                                    data-package-type="{{this.package_type}}"
                                    data-ctn="{{this.ctn}}"
                                    data-button="modify_package"
                                    data-stack="<?php echo Vznl_Customer_Helper_Services::ACCOUNT_CATEGORY_PEAL; ?>"
                                    data-bundle-product-ids="{{this.bundle_product_ids}}"
                                    data-contract-start-date="{{this.contract_start_date}}"
                                    onclick="customerSection.changePackage(this, '<?php echo Vznl_Catalog_Model_ProcessContext::SERVICECHECK; ?>')"
                                    title="<?php echo $this->__('Move service'); ?>">
                                <?php echo $this->__('Move service'); ?>
                            </button>
                        </div>
                    </div>
                    <div class="ten-px-delimiter">
                        <div class="btn-block">
                            <button type="button"
                                    class="disabled btn btn-block btn-info-grey loading-search pos-relative ellipsis-overflow <?php if (!$hasFixedPermission) { echo "disabled-mandatory"; } ?> {{pealButtonDisabled}} {{buttonsDisabled}} {{blacklisted_disabled}}"
                                    data-customer-id="{{this.customer_number}}"
                                    data-service-line-id="{{this.service_line_id}}"
                                    data-skus="{{this.mapped_skus}}"
                                    data-tariff="{{this.tariff.sku}}"
                                    data-socs="{{this.mapped_socs}}"
                                    data-all-socs="{{this.all_socs}}"
                                    data-package-type="{{this.package_type}}"
                                    data-ctn="{{this.ctn}}"
                                    data-button="modify_package"
                                    data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KD; ?>"
                                    data-bundle-product-ids="{{this.bundle_product_ids}}"
                                    onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::ILSBLU; ?>')"
                                    title="<?php echo $this->__('Terminate Contract'); ?>">
                                <?php echo $this->__('Terminate Contract'); ?>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <?php if ($hasFixedPermission) {  ?>
            <div class="row eligibility-check-row eligibility-check-fixed">
                <div
                    class='notification-banner warning general eligibility-check general tab-details {{#compare buttonsVisible "" operator="=="}} hidden {{/compare}}" data-customer-number="{{ctn}}''
                    data-serialized-key="{{this.disableButtons.perform_serviceability.serviceAddressID}}"
                    data-customer-number="{{customer_number}}"
                >
                    <div class="notification-banner-text">
                        <div class="notification-banner-title"><?php echo $this->__("Perform the serviceability check on the parent address"); ?></div>
                    </div>
                    <!-- Optional actions -->
                    <div class="notification-banner-actions">
                        <button
                            class="btn btn-secondary show_retainable show_retainable_check_{{ctn}}"
                            data-id="{{this.service_address.address_id}}"
                            data-street="{{this.service_address.street}}"
                            data-building-nr="{{this.service_address.house_number}}"
                            data-postalcode="{{this.service_address.postcode}}"
                            data-city-name="{{this.service_address.city}}"
                            data-house-addition="{{this.service_address.house_addition}}"
                            data-my-products-check="true"
                            onclick="customerSection.performCheckServiceEligibility(this)"
                        >
                            <span class="btn-content"><?php echo $this->__('Check'); ?></span>
                        </button>
                    </div>
                </div>
            </div>
            <?php } ?>
        </div>

        <!-- tab contents packages -->
        <div class="product-details-content tab-details packages col-md-12 col-sm-12 clearfix row hide">
            <div class="col-md-12 product-details-content-title uppercase category-title">
                {{category_name}}
            </div>
            <div class="expandable-info">
                <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                    <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                    <div class="col-xl-8 col-lg-6 col-md-4 col-sm-3 product-details">
                        <div class="product-name">
                            {{#if product_name}} {{product_name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                            <div class="product-phone-number">
                                <?php echo $this->__("Contract start date"); ?>:
                                {{#if contract_start_date}}
                                {{formatDate contract_start_date 'DD-MM-YYYY'}}
                                {{else}}
                                <?php echo "N/A"; ?>
                                {{/if}} -
                                <?php echo $this->__("Binding until") ?>:
                                {{#if contract_end_date}}
                                {{formatDate contract_end_date 'DD-MM-YYYY'}}
                                {{else}}
                                <?php echo "N/A"; ?>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-1 col-md-1 col-sm-1 product-price pull-right">
                        {{#if product_maf}}
                        <span class="price">&euro; {{product_maf}}</span>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        {{#if details}}
        <!-- tab contents details-->
        <div class="product-details-content tab-details details col-md-12 col-sm-12 clearfix row hide">
        {{#each details}}
            <div class="col-md-12 product-details-content-title uppercase category-title">
                {{this.name}}
            </div>
            {{#each this.products as |sortProduct sortProdId|}}
                {{#each sortProduct as |product prodId|}}
                    <div class="expandable-info">
                        <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                            <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-xl-10 col-lg-6 col-md-4 col-sm-3  product-details">
                                <div class="product-name">
                                    {{#if product_name}} {{product_name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                    <div class="product-phone-number">
                                        <?php echo $this->__("Contract start date"); ?>:
                                        {{#if contract_start_date}}
                                        {{formatDate contract_start_date 'DD-MM-YYYY'}}
                                        {{else}}
                                        <?php echo "N/A"; ?>
                                        {{/if}} -
                                        <?php echo $this->__("Binding until") ?>:
                                        {{#if contract_end_date}}
                                        {{formatDate contract_end_date 'DD-MM-YYYY'}}
                                        {{else}}
                                        <?php echo "N/A"; ?>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 pull-right">
                                {{#or hardware_serial_number hardware_name smartcard_name smartcard_number}}
                                <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                                {{/or}}
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 tab-content {{#ifCond ../../numberOfProductsInSection.options '==' '1'}}expanded{{else}}reduced{{/ifCond}}">
                            {{#if hardware_name}}
                            <div class="col-md-12 col-sm-12 product-hardware-row">
                                <div class="info-title"><?php echo $this->__("Hardware Name"); ?>:</div>
                                <div class="info-description">
                                    {{hardware_name}}
                                </div>
                            </div>
                            {{/if}}
                            {{#if hardware_serial_number}}
                            <div class="col-md-12 col-sm-12 product-hardware-row">
                                <div class="info-title"><?php echo $this->__("Hardware Serial Number"); ?>:</div>
                                <div class="info-description">
                                    {{hardware_serial_number}}
                                </div>
                            </div>
                            {{/if}}
                            {{#if smartcard_name}}
                            <div class="col-md-12 col-sm-12 product-hardware-row">
                                <div class="info-title"><?php echo $this->__("Smartcard Name"); ?>:</div>
                                <div class="info-description">
                                    {{smartcard_name}}
                                </div>
                            </div>
                            {{/if}}
                            {{#if smartcard_number}}
                            <div class="col-md-12 col-sm-12 product-hardware-row">
                                <div class="info-title"><?php echo $this->__("Smartcard Number"); ?>:</div>
                                <div class="info-description">
                                    {{smartcard_number}}
                                </div>
                            </div>
                            {{/if}}

                        </div>
                    </div>
                {{/each}}
            {{/each}}
        {{/each}}
        </div>
        {{/if}}

        {{#if addons}}
        <!-- tab contents addons -->
        <div class="product-details-content tab-details addons col-md-12  col-sm-12 clearfix row hide">
        {{#each addons}}
            <div class="col-md-12 product-details-content-title uppercase category-title">
                {{this.name}}
            </div>
            {{#each this.products as |sortProduct sortProdId|}}
                {{#each sortProduct as |product prodId|}}
                    <div class="expandable-info">
                        <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                            <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-xl-10 col-lg-6 col-md-4 col-sm-3  product-details">
                                <div class="product-name">
                                    {{#if product_name}} {{product_name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                    <div class="product-phone-number">
                                        <?php echo $this->__("Contract start date"); ?>:
                                        {{#if contract_start_date}}
                                        {{formatDate contract_start_date 'DD-MM-YYYY'}}
                                        {{else}}
                                        <?php echo "N/A"; ?>
                                        {{/if}} -
                                        <?php echo $this->__("Binding until") ?>:
                                        {{#if contract_end_date}}
                                        {{formatDate contract_end_date 'DD-MM-YYYY'}}
                                        {{else}}
                                        <?php echo "N/A"; ?>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 pull-right">
                                {{#or hardware_type hardware_serial_number smartcard_name smartcard_number}}
                                <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                                {{/or}}
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12  tab-content {{#ifCond ../../numberOfProductsInSection.options '==' '1'}}expanded{{else}}reduced{{/ifCond}}">
                            {{#if hardware_name}}
                            <div class="col-md-12 col-sm-12 product-hardware-row">
                                <div class="info-title"><?php echo $this->__("Hardware Name"); ?>:</div>
                                <div class="info-description">
                                    {{hardware_name}}
                                </div>
                            </div>
                            {{/if}}
                            {{#if hardware_serial_number}}
                            <div class="col-md-12 col-sm-12 product-hardware-row">
                                <div class="info-title"><?php echo $this->__("Hardware Serial Number"); ?>:</div>
                                <div class="info-description">
                                    {{hardware_serial_number}}
                                </div>
                            </div>
                            {{/if}}
                            {{#if smartcard_name}}
                            <div class="col-md-12 col-sm-12 product-hardware-row">
                                <div class="info-title"><?php echo $this->__("Smartcard Name"); ?>:</div>
                                <div class="info-description">
                                    {{smartcard_name}}
                                </div>
                            </div>
                            {{/if}}
                            {{#if smartcard_number}}
                            <div class="col-md-12 col-sm-12 product-hardware-row">
                                <div class="info-title"><?php echo $this->__("Smartcard Number"); ?>:</div>
                                <div class="info-description">
                                    {{smartcard_number}}
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        {{/each}}
        </div>
        {{/if}}

        {{#if goodies}}
        <!-- tab contents goodies -->
        <div class="product-details-content tab-details goodies col-md-12 col-sm-12 clearfix row hide">
        {{#each goodies}}
            <div class="col-md-12 product-details-content-title uppercase category-title">
                {{this.name}}
            </div>
            {{#each this.products as |sortProduct sortProdId|}}
                {{#each sortProduct as |product prodId|}}
                    <div class="expandable-info">
                        <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                            <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-xl-10 col-lg-6 col-md-4 col-sm-3  product-details">
                                <div class="product-name">
                                    {{#if product_name}} {{product_name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                    <div class="product-phone-number">
                                        <?php echo $this->__("Contract start date"); ?>:
                                        {{#if contract_start_date}}
                                        {{formatDate contract_start_date 'DD-MM-YYYY'}}
                                        {{else}}
                                        <?php echo "N/A"; ?>
                                        {{/if}} -
                                        <?php echo $this->__("Binding until") ?>:
                                        {{#if contract_end_date}}
                                        {{formatDate contract_end_date 'DD-MM-YYYY'}}
                                        {{else}}
                                        <?php echo "N/A"; ?>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8 ">
                                {{#if display_price_repeated}}
                                {{display_price_repeated}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                                {{else}}
                                <?php echo "N/A"; ?>
                                {{/if}}
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 pull-right">
                                {{#if legacy_code}}
                                <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12  tab-content {{#ifCond ../../numberOfProductsInSection.options '==' '1'}}expanded{{else}}reduced{{/ifCond}}">
                            <div class="col-md-12 col-sm-12 ">
                                <div class="info-title"><?php echo $this->__("Legacy code"); ?>:</div>
                                <div class="info-description">
                                    {{#if legacy_code}}
                                    {{legacy_code}}
                                    {{else}}
                                    <?php echo "N/A"; ?>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        {{/each}}
        </div>
        {{/if}}

        {{#if materials}}
        <!-- tab contents materials -->
        <div class="product-details-content tab-details materials col-md-12 col-sm-12 clearfix row hide">
        {{#each materials}}
            <div class="col-md-12 product-details-content-title uppercase category-title">
                {{this.name}}
            </div>
            {{#each this.products as |sortProduct sortProdId|}}
                {{#each sortProduct as |product prodId|}}
                    <div class="expandable-info">
                        <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                            <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-xl-6 col-lg-6 col-md-4 col-sm-3  product-details">
                                <div class="product-name">
                                    {{#if product_name}} {{product_name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                    <div class="product-phone-number">
                                        <?php echo $this->__("Contract start date"); ?>:
                                        {{#if contract_start_date}}
                                        {{formatDate contract_start_date 'DD-MM-YYYY'}}
                                        {{else}}
                                        <?php echo "N/A"; ?>
                                        {{/if}} -
                                        <?php echo $this->__("Binding until") ?>:
                                        {{#if contract_end_date}}
                                        {{formatDate contract_end_date 'DD-MM-YYYY'}}
                                        {{else}}
                                        <?php echo "N/A"; ?>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8 ">
                                {{#if display_price_repeated}}
                                {{display_price_repeated}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                                {{else}}
                                <?php echo $this->__("N/A"); ?>
                                {{/if}}
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 pull-right">
                                {{#if legacy_code}}
                                <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12  tab-content {{#ifCond ../../numberOfProductsInSection.options '==' '1'}}expanded{{else}}reduced{{/ifCond}}">
                            <div class="col-md-12 col-sm-12 ">
                                <div class="info-title"><?php echo $this->__("Legacy code"); ?>:</div>
                                <div class="info-description">
                                    {{#if legacy_code}}
                                    {{legacy_code}}
                                    {{else}}
                                    <?php echo "N/A"; ?>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        {{/each}}
        </div>
        {{/if}}


    </div>

</script>

<script type="text/javascript">
  Handlebars.registerPartial("customer-screen-fixed-product", jQuery("#customer-screen-fixed-product").html());
</script>
