<?php /** @var Vznl_Checkout_Block_Pdf_Contract $this */ ?>

<div class="customer business">
    <table>
        <tr>
            <td colspan="4"><h4 style="margin: 0 25px 0 0;"><?=$this->__("Contractor")?></h4></td>
            <td colspan="2"><h4><?=$this->__("Billing Information")?></h4></td>
        </tr>
        <tr>
            <td width="12%"><?=$this->__("Company2")?>:</td>
            <td width="22%" class="bold"><?=$this->getCustomerName()?></td>
            <td width="16%"><?=$this->__("Contact")?>:</td>
            <td width="21%" class="bold"><?=$this->getContactName()?></td>
            <td width="12%"><?=$this->__("IBAN")?>:</td>
            <td width="17%" class="bold"><?=($this->getOrderStatusNotCancelledOrClosed() && $isCustomer) ? $this->getCustomerBankAccountMask() : $this->getCustomerBankAccount()?></td>
        </tr>
        <tr>
            <td><?=$this->__("Company address")?>:</td>
            <td class="bold"><?=$this->getBillingAddressStreet()?></td>
            <td><?=$this->__("Date of Birth")?>:</td>
            <td class="bold"><?=$this->getCustomerDob()?></td>
            <td><?=$this->__("Account holder")?>:</td>
            <td class="bold"><?=$this->getCustomerBankAccountHolder()?></td>
        </tr>
        <tr>
            <td></td>
            <td class="bold"><?=$this->getBillingAddressPostalcode()?> <?=$this->getBillingAddressCity()?></td>
            <?php if (($this->getCustomerEmail() != Vznl_Customer_Model_Customer::DUMMY_EMAIL_ADDRESS)) : ?>
            <td><?=$this->__("Email Address")?>:</td>
            <td class="bold"><?=$this->getCustomerEmail()?></td>
            <?php else : ?>
            <td colspan="2"></td>
            <?php endif; ?>
            <td><?=$this->__("Payment Method")?>:</td>
            <td class="bold"><?=$this->__("Direct Debit")?></td>
        </tr>
        <tr>
            <td></td>
            <td class="bold"><?=$this->getBillingAddressCountry()?></td>
            <td><?=$this->__("ID Type")?>:</td>
            <td class="bold"><?=$this->__($this->getIDType())?></td>
            <td></td>
            <td class="bold"></td>
        </tr>
        <tr>
            <td><?=$this->__("Coc number - contract")?>:</td>
            <td class="bold"><?=$this->getKvkNumber()?></td>
            <td><?=$this->__("Identification number - contract")?>:</td>
            <td class="bold"><?=($this->getOrderStatusNotCancelledOrClosed() && $isCustomer) ? $this->getIDNumberMask() : $this->getIDNumber()?></td>
            <td></td>
            <td class="bold"></td>
        </tr>
        <tr>
            <td><?=$this->__("VAT number - contract")?>:</td>
            <td class="bold"><?=$this->getVatNumber()?></td>
            <?php if ($this->isNewCustomer()) { ?>
                <td><?=$this->__("ID Expiration")?>:</td>
                <td class="bold"><?=$this->getIDExpireDate()?></td>
            <?php } else { ?>
                <td></td>
                <td class="bold"></td>
            <?php } ?>
            <td></td>
            <td class="bold"></td>
        </tr>
        <tr>
            <td><?=$this->__("Customer number")?>:</td>
            <td class="bold"><?=$this->getCustomerBan()?></td>
            <td></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold"></td>
        </tr>
    </table>
</div>
