    <style>
        @font-face {
            font-family: VodafoneRg;
            src: url(<?=MAGENTO_ROOT?>/skin/frontend/vznl/default/fonts/VodafoneRg.ttf);
        }
    </style>
    <div class="container">
        <div id="footer">
            <div class="left">
                <div id="signature">
                    <span class="title"><?=$this->__("Signature")?>:</span>
                    <span class="date"><?=$this->__("Date of signing")?>:</span>
                </div>
            </div>
            <div class="right">
                <div class="barcode">
                    <img class="barcode" src="data:image/png;base64, <?php echo $this->getBarcodeImage() ?>" class="barcode-img" />
                </div>
                <div class="pagination">
                    <?=$this->__("Page")?> <span id="page"></span> <?=$this->__("from")?> <span id="topage"></span>
                </div>
            </div>
        </div>
    </div>
    <script>
        var vars={};
        var x=window.location.search.substring(1).split('&');
        for (var i in x) {
          var z=x[i].split('=',2);
          vars[z[0]] = unescape(z[1]);
        }
        document.getElementById('page').innerHTML = vars.page;
        document.getElementById('topage').innerHTML = vars.topage;

        // Hide signature except last page
        if (vars.page != vars.topage){
          document.getElementById('signature').style.display = 'none';
        }
    </script>
</body>
</html>