<?php
/** @var Vznl_Checkout_Block_Pdf_Contract $this */
$logoImage = __DIR__ . '/images/New_VF_Logo_Stack_Small_RGB_RED.svg';
?>

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <style type="text/css">
            @font-face {
              font-family: VodafoneRg;
              src: url(<?=MAGENTO_ROOT?>/skin/frontend/vznl/default/fonts/VodafoneRg.ttf);
            }

            /* Consumer or business? */
            .<?= ($this->getCustomerIsBusiness() ? 'consumer' : 'business') ?> {
              display: none !important;
            }
        </style>
    </head>
</html>
<body>
    <div class="container">
        <div id="header">
            <table>
                <tr>
                    <td width="71%">
                        <h1 class="consumer"><?=$this->__("Your consumer contract")?></h1>
                        <h1 class="business"><?=$this->__("Your business contract")?></h1>
                        <p class="outlet"><?=$this->__("Point of sales")?>: <?= $this->getOutlet() ?></p>
                    </td>
                    <td width="29%">
                        <div class="logo">
                            <?php
                            if ($this->getLogo()) {
                                echo '<img src="'.$logoImage.'" alt="v-f-logo" height="84" width="165">';
                            }
                            ?>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>