<?php
/** @var Vznl_Checkout_Block_Pdf_Contract $this */
?>

<div class="package">
    <div class="left">
        <h2><img src="<?=MAGENTO_ROOT?>/app/design/frontend/vznl/default/template/checkout/cart/pdf/contract/images/s-i-m.svg"><?=$this->__("Mobile subscription")?></h2>
        <table class="packagetable">
            <tr>
                <td width="62%"><?=$this->__("Mobile number")?>:</td>
                <td colspan="6" class="bold">
                    <?=Mage::helper('dyna_checkout')->formatCtn($this->getCtn($this->getPackage()))?>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="6" class="bold">
                    <?php if ($this->getPackage()->isNumberPorting()) { ?>
                        <?=$this->__("Numberporting")?>
                    <?php } elseif ($this->getPackage()->isAcquisition()) { ?>
                        <?=$this->__("New number")?>
                    <?php } elseif ($this->getPackage()->isRetention()) { ?>
                        <?=$this->__("Retention")?>
                    <?php } ?>
                </td>
            </tr>
            <tr>
                <td><?=$this->__("Subscription type")?>:</td>
                <td colspan="6" class="bold"><?=$this->getPriceplan()->getName()?></td>
            </tr>
            <tr>
                <td><?=$this->__("Duration")?>:</td>
                <td colspan="6" class="bold">
                    <?=$this->getPriceplan()->getAttributeText('identifier_commitment_months') . ' ' . ($this->getPriceplan()->getAttributeText('identifier_commitment_months') == 1 ? $this->__("month") : $this->__("months"))?>
                </td>
            </tr>
            <tr>
                <td><?=$this->__("Contract start date")?>: <?=($this->getPackage()->isNumberPorting() || $this->getPackage()->isRetention()) ? '<sup>1)</sup>' : ''?></td>
                <td colspan="6" class="bold"><?=$this->getPackage()->isNumberPorting() ? $this->__("Date number portability") : $this->getSubscriptionStartDate()?></td>
            </tr>
            <tr>
                <td><?=$this->__("Order Number")?>:</td>
                <td colspan="6" class="bold"><?=$this->getOrder()->getSuperorder()->getOrderNumber()?></td>
            </tr>
            <tr>
                <td><?=$this->__("Order Date")?>:</td>
                <td colspan="6" class="bold"><?=$this->getOrderDate()?></td>
            </tr>
        </table>
        <table class="packagetable pricetable">
            <tr>
                <td width="62%"></td>
                <td colspan="2" width="19%" class="priceheader consumer"><?=$this->__("Incl. VAT")?></td>
                <td colspan="2" width="19%" class="priceheader business"><?=$this->__("Excl. VAT")?></td>
                <td colspan="2" width="19%" class="priceheader consumer"><?=$this->__("Excl. VAT")?></td>
                <td colspan="2" width="19%" class="priceheader business"><?=$this->__("Incl. VAT")?></td>
            </tr>
            <?php
            $currency = Mage::getModel('directory/currency');
            $noSymbol = array('display' => Zend_Currency::NO_SYMBOL);
            $totalPriceplanIncl = 0;
            $totalPriceplanExcl = 0;
            $totalConnectionCostsIncl = 0;
            $totalConnectionCostsExcl = 0;
            /** @var Mage_Tax_Helper_Data $taxHelper */
            $taxHelper = Mage::helper('tax');

            foreach ($this->getPackage()->getPackageItems() as $item) {
                if ((!in_array(Vznl_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION, $item->getProduct()->getType()) &&
                    !in_array(Vznl_Catalog_Model_Type::SUBTYPE_ADDON, $item->getProduct()->getType())) ||
                    !empty($item->getTargetId())
                ) {
                    continue;
                }

                $name = $item->getName();
                $priceIncl = $item->getItemFinalMafInclTax();
                $priceExcl = $item->getItemFinalMafExclTax();
                $totalPriceplanIncl += $priceIncl;
                $totalPriceplanExcl += $priceExcl;
                $totalConnectionCostsIncl += $item->getConnectionCost();
                $totalConnectionCostsExcl += $taxHelper->getPrice($item->getProduct(), $item->getConnectionCost(), false);

                // Lets swap the name for the priceplan only
                if (in_array(Vznl_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION, $item->getProduct()->getType())) {
                    $name = $this->__("Subscription costs");
                } ?>
                <tr>
                    <td><?= $name ?></td>
                    <td class="bold pricesymbol">&euro;</td>
                    <td class="bold price consumer"><?=$currency->formatTxt($priceIncl, $noSymbol)?></td>
                    <td class="bold price business"><?=$currency->formatTxt($priceExcl, $noSymbol)?></td>
                    <td class="pricesymbol">&euro;</td>
                    <td class="price consumer"><?=$currency->formatTxt($priceExcl, $noSymbol)?></td>
                    <td class="price business"><?=$currency->formatTxt($priceIncl, $noSymbol)?></td>
                </tr>

                <?php
                foreach ($this->getPackage()->getAllVisibleItems() as $subItem) {
                    if ($subItem->getTargetId() == $item->getProduct()->getId()) { ?>
                        <tr>
                            <td class="addonindent"><?= $subItem->getName() ?></td>
                            <td colspan="4"><!--dummy --></td>
                        </tr>
                    <?php }
                }
            }
            ?>
            <tr>
                <td class="totals totals-left white bold"><?=$this->__("Fixed monthly fees")?></td>
                <td class="totals white bold pricesymbol">&euro;</td>
                <td class="totals white bold price consumer"><?=$currency->formatTxt($totalPriceplanIncl, $noSymbol)?></td>
                <td class="totals white bold price business"><?=$currency->formatTxt($totalPriceplanExcl, $noSymbol)?></td>
                <td class="totals white pricesymbol">&euro;</td>
                <td class="totals totals-right white price consumer"><?=$currency->formatTxt($totalPriceplanExcl, $noSymbol)?></td>
                <td class="totals totals-right white price business"><?=$currency->formatTxt($totalPriceplanIncl, $noSymbol)?></td>
            </tr>
            <?php if ($this->getPackage()->isAcquisition()) : ?>
                <tr>
                    <td class="totals totals-left bold"><?=$this->__("One-off connection charge")?></td>
                    <td class="totals bold pricesymbol">&euro;</td>
                    <td class="totals bold price consumer" ><?=$currency->formatTxt($totalConnectionCostsIncl, $noSymbol)?></td>
                    <td class="totals bold price business" ><?=$currency->formatTxt($totalConnectionCostsExcl, $noSymbol)?></td>
                    <td class="totals pricesymbol">&euro;</td>
                    <td class="totals totals-right price consumer"><?=$currency->formatTxt($totalConnectionCostsExcl, $noSymbol)?></td>
                    <td class="totals totals-right price business"><?=$currency->formatTxt($totalConnectionCostsIncl, $noSymbol)?></td>
                </tr>
            <?php endif; ?>
        </table>
    </div>

    <div class="right">
        <h2>&nbsp;</h2>
        <?php if ($this->getPackage()->isAcquisition()) : ?>
            <div class="privacysettings">
                <div class="row">
                    <p class="consumer"><?=$this->__("Vodafone may contact you for commercial consumer purposes via")?>: <sup>2)</sup></p>
                    <p class="business"><?=$this->__("Vodafone may contact you for commercial business purposes via")?>: <sup>2)</sup></p>
                    <div class="left"><?=$this->__("Email")?>: <b><?=($this->getOrder()->getPrivacyEmail() ? $this->__("Yes") : $this->__("No"))?></b></div>
                    <div class="right"><?=$this->__("Sms")?>: <b><?=($this->getOrder()->getPrivacySms() ? $this->__("Yes") : $this->__("No"))?></b></div>
                </div>
                <div class="row">
                    <p class="consumer"><?=$this->__("Your personal consumer information may be publicized to")?>: <sup>2)</sup></p>
                    <p class="business"><?=$this->__("Your personal business information may be publicized to")?>: <sup>2)</sup></p>
                    <div class="left"><?=$this->__("Phone Books")?>: <b><?=($this->getOrder()->getPrivacyPhoneBooks() ? $this->__("Yes") : $this->__("No"))?></b></div>
                    <div class="right"><?=$this->__("Number information services")?>: <b><?=($this->getOrder()->getPrivacyNumberInformation() ? $this->__("Yes") : $this->__("No"))?></b></div>
                </div>
                <div class="row">
                    <?php if ($this->getPackage()->isNumberPorting()) : ?>
                        <p>1) <?=$this->__("In the case of number porting, the current provider decides the actual start date")?></p>
                    <?php endif; ?>
                    <p class="consumer">2) <?=$this->__("If you want more information about your current settings, or want to change these, you can contact the Vodafone Customer Service (1201) or you can them yourself via MyVodafone or mijnnummervermelding.nl")?></p>
                    <p class="consumer"><?=$this->__("On the mentioned website, you can only change preferences for number information services and phone books")?></p>
                    <p class="business">2) <?=$this->__("If you want more information about your current settings, or want to change these, you can contact the Vodafone Customer Service (1201) or you can them yourself via MyVodafone or mijnnummervermelding.nl - business")?></p>
                    <p class="business"><?=$this->__("On the mentioned website, you can only change preferences for number information services and phone books - business")?></p>
                </div>
            </div>
        <?php endif; ?>

        <?php if ($this->getPackage()->isRetention()) : ?>
            <div class="privacysettings">
                <div class="row">
                    <p class="consumer">1) <?=$this->__("Your new consumer contract will start after your old contract has ended")?></p>
                    <p class="business">1) <?=$this->__("Your new business contract will start after your old contract has ended")?></p>
                </div>
                <div class="row">
                    <p class="bold"><?=$this->__("Number entry and marketing")?>:</p>
                    <p class="consumer"><?=$this->__("As an existing Vodafone customer, you have previously indicated if Vodafone can make your personal information available to number information services and phone books, and if Vodafone may contact you for commercial purposes")?></p>
                    <p class="consumer"><?=$this->__("If you want more information about your current settings, or want to change these, you can contact the Vodafone Customer Service (1201) or you can them yourself via MyVodafone or mijnnummervermelding.nl")?></p>
                    <p class="consumer"><?=$this->__("On the mentioned website, you can only change preferences for number information services and phone books")?></p>
                    <p class="business"><?=$this->__("As an existing Vodafone customer, you have previously indicated if Vodafone can make your personal information available to number information services and phone books, and if Vodafone may contact you for commercial purposes - business")?></p>
                    <p class="business"><?=$this->__("If you want more information about your current settings, or want to change these, you can contact the Vodafone Customer Service (1201) or you can them yourself via MyVodafone or mijnnummervermelding.nl - business")?></p>
                    <p class="business"><?=$this->__("On the mentioned website, you can only change preferences for number information services and phone books - business")?></p>
                </div>
            </div>
        <?php endif; ?>
        <div class="footnote">
            Vodafone Libertel B.V. Avenue Ceramique 300, 6221 KX Maastricht, Nederland, KvK: 14052264
        </div>
    </div>
</div>
