<?php /** Only shown for orders with Device RC */ ?>
<div class="consumer">
    <p class="header"><?php echo $this->__("You also state"); ?>:</p>
    <ul>
        <li><?php echo $this->__("that the data you provide to us is accurate to obtain the credit"); ?>;</li>
        <li><?php echo $this->__("that you can pay the monthly obligation that follows out of this credit agreement"); ?>.</li>
    </ul>
</div>

<div class="business">
    <p class="header"><?php echo $this->__("You as a business also state"); ?>:</p>
    <ul>
        <li><?php echo $this->__("that the business data you provide to us is accurate to obtain the credit"); ?>;</li>
        <li><?php echo $this->__("that you can pay the monthly obligation that follows out of this business credit agreement"); ?>.</li>
    </ul>
</div>