<?php /** Only shown for orders with Device RC */ ?>
<div class="consumer">
    <p><?=$this->__("By signing this credit agreement you agree to have read the General Loan Conditions of Vodafone Financial Services B.V. which apply to the credit agreement, and the European standard sheet Vodafone Consumer Financial Services")?></p>
</div>

<div class="business">
    <p><?=$this->__("By signing this credit agreement you agree to have read the General Loan Conditions of Vodafone Financial Services B.V. which apply to the credit agreement, and the European standard sheet Vodafone Business Financial Services")?></p>
</div>