<p class="header"><?=$this->__('Machtiging doorlopende SEPA incasso:'); ?></p>
<div class="consumer">
    <p><?=$this->__('Je geeft door ondertekening van dit contract toestemming aan:'); ?></p>
    <ul>
        <li><?=$this->__('Vodafone Libertel B.V. om doorlopende incasso-opdrachten te sturen naar je bank zodat die een bedrag van je rekening afschrijven (Incassanten ID: NL85ZZZ140522640000).'); ?></li>
        <li><?=$this->__('Je bank om doorlopend een bedrag van je rekening af te schrijven overeenkomstig de opdracht van Vodafone Libertel B.V.'); ?></li>
    </ul>
    <p><?=$this->__('Als je het niet eens bent met deze afschrijving kun je deze laten terugboeken. Neem hiervoor binnen 8 weken na afschrijving contact op met je bank. Vraag je bank naar de voorwaarden.'); ?></p>
</div>
<div class="business">
    <p><?=$this->__('U geeft door ondertekening van dit contract toestemming aan:'); ?></p>
    <ul>
        <li><?=$this->__('Vodafone Libertel B.V. om doorlopende incasso-opdrachten te sturen naar uw bank zodat die een bedrag van uw rekening afschrijven (Incassanten ID: NL85ZZZ140522640000).'); ?></li>
        <li><?=$this->__('Uw bank om doorlopend een bedrag van uw rekening af te schrijven overeenkomstig de opdracht van Vodafone Libertel B.V.'); ?></li>
    </ul>
    <p><?=$this->__('Als u het niet eens bent met deze afschrijving kunt u deze laten terugboeken. Neem hiervoor binnen 8 weken na afschrijving contact op met uw bank. Vraag uw bank naar de voorwaarden.'); ?></p>
</div>
