<p class="header"><?=$this->__("Authorize ongoing SEPA Direct Debit:")?>:</p>
<p><?=$this->__("You also state")?>:</p>
<ul>
    <li><?=$this->__("that the data you provide to us is accurate to obtain the credit")?>;</li>
    <li><?=$this->__("that you can pay the monthly obligation that follows out of this credit agreement")?>;</li>
    <li><?=$this->__("that you have discussed entering the loan with your spouse/civil partner (if applicable) and he/she agrees with this")?></li>
</ul>