<?php /** @var Vznl_Checkout_Block_Pdf_Contract $this */ ?>

<div class="consumer">
    <p><?=$this->__('Op deze Overeenkomst zijn de Algemene Voorwaarden Consumenten Vodafone Libertel B.V. (AVC) en eventuele overige aanvullende voorwaarden van toepassing, indien je deze overeenkomst aangaat als consument (te weten: anders dan in de uitoefening van een beroep of bedrijf). Zo gelden de Vodafone Garant Verzekeringsvoorwaarden als je gebruik maakt van Vodafone Garant.'); ?></p>
    <p><?=$this->__('Je verklaart door ondertekening dat je de toepasselijke voorwaarden hebt ontvangen en deze aanvaardt. Een extra exemplaar is te downloaden via vodafone.nl/voorwaarden of af te halen bij een van onze winkels.'); ?></p>
    <p><?=$this->__('Wij gebruiken bovenstaande persoonsgegevens voor een risicobeoordeling. Hierbij kan onder meer jouw kredietwaardigheid getoetst worden. Vodafone mag de overeenkomst weigeren als de uitkomst van de risicobeoordeling negatief is of bij onjuiste en/of onvolledige gegevens.'); ?></p>
    <p><?=$this->__('Wij verwerken persoonsgegevens zoals aangegeven in ons Privacy Statement, zie vodafone.nl/privacy.'); ?></p>
    <p><?=$this->__('De geldende tarieven vind je op vodafone.nl/tarieven. Alle abonnementen kunnen gebruik maken van de maximale download- en uploadsnelheid (4G) van 250/50Mbps. De daadwerkelijke snelheid is afhankelijk van het toestel, de netwerkdekking en de netwerkbelasting, zie ook vodafone.nl/dekking.'); ?></p>
    <p><?=$this->__('Als gevolg van het afronden op twee decimalen bij de BTW-berekening kan de daadwerkelijke prijs afwijken van de (afgeronde) prijs die in de overeenkomst vermeld staat.'); ?></p>
    <?= $this->isTelesalesOrEshop() ? '<p>'.$this->__('Je hebt de mogelijkheid om na ontvangst van de bestelling deze overeenkomst binnen 14 kalenderdagen, zonder opgave van redenen, te ontbinden. Door middel van ondertekening verzoek je Vodafone om de nieuwe mobiele aansluiting(en) direct te gebruiken, tenzij we contractueel anders overeengekomen zijn.').'</p>' : '' ?>
</div>
<div class="business">
    <p><?=$this->__('Op deze Overeenkomst zijn de Algemene Voorwaarden Consumenten Vodafone Libertel B.V. (AVC) en eventuele overige aanvullende voorwaarden van toepassing, indien u deze overeenkomst aangaat als consument (te weten: anders dan in de uitoefening van een beroep of bedrijf). Zo gelden de Vodafone Garant Verzekeringsvoorwaarden als u gebruik maakt van Vodafone Garant.'); ?></p>
    <p><?=$this->__('U verklaart door ondertekening dat u de toepasselijke voorwaarden hebt ontvangen en deze aanvaardt. Een extra exemplaar is te downloaden via vodafone.nl/voorwaarden of af te halen bij een van onze winkels.'); ?></p>
    <p><?=$this->__('Wij gebruiken bovenstaande persoonsgegevens voor een risicobeoordeling. Hierbij kan onder meer uw kredietwaardigheid getoetst worden. Vodafone mag de overeenkomst weigeren als de uitkomst van de risicobeoordeling negatief is of bij onjuiste en/of onvolledige gegevens.'); ?></p>
    <p><?=$this->__('Wij verwerken persoonsgegevens zoals aangegeven in ons Privacy Statement, zie vodafone.nl/privacy.'); ?></p>
    <p><?=$this->__('De geldende tarieven vindt u op vodafone.nl/tarieven. Alle abonnementen kunnen gebruik maken van de maximale download- en uploadsnelheid (4G) van 250/50Mbps. De daadwerkelijke snelheid is afhankelijk van het toestel, de netwerkdekking en de netwerkbelasting, zie ook vodafone.nl/dekking.'); ?></p>
    <p><?=$this->__('Als gevolg van het afronden op twee decimalen bij de BTW-berekening kan de daadwerkelijke prijs afwijken van de (afgeronde) prijs die in de overeenkomst vermeld staat.'); ?></p>
    <?= $this->isTelesalesOrEshop() ? '<p>'.$this->__('U heeft de mogelijkheid om na ontvangst van de bestelling deze overeenkomst binnen 14 kalenderdagen, zonder opgave van redenen, te ontbinden. Door middel van ondertekening verzoekt u Vodafone om de nieuwe mobiele aansluiting(en) direct te gebruiken, tenzij we contractueel anders overeengekomen zijn.').'</p>' : '' ?>
</div>