<p class="header"><?=$this->__('Machtiging nummerbehoud:'); ?></p>

<div class="consumer">
    <p><?=$this->__('Je geeft Vodafone de opdracht om je overeenkomst bij je huidige mobiele aanbieder op te zeggen. Dit kan alleen als je huidige aanbieder dit mogelijk maakt en alle hierboven vermelde gegevens volledig en correct zijn en jij de geldige houder van het nummer(s) bent.'); ?></p>
    <p>
        <?=$this->__('Let op:'); ?>
        <ul>
            <li><?=$this->__('Eventueel tegoed in een huidige overeenkomst vervalt en wordt niet door Vodafone vergoed of verrekend. Alleen bij verandering van Vodafone Prepaid naar enig Vodafone abonnement met nummerbehoud wordt een beltegoed groter dan 5 euro gecrediteerd op de rekening;'); ?></li>
            <li><?=$this->__('De verplichtingen en voorwaarden uit een overeenkomst met de huidige aanbieder wijzigen niet, jij blijft hiervoor verantwoordelijk, dit geldt ook voor een eventuele afkoopsom in geval van voortijdige beëindiging van je contract.'); ?></li>
            <li><?=$this->__('Deze opdracht tot opzegging en machtiging nummerbehoud is onherroepelijk.'); ?></li>
        </ul>
    </p>
</div>

<div class="business">
    <p><?=$this->__('U geeft Vodafone de opdracht om uw overeenkomst bij uw huidige mobiele aanbieder op te zeggen. Dit kan alleen als uw huidige aanbieder dit mogelijk maakt en alle hierboven vermelde gegevens volledig en correct zijn en u de geldige houder van het nummer(s) bent.'); ?>
    <p>
        <?=$this->__('Let op:'); ?>
        <ul>
            <li><?=$this->__('Eventueel tegoed in een huidige overeenkomst vervalt en wordt niet door Vodafone vergoed of verrekend. Alleen bij verandering van Vodafone Prepaid naar enig Vodafone abonnement met nummerbehoud wordt een beltegoed groter dan 5 euro gecrediteerd op de rekening;'); ?></li>
            <li><?=$this->__('De verplichtingen en voorwaarden uit een overeenkomst met de huidige aanbieder wijzigen niet, u blijft hiervoor verantwoordelijk, dit geldt ook voor een eventuele afkoopsom in geval van voortijdige beëindiging van uw contract.'); ?></li>
            <li><?=$this->__('Deze opdracht tot opzegging en machtiging nummerbehoud is onherroepelijk.'); ?></li>
        </ul>
    </p>
</div>