<?php
/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$customer = $this->getCustomer();
$checkoutData = Mage::helper("dyna_checkout/fields");

$selectedPakageId=$this->getResponse();

$customer = $this->getCustomer();
$isSohoCustomer = $customer->getIsSoho();

?>

<div class="input-group-custom">
    <div class="field-row" id="vodafoneShopsContainer_<?php echo $selectedPakageId; ?>">
        <div class="delivery-pickup-container">

            <form id="google_maps_form_<?php echo $selectedPakageId; ?>">
                <div class="inputpincode">
                    <input type="text"
                           id="delivery[<?php echo $selectedPakageId; ?>][pickup][store][zipcode]"
                           name="delivery[<?php echo $selectedPakageId; ?>][pickup][store][zipcode]"
                           value="" placeholder="12345"
                           class="form-control validate-zip validate-length-max maximum-length-5"
                           autocomplete="off" style="height: 32px; padding:12px;"/>
                    <button type="button" id="delivery[<?php echo $selectedPakageId; ?>][pickup][store][search]" onclick="">
                        <span class="addresssearch"></span>
                    </button>
                </div>
            </form>

            <div class="divfilterbutton" id="divfilterbutton_<?php echo $selectedPakageId; ?>">
                <button class="buttonbounds" type="button" value="" ><p class="button-text"><?php echo $this->__('Filter'); ?></p><span class="buttonfilter"></span></button>

                <div class="multi-select-container" >
                    <div class="multi-select-menu" >
                        <div  class="multi-select-menu-title" ><span> Pickup Locations</span></div>
                        <div class="multi-select-menuitems"> </div>
                    </div>

                </div>

            </div>
            <div id="dhlInputBox_<?php echo $selectedPakageId; ?>"></div>

            <div id="gmaps_<?php echo $selectedPakageId; ?>" class="divplacemap">
            </div>

            <div id="locationList_<?php echo $selectedPakageId; ?>" class="divplace"></div>
            <ul id="pagination-demo_<?php echo $selectedPakageId; ?>" class="pagination-lg google-pagination"></ul>

        </div>
    </div>
</div>

<script>
    var selectedPakageId=<?php echo $selectedPakageId; ?>;
    var addressPlace = new AddressPlace(selectedPakageId);
    var isSohoCustomer='<?php echo $isSohoCustomer; ?>';
    var googleMapsForm = new VarienForm('google_maps_form_'+selectedPakageId);

    jQuery('[id="delivery_pincode"]').val($j('[id="customer[address][postcode]"]').val());

    if(isSohoCustomer && $j('[id="customer_soho[address][postcode]').val()) {
    	jQuery('[id="delivery['+selectedPakageId+'][pickup][store][zipcode]"]').val($j('[id="customer_soho[address][postcode]').val());
    }
    else {
    	jQuery('[id="delivery['+selectedPakageId+'][pickup][store][zipcode]"]').val($j('[id="customer[address][postcode]"]').val());
    }

</script>

<?php if (Mage::getStoreConfig('omnius_service/google_maps_api/enabled')) { ?>
    <script>
        jQuery.ajax({
            url: "//maps.googleapis.com/maps/api/js?key=<?php echo Mage::getStoreConfig('omnius_service/google_maps_api/service_key'); ?>&libraries=places",
            dataType: "script",
            async: false,
            beforeSend: function() {
                jQuery('#spinner').show();
            }

        }).done(function(){
            addressPlace.initMap();
        }).error(function(){
            addressPlace.nonGoogleMap();
        });
    </script>
<?php } else { ?>
    <script>
        addressPlace.nonGoogleMap();
    </script>
<?php } ?>