<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/** @var Omnius_Superorder_Model_Superorder $superOrder */
$superOrder = $this->getSuperorder();
$count = 0;


$packages = $superOrder->getPackages();
$notApprovedPackages = [];

/** @var Omnius_Package_Model_Package $package */
foreach ($packages as $package) {

    if ($package->showDeliveryWarning()) {
        $notApprovedPackages[] = $package->getPackageId();
        ++$count;
    }
}
switch ($count) {
    case 0:
        $message = "";
        break;
    case 1:
        $message = sprintf($this->__("Package %d can't be delivered to the checkout. Select 'Deliver', sign the contract and press 'Go Further'."), $notApprovedPackages[0]);
        break;
    case 2;
        $message = sprintf($this->__("Packages %d and %d can't be delivered to the checkout. Select 'Deliver', sign the contracts and press 'Go Further'."), $notApprovedPackages[0], $notApprovedPackages[1]);
        break;
    default:
        $last = array_pop($notApprovedPackages);
        $message = sprintf($this->__("Packages %s and %d can't be delivered to the checkout. Select 'Deliver', sign the contracts and press 'Go Further'."), implode(', ', $notApprovedPackages), $last);
}

?>
<?php if ($count > 0): ?>
    <div class="error" id="delivery_error_msg" style="display:none">
        <?php echo $message; ?>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            if (jQuery('.delivery_enabled').length > 0) {
                jQuery('#delivery_error_msg').show();
            }
        });
    </script>
<?php endif; ?>
