<div class="sticker">
    <?php if(!Mage::getSingleton('customer/session')->getCustomer() || !Mage::getSingleton('customer/session')->getCustomer()->getId()): ?>
    <div class="text-right">
    </div>
    <?php else: ?>
        <?php echo $this->getChildHtml(); ?>
    <?php endif; ?>
</div>
<div class="panel-content">
    LEFT CONTENT
</div>