<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$orderLockInfo = Mage::getSingleton('customer/session')->getOrderLockInfo() ?: array();
    $lockData = !empty($orderLockInfo[$this->getSuperorder()->getId()]) ? $orderLockInfo[$this->getSuperorder()->getId()] : false;
    if ($lockData !== false) {
        $isLocked = isset($lockData['lock']['lock_state'])
            && strtolower($lockData['lock']['lock_state']) == 'locked';
    
        $sameAgent = isset($lockData['lock']['user_i_d']) && ($lockData['lock']['user_i_d'] == $lockData['currentAgent']);
    
        $superOrder = $this->getSuperorder();
        $lockByMsg = sprintf($this->__('The order is currently locked by: %s'), $lockData['locked_by']);
    }
?>
<div class="order-lock clearfix">
    <?php if ($lockData !== false): ?>
        <div class="lock-info-content">
            <div class="pull-left lock-icon<?php echo ($isLocked && $sameAgent) ? ' unlocked' : ''; ?>"></div>
            <div class="pull-left">
                <div>
                    <span id="order-locked-text"<?php echo Mage::getSingleton('customer/session')->getOrderEditMode() ? ' class="hide"' : ''; ?>><?php echo $this->__('Order locked'); ?></span>
                    <span id="order-unlocked-text"<?php echo Mage::getSingleton('customer/session')->getOrderEditMode() ? '' : ' class="hide"'; ?> ><?php echo $this->__('Order can be changed'); ?></span>
                </div>
                <?php if ($isLocked && !$sameAgent && $lockData['allow_steal']): ?>
                    <script>
                        checkout.allowLockSteal = true;
                    </script>
                <?php endif; ?>
                <?php if ($isLocked && !$sameAgent && !$lockData['allow_steal']): ?>
                    <script>
                        checkout.lockedByMsg = '<?php echo $lockByMsg;?>';
                    </script>
                <?php endif; ?>
                <?php if ($isLocked && !$sameAgent): ?>
                    <?php if ($lockData['allow_steal']): ?>
                    <script>
                        checkout.allowUnlock = true;
                    </script>
                <?php else: ?>
                    <script>
                        checkout.allowUnlock = false;
                    </script>
                <?php endif; ?>
                <?php elseif (!$isLocked || ($isLocked && $sameAgent)): ?>
                    <script>
                        checkout.allowUnlock = true;
                    </script>
                <?php else: ?>
                    <script>
                        checkout.allowUnlock = false;
                    </script>
                <?php endif; ?>
                <?php $onClick = ($isLocked && !$sameAgent) ? 'checkout.orderLockModal(\'' . $lockByMsg . '\')' : 'checkout.switchOrderLock(this);' ?>
                <button id="main_lock_btn" onclick="<?php echo $onClick; ?>"<?php if ($superOrder->isCancelled()) {
                    echo ' disabled';
                } ?>
                        data-order-id="<?php echo $superOrder->getId(); ?>"
                        data-state="<?php echo Mage::getSingleton('customer/session')->getOrderEditMode() ? 'unlocked' : 'locked'; ?>"
                        data-locked-text="<?php echo $this->__('Make changes'); ?>"
                        data-unlocked-text="<?php echo $this->__('Stop changes'); ?>"
                        data-edited="<?php echo count(array_merge(Mage::helper('omnius_checkout')->getModifiedPackages(), Mage::helper('omnius_package')->getCancelledPackagesNow())) > 0 ? 1 : 0; ?>"
                        class="btn btn-primary"><?php echo Mage::getSingleton('customer/session')->getOrderEditMode() ? $this->__('Stop changes') : $this->__('Make changes'); ?></button>
            </div>
        </div>
    <?php else: ?>
        <div class="lock-info-spinner">
            <?php echo $this->__('Loading'); ?>...
            <img class="credit-check-spinner" src="<?php echo $this->getSkinUrl('images/credit_check_spinner.gif') ?>" alt="" />
        </div>
    <?php endif; ?>
</div>
<?php if ($lockData === false): ?>
    <script>
        jQuery(document).ready(function ($) {
            var container = $('.order-lock');
            var old = window.canShowSpinner;
            window.canShowSpinner = false;
            $.ajax({
                async: true, type: 'POST', data: '', url: MAIN_URL + 'checkout/index/getLockInfo', success: function (result) {
                    if (result.error == true) {
                        showModalError(result.message);
                    } else {
                        container.replaceWith(result.html);
                    }
                    
                }
            });
            window.canShowSpinner = old;
        });
    </script>
<?php else: ?>
    <script>
       
    </script>
<?php endif; ?>
