<div class="modal" id="packageNotesModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id=""><?php echo $this->__("Add note"); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block"></div>
                <form id="addNoteOnPackage" class="form-horizontal" role="form">
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea rows="6" class="form-control initial-height required-entry" placeholder="Post a new note" maxlength="150"></textarea>
                                <span class="characters-left">150 chars. remaining</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="after-click-block hide">
                    <div class="modal-block">
                        <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                        <p><?php echo $this->__('Completed')?></p>
                    </div>
                </div>
                <button type="button" class="btn btn-default modal-close" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                <button type="button" class="btn btn-primary pull-right note-field-btn"><?php echo $this->__('Post note') ?></button>
                <button type="button" class="btn btn-primary pull-right post-note-btn hidden" data-dismiss="modal" onclick="customerDe.postNoteOnPackage(this,0)">
                    <?php echo $this->__('Save note') ?>
                </button>
                <button type="button" class="btn btn-primary pull-right edit-note-btn hidden">
                    <?php echo $this->__('Edit note') ?>
                </button>
                <button type="button" class="btn btn-primary pull-right save-note-btn hidden" data-dismiss="modal" onclick="customerDe.editNoteOnPackage()">
                    <?php echo $this->__('Save note') ?>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function(){
        jQuery('#addNoteOnPackage').find('textarea').keyup(function(e){
            window.customerDe.checkNoteCharactersLeft(this, 150, e);
        });
    });
</script>