<?php
$session = Mage::getSingleton('customer/session');
/** @var Dyna_Agent_Model_Agent $agent*/
$agent = $session->getAgent();
if($agent) {
    $agentDealer = $agent->getDealer();
    /** @var Dyna_Agent_Model_Agent $superAgent */
    $superAgent = $session->getSuperAgent();
    if ($superAgent) {
        $superAgentDealer = $superAgent->getDealer();
    }
    $agentId = $superAgent ? $superAgent->getAgentId() : $agent->getAgentId();
    $agentFirstName = $superAgent ? $superAgent->getFirstName() : $agent->getFirstName();
    $agentLastName = $superAgent ? $superAgent->getLastName() : $agent->getLastName();
    $agentEmail = $superAgent ? $superAgent->getEmail() : $agent->getEmail();
}
$customer = Mage::getSingleton('customer/session')->getCustomer();
$isSoho = $customer->getIsSoho();
$serviceAddress = Mage::getSingleton('dyna_address/storage')->getServiceAddressParts();
?>

<!-- Workitem Service Modal -->
<div class="modal" id="workitem_service_create_modal" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-bg">
        <div class="modal-content">
            <form id="createWorkitemTicket" class="form-horizontal" role="form">
                <input type="hidden" name="cart" value="false" />
                <div class="modal-header">
                    <div class="close-text-button" data-dismiss="modal"><div class="modal-workitem-close" data-dismiss="modal">
                            <span class="close-span">
                                <?php echo $this->__("Close page") ?>
                            </span>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
                    </div>
                    <h1 class="modal-title"><?php echo $this->__('Create New Workitem Service')?></h1>
                </div>
                <div class="modal-body">
                    <div class="well well-sm mbs">
                        <h3 class="mbn"><?php echo $this->__('User data')?></h3>
                    </div>
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="agentId" class="label-full-width"><?php echo $this->__('Agent ID')?>
                                    <input class="form-control required-entry" id="agentId" type="text" name="agentId" value="<?php echo isset($agentId) ? $agentId : ''; ?>" readonly/>
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label for="firstName" class="label-full-width"><?php echo $this->__('First Name'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control" id="firstName" type="text" name="firstName" value="<?php echo isset($agentFirstName) ? $agentFirstName : ''; ?>" readonly />
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label for="lastName" class="label-full-width"><?php echo $this->__('Last Name'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control" id="lastName" type="text" name="lastName" value="<?php echo isset($agentLastName) ? $agentLastName : ''; ?>" readonly />
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label for="agentEmail" class="label-full-width"><?php echo $this->__('E-Mail'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control" id="agentEmail" type="email" name="agentEmail" value="<?php echo isset($agentEmail) ? $agentEmail : ''; ?>" readonly />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="well well-sm mbs">
                        <h3 class="mbn"><?php echo $this->__('Workitem Service Data')?></h3>
                    </div>
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label for="orderCartId" class="label-full-width"><?php echo $this->__('Omnius Order ID / Shopping Cart ID / Offer ID'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control" id="orderCartId" type="text" name="orderCartId"/>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label for="globalID" class="label-full-width"><?php echo $this->__('Global ID'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control" id="globalId" type="text" name="globalId"
                                        <?php echo $customer->isCustomerLoggedIn() ? ' value="'.$customer->getGlobalId().'"' : '' ?>/>
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label for="customerType" class="label-full-width"><?php echo $this->__('Customer Type')?>
                                    <select class="form-control initial-height validate-select" id="customerType" name="customerType">
                                        <option value="P"<?php echo $customer->isCustomerLoggedIn() && $customer->getPartyType() == Dyna_Customer_Helper_Services::PARTY_TYPE_PRIVATE ? ' selected="selected"' : '';?>>Privat</option>
                                        <option value="S"<?php echo $customer->isCustomerLoggedIn() && $customer->getPartyType() == Dyna_Customer_Helper_Services::PARTY_TYPE_SOHO ? ' selected="selected"' : '';?>>SOHO</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label for="customerFirstName" class="label-full-width"><?php echo $this->__('Customer First Name'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control" id="customerFirstName" type="text" name="customerFirstName"
                                        <?php echo $customer->isCustomerLoggedIn() && $customer->getPartyType() == Dyna_Customer_Helper_Services::PARTY_TYPE_PRIVATE ? ' value="'.$customer->getFirstName() . '"' : '' ?>/>
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label for="customerLastName" class="label-full-width"><?php echo $this->__('Customer Last Name'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control" id="customerLastName" type="text" name="customerLastName"
                                        <?php echo $customer->isCustomerLoggedIn() && $customer->getPartyType() == Dyna_Customer_Helper_Services::PARTY_TYPE_PRIVATE ? ' value="'.$customer->getLastName() . '"' : '' ?>/>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label for="companyName" class="label-full-width"><?php echo $this->__('Company Name'). ' ' . $this->__('(optional)'); ?>
                                    <input class="form-control <?php echo $isSoho ? 'required-entry' : ''; ?>" id="companyName" type="text" name="companyName"
                                        <?php echo $customer->isCustomerLoggedIn() && $customer->getPartyType() == Dyna_Customer_Helper_Services::PARTY_TYPE_SOHO ? ' value="'.$customer->getCompanyName() . '"' : '' ?>/>
                                </label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-8">
                                <label for="customerEmail" class="label-full-width"><?php echo $this->__('Customer E-Mail'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control validate-mail" id="customerEmail" type="text" name="customerEmail"
                                        <?php echo $customer->isCustomerLoggedIn() ? ' value="'.$customer->getEmailAddress() . '"' : '' ?>/>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label for="customerTelephone" class="label-full-width"><?php echo $this->__('Customer Telephone Number'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control" id="customerTelephone" type="text" name="customerTelephone"
                                        <?php echo $customer->isCustomerLoggedIn() ? ' value="'.$customer->getPhoneNumber() . '"' : '' ?>/>
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label for="customerZIP" class="label-full-width"><?php echo $this->__('ZIP'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control validate-postcode-de" id="customerZIP" type="text" name="customerZIP"
                                        <?php echo $customer->isCustomerLoggedIn() ? ' value="'.$customer->getPostalCode() . '"' : '' ?>/>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label for="customerCity" class="label-full-width"><?php echo $this->__('City'). ' ' . $this->__('(optional)')?>
                                    <input class="form-control" id="customerCity" type="text" name="customerCity"
                                        <?php echo $customer->isCustomerLoggedIn() ? ' value="'.$customer->getCity() . '"' : '' ?>/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="col-sm-4 row">
                                <div class="col-sm-12">
                                    <label for="stageId" class="label-full-width"><?php echo $this->__('Stage ID')?>
                                        <select class="form-control initial-height validate-select" id="stageId" name="stageId">
                                            <option value="Shopping cart"><?php echo $this->__('Shopping Cart'); ?></option>
                                            <option value="Offer"><?php echo $this->__('Offer'); ?></option>
                                            <option value="Order"><?php echo $this->__('Order'); ?></option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-sm-12">
                                    <label for="priority" class="label-full-width"><?php echo $this->__('Severity')?>
                                        <select class="form-control initial-height validate-select" id="priority" name="priority">
                                            <option value="P1"><?php echo $this->__('Critical (Level 1)')?></option>
                                            <option value="P2"><?php echo $this->__('Significant (Level 2)')?></option>
                                            <option value="P3"><?php echo $this->__('Standard (Level 3)')?></option>
                                            <option value="P4"><?php echo $this->__('Low (Level 4)')?></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <label for="comments" class="label-full-width"><?php echo $this->__('Comments')?>
                                    <textarea rows="6" class="form-control initial-height required-entry" id="comments" name="comments"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right" onclick="customerDe.submitWorkItem()"><?php echo $this->__('Submit')?></button>
                </div>
            </form>
        </div>
    </div>
</div>