
<?php
$show_postal_code          = (bool)Mage::getStoreConfig('omnius_general/address_check/show_postal_code');
$show_city                 = (bool)Mage::getStoreConfig('omnius_general/address_check/show_city');
$show_street               = (bool)Mage::getStoreConfig('omnius_general/address_check/show_street');
$show_house_no             = (bool)Mage::getStoreConfig('omnius_general/address_check/show_house_no');
$show_house_no_extension   = (bool)Mage::getStoreConfig('omnius_general/address_check/show_house_no_extension');
$postal_code_mandatory     = (bool)Mage::getStoreConfig('omnius_general/address_check/is_postal_code_mandatory');
$city_mandatory            = (bool)Mage::getStoreConfig('omnius_general/address_check/is_city_mandatory');
$street_mandatory          = (bool)Mage::getStoreConfig('omnius_general/address_check/is_street_mandatory');
$house_no_mandatory        = (bool)Mage::getStoreConfig('omnius_general/address_check/is_house_no_mandatory');
$house_extension_mandatory = (bool)Mage::getStoreConfig('omnius_general/address_check/is_house_no_extension_mandatory');

$agent = Mage::getSingleton('customer/session')->getAgent();
$hasFixedPermission = $agent->isGranted(Vznl_Agent_Model_Agent::ALLOW_ZIGGO);
?>
<script type='text/javascript'>
  validateApiUrl = "<?php echo Mage::getStoreConfig("vodafone_service/validate_address_api/api_end_point"); ?>";
  serviceApiUrl = "<?php echo Mage::getStoreConfig("vodafone_service/serviceability_api/api_end_point"); ?>";
  uhelpAppUrl = "<?php echo Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/uhelp_app_url'); ?>";
</script>

<div class="middle-menu<?php if($show_postal_code == 0 && $show_city == 0 && $show_street == 0 && $show_house_no == 0 && $show_house_no_extension == 0): ?> hide<?php endif ?>">
    <div class="action_menu <?php echo $hasFixedPermission ? '' : 'hidden'; ?>" >
        <div id="serviceability-content" class="clearfix"><!-- Ajax filled--></div>
        <div id="address-check-container" class="address-check">
            <span class="loading-search invisible"></span>
        </div>
        <div class="serviceability-container ">
            <form id="topaddressCheckForm" class="form-inline form-row-small clearfix">
                <div class="form-group col-xs-2  <?=(!$show_postal_code ? 'hidden' : '')?>">
                    <input type="text" data-typeplace = "(regions)" placeholder="<?php echo $this->__("Postcode"); ?>" class="form-control format-postcode-nl validate-postcode-nl top-address-validations<?php if($postal_code_mandatory == 1): ?> required-entry <?php endif ?>" name="postalcode" id="topBar.addressCheck.postcode"  title="<?php echo $this->__('Invalid postcode or wrong length, must be 6 characters long'); ?>" autocomplete="disable-autofill">
                </div>
                <div class="form-group col-xs-2 <?=(!$show_house_no ? 'hidden' : '')?>">
                    <input type="text" placeholder="<?php echo $this->__("No."); ?>" class="validate-number form-control validate-length minimum-length-1 maximum-length-5<?php if($house_no_mandatory == 1): ?> required-entry <?php endif ?>" maxlength="5" name="housenumber" id="topBar.addressCheck.houseNo" title="<?php echo $this->__('House number contains only numeric characters'); ?>" autocomplete="disable-autofill">
                </div>
                <div class="form-group col-xs-1 <?=(!$show_house_no_extension ? 'hidden' : '')?>">
                    <input type="text" placeholder="<?php echo $this->__("Add."); ?>" class="form-control top-address-validations format-housenoaddition-nl<?php if($house_extension_mandatory == 1): ?> required-entry <?php endif ?>" name="housenumberaddition" id="topBar.addressCheck.addition" autocomplete="disable-autofill">
                    <input type="hidden" id="topBar_addressCheck_isReloadPage" class="form-control">
                </div>
                <div class="form-group col-xs-2 <?=(!$show_street ? 'hidden' : '')?>">
                    <input type="text" data-typeplace="address" readonly placeholder="<?php echo $this->__("Street"); ?>" class="top-address-validations form-control<?php if($street_mandatory == 1): ?> required-entry <?php endif ?>" name="street" id="topBar.addressCheck.street"  autocomplete="off">
                </div>
                <div class="form-group col-xs-2 <?=(!$show_city ? 'hidden' : '')?>">
                    <input type="text" data-typeplace="(regions)" readonly placeholder="<?php echo $this->__("City"); ?>" class="form-control top-address-validations<?php if($city_mandatory == 1): ?> required-entry <?php endif ?>" name="city" id="topBar.addressCheck.city"  autocomplete="off">
                </div>
                <div class="form-group col-xs-2">
                    <button type="button" class="btn btn-primary btn-block has-spinner check-button" onclick="address.checkServiceabilityHeader('#topaddressCheckForm')">
                        <?php echo $this->__("Check") ?> <span class="btn-spinner"><span class="btn-spinner-inner"></span></span>
                    </button>
                </div>
                <input type="hidden" id="legacy_reload" class="form-control">
            </form>
        </div>
    </div>
</div>

<script>
  window.services = {};
</script>