<?php
$customerSession = Mage::getSingleton('customer/session');
$helper = Mage::helper('bundles');
?>
<script id="Handlebars-Template-Customer-Campaigns" type="text/x-handlebars-template">
    {{#if this.offers }}
    {{#ifComplex this.showServiceabilityNotification '==' '0' '&&' this.isFixedCustomer '==' '0'}}
    <div class="notification-banner warning new-ui-elements require-serviceability-banner">
        <div class="notification-banner-text">
            <div class="notification-banner-title">
                <?php echo $helper->__('Perform the serviceability check before selecting an offer'); ?>
            </div>
        </div>
    </div>
    {{/ifComplex}}
    {{#ifCond this.hasFixedPackageInCart '==' '1'}}
    <div class="notification-banner warning new-ui-elements fixed-package-in-cart">
        <div class="notification-banner-text">
            <div class="notification-banner-title">
                <?php echo $helper->__('Fixed offers disabled since fixed package is already in cart'); ?>
            </div>
        </div>
    </div>
    {{else}}
    <div class="notification-banner warning new-ui-elements fixed-package-in-cart" style="display:none;">
        <div class="notification-banner-text">
            <div class="notification-banner-title">
                <?php echo $helper->__('Fixed offers disabled since fixed package is already in cart'); ?>
            </div>
        </div>
    </div>
    {{/ifCond}}
    {{#ifCond this.isFixedCustomer '==' '1'}}
    <div class="notification-banner warning new-ui-elements require-serviceability-banner-ils">
        <div class="notification-banner-text">
            <div class="notification-banner-title"><?php echo $helper->__('No Fixed offers available for the existing fixed customer'); ?></div>
            <div class="notification-banner-description"><?php echo $helper->__('Go to My Products to change your fixed proposition'); ?></div>
        </div>
    </div>
    {{/ifCond}}
    <div id="campaigns-offers-viewport">
        <ul id="campaigns-offers-items" class="new-ui-elements clearfix">
            {{#each this.offers}}
            <li class="campaigns-offers-item">
                <div class="campaigns-offers-item-header">
                    <div class="campaigns-offers-item-header-title">{{this.titleDescription}}</div>
                    <div
                            class="campaigns-offers-item-header-info"
                            data-toggle="tooltip"
                            data-html="true"
                            data-container="body"
                            data-placement="right service-description campaign-tooltip"
                            data-title="{{this.identifier}}"
                    ></div>
                    {{#if this.subtitleDescription}}
                    <div class="campaigns-offers-item-header-subtitle clearfix">{{this.subtitleDescription}}</div>
                    {{/if}}
                </div>
                <div class="campaigns-offers-item-content">
                    <ul class="campaigns-offers-item-content-usps">
                        {{#each this.usps}}
                        <li>{{this.usp}}</li>
                        {{/each}}
                    </ul>
                    <div class="campaigns-offers-item-content-overlay"></div>
                    <a href="#" onclick="campaign.show(true);" class="campaigns-offers-item-content-show campaigns-offers-item-content-show-more"><?php echo $helper->__('Show more'); ?></a>
                    <a href="#" onclick="campaign.show(false);" class="campaigns-offers-item-content-show campaigns-offers-item-content-show-less"><?php echo $helper->__('Show less'); ?></a>
                </div>
                <div class="campaigns-offers-item-footer">
                    <div class="campaigns-offers-item-footer-undiscounted">{{money this.undiscountedPricePerMonth}}
                    </div>
                    <div class="campaigns-offers-item-footer-discounted">
                        <strong>{{money this.discountedPricePerMonth}}</strong> <?php echo $helper->__('per month'); ?>
                    </div>
                    <div class="campaigns-offers-item-footer-months">{{this.discountedMonths}}</div>
                    <button type="button" class="btn btn-primary fluid campaigns-offers-item-footer-select{{#if this.initConfiguratorData.hasInvalidProducts}} invalid-products-disabled{{/if}}{{#if this.initConfiguratorData.disabledByPermission}} disabled-by-permission{{/if}}{{#unless this.defaultEnabled}} disabled{{/unless}}{{#if this.initConfiguratorData.hasOpenOrder}} disabled-by-open-order{{/if}}
                        {{#ifComplex this.status '==' '0' '&&' this.ils '==' '0'}}
                            {{#ifCond this.productStatus '==' '1'}}
                                requires-serviceability-campaign
                            {{/ifCond}}
                        {{/ifComplex}}"
                            onclick="phone.loadCampaignOffers(
                                '{{{this.initConfiguratorData.packagesStringified}}}',
                                '{{this.initConfiguratorData.saleType}}',
                                '{{this.initConfiguratorData.ctn}}',
                                '{{this.identifier}}'
                            )"
                            {{#ifComplex this.status '==' '0' '||' this.productStatus '==' '0'}}
                                disabled="disabled"
                            {{/ifComplex}}
                            {{#ifComplex ../hasFixedPackageInCart '==' '1' '&&' this.packageType '==' 'int_tv_fixtel'}}
                                disabled="disabled"
                            {{/ifComplex}}
                    >
                    <?php echo $helper->__('Select offer'); ?>
                    </button>
                </div>
            </li>
            {{/each}}
        </ul>
        <button class="campaigns-offers-controls" id="campaigns-offers-controls-previous"
                onclick="campaign.move(false);">Previous
        </button>
        <button class="campaigns-offers-controls" id="campaigns-offers-controls-next" onclick="campaign.move(true);">
            Next
        </button>
        <ul id="campaigns-offers-pagination" class="hidden"></ul>
    </div>
    {{/if}}
    <script type="text/javascript">
        if (store.get('serviceApiResponse') == null) {
            jQuery('.requires-serviceability-campaign').attr("disabled");
        }
        else {
            jQuery('.requires-serviceability-campaign').removeAttr("disabled");
            jQuery('.require-serviceability-banner').css({"display": "none"});
        }
    </script>
</script>
<div id="campaigns-offers" class="mtl pvl clearfix"></div>
<div id="campaigns-offers-empty" class="mbl hidden">
    <img src="<?php echo $this->getSkinUrl('images/campaign-no-offers.svg'); ?>" />
    <h4><?php echo $helper->__('No offers configured'); ?></h4>
    <p><?php echo $helper->__('Somebody forgot to configure some offers. You can always add a package'); ?></p>
</div>