<?php
echo $this->getChildHtml('modals');
?>

<div class="modal show-warning cancel-package-modal" id="cancel-cart-by-package-modal" tabindex="-1"
     role="dialog" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Shopping cart will be emptied!'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block after-click-block hide">
                            <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                            <p><?php echo $this->__('Completed') ?></p>
                        </div>
                        <div class="modal-block before-click-block">
                            <div class="info left">
                                <h3 id="remove-single-package-message"><?php echo $this->__('Another package of this type is found in cart. Proceeding will remove all packages. Do you want to continue?') ?></h3>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;padding-top:60px">
                        <button type="button" class="btn btn-default modal-close"
                                data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                        <button id="cancel-cart-by-package-button"
                                class="btn btn-primary pull-right cancel-cart-by-package-button" type="button">
                            <?php echo $this->__('Continue') ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal show-warning cancel-package-modal" id="cancel-cart-modal" tabindex="-1" role="dialog" aria-labelledby="cancelCartLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Cancel order'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block after-click-block hide">
                            <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                            <p><?php echo $this->__('Completed')?></p>
                        </div>
                        <div class="modal-block before-click-block">
                            <div class="left">
                                <h3 id="remove-single-package-message"><?php echo $this->__('This action can be canceled') ?></h3>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;padding-top:60px">
                        <button type="button" class="btn btn-default modal-close pull-left" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                        <button type="button" class="btn btn-primary cancel-cart-button pull-right"><?php echo $this->__('Continue') ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal show-warning cancel-package-modal new-style-modal" data-backdrop="static" id="change-customer-type-modal" tabindex="-1" role="dialog" aria-labelledby="changeCustomerTypeLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="clearfix">
                <div class="modal-left-column">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-right-column">
                    <div class="modal-header">
                        <h4 class="modal-title" id="changeCustomerTypeLabel"><?php echo $this->__('Change of customer type'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block after-click-block hide">
                            <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                            <p><?php echo $this->__('Completed')?></p>
                        </div>
                        <div class="modal-block before-click-block">
                            <div class="left">
                                <h3 id="remove-single-package-message"><?php echo $this->__('Changing the customer type will clear all packages from the shopping bag. Do you wish to proceed?') ?></h3>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;padding-top:60px">
                        <button type="button" class="btn cancel-cart-button pull-right"><?php echo $this->__('Yes, proceed') ?></button>
                        <button type="button" class="btn btn-secondary modal-close pull-right" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal show-warning cancel-package-modal" id="cancel-lowentry-bundle-modal" tabindex="-1" role="dialog" aria-labelledby="cancelCartLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Attention!'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block after-click-block hide">
                            <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                            <p><?php echo $this->__('Completed')?></p>
                        </div>
                        <div class="modal-block before-click-block">
                            <div class="info left">
                                <h3 id="remove-single-package-message"><?php echo $this->__('Proceeding will lead to removing all Lowentry products') ?></h3>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;padding-top:60px">
                        <button type="button" class="btn btn-default modal-close" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                        <button id="remove-lowentry-products" type="button" class="btn btn-primary pull-right" onclick="removePackage(event, this)">
                            <?php echo $this->__('Delete package') ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal show-warning cancel-package-modal" id="cancel-single-package-modal" tabindex="-1" role="dialog" aria-labelledby="cancelCartLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row cancel-package">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="modal-header">
                        <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Attention!'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block after-click-block hide">
                            <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                            <p><?php echo $this->__('Completed')?></p>
                        </div>
                        <div class="modal-block before-click-block">
                            <div class="info left">
                                <h3 id="remove-single-package-message"><?php echo $this->__('Confirm package removal') ?></h3>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;padding-top:60px">
                        <button id="cancel-single-cart-button" type="button" class="btn btn-default modal-close" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                        <button id="remove-single-cart-button" type="button" class="btn btn-primary pull-right btn-remove-single-package" onclick="removePackage(event, this)">
                            <?php echo $this->__('Delete package') ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal show-warning cancel-package-modal" id="cancel-single-package-with-redplus-modal" tabindex="-1" role="dialog" aria-labelledby="cancelCartLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Attention!'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block after-click-block hide">
                            <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                            <p><?php echo $this->__('Completed')?></p>
                        </div>
                        <div class="modal-block before-click-block">
                            <div class="info left">
                                <p><?php echo $this->__('Deleting this package destroys the entire group') ?></p>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;padding-top:60px">
                        <button type="button" class="btn btn-primary modal-close" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                        <button id="remove-single-cart-redplus" type="button" class="btn btn-default pull-right btn-remove-single-package" onclick="removePackage(event, this)">
                            <?php echo $this->__('Delete group') ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal show-warning cancel-package-modal" id="break-redplus-after-deselecting-modal" tabindex="-1" role="dialog" aria-labelledby="cancelCartLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Attention!'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block after-click-block hide">
                            <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                            <p><?php echo $this->__('Completed')?></p>
                        </div>
                        <div class="modal-block before-click-block">
                            <div class="info left">
                                <p><?php echo $this->__('Deleting this package destroys the entire group') ?></p>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;padding-top:60px">
                        <button type="button" class="btn btn-default modal-close" data-dismiss="modal" onclick="configurator.showRedPlusModal=true;"><?php echo $this->__('Cancel') ?></button>
                        <button id="break-redplus-button" type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="configurator.breakRedPlusGroup()">
                            <?php echo $this->__('Delete group') ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal show-warning cancel-package-modal" id="cancel-bundle-modal" tabindex="-1" role="dialog" aria-labelledby="cancelBundleLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row cancel-package">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="modal-header">
                        <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Bundle will be lost'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block">
                            <div class="info left">
                                <p><?php echo $this->__('Changing or deleting the current package will break the bundle. Are you sure you want to continue?') ?></p>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;">
                        <div class="after-click-block hide">
                            <div class="modal-block">
                                <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                                <p><?php echo $this->__('Completed')?></p>
                            </div>
                        </div>
                        <button id="cancel-single-cart-button" type="button" class="btn btn-default modal-close" data-dismiss="modal"
                                onclick="configurator.showBundleBreakingModal=true;"><?php echo $this->__('Cancel') ?>
                        </button>
                        <button type="button" class="btn btn-primary pull-right"
                                onclick="configurator.breakBundle()"><?php echo $this->__('Break bundle') ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal show-warning" id="redplus-reserved-member-warning" tabindex="-1" role="dialog" aria-labelledby="cancelCartLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9" style="padding-left:0;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Attention'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block after-click-block hide">
                            <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                            <p><?php echo $this->__('Completed')?></p>
                        </div>
                        <div class="modal-block before-click-block confirmation-message">
                            <div class="info left">
                                <p><?php echo $this->__('The customer has future reserved activations for this Red+ group.') ?></p>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;padding-top:60px">
                        <button type="button" class="btn btn-default modal-close" data-dismiss="modal" onclick="customerSection.showRedPlusMemberWarning=true;"><?php echo $this->__('Abort') ?></button>
                        <button id="break-redplus-button" type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="customerSection.addRedPlusMemberAfterConfirmation()">
                            <?php echo $this->__('Continue') ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal show-warning cancel-package-modal" id="break-suso-after-deselecting-modal" tabindex="-1" role="dialog" aria-labelledby="cancelCartLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Attention!'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block after-click-block hide">
                            <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                            <p><?php echo $this->__('Completed')?></p>
                        </div>
                        <div class="modal-block before-click-block">
                            <div class="info left">
                                <p><?php echo $this->__('Deselecting this product destroys the connected prepaid package') ?></p>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;padding-top:60px">
                        <button type="button" class="btn btn-default modal-close" data-dismiss="modal" onclick="configurator.showSusoModal=true;"><?php echo $this->__('Cancel') ?></button>
                        <button id="break-suso-after-deselecting-modal-button" type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="configurator.breakSusoBundle()">
                            <?php echo $this->__('Delete package') ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="generic-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="getConfirmationLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Attention!'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block">
                    <div class="info left confirmation-message">
                        <!-- to be filled ty needs -->
                    </div>
                    <div class="clearfix clearer clear"></div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <div class="after-click-block hide">
                    <div class="modal-block">
                        <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                        <p><?php echo $this->__('Completed')?></p>
                    </div>
                </div>
                <button type="button" class="btn btn-default modal-close pull-left" data-dismiss="modal"><?php echo $this->__('Revoke') ?></button>
                <button type="button" class="btn btn-primary confirm-action-button pull-right" onclick=""><?php echo $this->__('Continue') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="show-bundle-hints" role="dialog" data-backdrop="false">
    <div class="col-lg-9 col-md-8 col-sm-7"></div>
    <div class="col-lg-3 col-md-4 col-sm-5 navbar-fixed-bottom navbar-right">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">
                        <div class="hint-description-badge">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        </div>
                        <span class="hint-title"></span>
                    </h2>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div><!-- /#show-bundle-hints -->

<!--Coupon Code Error Modal -->
<div class="modal  new-style-modal fade" id="coupon-check-invalid-coupon">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel"><?php echo $this->__('Coupon not correct'); ?></h4>
      </div>
      <div class="modal-body">
        <!-- Modal content here -->
        <div class="message"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->__('Ok') ?></button>
      </div>
    </div>
  </div>
</div>

<!--Indirect Unset value  -->
<div class="modal show-warning" id="logout-customer-modal" tabindex="-1" role="dialog" aria-labelledby="logoutCustomerLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="logoutCustomerLabel"><?php echo $this->__('Logout customer'); ?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-block">
                            <div class="left">
                                <p><?php echo $this->__('This action can be canceled') ?></p>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;">
                        <div class="after-click-block hide">
                            <div class="modal-block">
                                <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                                <p><?php echo $this->__('Completed')?></p>
                            </div>
                        </div>
                        <input type="hidden" id="move-cancel-package" value=""/>
                        <button type="button" class="btn btn-default modal-close pull-left" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                        <button type="button" class="btn btn-primary cancel-cart-button pull-right"><?php echo $this->__('Continue') ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Work Item Modal -->
<?php
/** @var $this Mage_Core_Block_Template */
echo $this->getLayout()->createBlock('core/template')->setTemplate('page/modals/work-item-modal.phtml')->toHtml();
echo $this->getLayout()->createBlock('core/template')->setTemplate('page/modals/package-notes-modal.phtml')->toHtml();
?>
