<?php
$helperTranslations = [
  'configurator' => [
    'Failed to initiate configurator',
    'You cannot change address when migrating to Cable',
    'No technology is available at current address',
    'Campaign',
    'You need to enter the device serial number',
    'products selected',
    'New',
    'Please enter a valid SEPA address',
    'Please select',
    'No products selectable',
    'No goodies selectable',
    'No hardware selectable',
    'No options selectable',
    'No tariff selectable',
    'No discounts & promotions selectable',
    'Date should be greater or equal to today',
    'Time range should be',
    'Please enter a time value in the following format: hh:mm',
    'Work item successfully sent',
    'Password must be min. 10 characters – alpha & numeric',
    'You cannot continue offers saved by other agencies',
    'Invalid address',
    'Time must be greater than current time and in the following range: 07:30 - 21:30',
    'You already have a package in the shopping cart. Please remove the package in order to continue!',
    'Tariff',
    'Option',
    'KDPhoneNumber',
    'Create package',
    'At least one search criterion must be passed',
    'Not Available',
    'Multiple options selected',
    'Minimum length is 2, maximum is 20, only the following characters are allowed: A-Z, a-z, 0-9, Ä, Ö, Ü, ä, ö, ü, ß, and some special chars: !, #, $, &, [,]',
    'Consisting Products',
    'This Promotion can be changed after the bundle has been created',
    'Cancel',
    'Please check your package configuration',
    'Shopping bag saved!',
    'Shopping bag saved and sent!',
    'Shopping bag sent!',
    'NdpState',
    'NPDStatus',
    'NdpStatePresentationText',
    'MaxUnits',
    'ObjectCategory',
    'FreeUnits',
    'ObjectType',
    'SoldUnits',
    'ObjectTags',
    'ObjectCategoryPresentationText',
    'HasAnalogPrerequisite',
    'BuildingType',
    'StatusCode',
    'DSL is not available. Move off-net is not possible.',
    'Cable is available. Move off-net is not possible.',
    'No technology available, move-offnet is not possible.',
    'The customer has future reserved activations for this Red+ group.',
    'Confirm package removal',
    'Delete package',
    'Discard',
    'Add note',
    'Note on %s',
    'Check',
    'Warning',
    'Error',
    'Sending message...',
    'Waiting for reply...',
    'Retry limit exceeded',
    'Processing answer...',
    'Add to basket',
    'Merge into bundle',
    'GIVEN',
    'MANDATORY',
    'Continue at cash register',
    'Continue to homepage',
    'Something went wrong! Customer could not be loaded. Please try again',
    '<b>ERROR!</b> Something went wrong while searching. Please try again',
    '<b>OOOPS!</b> It`s not possible to search for this order ID, because it was placed by another dealer',
    'Incorrect customer password! Please perform an advanced search with a customer password',
    'Invalid postcode or wrong length, must be 6 characters long',
    'Bundle will be lost',
    'Attention!',
    'Show more',
    'More info',
    'CUSTOMIZED PACKAGE',
    ' there is hardware added to it ',
    'BSL-60011 : Customer cannot be validated',
    'You are being redirected to login page',
    'Current contract',
    'Terminated',
    'Hardware type',
    'Serial number',
    'Bundle not serviceable on new address',
    'Compatibility other than serviceability',
    'Please contact support or check more info for full details.'
  ],
  'checkout' => [
    'Close',
    'View',
    'Delete',
    'Send via email',
    'Change',
    'Something went wrong',
    'Contract end date',
    'Email sent',
    'Email not sent',
    'Order placed!',
    'Order updated!',
    'Sorry!',
    'Your order is successfully submitted',
    'We\'re unable to deliver Ziggo services on this address',
    'Package(s) has been successfully cancelled',
    'Order was successfully returned',
    'Customer search',
    'An error has occurred',
    'Created',
    'Type',
    'Channel',
    'LOB',
    'Coupon added: %s',
    'In stock',
    'Out of stock',
    'The order of this new customer is still being processed, the customer can not be displayed until further notice.',
    'Customer has excluded cable accounts. Only Active accounts are loaded.',
    'Customer has excluded mobile accounts. Only Active accounts are loaded.',
    'Customer has excluded cable and mobile accounts. Only Active accounts are loaded.',
    'ORDER RESTRICTION! Placing fixed orders is not allowed due to an administrative order restriction. Please contact Billing & Collections.',
    'Sending message',
    'Waiting for reply',
    'Processing answer',
    'Cable is not possible at this service address, therefore migration is not possible.',
    'Cable Internet & telephone is not possible at this service address, therefore migration is not possible.',
    'Please enter a valid number in this field.',
    'This is a required field.',
    'The application seems to be already opened in another tab. Please note working with multiple tabs can cause incorrect behavior',
    'Please select the damaged products:',
    'Yes',
    'No',
    'Please enter a valid phone number(10 digits in the format 06xxxxxxxx)',
    'Date must be in the future',
    'We are unable to port a phone number with this area code',
    'No hardware items found in the package',
    'Package configuration',
    'Select',
    'Selected',
    'Direct Debit',
    'By invoice',
    'Delivery by post and self install',
    'Delivery by technician',
    'Delivery by technician and ASAP',
    'Delivery and full install by technician',
    'Multiple Results Found For',
    'No hardware items found in the package',
    'Validate',
    'Verified',
    'Offers',
    'Shopping bags',
    'Carts',
    'No offers',
    'No saved shopping carts',
    'If the customer has saved shopping cart you\'ll see them here',
    'If the customer has offers you\'ll see them here',
    'Please enter the sim card',
    'Invalid simcard number',
    'Please select the reason',
    'No linked accounts',
    'If the customer has linked accounts, you\'ll see them here',
    'Send package(s) to',
    'Use customer address',
    'Order number:',
    'Order',
    'details',
    'Invalid IBAN',
    'Invalid SMS code',
    'Invalid characters have been detected. Please use only letters and space characters.',
    'Please enter a valid house number (minimum 1 digit, maximum 5 digits)',
    'Please enter a valid phone number(10 digits in the format 06xxxxxxxx or 316xxxxxxxx)',
    'Are there products dead on arrival (D.O.A.)?',
    'Something went wrong connecting to the COC service',
    'Re-send SMS',
    'No stores found',
    'Please select a value',
    'Please contact support or check "more info" for full details.',
    '<strong>WORKITEM NOT CREATED! </strong>',
    'Please contact support or check "more info" for full details.',
    'Using current SIM'
  ],
  'customer' => [
    'Shoppingbag is no longer valid',
    'Shoppingbag has expired and is no longer valid',
    'has expired and is no longer valid',
    'Created',
    'Packages',
    'No offers',
    'If the customer has offers you\'ll see them here',
    'No saved shopping bags',
    'If the customer has saved shopping bags you\'ll see them here',
    'No linked accounts',
    'If the customer has linked accounts, you\'ll see them here',
    'Contract start date',
  ]
];

$translations = [];

$packageTypes = Mage::getModel('dyna_package/packageType')->getCollection()->load();
$translations = [];
foreach ($packageTypes as $packageType) {
  $translations[$packageType->getPackageCode(true)] = $packageType->getFrontEndName();
}

foreach ($helperTranslations as $type => $helperTranslationData) {
  $helper = Mage::helper('vznl_'.$type);
  foreach ($helperTranslationData as $helperTranslation) {
    $translations[$helperTranslation] = $helper->__($helperTranslation);
  }
}
?><script type="text/javascript">
  <?php
      /*
       * We must inject the frontend cache
       * prefix so that the frontend has access to it
       */
       echo sprintf("window['storage_key_prefix'] = '%s';", Mage::getSingleton('dyna_cache/cache')->getFrontendCachePrefix()) . "\n";
  ?>
  window['customerIframeUrl'] = "<?php echo Mage::helper('vznl_customer')->getUsageUrl(); ?>";
  var controller = '<?php echo Mage::app()->getRequest()->getControllerName(); ?>';
  window.allPackages = <?php echo "[" . "'" . implode("','", Dyna_Catalog_Model_Type::getSections()) . "'" . "];\n"; ?>
  window.timeout = false;
  Validation.defaultOptions.immediate = true;

  window.__resizeCallbacks = [];
  window.getResizeEvents = function () {
    return window.__resizeCallbacks;
  };
  window.addResizeEvent = function (callback) {
    window.__resizeCallbacks.push(callback);
    window.onresize = function () {
      var len = window.__resizeCallbacks.length;
      for (var i = 0; i < len; ++i) {
        window.__resizeCallbacks[i]();
      }
    }
  };
  Translator.add(<?php echo json_encode($translations); ?>);
</script>
<?php $hasGoogleAutocomplete = Mage::helper('dyna_address')->hasGoogleAutocomplete(); ?>
<?php
/** @var Dyna_Catalog_Helper_ProcessContext $processContextHelper */
$processContextHelper = Mage::helper("dyna_catalog/processContext");
$agent = Mage::getSingleton('customer/session')->getAgent();
if ($agent && $agent->getDealer()):
    $dealer = $agent->getDealer();
    ?>
    <script type="text/javascript">
      SOASTA = window.SOASTA || {};
      SOASTA.axi_store = '<?php echo $dealer->getAxiStoreCode(); ?>';
      SOASTA.dealer_code = '<?php echo $dealer->getVfDealerCode(); ?>';
      SOASTA.ciy = '<?php echo $dealer->getCity(); ?>';

      var HAS_GOOGLE_AUTOCOMPLETE = false;
      <?php if ($hasGoogleAutocomplete = Mage::helper('dyna_address')->hasGoogleAutocomplete()): ?>
        HAS_GOOGLE_AUTOCOMPLETE = true;
        var GOOGLE_AUTOCOMPLETE_API_KEY = '<?php echo Mage::getStoreConfig('omnius_service/autocompletion_address/service_key'); ?>';
        var GOOGLE_AUTOCOMPLETE_COUNTRY = '<?php echo Mage::getStoreConfig('omnius_service/autocompletion_address/restricted_countries'); ?>';
      <?php endif; ?>

      var IBAN_LENGTH = <?php echo Dyna_Catalog_Model_Type::IBAN_LENGTH; ?>;

      var DEVICES_IDENTIFIERS = [<?php echo "\"". implode("\",\"", array_unique(array_map("strtolower", Dyna_Catalog_Model_Type::$devices))) . "\"" ?>];
      var SUBSCRIPTION_IDENTIFIERS = [<?php echo "\"". implode("\",\"", array_unique(array_map("strtolower", Vznl_Catalog_Model_Type::$subscriptions))) . "\"" ?>];
      var DEVICERC_IDENTIFIERS = [<?php echo "\"". implode("\",\"", array_unique(array_map("strtolower", [Vznl_Catalog_Model_Type::SUBTYPE_DEVICE_SUBSCRIPTION]))) . "\"" ?>];
      var SUBSCRIPTION_AND_DEVICE_IDENTIFIERS = [<?php echo "\"". implode("\",\"", array_unique(array_map("strtolower", array_merge(Vznl_Catalog_Model_Type::$subscriptions, [Vznl_Catalog_Model_Type::SUBTYPE_DEVICE])))) . "\"" ?>];
      var CABLE_PACKAGES = [<?php echo "\"". implode("\",\"", array_unique(array_map("strtolower", Dyna_Catalog_Model_Type::getCablePackages()))) . "\"" ?>];
      var ILS_PROCESS_CONTEXTS = [<?php echo "\"". implode("\",\"", array_unique(array_map("strtolower", Vznl_Catalog_Model_ProcessContext::ILSProcessContexts() ))) . "\"" ?>];
      var ILS_MOVE_PROCESS_CONTEXTS = [<?php echo "\"". implode("\",\"", array_unique(array_map("strtolower", Vznl_Catalog_Model_ProcessContext::ILSAndMoveProcessContexts()))) . "\"" ?>];
      // Need this variable for disabling cable tv package for soho customer
      var CABLE_TV_PACKAGE = "<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_TV); ?>";
      var CABLE_INTERNET_PHONE_PACKAGE = "<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE); ?>";
      var DSL_PACKAGE = "<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL); ?>";
      var PREPAID_PACKAGE = "<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_PREPAID); ?>";
      var RED_PLUS_PACKAGE = "<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_REDPLUS); ?>";
      var BUNDLE_LOCATION_DRAW = '<?php echo Dyna_Bundles_Model_BundleRule::LOCATION_DRAW ?>';
      var BUNDLE_LOCATION_OPTION = '<?php echo Dyna_Bundles_Model_BundleRule::LOCATION_OPTION ?>';
      var BUNDLE_LOCATION_CART = '<?php echo Dyna_Bundles_Model_BundleRule::LOCATION_CART ?>';
      var FIXED_SUBTYPE_SUBSCRIPTION = '<?php echo strtolower(Vznl_Catalog_Model_Type::FIXED_SUBTYPE_SUBSCRIPTION) ?>';
      var MOBILE_PACKAGE_TYPES = [<?php echo "\"". implode("\",\"", array_unique(array_map("strtolower", Dyna_Catalog_Model_Type::getMobilePackages()))) . "\"" ?>];
      var TYPE_TARIFFS = ['<?php echo implode("','", array_unique(array_map("strtolower", Dyna_Catalog_Model_Type::$subscriptions))) ?>'];
      var FIXED_PACKAGE_TYPES = [<?php echo "\"". implode("\",\"", array_unique(array_map("strtolower", Dyna_Catalog_Model_Type::getFixedPackages()))) . "\"" ?>];
      var QUOTE_HASH = '<?php echo Mage::helper('dyna_checkout/cart')->getQuoteProductsHash(); ?>';
      var SALES_ID = '<?php echo Mage::getSingleton('dyna_checkout/cart')->getQuote()->getSalesId(); ?>';
      var IS_OFFER = '<?php echo Mage::getSingleton('core/session')->getIsOffer(); ?>';
      if (IS_OFFER) {
          var OFFER_ACTIVE_PACKAGE_ID = '<?php echo Mage::getSingleton('dyna_checkout/cart')->getQuote()->getActivePackageId(); ?>';
          <?php Mage::getSingleton('core/session')->unsIsOffer(); ?>
      }

      var INIT_CONFIGURATOR_WARNING = "";
      var NOTIFICATION;
      <?php if ($notification = Mage::getSingleton('customer/session')->getFrontendMessage()): ?>
      NOTIFICATION = "<?php echo $notification; ?>";
      <?php Mage::getSingleton('customer/session')->setFrontendMessage(null); ?>
      <?php endif; ?>

      var REDPLUS_CREATION_TYPE_ID = '<?php echo Mage::getModel('dyna_package/packageCreationTypes')->getTypeByPackageCode(Dyna_Catalog_Model_Type::CREATION_TYPE_REDPLUS)->getId(); ?>';

      <?php
      $currentDate = new DateTime();
      $vfCurrentMonth = $currentDate->format('m');
      $vfCurrentYear = $currentDate->format('Y');
      ?>

      var VF_CURRENT_MONTH = '<?php echo $vfCurrentMonth; ?>';
      var VF_CURRENT_YEAR = '<?php echo $vfCurrentYear; ?>';

      jQuery(document).ready(function ($) {
        <?php if (Mage::getStoreConfig('omnius_general/version_info/click_version')): ?>
        jQuery('#current_build').click(function(){
          jQuery('#catalogVersionModal').modal("show");
        });
        <?php endif; ?>

        // Setting customer type properties
        customerDe.typePrivate = '<?php echo Dyna_Customer_Helper_Services::PARTY_TYPE_PRIVATE; ?>';
        customerDe.typeSoho = '<?php echo Dyna_Customer_Helper_Services::PARTY_TYPE_SOHO; ?>';
        customerDe.isBusiness = <?php echo (int) Mage::getSingleton('customer/session')->getCustomer()->getIsSoho(); ?>;

        // Set the logged in customer
        customer.setLoggedInCustomer(<?php echo (int) Mage::getSingleton('customer/session')->getCustomer()->getId(); ?>);

        // Set serviceAbility status on address object
        <?php $sessionAddress = Mage::getSingleton('dyna_address/storage'); ?>
        if (store.get('serviceApiResponse')) {
          address.services = jQuery.parseJSON(store.get('serviceApiResponse'));
          $('#footer_modals').on('modals:loaded', function (event) {
            address.services.data.full_address = store.get('serviceApiAddress');
            if (address.services !== undefined && address.services !== null) {
              address.showServiceBar(address.services);
            }
            address.showCustomerAddressSearch();
            address.disableInCheckout();
          });
          address.addressId = address.services.address_id;
        } else {
          sidebar.disableServiceNeededPackages();
        }

        if (typeof checkout !== 'undefined') {
          $('#footer_modals').on('modals:loaded', function (event) {
            checkout.initBankGenerator();
          });
        }

        $('#footer_modals').on('modals:loaded', function (event) {
            initFormElements($('#footer_modals'));
        });

        jQuery('#open-orders-menu').click(function() {
          if (!jQuery(".open-orders-container").is(':visible')) {
            // When the panel is opened, load the offers with no error by default
            loadOpenOrders(1, 'no-error', 20);
          }
        });

          <?php if(empty($agent->getRoleId()) && is_null($agent->getAdditionalRoleIds())) : ?>
          showNotificationBar('<?php echo $this->__('You have not been assigned a business role yet. If you should have one, please contact your line manager.'); ?>', 'warning');
          <?php endif; ?>
      });

    </script>
<?php endif; ?>
<?php
if (Mage::getStoreConfig('agent_configuration/multiple_tabs_warning/enable_tabs')) :?>
    <script>
      //Opened tabs javascript controller
      newLocalWindows = [];
      anotherTab = false;
      tabTime = parseInt(new Date().getTime());
      if (window.name === "") {
        //we don't have this window's name, let's set it up
        window.name = new Date().getTime();
      }
      if (store.get('openedWindows') === null) {
        //No active window/tab stored, let's store our first window
        newLocalWindows.push({key: window.name, value: tabTime});
        store.set('openedWindows', JSON.stringify(newLocalWindows));
      } else {
        //There must be some window opened or expired, let's pas through store
        checkWindows = function (element, index, array) {
          if (window.name !== element.key) {
            //Well, this is not our window, let's see if timestamp it's older than 2 seconds, case in which the window expired
            if (parseInt(new Date().getTime()) - element.value < 2000) {
              //it's still active, let's add it to our new object
              newLocalWindows.push({key: element.key, value: element.value});
            }
          }
        }
        //get store object and parse it
        localWindows = JSON.parse(store.get('openedWindows'));
        //aplly checkWindows on each index to check it's status
        if(localWindows){
            localWindows.forEach(checkWindows);
        }
        //we hadn't added our current window yet, so if newLocalWindows has length, there's another tab or window opened
        if (newLocalWindows.length) {
          anotherTab = true;
        }
        //let's add our current window
        newLocalWindows.push({key: window.name, value: tabTime});
        //save windows it to store
        store.set('openedWindows', JSON.stringify(newLocalWindows));
      }

      //now, the function that makes a request to store every 1 seconds to see how our local timestamps are
      checkThisWindow = function () {
        newLocalWindows = []; //the new object array which we create by getting every timestamp from storage and checking it's value
        tabTime = parseInt(new Date().getTime()); //the curent timestamp for this request

        checkAllWindows = function (element, index, array) {
          if (window.name !== element.key) {
            //Getting rid of the garbage: Keeping younger and freshen up timestamps
            if (tabTime - element.value < 2000) {
              //We keep this tab's old time, of course, until it expires
              newLocalWindows.push({key: element.key, value: element.value});
            }
          } else {
              //We upgrade our new time for our current window
              newLocalWindows.push({key: window.name, value: tabTime});
          }
        };
        //Parse the string
        localWindows = JSON.parse(store.get('openedWindows'));
        //Call the foreach function
        if(localWindows){
            localWindows.forEach(checkAllWindows);
        }
        //Save what's active
        store.set('openedWindows', JSON.stringify(newLocalWindows));
      };
      //Setting a time interval for checkThisWindow
      setInterval(checkThisWindow, 1000);
      if (anotherTab) {
        jQuery.ajax({
          url: "/configurator/cart/newtab/" +tabTime ,
          context: document.body
        }).done(function () {
          showModalError(Translator.translate("The application seems to be already opened in another tab. Please note working with multiple tabs can cause incorrect behavior"));
        });
      }
    </script>
    <?php
endif;
?>
