<?php
/*
 * First ajax call to this template is made from js-init.phtml
 * and then updated by
 * engine.js / updateSectionOpenOrdersSection()
 */
$isIndirect = Mage::helper('vznl_agent')->isIndirectStore();
$hasShoppingCart = (bool) Mage::getModel('checkout/cart')->getQuote()->getPackages();
?>
<script>
  var StatusPage = '';
</script>
<script id="dynamic-order-details-template" type="text/template">
    <div class="row mbm">
        <div class="col-xs-12"><h1 class="ui header vn-header">{{body/section/title}}</h1></div>
    </div>
    <div class="row clearfix mbm">
        <div class="col-xs-8">
            <p class="title">
                {{#if body/customer/name}}
                    {{body/section/title}}
                    <?php echo $this->__('for client') ?> <span class="inline-label">{{body/customer/name}}<a href="#" class="inline-label-remove" onclick="jQuery(this).addClass('loading'); updateOrdersSection('{{body/section/name}}', null, 0); return false;"></a></span>
                {{else}}
                    {{body/customer/telephone}}
                {{/if}}
            </p>
            {{#if body/section/totaltext}}
            <p class="totaltext">
                <span name="count_total">0</span> {{body/section/totaltext}}
            </p>
            {{/if}}
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-default pull-right" onclick="updateSelectedSectionResults('{{body/section/name}}')">
                <span class="glyphicon glyphicon-refresh"></span> <?= $this->__('Get latest status') ?>
            </button>
        </div>
    </div>
    <div class="panel panel-default">
        {{#each body/buckets}}
        <div class="panel-heading order_table_details" target='{{@key}}_list' orders_customer="{{../body/customer/id}}" orders_type="{{@key}}" onclick="StatusPage = '{{@key}}';">
            <span class="menu-arrow-down" style="color: #000; cursor: pointer;">j</span>
            {{#ifCond @key '==' 'cc-rejected'}}
            <div class="glyphicon glyphicon-remove-circle error"></div> <?php echo $this->__('Rejected') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'cc-pending'}}
            <div class="glyphicon glyphicon-remove-circle"></div> <?php echo $this->__('Pending') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'cc-additionalinforequired'}}
            <div class="glyphicon glyphicon-question-sign" style="color:#FFA500;"></div> <?php echo $this->__('Additional information requested') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'cc-approved'}}
            <div class="glyphicon glyphicon-ok-sign success"></div> <?php echo $this->__('Successfully completed') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'cc-partial'}}
            <div class="glyphicon glyphicon glyphicon-exclamation-sign error"></div> <?php echo $this->__('PartialIlt') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'np-rejectedcancelled'}}
            <div class="glyphicon glyphicon-remove-circle error"></div> <?php echo $this->__('Rejected & Cancelled') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'np-rejected'}}
            <div class="glyphicon glyphicon-remove-circle error"></div> <?php echo $this->__('Rejected') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'np-pending'}}
            <div class="glyphicon glyphicon-time"></div> <?php echo $this->__('Pending') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'np-approved'}}
            <div class="glyphicon glyphicon-ok-sign success"></div> <?php echo $this->__('Approved') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'fv-declined'}}
            <div class="glyphicon glyphicon-remove-circle error"></div> <?php echo $this->__('Rejected') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'fv-failed'}}
            <div class="glyphicon glyphicon-remove-circle error"></div> <?php echo $this->__('Failed') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'oo-error'}}
            <?php echo $this->__('Orders with error') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'oo-ready'}}
            <?php echo $this->__('Orders ready for delivery') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'oo-check'}}
            <?php echo $this->__('Orders waiting for credit check, porting or income check') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'oo-other-store'}}
            <?php echo $this->__('Omni Channel orders ready for delivery') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'oo-other-open'}}
            <?php echo $this->__('Other open orders') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'oo-other'}}
            <?php echo $this->__('Other orders') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'oo-imei'}}
            <?php echo $this->__('Orders awaiting IMEI') ?>
            {{/ifCond}}

            {{#ifCond @key '==' 'oo-inlife'}}
            <?php echo $this->__('U-FIX orders') ?>
            {{/ifCond}}

            <!-- When not in this if the @key is used as '' -->
            {{#if @key }}
            <strong name="count_{{@key}}"></strong>
            {{/if}}
        </div>

        {{#ifCond @key '!=' 'oo-inlife'}}
        <table class="{{@key}}_list orders_table table table-condensed" orders_customer="{{../body/customer/id}}" xmlns="http://www.w3.org/1999/html">
            <thead>
            <tr class="active">
                <th class="oo-middle">
                    {{#ifCond order_byfield '==' 'id'}}
                    {{#ifCond order_type '==' 'desc'}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="id" oder-type="asc">
                        <span><?php echo $this->__('Order date') ?></span>
                        <span class="menu-arrow-down oo-middle">B</span>
                    </span>
                    {{/ifCond}}
                    {{#ifCond order_type '==' 'asc'}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="id" oder-type="desc">
                        <span><?php echo $this->__('Order date') ?></span>
                        <span class="menu-arrow-down oo-middle">u</span>
                    </span>
                    {{/ifCond}}
                    {{else}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="id" oder-type="desc">
                        <span><?php echo $this->__('Order date') ?></span>
                        <span class="menu-arrow-down oo-middle">n</span>
                    </span>
                    {{/ifCond}}
                </th>
                <th class="oo-middle">
                    <span><?php echo $this->__('Client number') ?></span>
                </th>
                <th class="oo-middle">
                    {{#ifCond order_byfield '==' 'cn'}}
                    {{#ifCond order_type '==' 'desc'}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="cn" oder-type="asc">
                        <span><?php echo $this->__('Customer name') ?></span>
                        <span class="menu-arrow-down oo-middle">B</span>
                    </span>
                    {{/ifCond}}
                    {{#ifCond order_type '==' 'asc'}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="cn" oder-type="desc">
                        <span><?php echo $this->__('Customer name') ?></span>
                        <span class="menu-arrow-down oo-middle">u</span>
                    </span>
                    {{/ifCond}}
                    {{else}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="cn" oder-type="desc">
                        <span><?php echo $this->__('Customer name') ?></span>
                        <span class="menu-arrow-down oo-middle">n</span>
                    </span>
                    {{/ifCond}}
                </th>
                <th class="oo-middle">
                    <span><?php echo $this->__('Mobile number') ?></span>
                </th>
                <th class="oo-middle">
                    <span><?php echo $this->__('Order number') ?></span>
                </th>
                <th class="oo-middle">
                    {{#ifCond order_byfield '==' 'status'}}
                    {{#ifCond order_type '==' 'desc'}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="status" oder-type="asc">
                        <span><?php echo $this->__('Order Status') ?></span>
                        <span class="menu-arrow-down oo-middle">B</span>
                    </span>
                    {{/ifCond}}
                    {{#ifCond order_type '==' 'asc'}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="status" oder-type="desc">
                        <span><?php echo $this->__('Order Status') ?></span>
                        <span class="menu-arrow-down oo-middle">u</span>
                    </span>
                    {{/ifCond}}
                    {{else}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="status" oder-type="desc">
                        <span><?php echo $this->__('Order Status') ?></span>
                        <span class="menu-arrow-down oo-middle">n</span>
                    </span>
                    {{/ifCond}}
                </th>
                <th class="oo-middle">
                    {{#ifCond order_byfield '==' 'package_nr'}}
                    {{#ifCond order_type '==' 'desc'}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="package_nr" oder-type="asc">
                        <span><?php echo $this->__('Number of packages') ?></span>
                        <span class="menu-arrow-down oo-middle">B</span>
                    </span>
                    {{/ifCond}}
                    {{#ifCond order_type '==' 'asc'}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="package_nr" oder-type="desc">
                        <span><?php echo $this->__('Number of packages') ?></span>
                        <span class="menu-arrow-down oo-middle">u</span>
                    </span>
                    {{/ifCond}}
                    {{else}}
                    <span class="openorderby" orders_customer="{{../body/customer/id}}" orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="package_nr" oder-type="desc">
                        <span><?php echo $this->__('Number of packages') ?></span>
                        <span class="menu-arrow-down oo-middle">n</span>
                    </span>
                    {{/ifCond}}
                </th>
                <th class="oo-middle">
                    <span><?php echo $this->__('Details') ?></span>
                    <span class="menu-arrow-down oo-middle">&nbsp;</span>
                </th>
                <th class="action-column"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="9">
                    <span>
                        <span><?php echo $this->__('Results') ?>: </span>
                        <span class="open_orders_results">
                            <input type='number' min="1" max="<?php echo Mage::getStoreConfig('agent_configuration/open_orders_limits/maximum_oo_results'); ?>"
                                   orders_customer="{{../body/customer/id}}"
                                   orders_section="{{@key}}"
                                   order-by="{{order_byfield}}"
                                   orders_type="{{order_type}}"
                                   value='{{results_per_page}}' />
                        </span>
                        <span class="open_order_results_change menu-arrow-down oo-middle">j</span>
                    </span>
                </td>
            </tr>
            {{#if data}}
            {{#each data}}
            <tr class="order_details top-menu-element" cluster="{{@../key}}" data-order-number="{{number}}">
                <td>
                    <span class="menu-arrow-down" style="color: #000; cursor: pointer; font-size: 8px;" >j</span>
                    {{#ifIn @../key '[cc-pending, cc-additionalinforequired, np-rejected, np-pending, oo-check]'}}
                        {{#ifCond has_numberporting_or_creditcheck '==' 'true'}}
                        <span>
                            <input onclick="if(event.stopPropagation){event.stopPropagation();}event.cancelBubble=true;" style="margin-top:-4px;" type="checkbox" />
                        </span>
                        {{else}}
                        <span>
                            <input style="margin-top:-4px;" type="checkbox" disabled />
                        </span>
                        {{/ifCond}}
                    {{/ifIn}}
                    <span>{{date}}</span>
                </td>
                <td>{{customer_ban}}</td>
                <td>{{customer_name}}</td>
                <td>{{phone_number}}</td>
                <td>{{number}}</td>
                <td class='{{body/section}}-30'>{{order_Status}}</td>
                <td>{{packages_number}}</td>
                <td class="order_nowrap">
                    {{#if details.error.message}}
                        <span class="open_order_error_info" open_order_error_code="{{details.error.code}}" open_order_error_message="{{details.error.message}}">
                            <div class="open_order_error">
                                <div class="open_order_error_code">
                                    {{details.error.code}}
                                </div>
                                <div class="open_order_error_message">
                                    {{details.error.message}}
                                </div>
                                {{#if ../has_number_porting}}
                                    <div class="has-porting">
                                        <?php echo $this->__('Order with number porting') ?>
                                    </div>
                                {{/if}}
                            </div>
                            <img src="/skin/frontend/omnius/default/images/i_notice.gif" width="15" />
                        </span>
                    {{/if}}
                    <span>{{details.days_in_status}} d</span>
                </td>
                <td>
                    <div>
                        <button type="button" class="btn btn-primary pull-left top-menu-stop-propagation"
                                onclick="checkPackage(this, '{{number}}'); event.stopPropagation(); window.event.cancelBubble = true;">
                            <?php echo $this->__('Please Select'); ?>
                        </button>
                        <img class='order-details-spinner pull-left hide' width="20" src="<?php echo $this->getSkinUrl('images/credit_check_spinner.gif') ?>" alt="" />
                    </div>
                    <?php
                    if ($hasShoppingCart) {
                        $onClick = 'registerOpenOrdersMenu(\'{{ @key }}\');showInitOrderModal(this); ';
                    } else {
                        $onClick = 'viewOrderOverview(this); ';
                    }
                    $onClick .= 'event.stopPropagation(); window.event.cancelBubble = true;';
                    ?>
                    <button name="order_view_button" type="button"
                            class="btn btn-primary pull-right top-menu-stop-propagation"
                            data-customer="{{customer_id}}"
                            data-order="{{number}}"
                            onclick="registerOpenOrdersMenu('{{@../key}}');<?php echo $onClick; ?>"
                    >
                        <?php echo $this->__("See"); ?>
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                </td>
            </tr>
            <tr class="package_target">
                <td></td>
                <td colspan="8">
                    <table class="table table-condensed package_table" xmlns="http://www.w3.org/1999/html">
                        <tr class="package_target_header">
                            <td><b><?php echo $this->__('Package ID') ?></b></td>
                            <td><b><?php echo $this->__('Package status') ?></b></td>
                            <td><b><?php echo $this->__('Porting status') ?></b></td>
                            <td><b><?php echo $this->__('Ordertype') ?></b></td>
                            <td><b><?php echo $this->__('Details') ?></b></td>
                            <td width="20%">&nbsp;</td>
                        </tr>
                        {{#each packages}}
                        <tr data-id="{{package_id}}">
                            <td>{{package_id}}</td>
                            <td>{{status}}</td>
                            <td>
                                {{porting.status}}
                                {{#if porting.code}}
                                <span class="open_order_error_info">
                                    <div class="open_order_error">
                                        <div class="open_order_error_code">
                                            {{porting.code}}
                                        </div>
                                        <div class="open_order_error_message">
                                            {{porting.description}}
                                        </div>
                                    </div>
                                    <img src="/skin/frontend/omnius/default/images/i_notice.gif" width="15" />
                                </span>
                                {{/if}}
                            </td>
                            <td>{{order_type}}</td>
                            <td class="order_nowrap">
                                {{#ifCond has_sim '==' '1'}}
                                    <img style="width:9px;" class="sim_icon" src="/skin/frontend/vznl/default/images/sim_icon.png" />
                                {{/ifCond}}
                                {{#ifCond has_hardware '==' '1'}}
                                    <span class="vf-icon">s</span>
                                {{/ifCond}}
                                {{#ifCond has_fixed '==' '1'}}
                                    <img style="width:9px;" src="/skin/frontend/vznl/default/images/fixed_icon.png" />
                                {{/ifCond}}
                                {{#if details.error.message}}
                                <span class="open_order_error_info">
                                    <div class="open_order_error">
                                        <div class="open_order_error_code">
                                            {{details.error.code}}
                                        </div>
                                        <div class="open_order_error_message">
                                            {{details.error.message}}
                                        </div>
                                    </div>
                                    <img src="/skin/frontend/omnius/default/images/i_notice.gif" width="15" />
                                </span>
                                {{/if}}
                                <span>{{details.days_in_status}} d</span>
                            </td>
                            <td class="order-edit-buttons<?php echo $isIndirect ? ' indirect' : ''; ?>">&nbsp;</td>
                        </tr>
                        {{/each}}
                    </table>
                </td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="9" class="open_orders_pagination_container">
                    <ul class='pagination pagination-{{../body/section/name}}'>
                        {{#ifCond page '>' '1'}}
                            <li orders-page='{{prev_page}}' orders-results='{{results_per_page}}'
                                orders_type="{{order_type}}" order-by="{{order_byfield}}" orders_section="{{@key}}"
                                orders_customer="{{../body/customer/id}}">
                                <a href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {{else}}
                            <li orders-page='{{prev_page}}' orders-results='{{results_per_page}}'
                                orders_type="{{order_type}}" order-by="{{order_byfield}}" orders_section="{{@key}}"
                                orders_customer="{{../body/customer/id}}" class='disabled'>
                                <a href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {{/ifCond}}
                        {{#each pages}}
                            {{#ifCond this '==' ../page}}
                            <li class='active' orders-page='{{this}}' orders-results='{{../../results_per_page}}'
                                orders_type="{{../../order_type}}" order-by="{{../../order_byfield}}"
                                orders_section="{{@../key}}" orders_customer="{{../../../body/customer/id}}"><a
                                        href="javascript:void(0)">{{this}}</a></li>
                            {{else}}
                                {{#ifCond this '==' '...'}}
                                <li class='disabled' orders-page='{{this}}' orders-results='{{../../results_per_page}}'
                                    orders_type="{{../../order_type}}" order-by="{{../../order_byfield}}"
                                    orders_section="{{@../key}}" orders_customer="{{../../../body/customer/id}}"><a
                                            href="javascript:void(0)">{{this}}</a></li>
                                {{else}}
                                <li orders-page='{{this}}' orders-results='{{../../results_per_page}}'
                                    orders_type="{{../../order_type}}" order-by="{{../../order_byfield}}"
                                    orders_section="{{@../key}}" orders_customer="{{../../../body/customer/id}}"><a
                                            href="javascript:void(0)">{{this}}</a></li>
                                {{/ifCond}}
                            {{/ifCond}}
                        {{/each}}
                        {{#ifCond page '!=' next_page}}
                            <li orders-page='{{next_page}}' orders-results='{{results_per_page}}'
                                orders_type="{{order_type}}" order-by="{{order_byfield}}" orders_section="{{@key}}"
                                orders_customer="{{../body/customer/id}}">
                                <a href="javascript:void(0)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {{else}}
                            <li orders-page='{{next_page}}' orders-results='{{results_per_page}}'
                                orders_type="{{order_type}}" order-by="{{order_byfield}}" orders_section="{{@key}}"
                                orders_customer="{{../body/customer/id}}" class='disabled'>
                                <a href="javascript:void(0)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {{/ifCond}}
                    </ul>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="9"><?php echo $this->__('No results found') ?></td>
            </tr>
            {{/if}}
            </tbody>
        </table>
        {{else}}
        <table class="{{@key}}_list orders_table table table-condensed" orders_customer="{{../body/customer/id}}"
               xmlns="http://www.w3.org/1999/html">
            <thead>
            <tr class="active">
                <th class="oo-middle" width="15%">
                    <span><?php echo $this->__('Order date') ?></span>
                </th>
                <th class="oo-middle" width="15%">
                    <span><?php echo $this->__('Order number') ?></span>
                </th>
                <th class="oo-middle" width="30%">
                    <span><?php echo $this->__('Order Status') ?></span>
                </th>
                <th class="oo-middle" width="40%">
                    <span><?php echo $this->__('Details') ?></span>
                </th>
            </tr>
            </thead>
            <tbody>
            {{#if data}}
            {{#each data}}
            <tr class="order_details top-menu-element" cluster="{{@../key}}" data-order-number="{{number}}">
                <td>
                    <span class="menu-arrow-down" style="color: #000; cursor: pointer; font-size: 8px;">j</span>
                    {{created_date}}
                </td>
                <td>{{order_id}}</td>
                <td>{{order_status}}</td>
                <td>{{order_description}}</td>
            </tr>
            <tr class="package_target">
                <td colspan="4">
                    <table class="table table-condensed" xmlns="http://www.w3.org/1999/html">
                        <tr>
                            <td width="15%"><b><?= $this->__('Created at') ?>:</b></td>
                            <td width="15%">{{created_date}}</td>
                            <td width="15%"><b><?= $this->__('Product') ?>:</b></td>
                            <td width="15%">{{assign_product_i_d}}</td>
                            <td width="20%"><b><?= $this->__('Excl. VAT') ?>:</b></td>
                            <td width="20%">{{rc_amount_exculding_taxs}}</td>
                        </tr>
                        <tr>
                            <td><b><?= $this->__('Created by') ?>:</b></td>
                            <td>{{contact_i_d}}</td>
                            <td><b><?= $this->__('Customer number') ?>:</b></td>
                            <td>{{customer_i_d}}</td>
                            <td><b><?= $this->__('Incl. VAT') ?>:</b></td>
                            <td>{{rc_amount_including_taxs}}</td>
                        </tr>
                        <tr>
                            <td><b><?= $this->__('Confirmed by') ?>:</b></td>
                            <td>{{created_date}}</td>
                            <td><b><?= $this->__('Contact number') ?>:</b></td>
                            <td>{{created_date}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan="9"><?php echo $this->__('No results found') ?></td>
            </tr>
            {{/if}}
            </tbody>
        </table>
        {{/ifCond}}

        {{/each}}
    </div>
</script>
