<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * @category    design
 * @package     default_vodafone
 */
?>
<?php
/**
 * Product list template
 *
 * @see Dyna_Agent_Block_Catalog_Product_List
 */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msgs"><?php echo $this->__('Currently there are no packages available.') ?></p>
<?php else: ?>
    <div class="category-products fav-deals-products">
        <?php echo $this->getToolbarHtml() ?>
        <?php // List mode ?>
        <?php if($this->getMode()!='grid'): ?>
            <?php $_iterator = 0; ?>
            <ol class="products-list" id="products-list">
                <?php foreach ($_productCollection as $_product): ?>
                    <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
                        <?php // Product Image ?>
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                        <?php // Product description ?>
                        <div class="product-shop">
                            <div class="f-fix">
                                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                                <h2 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></h2>
                                <?php echo $this->getPriceHtml($_product, true) ?>
                                <p><button type="button" title="<?php echo $this->__('Select') ?>" class="button btn-cart" onclick="addPackageToCart(<?php echo $_product->getId() ?>);"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                                <div class="desc std">
                                    <?php echo $_helper->productAttribute($_product, $_product->getDescription(), 'description') ?>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
        <?php else: ?>

        <?php // Grid Mode ?>

        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount(); ?>
        <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
            <ul class="products-grid">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                <h2 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
                <div class="desc std">
                    <?php echo $_helper->productAttribute($_product, $_product->getDescription(), 'description') ?>
                </div>
                <?php echo $this->getPriceHtml($_product, true) ?>
                <div class="actions">
                    <button type="button" title="<?php echo $this->__('Select') ?>" class="button btn-cart" onclick="addPackageToCart(<?php echo $_product->getId() ?>);"><span><span><?php echo $this->__('Select') ?></span></span></button>
                </div>
            </li>
            <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
            </ul>
        <?php endif ?>
        <?php endforeach ?>
            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
        <?php endif; ?>

        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>
    <script type="text/javascript">
        Configurator.Base.prototype.http.endpoints['cart.addPackage'] = '<?php echo $this->getAddPackageUrl(); ?>';

        function addPackageToCart(package_id) {
            Configurator.Base.prototype.addPackage(package_id, function(){
                    window.location.reload(true);
                }
            );
            return false;
        }
    </script>
<?php endif; ?>