<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

echo $this->getFormInitScripts() ?>
    <script type="text/javascript">
        function openCategoryProducts(position) {
            var value = jQuery('.'+position+'_category_visible').val();
            var url = '<?php echo Mage::helper('adminhtml')->getUrl('productmatchrule/adminhtml_rules/getproducts'); ?>category/'+value+'/';
            var win = window.open(url, '_blank');
            win.focus();
        }
        function openThePopup(value) {
            var url = '<?php echo Mage::helper('adminhtml')->getUrl('productmatchrule/adminhtml_rules/gettree'); ?>position/'+value+'/';

            if ($('browser_window') && typeof(Windows) != 'undefined') {
                Windows.focus('browser_window');
                return;
            }

            // Show loader inside modal
            document.getElementById('loading_mask_loader').style.top = '140px';
            var loadingMask = document.getElementById('loading-mask');
            loadingMask.style.display = 'block';

            Dialog.info(loadingMask.outerHTML, Object.extend({
                closable:true,
                resizable:false,
                draggable:true,
                className:'magento',
                windowClassName:'popup-window',
                title:'Select Category',
                top:50,
                width:500,
                height:300,
                zIndex:1000,
                recenterAuto:false,
                hideEffect:Element.hide,
                showEffect:Element.show,
                id:'browser_window',
                onClose:function (param, el) {
                }
            }));
            new Ajax.Updater('modal_dialog_message', url, {evalScripts: true});
            jQuery('')
        }
        function closePopup() {
            Windows.close('browser_window');
        }

        // Init product sku autocomplete
        jQuery(document).ready(function ($) {
            $(".right_product_sku").autocomplete({source: skusAutocomplete});
        });
    </script>
    <div class="content-header">
        <?php echo $this->getHeaderHtml() ?>
        <p class="form-buttons"><?php echo $this->getButtonsHtml('header') ?></p>
    </div>
<?php echo $this->getFormHtml() ?>
<?php if ($this->hasFooterButtons()) : ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif; ?>
<?php echo $this->getFormScripts() ?>
