/*!
 * Copyright (c) 2018. Dynacommerce B.V.
 */
@import "../../styles/Colors.scss";
@import "@omnius/customer-ui/dist/lib/styles/App.scss";

.customer_left_search {
  overflow: auto !important;
  background: #fff;
}

#customer-search-container {
  padding-top: 60px;
  height: calc(100vh - 80px);

  .scrollbar-container {
    z-index: 9999;
  }

  h2.title {
    padding: 0 15px;

    img {
      vertical-align: middle;
    }
  }

  .vn-select > .label {
    padding: initial;
  }

  .vn-segmentedControlButton {
    label {
      text-align: center;
      font-size: 14px;
      font-family: Roboto, sans-serif;
      font-weight: normal;
    }
  }

  .header {
    min-width: initial;
    background: none;
    border: none;
    height: auto;
    position: initial;

    h6 {
      padding: 0;
      vertical-align: middle;
    }
  }

  .vn-button.secondary {
    border-radius: 3px;
  }

  .potential-matches-pane {
    .vn-button {
      margin: 0 10px 0 0;
    }
    .vn-button.loading.loading-text {
      padding-right: 40px !important;
    }

    h2 {
      font-size: 16px;
    }
    .proceedButton {
      background-color: #575756 !important;
      -webkit-text-fill-color: white !important;
      padding-right: 22px;
    }
  }

  .potential-matches-pane {
    max-width: inherit;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 */
    .vn-button.secondary.proceedButton {
      color: white !important;
    }
    *::-ms-backdrop,
    .vn-button.secondary.proceedButton {
      color: white !important;
    }
  }

  .customer-search {
    z-index: 0;
    padding-top: 31px;

    & > .scrollarea {
      position: relative;
      height: calc(100vh - 233px);
      padding: 0 15px 15px 15px;
      overflow: hidden;
    }
  }

  /* Overlay */
  .ui {
    &.left {
      &.overlay {
        opacity: 1;
        height: calc(100vh - 114px);

        &.sidebar {
          top: 52px;
          left: 299px;
          border-left: none;
          z-index: -1;
          height: calc(100% - 52px) !important;

          & > div {
            /* Important is needed due to hardcoded inline styles on components */
            width: 100% !important;

            & > div:nth-of-type(2) {
              width: 100% !important;
            }
          }
        }
      }
    }
  }

  h6 {
    font-weight: bold;
  }

  .actions {
    position: relative;
    padding: 20px 15px;
  }

  .search-results {
    padding-top: 55px;
    .label-active,
    .label-inactive,
    .label-suspended,
    .label-closed {
      background-color: #5b717c !important;
    }
    .label-button {
      padding: 0px 9px;
    }
    .label-active label,
    .label-inactive label,
    .label-suspended label,
    .label-closed label {
      font-family: "Roboto", sans-serif;
      font-weight: bold !important;
      text-align: center;
    }
  }

  .vn-checkbox {
    min-height: 0;
    padding-left: 0;
    margin-bottom: 10px;

    label {
      font-weight: normal;
      font-size: 14px;
      font-family: Roboto, sans-serif;
      color: #0c0c0c;
    }
  }

  .vn-checkbox.disabled {
    label {
      color: rgba(46, 69, 82, 0.3);
    }
  }

  .label-button {
    label {
      font-size: 11px !important;
      font-weight: normal !important;
      padding: 3px 6px !important;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 */
    .vn-table .table-body .table-row .table-row-group-toggle .chevron {
      margin-top: -24px !important;
    }
    *::-ms-backdrop,
    .vn-table .table-body .table-row .table-row-group-toggle .chevron {
      margin-top: -24px !important;
    }
    .table-row-context-menu .context-menu {
      height: 33px !important;
      padding-left: 5px !important;
      width: 30px;
      margin-right: 10px;
      top: -15px !important;
    }
    .table-row-context-menu .ellipsis {
      top: -10px !important;
    }
  }

  .vn-table .table-body .table-row .table-row-group-toggle.visible {
    background: none !important;
  }
  .vn-button.primary {
    background-color: #575756;
  }
  .potential-matches-button.vn-button.vn-button.secondary {
    padding-right: 22px;
  }

  .vn-input.error > div.label,
  .vn-input.error > label,
  .vn-input.error input {
    color: #5a707c;
    -webkit-text-fill-color: unset;
    background: none;
  }

  .form-dateOfBirth:not(.disabled):not(.focus) {
    height: 100%;
    border: 1px solid #d6d6d6;
    input {
      border: none;
    }
  }
  .actions-submit.vn-button.disabled {
    background-color: #dedede;
    color: #fff !important;
  }
  .secondary.vn-button.disabled {
    color: #d6d6d6 !important;
  }
  .ui .divider {
    margin-bottom: 20px;
  }

  .vn-form.ui.form .vn-input.error input::selection,
  .vn-input.error input::selection {
    background: rgba(46, 69, 82, 0.3) !important;
    -webkit-text-fill-color: #2d4552;
    color: #2d4552;
  }
}
.disabled {
  color: rgba(46, 69, 82, 0.3);
}

.divider {
  background: none;
}

.vn-stackIndicator {
  .vn-stackIndicator-stack {
    &.stack1 > svg > circle {
      fill: hsl(0, 85%, 63%) !important;
    }
    &.stack2 > svg > circle {
      fill: hsl(32, 96%, 62%) !important;
    }
  }
}

.vn-dialog.ui.modal {
  bottom: auto !important;
}

.ui.modals.dimmer {
  z-index: 10000;
}

.vn-dialog {
  .alert {
    border-color: white !important;
  }
  .auth-modal {
    .button-yellow-red {
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2) !important;
      background-image: linear-gradient(to right, #e60000, #f48c00) !important;
      color: white !important;
      -webkit-text-fill-color: white !important;
    }
    .vn-alert.error {
      background: #fceeed;
      .content {
        color: #2d4552;
        font-weight: bold;
        font-size: 12px;
      }
    }
    .icon-error {
      filter: invert(0.5) brightness(105%) sepia(42) hue-rotate(320deg)
        saturate(182.2%) brightness(92.2%);
    }
    .modalButton {
      color: #2d4552;
      box-shadow: none;
      border: 1px solid #cccccc;
      background: none;
      -webkit-text-fill-color: #2d4552;
    }
  }
}

.vn-drawer.ui.sidebar.left.wide,
.vn-drawer.ui.sidebar.right.wide {
  width: calc(95% - 300px) !important;
}

.smallView {
  .vn-drawer.ui.sidebar.left.wide,
  .vn-drawer.ui.sidebar.right.wide {
    width: calc(95% - 50px) !important;
  }
}

.label-button {
  width: 76px;
}

.drawer-backdrop.visible {
  z-index: -2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  right: 0;
  left: 300px;
  height: 100vw;
  width: 100vw;
}
.smallView {
  .drawer-backdrop.visible {
    top: -25px;
  }
}
.bigView {
  .drawer-backdrop.visible {
    top: 0px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10 */

  .bigView {
    .potential-matches-pane {
      max-width: calc(95% - 300px) !important;
    }
    *::-ms-backdrop,
    .potential-matches-pane {
      max-width: calc(95% - 300px) !important;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .smallView {
    .potential-matches-pane {
      max-width: calc(95% - 50px) !important;
    }
    *::-ms-backdrop,
    .potential-matches-pane {
      max-width: calc(95% - 50px) !important;
    }
  }
}
.u-help-label {
    font-size: 10px;
    padding-top: 5px;
    padding-left: 22px;
    padding-bottom: 5px;
    margin-left: -15px;
    margin-right: -15px;
    font-weight: bold;
    background-color: #e9eaeb !important;
  }
  .u-help-modal {
    font-family: 'Roboto';
  }
  .u-help-content {
    width: '550px';
    height: '194px';
    background-color: #FAFBFB;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid rgba(216, 217, 218, 0.5);
  }
  .u-help-modal table tbody tr {
    border-top: none;
  }
  .u-help-modal table tbody tr td {
    font-weight: normal;
    font-size: 14px;
    width: 275px !important;
  }
  .vn-dialog.ui.modal.u-help {
    top: 15px !important;
  }
  .button-no-color {
    background-color: white !important ;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    color: #2D4552 !important;
    -webkit-text-fill-color: #2D4552 !important;
    box-shadow: none !important;
  }
  .button-yellow-red {
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2) !important;
    background-image: linear-gradient(to right, #e60000, #f48c00) !important; 
    color: white !important;
    -webkit-text-fill-color: white !important;
  }
   
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 */
    .button-no-color {
      color: #2D4552 !important;
    }
    *::-ms-backdrop,
    .button-no-color {
      color: #2D4552 !important;
    }
  }
   
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 */
    .button-yellow-red {
      color: white !important;
    }
    *::-ms-backdrop,
    .button-yellow-red {
      color: white !important;
    }
  }
  
  .u-help-modal{
    .vn-alert.warning {
      background: #fef8ea;
      .content {
        color: #2d4552;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
  
  .vn-button.button-no-color.disabled {
    color: rgba(217, 217, 217, 0.5) !important;
    -webkit-text-fill-color: #bfc1c2 !important;
    box-shadow: none !important;
    border: 1px solid #dedede !important;
    pointer-events: none !important;
  }
  
  .vn-button.button-yellow-red.disabled {
    color:white !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.02) !important;
    pointer-events: none !important;
    background-color: #e5e5e5 !important;
    background-image: none !important;
  }
  .icon-warning {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(7deg) !important; 
  }
