<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="page">
    <?php echo $this->getChildHtml('header') ?>

    <div class="main <?php echo Mage::app()->getWebsite()->getName(); ?>">

        <div class="wrapper">
        <?php echo $this->getChildHtml('global_notices') ?>
            <div class="main-container col1-layout">

                    <div class="col-main">
                        <?php echo $this->getChildHtml('global_messages') ?>
                        <?php echo $this->getChildHtml('content') ?>
                    </div>

            </div>
        </div>
    </div>
    <?php echo $this->getChildHtml('footer') ?>
</div>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getChildHtml('login_script') ?>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
