<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td><h3 class="icon-head head-tax-rate-importExport"><?=__('Validate') ?></h3></td>
        </tr>
    </table>
</div>
<div id="validate_form">
    
    <button class="scalable" type="button" title="<?=__('Run validation checks')?>"><span><?=__('Run validation checks')?></span></button>
    
    <div class="entry-edit">
        <div class="fieldset fieldset-wide">
            <div class="grid">
                <div class="hor-scroll">
                    
                    <table cellspacing="0" class="data table-cat-img-sizes">
                        <thead>
                            <tr class="headings">
                                <th width="5%"></th>
                                <th width="85%"><span class="nobr"><span class="not-sort"><?php echo $this->__('Description'); ?></span></span></th>
                                <th width="10%"><span class="nobr"><span class="not-sort"><?php echo $this->__('Status'); ?></span></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach($this->validatecollection as $key => $validate):
                            ?>
                                <tr>
                                    <td><input type="checkbox" name="validate" value="<?=$key?>"></td>
                                    <td><?=__($validate)?></td>
                                    <td rel="validateresult" id="<?=$key?>"></td>
                                </tr>
                            <?php
                            endforeach;
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="response" class="grid">
        
    </div>
</div>

<script type="text/javascript">
var checks = [];
<?php
foreach($this->validatecollection as $key=> $validate){
    echo "obj = {key: '".$key."', name: '".$validate."'};";
    echo "checks.push(obj);".PHP_EOL;
}
?>
document.observe("dom:loaded", function() {
    var dataresults = new Array();
    
    // Download feeds
    var handler = document.on(
        'click',
        '#response a',
        function(e, el) {
            var form = document.createElement("form");
		    form.setAttribute("method", "post");
		    form.setAttribute("action", "<?php echo Mage::helper("adminhtml")->getUrl("validate/adminhtml_validatebackend/download")?>");
            form.setAttribute("target", "_blank");

            var hiddenField = document.createElement("input");		
            hiddenField.setAttribute("name", "form_key");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("value", '<?php echo Mage::getSingleton('core/session')->getFormKey() ?>');
            form.appendChild(hiddenField);
            var hiddenField = document.createElement("input");		
            hiddenField.setAttribute("name", "type");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("value", $(el).readAttribute('rel'));
            form.appendChild(hiddenField);
            
            document.body.appendChild(form);   
            form.submit();
        }.bind(this)
    );
    handler.start();
    
    // Make validation request
    $('validate_form').select('button').invoke('observe', 'click', function () {
        $('response').update('');
        $('validate_form').select('td[rel="validateresult"]').forEach(function(n){
            $(n).update('');
        });
        $('validate_form').select('input:checked[type="checkbox"]').forEach(function(checkbox){
            var n;
            checks.forEach(function(el){
                if(el.key === $(checkbox).getValue())
                {
                    n = el;
                    return;
                }
            });
            new Ajax.Request('<?//$this->getFormActionUrl() ?>', {
                method: 'post',
                requestHeaders: {Accept: 'application/json'},
                parameters: {
                    type: n.key
                },
                onSuccess: function(result){
                    response = result.responseJSON;
                    if(response.data === undefined)
                    {
                        response.data = new Array();
                    }
                    
                    var downloadButton = '';
                    if(response.xml !== undefined)
                    {
                        dataresults[n.key] = response.xml;
                        downloadButton = ' - <a rel="'+n.key+'" href="javascript:;">Download XML</a>';
                    }
                    var html = '<table>';
                    html += '<thead><tr class="headings"><td colspan="4"><b>'+n.name+'</b>'+downloadButton+'</td></tr></thead>';
                    response.data.forEach(function(el){
                        if(el.line !== undefined){
                            html += '<tr><td width="10%"><b>Line</td><td>'+el.line+'</td></tr>';
                        }
                        html += '<tr><td><b>Message</td><td>'+el.message+'</td></tr>';
                    });
                    html += '</table>';
                    $('response').insert(html);
                    
                    if(response.error)
                    {
                        $(n.key).update('Errors');
                    }
                    else
                    {
                        $(n.key).update('Success');
                    }
                },
                onFailure: function(){
                    $(n.key).update('Failed');
                }
            });
        });
    });
});
</script>