<script id="left-sidebar-update-details" type="text/x-handlebars-template">
    <div class="customer-results-table customer-panel-table white-table scrollable-y-table display-orders">
    	<div class="title-div">
            <div class="title"><?= $this->__('Account details of '); ?>{{name}}</div>
        </div>
        {{#each customer_information}}
        <div class="update-details-table clearfix">
            <div class="customer-information" class="row">
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-8 ucfirst"><strong>{{@key}}</strong></div>
                </div>
                {{#each this}}
                <div class="col-md-12">
                    <div class="col-md-4">{{@key}}</div>
                    <div class="col-md-8">{{this}}</div>
                </div>
                {{/each}}
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-8"><button class="btn btn-primary">Edit</button><a class="refresh-icon">&nbsp;</a></div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</script>