<div class="family" data-family-id="{{ entity_id }}" data-hide-not-selected="{{ hide_not_selected_products }}">
    <div class="family-header">
        <div class="family-name">{{ display_name }}</div>
    </div>
    <div class="family-content">
        {{#each products}}
            {{#if requires_serial}}
                {{> <?php echo $this->getSection() ?>_family_serialnumber_item this}}
            {{else}}
                {{> <?php echo $this->getSection() ?>_selected_item this}}
            {{/if}}
        {{else}}
            <p><?php echo $this->__('No products available') ?></p>
        {{/each}}
    </div>
</div>
