<span class="item-label hidden">
</span>
<span class="item-contract hidden">
    <span class="item-contract-label"><?php echo $this->__('Current contract'); ?></span>
    <span class="item-contract-start-date"></span>
</span>
{{~#or initial_period minimum_contract_duration contract_period~}}
<span class="item-date {{#if initial_period }}{{else if minimum_contract_duration}}{{else if contract_period}}{{else}}hidden{{/if}}">
    {{~#if initial_period ~}}
        {{~initial_period~}} <?php echo " " . $this->__("months minimum term") ?>
    {{~/if~}}
    {{~#if minimum_contract_duration~}}
        {{~minimum_contract_duration~}} <?php echo " " . $this->__("months minimum term") ?>
    {{~/if~}}
    {{~#if contract_period~}}
        {{~contract_period~}} <?php echo " " . $this->__("months minimum term") ?>
    {{~/if~}}
</span>
{{~/or~}}
<?php if(strcasecmp(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE, $this->getSection()) == 0 ||
    strcasecmp(Vznl_Catalog_Model_Type::SUBTYPE_ACCESSORY, $this->getSection()) == 0): ?>
<span class="item-desc {{#if stock_status_text }}{{else}}hidden{{/if}} {{ stock_status_class }}">
    <a onclick="showStockStatus(this,event)" data-id="{{ entity_id }}">{{~ stock_status_text ~}}</a>
</span>
<?php endif; ?>
