<?php
/**
 * Copyright (c) 2018. Dynacommerce B.V.
 */
?>
<span class="item-hardware-info hidden" id="item-hardware-info-{{entity_id}}"
  data-template='<div class="tooltip hardware-info"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
  data-toggle="tooltip"
  data-html="true" data-container="body" data-placement="right"
  title="">&nbsp;
</span>

{{~#ifCond product_information '!=' null ~}}
    <span class="item-info" id="item-info-{{entity_id}}" data-item-id="{{entity_id}}" data-toggle="tooltip" data-html="true" data-container="body" data-placement="right" data-package="{{product_information.package_sub_type}}" title="{{ product_information.additional_text }}"></span>
{{~/ifCond ~}}

{{~#if has_volte ~}}
    <span class="item-volte" data-toggle="tooltip" data-html="true" data-container="body" data-placement="right" title="VoLTE">&nbsp;</span>
{{~/if~}}
<?php if (!Mage::getSingleton('customer/session')->isBusinessCustomer()) { ?>
    {{~#if is_ilt_required ~}}
        <span id="item_ilt_{{entity_id}}" class="item_ilt" data-toggle="tooltip" data-html="true" data-container="body" data-placement="right" title="<?php echo $this->__('In this monthly handset payment, an income test is necessary'); ?>">&nbsp;</span>
    {{~/if~}}
<?php } ?>
