<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */
$dealers = Mage::helper('agent')->getDealers(false, true);
$dataPackId = $this->getDataPackId();
$printedStores = [];
foreach ($this->getStock() as $stock) {
    foreach ($stock->getOtherStoreList() as $store) {
        if (in_array($store['store'], $printedStores)) {
            continue;
        }
        $dealer = $dealers->getItemByColumnValue('axi_store_code', $store['store']);
        if (!$dealer) {
            continue;
        }
        $stockIndicator = Mage::helper('vznl_checkout')->__($store['stock'] ? 'In stock' : 'Out of stock');
        $attributes = [];
        if (!$store['stock']) {
            $attributes[] = 'disabled';
        }
        ?>
<li class="typeahead-item <?php echo implode(' ', $attributes); ?>" data-search="<?php echo strtolower($store['store_name']); ?>" data-city="<?php echo $store['store_name']; ?>" data-store-id="<?php echo $dealer->getId(); ?>" data-stock="<?php echo $store['stock']; ?>" onclick="checkout.setStoreAddress(this)">
    <span class="typeahead-item-value"><?php echo $store['store_name']; ?></span>
    <span class="stock-indicator"><?php echo $stockIndicator; ?></span>
</li>
<?php
        $printedStores[] = $store['store'];
    }
}
