<?php
/**
 * Shopping cart totals template
 * @var $this Omnius_Checkout_Block_Cart_Totals
 */

$isEditMode = Mage::getSingleton('checkout/session')->getIsEditMode();
$orderEdit = (int)Mage::getSingleton('customer/session')->getOrderEdit();

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();

/** @var Vznl_Checkout_Model_Sales_Quote $quote */
$quote = Mage::getSingleton('checkout/cart')->getQuote();
$isFixed = $quote->hasFixed();
if (count($quote->getCartPackages()) > 0) {
    $btwState = Mage::getSingleton('customer/session')->getBtwState();
} else {
    $btwState = Mage::getSingleton('customer/session')->getCustomer()->getIsSoho() ? false : true;
}
Mage::getSingleton('customer/session')->setBtwState($btwState);
?>
<?php if ($this->canApplyMsrp()): ?>
    <div class="cart-msrp-totals">
        <?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?>
    </div>
<?php else: ?>
    <?php if (!$this->getIsEmail()): ?>
        <div id="cart_totals" class="tax-toggle price-summary" data-state="<?php echo !$btwState ? 'true' : 'false' ?>">

            <div class="cart-totals-header">
                <h2><?php echo $this->__('Total costs'); ?></h2>
                <div class="cart-totals-header-tax-toggle">
                    <div class="toggle-switch">
                        <input
                        type="checkbox"
                        name="specifications-toggle"
                        class="toggle-switch--checkbox"
                        id="specificationsToggle"
                        onchange="sidebar.updatePrices(this)"
                        <?php echo !$btwState ? 'checked' : '' ?>
                        data-show-btw="<?php echo Mage::getSingleton('customer/session')->showPriceWithBtw() ? 1 : 0; ?>"
                        >
                        <label class="toggle-switch--label" for="specificationsToggle">
                            <?php echo $this->__('VAT spec.'); ?>
                            <span class="toggle-switch--inner"></span>
                            <span class="toggle-switch--switch"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="price-summary">
                <div class="price-summary-line price-summary-header">
                    <div class="price-summary-line-text"><!-- Flexbox spacer div --></div>
                    <div class="price-summary-line-price">
                        <?php if (!$isIndirect): ?>
                            <div class="price-summary-price-upfront"><?php echo $this->__('Upfront'); ?></div>
                        <?php endif ?>
                        <div class="price-summary-price-monthly"><?php echo $this->__('Monthly'); ?></div>
                    </div>
                </div>
                <?php echo $this->renderTotals(null, 1, 2); ?>
                <?php echo $this->renderTotals('footer'); ?>
            </div>

            <div class="clearfix checkout-button new-ui-elements">
                <?php if (!Omnius_Checkout_Helper_Data::onCheckout() && !$this->getCheckoutButton()): ?>
                    <?php
                    /** @var Vznl_Configurator_Helper_Data $configuratorHelper */
                    $configuratorHelper = Mage::helper('vznl_configurator');
                    $hasKipWhileNotAllowed = $configuratorHelper->hasKIPWhileNotAllowed();
                    $complete = Mage::helper('dyna_checkout')->hasAllPackagesCompleted() && !$hasKipWhileNotAllowed;
                    $hasItemsOnQuote = count(Mage::getSingleton('checkout/session')->getQuote()->getAllItems());
                    $hasChanges = Mage::getSingleton('checkout/cart')->isChanged();
                    if ($isEditMode && $orderEdit) {
                        $packageId = $this->getQuote()->getActivePackageId();
                        $canSubmitChange = Mage::helper('vznl_checkout')->canSubmitChange($quote, $packageId);
                        $canSubmitChange = $complete && $canSubmitChange;
                        $canProceed = $hasChanges || $canSubmitChange;
                    } else {
                        $canProceed = $complete || $hasItemsOnQuote;
                    }
                    $proceedTo = ($isEditMode && $orderEdit > 0 && Mage::getSingleton('customer/session')->getOrderEditMode()) ? true : false;
                    ?>
                    <!-- Disable button if package is not complete or changes were not made -->
                    <button
                        id="configurator_checkout_btn"
                        class="btn fluid"
                        data-hasProductsInCart="<?php echo $complete ? 'yes' : 'no'; ?>"
                        onclick=<?php echo $proceedTo ? "proceedToCheckout()" : "proceedToExtendedCart()" ?>
                        <?php echo ($canProceed) ? '' : ' disabled="disabled"'; ?>
                    >
                        <span class="btn-content"><?php echo $this->__('Proceed'); ?></span>
                    </button>
                <?php endif; ?>
            </div>
        </div>
    <?php else: ?>
        <div class="tableContainer_tabs">
            <table class="fullWidth">
                <thead>
                <tr>
                    <th class="tdEven2_lightBlue"><p class="cart_totals_header">€ <?php echo Mage::helper('checkout')->__('Total'); ?></p></th>
                    <th class="tdEven2_lightBlue"></th>
                    <th class="tdEven2_lightBlue"></th>
                </tr>
                <tr>
                    <th class="tdEven_lightBlue"></th>
                    <th class="a-right tdEven_lightBlue"><?php echo $this->__('Upfront'); ?></th>
                    <th class="a-right tdEven_lightBlue"><?php echo $this->__('Monthly'); ?></th>

                </tr>
                </thead>

                <tbody>
                    <?php echo $this->renderTotals(); ?>
                </tbody>

                <tfoot>
                <?php echo $this->renderTotals('footer'); ?>
                </tfoot>
            </table>
        </div>
    <?php endif; ?>
<?php endif; ?>
