<?php
/**
 * Shopping cart totals template
 * @var $this Omnius_Checkout_Block_Cart_Totals
 */

$isEditMode = Mage::getSingleton('checkout/session')->getIsEditMode();
$orderEdit = (int)Mage::getSingleton('customer/session')->getOrderEdit();

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();

?>
<?php if ($this->canApplyMsrp()): ?>
    <div class="cart-msrp-totals">
        <?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?>
    </div>
<?php else: ?>
    <?php if (!$this->getIsEmail()): ?>
        <div id="checkout_cart_totals">
        <div class="price-summary">
            <div class="price-summary-line price-summary-header">
                <div class="price-summary-line-text"></div>
                <div class="price-summary-line-price">
                    <div class="price-summary-price-upfront"><?php if (!$isIndirect): ?><?php echo $this->__('Upfront') ?><?php endif; ?></div>
                    <div class="price-summary-price-monthly"><?php echo $this->__('Monthly') ?></div>
                </div>
            </div>

            <!-- Single horizontal line -->
            <div class="price-summary-separator-single"></div>
            <?php echo $this->renderTotals(null, 1, 1); ?>

            <?php
            /** @var Dyna_Agent_Helper_Data $agentHelper */
            $agentHelper = Mage::helper('agent');
            $quote = Mage::getSingleton('checkout/cart')->getQuote();
            $totalDevicePriceDeduction = $quote->getTotalDevicePayment();
            $sidebarCart = $this->getData('cart_sidebar');
            $isFixed = $quote->hasFixed();
            ?>

            <?php if ($totalDevicePriceDeduction > 0 && !$agentHelper->isIndirectStore()) : ?>
                <div class="price-summary-separator-single"></div>
                <div class="price-summary-line price-summary-light">
                    <div class="price-summary-line-text">
                        <?php if ($sidebarCart == "no") : ?>
                            <?php echo $this->__('Deducted by monthly phone charge'); ?>
                        <?php else : ?>
                            <?php echo $this->__('Device payment deduction'); ?>
                        <?php endif; ?>
                    </div>
                    <div class="price-summary-line-price">
                        <div class="price-summary-price-upfront">&minus; &euro; <?php echo number_format($totalDevicePriceDeduction, 2,',','.'); ?></div>
                        <div class="price-summary-price-monthly"></div>
                    </div>
                </div>

            <?php endif; ?>

            <div class="price-summary-separator-double"></div>
            <?php echo $this->renderTotals('footer', 1, Vznl_Checkout_Block_Cart_Totals::TOTALS_TEMPLATE_CHECKOUT); ?>
        </div>

        <input type="hidden" name="isFixed" value="<?php echo ($isFixed) ? 1 : 0; ?>">
        <div class="clearfix checkout-button">
            <?php if (!Omnius_Checkout_Helper_Data::onCheckout() && !$this->getCheckoutButton()) : ?>
                <?php
                /** @var Dyna_Configurator_Helper_Data $configuratorHelper */
                $configuratorHelper = Mage::helper('dyna_configurator');
                $hasKipWhileNotAllowed = $configuratorHelper->hasKIPWhileNotAllowed();
                $complete = Mage::helper('dyna_checkout')->hasAllPackagesCompleted() && !$hasKipWhileNotAllowed;
                $hasItemsOnQuote = count(Mage::getSingleton('checkout/session')->getQuote()->getAllItems());
                $hasChanges = Mage::getSingleton('checkout/cart')->isChanged();
                $quote = Mage::getSingleton('checkout/cart')->getQuote();
                if ($isEditMode && $orderEdit) {
                    $packageId = $this->getQuote()->getActivePackageId();
                    $canSubmitChange = Mage::helper('vznl_checkout')->canSubmitChange($quote, $packageId);
                    $canSubmitChange = $complete && $canSubmitChange;
                }
                ?>
                <?php if ($isEditMode && $orderEdit > 0 && Mage::getSingleton('customer/session')->getOrderEditMode()) : ?>
                    <a onclick="customer.setLoading(true);window.location.href='<?php echo $this->getUrl('checkout/cart/cancelEditSuperorderPackage') ?>';return false;" class="btn col-sm-4 btn-default btn-cancel">
                        <?php echo $this->__('Cancel'); ?>
                    </a>
                    <?php if ($hasChanges || $canSubmitChange) : ?>
                        <!-- Hide button if package is not complete or changes were not made -->
                        <input type="button" id="configurator_checkout_btn"
                           data-hasProductsInCart="<?php echo $complete ? 'yes' : 'no'; ?>"
                           value="<?php echo $this->__('Proceed'); ?>"
                           class="btn btn-primary btn-block col-sm-4 expand-checkout<?php echo ($complete || $hasItemsOnQuote) ? '' : ' incomplete disabled'; ?>" style="width: 100px;"
                            onclick="proceedToCheckout()"/>
                    <?php endif; ?>
                <?php else : ?>
                    <input type="button" id="configurator_checkout_btn"
                       data-hasProductsInCart="<?php echo $complete ? 'yes' : 'no'; ?>"
                       value="<?php echo $this->__('Proceed'); ?>"
                       class="btn btn-primary btn-block col-sm-offset-3 col-sm-5 expand-checkout<?php echo ($complete || $hasItemsOnQuote) ? '' : ' incomplete disabled'; ?>"
                       onclick="proceedToExtendedCart()"/>
                <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>
    <?php else: ?>
        <div class="price-summary">
            <div class="price-summary-line price-summary-header">
                <div class="price-summary-line-text"></div>
                <div class="price-summary-line-price">
                    <div class="price-summary-price-upfront"><?php if (!$isIndirect): ?><?php echo $this->__('Upfront') ?><?php endif; ?></div>
                    <div class="price-summary-price-monthly"><?php echo $this->__('Monthly') ?></div>
                </div>
            </div>

            <!-- Single horizontal line -->
            <div class="price-summary-separator-single"></div>
            <?php echo $this->renderTotals(null, 1, 1); ?>

            <div class="price-summary-separator-double"></div>
            <?php echo $this->renderTotals('footer', 1, 1); ?>

        </div>
    <?php endif; ?>
<?php endif; ?>
