/*
 * Copyright (c) 2016. Dynacommerce B.V.
 */

.rhombus-logo {
    background: url("../images/logo.png");
	background-repeat: no-repeat;
	top: 15%;
    margin:60px 0 0 100px;
	position: absolute;
    background-position-x: 15%;
    background-size:25%;
}
.account-login{padding:20px;}