.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container .select2-search--inline {
    float: left;
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-results {
    display: block;
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
    cursor: pointer;
}

.select2-container--open .select2-dropdown {
    left: 0;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-search--dropdown {
    display: block;
    padding: 4px;
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
    display: none;
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
    background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none;
}

.select2-container--classic .select2-dropdown {
    background-color: white;
    border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
    border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
    padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: white;
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb;
}

.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.sprite-arrow-back {
    width: 14px;
    height: 14px;
    background-position: -5px -5px;
}

.sprite-arrow-drop-down {
    width: 10px;
    height: 5px;
    background-position: -29px -5px;
}

.sprite-arrow-drop-down-copy {
    width: 10px;
    height: 5px;
    background-position: -49px -5px;
}

.sprite-check-box {
    width: 18px;
    height: 18px;
    background-position: -69px -5px;
}

.sprite-check-box-outline-blank {
    width: 18px;
    height: 18px;
    background-position: -97px -5px;
}

.sprite-check-box-outline-blank_2 {
    width: 18px;
    height: 18px;
    background-position: -5px -33px;
}

.sprite-check-box-outline-blank_3 {
    width: 22px;
    height: 22px;
    background-position: -33px -33px;
}

.sprite-check-circle-outline-blank {
    width: 18px;
    height: 18px;
    background-position: -65px -33px;
}

.sprite-credit-card {
    width: 20px;
    height: 16px;
    background-position: -93px -33px;
}

.sprite-edit-button {
    width: 32px;
    height: 32px;
    background-position: -65px -61px;
}

.sprite-expand-more {
    width: 12px;
    height: 8px;
    background-position: -107px -59px;
}

.sprite-icon-internet-phone {
    width: 30px;
    height: 30px;
    background-position: -122px -1px;
}

.sprite-icon-mobile {
    width: 30px;
    height: 30px;
    background-position: -121px -33px;
}

.sprite-icon-ship-today {
    width: 21px;
    height: 12px;
    background-position: -5px -68px;
}

.sprite-info {
    width: 18px;
    height: 18px;
    background-position: -36px -68px;
}

.sprite-info_3 {
    width: 18px;
    height: 18px;
    background-position: -129px -68px;
}

.sprite-keyboard-arrow-up {
    width: 12px;
    height: 8px;
    background-position: -5px -96px;
}

.sprite-more-vert {
    width: 4px;
    height: 16px;
    background-position: -27px -96px;
}

.sprite-radio-button-on-copy {
    width: 18px;
    height: 18px;
    background-position: -107px -96px;
}

.sprite-shape {
    width: 14px;
    height: 20px;
    background-position: -41px -96px;
}

.sprite-tick {
    width: 10px;
    height: 8px;
    background-position: -135px -96px;
}

.sprite-today {
    width: 19px;
    height: 20px;
    background-position: -65px -114px;
}

* {
    box-sizing: border-box;
}

.ar {
    text-align: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.dt .tc.vm {
    vertical-align: middle;
}

.dt .tc.vt {
    vertical-align: top;
}

.dt .tc.vb {
    vertical-align: bottom;
}

.checkout.bigView {
    overflow: auto;
}

#checkout-wrapper {
    box-sizing: border-box !important;
    margin: 30px auto;
    text-align: center;
    box-shadow: inset 1px 0 1px 0 rgba(0, 0, 0, 0.1);
    max-width: 764px;
    background-color: #fafbfc;
    overflow: hidden;
    font-family: 'Roboto' !important;
}

#checkout-wrapper .checkout-inner {
    display: inline-block;
}

#checkout-wrapper .checkout-section {

    display: table;
}

#checkout-wrapper .checkout-section > div {
    display: table-cell;
    position: relative;
}

#checkout-wrapper .checkout-section .checkout-timeline {
    width: 50px;
}

#checkout-wrapper .checkout-section .checkout-timeline:before, #checkout-wrapper .checkout-section .checkout-timeline:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
}

#checkout-wrapper .checkout-section .checkout-timeline:before {
    top: 40px;
    bottom: -40px;
    margin-left: -1px;
    width: 2px;
    background-color: #e9eaeb;
}

#checkout-wrapper .checkout-section .checkout-timeline:after {
    height: 16px;
    width: 16px;
    top: 30px;
    bottom: auto;
    margin-left: -8px;
    background: #fff;
    border: 2px solid #e9eaeb;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

#checkout-wrapper .checkout-section .checkout-timeline .checkout-timeline-point {
    top: 28px;
    left: 15px;
    z-index: 100;
    width: 20px;
    height: 20px;
    position: absolute;
    background: transparent;
}

#checkout-wrapper .checkout-section .checkout-content {
    padding: 10px 0;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body {
    color: #2d4552;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    width: 570px;
    border-radius: 3px;
    background-color: #f2f3f4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d9d9d9;
    overflow: auto;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-box {
    color: #2e4551;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    width: 570px;
    height: 56px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d9d9d9;
    font-size: 13px;
    line-height: 56px;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body .section-header-capitals {
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    color: #45ada8;
    text-transform: uppercase;
    margin: 22px 0 0 0;
    padding: 0px;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body .section-header {
    margin: 0;
    display: block;
    padding: 5px 15px;
    font-size: 24px;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body .section-header .edit-button {
    float: right;
    border: none;
    width: 32px;
    height: 32px;
    background: url(../img/edit-button.svg);
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body .subsection-header {
    margin: 10px 0 5px 0;
    font-weight: bold;
    font-size: 10px;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.05);
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body .subsection-line {
    margin: 15px 10px 15px 10px;
    padding: 1px 15px;
    background-color: rgba(0, 0, 0, 0.05);
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body .checkout-section-container {
    padding: 8px 15px;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body.checkout-content-naked {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body.checkout-content-naked .section-header {
    padding: 5px 0px;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body.checkout-content-naked .checkout-section-container {
    padding: 5px 0px 20px 0px;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body.checkout-content-naked .checkout-section-container .customer-contact-person {
    padding-top: 0px;
}

#checkout-wrapper .checkout-section:first-child .checkout-timeline:before {
    top: 44px;
}

#checkout-wrapper .checkout-section:last-child .checkout-timeline:before {
    display: none;
}

#checkout-wrapper .checkout-section.active .checkout-timeline:before {
    background-color: #45ada8;
}

#checkout-wrapper .checkout-section.active .checkout-timeline:after {
    background-color: #45ada8;
    background-image: url("../img/tick.png");
    background-repeat: no-repeat;
    background-position: center center;
    border-color: #45ada8;
}

#checkout-wrapper .checkout-section.active .checkout-content .checkout-content-body {
    color: #fff;
    border-radius: 3px;
    background-color: #45ada8;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), inset 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(51, 51, 51, 0.1);
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    line-height: 18px;
}

#checkout-wrapper .checkout-section.active .checkout-content .checkout-content-body #customer_service_address {
    padding: 20px 15px;
}

#checkout-wrapper .checkout-section.active .checkout-content .checkout-content-body .section-header {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: Roboto;
    font-size: 24px;
    text-align: left;
    color: #ffffff;
    opacity: 1;
    padding: 14px 15px;
    line-height: 24px;
}

#checkout-wrapper .checkout-section .hidden-content {
    margin: 10px auto;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.03);
    border: solid 1px rgba(217, 217, 217, 0.5);
    width: 100%;
    min-height: 56px;
}

#checkout-wrapper .checkout-section .hidden-content span {
    font-size: 14px;
    line-height: 34px;
}

#checkout-wrapper .checkout-section .checkbox-content {
    display: block;
    width: 100%;
}

#checkout-wrapper .checkout-section .checkbox-content span {
    line-height: 34px;
    margin-left: 3px;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body .checkbox-header {
    margin: 10px 0 5px 0;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px 0px 10px;
    text-transform: uppercase;
}

#checkout-wrapper a {
    /* RESET  */
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    /* END RESET */
}

#checkout-wrapper a:hover {
    color: #45ada8;
}

#checkout-wrapper a:hover:before, #checkout-wrapper a:hover:after {
    color: #45ada8;
}

#checkout-wrapper a.arrow-back {
    padding-left: 30px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

#checkout-wrapper a.arrow-back:before {
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background-image: url("../img/arrow-back.svg");
}

#checkout-wrapper .btn, .checkout-modal .btn {
    font-weight: bold;
    text-align: center;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    padding: 8px 20px;
    min-width: 145px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

#checkout-wrapper .btn.btn-add {
    min-width: 20px;
    border-color: #ddd;
    height: 44px;
    box-shadow: none;
}

#checkout-wrapper .btn.btn-add:focus {
    padding: 8px 20px;
    border-width: 1px;
}

#checkout-wrapper .btn.btn-violet, .checkout-modal .btn.btn-violet {
    color: #fff;
    width: 145px;
    height: 40px;
    border-radius: 2px;
    background-color: #9c2aa0;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.05);
}

#checkout-wrapper .btn.btn-violet.step.checkout-view-order, .expanded_checkout_btn {
    color: #fff;
    width: 195px;
    height: 40px;
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.05);
}

#checkout-wrapper .btn-wrapper {
    vertical-align: middle !important;
}

#checkout-wrapper .btn-wrapper input {
    width: 44px !important;
    height: 44px;
    border-radius: 2px;
    border: solid 1px #d8d8d8;
    min-width: 44px;
    box-shadow: none;
    padding: 0 !important;
    /*float: right !important;*/
}

#checkout-wrapper input[type=radio] {
    position: absolute;
    visibility: hidden;
}

#checkout-wrapper input[type=radio] + label, #checkout-wrapper input[type="checkbox"] + label, #checkout-wrapper .radio-wrapper-fake input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 18px;
    width: 18px;
    z-index: 9;
    cursor: pointer;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 0px 0px 1px #ddd;
    -moz-box-shadow: inset 0px 0px 0px 1px #ddd;
    box-shadow: inset 0px 0px 0px 1px #ddd;
}

#checkout-wrapper input[type=radio]:checked + label, #checkout-wrapper .radio-wrapper-fake input[type="checkbox"]:checked + label {
    -webkit-box-shadow: inset 0px 0px 0px 5px #45ada8;
    -moz-box-shadow: inset 0px 0px 0px 5px #45ada8;
    box-shadow: inset 0px 0px 0px 5px #45ada8;
}

#checkout-wrapper input[type="checkbox"] {
    display: none;
}

#checkout-wrapper input[type="checkbox"] + label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
}

#checkout-wrapper input[type="checkbox"]:checked + label {
    box-shadow: none;
    background: url("../img/tick.png") no-repeat center center #45ada8;
}

#checkout-wrapper input[type="checkbox"][disabled]:checked + label  {
    box-shadow: none;
    background: url(../img/tickdisable.png) no-repeat center center ;
}

#checkout-wrapper .radio-wrapper-fake input[type="checkbox"]:checked + label {
    background: none;
}

#checkout-wrapper input[type=radio][disabled] + label, #checkout-wrapper input[type="checkbox"][disabled] + label {
    background-color: #fdfdfd;
    -webkit-box-shadow: inset 0px 0px 0px 1px #eee;
    -moz-box-shadow: inset 0px 0px 0px 1px #eee;
    box-shadow: inset 0px 0px 0px 1px #eee;
}

#checkout-wrapper input[type=radio][disabled] + label + span, #checkout-wrapper input[type="checkbox"][disabled] + label + span {
    color: #c9c9c9
}

#checkout-wrapper textarea,
#checkout-wrapper input[type="text"],
#checkout-wrapper input[type="password"],
.checkout-modal textarea,
.checkout-modal input,
.checkout-modal input[type="password"] {
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #2d4552;
    border: solid 1px #ddd;
    width: 100%;
    padding: 20px 12px 5px 12px;
    margin: 0;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box !important;
}

#checkout-wrapper input[type="text"],
#checkout-wrapper input[type="password"],
.checkout-modal input,
.checkout-modal input[type="password"] {
    height: 44px;
}

#checkout-wrapper select + label,
#checkout-wrapper textarea + label,
#checkout-wrapper input[type="text"] + label,
#checkout-wrapper .date-element-wrapper input[type="text"] ~ label,
#checkout-wrapper input[type="password"] + label,
.checkout-modal select + label,
.checkout-modal textarea + label,
.checkout-modal input + label,
.checkout-modal input[type="password"] + label {
    color: #5b717c;
}

#checkout-wrapper .input-group-custom, .checkout-modal .input-group-custom {
    position: relative;
    padding: 5px 0;
}

#checkout-wrapper .input-group-custom.pre-btn {
    display: inline-block;
    vertical-align: bottom;
    width: 377px;
    float: none;
}

#checkout-wrapper input:focus,
#checkout-wrapper select:focus,
.checkout-modal input:focus,
.checkout-modal select:focus {
    padding-left: 11px;
    outline: none;
    border: solid 2px #45ada8;
}

#checkout-wrapper select:disabled + label,
#checkout-wrapper textarea:disabled + label,
#checkout-wrapper input[type="text"]:disabled + label,
#checkout-wrapper .date-element-wrapper input[type="text"]:disabled ~ label,
#checkout-wrapper input[type="password"]:disabled + label,
#checkout-wrapper input[type="text"]:read-only + label,
#checkout-wrapper .date-element-wrapper input[type="text"]:read-only ~ label {
    color: #c9c9c9;
}

#checkout-wrapper input:disabled:focus,
#checkout-wrapper select:disabled:focus,
#checkout-wrapper input:read-only:focus {
    color: #c9c9c9;
    outline: none;
    border: solid 1px #ddd !important;
}

#checkout-wrapper input:disabled,
#checkout-wrapper select:disabled,
#checkout-wrapper input:read-only {
    color: #c9c9c9;
}

#checkout-wrapper input:disabled:focus,
#checkout-wrapper select:disabled:focus,
#checkout-wrapper input:read-only:focus {
    color: #c9c9c9;
    outline: none;
    border: solid 1px #ddd !important;
}

#checkout-wrapper input[type="text"] + label,
#checkout-wrapper .date-element-wrapper input[type="text"] ~ label,
#checkout-wrapper input[type="password"] + label,
#checkout-wrapper textarea + label,
#checkout-wrapper select + label,
.checkout-modal input + label,
.checkout-modal input[type="password"] + label,
.checkout-modal textarea + label,
.checkout-modal select + label {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 13px;
    right: 13px;
    bottom: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#checkout-wrapper input.input-dirty + label, #checkout-wrapper input[type="text"]:focus + label,
#checkout-wrapper .date-element-wrapper input[type="text"]:focus ~ label,
#checkout-wrapper input[type="password"].input-dirty + label, #checkout-wrapper input[type="password"]:focus + label,
#checkout-wrapper textarea.input-dirty + label, #checkout-wrapper textarea:focus + label,
#checkout-wrapper select.input-dirty + label, #checkout-wrapper select:focus + label
.checkout-modal input.input-dirty + label, .checkout-modal input:focus + label,
.checkout-modal input[type="password"].input-dirty + label, .checkout-modal input[type="password"]:focus + label,
.checkout-modal textarea.input-dirty + label, .checkout-modal textarea:focus + label,
.checkout-modal select.input-dirty + label, .checkout-modal select:focus + label {
    bottom: 23px;
    left: 13px;
    font-size: 12px;
    margin-right: 5px;
}

#checkout-wrapper input[type="checkbox"].input-dirty + label,
#checkout-wrapper input[type="radio"].input-dirty + label,
.checkout-modal input[type="radio"].input-dirty + label,
.checkout-modal input[type="radio"].input-dirty + label {
    top: 0;
    left: 0;
}

#checkout-wrapper .select-wrapper.select-no-label {
    position: relative;
}

#checkout-wrapper .select-wrapper.select-no-label:after {
    top: 9px;
}

#checkout-wrapper .select-wrapper.select-no-label select,
#checkout-wrapper .select-wrapper.select-no-label select:focus {
    padding-top: 12px;
    padding-bottom: 10px;
    line-height: 16px;
}

#checkout-wrapper .select-wrapper.select-no-label {
    position: relative;
}

#checkout-wrapper .select-wrapper.select-no-label:after {
    top: 9px;
}

#checkout-wrapper .select-wrapper.select-no-label select,
#checkout-wrapper .select-wrapper.select-no-label select:focus {
    padding-top: 12px;
    padding-bottom: 10px;
    line-height: 16px;
}

@-moz-document url-prefix() {
    #checkout-wrapper select {
        padding-left: 8px;
    }
}

.validation-failed .select-wrapper .select2-container--default .select2-selection--single {
    background-color: #f2eaeb;
    border: 2px solid #f15252;
}

.select-wrapper .select2-container--default .select2-selection--single {
    background: #fff;
    border: solid 1px #ddd;
    font-size: 14px;
    width: 100%;
    padding: 16px 0px 2px 4px;
    overflow: hidden;
    margin: 0;
    height: 44px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.select-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 44px;
}

.select-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    position: absolute;
    width: 1px;
    top: 50%;
    margin-top: -11px;
    height: 24px;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    right: 20px;
}

#checkout-wrapper .select-wrapper .field-row {
    background: #fff;
}

#checkout-wrapper .select-wrapper label,.checkout-modal .select-wrapper label {
    position: absolute;
    bottom: 23px;
    left: 13px;
    right: 27px;
    color: #5b717c;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    pointer-events: none;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#checkout-wrapper .select-wrapper .input-dirty label {
    bottom: 23px;
    left: 8px;
    font-size: 12px;
}

#checkout-wrapper select,.checkout-modal select {
    background: url(../img/arrow-drop-down-copy.svg) no-repeat transparent;
    background-position: right 8px bottom 18px;
    display: inline-block;
    width: 100%;
    height: 44px;
    padding: 20px 25px 4px 8px;
    border: solid 1px #ddd;
    color: #2d4552;
    font-size: 14px;
    text-align: start;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 14px;
    vertical-align: middle;
    box-sizing: border-box !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#checkout-wrapper .select-wrapper select.disabled {
    background: url(../img/arrow-drop-down-copy.svg) no-repeat #eee;
    background-position: right 9px center;
    background-color: #ffffff;
}

#checkout-wrapper select::-ms-expand {
    display: none;
}

#checkout-wrapper .select-wrapper:after {
    position: absolute;
    bottom: 14px;
    right: 27px;
    height: 25px;
    border-left: 1px solid #ddd;
    content: '';
}

#checkout-wrapper select:focus {
    padding: 20px 25px 4px 8px;
}

#checkout-wrapper .hidden-content select {
    display: inherit;
    line-height: 1.5;
}

#checkout-wrapper select + label {
    bottom: 23px;
}

#checkout-wrapper select.input-dirty + label, #checkout-wrapper select:focus + label {
    bottom: 23px;
    left: 8px;
}

#checkout-wrapper .date-element-wrapper label {
    position: absolute;
    bottom: 16px;
    left: 8px;
    color: #2d4552;
    font-weight: normal;
}

#checkout-wrapper p.large-text {
    font-size: 14px;
    line-height: 24px;
}

#checkout-wrapper .input-group-custom.checkout-container-white {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #e3e3e3;
    padding-bottom: 0;
}

#checkout-wrapper .input-group-custom.checkout-container-white .voicelog-terms-wrapper {
    padding: 20px 15px;
    font-size: 14px;
    line-height: 24px;
}

#checkout-wrapper .input-group-custom.checkout-container-white .accordion {
    border: none;
    margin: 0;
}

#checkout-wrapper .input-group-custom.checkout-container-white .accordion .radio-wrapper-fake {
    border-top: solid 1px #d9d9d9;
    border-bottom: none;
}

#cart-content .other-install-instruction-textarea {
    box-shadow: none !important;
    border: solid 1px #ddd;
    resize: vertical;
}

#checkout-wrapper .voicelog-text-container {
    padding: 10px 5px;
    line-height: 180%;
}

.dt.separator {
    height: 20px;
    background-color: #e9eaeb;
    box-shadow: inset -1px 0 0 0 #e3e3e3, inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #dedede, inset 1px 0 0 0 #e3e3e3;
    text-transform: uppercase;
}

.dt {
    display: table;
    width: 100%;
}

.dt .tr {
    display: table-row;
}

.dt .tc {
    vertical-align: bottom;
    display: table-cell;
}

.dt .tc[class*='cell'] {
    padding: 0 3px;
}

.dt .tc[class*='cell']:first-child {
    padding-left: 0;
}

.dt .tc[class*='cell']:last-child {
    padding-right: 0;
}

.cell5 {
    width: 5%;
}

.cell10 {
    width: 10%;
}

.cell15 {
    width: 15%;
}

.cell20 {
    width: 20%;
}

.cell25 {
    width: 25%;
}

.cell30 {
    width: 30%;
}

.cell33 {
    width: 33.3333%;
}

.cell40 {
    width: 40%;
}

.cell50 {
    width: 50%;
}

.cell60 {
    width: 60%;
}

.cell66 {
    width: 66.6666%;
}

.cell70 {
    width: 70%;
}

.cell80 {
    width: 80%;
}

.cell90 {
    width: 90%;
}

.cell100 {
    width: 100%;
}

.expansion-panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

.expansion-panel__header {
    height: 56px;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: left;
    color: #2d4552;
}

.expansion-panel__header:after {
    font-size: 23px;
    top: calc(50% - 8px);
}

.expansion-panel__body {
    border: none;
    box-shadow: none;
    background: transparent;
}

.card {
    height: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #eaebec;
}

.input-group--text-field label {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.7;
    letter-spacing: normal;
    text-align: left;
    color: #5b717c;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

.input-group--text-field.input-group--dirty--focused label, .input-group--text-field.input-group--dirty label {
    height: 12px;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #5b717c;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

.input-group--select {
    margin: 0px;
}

.input-group--select .input-group__selections__comma {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #2d4552;
    padding-top: 19px;
}

.input-group__input {
    min-height: 46px;
}

.input-group--light {
    top: 19px;
}

.input-group--dirty {
    top: 5px;
}

.list-select {
    max-height: 60px;
}

.expansion-no-arrow-icon ::after {
    display: none;
}

#checkout-wrapper .validation-advice {
    background: #f25151;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    margin: 0 0 5px 0;
    padding: 7px 10px;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: auto;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    z-index: 100;
}

#checkout-wrapper .validation-advice:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f25151;
}

#checkout-wrapper input.validation-failed,
#checkout-wrapper textarea.validation-failed,
#checkout-wrapper select.validation-failed {
    background-color: #f2eaeb;
    border: solid 2px #f15252;
}

#checkout-wrapper input.validation-failed + label,
#checkout-wrapper textarea.validation-failed + label,
#checkout-wrapper select.validation-failed + label,
#checkout-wrapper .input-group-custom.validation-failed label {
    color: #f15252;
}

.tooltip {
    display: none;
    opacity: 0;
    transition: opacity .15s;
    pointer-events: none;
    padding: 4px;
    z-index: 10000;
}

.tooltip .tooltip-content {
    background: black;
    color: white;
    border-radius: 2px;
    padding: 10px;
}

.tooltip .tooltip-content:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid #000;
    border-bottom: 5px solid transparent;
}

.tooltip.tooltip-open-transitionend {
    display: block;
}

.tooltip.tooltip-after-open {
    opacity: 1;
}

.accordion {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
    border-bottom: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.accordion .accordion-item .accordion-head, .block-wrapper, .checkbox-wrapper, .radio-wrapper, .radio-wrapper-fake {
    cursor: pointer;
    border-bottom: solid 1px #d9d9d9;
    position: relative;
    background-color: #ffffff;
    color: #2d4552;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 56px;
    padding: 20px 15px;
    letter-spacing: normal;
    line-height: 0.86;
    text-align: left;
}

.accordion .accordion-item .accordion-head::after {
    color: inherit;
    content: "\e313";
    font-family: 'Material Icons';
    font-size: 2.5rem;
    position: absolute;
    right: 15px;
    top: calc(50% - 10px);
    /* Looks messy in Chrome
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1) 0s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;*/
}

.accordion .accordion-item .accordion-body {
    max-height: 0;
    /* Looks messy in Chrome
    transition: max-height 0.8s cubic-bezier(0, 0, 0.2, 1) 0s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;*/
    overflow: hidden;
    background-color: #f2f3f4;
}

.accordion .accordion .accordion-item .accordion-body {
    background-color: #eaebec;
}

.accordion .accordion .accordion .accordion-item .accordion-body {
    background-color: #e2e3e4;
}

.accordion .accordion-item .accordion-body > div {
    padding: 5px 15px 10px 15px;
    width: 100%;
}

.accordion .accordion-item .accordion-body > div.split-items-margin {
    padding: 0px 15px 10px 15px;
}

.accordion > .accordion-item.active > .accordion-head::after {
    transform: rotate(-180deg);
}

.accordion > .accordion-item.active > .accordion-body {
    max-height: 100%;
    border-bottom: 1px solid #ddd;
}

.accordion .accordion-item.disabled .accordion-head {
    cursor: not-allowed;
}

.accordion .accordion-item.disabled .accordion-head::after {
    color: #c9c9c9;
}

.accordion .accordion-item.disabled .accordion-head {
    color: #d9d9d9 !important;
}

p.package-type {
    height: 10px;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    color: #324d5b;
    margin: 0;
}

p.package-name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #2d4552;
    margin: 0;
}

.change-provider.package .package-name,
#save-order-overview-package-content .package-name,
#save-overview-package-content .package-name {
    height: auto;
}

.dt.package-header {
    height: 50px;
    border-radius: 3px;
    border-left: 6px solid rgba(221, 221, 221, .5);
    border-bottom: 2px solid rgba(200, 200, 200, .5);
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body.checkout-content-naked .checkout-section-container.review-order {
    margin: 20px 0;
    padding: 0;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
}

.dt.separator {
    height: 20px;
    background-color: #e9eaeb;
    box-shadow: inset -1px 0 0 0 #e3e3e3, inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #dedede, inset 1px 0 0 0 #e3e3e3;
    text-transform: uppercase;
}

p.LabelText {
    height: 10px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    color: #2d4552;
    margin: 0;
}

.package .dt {
    padding: 0 10px;
}

.package .dt.no-gutters {
    padding: 0px;
}

.item-name {
    min-height: 24px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    color: #2d4552;
}

.item-price {
    height: 24px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    text-align: right;
    color: #324d5b;
}

.additional .item-name {
    height: 24px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 2;
    color: #5b717c;
    font-weight: normal;
}

.additional .item-price.ar {
    height: 24px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 2;
    text-align: right;
    color: #5b717c;
}

.line-through {
    text-decoration: line-through;
}

.overview-table-footer {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #e9eaeb;
    border: solid 1px #d3d8d9;
    padding: 10px 0;
}

.overview-table-footer .item-name {
    height: 24px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    color: #2d4552;
    font-weight: normal;
}

.total-cost {
    font-weight: bold;
}

.total-cost .item-name {
    font-weight: bold;
}

.item-name .sprite-arrow-drop-down {
    vertical-align: middle;
}

.overview-table-footer .dt.separator {
    height: 2px;
}

#checkout-wrapper .checkout-section .checkout-content .checkout-content-body.checkout-content-naked .checkout-section-container.review-order.table-totalcost {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #e3e3e3;
    padding: 20px 15px;
}

.table-totalcost .dt.headers {
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    line-height: 2;
    text-align: right;
    color: #2e4551;
    text-transform: uppercase;
}

.table-totalcost > .dt.separator {
    margin-bottom: 10px;
    height: 1px;
}

.table-totalcost > .dt.separator ~ .dt.separator {
    height: 1px;
    margin: 10px 0;
}

.partial-cost .item-name {
    font-weight: normal;
}

.table-totalcost .item-price {
    font-weight: bold;
}

.table-totalcost .partial-cost .item-price {
    font-weight: normal;
}

#checkout-wrapper .badge.package-lightbulb-tooltip {
    padding: 3px;
    border-radius: 20px;
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
    vertical-align: super;
}

.change-provider.package {
    margin: 10px auto;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    border: solid 1px #e3e3e3;
    width: 100%;
    background-color: #eaebec;
    min-height: 56px;
}

.change-provider.change-provider-transparent {
    margin: initial;
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    min-height: initial;
}

.change-provider-accordion > .accordion-item > .accordion-head {
    min-height: 56px;
    height: auto;
    padding-right: 40px;
}

.change-provider-accordion > .accordion-item > .accordion-head label {
    float: left;
    margin-right: 5px;
}

.change-provider-accordion > .accordion-item > .accordion-head span {
    position: relative;
    top: 4px;
}

.sprite-dsl {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #3f7490;
    border: solid 1px rgba(0, 0, 0, 0.05);
    float: left;
}

.sprite-cable_internet_phone, .sprite-cable_independent, .sprite-cable_tv {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #f6a623;
    border: solid 1px rgba(0, 0, 0, 0.05);
    float: left;
}

.sprite-lte {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #ba74bd;
    border: solid 1px rgba(0, 0, 0, 0.05);
    float: left;
}

.sprite-mobile, .sprite-redplus, .sprite-prepaid {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #e2574c;
    border: solid 1px rgba(0, 0, 0, 0.05);
    float: left;
}

.overview-table-footer .dt.separator.line-separator {
    padding: 0;
    margin: 0 15px;
    width: 95%;
}

/* Per-package */

.per-package-element {
    display: block;
    position: relative;
}

.per-package-element:first-of-type {
    padding-top: 30px !important;
}

.per-package-element + .accordion {
    padding: 0 20px 20px;
    border-top: none;
}

.per-package-element + .accordion:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.per-package-element:before {
    content: " ";
    display: table;
    box-sizing: border-box;
}

.per-package-element:after {
    clear: both;
    display: table;
    content: " ";
}

.per-package-element .product-cart-icon {
    margin-right: 10px;
}

.per-package-element .product-checkout-icon {
    margin-top: 5px;
}

.per-package-element .product-cart-icon.mobile,
.per-package-element .product-cart-icon.prepaid {
    background-image: url(../images/de/icon-mobile-red.svg);
}

.per-package-element .product-cart-icon.cable_internet_phone {
    background-image: url(../images/de/icon-cable-yellow.svg);
}

.per-package-element .product-cart-icon.cable_tv {
    background-image: url(../images/de/icon-tv-yellow.svg);
}

.per-package-element .product-cart-icon.cable_independent {
    background-image: url(../images/de/icon-cable-independent-yellow.svg);
}

.per-package-element .product-cart-icon.dsl {
    background-image: url(../images/de/icon-cable-blue.svg);
}

.per-package-element .product-cart-icon.lte {
    background-image: url(../images/de/icon-cable-mauve.svg);
}

.per-package-element .product-cart-icon.bundle,
.per-package-element .product-cart-icon.redplus {
    background-image: url(../images/de/icon-bundle-grey.svg);
}

.per-package-element .package-summary {
    padding: 5px 0 10px 0px;
    margin-bottom: 0px;
    max-width: 80%;
}

.per-package-element .package-summary > p:first-child {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
}

.per-package-element .package-summary > p:nth-child(2) {
    font-weight: 300;
    color: rgba(91, 113, 124, 0.62);
}

.per-package-element .cable_internet_phone {
    background-color: #3f7490;
}

.phonebook-entries.package {
    margin: 10px auto;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    border: solid 1px #e3e3e3;
    width: 100%;
    background-color: #eaebec;
    min-height: 56px;
}

#cart-content .overview-new-label {
    background: #2fa9d3;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 2px;
}

/* Voicelog - OVG-2447 (temporary) */
#cart-content #saveOverviewArea {
    font-family: Roboto;
}

#cart-content #saveOverviewArea h3, h4, p, div {
    font-family: Roboto;
}

#cart-content #saveOverviewArea .overview-block-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    text-transform: uppercase;
}

#cart-content #saveOverviewArea .products-overview > div:first-child,
#cart-content #saveOverviewArea .products-overview .total-excluding-tax .products-overview > div:last-child > div:first-child {
    width: 65%;
    padding: 0;
}

#cart-content #saveOverviewArea .products-overview .overview-prices,
#cart-content #saveOverviewArea .products-overview .total-excluding-tax .products-overview > div:last-child .overview-prices {
    width: 35%;
    padding: 0;
    text-align: right;
    white-space: nowrap;
}

#cart-content #saveOverviewArea .products-overview .total-excluding-tax .products-overview > div:last-child .overview-prices > div:first-child {
    margin-left: 15%;
}

#cart-content #saveOverviewArea .products-overview .overview-prices > div,
#cart-content #saveOverviewArea .products-overview .total-excluding-tax .products-overview > div:last-child .overview-prices > div {
    width: 42.5%;
    padding: 0;
}

#cart-content #saveOverviewArea .products-overview .overview-prices > div:first-child {
    width: 15%;
}

#cart-content #saveOverviewArea .products-overview .overview-prices .original-price {
    margin-bottom: 0;
}

#cart-content #saveOverviewArea .products-overview .total-excluding-tax .products-overview > div {
    width: 100%;
    padding: 0;
}

#cart-content #saveOverviewArea .voicelog-terms hr {
    margin: 20px -15px;
}

#cart-content #saveOverviewArea .voicelog-terms {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 3px;
    border: solid 1px #e3e3e3;
    background-color: #fff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

#cart-content #saveOverviewArea .voicelog-terms label.input-dirty {
    position: relative;
    z-index: 9;
    top: -10px;
    left: 0px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: white;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    box-shadow: inset 0px 0px 0px 1px #ddd;
    cursor: pointer;
}

#cart-content #saveOverviewArea .voicelog-terms label.input-dirty strong {
    display: inline-block;
    font-family: Roboto;
    margin-left: 5px;
    font-size: 16px;

}

#cart-content #saveOverviewArea .voicelog-terms.checked-terms-background {
    background-color: #fff;
}

#cart-content #saveOverviewArea .voicelog-terms.checked-terms-background label.input-dirty {
    background: url(../img/tick.png) no-repeat center center #45ada8;
    box-shadow: none;
}

#cart-content #saveOverviewArea .submit-buttons button {
    width: auto;
    height: auto;
    min-width: 145px;
    padding: 8px 20px;
    font-size: 16px;
    border: solid 1px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}

#cart-content #saveOverviewArea .submit-buttons button.back-button {
    padding: 10px 20px;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

#cart-content #saveOverviewArea .submit-buttons button.back-button::before {
    position: absolute;
    top: 11px;
    left: 18px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrow-back.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: '';
}

#cart-content #saveOverviewArea .submit-buttons button.back-button:hover {
    color: #45ada8;
}

.per-package-same-day-delivery {
    margin: 10px 14px !important;
    width: initial !important;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.03) !important;
    border: 1px solid rgba(217, 217, 217, 0.5) !important;
}

.per-package-same-day-delivery .dt label, label[for="delivery[same_day]"] {
    margin-right: 5px;
}

.per-package-same-day-delivery .validation-advice {
    left: 20px;
}

.hidden-content-inside-section {
    margin: 5px 0px !important;
    width: initial !important;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.03) !important;
    border: 1px solid rgba(217, 217, 217, 0.5) !important;
}

.dt.package-header.bundle.default {
    background: #edf4f6;
    border-left-color: #007c92;
}

.iban-calculator-row {

}

.iban-calculator-row .calculate-iban {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 2px;
    border: solid 1px #d8d8d8;
    margin: 6px;
    margin-right: 0px;
    float: right !important;
}

.iban-calculator-row .calculate-iban span {
    margin: 12px 0 0 10px;
}

#cart-content .bs-docs-section {
    margin-top: -20px;
}

#cart-content .first-bs-docs-section {
    margin-top: 50px;
}

#cart-content .bs-docs-section-fullheight {
    min-height: 600px;
}

#cart-content .show-for-no-phone-transfer {
    padding: 7px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 55px;
    height: 34px;
}

#cart-content .show-for-no-phone-transfer .warning {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 20px;
    height: 20px;
    background-position-x: 0;
    background: url(../images/icon-prohibition.png) no-repeat;
    background-size: 20px 20px;
}

#cart-content .show-for-no-phone-transfer .warning-text {
    background-position-x:0;
    background: url(../images/de/disabled-input.png) no-repeat;
    background-size: 18px 18px;
}
.provider-phone-remove-button {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/de/btn-remove.png) no-repeat white center;
    background-size: 14px 18px;
}

.btn-contact-remove {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/de/btn-remove.png) no-repeat white center;
    background-size: 14px 18px;
}

#provider_content .more-than-1-phone-transfer {
    float: right;
}

.btn-finish {
    padding: 8px 0px !important;
}

.target-date-row {
    min-height: 35px;
    vertical-align: middle;
    background-color: #fdf5dc;
}

.ui-widget-header {
    background: none;
    border: none;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    text-align: center;
    color: #2d4552;
    margin-bottom: 22px;
}

.ui-datepicker .ui-datepicker-prev span.ui-icon {
    background-image: url(../img/arrow_left.svg);
    background-position: 0 0;
}

.ui-datepicker .ui-datepicker-next span.ui-icon {
    background-image: url(../img/arrow_right.svg);
    background-position: 0 0;
}

.ui-state-default {
    background: #ffffff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    color: #5b717c;
    background: #fff;
}

.ui-datepicker td span, .ui-datepicker td a {
    width: 40px;
    height: 38px;
    line-height: 38px;
}

.ui-datepicker-calendar tr:last-of-type {
    border-bottom: 1px solid #c3cacd;
}

.ui-datepicker-calendar tr td[class*="ui-datepicker-"], .ui-datepicker-calendar tr td[data-handler="selectDay"] {
    border-right: 1px solid #c3cacd;
}

.ui-datepicker-calendar tr td[class*="ui-datepicker-"]:first-of-type, .ui-datepicker-calendar tr td[data-handler="selectDay"]:first-of-type {
    border-left: 1px solid #c3cacd;
}

.ui-datepicker-unselectable {
    background-color: #f2f3f4;
}

.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker .ui-datepicker-prev-hover {
    background: none;
    border: none;
    top: 2px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px;
}

#ui-datepicker-div {
    -moz-box-shadow: 0 0 15px 3px #c3cacd;
    -webkit-box-shadow: 0 0 15px 3px #c3cacd;
    box-shadow: 0 0 15px 3px #c3cacd;
    border-radius: 0;
    padding: 15px;
}

#ui-datepicker-div:after {
    position: absolute;
    content: '\25bc';
    padding-left: 0.5em;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(2, 1);
    -moz-transform: translateX(-50%) scale(2, 1);
    -ms-transform: translateX(-50%) scale(2, 1);
    -o-transform: translateX(-50%) scale(2, 1);
    transform: translateX(-50%) scale(2, 1);
    font-size: 15px;
    bottom: -1em;
    color: white;
}

.ui-datepicker table {
    margin-bottom: 0;
}

.ui-datepicker-calendar tr th {
    width: 28px;
    height: 12px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: #5b717c;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0;
}

.ui-datepicker td {
    padding: 0;
}

.ui-datepicker .ui-state-hover {
    background: #009ca7;
    color: #ffffff;
}

. ui-datepicker-unselectable .ui-state-default {
    background-color: #f2f3f4;
    opacity: 1;
}

a.ui-state-default.ui-state-active {
    color: #fff;
    background: #009ca7;
}

.same-day-delivery-date {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.64;
    text-align: left;
    color: #2a2c2e;
    margin: 10px 0;
}

.ui-datepicker {
    width: auto;
}

.same-day-customer-address-delivery-icon {
    vertical-align: baseline;
    margin-left: 5px;
    display: none;
}

.field-row-relative {
    position: relative;
}

label[for="delivery[date]"] {
    pointer-events: none;
}

button[disabled].ui-datepicker-trigger {
    cursor: not-allowed;
}

.accordion > .active > .accordion-body {
    overflow-x: visible !important;
    overflow-y: visible !important;
}

#saveDeliveryAddress .autocomplete-suggestions {
    max-height: none !important;
    position: static !important;
    border: none !important;
    background: none !important;
}

#saveDeliveryAddress .autocomplete-suggestion {
    margin-bottom: 10px;
    position: relative;
    border-bottom: solid 1px #ddd;
    padding: 20px 0 20px 33px;
    color: #2d4552;
    opacity: 0.8;
    font-size: 14px;
    cursor: pointer;
}

#saveDeliveryAddress .autocomplete-suggestion:before {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-image: url(../img/shape.svg);
    width: 14px;
    height: 20px;
}

#saveDeliveryAddress .autocomplete-suggestion:after {
    content: "Select";
    color: #45ada8;
    border: 1px solid #45ada8;
    width: 80px;
    height: 32px;
    position: absolute;
    right: 0;
    line-height: 32px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#saveDeliveryAddress .autocomplete-suggestion-active:after {
    content: "Selected";
    opacity: 0;
    background-color: #45ada8;
}

.delivery-pickup-container {
    position: relative;
}

.delivery-pickup-container label {
    top: 8px;
    bottom: auto !important;
}

#saveDeliveryAddress .autocomplete-suggestion:nth-child(10) ~ .autocomplete-suggestion {
    display: none;
}

.breadcrumb-checkout {
    height: 40px;
    background-color: #f1f2f3;
    background-image: url(/skin/frontend/vodafone/default/images/de/keyboard-arrow-left.png);
    background-position: 20px 13px;
    background-repeat: no-repeat;
}

.breadcrumb-checkout ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 40px;
}

.breadcrumb-checkout ul li {
    float: left;
    margin: 10px 2px 0px 2px;
    text-transform: uppercase;
    color: #bfbfbf !important;
    font-size: 12px;
    font-weight: 600;
}

.breadcrumb-checkout ul li a {
    color: #bfbfbf !important;
}

.breadcrumb-checkout ul li a.active {
    color: #45ada8 !important;
}

.accordion .accordion-item .accordion-head-markerless::after {
    display: none;
}

.hidden-element {
    display: none;
}

/* ============================================================
      SWITCH BUTTON - COMMON
    ============================================================ */
.settings {
    display: table;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.03);
    border: solid 1px rgba(217, 217, 217, 0.5);
}

.settings .question,
.settings .switch {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.settings .question {
    width: 480px;
    font-size: 14px;
    font-weight: 600;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px !important;
    height: 20px !important;
    background-color: transparent !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
    padding: 2px;
    width: 40px;
    height: 20px;
    background-color: #dddddd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: none !important;
}

input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
    width: 20px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
    background-color: #45ada8;
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 20px;
}

.section-summary {
    width: 570px;
    margin-top: 22px;
    display: none;
}

.section-summary .head {
    background: #f8f8f8;
}

.section-summary hr:last-of-type {
    display: none;
}

.sprite-icon-all {
    position: relative;
}

.sprite-icon-all::before {
    width: 14px;
    height: 8px;
    font-family: Roboto;
    font-size: 7px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    color: #5b717c;
    content: "ALL";
}

.sprite-icon-all, .sprite-icon-all::after {
    width: 27px;
    height: 27px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #9fabb2;
}

.sprite-icon-all::after {
    position: absolute;
    right: 3px;
    bottom: 3px;
    content: "";
}

.checkout-content .section-summary .section-content p {
    margin-bottom: 0px;
}

.checkout-content .section-summary .section-content p.package-name {
    margin-bottom: 10px;
    height: auto;
}

.checkout-content .section-summary .section-content .row-change-provider {

}

#cart-content .section-summary .section-content-new-connection .col-sm-11 .row {
    padding-bottom: 0px;
}

#section-summary-saveChangeProvider hr:last-of-type {
    display: none;
}

label[for*="[same_day_schedule]"] {
    pointer-events: none;
}

.overflow-hidden-div {
    overflow: hidden;
}

span.package-name {
    height: 16px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #2d4552;
    margin: 0;
}

/* ============================================================
      REMARKS
    ============================================================ */
#checkout-wrapper .remarks-content, #checkout-wrapper .checkbox-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

#checkout-wrapper .remarks-content {
    background-color: rgba(0, 0, 0, 0.03);
    border: solid 1px rgba(217, 217, 217, 0.5);
    padding: 15px 15px 20px 15px;
}

#checkout-wrapper .remarks-content .checkbox-button {
    border: 1px solid #d9d9d9;
    padding: 11px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .03);
}

#checkout-wrapper .remarks-content .checkbox-button.inactive input[type="checkbox"] + label {
    background: none;
    border: 1px solid #d9d9d9;
}

#checkout-wrapper .remarks-content .checkbox-button label {
    margin-bottom: 3px;
}

#checkout-wrapper .remarks-content .input-group-custom {
    padding: 10px 0 0 0;
}

#checkout-wrapper .remarks-content .input-group-custom textarea {
    height: 150px;
    resize: vertical;
    overflow: hidden;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    cursor: pointer;
    position: absolute;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

#checkout-offer-send .modal-footer .btn-default{
    height:40px;
}

.checkout-modal .modal-footer .btn{
    height:40px;
}

.checkout-modal .modal-footer {
    padding-top: 25px !important;
}

.btn-addr-search {
    background-color: #6cc0dd;
    padding: 0 25px;
}

/* CHECKOUT OFFER MODAL - voicelog */
#checkout-offer-send .modal-content {
    border-radius: 0px;
}

#checkout-offer-send .btn {
    width: 120px;
    height: 40px;
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.05);
}

#checkout-wrapper .checkout-section .hidden-content .change_provider_later_wrapper span {
    font-size: 14px;
    line-height: 17px;
}
.all-img {
    height: 30px;
    width: 30px;
}
.customer-summary--soho-registration {
    margin-top: 10px;
}

.installer-count {
    position: absolute;
    right: 12px;
    top: 78px;
}
.planned-delivery {
    margin-top: 15px;
}

.same-day-delivery-summary-block {
    margin-top: 10px;
}