/**
 * Demo color settings
 *
 * Dark: #005A85
 * Light #009fe3
 * Mine Shaft: #333333
 */
/* Include Fonts Start */
/* import url("https://fonts.googleapis.com/css?family=Nunito:400,300,700"); */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/* Include Fonts End */

/* Font Replacement Start */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

#customer-search-results .order-level-status,
.message,
input, select,
textarea {
    font-family: "Roboto", sans-serif;
}

body {
    font: 12px/1.5 "Roboto", sans-serif;
}

#customer_link_details tbody,
#customer_results tbody,
.dots-menu .menu-expand,
.info-message .info-container {
    font-family: "Roboto", sans-serif;
}

#cart_totals .div-table thead .div-table-row-header th,
#cart_totals .div-table-row .div-table-cell,
#cart_totals .div-table-row.grand-total,
#configurator_checkout_btn,
.expanded-shoppingcart-totals p.total,
.expanded_checkout_btn,
.labels-costs,
.note-placeholder .p,
.package-item-header th,
.package-items-table .original-price,
.package-items-table tbody .monthly-costs,
.package-items-table tbody .one-of-costs,
.package-items-table tfoot .monthly-costs,
.package-items-table tfoot .one-of-costs,
.package-title,
.right_expanded_packets .package-summary,
.submit-coupon-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400
}

#cart_totals .cart_totals_header {
    font: 700 22px "Roboto", sans-serif;
}

.customer-results-table .title div.table-title,
.package-items-table .slice-months,
.package-items-table .subscription-details,
.table-title-search,
div.results-count,
input[type=text].cart-coupon-input {
    font-family: "Roboto", sans-serif;
}

.side-cart .title .mark,
div.title span.package-type,
input.submit-coupon-button {
    font: 12px "Roboto", sans-serif;
    font-weight: 400;
}

.cart_packages .side-cart {
    font: 12px/1 pantonregular, Arial;
}

.modal.billingModal .modal-body,
.shoppingCartModalDelete .modal .modal-content p,
.shoppingCartModalDelete .modal-title {
    font-family: "Roboto", sans-serif;
}

.modal.billingModal .modal-header,
.shoppingCartModalDelete .modal-footer .btn,
h5,
table.shopping-package-table thead tr th {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

#back-to-search, #save-cart-form p label,
.btn-info,
.customer-info p,
.shoppingCartModal .package-items-table .subscription-details,
p.h7,
span.black-circle,
table.shopping-package-details-table tbody tr td,
table.shopping-package-details-table thead tr th,
table.shopping-package-table tbody tr td {
    font-family: "Roboto", sans-serif;
}

.btn-info-black {
    font: 14px "Roboto", sans-serif;
    font-weight: 400
}

.customer_ctns .nav-tabs > li > a {
    font: 16px "Roboto", sans-serif;
}

.customer_ctns div span.number-of-circle {
    font: 12px "Roboto", sans-serif;
    float: left;
    position: relative;
    padding: 0;
    left: 0;
    margin: 0;
    padding: 2px 3px 0px;
    height: auto;
    width: auto;
    min-width: 18px;
    text-align: center;
}

.customer-name {
    font-family: "Roboto", sans-serif;
    font-weight: 400
}

#cart_totals .toggle-container .toggle-label label,
#link-details-360.customer-panel-table .table-description,
.cart_right_expanded p,
.cart_right_expanded p.title,
.col-right .buttons-container .btn-xs.btn-default,
.col-right .buttons-container .btn.btn-default,
.col-right .sticker .col-title,
.contact-person-details,
.customer-details-container,
.customer-search-form input.form-control,
.customer_left_search .advanced-search-label label,
.customer_left_search .advanced-search-label.off-state label,
.customer_left_search .col-title,
.customer_left_search .exact-search-label label,
.customer_left_search .exact-search-label.off-state label,
.customer_left_search .legacy-search-label label,
.customer_left_search .legacy-search-label.off-state label,
.new-search #new-search,
.dunning-alert-color div.product-details div.product-name,
.modal.totalBillingDetailsModal .col-md-6, .modal.totalBillingDetailsModal .col-md-5,
.accordion .accordion-item .accordion-head {
    font-family: "Roboto", sans-serif;
}

#cart_totals .cart_totals_btw,
.customer-id-container,
.customer_left_search label,
.div-table-cell.mobile-type span,
.view-mobile-products tbody tr td.mobile-type, tr.subscription p.table-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.customer-list-tab,
.customer-panel-table .table-description.message {
    font-family: "Roboto", sans-serif;
}

.customer-panel-table .div-table,
.left-sidebar-additional-info,
.tooltip .tooltip-inner {
    font: 12px "Roboto", sans-serif;
}

.checkAddressForMigration.migrateMoveModal .modal-body {
    font: 12px "Roboto", sans-serif;
}

.col-right .buttons-container .btn-group-title {
    font: 13px "Roboto", sans-serif;
}

.service-ability-name {
    font: 13px "Roboto", sans-serif;
}

.availability,
.service-ability {
    font: 12px "Roboto", sans-serif;
    font-weight: 400
}

.service-full-address {
    font: 13px "Roboto", sans-serif;
}

.lte-small-title {
    font: 12px "Roboto", sans-serif;
}

.service-additional-title {
    font: 12px "Roboto", sans-serif;
    font-weight: 400
}

.service-additional-entry {
    font: 12px "Roboto", sans-serif;
    margin-bottom: 0
}

.serviceability-check-warning,
.tooltip.auth-tooltip .header-tooltip,
h5.campaign-title {
    font-family: "Roboto", sans-serif;
}

.product-table .item-row .item-title {
    font: 14px "Roboto", sans-serif;
}

.product-table .item-desc {
    font: 12px/1.5 "Roboto", sans-serif;
}

.product-table .item-maf {
    font: 14px "Roboto", sans-serif;
}

.caller-data-content .caller-data-title,
.caller-data-content .campaign-title-details,
.campaign-row .campaign-badge,
.campaign-row.col-xs-12 .campaign-block .device-name,
.campaign-row.col-xs-12 .campaign-block .initial-price,
.campaign-row.col-xs-12 .campaign-block .initial-price .euro-sign-big,
.campaign-row.col-xs-12 .campaign-block .offer-name,
.campaign-row.col-xs-12 .campaign-block .remaining-contract,
.campaign-row.col-xs-12 .campaign-block .skus,
.campaign-row.col-xs-12 .campaign-block .subscription-name,
.campaign-row.col-xs-12 .campaign-block .usp1,
.campaign-row.col-xs-12 .campaign-block .usp2,
.products-sub-package-header .cancel-date {
    font-family: "Roboto", sans-serif;
}

.campaign-row.col-xs-12 .campaign-block .initial-price .per-month {
    font-family: "Roboto", sans-serif;
    font-weight: 400
}

.campaign-row.col-xs-12 .campaign-block .remaining-contract .remaining-price {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.products-sub-package-header .product-status {
    font: 400 14px "Roboto", sans-serif;
}

.product-details-content-container .product-type-title {
    font: 20px "Roboto", sans-serif;
    font-weight: 400
}

.cable-product-details-content .product-description-row .info-description,
.cable-product-details-content .product-description-row .info-title,
.fixed-product-details-content .product-description-row .info-description,
.fixed-product-details-content .product-description-row .info-title {
    font: 15px "Roboto", sans-serif;
}

.cable-product-details-content .product-name,
.fixed-product-details-content .product-name,
.fixed-product-details-content .right-column-content .addon-title,
.product-details-content-container .product-name,
.product-details-content-container .right-column-content .addon-title {
    font: 20px "Roboto", sans-serif;
    font-weight: 400;
}

.fixed-product-details-content .right-column-content .addon-name,
.product-details-content-container .right-column-content .addon-name,
.products-icon-info .no-of-products-icon span {
    font: 15px "Roboto", sans-serif;
    font-weight: 400;
}

.buttons-container .migrate-to-cable-container .migrate-to-cable-content .migrate-to-cable-title,
.buttons-container .migrate-to-dsl-container .migrate-to-dsl-content .migrate-to-dsl-title {
    font: 14px "Roboto", sans-serif;
    font-weight: 400;
}

.buttons-container .migrate-to-cable-container .migrate-to-cable-content .migrate-to-cable-package,
.buttons-container .migrate-to-dsl-container .migrate-to-dsl-content .migrate-to-dsl-package {
    font: 12px "Roboto", sans-serif;
}

.mobile-products .prolongation-section .days-until-expire {
    font: 12px "Roboto", sans-serif;
    font-weight: 400;
}

.fixed-product-details-content .right-column-content .addon-date,
.product-details-content-container .right-column-content .addon-date {
    font: 15px "Roboto", sans-serif;
}

.cable-product-details-content .left-column .customer-address-title,
.fixed-product-details-content .fixed-product-section,
.fixed-product-details-content .left-column .customer-address-title,
.product-details-content-container .right-column-content .customer-address-title {
    font: 20px "Roboto", sans-serif;
}

.cable-product-details-content .left-column .customer-address-value,
.fixed-product-details-content .left-column .customer-address-value,
.product-details-content-container .right-column-content .customer-address-value {
    font: 15px "Roboto", sans-serif;
}

#config-wrapper .conf-block .item-requires-serial .validation-error {
    font: 12px "Roboto", sans-serif;
}

#cart_totals .div-table tbody .div-table-cell,
#cart_totals .gesamt-min .grand-total .div-table-cell,
#checkout-wrapper .badge:after,
.bundle-details-packages .banner-bundle-pack,
.bundle-summary .bundle-summary-blocks .bundle-summary-block .summary-description,
.bundle-summary .bundle-summary-title,
.expanded-bundle-details .bundle-expanded,
.notification-bar p span.notification-bar-message {
    font-family: "Roboto", sans-serif;
}

.overview-block-section,
.overview-order-costs,
.overview-title-font,
.order-details-section p {
    font-family: "Roboto", sans-serif !important;
}

#checkout-wrapper {
    font-family: "Roboto", sans-serif !important;
}

#sales-id-menu>.dropdown-menu>li.first-row, #sales-id-menu>.dropdown-menu>li.first-row .dealer-name, #sales-id-menu>.dropdown-menu>li.first-row .dealer-id,
#sales-id-menu>.dropdown-menu>li.no-dealer-code, #sales-id-menu>.dropdown-menu>li.sales-id,
.bundle-package-summary ul li p,
.bundle-package-summary .new-price, .bundle-package-summary .old-price , .bundle-package-summary .small-text,
.bundle-package-block-body .orderline-text, .bundle-alternative-product .orderline-text,
#bundleModalAlternatives .bundle-alternatives-header .tab-details,
#bundleModalAlternatives .bundle-alternatives-body .bundle-alternative-product .orderline-text-description,
p.package-name,
.item-name,
.item-price,
.additional .item-name,
.overview-table-footer .item-name {
    font-family: "Roboto", sans-serif;
}
/* Font Replacement End */

/* Font Size Replacement Start */
#customer-search-results .order-level-status,
#homepage-wrapper #campaigns .tooltip-inner,
.bundle-details-packages .id-container,
.campaign-row.col-xs-12 .campaign-block .action-id-label,
.conf-block .product-table .family .family-header .family-status,
.customer_left_search label,
.div-table thead .div-table-row-header,
.mobile-products .product-prolongation-info .badge,
.note-placeholder .p,
.package-items-table .original-price,
.serviceability-container .message-invalid-address,
.serviceability-container .validation-advice,
span.black-circle {
    font-size: 12px;
}
/* Font Size Replacement End */

/* Login Changes Start */
.agent-account-login .main,
.agent-account-dealer .main,
.agent-account-temporarypassword .main,
.agent-account-password .main {
    background-color: #EEE6E4;
}
/* Login Changes End */

.main {
    background-color: #fafbfc;
}

.checkout-cart-index .main{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23005a85' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* Remove Vodafone Colors Start */
.sticker .toggle-container.soho-toggle label {
    cursor: pointer;
    padding-left: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.service-ability-none,
.service-ability-red {
    background-color: #e60002;
}

.service-ability-green,
.service-ability-true {
    background-color: #61c100;
}

.cable-product-details-content.cable-cls-details-content .info-title.info-title-cls.active,
.cable-product-details-content.cable-tv-details-content .info-title.info-title-tv.active,
.col-title,
.customer-results-table .title div.table-title,
.modal .modal-header,
.table-title-search,
h2,
td.retention-response div.not-possible .message {
    color: #333333;
}

.col-right .sticker .col-title {
    color: #2d4552 !important;
    line-height: 1.25em;
}

.campaign-row .campaign-badge {
    background: #333333;
}

.products-sub-package-header .popover .small-row .badge {
    background-color: #333333;
}

.mobile-products .product-prolongation-info .badge {
    background-color: #333333 !important;
}

#config-wrapper .conf-block .item-requires-serial .validation-error,
.bundle-details-packages .title,
.bundle-summary .bundle-summary-blocks .bundle-summary-block .title-option,
.bundle-summary .bundle-summary-title,
.caller-data-content .campaign-title-details,
.fixed-product-details-content .fixed-product-section.active,
.product-details-content-container .product-type-title,
.red-existing {
    color: #333333;
}

.notification-bar-error {
    background-color: #333333;
}

.open-orders-container .tooltip-inner {
    color: #333333;
    border: 1px solid #005a85;
}
/* Remove Vodafone Colors End */

/* Remove Vodafone Styling Start */
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-info {
    background-color: #005A85;
    border-color: #005A85;
}
/* Remove Vodafone Styling End */

/* Custom Demo Styling Start */
#orderview_layout_fix {
    background-color: #FFFFFF;
}

.customers-list > .customer-row {
    padding-bottom: 10px;
}
.customers-list .customer-row .row-with-headers{
    padding: 4px 0;
}
.customers-list > .customer-row:hover {
    background-color: #FAFBFC;
}

.customer-details-content > .phonenumber,
.customer-details-name > .names > .companyname {
    display: block;
}

.customer-details-content > .pull-right {
    position: absolute;
    top: 0;
    left: 0;
}

.customer_ctns div span.my-dashboard {
    width: 16px;
    height: 16px;
    display: block;
    background: url(../images/de/note.png) no-repeat;
    background-size: 16px 16px;
    position: relative;
    float: left;
}

.customer-results-table {
    max-height: calc(100vh - 50px);
}

.customer_ctns .nav-tabs > li > a {
    background-color: transparent;
}

.customer_ctns .nav-tabs > li:hover,
.customer_ctns .nav-tabs > li > a:hover {
    background-color: #f0f0f0 !important;
}

.view-specific-details {
    top: 5px;
}

#config-wrapper .conf-block .product-table .item-row .item-picture-container {
    position: inherit;
}

#cart-spinner-wrapper .package-lightbulb-tooltip {
    margin-top: -4px;
}
/* Custom Demo Styling End */

/* Navigation bar styling */
.header-container .header {
    padding: 0;
    height: 50px;
    background-color: #FFFFFF;
    background-image: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

#header {
    display: flex;
    justify-content: stretch;
}

    #header a:focus {
        color: inherit;
        border-radius: 0;
        background-color: transparent;
    }

.left-menu {
    position: static;
    left: auto;
    top: auto;
    padding: 0 5px;
    width: 300px;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 1px solid #d9d9d9;
}

    .logo-header {
        display: block;
        padding-left: 0;
        line-height: 30px;
        width: 88px;
    }

        .logo-header > a {
            padding: 10px;
            display: block;
        }

        .vz-logo {
            margin-top: 0;
            object-fit: none;
        }

    .ticket-menu-button {
        display: block;
        margin: 10px 15px 0 15px;
        padding: 0;
    }

        .ticket-menu-button .dropdown-toggle {
            display: block;
            padding: 3px;
        }

    .header .drop-menu {
        margin: 0 10px;
    }
    
        .header .drop-menu:first-child {
            margin-left: 0;
        }

.header-dropdown-button {
    background-image: url(../../../vznl/default/images/icons-navigation-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    display: inline-block;
    padding: 0 22px 0 0;
    line-height: 50px;
    color: #5b717c;
    font-size: 14px;
}

.middle-menu {
    flex: 1;
    padding: 10px 15px;
    position: relative;
}

    .serviceability-container {
        margin: -6px auto 0 auto;
        float: none;
        width: auto;
    }

    /* Serviceability legacy start */
    #topaddressCheckForm .check-button {
        padding: 5px 10px;
    }

    .address-check {
        width: auto;
        height: auto;
        float: none;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -10px;
    }
    
    span.loading-search {
        margin-top: 0;
    }
    .stop-cancel {
        text-decoration: none;
    }

    #serviceability-content {
        display: none;
        position: relative;
        max-width: 1000px;
        margin: -3px auto 0 auto;
    }

        #serviceability-content .serviceability-content {
            display: flex;
            justify-content: stretch;
            width: calc(100% - 21px);
            float: left;
        }

            #serviceability-content .serviceability-content .service-ability-top-cell {
                flex-grow: 1;
                display: block;
                overflow: hidden;
            }

            .service-ability-name {
                width: 100%;
                height: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            #serviceability-content .serviceability-content .service-ability-top-cell.service-full-address {
                text-overflow: ellipsis;
                white-space: nowrap;
                min-width: 30%;
                max-width: 300px;
            }

        #serviceability-content .additional-service-actions {
            display: block;
            float: left;
        }

        .service-ability {
            margin: 0 auto;
        }

        .service-more-info {
            margin-top: 2px;
        }

            .service-more-info:first-child {
                margin-top: 0;
            }
    /* Serviceability legacy end */


.right-menu {
    position: static;
    right: auto;
    top: auto;
    float: none;
    width: 300px;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    border-left: 1px solid #d9d9d9;
}

    .user-menu {
        float: left;
        margin-left: 10px;
        right: auto;
        cursor: inherit;
    }

        .user-menu .header-dropdown-button {
            padding-left: 10px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 214px;
        }

    #user-menu-logout {
        float: right;
        display: block;
        padding: 10px;
        margin: 7px 5px;
    }

        #user-menu-logout > img {
            display: block;
            width: 16px;
            height: 16px;
        }

@media screen and (max-width: 1280px) {
    .left-menu {
        width: auto;
        flex-basis: auto;
        flex-shrink: 1;
    }

    .right-menu {
        width: auto;
        flex-basis: auto;
        flex-shrink: 1;
    }

    .user-menu .header-dropdown-button {
        max-width: 120px;
    }

    #serviceability-content .serviceability-content .service-ability-top-cell.service-full-address {
        min-width: auto;
        max-width: 150px;
    }
}