/*
 * Copyright (c) 2016. Dynacommerce B.V.
 */

html,
body,
.page,
.main,
.wrapper,
.main-container{
    height:100%;
}

.header-container{
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:8000;
}

.col-main .wrapper{
    min-width: initial;
}

.col-main .nav-tabs{
    display:none;
}

#home-tabs {
    display:block;
}

.col-left.sidebar,
.col-right.sidebar{
    height:100%;
    border-bottom:none;
    position:fixed;
}

.col-right.sidebar{
    right:0;
}

.col-right.sidebar .sticker{
    height:100%;
}

.right.filter.last{
    display:none;
}

.active .activearrow{
    display:block;
}

.activearrow{
    background-image: url("../images/ctn_carrot.png");
    background-repeat: no-repeat;
    width: 68px;
    height: 68px;
    position: absolute;
    right: -68px;
    top: 0px;
    display:none;
}

ul li:first-child .activearrow{
    top:-1px;
}




/*
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
vanaf hier Ibrahim's edits
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/


/* Ibrahim @Laurens: logo/rhombus login page; moet nog refactured worden!! */
.rhombus {
    background: url("../images/rhombus-logo-original.png") no-repeat scroll -400px -400px rgba(0, 0, 0, 0);
    width: 693px;
    height: 100%;
    left: -40px;
    top: 0;
    position: absolute;
}
.rhombus-logo {
    background: url("../images/logo.png") no-repeat scroll rgba(0, 0, 0, 0);
    background-size:25%;
    background-position-x: 20%;
    margin-top:12%;
    width: 693px;
    height: 100%;
    top: 0;
    left:40px;
    position: absolute;
}
/* Ibrahim @Laurens: margin top in de configurator; moet nog refactured worden!! */

.sidebar .sticker {
    position: relative;
}

/* @Laurens; dit is vooral quit&dirty please refacture */
#cart_totals {
    width: 100%;
    position: absolute;
    margin-bottom: 30px;
    z-index: 999;
    bottom: 0px;
}	
.sticker .cart_packages{
    overflow: auto;
    height: 100%;
    height: calc(100% - 370px);
    height: -moz-calc(100% - 370px);
    height: -webkit-calc(100% - 370px);
    height: -o-calc(100% - 370px);
    height: -ms-calc(100% - 370px);
    margin: 0px -10px -400px -10px;
}
.sticker .cart_packages .side-cart.block{
    margin-bottom: 0px;
    border-bottom: 1px solid #DDD;
}
.checkout-totals #cart-totals{
    top: 0px;
}
@media screen and (max-height: 550px){
    .sticker #cart_totals {
        top:345px;
    }
    .sticker .cart_packages{
        height: 250px;
    }
    .checkout-totals #cart-totals{
        top: 0px;
    }
}

.col-main {
    padding: 0 10px !important;
}

.conf-header h3 {
margin-top: 5px;
margin-bottom: 0;
}

.conf-block .product-name {
    min-height: 1px !important;
    float: left;
    margin-left: 20px;
}

.conf-block .item-row .dot {
    height: 15px !important;
}

/* Customer search panel */
.customer_search_results .result{
    border-radius: 5px;
    margin: 8px 0px;
}

.customer_search_results .result:hover{
    background-color:#e4e4e4;
}

.stock-eop {
    text-decoration: underline;
    font-weight: bold;
    color: orange;
}
#cart-left .nav>li{
    cursor: pointer;
}
#cart-left .nav>li>a {
    background-color: #f2f2f2;
    color: #333;
}

.col-main .checkout-fix-wrapper {
    margin-left: -222px;
}

#cart-left .nav>li.active {
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#cart-left .nav>li.active:after, #cart-left .nav>li.active:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#cart-left .nav>li.active:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #f2f2f2;
    border-width: 14px 0 14px 9px;;
    margin-top: -14px;
}
#cart-left .nav>li.active:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #ccc;
    border-width: 15px 0 15px 10px;;
    margin-top: -15px;
}
#cart-left .nav>li, #cart-left .nav>li.disabled {
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.inner .clearer .white {
    height: 983px !important;
}

span.badge-customer {
    background: #ff9d29 !important;
}

.block .customer-company {
    font-family: arial;
}

.block .customer-address {
    font-family: arial;
}

.selected-item .product-image img {
    max-width: 48px;
}

.sidebar .sticker .cart_packages {
}

/* Edits by Ibrahim Please refacture */
.conf-block .block-header span {
    line-height: 1;
}

.conf-block .block-header {
    min-height: none !important;
}

.conf-block .item-row.selected, .conf-block .item-row.selected {
    background: #CBE4FF;
}
span.badge-da {
    background-color: purple !important;
}
.side-cart.block .box-description span{
    text-transform: none;
}

.col-md-2.wide-button,.col-sm-3.wide-button,.col-lg-2.wide-button {
    padding: 0;
    margin: 0;
}
.wide-button .glyphicon.glyphicon-list {
    margin-left: 10px;
    margin-top: 2px;
}
.control-label .incomplete, .conf-block span.incomplete {
    color: #FF0000;
    padding-left: 5px;
}
