<div class="container">
    <div class="row">
        <div class="col-md-12 page-title">
            <h1>Pagina niet gevonden</h1>
        </div>
        <div class="col-md-12">
            <p>De gewenste pagina kon niet worden gevonden.</p>
        </div>
    </div>
</div>