<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$inlifeOrders = [];
    $customerSession = Mage::getSingleton('customer/session');
    $section = $this->getSection();
    if(!$customerSession->getProspect()) {
        $ctns = $this->getCustomer()->getData('ctn');
        $orders = Mage::getModel('superorder/superorder')->getCollectionForCustomer();
        $carts = $this->getCustomer()->getShoppingCarts(true);
        if ($this->getCustomer()->getCustomerLabel() === Omnius_Customer_Model_Customer_Customer::LABEL_UNIFY) {
            $key = sprintf('%s_%s_%s', session_id(), $this->getCustomer()->getBan(), 'inlife_orders');
            if ($inlifeOrders = Mage::app()->getCache()->load($key)) {
                $inlifeOrders = unserialize($inlifeOrders);
            }
        }
    } else {
        $mediaUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
        $carts = $this->getCustomer()->getShoppingCarts(true);
    }
?>
        <div class="inner clearer white">
            <div class="tab-content">
                <?php switch ($section) :
                    case "carts-content" : ?>
                        <div class="tab-pane top_menu_content" id="carts-content">
                            <div class="row tab-title">
                                <h3 class="col-xs-12"><?php echo $this->__('Carts'); ?></h3>
                            </div>
                            <div id="cart-overview">
                                <h4><?php echo $this->__('Overview'); ?></h4>
                                <?php
                                if(count($carts)): ?>
                                    <ul class="cart_list clearfix">
                                        <li class="col-xs-3 arrow_desc" onclick="sortCartList('status', this)"><?php echo $this->__('Status'); ?></li>
                                        <li class="col-xs-3 arrow_desc" onclick="sortCartList('date', this)"><?php echo $this->__('Date'); ?></li>
                                        <li class="col-xs-3 arrow_desc" onclick="sortCartList('maker', this)"><?php echo $this->__('Creator') . ' | ' . $this->__('Channel'); ?></li>
                                        <li class="col-xs-3">&nbsp;</li>
                                    </ul>
                                    <div class="cart_overview">
                                        <?php foreach ($carts as $cart):
                                            if ($cart->getIsOffer() && $cart->getOfferExpireDays() <= 0) {
                                                $cart->setIsExpired(true);
                                            }
                                            ?>
                                            <ul class="clearfix">
                                                <li class="col-xs-3">
                                                    <div class="left">
                                                        <?php if ($cart->getIsOffer() && $cart->getCartStatus() != Omnius_Checkout_Model_Sales_Quote::CART_STATUS_RISK): ?>
                                                            <img src="<?php echo $this->getSkinUrl('images/offer.jpg') ?>" alt=""/>
                                                        <?php else: ?>
                                                            <img src="<?php echo $this->getSkinUrl('images/cart-black.png') ?>" alt=""/>
                                                        <?php endif; ?>
                                                    </div>
                                                    <div class="left cart-item">
                                                        <div><?php echo $cart->getIsOffer() && $cart->getCartStatus() != Omnius_Checkout_Model_Sales_Quote::CART_STATUS_RISK ? $this->__('Offer') : $this->__('Cart'); ?></div>
                                                        <?php if ($cart->getIsOffer()) : ?>
                                                            <?php if($cart->getCartStatus() == Omnius_Checkout_Model_Sales_Quote::CART_STATUS_RISK): ?>
                                                                <span><?php echo $this->__('Saved risk shopping cart'); ?></span>
                                                            <?php else: ?>
                                                                <span><?php echo ! $cart->getIsExpired() ? sprintf($cart->getOfferExpireDays() > 1 ? $this->__('%s days valid') : $this->__('%s day valid') , $cart->getOfferExpireDays())  : $this->__('Expired'); ?></span>
                                                            <?php endif; ?>
                                                        <?php else : ?>
                                                            <span><?php echo $cart->getCartStatus() != Omnius_Checkout_Model_Sales_Quote::CART_STATUS_SAVED ? ($cart->getCartStatusStep() ? $this->__(ucfirst($cart->getCartStatusStep())) : $this->__('Configurator') ) : $this->__('Saved shopping cart'); ?></span>
                                                        <?php endif; ?>
                                                    </div>
                                                </li>
                                                <li class="col-xs-3"><?php echo date('d-m-Y', strtotime($cart->getUpdatedAt())); ?></li>
                                                <?php
                                                $agent = Mage::getModel('agent/agent')->load($cart->getAgentId());
                                                $name = $agent ? $agent->getName() : $this->__('N/A');
                                                $chanel = $cart->getChannel() ?: ''
                                                ?>
                                                <li class="col-xs-3">
                                                    <?php echo sprintf('%s | %s', $name, $chanel); ?>
                                                </li>
                                                <li class="col-xs-3">
                                                    <?php if ($cart->getIsOffer() && $cart->getCartStatus() != Omnius_Checkout_Model_Sales_Quote::CART_STATUS_RISK) : ?>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-primary"<?php echo $cart->getIsExpired() ? ' disabled' : ' onclick="confirmOffer(\''. $cart->getId() .'\');"'; ?>><?php echo $this->__('Continue') ?></button>
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"<?php echo $cart->getIsExpired() ? ' disabled': ''; ?>>
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <?php if (! $cart->getIsExpired()) : ?>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li><a href="javascript:void(0)" onclick="deleteQuote(<?php echo $cart->getId() ?>, '<?php echo $cart->getTypeOfCartLiteral(); ?>');"><?php echo $this->__('Delete') ?></a></li>
                                                                    <li><a href="javascript:void(0)" onclick="showDetailsCartModal(<?php echo $cart->getId() ?>)"><?php echo $this->__('Details') ?></a></li>
                                                                    <?php if($cart->getCartStatus() != Omnius_Checkout_Model_Sales_Quote::CART_STATUS_RISK): ?>
                                                                        <li><a href="javascript:void(0)" onclick="jQuery.post('<?php echo Mage::getUrl('checkout/cart/emailQuote')?>?cartId=<?php echo $cart->getId(); ?>', function(response){ showModalError(response.message, response.error ? '<?php echo $this->__('Error') ?>' : '<?php echo $this->__('Success') ?>')})"><?php echo $this->__('Email offer') ?></a></li>
                                                                    <?php endif; ?>
                                                                </ul>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php else: ?>
                                                        <div class="btn-group pull-right">
                                                            <?php if($cart->getCartStatus() == Omnius_Checkout_Model_Sales_Quote::CART_STATUS_RISK) :?>
                                                                <button type="button" class="btn btn-primary"<?php echo ' onclick="confirmRisk(\''. $cart->getId() .'\');"'; ?>><?php echo $this->__('Continue') ?></button>
                                                            <?php else: ?>
                                                                <button type="button" class="btn btn-primary" onclick="reloadQuote('<?php echo $cart->getId() ?>');"><?php echo $this->__('Continue') ?></button>
                                                            <?php endif; ?>
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li><a href="javascript:void(0)" onclick="deleteQuote(<?php echo $cart->getId() ?>, '<?php echo $cart->getTypeOfCartLiteral(); ?>');"><?php echo $this->__('Delete') ?></a></li>
                                                                <li><a href="javascript:void(0)" onclick="showDetailsCartModal(<?php echo $cart->getId() ?>)"><?php echo $this->__('Details') ?></a></li>
                                                            </ul>
                                                        </div>
                                                    <?php endif; ?>
                                                </li>
                                            </ul>
                                        <?php endforeach; ?>
                                    </div>
                                <?php else: ?>
                                    <p><?php echo $this->__('Customer has no carts'); ?></p>
                                <?php endif; ?>
                            </div>
                        </div>
                    <?php break; ?>
                    <?php case "orders-content" : ?>
                        <div class="tab-pane top_menu_content" id="orders-content">
                            <div class="row tab-title">
                                <h3 class="col-xs-12"><?php echo $this->__('Orders'); ?></h3>
                            </div>
                            <div id="orders-overview">
                            <h4><?php echo $this->__('Overview'); ?></h4>
                            <?php
                            $ordersCount = empty($orders) ? 0 : count($orders);
                            $ilsOrdersCount = empty($inlifeOrders) ? 0 : count($inlifeOrders);
                            if ($ordersCount > 0 || $ilsOrdersCount > 0): ?>
                                <ul class="order_list">
                                    <li class="arrow_desc" onclick="sortOrderList('date', this)"><?php echo $this->__('Date'); ?></li>
                                    <li class="arrow_desc" onclick="sortOrderList('nr', this)"><?php echo $this->__('Order nr.'); ?></li>
                                    <li class="arrow_desc" onclick="sortOrderList('status', this)"><?php echo $this->__('Status'); ?></li>
                                </ul>
                                <div class="order_overview" id="order_overview_list">
                                    <?php $counter = 0; foreach($orders as $order): $counter++;?>
                                        <ul onclick="loadSuperOrder(<?php echo $order->getOrderNumber(); ?>);" class="clearfix" style="<?php echo (isset($inlifeOrders) && $counter == $ordersCount) ? 'border-bottom:none;' : '' ?>">
                                            <li><?php echo date('d-m-Y', strtotime($order->getCreatedAt())); ?></li>
                                            <li><?php echo $order->getOrderNumber(); ?></li>
                                            <li><?php echo $order->getOrderStatus(); ?></li>
                                        </ul>
                                    <?php endforeach; ?>
                                    <div id="inlife-orders">
                                        <?php echo isset($inlifeOrders) ? Mage::getBlockSingleton('page/html')->setInlifeOrders($inlifeOrders)->setTemplate('configurator/inlife/orders_list.phtml')->toHtml() : ''; ?>
                                    </div>
                                </div>
                            <?php else: ?>
                                <p><?php echo $this->__('Customer has no orders'); ?></p>
                            <?php endif; ?>
                            </div>
                            <div id="open-order">
        
                            </div>
                        </div>
                    <?php break; ?>
                    <?php case "products-content" : ?>
                        <div class="tab-pane top_menu_content" id="products-content">
                    <?php
                        $ctnArr = array();
                        $canCreatePackages = Mage::getSingleton('customer/session')->getAgent(true)->isGranted('CREATE_PACKAGE');
                        if (isset($ctns)) {
                            foreach ($ctns->getItems() as $ctn) {
                                // Fix for I-155640 - Email address contains wrong data and is not used in the frontend
                                $ctn->setEmail('');
                                array_push($ctnArr, $ctn->toArray());
                            }
                        }
                    ?>
                    <script type="text/javascript">
                        //make the filtering work on the formatted phone numbers
                        var dataCTNDocuments = jQuery('.customer_ctn_search').attr('data-documents');
                        if(dataCTNDocuments) {
                            var arrayElements = [];
                            jQuery.each(JSON.parse(dataCTNDocuments), function(index, elem) {
                                elem.ctn = customer.formatPhoneNumber(elem.ctn);
                                elem.raw_ctn = elem.ctn.replace(/ /g, '');
                                arrayElements.push(elem);
                            });
                            jQuery('.customer_ctn_search').attr('data-documents', JSON.stringify(arrayElements));
                        }
                    </script>
                    <div class="row tab-title">
                        <h3 class="col-xs-12"><?php echo $this->__('Products of'); ?> <?php echo sprintf('%s %s', $this->__($this->getCustomer()->getPrefix()), $this->getCustomer()->getLastname()) ?></h3>
                    </div>
                    <div class="row hidden" id="profile_credit_status">
                        <span class="error col-xs-12" id="profile_credit_status_text"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" name="customer_ctn_search" class="customer_ctn_search form-control" data-search-on-type="true" data-document-id="entity_id" data-search-fields="ctn,raw_ctn" data-callback="customer.filterCtn" data-documents='<?php echo htmlentities(json_encode($ctnArr)) ?>' placeholder="<?php echo $this->__('Filter on phone number'); ?>"/>
                            <a href="javascript:void(0)" class="search_ctn hide" onclick="customer.searchCustomerCtn()"></a>
                        </div>
                        <?php if(!$this->getCustomer()->isInMigration()):?>
                        <div class="col-xs-6">
                            <button class="refresh show_retainable btn btn-default" href="javascript:void(0)" onclick="customer.showOnlyRetainable(this)"><?php echo $this->__('Show retainable'); ?></button>
                            <?php if (isset($ctns) && count($ctns)): ?>
                                <input class="btn btn-primary" id="one-off-deal" type="button" value="<?php echo $this->__('One off Deal'); ?>" disabled="disabled"/>
                            <?php endif; ?>
                        </div>
                        <?php endif;?>
                    </div>
                    <div class="row relative">
                        <p id="no_retainable_msg"><!--filled with js--></p>
                        <div id="list_ctns">
                            <h4 class="ctn-result-amount row">
                                <span class="amount-of-ctns"><?php echo count($ctnArr) ?></span> <?php if(count($ctnArr) > 1){ echo $this->__('results'); }else{ echo $this->__('result'); } ?>
                            </h4>
                            <ul class="ctn_list row">
                                <li class="col-xs-1 hide">
                                    <div id="select_only_retainable">
                                        <label for="only_retainable_check" id="only_retainable_check_label">
                                            <input type="checkbox" id="only_retainable_check" disabled="disabled" onclick="customer.selectOnlyRetainable(this.checked)"/>
                                        </label>
                                    </div>    
                                </li>
                                <li class="col-xs-4 arrow_desc" onclick="sortCtnList('nr', this);"><?php echo $this->__('Phone number'); ?></li>
                                <li class="col-xs-3 arrow_desc" onclick="sortCtnList('date', this)"><?php echo $this->__('End date'); ?></li>
                                <li class="col-xs-2">&nbsp;</li>
                                <li class="col-xs-1">&nbsp;</li>
                                <li class="col-xs-1">&nbsp;</li>
                            </ul>
                            <style scoped="scoped" type="text/css">
                                .retainable { display: block;}
                            </style>
                            <div class="ctn_overview">
                                <?php
                                if (isset($ctns)) :
                                    foreach($ctns as $ctn): ?>
                                        <ul class="clearfix ctn_record row" data-id="<?php echo $ctn->getId(); ?>" data-ctn="<?php echo $ctn->getCtn(); ?>" data-rawctn="<?php echo $ctn->getCtn(); ?>">
                                            <li class="col-xs-1 hide">
                                                <input type="checkbox" disabled="disabled" id="ctn_checkbox_<?php echo $ctn->getId(); ?>"
                                                       class="ctn_checkbox" value="<?php echo $ctn->getId(); ?>" name="ctn[]"
                                                       onchange="checkCanAddToCart(this)" data-ctn="<?php echo $ctn->getCtn(); ?>" />
                                            </li>
                                            <li class="col-xs-4">
                                                <p for="ctn_checkbox_<?php echo $ctn->getId(); ?>" data-format="phonenumber" class="retainable-number"><?php echo $ctn->getCtn(); ?></p>
                                            </li>
                                            <?php
                                            $ctnAdditional = $ctn->getAdditional();
                                            $ctnProducts = isset($ctnAdditional['products']) ? $ctnAdditional['products'] : [];
                                            $ctnProductsFlat = '';
                                            if (!empty($ctnProducts)) {
                                                if (isset($ctnProducts['name'])) {
                                                    // only one item
                                                    $ctnProducts = array($ctnProducts);
                                                }
                                                foreach ($ctnProducts as $ctnProduct) {
                                                    $ctnProductsFlat .= $ctnProduct['name'] . ', ';
                                                }
                                            }
                                            if ($ctnProductsFlat) {
                                                $ctnProductsFlat = rtrim($ctnProductsFlat, ', ');
                                            }
                                            ?>
                                            <?php $showCtnInfo = !empty($ctnProducts)?>
                                                <li class="col-xs-3">
                                                    <p <?echo $showCtnInfo ? '' : ' class="hide"';?>><?php echo $ctn->getEndDate() ? $ctn->getEndDate()->format('d-m-Y') : $this->__('N/A'); ?></p>
                                                </li>
                                                <li class="col-xs-2">
                                                    <div class="ctn-details-trigger<?php echo $showCtnInfo ? '' : ' hide';?> " onclick="expandCtnDetails(this, '.ctn-details')" data-opened="H" data-closed="H"><span>H</span></div>
                                                </li>
                                                <li class="col-xs-1">
                                                    <div class="right ctn_box retainablectn retainable<?php echo $canCreatePackages?'':' disabled'; ?>" id="ctn_retain_<?php echo $ctn->getId(); ?>" onclick="
                                                        <?php if (Mage::getSingleton('customer/session')->getOrderEditMode()): ?>
                                                            showModalError('<?php echo $this->__('You can not renew an order because you are changing and order. You have to cancel your changes first and go to the configurator.');?>');
                                                            return;
                                                        <?php elseif (!$canCreatePackages): ?>
                                                            return ;
                                                        <?php else: ?>
                                                            createPackage('<?php echo $ctn->getCtn();?>','<?php echo Omnius_Checkout_Model_Sales_Quote_Item::RETENTION; ?>', '<?php echo $this->htmlEscape($ctnProductsFlat); ?>');
                                                        <?php endif;?>
                                                    ">
                                                        &nbsp;
                                                    </div>
                                                </li>
                                                <li class="col-xs-1 hide">
                                                    <div class="pull-right red notretainablectn glyphicon glyphicon-remove-circle"
                                                         data-toggle="tooltip" data-placement="right" title=""
                                                         id="ctn_not_retain_<?php echo $ctn->getId(); ?>">
                                                    </div>
                                                </li>
                                            <?php if ($showCtnInfo): ?>
                                                <li class="col-xs-1">
                                                    <?php if($ctn->isInlife() && $ctn->getStatus() == 'ACTIVE' && Mage::getSingleton('customer/session')->getCustomerInfoSync()): ?>                          
                                                        <div class="left ctn_box inlife" onclick="
                                                        <?php if (Mage::getSingleton('customer/session')->getOrderEditMode()): ?>
                                                            showModalError('<?php echo $this->__('You can not renew an order because you are changing and order. You have to cancel your changes first and go to the configurator.');?>');
                                                            return;
                                                        <?php else: ?> customer.modifyInlifeCtn('<?php echo $ctn->getCtn();?>')<?php endif;?>">
                                                            <?php echo $this->__('inlife'); ?>
                                                        </div>
                                                    <?php endif; ?>
                                                </li>
                                                <li class="col-xs-6 clearfix ctn-details">
                                                    <?php foreach ($ctnProducts as $ctnProduct): ?>
                                                        <p><?php echo sprintf('&bull;&nbsp;%s', $ctnProduct['name']) ?></p>
                                                    <?php endforeach; ?>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    <?php endforeach;
                                endif;
                                ?>
                            </div>
                        </div>
                    </div>
                    <?php if (isset($ctns) && count($ctns)): ?>
                        <div class="row ctn-detail-buttons">
                            <div class="col-xs-6 right">
                                <p class="ctn_actions">
                                    <span>
                                    </span>
                                    <input class="right btn btn-primary hide" disabled="disabled" type="button"  value="<?php echo $this->__('Configure'); ?>" onclick="createPackages();return false;"/>
                                </p>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
                    <?php break; ?>
                    <?php case "customer-content" : ?>
                        <div class="tab-pane top_menu_content" id="customer-content">
                            <div class="row tab-title">
                                <h3 class="col-xs-12"><?php echo $this->__('360 view'); ?></h3>
                            </div>
                            <div class="nav user-info-nav-buttons btn-group">
                                <?php if (isset($ctns)) :
                                        foreach($ctns as $ctn): ?>
                                    <button data-format="phonenumber" data-phone="<?php echo substr($ctn->getCtn(), -8); ?>" type="button" class="btn btn-default el-tab"><?php echo $ctn->getCtn(); ?></button>
                                <?php   endforeach;
                                    endif;
                                ?>
                            </div>
                            <iframe class="user-info-iframe hidden" width="100%" src="<?php echo Mage::helper('omnius_customer')->getUsageUrl(); ?>"></iframe>
                        </div>
                    <?php break; ?>
                    <?php case "nba-content" : ?>
                        <div class="tab-pane top_menu_content" id="nba-content">
                            <div class="row tab-title">
                                <h3 class="col-xs-12"><?php echo $this->__('Tip: good deal'); ?></h3>
                            </div>
                            <div class="nav user-info-nav-buttons btn-group">
                                <?php if (isset($ctns)) :
                                    foreach($ctns as $ctn): ?>
                                        <button data-format="phonenumber" data-phone="<?php echo $ctn->getCtn(); ?>" type="button" class="btn btn-default el-tab"><?php echo $ctn->getCtn(); ?></button>
                                    <?php   endforeach;
                                endif;
                                ?>
                            </div>
                        </div>
                        <?php break; ?>
                <?php endswitch; ?>
            </div>
        </div>

<!--Delete Saved Cart Modal-->
<div class="modal bs-modal-sm" id="remove-saved-quote-modal" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p class="offer"><?php echo $this->__('You want to delete the saved offer. The removal can not be reversed Are you sure you want to continue?');?></p>
                <p class="cart"><?php echo $this->__('You want to delete the saved cart. The removal can not be reversed. Are you sure you want to continue?');?></p>
                <p class="risk"><?php echo $this->__('You want to delete the saved risk-order. The removal can not be reversed Are you sure you want to continue?');?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('Cancel'); ?></button>
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="deleteSavedQuote(jQuery('#remove-saved-quote-modal').data('quote-id'));">
                    <?php echo Mage::helper('omnius_checkout')->__('Confirm'); ?>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
    window.search = new Search({events: 'change keyup'});
    //toggle dropdown button
    toggleDropdownButton();
    //add tabfunctionality to userinfo
    addTabFunctionUserInfo('<?php echo str_replace('-content', '', $section); ?>');
    //format phone numbers
    $('[data-format=phonenumber]').each(function(i){
        $(this).html(customer.formatPhoneNumber(jQuery(this).html()));
    });
    //format attribute number for filtering
    $('.ctn_record').each(function(j){
        var dataCtnFormatted = customer.formatPhoneNumber(jQuery(this).attr('data-ctn'));
        $(this).attr('data-ctn',dataCtnFormatted);
    });
    //adjust height of ctn overview tab on window.resize
    window.addResizeEvent(function(event) {
        if($('#products-content').hasClass('active')){
            setMaxHeightCTNOverview();
        }
    });
    $('.notretainablectn')
        .tooltip({
            'selector': '',
            'placement': 'right',
            'container':'body'
        })
        .on('mouseleave', function (ev) {
            $(this).show();
        });
});
</script>
