<div class="tab-pane top_menu_content" id="orders-content">
    <div class="row tab-title">
        <h3 class="col-xs-12"><?php echo $this->__('Orders'); ?></h3>
    </div>
    <div id="orders-overview">
        <div id="customer-screen-orders">
            <!-- Fixed with ajax -->
        </div>
    </div>
    <div id="open-order">

    </div>
</div>

<script type='text/javascript'>
    updateSectionOpenOrdersSection('all', customer.getLoggedInCustomer(), 1, 'id', 'desc', '', true, false);
</script>
