<?php
/**
 * @var $catalogHelper Dyna_Catalog_Helper_Data
 */
$catalogHelper = Mage::helper('dyna_catalog');

/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

$installedBaseProducts = $this->getInstalledBaseProducts();
$package = $this->getPackage();
$packageItemsBySections = $this->getPackageItemsBySections();
$productsInSection = $this->getProductsInSection();
$section = $this->getSection();
$templateData = $this->getTemplateData();

foreach ($packageItemsBySections[$section]['items'] as $key => $product) {
    // find if there is a price slicing to be display at the bottom of this packages

    /** @var Dyna_Catalog_Model_Product $productModel */
    $productModel = Mage::getSingleton('catalog/product');
    $productModel = $productModel->loadByAttribute('sku', $product['sku']);
    $noPrice = false;
    if (in_array($product['sku'], $installedBaseProducts) && !$productModel->isPromotion()) {
        $noPrice = true;
    }

    // Removed installed base products (ILS flow)
    $strikeThrough = (isset($product['is_alternate']) && $product['is_alternate']) ? ' striked' : '';
    $systemAction = isset($product['system_action']) ? $product['system_action'] : null;
    $isContractDrop = isset($product['is_contract_drop']) ? $product['is_contract_drop'] : null;
    $productCircleStyle = 'default-none';
    if (in_array($package->getSaleType(), array_merge(Dyna_Catalog_Model_ProcessContext::ILSProcessContexts(), Dyna_Catalog_Model_ProcessContext::getProlongationProcessContexts()))) {
        if ($systemAction == 'add') {
            $productCircleStyle = 'added-blue';
        } elseif ($isContractDrop) {
            if ($systemAction != 'N/A' && strtolower($section) == 'option') {
                $productCircleStyle = 'removed-red';
            }
        } elseif ($systemAction == 'existing') {
            $productCircleStyle = 'keep-grey';
        }
    }
    ?>
    <tr class="<?php echo $section . $strikeThrough; ?> <?php echo !$catalogHelper->getVisibility(Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_EXTENDED_SHOPPING_CART, $product['sku']) ? 'hidden' : ''; ?>">
        <?php if (!isset($templateData['infoSummary'])) { ?>
            <td class="package-spacer"></td>
        <?php } ?>
        <td class="names"<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?>>
            <span class="circle-small <?php echo $productCircleStyle; ?>"></span>
            <?php
            echo $product['name'];
            if (isset($product['period']) && $product['period']) {
                echo '<br>' . $product['period'] . " " . $this->__("months minimum term");
            }
            ?>
        </td>
        <td class="package-prices one-of-costs <?php echo !$product['product_visibility'] ? 'hidden' : ''; ?>">
            <?php
            if ($productsInSection['show_prices']) {
                if (!$noPrice && isset($product['original_custom_price']) && $product['original_custom_price'] > 0) {
                    echo (isset($templateData['infoSummary']) ? '<span' : '<p') . ' class="original-price">';
                    echo $helper->showNewFormattedPriced($product['original_custom_price']);
                    echo isset($templateData['infoSummary']) ? '</span>' : '</p>';
                    echo isset($templateData['infoSummary']) ? '<br>' : '';
                }
                if (!$noPrice && isset($product['row_total_incl_tax'])) {
                    echo $helper->showNewFormattedPriced($product['row_total_incl_tax']);
                }
            }
            ?>
        </td>
        <td class="package-prices monthly-costs <?php echo !$product['product_visibility'] ? 'hidden' : ''; ?>">
            <?php
            if ($productsInSection['show_prices']) {
                if (!$noPrice && isset($product['original_custom_maf']) && $product['original_custom_maf'] > 0) {
                    echo (isset($templateData['infoSummary']) ? '<span' : '<p') . ' class="original-price">';
                    echo $helper->showNewFormattedPriced($product['original_custom_maf']);
                    echo isset($templateData['infoSummary']) ? '</span>' : '</p>';
                    echo isset($templateData['infoSummary']) ? '<br>' : '';
                }
                if (!$noPrice && isset($product['maf_row_total_incl_tax'])) {
                    echo $helper->showNewFormattedPriced($product['maf_row_total_incl_tax']);
                }
            }
            ?>
        </td>
        <?php if (!isset($templateData['infoSummary'])) { ?>
            <td class="package-spacer"></td>
        <?php }
        ?>
    </tr>
    <?php
    if (isset($product['promos'])) {
        foreach ($product['promos'] as $promo) {
            $systemAction = isset($promo['system_action']) ? $promo['system_action'] : null;
            $productCircleStyle = 'default-none';
            if (in_array($package->getSaleType(), array_merge(Dyna_Catalog_Model_ProcessContext::ILSProcessContexts(), Dyna_Catalog_Model_ProcessContext::getProlongationProcessContexts()))) {
                if ($systemAction == 'add') {
                    $productCircleStyle = 'added-blue';
                } elseif ($isContractDrop) {
                    if ($systemAction != 'N/A' && strtolower($section) == 'option') {
                        $productCircleStyle = 'removed-red';
                    }
                } elseif ($systemAction == 'existing') {
                    $productCircleStyle = 'keep-grey';
                }
            }
            ?>
            <tr class="goody <?php echo !$promo['product_visibility'] ? 'hidden' : ''; ?>">
                <?php if (!isset($templateData['infoSummary'])) { ?>
                    <td class="package-spacer <?php echo !$promo['product_visibility'] ? 'hidden' : ''; ?>"></td>
                <?php } ?>
                <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?>
                        class="names <?php echo !$promo['product_visibility'] ? 'hidden' : ''; ?>">
                    <span class="circle-small <?php echo $productCircleStyle; ?>"></span>
                    <?php
                    echo (in_array(ucfirst($section), Dyna_Catalog_Model_Type::$footnotes)) ? "&#8226;" : '';
                    echo $promo['name'];
                    if (isset($promo['period']) && $promo['period']) {
                        echo "<br>" . "-" . $promo['period'] . " " . $this->__("months minimum term");
                    }
                    ?>
                </td>
                <td class="package-prices one-of-costs <?php echo !$promo['product_visibility'] ? 'hidden' : ''; ?>">
                    <?php
                    if ($productsInSection['show_prices']) {
                        if (!$noPrice && isset($promo['price_discount'])) {
                            echo $helper->showNewFormattedPriced(-1 * $promo['price_discount']);
                        }
                    }
                    ?>
                </td>
                <td class="package-prices monthly-costs <?php echo !$promo['product_visibility'] ? 'hidden' : ''; ?>">
                    <?php
                    if ($productsInSection['show_prices']) {
                        if (!$noPrice && isset($promo['maf_discount'])) {
                            echo $helper->showNewFormattedPriced(-1 * $promo['maf_discount']);
                        }
                    }
                    ?>
                </td>
                <?php if (!isset($templateData['infoSummary'])) { ?>
                    <td class="package-spacer <?php echo !$promo['product_visibility'] ? 'hidden' : ''; ?>"></td>
                <?php } ?>
            </tr>
            <?php
        }
    } ?>
<?php } ?>