<?php
$customerSession = Mage::getSingleton('dyna_customer/session');
$isSoho = Mage::getSingleton('customer/session')->getIsSoho();
$btwSessionState = Mage::getSingleton('customer/session')->getBtwState();
// initial state
if (is_null($isSoho) && is_null($btwSessionState)) {
    $btwState = filter_var($this->getBtwState(), FILTER_VALIDATE_BOOLEAN);
} else {
    $btwState = (bool) $isSoho;
    if ($btwSessionState == false) {
        $btwState = false;
    }
    if ($btwSessionState == true) {
        $btwState = true;
    }
}
?>
<div id="config-wrapper" class="hidden" style="<?php echo ($customerSession->getOrderEditMode()) ? 'margin-top: 86px !important;height: calc(100% - 66px);' : '' ?>">
    <?php echo $this->getChildHtml('bundles.options.wrapper'); ?>
    <div id="promo-rules-ajax" class="row" ><!-- Ajax content holder --></div>
    <div id="redPlusPanelContainerIdentifier" class="redPlusPanelContainer"></div>
    <div id="linkedAccountSelectionContainer" class="linkedAccountSelection hidden"></div>
    <?php if ($customerSession->getOrderEditMode()) : ?>
      <div class="change-order-notification">
        <div class="notification-banner notice new-ui-elements no-bottom-margin no-top-margin">
          <div class="notification-banner-text">
            <div class="notification-banner-title">
              <?php echo $this->__('You are changing order'); ?> <?php echo (string)$customerSession->getSuperOrder()->getOrderNumber(); ?>
            </div>
          </div>
          <div class="notification-banner-actions">
            <button class="btn btn-secondary small" onclick="window.location.href='<?php echo $this->getUrl('checkout/cart/cancelEditSuperorderPackage') ?>'">
              <span class="btn-content"><?php echo $this->__('Cancel'); ?></span>
            </button>
          </div>
        </div>
      </div>
    <?php endif; ?>
    <div class="content"></div>
    <div class="configurator-navigation">
      <div class="configurator-navigation-toggle"></div>
      <div class="configurator-navigation-menu"></div>
    </div>
</div>
<?php if (Mage::getSingleton('customer/session')->getFlagStatusForShopping()) {
        Mage::getSingleton('customer/session')->setData('flag_status_for_shopping', NULL);
?>
  <div class="clearfix"></div>
    <div class="notification-banner error">
      <div class="notification-banner-text">
        <div class="notification-banner-title"><?php echo $this->__('One or more orderlines have changed or no longer exist, and have been removed from saved Shoppingbag'); ?></div>
      </div>
    </div>
<?php } ?>
</div>