<?php $customerHelper = Mage::helper('vznl_customer');
$isBusiness = (bool) Mage::getSingleton('customer/session')->getCustomer()->getIsBusiness();
$packages = $quote->getPackages();
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();
$withBtw = Mage::getSingleton('customer/session')->showPriceWithBtw();
$agent = Mage::getModel('agent/agent')->load($quote->getAgentId());
$agentName = $agent->getId() ? ($agent->getFirstName() . ' ' . $agent->getLastName()) : '';
$isMobile = $quote->hasMobilePackage();
$isFixed = $quote->hasFixed();
$isConverged = $isMobile && $isFixed;

$canAccessRiskOrders = Mage::getSingleton('customer/session')->getAgent(true)->canSubmitRiskOrders();

$canViewSavedCart = $agent->isGranted(Vznl_Agent_Model_Agent::VIEW_SAVED_SHOPPING_CART);
$canDeleteSavedCart = $agent->isGranted(Vznl_Agent_Model_Agent::DELETE_SAVED_SHOPPING_CART);
$canChangeSavedCart = $agent->isGranted(Vznl_Agent_Model_Agent::CHANGE_SAVED_SHOPPING_CART);

$canViewSavedOffer = $agent->isGranted(Vznl_Agent_Model_Agent::VIEW_SAVED_OFFER);
$canDeleteSavedOffer = $agent->isGranted(Vznl_Agent_Model_Agent::DELETE_SAVED_OFFER);
$canChangeSavedOffer = $agent->isGranted(Vznl_Agent_Model_Agent::CHANGE_SAVED_OFFER);

$isCartExpired = Mage::helper('vznl_checkout')->isCartExpired($quote->getUpdatedAt()??$quote->getCreatedAt());
$isOfferExpired = Mage::helper('vznl_checkout')->isOfferExpired($quote->getUpdatedAt()??$quote->getCreatedAt());

switch(true) {
    case $quote->isOffer():
        $basketType = $this->__("Offer");
        break;
    case $quote->isRisk():
        $basketType = Mage::helper('vznl_checkout')->__("Risk order");
        break;
    case $quote->isSavedCart():
        $basketType = Mage::helper('vznl_checkout')->__("Shopping cart");
        break;
}

?>

<div class="tab-pane top_menu_content active saved-shopping-bag" id="panel-cart">

    <div class="order-sticky-header">
        <div class="header">
            <div class="shape-container">
                <img src="<?php echo $this->getSkinUrl('images/expand.svg') ?>" class="shape" data-toggle="carts-content" onclick="customerDe.loadCustomerInfo(this)">
            </div>
            <div class="order-number">
                <?php echo $basketType?> (<?php echo date('d-m-Y', strtotime($quote->getCreatedAt())); ?>)
            </div>
        </div>
        <div class="menu-actions">
            <ul>

                <!-- Modify: quote -->
                <?php if ($quote->isSavedCart()
                    && $canChangeSavedCart
                    && !$isCartExpired): ?>
                    <li>
                        <a href="#" onclick="reloadQuote(<?php echo $quote->getId() ?>, 0 ,this); return false;"><?php echo strtoupper($this->__('Change'));?></a>
                    </li>
                <?php else: ?>
                    <li class="disabled">
                        <a href="#"><?php echo strtoupper($this->__('Change'));?></a>
                    </li>
                <?php endif; ?>

                <!-- Send via email: quote, offer -->
                <?php if (($quote->isSavedCart() && !$isCartExpired)
                    || ($quote->isOffer() && !$isOfferExpired)): ?>
                    <li>
                        <a href="#" onclick="showSaveCartModal(true, <?php echo $quote->getId() ?>, <?php echo $quote->isOffer() ?>); return false;"><?php echo strtoupper($this->__('Send via email'));?></a>
                    </li>
                <?php else: ?>
                    <li class="disabled">
                        <a href="#"><?php echo strtoupper($this->__('Send via email'));?></a>
                    </li>
                <?php endif; ?>

                <!-- Delete: quote, offer, risk order -->
                <?php if (($quote->isSavedCart() && $canDeleteSavedCart)
                    || ($quote->isOffer() && $canDeleteSavedOffer)
                    || ($quote->isRisk() && $canAccessRiskOrders)): ?>
                    <li>
                        <a href="#" onclick="deleteQuote(<?php echo $quote->getId() ?>,'<?php echo $quote->getTypeOfCartLiteral() ?>'); return false;"><?php echo strtoupper($this->__('Delete'));?></a>
                    </li>
                <?php else: ?>
                    <li class="disabled">
                        <a href="#"><?php echo strtoupper($this->__('Delete'));?></a>
                    </li>
                <?php endif; ?>

            </ul>
        </div>

        <?php if ($quote->isRisk() && $canAccessRiskOrders) { ?>
            <div class="notification-banner warning">
                <div class="notification-banner-text">
                    <div class="notification-banner-title riskpadding">
                        <?php echo $customerHelper->__('This risk order has to be approved before submitting the real deal');?>
                    </div>
                    <div class="notification-banner-actions">
                        <button class="btn btn-secondary" onclick="confirmRisk(<?php echo $quote->getId() ?>);;">
                            <span class="btn-content"><?php echo $this->__('Approve'); ?></span>
                        </button>
                    </div>
                </div>
            </div>
        <?php } ?>

        <?php if ($quote->isOffer() && $canChangeSavedOffer) { ?>
            <div class="notification-banner">
                <div class="notification-banner-text">
                    <div class="notification-banner-title">
                        <?php echo $customerHelper->__('This offer has to be confirmed before submitting the real deal');?>
                    </div>
                    <div class="notification-banner-actions">
                        <button class="btn btn-secondary" onclick="confirmOffer(<?php echo $quote->getId() ?>);">
                            <span class="btn-content"><?php echo $this->__('Confirm'); ?></span>
                        </button>
                    </div>
                </div>
            </div>
        <?php } ?>

        <?php if($isCartExpired || $isOfferExpired): ?>
            <div class="notification-banner error">
                <div class="notification-banner-text">
                    <div class="notification-banner-title"><?php echo $basketType?> <?php echo $this->__('has expired and is no longer valid'); ?></div>
                </div>
            </div>
        <?php endif;?>
    </div>

    <div class="details-container">
        <?php
        reset($packages);
        $createdAt = time();
        $updatedAt = 0;
        $first = true;
        $subTotal = 0;
        $subTotalMaf = 0;
        $firstLoop = true;
        foreach ($packages as $package) :
            if ($package['created_at'] < $createdAt) {
                $createdAt = strtotime($package['created_at']);
            }
            if ($package['updated_at'] > $updatedAt) {
                $updatedAt = strtotime($package['updated_at']);
            }
            $packageId = $package['package_id'];
            $storeId = 0;
            if (isset($package['store_id'])) {
                $storeId = $package['store_id'];
            }
            $website = Mage::app()->getWebsite($storeId);
            $websiteName = $website->getId() ? $website->getName() : '';
            $customerId = 0;
            if (isset($package['customer_id'])) {
                $customerId = $package['customer_id'];
            }
            $createdAtTimestamp = strtotime($package['created_at']);
            $updatedAtTimestamp = strtotime($package['updated_at']);
            $packageModel = Mage::getModel('package/package')->getPackages(null, $quote->getId(), $packageId)->getFirstItem();
            $defaultPackageType = Mage::getModel('package/package')->getDefaultPackageType();
            $productGroupCollection = array();
            foreach ($defaultPackageType as $type) {
                $defaultProductOrder = Mage::getModel('package/package')->getDefaultProductOrder($simcard = false, $type);
                $productGroupCollection = array_merge($defaultProductOrder,$productGroupCollection);
            }
            $oldProductGroup = '';
            $currentPackage = Mage::getModel('package/package')->getPackages(null, $quote->getId(), $packageId)->getFirstItem();
            $currentPackage->setIsExtendedCart(true)->setWithBtw($withBtw)->setPackageId($packageId);

            $packageModel = $quote->getPackageById($packageId);
            $packageTypeAndTariffTitles = Mage::helper('vznl_package')->getTypeAndSubtypeTitle($package, null, Dyna_Catalog_Model_Product::GUI_COMMUNICATION);

            //remove items that are bundle component from display saved cart
            foreach ($package['items'] as $packageItem) {
                if ($packageItem->getBundleComponent() >= 0 && !is_null($packageItem->getBundleComponent())) {
                    $productPackageItem = Mage::getModel('catalog/product')->load($packageItem->getProductId());
                    if (!$productPackageItem->isSubscription()) {
                        unset($package['items'][$packageItem->getId()]);
                    }
                }
            }
            ?>

        <div class="package-container">
            <?php if ($firstLoop) : ?>
            <div class="details-right-col">

                <div class="table-mini table-details">
                    <h3><?php echo $this->__("Details"); ?></h3>
                    <p class="details-p">
                        <?php
                        echo sprintf(
                        $this->__('Created by %1$s for %2$s on %3$s'),
                        $agentName,
                        $websiteName,
                        date('d-m-Y H:i', $createdAt)
                        );?>
                    </p>
                    <?php if ($quote->getUpdatedAt() > 0) { ?>
                        <hr />
                        <p class="details-p">
                            <?php
                            echo sprintf(
                                $this->__('Edit by %1$s for %2$s on %3$s'),
                                $agentName,
                                $websiteName,
                                date('d-m-Y H:i', $updatedAt)
                            );
                            ?>
                        </p>
                    <?php } ?>
                </div>

                <div class="table-mini table-remarks">
                    <h3><?php echo $this->__("Notes"); ?></h3>
                    <?php $packageNote = Mage::getModel('dyna_checkout/packageNotes')->getCollection()->addFieldToFilter('quote_id',$quote->getId());
                    foreach ($packageNote as $note) { ?>
                        <div class="table-remark-content">
                            <p><?php echo $note->getNote(); ?></p>
                            <?php
                            $notePackage = Mage::getModel('package/package')->load($note->getPackageId());
                            $packageTitle = Mage::getModel('dyna_package/packageType')->loadByCode($notePackage->getType())->getFrontEndName();
                            ?>
                            <div class="package-type package-type-padding"><?php echo Mage::helper('vznl_checkout')->__($notePackage->getType()); ?></div>
                        </div>
                    <?php } ?>
                </div>
            </div>
            <?php endif; $firstLoop = false; ?>

            <div class="details-preview-table">
                <div class="order-details-table package-content-table">
                    <div class="package-head">
                        <div class="init"></div>
                        <div class="package-details">
                            <img class="fallback-img <?php echo Mage::helper('vznl_checkout')->__($package['type']); ?>" alt="" />
                            <div class="package-type"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></div>
                            <div class="orderline"><?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?></div>
                        </div>
                        <div class="round-box hidden"></div>
                    </div>
                    <!--START REPEAT-->
                    <?php
                    /**
                     * @var int $id
                     * @var Omnius_Checkout_Model_Sales_Quote_Item $item */
                    foreach ($productGroupCollection as $productGroup) { ?>
                        <?php $packageData = $currentPackage->getDisplayFor($productGroup, $package['items']); ?>
                        <?php if ($packageData) { ?>
                            <?php foreach ($packageData as $qo_id => $data) { ?>
                                <?php if (empty($data['name'])) continue; ?>
                                <?php if ($oldProductGroup != $productGroup ) { //if productGroup changed, put a dotted line ?>
                                    <div class="package-section">
                                        <div class="section-name">
                                            <?php echo $this->__($productGroup); ?>
                                        </div>
                                        <?php if (!$isIndirect) : ?>
                                            <div class="section-onetime">
                                                <?php echo $this->__('Upfront'); ?>
                                            </div>
                                        <?php endif; ?>
                                        <div class="section-monthly">
                                            <?php echo $this->__('Monthly'); ?>

                                        </div>
                                    </div>
                                    <?php $oldProductGroup = $productGroup; ?>
                                <?php } ?>
                                <div class="package-subsection">
                                    <?php for ($i = 0; $i < count($data['name']); $i++): ?>
                                        <?php if (!empty($data['image'][$i])): ?>
                                            <div class="subsection-element subsection-big">
                                                <div class="subsection-name">
                                                    <?php echo isset($data['name'][$i]) ? $data['name'][$i] : ''; ?>
                                                </div>
                                                <?php if (!$isIndirect) : ?>
                                                    <div class="section-onetime">
                                                        <?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?>
                                                    </div>
                                                <?php endif?>
                                                <div class="section-monthly">
                                                    <?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?>
                                                </div>
                                            </div>
                                        <?php else: ?>
                                            <div class="subsection-element subsection-small">
                                                <div class="subsection-name">
                                                    <?php echo isset($data['name'][$i]) ? $data['name'][$i] : ''; ?>
                                                </div>
                                                <?php if (!$isIndirect) : ?>
                                                    <div class="section-onetime">
                                                        <?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?>
                                                    </div>
                                                <?php endif?>
                                                <div class="section-monthly">
                                                    <?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?>
                                                </div>
                                            </div>
                                        <?php endif; ?>
                                    <?php endfor; ?>
                                </div>

                            <?php }
                        }
                    } ?>
                    <!--STOP REPEAT-->
                    <?php
                    $cancelledPackagesNow = Mage::helper('dyna_package')->getCancelledPackagesNow();
                    $cancelledPackages = $packageModel->isCancelled() ? [$packageModel->getPackageId()] : [];
                    $isCanceled = in_array($packageModel->getPackageId(), array_merge($cancelledPackages, $cancelledPackagesNow)) || strtotime($packageModel->getCancellationDate()) > 0;
                    $packageTotals = $packageModel->getPackageTotals($package['items']);
                    $labelClass = ($isCanceled !== false) ? 'striked ' : '';
                    $totalsClass = $labelClass . 'red';
                    $isDelivered = $packageModel->isDelivered();
                    $modifiledPackagesId = $this->getModifiedPackageIds() !== null ? $this->getModifiedPackageIds() : [];
                    ?>
                    <?php if (in_array($packageModel->getPackageId(), $modifiledPackagesId) && $isDelivered) { ?>
                        <?php $packageDiffPrice = Mage::helper('omnius_package')->getPackageDifferences($packageModel->getPackageId()); ?>
                        <?php $totalsClass = $labelClass; ?>
                    <?php } ?>
                    <div class="package-summary">
                        <div class="summary-contents">
                            <div class="subsection-name">
                                <?php echo $this->helper('tax')->__('Excl. VAT'); ?>
                            </div>
                            <?php if (!$isIndirect) : ?>
                                <div class="section-onetime">
                                    <?php echo Mage::helper('core')->currency($packageTotals['subtotal_price'], true, false); ?>
                                </div>
                            <?php endif?>
                            <div class="section-monthly">
                                <?php echo Mage::helper('core')->currency($packageTotals['subtotal_maf'], true, false); ?>
                            </div>
                        </div>
                        <div class="summary-contents">
                            <div class="subsection-name">
                                <?php echo $this->helper('tax')->__('VAT'); ?>
                            </div>
                            <?php if (!$isIndirect) : ?>
                                <div class="section-onetime">
                                    <?php echo Mage::helper('core')->currency($packageTotals['tax_price'], true, false); ?>
                                </div>
                            <?php endif?>
                            <div class="section-monthly">
                                <?php echo Mage::helper('core')->currency($packageTotals['tax_maf'], true, false); ?>
                            </div>
                        </div>
                        <div class="summary-contents">
                            <div class="subsection-name">
                                <strong><?php echo $this->helper('tax')->__('Package total incl. VAT'); ?></strong>
                            </div>
                            <?php if (!$isIndirect) : ?>
                                <div class="section-onetime">
                                    <strong><?php echo Mage::helper('core')->currency($packageTotals['total'], true, false); ?></strong>
                                </div>
                            <?php endif?>
                            <div class="section-monthly">
                                <strong><?php echo Mage::helper('core')->currency($packageTotals['total_maf'], true, false); ?></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <?php
            if (!$isIndirect) {
                $subTotal += $packageTotals['total'];
            }
            $subTotalMaf += $packageTotals['total_maf'];
        ?>
        <?php endforeach;?>
    </div>
