<?php
/** @var Dyna_Configurator_Block_Rightsidebar this */
/** @var Dyna_Checkout_Helper_Data $helper */
$helper = Mage::helper('dyna_checkout');
/** @var Dyna_Package_Helper_Data $packageHelper */
$packageHelper = Mage::helper('dyna_package');
/** @var Dyna_Catalog_Helper_Data $catalogHelper */
$catalogHelper = Mage::helper('dyna_catalog');

$quoteData = $this->getQuoteData();
$packages = $this->getPackages();
$agent = Mage::helper('agent/data')->getAgent();
$agentName = $agent ? $agent->getName() : '';
$dealerGroups = Mage::getSingleton('customer/session')->getAgent(true)->getDealer()->getDealerGroups();
$dealerGroupName = $dealerGroups->count() > 0 ? $dealerGroups->getFirstItem()->getName() : null;
$storeName = Mage::app()->getStore()->getName();
$mageDate = Mage::getModel('core/date');
$createdDateTimestamp = $quoteData ? $mageDate->timestamp(strtotime($quoteData->getData('created_at'))) : null;
$updatedDateTimestamp = $quoteData ? strtotime($quoteData->getDate('updated_at')) : null;
$customer = Mage::getSingleton('dyna_customer/session')->getCustomer();
$customerLoggedIn = $customer->isCustomerLoggedIn();
$withBtw = Mage::getSingleton('customer/session')->showPriceWithBtw();
/** @var Dyna_Configurator_Helper_Data $configuratorHelper */
$configuratorHelper = Mage::helper('dyna_configurator');
$hasKipWhileNotAllowed = $configuratorHelper->hasKIPWhileNotAllowed();
$packageTypes = Mage::helper('dyna_package')->getPackageTypes();
$completedMandatoryFamilies = Mage::helper("bundles")->hasMandatoryFamiliesCompleted();
$packageTypeAndTariffTitles = [];

$contextHelper = Mage::helper('dyna_catalog/processContext');
$processContext = $contextHelper->getProcessContextCode();

$isSoho = Mage::getSingleton('customer/session')->getIsSoho();
$btwSessionState = Mage::getSingleton('customer/session')->getBtwState();
$isCheckout = $this->getCheckout();

// initial state
if (is_null($isSoho) && is_null($btwSessionState)) {
    $btwState = true;
} else {
    $btwState = (bool)$isSoho;
    if ($btwSessionState == false) {
        $btwState = false;
    }
    if ($btwSessionState == true) {
        $btwState = true;
    }
}

if (!$completedMandatoryFamilies) {
    $familiesPerPackage = Mage::helper('bundles')->getMandatoryFamilies();
    foreach ($familiesPerPackage as $families) {
        foreach ($families as $family) {
            $familyNames[] = $family['familyName'];
        }
    }
}

if ($packages) {
    usort($packages, array(get_class($packageHelper), 'sortPackagesById'));
} else {
    $packages = array();
}

$templateData = $this->getData();
$includeForm = $this->getExcludeForm() ? false : true;

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();

$isRetailOrIndirect = $isIndirect || $agentHelper->isRetailStore();
?>

<?php echo isset($templateData['infoSummary']) ? $templateData['infoSummaryStyle'] : ''; ?>
<div id="right-panel-cart" style="<?php echo ($isCheckout) ? 'padding:0;' : ''; ?>" class="panel-content clearfix">
    <?php echo isset($templateData['infoSummary']) ? '<h2>' . $this->__('Your offer') . '</h2>' : ''; ?>
    <?php if ($includeForm) { ?>
    <form action="<?php echo $this->getUrl('checkout/cart'); ?>" id="expanded_form" method="POST">
        <input name="post_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getPostKey(); ?>"/>
    <?php } ?>

        <div class="cart_right_expanded_packages <?php echo ($isCheckout) ? 'row' : ''; ?>" style="height: 100%;">
            <?php
            /** @var Dyna_Package_Model_Package $package */
            $sortedPackages = $packageHelper->groupRedPlusPackages($packages);
            $sortedPackages = $packageHelper->groupInstalledBaseBundlePackages($sortedPackages);
            echo $this->getLayout()
                ->createBlock('core/template')
                ->setTemplate('customer/partials/sidebar_expanded_packages.phtml')
                ->addData([
                    'packages' => $sortedPackages,
                    'template_data' => $templateData,
                ])
                ->toHtml();
            ?>
            <!-- packages content from the right side-->
            <div class="col-xs-9 <?php echo isset($templateData['infoSummary']) ? '' : 'expanded-package-container '; ?>">

                <div class="clearfix row <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>">
                    <div class="cart_right_expanded col-xs-10" style="height: 140px; overflow-y: auto; position: relative; padding-top: 60px;">
                        <p class="title" style="margin-left: 20px;"><?php echo $this->__('Shopping Bag'); ?></p>
                        <?php if ($hasKipWhileNotAllowed) { ?>
                            <script>
                              jQuery(document).ready(function () {
                                showNotificationBar('<?php echo $this->__('Cannot continue because the selected customer already has a cable package'); ?>', 'warning');
                              });
                            </script>
                        <?php } ?>

                        <?php if (!$completedMandatoryFamilies && isset($familyNames)) { ?>
                            <script>
                              jQuery(document).ready(function () {
                                showNotificationBar('<?php echo $this->__('Cannot continue without selecting an item from the mandatory families: ') . implode(',', $familyNames); ?>', 'error');
                              });
                            </script>
                        <?php } ?>
                    </div>

                    <div class="col-xs-2" id="right-panel-cart-menu" style="margin-top: 60px">
                        <div class="menu-expand full">
                            <ul>
                                <?php if (!Mage::helper('vznl_agent')->isIndirectStore()) { ?>
                                <li>
                                    <a onclick="showSaveCartModal('<?php echo ($customerLoggedIn) ? 1 : 0 ?>');">
                                        <i class="vfde-save"></i>
                                        <?php echo $this->__("Save and send") ?>
                                    </a>
                                </li>
                                <?php } ?>
                                <li>
                                    <a onclick="showCancelCartModal();">
                                        <i class="vfde-delete"></i>
                                        <?php echo $this->__('Delete all packages') ?>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="pull-right mtm three-dots" onclick="switchPackageMenu(event, this)">
                            <img src="/skin/frontend/vznl/default/images/three-dots.svg"  alt="Save or delete cart" />
                        </div>
                    </div>
                </div>
                <div class="border-cart-expanded"></div>
                <!-- packages details devided per package devided per product-->
                <div class="expanded-package-details" data-spy="scroll" data-target="#right_expanded_packets" data-offset="50">
                    <?php
                    /** @var Dyna_Package_Model_Package $package */
                    /** @var Dyna_Package_Helper_Data $packageHelper */
                    $packageHelper = Mage::helper('dyna_package');
                    $hasPriceSliding = false;

                    foreach ($sortedPackages as $key => $value) {
                        if (in_array($value->getType(), Vznl_Catalog_Model_Type::getMobilePackages()))
                            $mobilePkgs[$key] = $value;
                        else
                            $fixpkg[$key] = $value;
                    }
                    if (!empty($mobilePkgs) && !empty($fixpkg))
                        $sortedPackages = $mobilePkgs + $fixpkg;

                    foreach ($sortedPackages as $counter => $package) {
                        // get unique base customer identifier and display it for ILS flows only
                        $uniqueBaseCustomerIdentifier = Mage::helper('dyna_checkout/layout')->getUniqueBaseIdentifier($package);
                        $priceSlicing = null;
                        $packageNotes = $package->getNotes();
                        $installedBaseProducts = explode(',', $package->getInstalledBaseProducts());
                        $class = $packageHelper->getPackageState($package->getData());
                        $numberOfCurrentRedplusMembers = $packageHelper->getNumberOfRedPlusGroupMembers($package->getData(), $package->getType());
                        $packageNotes = $packageHelper->checkNotes($package);

                        // Check if the package contains vf subscription
                        $hasVf = false;
                        foreach ($package->getData('items') as &$item) {
                            $product = $item->getProduct();
                            if ($product->isNetwork() && $product->isNetworkProduct()) {
                                $hasVf = true;
                            }
                        }

                        $isPriceIncreaseScope = 0;
                        foreach ($package->getData('items') as &$item) {
                            if ($isPriceIncreaseScope) {
                                break;
                            } else {
                                $isPriceIncreaseScope = $item->getProduct()->getPriceIncreaseScope();
                            }
                        }

                        unset($item, $product);
                        // Check if the package contains vf subscription and is not retention with old sim
                        $needsSim = $hasVf && !(($package->isRetention()) && $package['old_sim']);

                        if (isset($package['coupon']) && strlen($package['coupon']) > 0) {
                            $coupon = $package['coupon'];
                        } else {
                            $coupon = false;
                        }
                        $packageTitle = Mage::getModel('dyna_package/packageType')->loadByCode($package->getType())->getFrontEndName();
                        $packageTypeAndTariffTitles = Mage::helper('vznl_package')->getTypeAndSubtypeTitle($package, null, Dyna_Catalog_Model_Product::GUI_COMMUNICATION);
                        $packageId = $package->getPackageId();
                        $packageIcon = ($package->getType() == "mobile") ? "orderline-header-mobileicon" : "orderline-header-fixedicon";
                        $cartPackageType = $package->isFixed() ? Vznl_Catalog_Model_Type::TYPE_FIXED : Dyna_Catalog_Model_Type::TYPE_MOBILE;
                        $productGroupCollection = Vznl_Package_Model_Package::getDefaultProductOrder($simcard = false, $cartPackageType);
                        $oldProductGroup = '';
                        $packageId = $package->getPackageId();
                        $deletePackageModalType = $packageHelper->getDeleteModalType($package);
                        $packageItems = $package->getData('items');
                        $alternateItems = $package->getAlternateItems();
                        if (count($alternateItems)) {
                            // Inject ILS changed items in extended cart
                            $packageItems = array_merge($packageItems, $alternateItems);
                        }
                        $currentPackage = Mage::getModel('package/package')->getPackages(null, $quoteData->getId(), $packageId)->getFirstItem();
                        $currentPackage->setIsExtendedCart(true)->setWithBtw($withBtw)->setPackageId($packageId);
                        $manualActivation = trim($package->getData('manual_activation_reason'));
                        $manualActivationNote = trim($package->getData('manual_activation_user_input'));
                        $manualSimcard = $package->getData('sim_number');
                        $packageTotals = Mage::helper('dyna_configurator')->getActivePackageTotals($package->getPackageId(), true);
                        $packageTotalsWoTax = Mage::helper('dyna_configurator')->getActivePackageTotals($package->getPackageId(), false);
                        $quoteModel = Mage::getSingleton('checkout/cart')->getQuote();
                        $devicePaymentDeduction = $quoteModel->getTotalDevicePayment($packageId);
                        $packageTotals['totalprice'] += $devicePaymentDeduction;
                        $packageTotalsWoTax['totalprice'] += $devicePaymentDeduction;
                        $toBePaid = Mage::registry('to_pay_amount');
                        Mage::unregister('to_pay_amount');
                        $totalDevicePriceDeduction = $quoteModel->getTotalDevicePayment();
                        if ($toBePaid) {
                            $toBePaid[$package->getPackageId()] = $packageTotals['totalprice'];
                        } else {
                            $toBePaid = array($package->getPackageId() => $packageTotals['totalprice']);
                        }
                        Mage::register('to_pay_amount', $toBePaid, true);
                        Mage::getSingleton('customer/session')->setToPayAmount($toBePaid);
                        ?>
                        <!--Start :  New design for checkout order overview ------------>
                        <div class="orderline-advanced" id="scroll-pack-<?php echo $package->getPackageId(); ?>" data-package-id="<?php echo $package->getPackageId() ?>" style="margin-bottom: 20px;">
                            <!-- Orderline header section -->
                            <div class="orderline-header">
                                <div class="orderline-header-title">
                                    <h6 class="orderline-header-title-category"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></h6>
                                    <h5 class="orderline-header-title-name"><?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?></h5>
                                </div>
                                <div class="orderline-header-actions">
                                    <?php
                                    if (in_array(strtolower($package['sale_type']), [strtolower(Vznl_Checkout_Model_Sales_Quote_Item::RETENTIE), strtolower(Dyna_Checkout_Model_Sales_Quote_Item::RETENTION)])):
                                        if (isset($package['ctn']) && strpos($package['ctn'], ',') !== FALSE) {
                                            $ctnText = (count(explode(',',$package['ctn']))) . 'CTN\'s' . '<span style="display:none">' . $package['ctn'] . '</span>';
                                        } else {
                                            $ctnText = isset($package['ctn']) ? $package['ctn'] : '';
                                        }
                                    endif; ?>

                                    <div class="orderline-action contextmenu-action" onclick="expandPackageMenu(event, this)">
                                        <div class="orderline-action-icon"></div>
                                        <ul class="contextmenu" pkg-id="<?php echo $package->getPackageId(); ?>" pkg-name="<?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?>">
                                            <li class="contextmenu-item" pkg-id="<?php echo $package->getPackageId(); ?>" pkg-name="<?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?>" onclick="window.customer.displayNoteAddForm(this)">
                                                <div class="contextmenu-item-icon note-icon"></div>
                                                <?php echo $this->__('Note'); ?>
                                            </li>
                                            <li class="contextmenu-item" onclick="window.location.href = '<?php echo Mage::getUrl() . '?packageId=' . $package->getPackageId(); ?>'">
                                                <div class="contextmenu-item-icon edit-icon"></div>
                                                <?php echo $this->__('Edit'); ?>
                                            </li>
                                            <?php if(in_array($package['type'], Vznl_Catalog_Model_Type::getMobilePackages())) {?>
                                            <li class="contextmenu-item manual_activate_check <?php echo ($manualActivation) ?  'hidden' : '' ?>"
                                                onclick="manualActivateNew(<?php echo $isRetailOrIndirect ? 'true' : 'false'; ?>, <?php echo $needsSim ? $needsSim.',':''; ?>this )"
                                                sim="<?php echo $manualSimcard ? $manualSimcard:''; ?>"
                                                note="<?php echo $manualActivationNote ? $manualActivationNote :''; ?>"
                                                id="manual_activate_<?php echo $package->getPackageId(); ?>"
                                                name="manual_activate[<?php echo $package->getPackageId(); ?>]">
                                                <div class="contextmenu-item-icon connect-icon"></div>
                                                <?php echo $this->__('Connect manually'); ?>
                                            </li>
                                            <li class="contextmenu-item not-connect-manualy not-connect-manualy-<?php echo $package->getPackageId(); ?> <?php echo (!$manualActivation) ?  'hidden' : '' ?>" onclick="doNotConnnectManually(this)" >
                                                <div class="contextmenu-item-icon connect-icon"></div>
                                                <?php echo $this->__('Don\'t connect manually'); ?>
                                            </li>
                                            <?php } ?>
                                            <li
                                                class="contextmenu-item"
                                                data-modal-type="<?php echo $deletePackageModalType['modalType']; ?>"
                                                data-package-title="<?php echo $deletePackageModalType['packageTitle']; ?>"
                                                data-bundle-id="<?php echo $deletePackageModalType['bundleId']; ?>"
                                                data-bundle-dummy-package-name="<?php echo $deletePackageModalType['dummyPackageTitle']; ?>"
                                                data-modal-message="<?php echo $deletePackageModalType['modalMessage']; ?>"
                                                data-package-id="<?php echo $package->getPackageId(); ?>"
                                                onclick="showCancelPackageModal(event, this)">
                                                <div class="contextmenu-item-icon delete-icon"></div>
                                                <?php echo $this->__('Delete'); ?>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="orderline-indicator note-indicator">
                                        <div onclick="window.customerDe.getNoteOnPackage(this, 0)" class=" orderline-action-icon package-notes-extended <?php echo $packageNotes ? '' : 'hidden' ?>
					                    <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>" id="<?php echo $package->getPackageId(); ?>"></div>
                                    </div>

                                    <?php if ($class['state']['badge'] && !isset($templateData['infoSummary']) && !($processContext == Vznl_Catalog_Model_ProcessContext::ACQ)) : ?>
                                        <div style="width:30px;" class="badge  <?php echo $class['state']['badge']; ?>"
                                             data-toggle="tooltip" data-placement="left" data-container="body" data-html="true"
                                             data-template='<div class="tooltip ils-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                                             data-original-title="<h5><?php echo !empty($class['tooltipInfo']['title']) ? $class['tooltipInfo']['title'] : ''; ?></h5><p><?php echo !empty($ctnText) ? $this->__('Phone number').':  '.$ctnText : ''; ?></p>"
                                        >
                                            <i class="<?php echo $class['state']['icon']; ?>"></i>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>

                            <!-- Orderline dropdown section -->
                            <div class="orderline-dropdown">
                                <!-- Dropdown details section  -->
                                <div class="orderline-details <?php echo $package->getManualActivationReason()?"":'hidden'?> connect-manualy-<?php echo $package->getPackageId();?>">
                                    <table class="orderline-details-table">
                                        <tr>
                                            <td><?php echo $this->__('Connect manually reason');?></td>
                                            <td id="manual_reason_<?php echo $package->getPackageId();?>">
                                                <?php echo $manualActivation ? $manualActivation :''?>
                                            </td>
                                        </tr>
                                        <td><?php echo $this->__('Sim card number');?></td>
                                        <td id="manual_simcard_<?php echo $package->getPackageId();?>"><?php echo $manualSimcard ? $manualSimcard :''; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $this->__('Note');?></td>
                                            <td id="manual_remarks_<?php echo $package->getPackageId();?>"><?php echo $manualActivationNote ? $manualActivationNote :''; ?></td>
                                        </tr>
                                    </table>
                                    <input type="hidden" id="manual_activation_reason_<?php echo $package->getPackageId();?>" name="manual_activation_reason[<?php echo $package->getPackageId();?>]" value="<?php echo $package->getManualActivationReason()?$package->getManualActivationReason():''?>"/>
                                    <input type="hidden" id="manual_activation_simcard_<?php echo $package->getPackageId();?>" name="manual_activation_simcard[<?php echo $package->getPackageId();?>]" value="" />
                                    <input type="hidden" id="manual_activation_remarks_<?php echo $package->getPackageId(); ?>" name="manual_activation_remarks[<?php echo $package->getPackageId(); ?>]" value=""/>

                                </div>

                                <!--REPEAT: copy the following section for the amount of times you need-->
                                <div class="orderline-price-section-header" style="margin-bottom: 5px;">
                                    <table class="orderline-section-table">
                                        <tr>
                                            <td></td>
                                        <?php if (!$isIndirect): ?>
                                            <td><?php echo $this->__('Upfront'); ?></td>
                                        <?php endif; ?>
                                            <td><?php echo $this->__('Monthly'); ?></td>
                                            <?php $oldProductGroup = '' ?>
                                        </tr>
                                    </table>
                                </div>
                                <?php

                                foreach ($productGroupCollection as $key=>$productGroup) {
                                    $packageData = $currentPackage->getDisplayFor($productGroup, $packageItems);
                                    $sectionTotals = Mage::helper('vznl_configurator')->calculatePackageSectionTotals($packageItems, $btwState);
                                    if ($packageData) {
                                        $section = strtolower($productGroup);
                                        foreach ($packageData as $data) {
                                            if ($oldProductGroup !== $productGroup){ ?>
                                                <!--Price section header-->
                                                <?php if ($section != strtolower(Vznl_Catalog_Model_Type::SUBTYPE_SIMCARD))  { ?>
                                                    <div class="orderline-price-section-header">
                                                        <table class="orderline-section-table">
                                                            <tr>
                                                                <td style="vertical-align: middle;"><?php echo $this->__(ucfirst($packageHelper->getPackageSubtype($package->getType(), $section, true))); ?></td>
                                                            <?php if (!$isIndirect): ?>
                                                                <?php if ($section == strtolower(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE) && $devicePaymentDeduction) : ?>
                                                                    <td class="orderlineprice"><?php echo $helper->showNewFormattedPriced($sectionTotals['sectionprice'][$section] + $devicePaymentDeduction); ?></td>
                                                                <?php else : ?>
                                                                    <td class="orderlineprice"><?php echo $helper->showNewFormattedPriced($sectionTotals['sectionprice'][$section]); ?></td>
                                                                <?php endif; ?>
                                                            <?php endif; ?>
                                                                <td class="orderlineprice"><?php echo $helper->showNewFormattedPriced($sectionTotals['sectionmaf'][$section]); ?></td>
                                                                <?php $oldProductGroup = $productGroup ?>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                <?php } ?>

                                                <?php if (count($data['image']) > 0) { ?>

                                                    <div class="orderline-price-section-content">
                                                        <table class="orderline-section-table">
                                                            <?php for ($i = 0; $i < count($data['image']); $i++) : ?>
                                                                <!--Price section content-->
                                                                <tr>
                                                                    <td>
                                                                        <span class="circle-small <?=isset($data['circle_style'][$i]) ? $data['circle_style'][$i] : '';?>"></span>
                                                                        <?php echo isset($data['name'][$i]) ? $data['name'][$i] : ''; ?>
                                                                        <?php if ($i === 0 && !Mage::getSingleton('customer/session')->isBusinessCustomer() && !empty($data['iltRequired'])) { ?>
                                                                            <span class="item_ilt" data-toggle="tooltip" data-html="true"
                                                                                  data-container="body" data-placement="right"
                                                                                  title="<?php echo $this->__('In this monthly handset payment, an income test is necessary'); ?>"></span>
                                                                        <?php } ?>
                                                                    </td>
                                                                <?php if (!$isIndirect): ?>
                                                                    <td><?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?></td>
                                                                <?php endif; ?>
                                                                    <td><?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?></td>
                                                                </tr>
                                                            <?php endfor; ?>
                                                        </table>
                                                    </div>
                                                <?php } ?>
                                            <?php } ?>
                                        <?php } ?>
                                    <?php } ?>
                                <?php } ?>
                                <!--Total price Section-->

                                <div class="orderline-total-price-section">
                                    <table class="orderline-section-table">
                                        <?php if ($package->getType() == 'int_tv_fixtel') {
                                            $installationCost = 0;
                                            foreach ($quoteData->getAllItems(true) as $item) {
                                                if ($item->getSku() == "z_123456") {
                                                    $installationCost = number_format($item->getPrice(), 2) ;
                                                }
                                            }
                                            if($installationCost > 0) { ?>
                                                <tr>
                                                    <td><strong><?php echo $this->__('Installation Cost :'); ?></strong></td>
                                                    <td></td>
                                                    <td><strong><?php echo $helper->showNewFormattedPriced($installationCost); ?></strong> </td>
                                                </tr>
                                            <?php } ?>
                                        <?php } ?>
                                        <tr class="orderline-section-table-coupon">
                                            <td class="coupon-class" data-package-id="<?php echo $package->getPackageId(); ?>" <?php if (!$isIndirect) echo 'colspan="2"';  ?>>
                                                <?php if (! $quoteData->getIsOffer()) { ?>

                                                    <div id="couponCodeInput_<?php echo $package->getPackageId(); ?>"class="col-sm-6 form-group label-floating hidden new-ui-elements fluid">
                                                        <div class="input-wrapper is-empty package-item-description-coupon">
                                                            <label class="control-label add-coupon-code"><?php echo $this->__('Add coupon'); ?></label>
                                                            <input name="coupon" type="text" class="form-control cart-coupon-input" value="<?php echo $coupon; ?>">
                                                            <a class="btn btn-primary small" onclick= "applyCouponCode(jQuery(this).parent().parent(),'.coupon-class')">
                                                                <span class="btn-content"><?php echo $this->__('Apply'); ?></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a class="promocodelink" style="<?php if (isset($coupon) && $coupon !== false) echo 'display: none'; ?>" onclick="jQuery(this).addClass('hidden');jQuery('#couponCodeInput_<?php echo $package->getPackageId(); ?>').removeClass('hidden');"><?php echo $this->__('Add coupon'); ?></a>

                                                    <?php if (isset($coupon) && $coupon !== false) { ?>
                                                        <span class="remove-coupon" onclick="removeCouponCode(this,'<?php echo $coupon; ?>','.coupon-class')"><?php echo sprintf($this->__('Coupon added: %s'), (string)$coupon); ?></span>
                                                    <?php } ?>
                                                <?php } ?>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr class="orderline-section-table-price-row">
                                            <td><?php echo $this->__('Excl. VAT'); ?></td>
                                        <?php if (!$isIndirect): ?>
                                            <td><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotalsWoTax['totalprice']) : ''; ?></td>
                                        <?php endif; ?>
                                            <td><?php echo $helper->showNewFormattedPriced($packageTotalsWoTax['totalmaf'] > 0 ? $packageTotalsWoTax['totalmaf'] : 0); ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $this->__('VAT'); ?></td>
                                        <?php if (!$isIndirect): ?>
                                            <td><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotals['totalprice'] - $packageTotalsWoTax['totalprice']) : ''; ?></td>
                                        <?php endif; ?>
                                            <td><?php echo $helper->showNewFormattedPriced($packageTotals['totalmaf'] - $packageTotalsWoTax['totalmaf'] > 0 ? $packageTotals['totalmaf'] - $packageTotalsWoTax['totalmaf'] : 0); ?></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <?php if ($devicePaymentDeduction > 0 && !$isIndirect) : ?>
                                                    <?php echo $this->__('Total'); ?>
                                                <?php else : ?>
                                                    <?php echo $this->__('Package total incl. VAT'); ?>
                                                <?php endif; ?>
                                            </td>
                                        <?php if (!$isIndirect): ?>
                                            <td><strong><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotals['totalprice']) : ''; ?></strong></td>
                                        <?php endif; ?>
                                            <td><strong><?php echo $helper->showNewFormattedPriced($packageTotals['totalmaf'] > 0 ? $packageTotals['totalmaf'] : 0); ?></strong></td>
                                        </tr>
                                        <?php
                                        if ($devicePaymentDeduction > 0 && !$isIndirect) {?>
                                            <tr><td colspan="3"></td></tr>
                                            <tr>
                                                <td> <?php echo $this->__('Deduction for monthly device payment'); ?></td>
                                                <td class="total fs13 fw500">
                                                    &minus; &euro; <?php echo number_format($devicePaymentDeduction, 2,',','.'); ?>
                                                </td>
                                            </tr>
                                            <tr><td colspan="3"></td></tr>
                                            <tr>
                                                <td><?php echo $this->__('Package total incl. VAT'); ?></td>
                                            <?php if (!$isIndirect): ?>
                                                <td><strong><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotals['totalprice']-$devicePaymentDeduction) : ''; ?></strong></td>
                                            <?php endif; ?>
                                                <td><strong><?php echo $helper->showNewFormattedPriced($packageTotals['totalmaf'] > 0 ? $packageTotals['totalmaf'] : 0); ?></strong></td>
                                            </tr>
                                        <?php } ?>
                                        <?php if ($package->getType() == 'int_tv_fixtel' && $isPriceIncreaseScope) { ?>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="notification-banner warning">
                                                        <div class="notification-banner-text">
                                                            <div class="notification-banner-title"><?php echo $this->__('Please note! For this package a price increase will take place in the near future'); ?></div>
                                                            <!-- Optional description -->
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <!--End :  New design for checkout order overview -->
                    <?php } ?>
                </div>

                <!-- totals for all packages -->
                <div class="expanded-shoppingcart-totals" data-state="false">
                    <?php echo Mage::getSingleton('core/layout')->createBlock('checkout/cart_totals')->setTemplate('checkout/cart/totals_expanded_cart.phtml')->setData('cart_sidebar', 'no')->setData('checkout', '0')->toHtml(); ?>

                    <?php
                    $complete = Mage::helper('dyna_checkout')->hasAllPackagesCompleted();
                    $disabled = (!$complete || $hasKipWhileNotAllowed || !$completedMandatoryFamilies) ? ' disabled' : '';
                    ?>
                    <div class="col-sm-12 expanded-package-next-button new-ui-elements clearfix <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>">
                        <?php if (Mage::app()->getRequest()->get('checkout', 0) == 0 && !Mage::getSingleton('customer/session')->getOrderEditMode()) { ?>
                            <button
                                <?php echo $disabled; ?>
                                class="btn fluid expanded_checkout_btn<?php echo $disabled; ?>"
                                type="button"
                                extendcartvalue="true"
                                id="expanded_checkout_btn"
                                onclick="expandedFormSubmit();"
                            >
                                <span class="btn-content"><?php echo $this->__('Proceed'); ?></span>
                            </button>
                        <?php } else { ?>
                            <a onclick="customer.setLoading(true);window.location.href='<?php echo $this->getUrl('checkout/cart/cancelEditSuperorderPackage') ?>';return false;"
                               style="" class="btn col-sm-4 btn-default"><?php echo $this->__('Cancel'); ?></a>
                        <?php } ?>
                    </div>
                </div>
            </div>
            <?php if (isset($templateData['infoSummary'])) { ?>
                <div style="clear: both;"></div>
            <?php } ?>
        </div>
        <?php if ($includeForm) { ?>
    </form> <!-- END form#expanded_form -->
<?php } ?>
</div> <!-- END #right-panel-cart -->
<?php
if (!$isCheckout) {
    echo Mage::getSingleton('core/layout')->createBlock('core/template')->setTemplate('checkout/cart/steps/scripts/right_sidebar.phtml')->toHtml();
}
?>
<script>
    jQuery('.input-wrapper').initInputElement();

    jQuery(document).ready(function($) {
        // Text input controls
        jQuery(document).on('focus','.form-group.coupon-class input', function() {
            console.log("asas");
            jQuery('.package-item-description-coupon').removeClass('is-empty');
        });
        // Applying correct label position for each input.
        jQuery(document).find('.form-group input, .form-group textarea').each(function() {
            const isEmpty = !jQuery(this).val() && !jQuery(this).attr('placeholder');
            if (isEmpty)
                jQuery('.package-item-description-coupon').addClass('is-empty');
            else
                jQuery('.package-item-description-coupon').removeClass('is-empty');
        });
        // Applying correct label position after blurring input.
        jQuery(document).on('blur input change', '.form-group input, .form-group textarea, .form-group select', function(event) {
            const isEmpty = !jQuery(this).val() && !jQuery(this).attr('placeholder');
            if ((event.type === 'input' || event.type === 'change') && (!jQuery(this).is(':focus') || jQuery(this).prop('nodeName') === 'SELECT')) {
                if (isEmpty) {
                    jQuery('.package-item-description-coupon').addClass('is-empty');
                } else {
                    jQuery('.package-item-description-coupon').removeClass('is-empty');
                }
            } else {
                if (isEmpty && !jQuery(this).is(':focus')) {
                    jQuery('.package-item-description-coupon').addClass('is-empty');
                }
            }
        });
    });
</script>
