<?php
/** @var Vznl_Customer_Helper_Data $customerHelper */
$customerHelper = Mage::helper('vznl_customer');
$agentHelper = Mage::helper('agent');

if(Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')):
    ?>
    <script id="Handlebars-Template-Details-Customer" type="text/x-handlebars-template">
        <div id="left-customer-info" class="customer-info" data-id="{{id}}" data-soho="{{isSoho}}">
            <a class="customer-return" onclick="customerDe.unloadCustomer(this);">
                <span class="customer-return-arrow"></span>
                <span class="customer-return-text"><?php echo $this->__('Return to Search Panel'); ?></span>
            </a>
            <div class="customer-info-block">
                <div class="customer-name-container">
                    {{#if isSoho}}
                    <span class="customer-name">{{company_name}}</span>
                    {{else}}
                    <span class="customer-name">
                            {{#compare isProspect 0 operator="=="}}
                                {{title}}
                            {{/compare}}
                            {{first_name}} {{middle_name}} {{last_name}}
                        </span>
                    {{/if}}
                </div>
                <div class="customer-accounts-container clearfix">
                    {{#compare ban null operator="!="}}
                    <span class="customer-ban">
                            <span class="dot dot-red"></span>{{ban}}
                        </span>
                    {{/compare}}
                    {{#compare pan null operator="!="}}
                    <span class="customer-ban">
                            <span class="dot dot-orange"></span>{{pan}}
                        </span>
                    {{/compare}}
                </div>
                {{#if isSoho}}
                <div class="contract-person-container">
                    <span class="contract-person-text"><?php echo $this->__('COMPANY INFORMATION'); ?></span>
                    <p class="contract-person-value">
                        {{company_coc}} <br/>
                        {{customer_subtype}}
                    </p>
                </div>
                <div class="contract-person-container">
                    <span class="contract-person-text"><?php echo $this->__('SIGN-AUTHORIZED CONTRACTOR'); ?></span>
                    <p class="contract-person-value">{{contractant_prefix}} {{first_name}} {{middle_name}} {{last_name}}</p>
                </div>
                {{/if}}
                <!-- Customer DOB Block -->
                {{#compare isProspect 0 operator="=="}}
                <div class="customer-details-container">
                    <div class="customer-details-dob" data-id="customer-details-dob">
                        {{#if birth_date}}
                        <span class="dob-text"><?php echo $this->__('Birth date'); ?>:</span>
                        <span class="dob-value" data-id="customer-details-dob">{{birth_date}}</span>
                        {{/if}}
                    </div>
                </div>
                {{else}}
                {{#if isSoho}}

                {{else}}
                <div class="customer-details-container">
                    <div class="customer-details-dob" data-id="customer-details-dob">
                        {{#if birth_date}}
                        <span class="dob-text"><?php echo $this->__('Birthdate'); ?>:</span>
                        <span class="dob-value" data-id="customer-details-dob">{{birth_date}}</span>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
                {{/compare}}

                {{#compare email null operator="!="}}
                <!-- Contact Details Block -->
                <div class="contact-person-container">
                    <span class="contact-person-text"><?php echo $this->__('Contact details'); ?>:</span>
                    <span class="contact-person-value">{{email}}</span>
                </div>
                {{/compare}}

                <!-- Customer Address Block -->
                <div class="customer-address-container">
                    {{#if pan}}
                    {{#if service_address}}
                    <span class="address-text"><?php echo $this->__('Address'); ?>:</span>
                    <p class="address-value">
                        {{service_address.street}} {{removeAddressAdditionSpace service_address.no}} {{service_address.house_addition}}<br />
                        {{service_address.postal_code}} {{service_address.city}}
                    </p>
                    {{else}}
                    <span class="address-text"><?php echo $this->__('Address'); ?>:</span>
                    <p class="address-value">
                        {{legal_address.street}} {{removeAddressAdditionSpace legal_address.no}} {{legal_address.house_addition}}<br />
                        {{legal_address.postal_code}} {{legal_address.city}}
                    </p>
                    {{/if}}
                    {{else if legal_address}}
                    <span class="address-text"><?php echo $this->__('Address'); ?>:</span>
                    <p class="address-value">
                        {{legal_address.street}} {{removeAddressAdditionSpace legal_address.no}} {{legal_address.house_addition}}<br />
                        {{legal_address.postal_code}} {{legal_address.city}}
                    </p>
                    {{else if service_address}}
                    <p class="address-value">
                        {{service_address.street}} {{removeAddressAdditionSpace service_address.no}} {{service_address.house_addition}}<br />
                        {{service_address.postal_code}} {{service_address.city}}
                    </p>
                    {{else}}
                    <p class="address-value">
                        {{street}} {{removeAddressAdditionSpace no}} {{house_addition}}<br />
                        {{postal_code}} {{city}}
                    </p>
                    {{/if}}
                </div>
            </div>
            <?php
            /**
             * In order to add another customer section:
             * make sure there is a unique value defined for data-toggle attribute,
             * make sure there that a handlebars template with the name left-sidebar-{data-toggle value} exists (by default these templates are appended to modals.phtml)
             * make sure the processing is defined in Dyna_Customer_Helper_Panel
             */
            ?>
            <ul id="customer-menu">
                <li>
                    <a id="product_info_left" class="vz-menu-line" data-slidebutton-left="panel" data-toggle="products-content" onclick="customerDe.loadCustomerInfo(this)">
                        <span class="customer-menu-icon">
                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <g>
                                    <path d="M2.008 6l2.014-3.244A1.6 1.6 0 0 1 5.382 2h9.16a1.6 1.6 0 0 1 1.345.734L17.991 6H18v10.588c0 .78-.632 1.412-1.412 1.412H3.412C2.632 18 2 17.368 2 16.588V6h.008zm1.717-.08H16.18l-1.342-2.333H5.066L3.725 5.92zM2.008 6L2 6.013h16L17.991 6H2.008zm5.495 2.111a1 1 0 1 0 0 2h4.994a1 1 0 0 0 0-2H7.503z" />>
                                </g>
                            </svg>
                        </span>
                        <span class="customer-menu-title">
                            {{#if products_count}}
                                <span class="number-of-circle">{{products_count}}</span>
                            {{/if}}
                            <?php echo $customerHelper->__('Products'); ?>
                        </span>
                    </a>
                </li>
                <?php if (!$agentHelper->isIndirectStore()) : ?>
                    <li>
                        <a id="cart_info_left" class="vz-menu-line" data-slidebutton-left="panel" data-toggle="carts-content" onclick="customerDe.loadCustomerInfo(this)">
                        <span class="customer-menu-icon">
                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <g>
                                    <path d="M10 2.714c1.289 0 2.333 1.152 2.333 2.572H7.667c0-1.42 1.044-2.572 2.333-2.572zm5.444 2.572H13.89c0-1.137-.41-2.227-1.14-3.03C12.022 1.451 11.032 1 10 1 7.852 1 6.111 2.919 6.111 5.286H4.556C3.692 5.286 3 6.049 3 7v10.286C3 18.232 3.696 19 4.556 19h10.888c.86 0 1.556-.768 1.556-1.714V7c0-.951-.7-1.714-1.556-1.714z" />
                                </g>
                            </svg>
                        </span>
                            <span class="customer-menu-title">
                            {{#if carts_count}}
                                <span class="number-of-circle">{{carts_count}}</span>
                            {{/if}}
                            <?php echo $this->__('Carts'); ?>
                        </span>
                        </a>
                    </li>
                <?php endif; ?>
                <li>
                    <a id="order_info_left" class="vz-menu-line" data-slidebutton-left="panel" data-toggle="orders-content" onclick="customerDe.loadCustomerInfo(this)">
                        <span class="customer-menu-icon">
                            <svg width="12" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16">
                                <g>
                                    <path d="M5.012 7.787L2 4.774l1.149-1.149 1.863 1.863L8.5 2l1.149 1.149-4.637 4.638zm0 6L2 10.774l1.149-1.149 1.863 1.863L8.5 8l1.149 1.149-4.637 4.638zM10.5 0h-9C.671 0 0 .716 0 1.6v12.8c0 .883.671 1.6 1.5 1.6h9c.829 0 1.5-.717 1.5-1.6V1.6c0-.884-.671-1.6-1.5-1.6z" />
                                </g>
                            </svg>
                        </span>
                        <span class="customer-menu-title">
                            {{#if orders_count}}
                                <span class="number-of-circle">{{orders_count}}</span>
                            {{/if}}
                            <?php echo $customerHelper->__('Orders'); ?>
                        </span>
                    </a>
                </li>
                {{#if allow_ziggo}}
                <?php
                if (Mage::getSingleton('customer/session')->getAgent(true)->getDealer()->getLineOfBusiness() == 'Combined'):?>
                    <li>
                        <a id="customer_info_left" class="vz-menu-line" data-slidebutton-left="panel" data-toggle="link-details" onclick="customerDe.loadCustomerInfo(this)">
                        <span class="customer-menu-icon">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path d="M10 16a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 10 16m5-7H7V5c0-1.654 1.346-3 3-3s3 1.346 3 3v1h2V5c0-2.757-2.243-5-5-5S5 2.243 5 5v4c-1.103 0-2 .896-2 2v7c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2v-7c0-1.104-.897-2-2-2" />
                                </g>
                            </svg>
                        </span>
                            <span class="customer-menu-title">
                            {{#if isLinked}}
                                <span class="number-of-circle">2</span>
                            {{/if}}
                            <?php echo $this->__('Linked accounts'); ?>
                        </span>
                        </a>
                    </li>
                <?php endif; ?>
                <!--<li>
                    <div class="customer-360-icons-container">
                        <span class="my-updates"></span>
                    </div>
                    <a id="customer_updates_left" data-slidebutton-left="panel" data-toggle="update-details" onclick="customerDe.loadCustomerInfo(this)"><?php //echo $this->__('Update Details'); ?></a>
                </li>-->
                {{/if}}
                <?php if (!$agentHelper->isIndirectStore()) { ?>
                    <li class="customer-menu-divider"></li>
                    <li>
                        <a id="customer_360_left" data-slidebutton-left="panel" data-toggle="customer-content" onclick="customerDe.loadCustomerInfo(this);">
                            <span class="customer-menu-icon">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <path d="M16.667 5H10L8.333 3.333h-5c-.916 0-1.658.75-1.658 1.667l-.008 10c0 .917.75 1.667 1.666 1.667h13.334c.916 0 1.666-.75 1.666-1.667V6.667c0-.917-.75-1.667-1.666-1.667zM12.5 7.5c.917 0 1.667.75 1.667 1.667 0 .916-.75 1.666-1.667 1.666s-1.667-.75-1.667-1.666c0-.917.75-1.667 1.667-1.667zm3.333 6.667H9.167v-.834c0-1.108 2.225-1.666 3.333-1.666s3.333.558 3.333 1.666v.834z" />
                                    </g>
                                </svg>
                            </span>
                            <span class="customer-menu-title"><?php echo $this->__('360 View'); ?></span>
                        </a>
                    </li>
                    <li>
                        <a id="customer_good_deal_left" data-slidebutton-left="panel" data-toggle="nba-content" onclick="customerDe.loadCustomerInfo(this);">
                            <span class="customer-menu-icon">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <path transform="rotate(-180 10 10.02)" d="M2.958 15.492l1.175 1.175 1.492-1.5-1.175-1.175-1.492 1.5zm6.209 3.258h1.666v-2.458H9.167v2.458zM3.333 8.792h-2.5v1.666h2.5V8.792zM12.5 5.3V1.292h-5V5.3A4.997 4.997 0 0 0 5 9.625c0 2.758 2.242 5 5 5s5-2.242 5-5A4.997 4.997 0 0 0 12.5 5.3zm4.167 3.492v1.666h2.5V8.792h-2.5zm-2.3 6.383l1.491 1.5 1.175-1.175-1.5-1.492-1.166 1.167z" />
                                    </g>
                                </svg>
                            </span>
                            <span class="customer-menu-title"><?php echo $this->__('Next Best Activity'); ?></span>
                        </a>
                    </li>
                <?php } ?>
                <!--A HH member is a VF customer and is identified as a HH member of the current handled customer and is identified by 5 business rules-->
                {{#if isSoho}}
                {{else}}
                <?php
                if (!Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')) {
                    ?>
                    <li>
                        <a id="household_info_left" data-slidebutton-left="panel" data-toggle="household" onclick="customerDe.loadCustomerInfo(this)"><?php echo $this->__('Household'); ?></a> <!--Haushalt-->
                        <span class="customer-menu-icon">
                                <span class="household"></span>
                            </span>
                        <span class="customer-menu-title">
                                {{#if household_members_count}}
                                    <span class="number-of-circle" id="household_badge">
                                        {{household_members_count}}
                                    </span>
                                {{/if}}
                            </span>
                        </a>
                    </li>
                    <?php
                }
                ?>
                {{/if}}
            </ul>
        </div>
    </script>
<?php
else:
    ?>
    <script id="Handlebars-Template-Details-Customer" type="text/x-handlebars-template">
        <div id="left-customer-info" class="customer-info">
            <div class="new-search">
                <span class="customer-search-arrow"></span>
                <a id="new-search" onclick="customer.logoutCustomer();">
                    <?php echo strtoupper($this->__("New Search")); ?>
                </a>
            </div>
            {{#compare is_prospect 1 operator="!="}}
            <div class="block">
                <p>
                    <a href="javascript:void(0)" class="arrow-down customer-info-hide" id="arrow"></a>
                    <a href="javascript:void(0)" class="customer-info-hide">
                        <b><?php echo $customerHelper->__('Client'); ?></b>
                    </a>
                </p>
                <div class="customer-info-block" id="customer-info-section">
                    <div class="customer-name-container no-padding">
                        {{#compare is_business 1 operator="=="}}
                        <span class="customer-name">{{company_name}}<br>
                            (<?php echo strtoupper($this->__("KVK")); ?>:{{company_coc}})</br></span>
                        {{/compare}}
                        <span class="customer-name">
                            {{prefix}} {{firstname}} {{middlename}} {{lastname}}
                        </span>
                    </div>
                    <!-- Customer Address Block -->
                    <div class="customer-address-container no-padding">
                        {{#if addressData}}
                        <p>{{addressData.street}}{{#if addressData.house_no}} {{removeAddressAdditionSpace addressData.house_no}}{{/if}}{{#if addressData.house_no_addition}} {{addressData.house_no_addition}}{{/if}},
                            {{addressData.postcode}} {{addressData.city}}</p>
                        {{/if}}
                    </div>
                    <!-- Customer DOB Block -->
                    <div class="customer-details-container no-padding">
                        <div class="customer-details-dob" data-id="customer-details-dob">
                            {{#if dob}}
                            <span class="dob-text"><?php echo ($this->__("Date of birth")); ?>: {{dob}}</span>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <?php
            /**
             * In order to add another customer section:
             * make sure there is a unique value defined for data-toggle attribute,
             * make sure there that a handlebars template with the name left-sidebar-{data-toggle value} exists (by default these templates are appended to modals.phtml)
             * make sure the processing is defined in Dyna_Customer_Helper_Panel
             */

            /** @var Vznl_Agent_Helper_Data $agentHelper */
            $customerSession = Mage::getSingleton('customer/session');
            $customer = $customerSession->getCustomer();
            ?>
            <div class="customer_ctns block">
                <p>
                    <a href="javascript:void(0)" class="arrow-down ctn-hide" id="arrow"></a>
                    <a href="javascript:void(0)" class="ctn-hide">
                        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BAN {{ban}}</font></font></b>
                    </a>
                </p>
                <ul class="nav nav-tabs" id="ctn-tabs" style="display: block;">
                    <?php if (!$agentHelper->isIndirectStore() && !$customer->isInMigration()): ?>
                        <li>
                            <div class="customer-360-icons-container">
                                <span class="my-carts"></span>
                            </div>
                            <a id="cart_info_left" data-slidebutton-left="panel" data-toggle="carts-content" onclick="customerDe.loadCustomerInfo(this)">
                                <?php echo strtoupper($this->__("Shopping carts")); ?>
                            </a>
                            <span class="number-of-circle">{{carts_count}}</span>
                        </li>
                    <?php endif; ?>
                    <li>
                        <div class="customer-360-icons-container">
                            <span class="my-orders"></span>
                        </div>
                        <a id="order_info_left" data-slidebutton-left="panel" data-toggle="orders-content" onclick="customerDe.loadCustomerInfo(this)">
                            <?php echo strtoupper($customerHelper->__("Orders")); ?>
                        </a>
                        <span class="number-of-circle">{{orders_count}}</span>
                    </li>
                    <li>
                        <div class="customer-360-icons-container">
                            <span class="my-products"></span>
                        </div>
                        <a id="product_info_left" data-slidebutton-left="panel" data-toggle="products-content" onclick="customerDe.loadCustomerInfo(this)">
                            <?php echo strtoupper($customerHelper->__("My products")); ?>
                        </a>
                        <!--<span class="view-specific-details">j</span>-->
                        <span class="number-of-circle">
                            {{#if products_count}} {{products_count}} {{else}} 0 {{/if}}
                        </span>
                    </li>
                    <!-- 360 menu only enabled when mobile package is available -->
                    <?php if (!$agentHelper->isIndirectStore()): ?>
                        <li id="showHide360View" class="">
                            <div class="customer-360-icons-container">
                                <span class="my-360-view"></span>
                            </div>
                            <a id="customer_360_left" data-slidebutton-left="panel" data-toggle="customer-content" onclick="customerDe.loadCustomerInfo(this);">
                                <?php echo strtoupper($this->__("360 View")); ?>
                            </a>
                        </li>
                        <li id="showHideGoodDeal" class="">
                            <div class="customer-360-icons-container">
                                <span class="my-deal"></span>
                            </div>
                            <a id="customer_good_deal_left" data-slidebutton-left="panel" data-toggle="nba-content" onclick="customerDe.loadCustomerInfo(this);">
                                <?php echo strtoupper($this->__("Next Best Activity")); ?>
                            </a>
                        </li>
                    <?php endif; ?>
                    <li>
                        <div class="customer-360-icons-container">
                            <span class="my-links"></span>
                        </div>
                        <a id="customer_info_left" data-slidebutton-left="panel" data-toggle="link-details" onclick="customerDe.loadCustomerInfo(this)"><?php echo strtoupper($this->__("Link details")); ?></a>
                    </li>
                    <li>
                        <div class="customer-360-icons-container">
                            <span class="my-updates"></span>
                        </div>
                        <a id="customer_updates_left" data-slidebutton-left="panel" data-toggle="update-details" onclick="customerDe.loadCustomerInfo(this)"><?php echo strtoupper($this->__("Update Details")); ?></a>
                    </li>
                </ul>
            </div>
            {{/compare}}
            {{#compare is_prospect 1 operator="=="}}
            <div class="block">
                <p>
                    <a href="javascript:void(0)" class="arrow-down customer-info-hide" id="arrow"></a>
                    <a href="javascript:void(0)" class="customer-info-hide">
                        <b><?php echo $customerHelper->__('Client'); ?></b>
                    </a>
                </p>
                <div class="customer-info-block" id="customer-info-section">
                    <div class="customer-name-container no-padding">
                        <span class="customer-name">{{prefix}} {{firstname}} {{middlename}} {{lastname}}</span>
                        <span class="contact-person-text">{{additional_email}}</span>
                    </div>
                </div>
            </div>
            <div class="customer_ctns block">
                <p>
                    <a href="javascript:void(0)" class="arrow-down ctn-hide" id="arrow"></a>
                    <a href="javascript:void(0)" class="ctn-hide">
                        <b><font style="vertical-align: inherit;"><?php echo $this->__("Email "); ?> {{isProspect}}</font></b>
                    </a>
                </p>
                <ul class="nav nav-tabs" id="ctn-tabs">
                    <li>
                        <div class="customer-360-icons-container"><span class="my-carts"></span></div>
                        <a id="cart_info_left" onclick="customerDe.loadCustomerInfo(this)" data-slidebutton-left="panel" data-toggle="carts-content">
                            <?php echo strtoupper($this->__("Shopping carts")); ?>
                        </a>
                        <span class="number-of-circle">{{carts_count}}</span>
                    </li>
                </ul>
            </div>
            {{/compare}}
        </div>
    </script>
<?php
endif;
?>
