<?php
/**
 * Copyright (c) 2018. Dynacommerce B.V.
 *
 */
if (!Mage::getSingleton('customer/session')->isLoggedIn() || $this->getTopMenu()) {
    /** @var Vznl_Agent_Helper_Data $agentHelper */
    $agentHelper = Mage::helper('agent');
    /** @var $this Mage_Core_Block_Template */
    ?>
    <div class="customer_left_search" id="customer_search">
        <div class="customer-search-scrollbar">
            <?php
            if (Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')) {
                echo $this->getChildHtml("customer.search");
            } else { ?>
                <h2 class="col-title<?php if ($agentHelper->isIndirectStore()) { ?> indirect-col-title<?php } ?>">
                    <?php echo Mage::helper('vznl_customer')->__('Customer search') ?>
                    <?php if ($agentHelper->isIndirectStore()) { ?>
                        <span data-toggle="popover"
                              class="customer_search_popover glyphicon glyphicon-info-sign blue"></span>
                    <?php } ?>
                </h2>
                <?php if ($agentHelper->isIndirectStore()) { ?>
                    <div class="customer-search-scrollbar"><?php echo $this->getChildHtml('customer.search.indirect'); ?></div>
                <?php } else { ?>
                    <div class="customer-search-scrollbar">
                      <?php
                          echo Mage::getBlockSingleton('page/html')
                              ->setTemplate('customer/search.phtml')
                              ->setFormId($this->getFormId())
                              ->toHtml();
                      ?>
                    </div>
                <?php }
            }
            ?>
        </div>
    </div>
<?php } ?>
