<?php
/** @var Dyna_Configurator_Block_Rightsidebar this */
/** @var Dyna_Checkout_Helper_Data $helper */
$helper = Mage::helper('dyna_checkout');
/** @var Dyna_Package_Helper_Data $packageHelper */
$packageHelper = Mage::helper('dyna_package');
/** @var Dyna_Catalog_Helper_Data $catalogHelper */
$catalogHelper = Mage::helper('dyna_catalog');

$quoteData = $this->getQuoteData();
$packages = $this->getPackages();
$agent = Mage::helper('agent/data')->getAgent();
$agentName = $agent?$agent->getName():'';
$dealerGroups = Mage::getSingleton('customer/session')->getAgent(true)->getDealer()->getDealerGroups();
$dealerGroupName = $dealerGroups->count() > 0 ? $dealerGroups->getFirstItem()->getName() : null;
$storeName = Mage::app()->getStore()->getName();
$mageDate = Mage::getModel('core/date');
$createdDateTimestamp = $quoteData ? $mageDate->timestamp(strtotime($quoteData->getData('created_at'))) : null;
$updatedDateTimestamp = $quoteData ? strtotime($quoteData->getDate('updated_at')) : null;
$customer = Mage::getSingleton('dyna_customer/session')->getCustomer();
$customerLoggedIn = $customer->isCustomerLoggedIn();
$withBtw = Mage::getSingleton('customer/session')->showPriceWithBtw();
/** @var Dyna_Configurator_Helper_Data $configuratorHelper */
$configuratorHelper = Mage::helper('dyna_configurator');
$hasKipWhileNotAllowed = $configuratorHelper->hasKIPWhileNotAllowed();
$packageTypes = Mage::helper('dyna_package')->getPackageTypes();
$completedMandatoryFamilies =  Mage::helper("bundles")->hasMandatoryFamiliesCompleted();
$packageTypeAndTariffTitles = [];

$isSoho = Mage::getSingleton('customer/session')->getIsSoho();
$btwSessionState = Mage::getSingleton('customer/session')->getBtwState();
$isCheckout = $this->getCheckout();

// initial state
if (is_null($isSoho) && is_null($btwSessionState)) {
    $btwState = true;
} else {
    $btwState = (bool) $isSoho;
    if ($btwSessionState == false) {
        $btwState = false;
    }
    if ($btwSessionState == true) {
        $btwState = true;
    }
}

if (!$completedMandatoryFamilies) {
    $familiesPerPackage = Mage::helper('bundles')->getMandatoryFamilies();
    foreach ($familiesPerPackage as $families) {
        foreach ($families as $family) {
            $familyNames[] = $family['familyName'];
        }
    }
}

if ($packages) {
    usort($packages,array(get_class($packageHelper),'sortPackagesById'));
} else {
    $packages = array();
}

$templateData = $this->getData();
$includeForm = $this->getExcludeForm() ? false : true;

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();

$isRetailOrIndirect = $isIndirect || $agentHelper->isRetailStore();
?>

<?php echo isset($templateData['infoSummary']) ? $templateData['infoSummaryStyle'] : ''; ?>
<div id="right-panel-cart" style="<?php echo ($isCheckout)? 'padding:0;':'';?>" class="panel-content clearfix">
    <?php echo isset($templateData['infoSummary']) ? '<h2>' . $this->__('Your offer') . '</h2>' : ''; ?>
    <?php if ($includeForm) { ?>
    <form action="<?php echo $this->getUrl('checkout/cart'); ?>" id="expanded_form" method="POST">
        <input name="post_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getPostKey(); ?>" />
        <?php } ?>
        <div class="clearfix row <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>">
            <div class="cart_right_expanded col-md-11 col-xs-10"
                 style="max-height: 630px; overflow-y: auto; position: relative; margin-top:40px">
                <p class="title"><?php echo $this->__('Cart overview'); ?></p>
                <?php if ($hasKipWhileNotAllowed) {?>
                    <script>
                      jQuery( document ).ready(function () {
                        showNotificationBar('<?php echo $this->__('Cannot continue because the selected customer already has a cable package'); ?>', 'warning');
                      });
                    </script>
                <?php }?>

                <?php if (!$completedMandatoryFamilies && isset($familyNames)) {?>
                    <script>
                      jQuery( document ).ready(function () {
                        showNotificationBar('<?php echo $this->__('Cannot continue without selecting an item from the mandatory families: '). implode(',', $familyNames); ?>', 'error');
                      });
                    </script>
                <?php }?>
                <p class="cart-title-description">
                    <?php

                    $checkoutHelper = Mage::helper('dyna_checkout');

                    echo sprintf(
                        $this->__('Last modified on %s by %s of %s'),
                        $checkoutHelper->formatDateLocale($updatedDateTimestamp),
                        $agentName,
                        $storeName
                    );
                    ?>
                </p>
            </div>

            <div class="col-md-1 col-xs-2" id="right-panel-cart-menu">
                <div class="menu-expand full">
                    <ul>
                        <li>
                            <a onclick="showSaveCartModal('<?php echo ($customerLoggedIn) ? 1: 0 ?>');">
                                <i class="vfde-save"></i>
                                <?php echo $this->__("Save and send") ?>
                            </a>
                        </li>
                        <li>
                            <a onclick="showCancelCartModal();">
                                <i class="vfde-delete"></i>
                                <?php echo $this->__('Delete all packages') ?>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pull-right mtm three-dots" onclick="switchPackageMenu(event, this)">
                    <i class="vfde-more"></i>
                </div>
            </div>
        </div>
        <div class="border-cart-expanded"></div>
        <div class="cart_right_expanded_packages <?php echo ($isCheckout)?'row':'';?>">
            <?php
            /** @var Dyna_Package_Model_Package $package */
            $sortedPackages = $packageHelper->groupRedPlusPackages($packages);
            $sortedPackages = $packageHelper->groupInstalledBaseBundlePackages($sortedPackages);
            echo $this->getLayout()
                ->createBlock('core/template')
                ->setTemplate('customer/partials/sidebar_expanded_packages.phtml')
                ->addData([
                    'packages' => $sortedPackages,
                    'template_data' => $templateData,
                ])
                ->toHtml();
            ?>
            <!-- packages content from the right side-->
            <div class="<?php echo isset($templateData['infoSummary']) ? '' : 'expanded-package-container '; echo ($isCheckout)?'col-xs-12':'col-xs-10';?>">
                <!-- packages details devided per package devided per product-->
                <div class="expanded-package-details" data-spy="scroll" data-target="#right_expanded_packets"
                     data-offset="50">
                    <?php
                    /** @var Dyna_Package_Model_Package $package */
                    /** @var Dyna_Package_Helper_Data $packageHelper */
                    $packageHelper = Mage::helper('dyna_package');
                    $hasPriceSliding = false;

                    foreach ($sortedPackages as $key => $value) {
                        if($value->getType() == 'mobile')
                            $mobilePkgs[$key] = $value;
                        else
                            $fixpkg[$key] = $value;
                    }
                    if(!empty($mobilePkgs) && !empty($fixpkg))
                        $sortedPackages = $mobilePkgs+$fixpkg;

                    foreach ($sortedPackages as $counter => $package) {
                        // get unique base customer identifier and display it for ILS flows only
                        $uniqueBaseCustomerIdentifier = Mage::helper('dyna_checkout/layout')->getUniqueBaseIdentifier($package);
                        $priceSlicing = null;
                        $packageNotes = $package->getNotes();
                        $installedBaseProducts = explode(',', $package->getInstalledBaseProducts());
                        $class = $packageHelper->getPackageState($package->getData());
                        $numberOfCurrentRedplusMembers = $packageHelper->getNumberOfRedPlusGroupMembers($package->getData(), $package->getType());
                        $packageNotes = $packageHelper->checkNotes($package);

                        // Check if the package contains vf subscription
                        $hasVf = false;
                        foreach ($package->getData('items') as &$item) {
                            $product = $item->getProduct();
                            if ($product->isNetwork() && $product->isNetworkProduct()) {
                                $hasVf = true;
                            }
                        }

                        $isPriceIncreaseScope = 0;
                        foreach ($package->getData('items') as &$item) {
                            if ($isPriceIncreaseScope) {
                                break;
                            } else {
                                $isPriceIncreaseScope = $item->getProduct()->getPriceIncreaseScope();
                            }
                        }

                        unset($item, $product);
                        // Check if the package contains vf subscription and is not retention with old sim
                        $needsSim = $hasVf && !(($package->isRetention()) && $package['old_sim']);

                        if (isset($package['coupon']) && strlen($package['coupon']) > 0) {
                            $coupon = $package['coupon'];
                        } else {
                            $coupon = false;
                        }
                        $packageTitle = Mage::getModel('dyna_package/packageType')->loadByCode($package->getType())->getFrontEndName();
                        $packageSubtype = $package->isFixed() ? Vznl_Catalog_Model_Type::SUBTYPE_FIXED_PACKAGE : Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION;
                        $packageTypeAndTariffTitles = Mage::helper('vznl_package')->getTypeAndSubtypeTitle($package, $packageSubtype, Dyna_Catalog_Model_Product::GUI_COMMUNICATION);
                        $packageId = $package->getPackageId();
                        $packageIcon = ($package->getType() == "int_tv_fixtel") ? "orderline-header-fixedicon":"orderline-header-mobileicon";
                        $cartPackageType = $package->isFixed() ? Vznl_Catalog_Model_Type::TYPE_FIXED : Dyna_Catalog_Model_Type::TYPE_MOBILE;
                        $productGroupCollection = Vznl_Package_Model_Package::getDefaultProductOrder($simcard = false, $cartPackageType);
                        $oldProductGroup = '';
                        $packageId = $package->getPackageId();
                        $packageItems = $package->getData('items');
                        $alternateItems = $package->getAlternateItems();
                        if (count($alternateItems)) {
                            // Inject ILS changed items in extended cart
                            $packageItems = array_merge($alternateItems, $packageItems);
                        }
                        $currentPackage = Mage::getModel('package/package')->getPackages(null, $quoteData->getId(), $packageId)->getFirstItem();
                        $currentPackage->setIsExtendedCart(true)->setWithBtw($withBtw)->setPackageId($packageId);
                        $manualActivation = trim($package->getData('manual_activation_reason'));
                        $manualActivationNote = trim($package->getData('manual_activation_user_input'));
                        $manualSimcard = $package->getData('sim_number');
                        $packageTotals = Mage::helper('dyna_configurator')->getActivePackageTotals($package->getPackageId(), true);
                        $packageTotalsWoTax = Mage::helper('dyna_configurator')->getActivePackageTotals($package->getPackageId(), false);
                        $quoteModel = Mage::getSingleton('checkout/cart')->getQuote();
                        $toBePaid = Mage::registry('to_pay_amount');
                        Mage::unregister('to_pay_amount');
                        if ($toBePaid) {
                            $toBePaid[$package->getPackageId()] = $packageTotals['totalprice'];
                        } else {
                            $toBePaid = array($package->getPackageId() => $packageTotals['totalprice']);
                        }
                        Mage::register('to_pay_amount', $toBePaid, true);
                        Mage::getSingleton('customer/session')->setToPayAmount($toBePaid);
                        $devicePaymentDeduction = $quoteModel->getTotalDevicePayment($packageId);
                        $packageTotals['totalprice'] += $devicePaymentDeduction;
                        $packageTotalsWoTax['totalprice'] += $devicePaymentDeduction;

                        ?>
                        <?php if ($isCheckout) {?>
                            <!--Start :  New design for checkout order overview ------------>
                            <div class="orderline-advanced" id="scroll-pack-adv-<?php echo $package->getPackageId(); ?>" data-package-id="<?php echo $package->getPackageId() ?>">
                                <!-- Orderline header section -->
                                <div class="orderline-header">
                                    <div class="<?php echo $packageIcon; ?>"></div>
                                    <div class="orderline-header-title">
                                        <h6 class="orderline-header-title-category"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></h6>
                                        <h5 class="orderline-header-title-name"><?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?></h5>
                                    </div>
                                    <div class="orderline-header-actions">

                                        <?php
                                        if (in_array(strtolower($package['sale_type']), [strtolower(Vznl_Checkout_Model_Sales_Quote_Item::RETENTIE), strtolower(Dyna_Checkout_Model_Sales_Quote_Item::RETENTION)])):
                                            if (isset($package['ctn']) && strpos($package['ctn'], ',') !== FALSE) {
                                                $ctnText = (count(explode(',',$package['ctn']))) . 'CTN\'s' . '<span style="display:none">' . $package['ctn'] . '</span>';
                                            } else {
                                                $ctnText = isset($package['ctn']) ? $package['ctn'] : '';
                                            }
                                        endif;
                                        ?>

                                        <div class="orderline-action contextmenu-action">
                                            <div><img alt="Modify cart" src="/skin/frontend/vznl/default/images/three-dots.svg"></div>
                                            <ul class="contextmenu" pkg-id="<?php echo $package->getPackageId(); ?>" pkg-name="<?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?>">
                                                <li class="contextmenu-item" id="<?php echo $package->getPackageId(); ?>" onclick="window.customer.displayNoteAddForm(this)">
                                                <div class="contextmenu-item-icon note-icon"></div>
                                                <?php echo $this->__('Note'); ?>
                                                </li>
                                                <li class="contextmenu-item" onclick="editContextMenu(this);">
                                                    <div class="contextmenu-item-icon edit-icon"></div>
                                                    <?php echo $this->__('Edit'); ?>
                                                </li>
                                                <?php if(in_array($package['type'], Vznl_Catalog_Model_Type::getMobilePackages())) {?>

                                                        <li class="contextmenu-item manual_activate_check <?php echo ($manualActivation) ?  'hidden' : '' ?>"
                                                        onclick="manualActivateNew(<?php echo $isRetailOrIndirect ? 'true' : 'false'; ?>, <?php echo $needsSim ? $needsSim.',':''; ?>this )"
                                                        sim="<?php echo $manualSimcard ? $manualSimcard:''; ?>"
                                                        note="<?php echo $manualActivationNote ? $manualActivationNote :''; ?>"
                                                        id="manual_activate_<?php echo $package->getPackageId(); ?>"
                                                        name="manual_activate[<?php echo $package->getPackageId(); ?>]">
                                                        <div class="contextmenu-item-icon connect-icon"></div>
                                                        <?php echo $this->__('Connect manually'); ?>
                                                        </li>

                                                        <li class="contextmenu-item not-connect-manualy not-connect-manualy-<?php echo $package->getPackageId(); ?> <?php echo (!$manualActivation) ?  'hidden' : '' ?>" onclick="doNotConnnectManually(this)" >
                                                            <div class="contextmenu-item-icon connect-icon"></div>
                                                            <?php echo $this->__('Do not connect manually'); ?>
                                                        </li>

                                                <?php } ?>

                                                <li class="contextmenu-item" onclick="removeOverviewPackage(event, this)">
                                                    <div class="contextmenu-item-icon delete-icon"></div>
                                                    <?php echo $this->__('Delete'); ?>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="orderline-indicator note-indicator">
                                                <div onclick="window.customerDe.getNoteOnPackage(this, 0)" class=" orderline-action-icon package-notes-extended <?php echo $packageNotes ? '' : 'hidden' ?>
                                                <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>" id="<?php echo $package->getPackageId(); ?>"></div>
                                        </div>

                                        <?php if ($class['state']['badge'] && !isset($templateData['infoSummary']) && !$isCheckout) { ?>
                                            <div style="width:30px;" class="badge  <?php echo $class['state']['badge']; ?>"
                                                data-toggle="tooltip" data-placement="left" data-container="body" data-html="true"
                                                 data-template='<div class="tooltip ils-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                                                 data-original-title="<h5><?php echo !empty($class['tooltipInfo']['title']) ? $class['tooltipInfo']['title'] : ''; ?></h5><p><?php echo !empty($ctnText) ? $this->__('Phone number').': '.$ctnText : ''; ?></p>"
                                                >
                                                <i class="<?php echo $class['state']['icon']; ?>"></i>
                                            </div>
                                        <?php } ?>

                                    </div>
                                </div>

                                <!-- Orderline dropdown section -->
                                <div class="orderline-dropdown">
                                    <!-- Dropdown details section  -->
                                    <div class="orderline-details <?php echo $package->getManualActivationReason()?"":'hidden'?> connect-manualy-<?php echo $package->getPackageId();?>">
                                      <table class="orderline-details-table">
                                        <tr>
                                          <td><?php echo $this->__('Connect manually reason');?></td>
                                          <td id="manual_reason_<?php echo $package->getPackageId();?>">
                                              <?php echo $manualActivation ? $manualActivation :''?>
                                          </td>
                                        </tr>
                                          <td><?php echo $this->__('Sim card number');?></td>
                                          <td id="manual_simcard_<?php echo $package->getPackageId();?>"><?php echo $manualSimcard ? $manualSimcard :''; ?></td>
                                        </tr>
                                        <tr>
                                          <td><?php echo $this->__('Note');?></td>
                                          <td id="manual_remarks_<?php echo $package->getPackageId();?>"><?php echo $manualActivationNote ? $manualActivationNote :''; ?></td>
                                        </tr>
                                      </table>
                                      <input type="hidden" id="manual_activation_reason_<?php echo $package->getPackageId();?>" name="manual_activation_reason[<?php echo $package->getPackageId();?>]" value="<?php echo $package->getManualActivationReason()?$package->getManualActivationReason():''?>"/>
                                      <input type="hidden" id="manual_activation_simcard_<?php echo $package->getPackageId();?>" name="manual_activation_simcard[<?php echo $package->getPackageId();?>]" value="" />
                                      <input type="hidden" id="manual_activation_remarks_<?php echo $package->getPackageId(); ?>" name="manual_activation_remarks[<?php echo $package->getPackageId(); ?>]" value=""/>
                                    </div>

                                    <!--REPEAT: copy the following section for the amount of times you need-->
                                    <?php

                                    foreach ($productGroupCollection as $key=>$productGroup) {
                                        $packageData = $currentPackage->getDisplayFor($productGroup, $packageItems);
                                        if ($packageData) {

                                            $section = strtolower($productGroup);

                                            foreach ($packageData as $data) {
                                                if ($oldProductGroup !== $productGroup){ ?>
                                                    <!--Price section header-->
                                                    <?php if ($section != strtolower(Vznl_Catalog_Model_Type::SUBTYPE_SIMCARD))  { ?>
                                                        <div class="orderline-price-section-header">
                                                            <table class="orderline-section-table">
                                                                <tr>
                                                                    <td><?php echo $this->__(ucfirst($packageHelper->getPackageSubtype($package->getType(), $section, true))); ?></td>
                                                                    <?php if(!$isIndirect) : ?>
                                                                        <td><?php echo ($key == 0) ? $checkoutHelper->__('Upfront') : ''; ?></td>
                                                                    <?php endif; ?>
                                                                    <td><?php echo ($key == 0) ? $checkoutHelper->__('Monthly') : ''; ?></td>
                                                                    <?php $oldProductGroup = $productGroup ?>
                                                                </tr>
                                                            </table>
                                                    </div>
                                                    <?php } ?>

                                                    <?php if (count($data['image']) > 0) { ?>

                                                    <div class="orderline-price-section-content">
                                                        <table class="orderline-section-table">
                                                            <?php for ($i = 0; $i < count($data['image']); $i++) { ?>
                                                                <!--Price section content-->
                                                                <tr>
                                                                    <td><?php echo isset($data['name'][$i]) ? $data['name'][$i] : ''; ?>
                                                                       <?php if ($i === 0 && !Mage::getSingleton('customer/session')->isBusinessCustomer() && !empty($data['iltRequired'])) { ?>
                                                                            <span class="item_ilt" data-toggle="tooltip" data-html="true"
                                                                                  data-container="body" data-placement="right"
                                                                                  title="<?php echo $this->__('In this monthly handset payment, an income test is necessary'); ?>"
                                                                            >
                                                                                &nbsp;
                                                                            </span>
                                                                        <?php } ?>

                                                                    </td>
                                                                    <?php if(!$isIndirect) : ?>
                                                                        <td><?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?></td>
                                                                    <?php endif; ?>
                                                                    <td><?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?></td>
                                                               </tr>
                                                             <?php } ?>
                                                        </table>
                                                    </div>
                                                    <?php } ?>
                                                <?php } ?>
                                            <?php } ?>
                                        <?php } ?>
                                    <?php } ?>
                                    <!--Total price Section-->

                                    <div class="orderline-total-price-section">
                                    <table class="orderline-section-table">
                                        <?php if ($package->getType() == 'int_tv_fixtel') {
                                            $installationCost = 0;
                                            foreach ($quoteData->getAllItems(true) as $item) {
                                                if ($item->getSku() == "z_123456") {
                                                    $installationCost = number_format($item->getPrice(), 2) ;
                                                }
                                            }
                                            if($installationCost > 0) { ?>
                                                <tr>
                                                    <td><strong><?php echo $this->__('Installation Cost :'); ?></strong></td>
                                                    <td></td>
                                                    <td><strong><?php echo $helper->showNewFormattedPriced($installationCost); ?></strong> </td>
                                                </tr>
                                            <?php } ?>
                                        <?php } ?>
                                        <tr class="orderline-section-table-coupon">
                                            <td class="coupon-class" package-id="<?php echo $package->getPackageId(); ?>" <?php if (!$isIndirect) echo 'colspan="2"';  ?>>
                                                <?php if (! $quoteData->getIsOffer()) { ?>
                                                    <?php if (!$coupon) { ?>

                                                    <div class="col-sm-8 form-group label-floating hidden coupon-class" width="60%" package-id="<?php echo $package->getPackageId(); ?>" id="couponCodeInput_<?php echo $package->getPackageId(); ?>" style="<?php if (isset($coupon) && $coupon !== false) echo ' display:none'; ?>">
                                                        <div class="input-wrapper package-item-description-coupon" >
                                                            <label class="control-label add-coupon-code"><?php echo $this->__('Add coupon'); ?></label>
                                                            <input name="coupon" type="text" class="form-control cart-coupon-input" value="<?php echo $coupon; ?>">
                                                            <a class="btn btn-primary small" onclick= "applyCouponCode(jQuery(this).parent(),'.package-item-description-coupon'<?php echo $isCheckout ? ", true " : ''; ?>)">
                                                            <span class="btn-content"><?php echo $this->__('Apply'); ?></span>
                                                            </a>
                                                        </div>
                                                   </div>
                                                    <a class="promocodelink" onclick="jQuery(this).addClass('hidden');jQuery('#couponCodeInput_<?php echo $package->getPackageId(); ?>').removeClass('hidden');"><?php echo $this->__('Add coupon'); ?></a>

                                                    <?php  } else { ?>
                                                        <span class="remove-coupon" onclick="removeCouponCode(this,'<?php echo $coupon; ?>','.package-item-description-coupon'<?php echo $isCheckout ? ", true " : ''; ?>)"><?php echo sprintf($this->__('Coupon added: %s'), (string)$coupon); ?></span>
                                                    <?php } ?>

                                                <?php } ?>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr class="orderline-section-table-price-row">
                                            <td><?php echo $this->__('Excl. VAT'); ?></td>
                                            <?php if (!$isIndirect) : ?>
                                                <td><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotalsWoTax['totalprice']) : ''; ?></td>
                                            <?php endif; ?>
                                            <td><?php echo $helper->showNewFormattedPriced($packageTotalsWoTax['totalmaf'] > 0 ? $packageTotalsWoTax['totalmaf'] : 0); ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $this->__('VAT'); ?></td>
                                            <?php if (!$isIndirect) : ?>
                                                <td><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotals['totalprice'] - $packageTotalsWoTax['totalprice']) : ''; ?></td>
                                            <?php endif; ?>
                                            <td><?php echo $helper->showNewFormattedPriced($packageTotals['totalmaf'] - $packageTotalsWoTax['totalmaf'] > 0 ? $packageTotals['totalmaf'] - $packageTotalsWoTax['totalmaf'] : 0); ?></td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <?php if ($devicePaymentDeduction > 0 && !$isIndirect) : ?>
                                                <?php echo $this->__('Total'); ?>
                                            <?php else : ?>
                                                <?php echo $this->__('Package total incl. VAT'); ?>
                                            <?php endif; ?>
                                            </td>
                                            <?php if (!$isIndirect) : ?>
                                                <td><strong><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotals['totalprice']) : ''; ?></strong></td>
                                            <?php endif; ?>
                                            <td><strong><?php echo $helper->showNewFormattedPriced($packageTotals['totalmaf'] > 0 ? $packageTotals['totalmaf'] : 0); ?></strong></td>
                                        </tr>
                                        <?php
                                        if ($devicePaymentDeduction > 0 && !$isIndirect) {?>
                                            <tr><td colspan="3"></td></tr>
                                            <tr>
                                                <td> <?php echo $this->__('Deduction for monthly device payment'); ?></td>
                                                <td class="total fs13 fw500">
                                                    &minus; &euro; <?php echo number_format($devicePaymentDeduction, 2,',','.'); ?>
                                                    </td>
                                            </tr>
                                            <tr><td colspan="3"></td></tr>
                                            <tr>
                                                <td><?php echo $this->__('Package total incl. VAT'); ?></td>

                                                <?php if(!$isIndirect) : ?>
                                                    <td><strong><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotals['totalprice']-$devicePaymentDeduction) : ''; ?></strong></td>
                                                <?php endif; ?>
                                                <td><strong><?php echo $helper->showNewFormattedPriced($packageTotals['totalmaf'] > 0 ? $packageTotals['totalmaf'] : 0); ?></strong></td>
                                            </tr>
                                        <?php } ?>
                                        <?php if ($package->getType() == 'int_tv_fixtel' && $isPriceIncreaseScope) { ?>
                                        <tr>
                                            <td colspan="3">
                                               <div class="notification-banner warning">
                                                    <div class="notification-banner-text">
                                                        <div class="notification-banner-title"><?php echo $this->__('Please note! For this package a price increase will take place in the near future'); ?></div>
                                                        <!-- Optional description -->
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                    </table>

                                    </div>
                                </div>
                            </div>

                        <?php } else {?>
                        <!--End :  New design for checkout order overview -->
                        <div id="scroll-pack-<?php echo $package->getPackageId(); ?>"data-package-id="<?php echo $package->getPackageId() ?>" class="package-expand">
                            <!-- menu for each package-->
                            <table class="clear mtm package-items-table" cellspacing=0 cellpadding=0>
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                <thead class="<?php echo !empty($class['title'])? $class['title']: ''?> <?php echo $packageHelper->getBundleColor($package['package_id']) ?>">
                                <?php } ?>
                                <tr class="package-item-header<?php echo isset($templateData['infoSummary']) ? ' brder-bottom' : ''; ?>">
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                        <th class="left_border <?php echo $packageHelper->getBundleColor($package['package_id']) ?>""></th>
                                    <?php } ?>
                                    <th class="description"<?php echo isset($templateData['infoSummary']) ? ' colspan="4"' : ''; ?>>
                                        <?php

                                        echo isset($templateData['infoSummary']) ? '' : "<p title='{$packageTypeAndTariffTitles['packageTitle']}' class='light'>{$headerPackageTitle} <span class='index'>{$packageId}</span></p>";
                                        echo "<".(isset($templateData['infoSummary']) ? 'h4' : 'p').
                                            " title='{$packageTypeAndTariffTitles['packageSubtypeTitle']}'>{$packageTypeAndTariffTitles['packageSubtypeTitle']}</".(isset($templateData['infoSummary']) ? 'h4' : 'p').">";
                                        if ($uniqueBaseCustomerIdentifier && isset($templateData['infoSummary'])) {
                                            echo '<h4>' . $uniqueBaseCustomerIdentifier . '</h4>';
                                        }

                                        if (in_array(strtolower($package['sale_type']), [strtolower(Vznl_Checkout_Model_Sales_Quote_Item::RETENTIE), strtolower(Dyna_Checkout_Model_Sales_Quote_Item::RETENTION)])):
                                            if (isset($package['ctn']) && strpos($package['ctn'], ',') !== FALSE) {
                                                $ctnText = (count(explode(',',$package['ctn']))) . 'CTN\'s' . '<span style="display:none">' . $package['ctn'] . '</span>';
                                            } else {
                                                $ctnText = isset($package['ctn']) ? $package['ctn'] : '';
                                            }?>
                                            <p class="pull-left"><?php echo $this->__('Number to extend') ?>: <strong><?php echo $ctnText; ?></strong></p>
                                        <?php endif; ?>
                                    </th>
                                    <th class="monthly-costs">&nbsp;</th>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                        <th class="one-of-costs" style="overflow: initial;">
                                            <?php if (!empty($class['state']['partOfGroup'])) { ?>
                                                <div class="secondBadge <?php echo $class['state']['secondBadge']; ?> extended-cart-second-badge"
                                                     data-toggle="tooltip" data-placement="top" data-container="body" data-html="true"
                                                     data-template='<div class="tooltip ils-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                                                     data-original-title="<span class='lightbulb-tooltip-title ils-renew-tooltip'><?php echo $class['tooltipInfo']['title']; ?></span>"
                                                >
                                                </div>
                                            <?php } ?>

                                            <!-- menu for each package-->
                                            <div class="orderline-action contextmenu-action pull-right" onclick="expandPackageMenu(event, this)">
                                                <div class="orderline-action-icon"></div>
                                                <ul class="contextmenu" pkg-id="<?php echo $package->getPackageId(); ?>" pkg-name="<?php echo $packageTypeAndTariffTitles['packageSubtypeTitle'];?>">
                                                    <li class="contextmenu-item" id="<?php echo $package->getPackageId(); ?>" onclick="window.customer.displayNoteAddForm(this)">
                                                        <div class="contextmenu-item-icon note-icon"></div>
                                                        <?php echo $this->__('Note'); ?>
                                                    </li>
                                                    <li class="contextmenu-item" onclick="window.location.href = '<?php echo Mage::getUrl() . '?packageId=' . $package->getPackageId(); ?>'">
                                                        <div class="contextmenu-item-icon edit-icon"></div>
                                                        <?php echo $this->__('Edit'); ?>
                                                    </li>
                                                    <?php if(in_array($package['type'], Vznl_Catalog_Model_Type::getMobilePackages())) {?>

                                                        <li class="contextmenu-item manual_activate_check <?php echo ($manualActivation) ?  'hidden' : '' ?>"
                                                            onclick="manualActivate(<?php echo $package->getPackageId(); ?>, <?php echo $isRetailOrIndirect ? 'true' : 'false'; ?>);"
                                                            <?php /** onclick="manualActivateNew(<?php echo $isRetailOrIndirect ? 'true' : 'false'; ?>, <?php echo $needsSim ? $needsSim.',':''; ?>this )" */ ?>
                                                            sim="<?php echo $manualSimcard ? $manualSimcard:''; ?>"
                                                            note="<?php echo $manualActivationNote ? $manualActivationNote :''; ?> "
                                                            id="manual_activate_check[<?php echo $package->getPackageId(); ?>]"
                                                            name="manual_activate[<?php echo $package->getPackageId(); ?>]">
                                                            <div class="contextmenu-item-icon connect-icon"></div>
                                                            <?php echo $this->__('Connect manually'); ?>
                                                        </li>

                                                    <?php } ?>

                                                    <li class="contextmenu-item" onclick="removeExpandedPackage(event,'<?php echo $package->getPackageId() ?>')">
                                                        <div class="contextmenu-item-icon delete-icon"></div>
                                                        <?php echo $this->__('Delete'); ?>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="orderline-indicator note-indicator">
                                                <div onclick="window.customerDe.getNoteOnPackage(this, 0)" class=" orderline-action-icon package-notes-extended <?php echo $packageNotes ? '' : 'hidden' ?>
                                                <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>" id="<?php echo $package->getPackageId(); ?>"></div>
                                            </div>

                                            <div class="pull-right mtm three-dots hidden <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>" onclick="switchPackageMenu(event, this)">
                                                <i class="vfde-more"></i>
                                            </div>
                                        </th>
                                    <?php } ?>
                                </tr>
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                    </thead>
                                <?php } ?>

                                <tbody>
                                    <tr class="package-item-subheader">
                                        <?php if (!isset($templateData['infoSummary'])) { ?>
                                        <?php } ?>
                                        <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="description">
                                            <?php echo isset($templateData['infoSummary']) ? '<h4>' . $this->__('Your selection') . '</h4>' : '&nbsp;' ?>
                                        </td>
                                        <td class="monthly-costs"><?php echo $this->__('Monthly'); ?></td>
                                        <td class="one-of-costs">
                                            <?php echo (!$isIndirect) ? $this->__('One time cost') : ''; ?>
                                        </td>
                                        <?php if (!isset($templateData['infoSummary'])) { ?>
                                        <?php } ?>
                                    </tr>

                                    <!-- products displayed from a package in 4 sections: hardware, tariff, option and promotion-->
                                    <?php


                                    foreach ($productGroupCollection as $productGroup) { ?>

                                        <?php $packageData = $currentPackage->getDisplayFor($productGroup, $packageItems); ?>

                                        <?php if ($packageData): ?>

                                            <?php $section = strtolower($productGroup); ?>

                                            <?php foreach ($packageData as $data) { ?>

                                                <?php if ($oldProductGroup !== $productGroup): ?>
                                                    <!-- separate the sections visually-->
                                                    <tr class="subheader-section  <?php echo $section; ?>">
                                                        <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="names">
                                                            <?php echo isset($templateData['infoSummary']) ? '<h4>' : ''; ?>
                                                            <?php echo $this->__(ucfirst($packageHelper->getPackageSubtype($package->getType(), $section, true))); ?>&nbsp;
                                                            <?php echo isset($templateData['infoSummary']) ? '</h4>' : ''; ?>
                                                        </td>
                                                        <td class="monthly-costs">&nbsp;</td>
                                                        <td class="one-of-costs">&nbsp;</td>
                                                    </tr>
                                                    <?php $oldProductGroup = $productGroup ?>
                                                <?php endif; ?>

                                                <?php
                                                    echo $this->getLayout()
                                                        ->createBlock('core/template')
                                                        ->setTemplate('customer/partials/sidebar_products.phtml')
                                                        ->addData([
                                                            'section' => $section,
                                                            'package_data' => $data,
                                                            'template_data' => $templateData
                                                        ])
                                                        ->toHtml();
                                                ?>
                                            <?php } ?>
                                        <?php endif; ?>

                                    <?php } ?>
                                </tbody>
                                <tfoot>
                                <!-- price sliding for cable-->
                                <?php if (! $package->getData('editing_disabled') && $priceSlicing && $package->isCable()) { ?>
                                    <?php
                                    $priceSlicing = $helper->getPriceSlidingPerMonthForAllProduct($priceSlicing);
                                    //remove total from header
                                    $headers = array_diff(array_keys(current($priceSlicing)), ['total'] );
                                    ?>

                                    <tr class="subheader-section recurring-costs">
                                        <td class="names"colspan="5"><?php echo isset($templateData['infoSummary']) ? '<h4>' . $this->__("Recurring costs") . '</h4>' : $this->__("Recurring costs"); ?></td>
                                    </tr>
                                    <?php foreach ($priceSlicing as $monthIndex => $month) { ?>
                                        <tr class="package-item-subheader recurring-costs no-shadow">
                                            <td class="names no-border" <?php echo isset($templateData['infoSummary']) ? 'colspan="3"' : 'colspan="2"'; ?>>
                                                <?php echo isset($templateData['infoSummary']) ? '<h4>' . $this->__("From Month ") . $monthIndex . '</h4>' : $this->__("From Month ") . $monthIndex; ?>
                                            </td>
                                            <td class="one-of-costs no-border"></td>
                                            <td class="monthly-costs no-border">
                                                <?php echo isset($templateData['infoSummary']) ? '<h4>' . '€ ' . $month['total'] . '</h4>' : '€ ' . $month['total']; ?>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php $hasPriceSliding = true; ?>
                                <?php } ?>
                                <!-- totals per package-->
                                <tr class="small<?php echo isset($templateData['infoSummary']) ? ' hidden' : ''; ?>">
                                    <td class="description">&nbsp;</td>
                                    <td class="one-of-costs">&nbsp;</td>
                                    <td class="monthly-costs">&nbsp;</td>
                                    <?php if (isset($templateData['infoSummary'])) { ?>
                                        <td class="one-of-costs" colspan="2">&nbsp;</td>
                                    <?php } ?>
                                </tr>
                                <?php

                                ?>
                                <tr class="package-total">
                                    <td class="names" <?php echo isset($templateData['infoSummary']) ? 'colspan="3"' : 'colspan="2"'; ?>>
                                        <div class="no-margin-bottom form-group pull-left">
                                            <?php echo isset($templateData['infoSummary']) ? '<span class="cart-totals-vat price">' : '<p class="cart-totals-vat">'; ?>
                                            <?php echo $this->__('Net'); ?>
                                            <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                            <?php echo isset($templateData['infoSummary']) ? '<span class="cart-totals-vat price">' : '<p class="cart-totals-vat">'; ?>
                                            <?php echo $this->__('VAT.'); ?>
                                            <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                            <?php echo isset($templateData['infoSummary']) ? '<h3' : '<p'; ?> class="cart-totals-vat">
                                            <?php echo $helper->__("Total"); ?>
                                            <?php echo isset($templateData['infoSummary']) ? '</h3>' : '</p>'; ?>
                                        </div>

                                        <?php /** @todo Test coupon code functionality after database migration */ ?>
                                        <!-- Coupon Code Start -->
                                        <?php if (! $quoteData->getIsOffer()) : ?>
                                            <div class="form-group package-item-description-coupon">
                                                <input class="form-control cart-coupon-input" type="text" name="coupon" value="<?php echo $coupon; ?>" placeholder="Coupon" <?php if ($coupon) echo ' disabled'; ?> style="<?php if ($coupon) echo ' display:none'; ?>">
                                                <?php if ($coupon) : ?>
                                                    <span class="remove-coupon" onclick="removeCouponCode(this,'<?php echo $coupon; ?>','.package-expand'<?php echo $isCheckout ? ', true' : ''; ?>)"><?php echo sprintf($this->__('Coupon added: %s'), (string)$coupon); ?></span>
                                                <?php endif; ?>
                                                <div class="submit-coupon-button" style="<?php if (isset($coupon) && $coupon !== false) echo ' display:none'; ?>" onclick="jQuery('.cart-coupon-input').blur(); jQuery('body').focus(); applyCouponCode(jQuery(this).parent(),'.package-expand'<?php echo $isCheckout ? ", true " : ''; ?>)">n</div>
                                            </div>
                                        <?php endif; ?>
                                        <!-- Coupon Code End -->
                                    </td>
                                    <td class="monthly-costs">
                                            <p><?php echo $helper->showNewFormattedPriced($packageTotalsWoTax['totalmaf'] > 0 ? $packageTotalsWoTax['totalmaf'] : 0); ?></p>
                                            <p><?php echo $helper->showNewFormattedPriced($packageTotals['totalmaf'] - $packageTotalsWoTax['totalmaf'] > 0 ? $packageTotals['totalmaf'] - $packageTotalsWoTax['totalmaf'] : 0); ?></p>
                                            <p><?php echo $helper->showNewFormattedPriced($packageTotals['totalmaf'] > 0 ? $packageTotals['totalmaf'] : 0); ?></p>
                                    </td>
                                    <td class="one-of-costs">
                                        <p><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotalsWoTax['totalprice']) : ''; ?></p>
                                        <p><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotals['totalprice'] - $packageTotalsWoTax['totalprice']) : ''; ?></p>
                                        <p><?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($packageTotals['totalprice']) : ''; ?></p>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                            <!-- manual activation -->
                            <div <?php echo $manualActivation ? '' : 'class="hidden manual-activation-placeholder package-item clearer manual_activation_remarks_div_' . $package->getPackageId() . '"'?> class="manual-activation-placeholder package-item clearer manual_activation_remarks_div_<?php echo $package->getPackageId();?>">
                                <div class="col-xs-12">
                                    <p class="manual_text"><?php echo $this->__('Manual activation'); ?></p>
                                </div>
                                <div class="col-xs-6 form-group">
                                    <label for="manual_activation_reason[<?php echo $package->getPackageId();?>]"><?php echo $this->__('Reason connect manually'); ?></label>
                                    <select id="manual_activation_reason[<?php echo $package->getPackageId();?>]" name="manual_activation_reason[<?php echo $package->getPackageId();?>]" class="form-control input-sm <?php echo $manualActivation ? 'validate-select' : '';?>" >
                                        <?php
                                        $hasReason = false;
                                        $reasons = Mage::helper('vznl_checkout/reason')->getManualActivationForDropdown();
                                        foreach ($reasons as $reason) { ?>
                                            <?php $hasReason = ($hasReason || (($reason['value'] == $manualActivation) && $reason['remark'])); ?>
                                            <option data-remark="<?php echo $reason['remark'] ? 1 : 0; ?>" <?php echo ($reason['value'] == $manualActivation) ? 'selected' : ''; ?> value="<?php echo $reason['key'] ?>"><?php echo $reason['value'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <?php if ($needsSim && $isRetailOrIndirect) { ?>
                                <div class="col-xs-6 form-group">
                                    <label for="manual_activation_simcard[<?php echo $package->getPackageId();?>]"><?php echo $this->__('Simcard number'); ?></label>
                                    <input id="manual_activation_simcard[<?php echo $package->getPackageId();?>]" type="text" name="manual_activation_simcard[<?php echo $package->getPackageId();?>]" class="form-control input-sm<?php echo $isRetailOrIndirect && $manualActivation ? ' required-entry' : ''; ?><?php echo $manualActivation ? ' validate-sim-cart' : ''; ?>" value="<?php echo $package->getData('sim_number'); ?>"/>
                                </div>
                                <?php } ?>
                                <div class="col-xs-12 remark-textarea<?php echo $hasReason ? '' : ' hidden'; ?>">
                                    <label for="manual_activation_remarks[<?php echo $package->getPackageId(); ?>]"><?php echo sprintf("%s %s %s %d", $this->__('Connecting note manually'), $this->__($package['type']), $this->__('package'), $package->getPackageId()); ?></label>
                                    <textarea id="manual_activation_remarks[<?php echo $package->getPackageId(); ?>]" name="manual_activation_remarks[<?php echo $package->getPackageId(); ?>]" class="<?php echo $hasReason ? 'required-entry' : ''; ?>" value="<?php echo $package->getManualActivationUserInput()?$package->getManualActivationUserInput():''?>"><?php echo !empty($manualActivationNote) ? $manualActivationNote : '';?></textarea>
                                </div>
                                <div class="col-xs-12">
                                    <div class="btn btn-default right" onclick="manualActivate(<?php echo $package->getPackageId(); ?>, <?php echo $isRetailOrIndirect ? 'true' : 'false'; ?>)" style="margin-bottom: 5px"><?php echo $this->__('Do not connect manually'); ?></div>
                                </div>
                            </div>
                            <!-- END #manual activation -->
                        </div>
                            <?php } }?>
                        </div>

                <!-- totals for all packages -->
                <div class="expanded-shoppingcart-totals" data-state="false">
                    <table class="clear package-items-table" cellspacing=0 cellpadding=0>
                        <tfoot>
                        <tr>
                            <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="no-margin-bottom description">
                                <div class="no-margin-bottom form-group pull-left">
                                    <?php echo isset($templateData['infoSummary']) ? '<h4' : '<p'; ?> class="cart_totals_header">
                                    <?php echo $this->__("VAT Specifications"); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</h4>' : '</p>'; ?>
                                </div>
                            </td>
                            <td class="no-margin-bottom <?php echo isset($templateData['infoSummary']) ? '' : 'monthly-costs'; ?> show-total-string"></td>
                            <td class="no-margin-bottom one-of-costs"></td>
                        </tr>
                        <tr class="subheader-section">
                            <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="description"></td>
                            <td class="monthly-costs">
                                <?php echo isset($templateData['infoSummary']) ? '<h4' : '<p'; ?> class="no-margin-bottom">
                                <?php echo $this->__('Monthly'); ?>
                                <?php echo isset($templateData['infoSummary']) ? '</h4>' : '</p>'; ?>
                            </td>
                            <td class="one-of-costs">
                                <?php echo isset($templateData['infoSummary']) ? '<h4' : '<p'; ?> class="no-margin-bottom">
                                <?php echo (!$isIndirect) ? $this->__('One time cost') : ''; ?>
                                <?php echo isset($templateData['infoSummary']) ? '</h4>' : '</p>'; ?>
                            </td>
                        </tr>
                        <tr id="vat-price-details">
                            <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="description">
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                <div class="no-margin-bottom form-group pull-left">
                                    <?php } ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="cart-totals-vat price">' : '<p class="cart-totals-vat">'; ?>
                                    <?php echo $this->__('Net'); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="cart-totals-vat price">' : '<p class="cart-totals-vat">'; ?>
                                    <?php echo $this->__('VAT.'); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<h3' : '<p'; ?> class="cart-totals-vat">
                                    <?php echo $helper->__("Total"); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</h3>' : '</p>'; ?>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                </div>
                            <?php } ?>
                            </td>
                            <td class="no-margin-bottom monthly-costs">
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                <div>
                                    <?php } ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="no-margin-bottom fs13 fw300 price">' : '<p class="no-margin-bottom fs13 fw300">'; ?>
                                    <?php echo $helper->showNewFormattedPriced($quoteData['initial_mixmatch_maf_subtotal']) ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="no-margin-bottom fs13 fw300 price">' : '<p class="no-margin-bottom fs13 fw300">'; ?>
                                    <?php echo $helper->showNewFormattedPriced($quoteData['initial_mixmatch_maf_tax']) ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="total fs13 fw500 price">' : '<p class="total fs13 fw500">'; ?>
                                    <?php echo $helper->showNewFormattedPriced($quoteData['initial_mixmatch_maf_total'] ?: $quoteData['maf_grand_total']); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span>' : '</p>'; ?>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                </div>
                            <?php } ?>
                            </td>
                            <td class="no-margin-bottom one-of-costs">
                                <?php echo isset($templateData['infoSummary']) ? '<span class="no-margin-bottom fs13 fw300 price">' : '<p class="no-margin-bottom fs13 fw300">'; ?>
                                <?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($quoteData['initial_mixmatch_subtotal']) : ''; ?>
                                <?php echo isset($templateData['infoSummary']) ? '</span><br>' : '</p>'; ?>
                                <?php echo isset($templateData['infoSummary']) ? '<span class="no-margin-bottom fs13 fw300 price">' : '<p class="no-margin-bottom fs13 fw300">'; ?>
                                <?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($quoteData['initial_mixmatch_tax']) : ''; ?>
                                <?php echo isset($templateData['infoSummary']) ? '<span class="total fs13 fw500 price">' : '<p class="total fs13 fw500">'; ?>
                                <?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($quoteData['initial_mixmatch_total']) : ''; ?>
                                <?php echo isset($templateData['infoSummary']) ? '</span>' : '</p>'; ?>
                            </td>
                        </tr>
                        <?php
                        if (!isset($quoteModel)) {
                            $quoteModel = Mage::getSingleton('checkout/cart')->getQuote();
                        }

                        if (!isset($totalDevicePriceDeduction)) {
                            $totalDevicePriceDeduction = 0;
                        }

                        if ($totalDevicePriceDeduction > 0 && !$isIndirect) {
                            ?>
                            <tr>
                                <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="description">
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                    <div class="form-group pull-left">
                                        <?php } ?>
                                        <?php echo isset($templateData['infoSummary']) ? '<h3' : '<p'; ?> class="cart-totals-vat">
                                        <?php echo $this->__('Deduction for monthly device payment'); ?>
                                        <?php echo isset($templateData['infoSummary']) ? '</h3>' : '</p>'; ?>
                                        <?php if (!isset($templateData['infoSummary'])) { ?>
                                    </div>
                                <?php } ?>
                                </td>
                                <td class="monthly-costs"></td>
                                <td class="one-of-costs">
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="total fs13 fw500 price">' : '<p class="total fs13 fw500">'; ?>
                                    &minus; &euro; <?php echo number_format($totalDevicePriceDeduction, 2,',','.'); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span>' : '</p>'; ?>
                                </td>
                            </tr>
                            <?php
                        }
                        ?>
                        <tr>
                            <td class="no-margin-bottom description">
                                <div class="no-margin-bottom form-group pull-left">
                                    <p class="cart_totals_header">
                                        <span>
                                            <?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();?>
                                        </span>
                                        <?php echo Mage::helper('checkout')->__('Total');?>
                                    </p>
                                </div>
                            </td>
                            <td class="no-margin-bottom <?php echo isset($templateData['infoSummary']) ? '' : 'monthly-costs'; ?> show-total-string"></td>
                            <td class="no-margin-bottom one-of-costs"></td>
                        </tr>
                        <tr class="subheader-section">
                            <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="description"></td>
                            <td class="monthly-costs">
                                <?php echo isset($templateData['infoSummary']) ? '<h4' : '<p'; ?> class="no-margin-bottom">
                                <?php echo $this->__('Monthly'); ?>
                                <?php echo isset($templateData['infoSummary']) ? '</h4>' : '</p>'; ?>
                            </td>
                            <td class="one-of-costs">
                                <?php echo isset($templateData['infoSummary']) ? '<h4' : '<p'; ?> class="no-margin-bottom">
                                <?php echo (!$isIndirect) ? $this->__('One time cost') : ''; ?>
                                <?php echo isset($templateData['infoSummary']) ? '</h4>' : '</p>'; ?>
                            </td>
                        </tr>
                       <tr id="total-costs-summary">
                            <td<?php echo isset($templateData['infoSummary']) ? ' colspan="3"' : ''; ?> class="no-margin-bottom  description">
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                <div class="no-margin-bottom form-group pull-left">
                                    <?php } ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<h3' : '<p'; ?> class="cart-totals-vat">
                                    <?php echo $this->__("Total incl. VAT"); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</h3>' : '</p>'; ?>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                </div>
                            <?php } ?>
                            </td>
                            <td class="no-margin-bottom  monthly-costs">
                                <?php if (!isset($templateData['infoSummary'])) { ?>
                                <div>
                                    <?php } ?>
                                    <?php echo isset($templateData['infoSummary']) ? '<span class="no-margin-bottom total fs13 fw500 price">' : '<p class="total fs13 fw500">'; ?>
                                    <?php echo $helper->showNewFormattedPriced($quoteData['initial_mixmatch_maf_total'] ?: $quoteData['maf_grand_total']); ?>
                                    <?php echo isset($templateData['infoSummary']) ? '</span>' : '</p>'; ?>
                                    <?php if (!isset($templateData['infoSummary'])) { ?>
                                </div>
                            <?php } ?>
                            </td>
                           <td class="no-margin-bottom  one-of-costs">
                               <?php echo isset($templateData['infoSummary']) ? '<span class="no-margin-bottom total fs13 fw500 price">' : '<p class="total fs13 fw500">'; ?>
                               <?php echo (!$isIndirect) ? $helper->showNewFormattedPriced($quoteData['grand_total']) : ''; ?>
                               <?php echo isset($templateData['infoSummary']) ? '</span>' : '</p>'; ?>
                           </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <?php
                $complete = Mage::helper('dyna_checkout')->hasAllPackagesCompleted();
                ?>
                <?php $disabled = (!$complete || $hasKipWhileNotAllowed || !$completedMandatoryFamilies) ? ' disabled' : ''; ?>

                <?php if ($quoteModel->isLoanRequired()) { ?>
                    <div class="col-sm-12 expanded-package-loan-banner">
                        <div class="loan-banner"></div>
                    </div>
                <?php } ?>

                <div class="expanded-package-next-button clearfix <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>">
                    <?php if ( Mage::app()->getRequest()->get('checkout', 0) == 0 && !Mage::getSingleton('customer/session')->getOrderEditMode()) { ?>
                        <input<?php echo $disabled; ?> class="btn btn-primary expanded_checkout_btn<?php echo $disabled; ?>" type="button" style="" id="expanded_checkout_btn" value="<?php echo $this->__('Proceed'); ?>" onclick="expandedFormSubmit();"/>
                    <?php } else { ?>
                          <a onclick="customer.setLoading(true);window.location.href='<?php echo $this->getUrl('checkout/cart/cancelEditSuperorderPackage') ?>';return false;" style="" class="btn col-sm-4 btn-default"><?php echo $this->__('Cancel');?></a>
                    <?php } ?>
                </div>
            </div>
            <?php if (isset($templateData['infoSummary'])) { ?>
                <div style="clear: both;"></div>
            <?php } ?>
        </div>
        <?php if ($includeForm) { ?>
    </form> <!-- END form#expanded_form -->
    <?php } ?>
</div> <!-- END #right-panel-cart -->
<?php
if (!$isCheckout) {
    echo Mage::getSingleton('core/layout')->createBlock('core/template')->setTemplate('checkout/cart/steps/scripts/right_sidebar.phtml')->toHtml();
}
?>
