<?php
/** @var Vznl_Customer_Helper_Data $customerHelper */
$customerHelper = Mage::helper('vznl_customer');
?>
<form class="form-inline" role="form" id="<?php echo $this->getFormId() ? $this->getFormId() : 'customer_search_form'; ?>" onsubmit="return false;">
    <div class="search-block customer-search-form">
        <div class="form-group col-xs-12">
            <label class="display-block" for="customer_ctn">
                <span>
                    <?php echo $customerHelper->__('Mobile number'); ?>
                </span>
                <?php if ($this->getFormId() == 'cart_customer_search' && Mage::helper('agent')->isIndirectStore()) { ?>
                    <span data-toggle="popover" data-trigger="focus click" class="customer_search_popover pull-right glyphicon glyphicon-info-sign blue"></span>
                <?php } ?>
            </label>
            <input autocomplete="off" type="text" class="form-control" name="customer_ctn" id="customer_ctn" />
        </div>
        <div class="form-group col-xs-12">
            <label for="dob"><?php echo $this->__('Date of birth'); ?></label>
            <input type="text" class="form-control date-format-nl" name="dob" id="dob" autocomplete="off" placeholder="<?php echo $this->__('dd-mm-jjjj'); ?>" onkeyup="dobChange(event);" maxlength="10" />
        </div>
        <div class="form-group col-xs-12">
            <label for="company_coc"><?php echo $this->__('KVK'); ?></label>
            <input type="text" class="form-control" name="company_coc" id="company_coc" autocomplete="off" />
        </div>
        <div class="form-group col-xs-12">
            <label for="ban"><?php echo $this->__('Customer number'); ?></label>
            <input type="text" class="form-control" name="ban" id="ban" autocomplete="off" />
        </div>
        <hr class="col-xs-12"/>
        <div class="form-group col-xs-12">
            <label for="pin"><?php echo $this->__('Customer password'); ?></label>
            <input type="password" class="form-control" name="pin" id="pin" autocomplete="off" />
            <input type="password" class="hidden" id="pin" autocomplete="on" />
        </div>
        <div class="form-group col-xs-12">
            <label for="order_number"><?php echo $this->__('Order number'); ?></label>
            <input autocomplete="off" type="text" class="form-control" name="order_number" id="order_number" />
        </div>
        <input type="hidden" class="form-control" name="indirectStore" id="indirectStore" value="yes" />
        <div class="customer_search_field clear">
            <div class="btn btn-block btn-default" onclick="jQuery(this).parents('form').find('input[type=text], input[type=password],textarea').val('');">
                <?php echo $this->__('Clear fields'); ?>
            </div>
        </div>
        <div class="search-button customer_search_field">
            <input type="hidden" name="perform-exact-address-search" id="perform-exact-address-search" value="0" />
            <button id="submit-search" type="submit" class="btn btn-block btn-default" onclick="customer.searchCustomer(this,'indirect');">
                <span class="loading-search invisible"></span> <?php echo $customerHelper->__('Search'); ?>
            </button>
        </div>
        <div id="customer_search_results" class="customer_search_results col-xs-12">
            <?php if (Mage::getSingleton('customer/session')->getCustomer()->getId() && $this->getFormId() != 'top_menu_search') { ?>
                <div class="modal-block" style="background: #ffffcb; padding:10px; margin-bottom: 10px;">
                    <div class="info left">
                        <div style="font-size: 12px;">
                            <?php echo $this->__('A client is already active. Selecting another client will logout the current customer.'); ?>
                        </div>
                    </div>
                    <div class="clearfix clearer clear"></div>
                </div>
            <?php } ?>
            <p class="title"><?php echo $this->__('Results'); ?></p>
            <div id="customer_list"><!--Filled with JS--></div>
        </div>
    </div>
</form>

<div id="search_info_text_popover_content" style="display:none;">
    <div class="form-group customer-popover">
        <div class="form-row popover-header"><?php echo $this->__('Search instructions'); ?></div>
        <hr class="form-row" />
        <div class="form-row">
            <?php echo $this->__('To ensure the privacy of our customers, the search should always be done based upon two elements:'); ?>
        </div>
        <div class="form-row bolded"><?php echo $this->__('Consumer customers: '); ?></div>
        <div class="form-row"><?php echo $this->__('Enter mobile number and date of birth.'); ?></div>
        <div class="form-row bolded"><?php echo $this->__('Business customers: '); ?></div>
        <div class="form-row">
            <?php echo $this->__('Enter CoC number and the Vodafone customer number. Or for small business customers (max. 3 mobile numbers), enter the CoC number and one of mobile numbers.'); ?>
        </div>
        <div class="form-row">
            <?php echo $this->__('Some customers, both business and consumer have agreed to a password in order to protect their data. When searching these customers the password needs to be entered as well, in order to get access to the data of this customer.'); ?>
        </div>
    </div>
</div>

<script type="text/javascript">
  function dobChange(evt) {
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if ((charCode >= 48 && charCode <= 57) || (charCode >= 96 && charCode <= 105)) {
      dobDots();
    } else if (charCode == 37 || charCode == 39 || charCode == 46 || charCode == 8) {
      // LET LEFT, RIGHT, BACKSPACE AND DEL PASS
    } else {
      evt.preventDefault();
    }
  }

  function dobDots() {
    var dateBox = jQuery('#dob');
    var chars = dateBox.val().length;
    var text = dateBox.val();

    if (chars == 2) {
      dateBox.val(text + '-');
    }
    if (chars == 5) {
      dateBox.val(text + '-');
    }
  }

  function checkDateFormat(value) {
    value = jQuery.trim(value).replace(/[^\d\.]/g, '');
    if (value.length < 0) {
      return false;
    }

    var val = value.split('-');
    if (val.length != 3) {
      return false;
    }

    if (val[2].toString().length < 4) {
      return false;
    }

    // check if input birthday is future date
    var rightnow = new Date();
    var inputdate = new Date(val[2], val[1], val[0]);
    if (rightnow < inputdate) {
      return false;
    }

    return true;
  }
</script>
