<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

    /** @var Omnius_Package_Model_Package[] $packages */
    $packages = $this->getPackages();
    $deliveryCosts = $this->getDeliveryCosts();
    /** @var Omnius_Checkout_Model_Sales_Quote $quote */
    $quote = $this->getQuote();
    $hasRetention = $this->getHasRetention();
    $hasNumberPorting = $this->getHasNumberPorting();
    $configuratorHelper = Mage::helper('omnius_configurator');
    $totalMaf = $totalMafTax = $totalTaxMaf = 0;
    $totalPrice = $totalPriceTax = $totalTaxPrice = 0;
    $totalPromo = $totalPromoTax = $totalTaxPromo = 0;
    $totalConnectionFee = $totalConnectionFeeTax = 0;
    $tax = ($this->getIsBusiness()) ? '' : 'Tax';
    $withTax = ($tax) ? '' : 'Tax';
    $inclTax = ($tax) ? 'incl.' : 'excl.';
    $exclTax = ($tax) ? 'excl.' : 'incl.';
    // money format handler
    $coreHelper = Mage::helper('core');
    $money = function($price) use($coreHelper) { return $coreHelper->currency($price, true, false); };
    $difference = 0;
    $orderDifference = $this->getDifference();
    $helper = Mage::helper('operator');
    $operator_list = $helper->getNetworkOperators(true);
    $network_list = $helper->getServiceProviders(true);

?>
<TABLE width="100%" CELLSPACING="0" BORDER="0" style="text-align: left;">
<?php
$firstPackageInOrder = true;
/** @var Omnius_Package_Model_Package $package */
foreach ($packages as $package) :

    $networkOperator = isset($operator_list[strtolower($package->getNetworkOperator())]) ? $operator_list[strtolower($package->getNetworkOperator())] : $package->getNetworkOperator();
    $networkProvider = isset($network_list[strtolower($package->getNetworkProvider())]) ? $network_list[strtolower($package->getNetworkProvider())] : $package->getNetworkProvider();


    if ($quote) {
        $packageItems = $quote->getPackageItems($package->getPackageId());
    } else {
        $packageItems = $package->getPackageItems();
    }

    $packageTotalsWithTax = $configuratorHelper->calculatePackageItemsTotals($packageItems, true, $skipMafDiscounts = false);
    $packageTotalsWithoutTax = $configuratorHelper->calculatePackageItemsTotals($packageItems, false, $skipMafDiscounts = false);
    $subscription = $configuratorHelper->extractSubscriptionFromPackageItems($packageItems);
    $subscriptionDuration = '';
    if ($subscription) {
        $subscriptionDuration = $subscription->getProduct()->getSubscriptionDuration();
    }
    $packageProducts = Mage::helper('omnius_checkout/email')->getPackageItemsLines($packageItems, $package->getCoupon(), $this->getIsIls(), $this->getIsBusiness(), $package->isRetention());
    $promoMaf = $promoMafTax = 0;
?>

<?php if ( ! $quote && $firstPackageInOrder) : $firstPackageInOrder = false; ?>
    <?php if($this->getOrderEdit() && ($orderDifference !== null)) : ?>
        <TR>
            <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff" colspan="3">
                <?php
                if ($orderDifference > 0 && $this->getPaymentMethod() == 'cashondelivery') {
                    //In case additional amount needs to be paid (if change before + COD then this does not have to be shown)
                    echo sprintf("Naar aanleiding van deze wijziging dien je %s bij te betalen voor de hardware. Dit bedrag kun je voldoen aan de koerier als je pakket wordt afgeleverd.", $money($orderDifference));
                } elseif ($orderDifference > 0 && $this->getPaymentMethod() == 'checkmo') {
                    //In case additional payment, payment method = Pay on Bill and status delivery = delivered
                    echo sprintf("Naar aanleiding van deze wijziging dien je %s bij te betalen voor de hardware. Dit bedrag verrekenen op je maandelijkse factuur.", $money($orderDifference));
                } elseif ($orderDifference < 0 && $this->getPaymentMethod() == 'checkmo') {
                    //In case refund, payment method Pay on Bill and status delivery = delivered
                    $orderDifference = -1 * $orderDifference;
                    echo sprintf("Naar aanleiding van deze wijziging zijn de eenmalige kosten voor de hardware %s minder. Dit bedrag storten wordt verrekend op je maandelijkse factuur.", $money($orderDifference));
                } elseif ($orderDifference < 0 && ($this->getPaymentMethod() == 'cashondelivery' || $this->getPaymentMethod() == 'adyen_hpp')) {
                    //In case refund, Online payment or cash-on-delivery which has partial payment
                    $orderDifference = -1 * $orderDifference;
                    echo sprintf("Naar aanleiding van deze wijziging zijn de eenmalige kosten voor de hardware %s minder. Dit bedrag storten wij terug op je rekening.", $money($orderDifference));
                } ?>
            </TD>
        </TR>
    <?php endif; ?>
    <tr>&nbsp;</tr>
        <?php if($this->getDeliveryAddress() && is_object($this->getDeliveryAddress()) && $this->getDeliveryAddress()->getDeliveryStoreId()) : ?>
            <tr style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #ffffff">
                <td style="PADDING-LEFT: 10px;width: 25%;"><b><?php echo $this->__('Delivery method:'); ?></b></td><td><?php echo ucfirst($this->__('pick up in store')); ?></td>
            </tr>
            <tr style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #ffffff">
                <td style="PADDING-LEFT: 10px;width: 25%;"><b><?php echo $this->__('Store address:'); ?></b></td><td><?php echo Mage::helper("omnius_checkout")->formatAddressAsHtml($this->getDeliveryAddress(), true); ?></td>
            </tr>
        <?php elseif ($this->getDeliveryAddress()) : ?>
            <tr style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #ffffff">
                <td style="PADDING-LEFT: 10px;width: 25%;"><b><?php echo $this->__('Delivery method:'); ?></b></td><td><?php echo ucfirst($this->__('home delivery')); ?><br /></td>
            </tr>
            <tr style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #ffffff">
                <td style="PADDING-LEFT: 10px;width: 25%;"><b><?php echo $this->__('Shipping address:'); ?></b></td><td><?php echo ($this->getShowCustomerCompany() ? $this->getShowCustomerCompany() . ', ' : '') . (is_object($this->getDeliveryAddress()) ? Mage::helper("omnius_checkout")->formatAddressAsHtml($this->getDeliveryAddress(), true) : $this->getDeliveryAddress()); ?><br /></td>
            </tr>
        <?php endif; ?>
    <TR>
        <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 10px; PADDING-TOP: 20px; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #ffffff" colspan="3">

            <?php
            if ($hasNumberPorting && ! $this->getOrderEdit()) {
                echo !$this->getIsBusiness() ? $this->__("Because you use number retention takes slightly longer processing. We must first get permission from your current service provider to take over the number.") : $this->__("(business) Because you use number retention takes slightly longer processing. We must first get permission from your current service provider to take over the number.") . '<br />';
                echo !$this->getIsBusiness() ? $this->__("You will be informed by sms and e-mail on it's progress.") : $this->__("(business) You will be informed by sms and e-mail on it's progress.");
            } elseif (! $this->getOrderEdit() || ($this->getOrderEdit() && ! $package->isDelivered())) {
                echo !$this->getIsBusiness() ? $this->__('We will inform you by e-mail more about the delivery.') . ' ' : $this->__('(business) We will inform you by e-mail more about the delivery.') . ' ';
            }
            if ($this->getOrderEdit() && $package->isDelivered()) {
                echo !$this->getIsBusiness() ? $this->__('We wait with delivery until you have returned the order already received. We will e-mail confirming the return receipt and you kept further informed about the delivery of the amended order.') : $this->__('(business) We wait with delivery until you have returned the order already received. We will e-mail confirming the return receipt and you kept further informed about the delivery of the amended order.');
            }
            ?>
        </TD>
    </TR>
<?php endif; ?>
<tr>
    <td colspan="3" style="FONT-SIZE: 11px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 10px; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #ffffff">
        <?php echo $this->__('prices ' . $inclTax . ' vat'); ?>
    </td>
</tr>
<TR>
    <TD style="BORDER-WIDTH: 1px; BORDER-COLOR: #7D7D7D; BORDER-STYLE: solid; PADDING-BOTTOM:20px; PADDING-TOP:5px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 20px;" colspan="3">
        <TABLE width="100%" CELLSPACING="0" BORDER="0">
            <TR>
                <TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 10px; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #ffffff" colspan="4">
                    <B style="FONT-SIZE: 15px;"><?php echo $this->__('Package') . ((count($packages) > 1) ? ' ' . $package->getPackageId() : ''); ?></B> <br/>

                </TD>
            </TR>


        <?php if ($package->isRetention()) : ?>
            <TR style="BACKGROUND-COLOR: #ffffff">
                <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial, Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;" colspan="2" align="left">
                    <B><?php echo !$this->getIsBusiness() ? $this->__("Your order for") : $this->__("(business) Your order for"); ?><br /><?php echo $this->__('mobile number'); ?>: <?php echo Mage::helper('omnius_checkout')->formatCtn($package->getCtn()); ?></B>
                </TD>
                <TD colspan="2">&nbsp;</TD>
            </TR>
        <?php endif; ?>

        <?php if ( ! $quote && ! $package->isRetention() && $package->isNumberPorting() ) :?>
            <TR style="BACKGROUND-COLOR: #ffffff">
                <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 20px; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #FFF; VERTICAL-ALIGN: top;" colspan="4" align="left">
                    <TABLE>
                        <TR>
                            <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #FFF; VERTICAL-ALIGN: top;">
                                <b><?php echo !$this->getIsBusiness() ? $this->__("Your order preserving mobile number") : $this->__("(business) Your order preserving mobile number"); ?>: <?php echo ($package->isNumberPorting()) ? Mage::helper('omnius_checkout')->formatCtn($package->getCurrentNumber()) : Mage::helper('omnius_checkout')->formatCtn($package->getTelNumber()); ?></b>
                            </TD>
                        </TR>
                        <TR>
                            <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top;" colspan="1" align="left">
                                <?php echo $this->__("Current provider"); ?>: <?php echo $networkOperator;?> / <?php echo $networkProvider;?><BR>
                                <?php if ($package->getCurrentSimcardNumber()) {
                                    echo $this->__("Current SIM number") . ': ' . $package->getCurrentSimcardNumber();
                                } elseif ($package->getContractNr()) {
                                    echo $this->__("Client number provider") . ': ' . $package->getContractNr();
                                } ?>
                            </TD>
                        </TR>
                    </TABLE>
                </TD>
            </TR>
        <?php endif; ?>

        <TR style="BACKGROUND-COLOR: #ffffff">
            <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial, Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;" colspan="2" align="left">
                <?php if ( ! $package->isRetention() && ! $package->isNumberPorting()) : ?>
                    <B><?php echo !$this->getIsBusiness() ? $this->__("your order") : $this->__("(business) your order"); ?></B>
                <?php endif; ?>
                <BR>
            </TD>

            <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;" colspan="1" align="right">
                <B><?php echo $this->__("Monthly fee"); ?></B><BR>
            </TD>

            <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 10px; PADDING-RIGHT: 0;" colspan="1" align="right">
                <B><?php echo $this->__("One time"); ?></B><BR>
            </TD>
        </TR>
<?php foreach ($packageProducts as $section => $products) : ?>
    <TR STYLE="BACKGROUND-COLOR: #ffffff;">
            <TD colspan="4" style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;VERTICAL-ALIGN: top; " >
    &nbsp;
            </TD>
        </TR>
    <?php foreach ($products as $product) : ?>

    <TR STYLE="BACKGROUND-COLOR: #ffffff;">
        <?php if (isset($product['image'])): ?>
            <TD style="PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" rowspan="<?php echo isset($product['subgroup']) ? count($product['subgroup']) + 1 : 1; ?>" align="left">
                <?php echo $product['image']; ?>
            </TD>
        <?php endif; ?>
        <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top;"
            colspan="<?php echo (isset($product['image'])) ? 1 : 2; ?>" align="left">
            <?php if ($section == Omnius_Catalog_Model_Type::SUBTYPE_DEVICE || $section == Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION) : ?>
                <B style="FONT-SIZE: 15px;"><?php echo $product['name']; ?></B>
            <?php else: ?>
                <?php echo $product['name']; ?>
            <?php endif; ?>
            <?php if (isset($product['promoPriceTax'])) :
                $promoMaf += $product['promoPrice'];
                $promoMafTax += $product['promoPriceTax']; ?>
            <?php endif; ?>
        </TD>
        <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT:0; PADDING-RIGHT:0; VERTICAL-ALIGN: top; FONT-WEIGHT: bold;" colspan="1" align="right">
            <?php echo isset($product['promoPrice'.$tax]) ? Mage::helper('core')->currency($product['promoPrice'.$tax], true, false) : (isset($product['maf'.$tax]) ? $product['maf'.$tax] : ''); ?>
        </TD>
        <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top; FONT-WEIGHT: bold;" colspan="1" align="right">
            <?php echo $product['price'.$tax]; ?>
        </TD>
    </TR>
    <?php if (isset($product['subgroup'])) :
        foreach ($product['subgroup'] as $subproduct) :
            ?>
            <TR STYLE="BACKGROUND-COLOR: #ffffff;">
                <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top; "
                    colspan="<?php echo (isset($product['image'])) ? 1 : 2; ?>" align="left">
                    <?php echo $subproduct['name']; ?>
                </TD>
                <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT:0; PADDING-RIGHT:0; VERTICAL-ALIGN: top; FONT-WEIGHT: bold;"
                    colspan="1" align="right">
                    &nbsp;
                </TD>
                <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top; FONT-WEIGHT: bold;"
                    colspan="1" align="right">
                    <?php if (isset($subproduct['price'.$tax])) {
                        // is this ever set?
                        echo $subproduct['price'.$tax];
                    }
                    ?>
                </TD>
            </TR>
        <?php endforeach;
    endif; ?>

    <?php if ($section == Omnius_Catalog_Model_Type::SUBTYPE_DEVICE || $section == Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION) : ?>
        <TR STYLE="BACKGROUND-COLOR: #ffffff;">
            <TD colspan="4" style="PADDING-TOP: 0; LINE-HEIGHT: 0;">&nbsp;</TD>
        </TR>
    <?php endif; ?>

    <?php if (isset($product['connection_fee'])) :
        $totalConnectionFee += $product['connection_fee']['price'];
        $totalConnectionFeeTax += $product['connection_fee']['priceTax']; ?>

        <TR STYLE="BACKGROUND-COLOR: #ffffff;">
            <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top;" colspan="2" align="left">
                <?php echo $product['connection_fee']['name']; ?>
            </TD>
            <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT:0; PADDING-RIGHT:0; VERTICAL-ALIGN: top;" colspan="1" align="right">
                &nbsp;
            </TD>
            <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top; FONT-WEIGHT: bold;" colspan="1" align="right">
                <?php echo Mage::helper('core')->currency($product['connection_fee']['price'.$tax]); ?>
            </TD>
        </TR>
    <?php endif; ?>

<?php endforeach; // end $products
endforeach; // end $packageProducts

if ( ! $quote && $package->isRetention()) :
    $ctnEndDate = $package->getCtnOriginalEndDate();
    $ctnStartDate = $package->getCtnOriginalStartDate();
    if ($ctnEndDate && $ctnStartDate) { // Previous contract starts in the past, get enddate
        if (strtotime($ctnStartDate->format('d-m-Y')) < time()) {
            $startDate = $ctnEndDate ? $ctnEndDate->format('d-m-Y') : $this->getSigningDate();
        } else {
            $startDate = $ctnStartDate ? $ctnStartDate->format('d-m-Y') : $this->getSigningDate();
        }
        if (strtotime($startDate) < time()) {
            $startDate = $this->getSigningDate();
        }
    } else { // Previous contract end date
        $startDate = $this->getSigningDate();
    }
    ?>

    <TR STYLE="BACKGROUND-COLOR: #ffffff;">
        <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top;" colspan="2" align="left">
            <?php if (!$package->isRetention()): ?><b><?php endif;?><?php echo $this->__("New subscription end date"); ?>:<?php if (!$package->isRetention()): ?></b><?php endif;?>
        </TD>
        <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top;" colspan="2" align="left">
            <?php echo date("d-m-Y", strtotime("+$subscriptionDuration month", strtotime($startDate))); ?>
        </TD>
    </TR>
<!--    Only show this block for retention according to SREQ-07667-->
    <?php if ($package->isRetention()): ?>
    <TR STYLE="BACKGROUND-COLOR: #ffffff;">
        <TD colspan="4" align="left">
            <table style="width: 100%">
                <tr>
                    <td style="font-style: italic; FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;">
                    <?php echo $this->__("Immediately you going to use your new subscription. This means that you will pay directly for your new subscription."); ?>
                    </td>
                </tr>
            </table>
        </TD>
    </TR>
    <?php endif; ?>
<?php endif;

    $totalPromo += $promoMaf;
    $totalTaxPromo += $promoMafTax - $promoMaf;
    $totalPromoTax += $promoMafTax;

    $totalMaf += $packageTotalsWithoutTax['totalmaf'];
    $totalTaxMaf += $packageTotalsWithTax['totalmaf'] - $packageTotalsWithoutTax['totalmaf'];
    $totalMafTax += $packageTotalsWithTax['totalmaf'];

    $totalPrice += $packageTotalsWithoutTax['totalprice'];
    $totalTaxPrice += $packageTotalsWithTax['totalprice'] - $packageTotalsWithoutTax['totalprice'];
    $totalPriceTax += $packageTotalsWithTax['totalprice'];

    if ($this->getOrderEdit() && $package->isDelivered()) {
        /** @var Omnius_Package_Helper_Data $packageHelper */
        $packageHelper = Mage::helper('omnius_package');
        $packageDifference = $packageHelper->getPackageDifferences($package->getPackageId());
        if ( ! is_array($packageDifference) && ! empty($packageDifference)) {
            $difference += $packageHelper->getPackageDifferences($package->getPackageId());
        }
    }
?>

</TABLE>
</TD>
</TR>
    <TR>
        <TD colspan="4" style="PADDING-TOP: 5px;">&nbsp;</TD>
    </TR>

<?php endforeach; #packages ?>
</TABLE>
<!--TOTALS section-->
<TABLE width="100%" CELLSPACING="0" BORDER="0">
    <TR>
        <TD style="BORDER-WIDTH: 1px; BORDER-COLOR: #7D7D7D; BORDER-STYLE: solid; PADDING-BOTTOM:20px; PADDING-TOP:20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px;">
            <TABLE width="100%" CELLSPACING="0" BORDER="0">
                <TR style="BACKGROUND-COLOR: #ffffff">
                    <TD width="40%" style="FONT-SIZE: 22px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT:0; PADDING-RIGHT:0; VERTICAL-ALIGN: top;" colspan="1" align="left">
                        <B><?php echo $this->__('Total'); ?></B>
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $this->__("Subscription Fee"); ?></B>
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $this->__("Per month"); ?></B>
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $this->__("Hardware price"); ?></B>
                    </TD>
                </TR>
                <?php if ($deliveryCosts): ?>
                    <TR>
                        <TD width="40%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top;" colspan="1" align="right">
                            <?php echo $this->__("Delivery costs"); ?>
                        </TD>
                        <TD width="20%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top;" colspan="1" align="right">
                            &nbsp;
                        </TD>
                        <TD width="20%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top;" colspan="1" align="right">
                            &nbsp;
                        </TD>
                        <TD width="20%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top;" colspan="1" align="right">
                            <?php echo Mage::helper('core')->currency($deliveryCosts, true, false); ?>
                        </TD>
                    </TR>
                <?php endif; ?>
                <TR style="BACKGROUND-COLOR: #ffffff">
                    <TD width="40%" style="FONT-SIZE: 22px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="left">
                        &nbsp;
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 22px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $money(${'totalConnectionFee'.$tax}); ?></B>
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 22px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $money(${'totalMaf'.$tax}); ?></B>
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 22px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $money(${'totalPrice'.$tax}); ?></B>
                    </TD>
                </TR>
                <TR style="BACKGROUND-COLOR: #ffffff">
                    <TD width="40%" style="FONT-SIZE: 8px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="left">
                        &nbsp;
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 8px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
<!--                        <b>--><?php //echo $this->__($exclTax ." VAT") . '; ' . $money(${'totalConnectionFee'.$withTax}); ?><!--</b>-->
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 8px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
<!--                        <b>--><?php //echo $this->__($exclTax ." VAT") . '; ' .$money(${'totalMaf'.$withTax}); ?><!--</b>-->
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 8px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
<!--                        <b>--><?php //echo $this->__($exclTax . " VAT") . '; ' .$money(${'totalPrice'.$withTax}); ?><!--</b>-->
                    </TD>
                </TR>
                <?php if ( ! $quote ) : ?>
                    <tr>
                        <td colspan="4">
                            <TABLE width="100%" CELLSPACING="0" BORDER="0">
                                <TR style="BACKGROUND-COLOR: #ffffff">
                                    <TD width="45%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:10px; PADDING-LEFT: 0; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <b><?php echo $this->__('Payment:'); ?></b>
                                    </TD>
                                </TR>
                                <TR style="BACKGROUND-COLOR: #ffffff">
                                    <TD width="45%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php echo $this->__('One-time costs hardware'); ?>:
                                    </TD>
                                    <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php
                                        $totalHw = ${'totalPrice'.$tax};
                                        if($this->getPaymentMethod() == 'adyen_hpp'){
                                            echo $money($totalHw) . sprintf($this->__(' already met via %s'), $this->__($this->getPaymentMethod()));
                                        }else  if ($this->getOrderEdit() && $difference > 0) {
                                            if($this->getParentPaymentMethod() == 'checkmo') {
                                                echo $money($totalHw-$difference) . $this->__('Direct Debit') . '<br>';
                                                echo $money($difference) . $this->__('Direct Debit') . '<br>';
                                            } else {
                                                echo $money($totalHw-$difference) . sprintf(($this->getIsPaidParent() ? $this->__(' already met with %s') : $this->__(' to meet with %s') ), $this->__($this->getParentPaymentMethod())) . '<br>';
                                                echo $money($difference) . sprintf(($this->getIsPaid() ? $this->__(' already met with %s') : $this->__(' to meet with %s') ), $this->__($this->getPaymentMethod())) . '<br>';
                                            }
                                        } elseif ($this->getOrderEdit() && $difference < 0) {
                                            $difference = -1 * $difference;
                                            if($this->getParentPaymentMethod() == 'checkmo') {
                                                echo $money($totalHw-$difference) . $this->__('Direct Debit') . '<br>';
                                                echo $money($difference) . $this->__('Direct Debit') . '<br>';
                                            } else {
                                                echo $money($totalHw+$difference) . sprintf(($this->getIsPaidParent() ? $this->__(' already met with %s') : $this->__(' to meet with %s') ), $this->__($this->getParentPaymentMethod())) . '<br>';
                                                echo $money($difference) .  sprintf($this->__(' to be returned with %s'), $this->__($this->getPaymentMethod())) . '<br>';
                                            }
                                        } elseif ($this->getOrderEdit() && $difference == 0) {
                                            if ($this->getParentPaymentMethod() == 'checkmo') {
                                                echo $money($totalHw) . $this->__('Direct Debit') . '<br>';
                                            } else {
                                                echo $money($totalHw) . sprintf(($this->getIsPaidParent() ? $this->__(' already met with %s') : $this->__(' to meet with %s') ), $this->__($this->getParentPaymentMethod())) . '<br>';
                                            }
                                        } else {
                                            if ($this->getPaymentMethod() == 'checkmo') {
                                                if($totalHw == 0) {
                                                    echo $this->__('Inapplicable');
                                                } else {
                                                    echo $this->__('Direct Debit') . '<br>';
                                                }
                                            } else {
                                                echo ($totalHw == 0) ? $this->__('Inapplicable') : ucfirst(trim(sprintf(($this->getIsPaid() ? $this->__(' already met with %s') : $this->__(' to meet with %s') ), $this->__($this->getPaymentMethod()))));
                                            }
                                        }
                                        ?>
                                    </TD>
                                </TR>
                                <TR style="BACKGROUND-COLOR: #ffffff">
                                    <TD width="45%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php echo $this->__('One-off connection charge'); ?>:
                                    </TD>
                                    <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php echo (${'totalConnectionFee'.$tax} == 0) ? $this->__('Inapplicable') : $this->__('Direct debit (first phone bill)'); ?>
                                    </TD>
                                </TR>
                                <TR style="BACKGROUND-COLOR: #ffffff">
                                    <TD width="45%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php echo $this->__('Monthly Cost'); ?>:
                                    </TD>
                                    <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php echo (${'totalMaf'.$withTax} == 0) ? $this->__('Inapplicable') : $this->__('Direct Debit'); ?>
                                    </TD>
                                </TR>
                            </TABLE>
                        </td>
                    </tr>
                <?php endif; ?>
            </TABLE>
        </TD>
    </TR>
</TABLE>
