<?php

/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveDeliveryAddress */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = $this->getData("checkout_data");

// Package
$package = $this->getData("package" );

// IDs
$id = $this->getData("id" );

?>

<?php if( $checkoutLayout->showBillingKnownAddress( $package ) ): ?>

    <div class="accordion-item" id="billing-payments-known-addresss">
        <div class="accordion-head accordion-head-markerless">
            <input type="radio" id="<?php echo $id; ?>_current_address" class="billing_selected_4" name="<?php echo $id; ?>[other_address][selected]" value="4" onchange="switchOtherAddress(this);subModelChange('<?php echo $id; ?>[other_address][selected]', '4')"/>
            <label for="<?php echo $id; ?>_current_address"></label> <?php echo $this->__("Use known address") . ' (' .  $checkoutLayout->getCustomerKnownAddressString() . ')'; ?>
        </div>
        <div class="accordion-body hidden">
            <div>
                <input type="hidden" id="<?php echo $id; ?>[other_address][postcode]" name="<?php echo $id; ?>[other_address][postcode]" data-form="postcode" data-address-type ="billing_known" value="<?php echo $checkoutLayout->getCustomerKnownAddressPart('postcode'); ?>">
                <input type="hidden" id="<?php echo $id; ?>[other_address][city]" name="<?php echo $id; ?>[other_address][city]" data-form="city" data-address-type ="billing_known" value="<?php echo $checkoutLayout->getCustomerKnownAddressPart('city'); ?>"/>
                <input type="hidden" id="<?php echo $id; ?>[other_address][street]" data-id="billing[other_address][street]" name="<?php echo $id; ?>[other_address][street]" data-form="street" data-address-type ="billing_known" value="<?php echo $checkoutLayout->getCustomerKnownAddressPart('street'); ?>"/>
                <input type="hidden" id="<?php echo $id; ?>[other_address][houseno]" name="<?php echo $id; ?>[other_address][houseno]" data-form="houseno" data-address-type ="billing_known" value="<?php echo $checkoutLayout->getCustomerKnownAddressPart('house_number'); ?>"/>
                <input type="hidden" id="<?php echo $id; ?>[other_address][addition]" name="<?php echo $id; ?>[other_address][addition]" data-form="addition" data-address-type ="billing_known" value="<?php echo $checkoutLayout->getCustomerKnownAddressPart('house_addition'); ?>"/>
            </div>
        </div>
    </div>

<?php endif; ?>