<?php

/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveDeliveryAddress */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = $this->getData("checkout_data");

// Package
$package = $this->getData("package" );

// IDs
$id = $this->getData("id" );
?>

<?php if ($checkoutLayout->showBillingOtherAddress($package)): ?>

    <div class="accordion-item" id="save-billing-address-container" data-autocomplete="save-<?php echo $id; ?>-address-container">
        <div class="accordion-head">
            <input type="radio" id="<?php echo $id; ?>_other_address" class="billing_selected_2" name="<?php echo $id; ?>[other_address][selected]" value="2" onchange="switchOtherAddress(this);subModelChange('<?php echo $id; ?>[other_address][selected]', '2')"/>
            <label for="<?php echo $id; ?>_other_address"></label> <?php echo $this->__("Use a different billing address"); ?>
        </div>
        <div class="accordion-body">
            <div>
                <div class="dt switch-address type-address hidden">

                    <!-- Billing gender -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <div class="select-wrapper">
                                <div class="field-row">
                                    <select id="<?php echo $id; ?>[other_address][gender]" data-id="billing[other_address][gender]" name="<?php echo $id; ?>[other_address][gender]" class="form-control input-sm billing-gender" onchange="switchBillingSohoFields(this);checkout.summaryDataSynchronization(jQuery(this))" vfde-model="<?php echo $id; ?>[other_address][gender]">
                                        <option value="<?php echo $this->__(''); ?>">
                                            <?php echo $this->__(' '); ?>
                                        </option>
                                        <option value="1"
                                            <?php echo in_array($checkoutData->getFieldValue( $id . "[other_address][gender]", $this->getCustomer()->getTitle()), [1, $this->__('Mr.')]) ? "selected" : ""; ?>>
                                            <?php echo $this->__('Mr.'); ?>
                                        </option>
                                        <option value="2"
                                            <?php echo in_array($checkoutData->getFieldValue( $id . "[other_address][gender]", $this->getCustomer()->getTitle()), [2, $this->__('Mrs.')]) ? "selected" : ""; ?>>
                                            <?php echo $this->__('Mrs.'); ?>
                                        </option>
                                    </select>
                                    <label for="<?php echo $id; ?>[other_address][gender]"><?php echo $this->__('Salutation'); ?></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Billing Title -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <?php $prefixOptions = $checkoutHelper->getPrefixOptions(); ?>
                            <div class="select-wrapper">
                                <div class="field-row">
                                    <!-- Contact title -->
                                    <select id="<?php echo $id; ?>[other_address][prefix]" class="form-control input-sm" onchange="checkout.summaryDataSynchronization(jQuery(this))"
                                            name="<?php echo $id; ?>[other_address][prefix]" vfde-model="<?php echo $id; ?>[other_address][prefix]">
                                        <option value=""><?php echo $this->__(''); ?></option>
                                        <?php foreach ($prefixOptions as $option) : ?>
                                            <option value="<?php echo $option; ?>" <?php
                                            echo $checkoutData->getFieldValue( $id . "[other_address][prefix]", $customer->getSubscriptionContactTitle()) == $option ? "selected" : ""; ?>><?php echo $option; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <label for="<?php echo $id; ?>[other_address][prefix]"><?php echo $this->__('Title'); ?></label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="dt switch-address type-address hidden billing-soho-fields">

                    <!-- Billing company name -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][company_name]" name="<?php echo $id; ?>[other_address][company_name]" oninput="checkout.summaryDataSynchronization(jQuery(this))"
                                       class="form-control input-sm validate-alphanum-with-spaces validate-name validate-length-max maximum-length-30 billing-required" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][company_name]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][company_name]"><?php echo $this->__('Company name'); ?></label>
                            </div>
                        </div>
                    </div>

                    <!-- Billing company additional name -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][company_additional_name]" name="<?php echo $id; ?>[other_address][company_additional_name]" oninput="checkout.summaryDataSynchronization(jQuery(this))"
                                       class="form-control input-sm validate-alphanum-with-spaces validate-name validate-length-max maximum-length-30" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][company_additional_name]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][company_additional_name]"><?php echo $this->__('Company additional name'). ' ' . $this->__('(optional)'); ?></label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="dt switch-address type-address hidden">

                    <!-- Billing first name -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][firstname]" data-id="billing[other_address][firstname]" name="<?php echo $id; ?>[other_address][firstname]" oninput="checkout.summaryDataSynchronization(jQuery(this))"
                                       class="form-control input-sm validate-alpha validate-name validate-length-max maximum-length-30 billing-name" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][firstname]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][firstname]"><?php echo $this->__('First Name'); ?></label>
                            </div>
                        </div>
                    </div>

                    <!-- Billing last name -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][lastname]" data-id="billing[other_address][lastname]" name="<?php echo $id; ?>[other_address][lastname]" oninput="checkout.summaryDataSynchronization(jQuery(this))"
                                       class="form-control input-sm validate-alpha validate-name validate-length-max maximum-length-60 billing-name" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][lastname]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][lastname]"><?php echo $this->__('Last Name'); ?></label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="dt switch-address type-address hidden">

                    <!-- Billing postcode -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][postcode]" name="<?php echo $id; ?>[other_address][postcode]" data-form="postcode" data-address-type ="billing_other" oninput="checkout.summaryDataSynchronization(jQuery(this))"
                                       class="form-control input-sm validate-zip validate-length-max maximum-length-5 billing-postcode" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][postcode]"); ?>">
                                <label for="<?php echo $id; ?>[other_address][postcode]"><?php echo $this->__('Postcode'); ?></label>
                            </div>
                        </div>
                    </div>

                    <!-- Billing city -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][city]" name="<?php echo $id; ?>[other_address][city]" data-form="city" data-address-type ="billing_other" oninput="checkout.summaryDataSynchronization(jQuery(this))"
                                       class="form-control input-sm validate-alpha validate-length-max maximum-length-40 billing-required billing-required" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][city]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][city]"><?php echo $this->__('City'); ?></label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="dt switch-address type-address hidden">

                    <!-- Billing street -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][street]" data-id="billing[other_address][street]" name="<?php echo $id; ?>[other_address][street]" data-form="street" data-address-type ="billing_other" oninput="checkout.summaryDataSynchronization(jQuery(this))"
                                       class="form-control input-sm validate-alphanum-with-spaces validate-length-max maximum-length-40 billing-required" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][street]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][street]"><?php echo $this->__('Street'); ?></label>
                            </div>
                        </div>
                    </div>

                    <!-- Billing house -->
                    <div class="tc cell25">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][houseno]" name="<?php echo $id; ?>[other_address][houseno]" data-form="houseno" data-address-type ="billing_other" oninput="checkout.summaryDataSynchronization(jQuery(this))"
                                       class="form-control input-sm validate-alphanum-with-spaces validate-length-max maximum-length-9 billing-house" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][houseno]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][houseno]"><?php echo $this->__('House No.'); ?></label>
                            </div>
                        </div>
                    </div>

                    <!-- Billing additional number -->
                    <div class="tc cell25">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][addition]" name="<?php echo $id; ?>[other_address][addition]" data-form="addition" data-address-type ="billing_other" oninput="checkout.summaryDataSynchronization(jQuery(this))"
                                       class="form-control input-sm validate-alphanum-with-spaces validate-length-max maximum-length-7" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][addition]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][addition]"><?php echo $this->__('Zusatz'). ' ' . $this->__('(optional)'); ?></label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="dt switch-address type-address hidden">

                    <?php if( $checkoutLayout->isAvailableSection( 'billing_nationality_other_address' ) ): ?>
                        <!-- Nationality -->
                        <div class="tc">
                            <div class="input-group-custom">
                                <div class="select-wrapper">
                                    <div class="field-row">
                                        <select name="<?php echo $id; ?>[other_address][nationality]" class="form-control input-sm" onchange="checkout.summaryDataSynchronization(jQuery(this))">
                                            <?php foreach ($this->getCountries() as $key => $country): ?>
                                                <option value="<?php echo $key ?>" <?php echo $checkoutData->getFieldValue( $id . "[other_address][nationality]") == $key ? "selected" : "" ?>>
                                                    <?php echo htmlspecialchars($country); ?>
                                                </option>
                                            <?php endforeach ?>
                                        </select>
                                        <label for="<?php echo $id; ?>[other_address][nationality]"><?php echo $this->__("Nationality"); ?></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var ids = '<?php echo $id;?>';
    </script>
<?php endif; ?>
