<?php

/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveDeliveryAddress */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = $this->getData("checkout_data");

// Known IBAN
$knownIBAN = $this->getData( "known_iban" );

// Package
$package = $this->getData( "package" );

// IDs
$id = $this->getData( "id" );

// Stack
$stack = $this->getData( "stack" );

// Payment configurable product
$paymentDebit = $this->getPaymentDebit();

?>

<?php if( $checkoutLayout->showMonthlyPaymentsReuseIBAN( $package, $stack ) ) : ?>

    <div class="accordion-item">

        <div class="accordion-head accordion-head-markerless">
            <input type="radio" id="<?php echo $id; ?>[type][direct_debit][reuse][<?php echo $knownIBAN; ?>]" name="<?php echo $id; ?>[type]" value="direct_debit_reuse|<?php echo $knownIBAN; ?>"
                   onchange="switchMonthlyPayment(this);hidePaymentAddressDetails(this);subModelChange('payment[monthly]<?php echo $package ? '['.$package->getPackageId().']' : ''; ?>[type]', 'direct_debit');reuseIbanSelect(jQuery(this));reuseIbanSummaryUpdate(jQuery(this));
                   subModelChange('payment<?php echo $package ? '['.$package->getPackageId().']' : ''; ?>[iban]', 'reuse')" />
            <label for="<?php echo $id; ?>[type][direct_debit][reuse][<?php echo $knownIBAN; ?>]"></label>
            <?php echo $checkoutLayout->getHeaderNameWithConfigurableProducts(  $paymentDebit,
                                                                                "Use known bank account (" . $knownIBAN . ")",
                                                                                " (" . $knownIBAN . ")" ) ?>
        </div>

        <div class="accordion-body hidden">
            <input type="hidden"
                   id="<?php echo $id; ?>[direct_debit][iban][reuse][<?php echo $knownIBAN; ?>]" name="<?php echo $id; ?>[direct_debit][iban][reuse][<?php echo $knownIBAN; ?>]"
                   class="form-control input-sm iban-field"
                   value="<?php echo $knownIBAN; ?>" />
            <div id="<?php echo $id; ?>[direct_debit][iban][reuse][<?php echo $knownIBAN; ?>][hidden]" class="hidden"></div>
        </div>

    </div>
    <script>
      var paymet_reuse_ids = '<?php echo $id;?>';
      var paymet_reuse_known_iban = '<?php echo $knownIBAN;?>';
    </script>

<?php endif; ?>