<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$quote = $this->getQuote();?>
<div class="tableContainer_tabs">
    <table class="fullWidth">
        <tr>
            <td class="tdEven_lightBlue textAlignRight"
                style="width: 50%;padding:3px 12px 4px 12px;text-align: right;"></td>
            <vodatest:totalpermonth>
                <td class="tdEven_lightBlue textAlignRight bold"
                    style="width: 18%;padding:3px 12px 4px 12px;text-align: right;font-weight: bold;">
                    Maandbedrag actieperiode<!--common.orderconfirm.perMonth--></td>
            </vodatest:totalpermonth>
            <vodatest:totalonce>
                <td class="tdEven2_lightBlue textAlignRight bold"
                    style="width: 18%;padding:3px 12px 4px 12px;text-align: right;font-weight: bold;">Totaal nu
                    te voldoen<!--common.orderconfirm.once--></td>
            </vodatest:totalonce>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" class="divider">&nbsp;</td>
        </tr>
        <tr>
            <td class="tdEven_lightBlue textAlignRight"
                style="padding:3px 12px 4px 12px;text-align: right;vertical-align: top;"><span class="bold"
                                                                                               style="font-weight: bold">Subtotaal<!--common.ordertotal.subtotal--> </span>(excl.
                btw):<!--common.order.excludeText--></td>
            <td class="tdEven_lightBlue textAlignRight" style="padding:3px 12px 4px 12px;text-align: right;">
                &euro; 26,45
            </td>
            <td class="tdEven2_lightBlue textAlignRight" style="padding:3px 12px 4px 12px;text-align: right;">
                &euro; 87,64
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" class="divider">&nbsp;</td>
        </tr>
        <tr>
            <td class="tdEven_lightBlue textAlignRight" style="padding:3px 12px 4px 12px;text-align: right;">
                <span class="bold" style="font-weight: bold">Btw:<!--common.ordertotal.btw--></span></td>
            <td class="tdEven_lightBlue textAlignRight" style="padding:3px 12px 4px 12px;text-align: right;">
                &euro; 5,55
            </td>
            <td class="tdEven2_lightBlue textAlignRight" style="padding:3px 12px 4px 12px;text-align: right;">
                &euro; 18,40
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" class="divider">&nbsp;</td>
        </tr>
        <tr>
            <td class="tdOdd_lightBlue textAlignRight" style="text-align: right;padding:3px 12px 4px 12px;">
                <span class="bold" style="font-weight: bold;">Totaal<!--common.ordertotal.total-->:<!--common.order.includeText--></span>
            </td>
            <td class="tdOdd_lightBlue textAlignRight red"
                style="text-align: right;padding:3px 12px 4px 12px; color: #ff0000;">
                &euro; 32,00
            </td>
            <td class="tdOdd_lightBlue textAlignRight red"
                style="text-align: right;padding:3px 12px 4px 12px; color: #ff0000;">
                &euro; 106,04
            </td>
        </tr>
    </table>
</div>