<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<?php $session = Mage::getSingleton('dyna_customer/session'); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
    <?php echo $this->getChildHtml('head') ?>

    <script type="text/javascript">
        <?php if (!$this->getIsCheckout() ){ ?>
        var templates = {};
        <?php
        /** @var Omnius_Configurator_Block_Wrapper $wrapper */
        $wrapper = Mage::getBlockSingleton('omnius_configurator/wrapper')
            ->setFormat('json');
        $partials = array(); ?>
        <?php foreach(Dyna_Catalog_Model_Type::getSections() as $type):?>
        <?php
        $templates = Mage::getSingleton('dyna_configurator/template')->getAllTemplates($type);
        $wrapper->setTemplates($templates);
        // collect partials
        $partials[$type] = $templates['partials'];
        $html = trim($wrapper->setType($type)->toHtml());
        ?>
        templates['<?php echo $type; ?>'] = <?php echo $html;?>;
        <?php endforeach;?>
        templates['partials'] = <?php echo json_encode($partials); ?>;
        <?php } ?>
    </script>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php
Mage::helper('dyna_core')->setPostKey($this->getRequest()->getMethod());
?>
<input type="hidden" id="current_website_code" value="<?php echo Mage::app()->getWebsite()->getCode() ?>"/>
<input type="hidden" id="current_website_id" value="<?php echo Mage::helper('superorder')->shouldEmulateStore(Mage::app()->getWebsite()->getId()); ?>"/>
<input type="hidden" id="loading_customer_data_label" value="<?php echo Mage::helper('vznl_customer')->__('Loading customer data...');?>"/>
<input type="hidden" id="unloading_customer_data_label" value="<?php echo Mage::helper('vznl_customer')->__('Unloading customer data...');?>"/>
<input type="hidden" id="agent_id" value="<?php echo Mage::helper('agent')->getAgentId(); ?>"/>
<input type="hidden" id="dealer_id" value="<?php echo (($agent = Mage::helper('agent')->getAgent()) && ($dealer = $agent->getDealer())) ? $dealer->getId() : null; ?>"/>
<input type="hidden" id="axi_store_id" value="<?php echo Mage::helper('agent')->getCurrentStoreId()?>"/>
<input type="hidden" id="is_order_edit_mode" value="<?php echo (int) Mage::getSingleton('customer/session')->getOrderEditMode(); ?>"/>
<input type="hidden" id="dealer_group_ids" value="<?php echo implode(',', Mage::helper('agent')->getCurrentDealerGroups())?>"/>
<input type="hidden" id="dealer_code" value="<?php echo ($agent = Mage::helper('agent')->getAgent()) ? $agent->getDealerCode() : null; ?>"/>
<input type="hidden" id="dealer_line_of_business" value="<?=strtolower($dealer->getLineOfBusiness());?>"/>
<input type="hidden" id="current_store_is_telesales" value="<?php echo (int) (Mage::helper('agent')->isTelesalesLine()); ?>"/>
<input type="hidden" id="current_store_is_indirect" value="<?php echo (int) (Mage::app()->getWebsite()->getCode() == Vznl_Agent_Model_Website::WEBSITE_INDIRECT_CODE); ?>"/>

<?php echo $this->getChildHtml('after_body_start') ?>
<?php
if ((Mage::getSingleton('customer/session')->getOrderEdit() && Mage::app()->getRequest()->getControllerName() == 'cart') || Mage::app()->getRequest()->getControllerName() == 'cart') {
    $editMode = true;
} else {
    $editMode = false;
} ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <?php if ($version = Mage::helper('dyna_cache')->getAppVersion()) { ?>
        <div class="build <?php echo (Mage::getStoreConfig('omnius_general/version_info/show_version')) ? '' : 'hidden' ?>" id="current_build">
            <?php echo $version; ?>
        </div>
    <?php } ?>
    <div class="page">
        <?php echo $this->getChildHtml('header') ?>
        <div class="main-container col3-layout <?php if ($editMode) echo " edit-mode"; ?>">
            <div class="main">
                <div id="fadded-bg"></div>
                <?php echo $this->getChildHtml('breadcrumbs') ?>
                <div class="col-wrapper">
                    <div class="col-main">
                        <?php echo $this->getChildHtml('global_messages') ?>
                        <?php echo $this->getChildHtml('content') ?>
                    </div>
                    <div class="col-left sidebar bigView<?php if(!Mage::getSingleton('customer/session')->getCustomer() || !Mage::getSingleton('customer/session')->getCustomer()->getId()): ?> guest<?php endif; ?>">
                        <span class="search-result-cross"></span>
                        <span class="enlargeSearch right-direction contracted"></span><?php echo $this->getChildHtml('left') ?>
                    </div>
                </div>
                <div class="col-right sidebar">
                    <button class="enlarge left-direction">&nbsp;</button>
                    <?php echo $this->getChildHtml('right') ?>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
    </div>
</div>
<div id="notification-bar" class="notification-bar hidden">
    <p>
        <span class="icon"></span>
        <span class="notification-bar-message"></span>
        <span class="notification-button"></span>
        <a class="notification-bar-close" href="javascript:void(0)" onclick="hideNotificationBar()">&nbsp;</a>
    </p>
</div>

<div id="sales-hints-notifications" class="toast-notifications-container"></div>

<?php echo $this->getAbsoluteFooter() ?>

<?php echo $this->getChildHtml('modals') ?>

<?php echo $this->getChildHtml('js-footer') ?>

<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getChildHtml('home_script') ?>
<?php if (Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')) { ?>
    <script type="text/javascript" src="/dist/js/ose.react.js"></script>
<?php } ?>
<?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/menu_scripts.phtml')->toHtml(); ?>
<?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/footer-elements.phtml')->toHtml() ?>
<!-- Generic notification bar -->

</body>
</html>
