<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$portingCollection = $this->getPortingCollection();
$portingExtraInfo = Mage::helper('superorder')->numberPortingExtraInfo($portingCollection);
$partial = $this->getPartial();
if ($partial === null) {
    $count = null;
    $page = null;
    // Parse the collection when the page is loaded for the first time
    // Rejected
    $rejectedPortings = $portingCollection->getItemsByColumnValue('creditcheck_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_REJECTED);
    // Pending
    $referredPortings = $portingCollection->getItemsByColumnValue('creditcheck_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_REFERRED);
    $ongoingPortings = $portingCollection->getItemsByColumnValue('creditcheck_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_PENDING);
    $initialPortings = $portingCollection->getItemsByColumnValue('creditcheck_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_INITIAL);
    $pendingPortings = array_merge($ongoingPortings, $referredPortings, $initialPortings);
    // Additional
    $additionalPortings = $portingCollection->getItemsByColumnValue('creditcheck_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_ADDITIONNAL_INFO_REQUIRED);
    // Completed
    $approvedPortings = $portingCollection->getItemsByColumnValue('creditcheck_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_APPROVED);
} else {
    $count = $this->getCount();
    $page = $this->getPage();
    // Collection is already parsed if there is a filter
    $rejectedPortings = $pendingPortings = $additionalPortings = $approvedPortings = $portingCollection;
}
?>
<?php if ($partial === null || $partial == 'rejected'): ?>
<div class="row rejected">
    <div class="col-xs-12">
        <div class="status error"><span class="glyphicon glyphicon-remove-circle"></span> <?php echo $this->__('Rejected'); ?></div>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partial_table.phtml')->setCount($count)->setPartial('rejected')->setSection('creditcheck')->setOriginalSection($this->getOriginalSection())->setCurrentPage($page)->setSectionItems($rejectedPortings)->setSectionExtraInfo($portingExtraInfo)->toHtml(); ?>
    </div>
</div>
<?php endif; ?>

<?php if ($partial === null || $partial == 'ongoing'): ?>
<div class="row ongoing">
    <div class="col-xs-12">
        <div class="status"><span class="glyphicon glyphicon-time"></span> <?php echo $this->__('Pending'); ?></div>

        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partial_table.phtml')->setCount($count)->setPartial('ongoing')->setSection('creditcheck')->setOriginalSection($this->getOriginalSection())->setCurrentPage($page)->setSectionItems($pendingPortings)->setSectionExtraInfo($portingExtraInfo)->toHtml(); ?>
    </div>
</div>
<?php endif; ?>

<?php if ($partial === null || $partial == 'additional'): ?>
<div class="row additional">
    <div class="col-xs-12">
        <div class="status warning"><span class="glyphicon glyphicon-question-sign"></span> <?php echo $this->__('Additional information requested'); ?></div>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partial_table.phtml')->setCount($count)->setPartial('additional')->setSection('creditcheck')->setOriginalSection($this->getOriginalSection())->setCurrentPage($page)->setSectionItems($additionalPortings)->setSectionExtraInfo($portingExtraInfo)->toHtml(); ?>
    </div>
</div>
<?php endif; ?>

<?php if ($partial === null || $partial == 'completed'): ?>
<div class="row completed">
    <div class="col-xs-12">
        <div class="status success"><span class="glyphicon glyphicon-ok-sign"></span> <?php echo $this->__('Successfully completed'); ?></div>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partial_table.phtml')->setCount($count)->setPartial('completed')->setOriginalSection($this->getOriginalSection())->setSection('creditcheck')->setCurrentPage($page)->setSectionItems($approvedPortings)->setSectionExtraInfo($portingExtraInfo)->toHtml(); ?>
    </div>
</div>
<?php endif; ?>
