<?php
$customer = Mage::getSingleton('dyna_customer/session')->getCustomer();
$customerSession = Mage::getSingleton("dyna_customer/session");
$newSearchFlag = $customerSession->getData('new_search_customer');
?>
<script id="Handlebars-Template-Customer-Caller-Data" type="text/x-handlebars-template">

<div class="topdiv">

    {{#if this.displaydefault}}
     <div class="defaultcampaign"><span><?php echo $this->__("No campaign found! switching to defaulted campaign"); ?></span></div>
    {{/if}}

</div>
<div class="middle">
    <div class="campaign-data-content">
        {{#this.campaignData}}
        <div class="bg">
            <div class="campaign-container-data">
                <div class="section-title">{{#if this.campaign_title}}{{this.campaign_title}}{{else}}-{{/if}}
                <span class="campaign-info" data-toggle="tooltip" data-html="true" data-container="body"
                      data-placement="right service-description" data-title="
                      <span class='camptooltip'>
                        <p class='campaign-tooltipheader'><?php echo $this->__("Campaign Id :") ?></p>
                        <p class='campaign-tooltiptext'>{{this.campaign_id}}</p>

                        <p class='campaign-tooltipheader'><?php echo $this->__("Cluster :") ?></p>
                        <p class='campaign-tooltiptext'>{{this.cluster}}</p>

                        <p class='campaign-tooltipheader'><?php echo $this->__("Campaign Sapn :") ?></p>
                        <p class='campaign-tooltiptext'>{{#if this.valid_from}}{{this.valid_from}}{{else}}{{/if}} - {{#if this.valid_to}}{{this.valid_to}}{{else}}{{/if}}</p>

                        <p class='campaign-tooltipheader'><?php echo $this->__("Campaign Promotion :") ?></p>
                        <p class='campaign-tooltiptext'>{{this.promotion_hint1}}</p>
                        <p class='campaign-tooltiptext'>{{this.promotion_hint2}}</p>
                        <p class='campaign-tooltiptext'>{{this.promotion_hint3}}</p>

                        <p class='campaign-tooltipheader'><?php echo $this->__("Offers :") ?></p>
                        {{#each this.campaigns}}
                            <p class='campaign-tooltiptext'>{{this.title_description}}</p>
                        {{/each}}
                      </span>
                      ">&nbsp;
                </span>
                </div>
            </div>

            <div class="button-container">
                {{#if this.display_Change}}
                    <button class="campaign-button" type="button" onclick="address.checkDefaultCampaign()"><p class="campaign-button-text">Change</p></button>
                {{else}}
                    <button class="campaign-button" type="button" onclick="address.checkDefaultCampaign()" disabled><p class="campaign-button-text" >Change</p></button>
                {{/if}}
            </div >

            <p class="date">{{#if this.valid_from}}{{this.valid_from}}{{else}}{{/if}} - {{#if this.valid_to}}{{this.valid_to}}{{else}}{{/if}}</p>

        </div>

        <p class="details">{{#if this.campaign_hint}}{{this.campaign_hint}}{{else}}-{{/if}}</p>
        <div class="address">
        <p >{{#if this.promotion_hint1}}{{this.promotion_hint1}}{{else}}-{{/if}}</p>
        <p >{{#if this.promotion_hint2}}{{this.promotion_hint2}}{{else}}-{{/if}}</p>
        <p >{{#if this.promotion_hint3}}{{this.promotion_hint3}}{{else}}-{{/if}}</p>
        </div>
        {{/this.campaignData}}

    </div>
</div>
        <?php
            $session = Mage::getSingleton('dyna_customer/session');
            $uctParams = $session->getUctParams();
        ?>
</script>
<div class="caller-data clearfix"> </div>