<?php
/**
 * @category    design
 * @package     vodafone_default
 */
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<div class="header-container">
    <div class="header" id="header">
        <?php echo $this->getChildHtml('menuLinks') ?>
        <?php echo $this->getChildHtml('actionsMenu'); ?>
        <?php echo $this->getChildHtml('agentMenu') ?>
    </div>
</div>
<div id="top-panels" class="clearer"></div>
