<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$currentPage = $this->getCurrentPage() ?: 1; $counter = 0;
$section = $this->getSection();
$type = $this->getPartial();
$count = $this->getCount();
?>
<?php if ($count > Omnius_Package_Model_Package::MAX_LINES_TOP_MENU): ?>
    <?php
    $pagesNumber = (int) ($count / Omnius_Package_Model_Package::MAX_LINES_TOP_MENU) + ($count % Omnius_Package_Model_Package::MAX_LINES_TOP_MENU === 0 ? 0 : 1);
    $pagesIds = Mage::helper('omnius_package')->getPagesIds($pagesNumber, $currentPage, Omnius_Package_Model_Package::MAX_PAGES_TOP_MENU);
    ?>

        <ul class="pagination pagination-sm">
            <li class="<?php echo ($currentPage == 1) ? "disabled" : ""; ?>" <?php echo ($currentPage != 1) ? "data-page=\"" . ($currentPage - 1) . "\"" : ""; ?>>
                <a href="javascript:void(0)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <?php foreach ($pagesIds as $i): ?>
                <li <?php if (is_numeric($i)) { echo "data-page=\"$i\""; } ?> class="<?php echo ($currentPage == $i) ? "active" : ""; echo is_numeric($i) ? "" : " disabled"; ?>"><a href="javascript:void(0)"><?php echo $i; ?></a></li>
            <?php endforeach; ?>
            <li class="<?php echo ($currentPage == $pagesNumber) ? "disabled" : ""; ?>" <?php echo ($currentPage != $pagesNumber) ? "data-page=\"" . ($currentPage + 1) . "\"" : ""; ?>>
                <a href="javascript:void(0)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
<?php endif; ?>

<script type="text/javascript">
    jQuery('.tab-pane .pagination li').not('.disabled').not('.active').unbind('click.pagination').on('click.pagination', function () {
        var page = jQuery(this).data('page');
        var parentContainer = jQuery(this).parents('.row');
        var section = jQuery(this).parents('.tab-pane').attr('id');
        var type = parentContainer.attr('class').replace('row ','');
        updateSectionResultsByType(section, type, page, parentContainer);
    });
</script>
