<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$sectionItems = $this->getSectionItems(); ?>
<?php $sectionExtraInfo = $this->getSectionExtraInfo(); ?>
<?php $validationsExtra = $this->getValidationsExtra(); ?>
<?php $currentPage = $this->getCurrentPage() ?: 1; $counter = 0; ?>
<?php $count = $this->getCount() ?:count($sectionItems); ?>
<table class="table table-condensed" xmlns="http://www.w3.org/1999/html">
    <?php if ($count) : ?>
        <thead>
        <tr class="active">
            <th><?php echo $this->__('Time') ?></th>
            <th><?php echo $this->__('Client') ?></th>
            <th><?php echo $this->__('Mobile number') ?></th>
            <?php if ($this->getSection() === 'porting' && $this->getPartial() == 'completed') : ?>
                <th><?php echo $this->__('Porting date') ?></th>
            <?php endif; ?>
            <th><?php echo $this->__('Order number') ?></th>
            <?php if ($validationsExtra): ?>
                <th><?php echo $this->__('VOD error') ?></th>
            <?php endif; ?>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($sectionItems as $porting) :
            ++$counter;
            if ($counter > Omnius_Package_Model_Package::MAX_LINES_TOP_MENU) {
                break;
            }
            $allowedNPStatuses = [
                Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_NP_PENDING
            ];
            $allowedCCStatuses = [
                Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_REFERRED,
                Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_ADDITIONNAL_INFO_REQUIRED
            ];
            $class = "top-menu-element";
            if (($this->getSection() === 'creditcheck' && in_array($porting->getCreditcheckStatus(), $allowedCCStatuses)) || ($this->getSection() === 'porting' && in_array($porting->getPortingStatus(), $allowedNPStatuses))) {
                $class .= " cursor-pointer available";
            }?>
            <tr class="<?php echo $class; ?>" data-order-number="<?php echo $porting->getOrderNumber() . '.' . $porting->getPackageId(); ?>">
                <td><?php echo Mage::helper('omnius_checkout')->formatDateLocale($porting->getData(sprintf('%s_status_updated', $this->getSection()))); ?></td>
                <td><?php echo $sectionExtraInfo[$porting->getOrderId()]['customer']; ?></td>
                <td><?php echo $sectionExtraInfo[$porting->getOrderId()]['current_number'][$porting->getPackageId()]; ?></td>
                <?php if ($this->getSection() === 'porting' && $this->getPartial() == 'completed') : ?>
                    <td>
                    <?php  if ($porting->getActualPortingDate()) echo date("d-m-Y", strtotime($porting->getActualPortingDate())); ?>
                    </td>
                <?php endif; ?>
                <td><?php echo $porting->getOrderNumber(); ?></td>
                <?php if ($validationsExtra): ?>
                    <td><?php echo $porting->getErrorDetail() ?: ''; ?></td>
                <?php endif; ?>
                <td>
                    <button type="button" class="btn btn-primary pull-right top-menu-stop-propagation" data-order-reference="<?php echo $porting->getOrderNumber(); ?>"
                            data-package-id="<?php echo $porting->getPackageId(); ?>"
                            data-order-id="<?php echo $sectionExtraInfo[$porting->getOrderId()]['delivery_order'][$porting->getPackageId()]; ?>" onclick="viewItemDetails(this);">
                        <?php echo $this->__('Details') ?>
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    <?php endif; ?>
</table>
<nav style="text-align: center"><?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/pagination_footer.phtml')->setCount($count)->setCurrentPage($currentPage)->toHtml(); ?></nav>
<script>
    var section = '<?php echo $this->getOriginalSection(); ?>';
    var type = '<?php echo $this->getPartial(); ?>';
    var count = '<?php echo (int) $count; ?>';
    jQuery('.tab-pane.active .results .row.' + type).data('count', count);
    var counts = jQuery('#' + section + '.tab-pane.active .results .row');
    var finalCount = 0;
    jQuery.each(counts, function (key, value) {
        finalCount += parseInt(jQuery(value).data('count'),10);
    });
    jQuery('.tab-pane#' + section + ' .count').html(finalCount);
</script>
