<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$portingCollection = $this->getPortingCollection();
$portingExtraInfo = Mage::helper('superorder')->numberPortingExtraInfo($portingCollection);
$partial = $this->getPartial();
$count = $this->getCount();
if ($partial === null) {
    $page = null;
    $count = null;
    // Parse the collection when the page is loaded for the first time
    // Rejected
    $notSolvablePortings = $portingCollection->getItemsByColumnValue('porting_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_NP_NOT_SOLVABLE);
    $rejectedPortings = $portingCollection->getItemsByColumnValue('porting_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_NP_REJECTED);
    $rejectedPortings = array_merge($notSolvablePortings, $rejectedPortings);
    // Ongoing
    $pendingPortings = $portingCollection->getItemsByColumnValue('porting_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_NP_PENDING);
    $initialPortings = $portingCollection->getItemsByColumnValue('creditcheck_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_INITIAL);
    $pendingPortings = array_merge($pendingPortings, $initialPortings);
    // Completed
    $approvedPortings = $portingCollection->getItemsByColumnValue('porting_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_NP_AUTHORIZED);
} else {
    $count = $this->getCount();
    $page = $this->getPage();
    // Collection is already parsed if there is a filter
    $rejectedPortings = $pendingPortings = $approvedPortings = $portingCollection;
}
?>
<?php if ($partial === null || $partial == 'rejected'): ?>
<div class="row rejected">
    <div class="col-xs-12">
        <div class="status error"><span class="glyphicon glyphicon-remove-circle"></span> <?php echo $this->__('Rejected'); ?></div>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partial_table.phtml')->setPartial('rejected')->setOriginalSection($this->getOriginalSection())->setCount($count)->setSection('porting')->setCurrentPage($page)->setSectionItems($rejectedPortings)->setSectionExtraInfo($portingExtraInfo)->toHtml(); ?>
    </div>
</div>
<?php endif; ?>

<?php if ($partial === null || $partial == 'ongoing'): ?>
<div class="row ongoing">
    <div class="col-xs-12">
        <div class="status"><span class="glyphicon glyphicon-time"></span> <?php echo  $this->__('Pending'); ?></div>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partial_table.phtml')->setPartial('ongoing')->setOriginalSection($this->getOriginalSection())->setCount($count)->setSection('porting')->setCurrentPage($page)->setSectionItems($pendingPortings)->setSectionExtraInfo($portingExtraInfo)->toHtml(); ?>
    </div>
</div>
<?php endif; ?>

<?php if ($partial === null || $partial == 'completed'): ?>
<div class="row completed">
    <div class="col-xs-12">
        <div class="status success"><span class="glyphicon glyphicon-ok-sign"></span> <?php echo $this->__('Successfully completed'); ?></div>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partial_table.phtml')->setPartial('completed')->setOriginalSection($this->getOriginalSection())->setCount($count)->setSection('porting')->setCurrentPage($page)->setSectionItems($approvedPortings)->setSectionExtraInfo($portingExtraInfo)->toHtml(); ?>
    </div>
</div>
<?php endif; ?>
