<script id="porting-details-template" type="text/template">
    <p class="title"><?php echo $this->__('Number porting results') ?> <span class="red">{{number}}</span></p>

{{#ifComplex porting_status '===' '<?php echo Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_NP_PENDING; ?>' '||' porting_status '===' '<?php echo Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_NP_INITIAL; ?>'}}
    <p class="flash ongoing"><span class="glyphicon glyphicon-time"></span>
        <strong><?php echo $this->__('Ongoing number porting'); ?></strong><br />
        <?php echo $this->__('The number porting request for the person below is pending.'); ?>
    </p>
    {{else}} {{#ifCond porting_status '===' '<?php echo Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_NP_AUTHORIZED; ?>'}}
        <p class="flash success"><span class="glyphicon glyphicon-ok-sign"></span>
            <strong><?php echo $this->__('Running number porting completed successfully. The order is placed.'); ?></strong><br />
            <?php echo $this->__('The number transfer request for the person below is completed successfully. The order is placed. The process can be handled further.'); ?>
        </p>
        {{else}}
            <p class="flash error"><span class="glyphicon glyphicon-remove-circle"></span>
                <strong><?php echo $this->__('Number porting rejected'); ?></strong><br />
                <?php echo $this->__('The number porting request for the person below is rejected.'); ?>
            </p>
    {{/ifCond}}
{{/ifComplex}}

    <div class="panel panel-default">
        <div class="panel-heading"><?php echo $this->__('Personal information') ?></div>

        <table class="table table-bordered table-condensed">
            <tbody>
            <tr>
                <td><?php echo $this->__('Name') ?></td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Date of birth') ?></td>
                <td>{{customer_dob}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Telephone number') ?></td>
                <td>{{telephone}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('E-mail address') ?></td>
                <td>{{customer_email}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Delivery address') ?></td>
                <td>{{address}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('ID Info') ?></td>
                <td>{{id_info}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Reference Number') ?></td>
                <td>{{reference}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-offset-9 col-xs-1">
        <button class="pull-right btn btn-primary back hidden" onclick="backToList(this)"><span class="glyphicon glyphicon-chevron-left"></span> <?php echo $this->__('Back') ?></button>
    </div>
    <div class="col-xs-2">
        <button class="pull-right btn btn-primary btn-block" data-customer="{{customer_id}}" data-order="{{reference}}" onclick="showInitOrderModal(this)"><?php echo $this->__('See order') ?> <span class="glyphicon glyphicon-play"></span></button>
    </div>
</script>