<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$portingCollection = $this->getPortingCollection();
$portingExtraInfo = Mage::helper('superorder')->numberPortingExtraInfo($portingCollection);
$partial = $this->getPartial();
if ($partial === null) {
    $count = null;
    $page = null;
    // Parse the collection when the page is loaded for the first time
    // Failed
    $failed = $portingCollection->clear()->getItemsByColumnValue('creditcheck_status', Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_VALIDATION_FAILED);
    // Rejected
    $rejected = $portingCollection->clear()->addFieldToFilter('creditcheck_status', array('neq' => Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_VALIDATION_FAILED))->load();
} else {
    $count = $this->getCount();
    $page = $this->getPage();
    // Collection is already parsed if there is a filter
    $failed = $rejected = $portingCollection;
}
?>
<?php if ($partial === null || $partial == 'rejected'): ?>
<div class="row rejected">
    <div class="col-xs-12">
        <div class="status error"><span class="glyphicon glyphicon-remove-circle"></span> <?php echo $this->__('Rejected'); ?></div>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partial_table.phtml')->setPartial('rejected')->setOriginalSection($this->getOriginalSection())->setSectionItems($rejected)->setCount($count)->setCurrentPage($page)->setSectionExtraInfo($portingExtraInfo)->setValidationsExtra(true)->toHtml(); ?>
    </div>
</div>
<?php endif; ?>

<?php if ($partial === null || $partial == 'failed'): ?>
<div class="row failed">
    <div class="col-xs-12">
        <div class="status error"><span class="glyphicon glyphicon-remove-circle"></span> <?php echo $this->__('Failed'); ?></div>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partial_table.phtml')->setPartial('failed')->setOriginalSection($this->getOriginalSection())->setSectionItems($failed)->setCount($count)->setCurrentPage($page)->setSectionExtraInfo($portingExtraInfo)->setValidationsExtra(true)->toHtml(); ?>
    </div>
</div>
<?php endif; ?>
