<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

/**
 * @var $this Omnius_Checkout_Block_Tax_Grandtotal
 */
?>
<?php
    $isEditMode = Mage::getSingleton('checkout/session')->getIsEditMode();
    $orderEdit =  Mage::getSingleton('customer/session')->getOrderEdit();
    $totalClass = (!$isEditMode && !$orderEdit) ? ' div-table-row-header grand-total' : '';
    $isChanged = Mage::getSingleton('checkout/cart')->isChanged();
    $isBussiness = Mage::getSingleton('customer/session')->getCustomer() && Mage::getSingleton('customer/session')->getCustomer()->getIsBusiness();
    $isDelivered = false;
?>
<?php if ($this->includeTax() && ($this->getTotalExclTax()>=0 || $this->getMafTotalExclTax()>=0)):?>
<tr class="div-table-row excl-vat-tax<?php echo $totalClass; ?>">
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell" colspan="<?php echo $this->getColspan(); ?>">
        <?php echo $this->helper('tax')->__('Grand Total Excl. Tax')?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getMafTotalExclTax()) ?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getTotalExclTax()) ?>
    </td>
</tr>
<?php echo $this->renderTotals('taxes', $this->getColspan()); ?>
<tr class="div-table-row excl-vat-tax<?php echo $totalClass; ?>">
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell" colspan="<?php echo $this->getColspan(); ?>">
        <?php echo $this->helper('tax')->__('Grand Total Incl. Tax')?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getTotal()->getValue()) ?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getMafTotal()->getValue()) ?>
    </td>
</tr>
<?php else:?>
<tr class="div-table-row<?php echo $totalClass; ?>">
    <td style="color: #000; <?php echo $this->getStyle() ?>" class="div-table-cell" colspan="<?php echo $this->getColspan(); ?>">
        <?php echo $this->__('Total incl. VAT') ?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getTotal()->getValue()); ?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getMafGrandTotal()); ?>
    </td>
</tr>

    <?php
    $packages = Mage::getSingleton('checkout/cart')->getQuote()->getPackages();

    $diffPrice = $subscriptionTotals = $previousSubscriptionsTotals = 0; ?>
    <?php $previousPackages = Mage::getSingleton('checkout/session')->getIsEditMode() ? Mage::getSingleton('checkout/session')->getPreviousPackages() : null; ?>
    <?php $totalSubscription = $totals = 0; ?>

    <?php foreach($packages as $key => &$package): ?>
            <?php $totals = Mage::helper('omnius_configurator')->getActivePackageTotals($key, ! $isBussiness);?>
            <?php
            $deviceItems = array();
            $isDelivered = $isDelivered || (isset($package['status']) && $package['status'] == Omnius_Package_Model_Package::ESB_PACKAGE_STATUS_DELIVERED);
            ?>

            <?php
            /**
            * @var int $index
            * @var Omnius_Checkout_Model_Sales_Quote_Item $item
            */
            foreach ($package['items'] as $index => &$item):
            ?>
                <?php if(in_array(Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION, $item->getProduct()->getType())): ?>
                    <?php if ($previousPackages && isset($previousPackages[$key]) && isset($previousPackages[$key]['items']['subscription'])): ?>
                        <?php foreach ($previousPackages[$key]['items']['subscription'] as $previousItem): ?>
                            <?php if ( ! Mage::getSingleton('checkout/cart')->isChanged(Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION) || in_array($previousItem['product_id'], $shownProducts)) continue; ?>
                            <?php if (isset($previousItem['maf'])) {
                                $totalSubscription += $previousItem['maf_incl_tax'];
                            }
                            ?>
                            <?php array_push($shownProducts, $previousItem['product_id']) ?>
                            <?php if ($isBussiness) : ?>
                                <?php isset($previousItem['maf']) && (float)$previousItem['maf'] ? $previousSubscriptionsTotals += $previousItem['maf'] : null; ?>
                            <?php else: ?>
                                <?php isset($previousItem['maf_incl_tax']) && (float)$previousItem['maf_incl_tax'] ? $previousSubscriptionsTotals += $previousItem['maf_incl_tax'] : null ;?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>

                <?php elseif (in_array(Omnius_Catalog_Model_Type::SUBTYPE_DEVICE, $item->getProduct()->getType())
                             || in_array(Omnius_Catalog_Model_Type::SUBTYPE_ACCESSORY, $item->getProduct()->getType())
                             || in_array(Omnius_Catalog_Model_Type::SUBTYPE_NONE, $item->getProduct()->getType())
                      ) :?>
                    <?php $deviceItems[$index] = $item;?>
                <?php endif; ?>

                <?php if ($isBussiness): ?>
                    <?php (float)$item->getMaf() ? $subscriptionTotals += $item->getMaf() : null; ?>
                <?php else: ?>
                    <?php (float)$item->getMafInclTax() ? $subscriptionTotals += $item->getMafInclTax() : null; ?>
                <?php endif; ?>
            <?php endforeach; ?>

            <?php if($orderEdit): ?>
                <?php $diffPrice += Mage::helper('omnius_checkout')->getEditPackagePriceDifference($key, $deviceItems, array(Omnius_Catalog_Model_Type::SUBTYPE_DEVICE, Omnius_Catalog_Model_Type::SUBTYPE_NONE, Omnius_Catalog_Model_Type::SUBTYPE_ACCESSORY)); ?>
            <?php endif;
	endforeach;
    unset($package);
    unset($item);
    ?>

<?php $diffPrice = round($diffPrice, 2); ?>
<?php if ($isChanged && $isDelivered): ?>
<?php if ( $diffPrice >= 0 || Mage::getSingleton('checkout/cart')->isChanged(Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION) ): ?>
<tr class="div-table-row grand-total div-table-row-header">
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell" colspan="<?php echo $this->getColspan(); ?>">
        <span class="small-label cart-total-label red">
            <?php if($orderEdit):?>
                <?php echo Mage::helper('omnius_checkout')->__('Payment');?>
            <?php endif;?>
        </span>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell">
        <?php if($orderEdit && $isChanged):?>
            <?php if (Mage::getSingleton('checkout/cart')->isChanged(Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION) || abs($totalSubscription  - $subscriptionTotals) != $subscriptionTotals ): ?>
            <span class="small-label right red">&nbsp;
                <?php echo $subscriptionTotals > 0 ? Mage::helper('core')->currency($this->getMafTotal()->getValue(), true, false) : Mage::helper('core')->currency(0, true, false); ?>
            </span>
        <?php endif;?>
        <?php endif;?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell">
        <span class="small-label right red">
            <?php echo $diffPrice >= 0 ? Mage::helper('core')->currency($diffPrice, true, false) : '&nbsp;' ?>
        </span>
    </td>
</tr>
<?php endif; ?>
<?php if ( $diffPrice < 0 ): ?>
    <tr class="div-table-row grand-total div-table-row-header">
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell" colspan="<?php echo $this->getColspan(); ?>">
    <span class="small-label right red">
        <?php if($orderEdit):?>
            <?php echo Mage::helper('omnius_checkout')->__('Refund');?>
        <?php endif;?>
    </span>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell">
       &nbsp;
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell">
        <?php if($orderEdit):?>
            <span class="small-label right red">
               <?php echo Mage::helper('core')->currency(-1*$diffPrice , true, false);?>
            </span>
        <?php endif;?>
    </td>
</tr>
<?php endif; ?>
<?php endif; ?>
<?php endif;?>
