<?php
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/** @var Omnius_Checkout_Block_Tax_Total $this */

$_value = $this->getDeviceTotal();
$_mafValue = $this->getMafSubtotalExclTax();
$_style = $this->getTotal()->getStyle();
$_mafStyle = $this->getTotal()->getStyle();
?>

<tr class="div-table-row">
    <td style="<?php echo $_style ?>" class="div-table-cell fbold" colspan="<?php echo $this->getColspan(); ?>">
        <?php echo $this->getTotal()->getTitle() ?>
    </td>
    <td style="<?php echo $_mafStyle ?>" class="div-table-cell a-right fbold"><?php echo $helper->showNewFormattedPriced($_value) ?></td>
    <td style="<?php echo $_style ?>" class="div-table-cell a-right fbold"><?php echo $helper->showNewFormattedPriced($_mafValue) ?></td>
</tr>