<?php
/**
 * Copyright (c) 2018. Dynacommerce B.V.
 */
?>
<div class="footer-content clearfix">
    <div class="bug-report">
        <p>
            <?php echo $this->__('Interface Locale: %s', $this->getLanguageSelect()); ?>
        </p>
    </div>

    <div class="legality">
        <p>
            <a href="<?php echo $this->getConnectWithMagentoUrl(); ?>" id="footer_connect">
                <?php echo $this->__('Connect with the Magento Community'); ?>
            </a>
        </p>
        <p>
            <?php echo $this->__('Magento&trade; is a trademark of Magento Inc.<br/>Copyright &copy; %s Magento Inc.', date('Y')); ?>
        </p>
        <p>
            <?php echo $this->__('OMNIUS&trade; is a trademark of DynaCommerce B.V.<br/>Copyright &copy; %s DynaCommerce B.V.', date('Y')); ?>
        </p>
        <?php if ($version = Mage::helper('dyna_cache')->getAppVersion()) { ?>
            <p class="build <?php echo (Mage::getStoreConfig('omnius_general/version_info/show_version')) ? '' : 'hidden'; ?>">
                <?php echo $version; ?>
            </p>
        <?php } ?>
    </div>

    <script type="text/javascript">
      <?php
        if (Mage::getStoreConfig('advanced/modules_disable_output/Mage_AdminNotification')) { ?>
            //<![CDATA[
            jQuery(document).ready(function($) {
                jQuery('#html-body').find('.notification-global').addClass('hidden');
            });
            //]]>
      <?php } ?>
      function setInterfaceLanguage(evt) {
        var elem = Event.element(evt);
        if (elem) {
          setLocation('<?php echo $this->getChangeLocaleUrl() ?>locale/' + elem.value + '/<?php echo $this->getRefererParamName(); ?>/<?php echo $this->getUrlForReferer(); ?>');
        }
      }

      Event.observe('interface_locale', 'change', setInterfaceLanguage);
    </script>
</div>
