<?php
/**
 * Copyright (c) 2018. Dynacommerce B.V.
 *
 *
 * Customer login form template
 *
 * @see Mage_Customer_Block_Form_Login
 */

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
?>
<div class="rhombus"></div>

<div class="account-login">
    <?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('customer.form.login.extra'); ?>

    <div class="registered-users container-fluid">
        <form class="form-horizontal" role="form" id="login-form" action="<?php echo $this->getPostActionUrl(); ?>" method="post">
            <div class="row">
                <div class="col-xs-12">
                    <h3>
                        <?php echo $agentHelper->__('Login to ') . Mage::app()->getWebsite()->getName(); ?>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label text-left required">
                            <?php echo $this->__('Username'); ?>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" id="email" class="form-control required-entry" name="login[username]"
                                   data-required="true" data-format="text"
                                   value="<?php echo $this->escapeHtml($this->getUsername()); ?>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="col-sm-4 control-label text-left required">
                            <?php echo $agentHelper->__('Password'); ?>
                        </label>
                        <div class="col-sm-8">
                            <input type="password" id="pass" class="form-control required-entry" name="login[password]"
                                   data-required="true" data-format="text" value="" />
                            <p>
                                <a href="javascript:void(0);" style="text-decoration:underline !important;" onclick="showResetPassword();">
                                    <?php echo $this->__('Forgot Your Password?'); ?>
                                </a>
                            </p>
                            <?php
                            $resetPasswordText = $agentHelper->getResetPasswordText();
                            if (!empty($resetPasswordText)) {
                                echo '<p id="reset-password" style="display: none;" class="bg-warning">' . $resetPasswordText . '</p>';
                            }
                            ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 pull-right">
                    <button type="submit" class="btn btn-block btn-primary" title="<?php echo $this->__('Login') ?>" name="send" id="send">
                        <?php echo $agentHelper->__('Login'); ?>
                    </button>
                </div>
            </div>
        </form>

        <?php if ($agentHelper->getIsResetFormEnabled()) { ?>
            <!-- Reset password form -->
            <form style="display: none" role="form" id="reset-form" action="<?php echo $this->getPostActionUrl() ?>" method="post">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>
                            <?php echo $agentHelper->__('Recover your password'); ?>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <?php echo $this->__('Please provider your username below to request a reset password link in your inbox.'); ?>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="forgot[username]">
                                <?php echo $this->__('Username'); ?>:
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="forgot[username]" name="forgot[username]" class="form-control input-sm required-entry" />
                        </div>
                    </div>
                    <div class="form-group">
                        <p id="reset-error" class="col-sm-12 red"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button onclick="showLoginScreen();return false;" class="btn btn-default" title="<?php echo $this->__('Cancel'); ?>">
                            <?php echo $agentHelper->__('Cancel'); ?>
                        </button>
                        <button onclick="resetPassword()" class="btn btn-primary" title="<?php echo $this->__('Recover password'); ?>">
                            <?php echo $this->__('Recover password'); ?>
                        </button>
                    </div>
                </div>
            </form>
            <div class="row" id="response-form" style="display: none">
                <div class="col-sm-12">
                    <p><?php echo $agentHelper->__('The password reset link was sent via e-mail'); ?></p>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-primary" onclick="showLoginScreen()">
                        <?php echo $this->__('Login again'); ?>
                    </button>
                </div>
            </div>
        <?php } ?>
    </div>
</div>
