<?php
/** @var $this Vznl_Checkout_Block_Pdf_Offer */
$logoImage = __DIR__ . '/contract/images/New_VF_Logo_Stack_Small_RGB_RED.svg';
?>
<html>
    <head>
        <meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
        <style type="text/css">
            <!--
            body { font-family: Helvetica, sans-serif; }
            sup { font-size: 5pt; font-weight: normal; color: #989898; }
            h1 { text-align: left; font-size: 10pt; line-height: 11pt; font-weight: bold; }
            table { border-spacing: 0; padding: 0; }
            .no-break { page-break-inside: avoid; }
            .page-break { page-break-after: always; }
            .wrapper { width: 530pt; /*display:none;*/ }
            -->
        </style>
        <link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/print.css') ?>" media="print"/>
    </head>
    <body>
        <div class="wrapper">
            <?php
            $packages = $this->getPackages();
            $hasAquisition = false;
            foreach($packages as $package) {
                if($package->getSaleType() == Vznl_Checkout_Model_Sales_Quote_Item::ACQUISITIE) {
                    $hasAquisition = true;
                    break;
                }
            }
            $totals = $this->getTotals();
            $coreHelper = Mage::helper('core');
            $money = function($price) use($coreHelper) { return $coreHelper->currency($price, true, false); };
            $agent = Mage::getSingleton('customer/session')->getAgent();
            ?>
            <!-- First part -->
            <table width="100%" CELLSPACING="0" BORDER="0" style="page-break-after: always; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <tr>
                    <td style="font-weight: bold" width="25%">
                        <p style="padding-bottom: 3px; margin-top: 2px; margin-bottom: 2px;">Vodafone Libertel B.V.</p>
                        <p style="padding-bottom: 3px; margin-top: 2px; margin-bottom: 2px;">Avenue Ceramique 300</p>
                        <p style="padding-bottom: 3px; margin-top: 2px; margin-bottom: 2px;">6221 KX Maastricht</p>
                        <p style="padding-bottom: 3px; margin-top: 2px; margin-bottom: 2px;">KvK 14052264</p>
                    </td>
                    <td style="font-weight: bold;font-size: 30px;" colspan="2" align="center" width="50%">
                        OFFERTE
                    </td>
                    <td style="" width="25%">
                        <img src="<?php echo $logoImage; ?>" alt="Vodafone Logo" width="158" />
                    </td>
                </tr>
                <tr>
                    <td width="100%" style="font-weight: bold;" colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td width="25%" style="font-weight: bold;">Klantgegevens</td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td width="25%" style="font-weight: bold;">Naam bedrijf</td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td width="25%" style="background-color: #d9d9d9"><?php echo $this->getCustomer()->getCompanyName();?></td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td width="25%" style="font-weight: bold;">Zakelijk Adres</td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td width="25%" style="background-color: #d9d9d9; "><?php echo  $this->getCustomer()->getCompanyStreet() . ' ' . $this->getCustomer()->getCompanyHouseNr() . $this->getCustomer()->getCompanyHouseNrAddition(); ?></td>
                    <td width="25%"></td>
                    <td width="25%">Klantnummer:</td>
                    <td width="25%" style="background-color: #d9d9d9"><?php echo $this->getCustomer()->getBan();?></td>
                </tr>
                <tr>
                    <td width="25%" style="background-color: #d9d9d9; "><?php echo $this->getCustomer()->getCompanyPostcode() . ' ' . $this->getCustomer()->getCompanyCity(); ?></td>
                    <td width="25%"></td>
                    <td width="25%">Offertenummer:</td>
                    <td width="25%"><?php echo $this->getQuote()->getId();?></td>
                </tr>
                <tr>
                    <td width="25%">Naam Contactpersoon</td>
                    <td width="25%" style="background-color: #d9d9d9;"><?php echo $this->getCustomerFullname(); ?></td>
                    <td width="25%">Datum afgifte:</td>
                    <td width="25%" style="background-color: #d9d9d9;"><?php echo $this->getCreationDate(); ?></td>
                </tr>
                <tr>
                    <td width="25%">Geboortedatum</td>
                    <td width="25%" style="background-color: #d9d9d9;"><?php echo $this->stripTimeFromDate($this->getCustomer()->getContractantDob()); ?></td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td width="25%">KvK nummer</td>
                    <td width="25%" style="background-color: #d9d9d9;"><?php echo $this->getCustomer()->getCompanyCoc();?></td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td colspan="4" height="40">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4" width="100%">
                            <p>Beste <?php echo Mage::helper('vznl_checkout')->__($this->getCustomer()->getSalutation()) . ' ' . $this->getCustomer()->getContractantLastname();?>,</p>
                            <p>Naar aanleiding van ons gesprek op <?php echo $this->getCreationDate(); ?> hebben wij het genoegen u hierbij een aanbieding te doen. Op navolgende pagina('s) vindt u de telefonisch besproken specificaties.</p>
                            <p>Let wel: de aanbieding is geldig tot uiterlijk 14 dagen na datum afgifte van deze offerte. Bij het aangaan van een contract, zijn de Algemene Voorwaarden van toepassing, deze zijn ter informatie opgenomen in deze offerte. <?php if($this->cartHasAcquistion()) : ?>Nadat u akkoord gaat met deze offerte, starten wij het bestelproces, waarvan een credit check onderdeel is.<?php endif; ?></p>
                            <p>Klik hier om de huidige tarieven in te zien: https://www.vodafone.nl/zakelijk/support/abonnement/alle-tarieven-en-voorwaarden.shtml</p>
                            <p>Met vriendelijke groet,</p>
                            <p>Uw Zakelijk Specialist</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" height="40">&nbsp;</td>
                </tr>
            </table>
            <!-- End of first part -->
            <table width="100%" CELLSPACING="0" BORDER="0" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <tr>
                    <td style="font-weight: bold" width="25%">
                        <p style="padding-bottom: 3px; margin-top: 2px; margin-bottom: 2px;">Vodafone Libertel B.V.</p>
                        <p style="padding-bottom: 3px; margin-top: 2px; margin-bottom: 2px;">Avenue Ceramique 300</p>
                        <p style="padding-bottom: 3px; margin-top: 2px; margin-bottom: 2px;">6221 KX Maastricht</p>
                        <p style="padding-bottom: 3px; margin-top: 2px; margin-bottom: 2px;">KvK 14052264</p>
                    </td>
                    <td style="font-weight: bold;font-size: 30px;" colspan="2" align="center" width="50%">
                        OFFERTE
                    </td>
                    <td style="" width="25%">
                        <table width="100%" CELLSPACING="0" BORDER="0" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                            <tr>
                                <td>Klantnummer:</td>
                                <td style="background-color: #d9d9d9;"><?php echo $this->getCustomer()->getBan();?></td>
                            </tr>
                            <tr>
                                <td>Offertenummer:</td>
                                <td style="background-color: #d9d9d9;"><?php echo $this->getQuote()->getId();?></td>
                            </tr>
                            <tr>
                                <td>Datum afgifte:</td>
                                <td style="background-color: #d9d9d9;"><?php echo $this->getCreationDate(); ?></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" height="40">&nbsp;</td>
                </tr>
            </table>

            <?php
                foreach($packages as $p) {
                    echo Mage::app()->getLayout()->createBlock('vznl_checkout/pdf_offer_package')
                        ->setPackage($p)
                        ->setQuote($this->getQuote())
                        ->setTemplate('checkout/cart/pdf/partials/package_offer.phtml')
                        ->toHtml();
                }
            ?>

            <div class="no-break">
                <table width="100%" CELLSPACING="0" BORDER="0" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                    <tr>
                        <td align="right"><p style="font-weight: bold; font-size: 15px; ">TOTAAL</p></td>
                        <td align="right" colspan="5">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="background-color: #d9d9d9" colspan="2" width="53%">&nbsp;</td>
                        <td style="background-color: #d9d9d9; padding:15px;" width="15%" align="right">Maandelijks (tijdens actieperiode)</td>
                        <td style="background-color: #d9d9d9; padding:15px;" width="15%" align="right">Maandelijks (buiten actieperiode)</td>
                        <td style="background-color: #d9d9d9; padding:15px;" width="15%" align="right">Eenmalig</td>
                        <td style="background-color: #d9d9d9;" width="2%" align="right">&nbsp;</td>
                    </tr>
                    <tr><td colspan="5">&nbsp;</td></tr>
                    <tr>
                        <td style="background-color: #d9d9d9" colspan="2"  align="right">Excl. BTW</td>
                        <td style="background-color: #d9d9d9; padding-left:15px; padding-right: 15px;" align="right"><?php echo $money($totals['subtotal_maf']); ?></td>
                        <td style="background-color: #d9d9d9; padding-left:15px; padding-right: 15px;" align="right"><?php echo $money($totals['no_promo_maf']); ?></td>
                        <td style="background-color: #d9d9d9; padding-left:15px; " align="right"><?php echo $money($totals['subtotal_price']);?></td>
                        <td style="background-color: #d9d9d9; " align="right">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="" colspan="2" align="right">BTW</td>
                        <td style="padding-left:15px; padding-right: 15px;" align="right"><?php echo $money($totals['tax_maf']); ?></td>
                        <td style="padding-left:15px; padding-right: 15px;" align="right"><?php echo $money($totals['no_promo_tax_amount']); ?></td>
                        <td style="padding-left:15px; " align="right"><?php echo $money($totals['tax_price']);?></td>
                        <td align="right">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="background-color: #d9d9d9" colspan="2" align="right">Totaal (incl. BTW)</td>
                        <td style="background-color: #d9d9d9; padding-left:15px; padding-right: 15px;" align="right"><?php echo $money($totals['total_maf']); ?></td>
                        <td style="background-color: #d9d9d9; padding-left:15px; padding-right: 15px;" align="right"><?php echo $money($totals['no_promo_maf_tax']); ?></td>
                        <td style="background-color: #d9d9d9; padding-left:15px;" align="right"><?php echo $money($totals['total']);?></td>
                        <td style="background-color: #d9d9d9; " align="right">&nbsp;</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                </table>
            </div>

            <div class="no-break">
                <table width="100%" CELLSPACING="0" BORDER="0" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <!-- END FOREACH PACKAGE -->
                    <tr>
                        <td colspan="4" width="100%">
                            <p style="font-weight: bold;">Algemene voorwaarden</p>
                            <p>&nbsp;</p>
                            <p>Op een Overeenkomst zijn de Algemene Voorwaarden Consumenten Vodafone Libertel B.V. (AVC) en eventuele overige aanvullende voorwaarden van toepassing, indien contractant deze overeenkomst aangaat als consument (te weten: anders dan in de uitoefening van een beroep of bedrijf). In alle andere gevallen zijn de Algemene Voorwaarden Zakelijke Markt Vodafone Libertel B.V. (AVZM) en eventuele overige aanvullende voorwaarden van toepassing.</p>
                            <p>Contractant verklaart door ondertekening van de op hem/haar van toepassing zijnde voorwaarden te hebben ontvangen en deze te hebben aanvaard. Een extra exemplaar is te downloaden via www.vodafone.nl/voorwaarden of af te halen bij een van onze Vodafone Winkels.</p>
                            <p>Indien er sprake is van (een) nieuwe Mobiele Aansluiting(en) geeft de ondergetekende toestemming de bovenstaande persoons- gegevens te gebruiken voor het onderzoek naar zijn/haar kredietwaardigheid, voordat deze overeenkomst met Vodafone kan worden aangegaan.</p>
                            <p>Vodafone mag het aangaan van een overeenkomst weigeren indien de persoons-/bedrijfsgegevens niet volledig, onjuist of onduidelijk zijn weergegeven of (onbevoegd) zijn gewijzigd voordat deze overeenkomst met Vodafone kan worden aangegaan. Contractant geeft door middel van ondertekening uitdrukkelijk toestemming aan Vodafone zijn persoonsgegevens en niet geanonimiseerde verkeersgegevens te verwerken voor de doeleinden zoals beschreven in de AVC en AVZM. Zie hiervoor het relevante artikel in AVC en AVZM. Door middel van ondertekening verzoekt Contractant Vodafone om de nieuwe Mobiele Aansluiting(en) direct te gebruiken, tenzij Partijen contractueel anders overeen gekomen zijn. Contractant gaat tevens akkoord met de geldende tarieven (zie hiervoor www.vodafone.nl) behorende bij het abonnement en de zaken.  Als gevolg van het afronden op twee decimalen bij de BTW-berekening kan de daadwerkelijke prijs afwijken van de (afgeronde) prijs die in het contract vermeldt staat.</p>
                            <p>Indien contractant niet tevreden is met het geleverde product(en), is er de mogelijkheid om na ontvangst van de bestelling de overeenkomst binnen 14 werkdagen, zonder opgave van redenen, te ontbinden.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>