<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

    /** @var Omnius_Package_Model_Package[] $packages */
    $packages = $this->getPackages();
    $deliveryCosts = $this->getDeliveryCosts();
    /** @var Omnius_Checkout_Model_Sales_Quote $quote */
    $quote = $this->getQuote();
    $isConverged = $this->getIsConverged();
    $isFixed = $this->getIsFixed();
    $packagesCount = ($isConverged) ? count($packages) + 1 : count($packages);
    $hasRetention = $this->getHasRetention();
    $hasNumberPorting = $this->getHasNumberPorting();
    $configuratorHelper = Mage::helper('vznl_configurator');
    $totalMaf = $totalMafTax = $totalTaxMaf = 0;
    $totalPrice = $totalPriceTax = $totalTaxPrice = 0;
    $totalPromo = $totalPromoTax = $totalTaxPromo = 0;
    $totalConnectionFee = $totalConnectionFeeTax = 0;
    $tax = ($this->getIsBusiness()) ? '' : 'Tax';
    $withTax = ($tax) ? '' : 'Tax';
    $inclTax = ($tax) ? 'incl.' : 'excl.';
    $exclTax = ($tax) ? 'excl.' : 'incl.';
    // money format handler
    $coreHelper = Mage::helper('core');
    $money = function($price) use($coreHelper) { return $coreHelper->currency($price, true, false); };
    $difference = 0;
    $orderDifference = $this->getDifference();
    $helper = Mage::helper('operator');
    $operator_list = $helper->getNetworkOperators(true);
    $network_list = $helper->getServiceProviders(true);

    /** @var Vznl_Checkout_Helper_Data $checkoutHelper */
    $checkoutHelper = Mage::helper('vznl_checkout');
    $cartHelper = Mage::helper('dyna_configurator/cart');

?>
<TABLE width="100%" CELLSPACING="0" BORDER="0" style="text-align: left;">
<?php
$firstPackageInOrder = true;
/** @var Omnius_Package_Model_Package $package */
foreach ($packages as $package) :

    $networkOperator = isset($operator_list[strtolower($package->getNetworkOperator())]) ? $operator_list[strtolower($package->getNetworkOperator())] : $package->getNetworkOperator();
    $networkProvider = isset($network_list[strtolower($package->getNetworkProvider())]) ? $network_list[strtolower($package->getNetworkProvider())] : $package->getNetworkProvider();


    if ($quote) {
        $packageItems = $quote->getPackageItems($package->getPackageId());
    } else {
        $packageItems = $package->getPackageItems();
    }

    $packageTotalsWithTax = $configuratorHelper->calculatePackageItemsTotals($packageItems, true, $skipMafDiscounts = false);
    $packageTotalsWithoutTax = $configuratorHelper->calculatePackageItemsTotals($packageItems, false, $skipMafDiscounts = false);
    $subscription = $configuratorHelper->extractSubscriptionFromPackageItems($packageItems);
    $subscriptionDuration = 0;
    if ($subscription) {
        $subscriptionDuration = $subscription->getProduct()->getSubscriptionDuration();
    }
    $packageItems = $cartHelper->getSortedCartProducts($packageItems);
    $packageProducts = Mage::helper('vznl_checkout/email')->getPackageItemsLines($packageItems, $package->getCoupon(), $this->getIsIls(), $this->getIsBusiness(), $package->isRetention());
    $promoMaf = $promoMafTax = 0;
?>

<?php if ( ! $quote && $firstPackageInOrder) : $firstPackageInOrder = false; ?>
    <?php if($this->getOrderEdit() && ($orderDifference !== null)) : ?>
        <TR>
            <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff" colspan="3">
                <?php
                if ($orderDifference > 0 && $this->getPaymentMethod() == 'cashondelivery') {
                    //In case additional amount needs to be paid (if change before + COD then this does not have to be shown)
                    echo sprintf("Naar aanleiding van deze wijziging dien je %s bij te betalen voor de hardware. Dit bedrag kun je voldoen aan de koerier als je pakket wordt afgeleverd.", $money($orderDifference));
                } elseif ($orderDifference > 0 && $this->getPaymentMethod() == 'checkmo') {
                    //In case additional payment, payment method = Pay on Bill and status delivery = delivered
                    echo sprintf("Naar aanleiding van deze wijziging dien je %s bij te betalen voor de hardware. Dit bedrag verrekenen op je maandelijkse factuur.", $money($orderDifference));
                } elseif ($orderDifference < 0 && $this->getPaymentMethod() == 'checkmo') {
                    //In case refund, payment method Pay on Bill and status delivery = delivered
                    $orderDifference = -1 * $orderDifference;
                    echo sprintf("Naar aanleiding van deze wijziging zijn de eenmalige kosten voor de hardware %s minder. Dit bedrag storten wordt verrekend op je maandelijkse factuur.", $money($orderDifference));
                } elseif ($orderDifference < 0 && ($this->getPaymentMethod() == 'cashondelivery' || $this->getPaymentMethod() == 'adyen_hpp')) {
                    //In case refund, Online payment or cash-on-delivery which has partial payment
                    $orderDifference = -1 * $orderDifference;
                    echo sprintf("Naar aanleiding van deze wijziging zijn de eenmalige kosten voor de hardware %s minder. Dit bedrag storten wij terug op je rekening.", $money($orderDifference));
                } ?>
            </TD>
        </TR>
    <?php endif; ?>
    <TR>
        <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 10px; PADDING-TOP: 20px; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #ffffff" colspan="3">

            <?php
            if ($this->getOrderEdit() && $package->isDelivered()) {
                echo !$this->getIsBusiness() ? $checkoutHelper->__('We wait with delivery until you have returned the order already received. We will e-mail confirming the return receipt and you kept further informed about the delivery of the amended order.') : $checkoutHelper->__('(business) We wait with delivery until you have returned the order already received. We will e-mail confirming the return receipt and you kept further informed about the delivery of the amended order.');
            }
            ?>
        </TD>
    </TR>
<?php endif; ?>
<TR>
    <TD style="BORDER-WIDTH: 1px; BORDER-COLOR: #7D7D7D; BORDER-STYLE: solid; PADDING-BOTTOM:20px; PADDING-TOP:5px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 20px;" colspan="3">
        <TABLE width="100%" CELLSPACING="0" BORDER="0">
            <TR>
                <TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 10px; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #ffffff" colspan="4">
                    <B style="FONT-SIZE: 15px;"><?php echo $checkoutHelper->__('Package') . (($packagesCount > 1) ? ' ' . $package->getPackageId() : ''); ?></B> <br/>

                </TD>
            </TR>


        <?php if ($package->isRetention()) : ?>
            <TR style="BACKGROUND-COLOR: #ffffff">
                <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial, Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;" colspan="2" align="left">
                    <B><?php echo $checkoutHelper->__("Your order for"); ?><br /><?php echo $checkoutHelper->__('mobile number'); ?>: <?php echo $checkoutHelper->formatCtn($package->getCtn()); ?></B>
                </TD>
                <TD colspan="2">&nbsp;</TD>
            </TR>
        <?php endif; ?>

        <?php if ( ! $quote && ! $package->isRetention() && $package->isNumberPorting() ) :?>
            <TR style="BACKGROUND-COLOR: #ffffff">
                <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 20px; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #FFF; VERTICAL-ALIGN: top;" colspan="4" align="left">
                    <TABLE>
                        <TR>
                            <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; BACKGROUND-COLOR: #FFF; VERTICAL-ALIGN: top;">
                                <b><?php echo !$this->getIsBusiness() ? $checkoutHelper->__("Your order preserving mobile number") : $checkoutHelper->__("(business) Your order preserving mobile number"); ?>: <?php echo ($package->isNumberPorting()) ? $checkoutHelper->formatCtn($package->getCurrentNumber()) : $checkoutHelper->formatCtn($package->getTelNumber()); ?></b>
                            </TD>
                        </TR>
                        <TR>
                            <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top;" colspan="1" align="left">
                                <?php if (!empty($networkOperator) || !empty($networkProvider)) { ?>
                                    <?php echo $checkoutHelper->__("Current provider"); ?>: <?php echo $networkOperator;?> <?php echo $networkOperator ? '/':''; ?> <?php echo $networkProvider;?><BR>
                                <?php } ?>
                                <?php if ($package->getCurrentSimcardNumber()) {
                                    echo $checkoutHelper->__("Current SIM number") . ': ' . $package->getCurrentSimcardNumber();
                                } elseif ($package->getContractNr()) {
                                    echo $checkoutHelper->__("Client number provider") . ': ' . $package->getContractNr();
                                } ?>
                            </TD>
                        </TR>
                    </TABLE>
                </TD>
            </TR>
        <?php endif; ?>

        <TR style="BACKGROUND-COLOR: #ffffff">
            <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial, Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;" colspan="2" align="left">
                <?php if ( ! $package->isRetention() && ! $package->isNumberPorting()) : ?>
                    <B><?php echo !$this->getIsBusiness() ? $checkoutHelper->__("Your order") : $checkoutHelper->__("(business) Your order"); ?></B>
                <?php endif; ?>
                <BR>
            </TD>

            <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;" colspan="1" align="right">
                <B><?php echo $checkoutHelper->__("Monthly fee"); ?></B><BR>
            </TD>

            <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 10px; PADDING-RIGHT: 0;" colspan="1" align="right">
                <B><?php echo $checkoutHelper->__("One time"); ?></B><BR>
            </TD>
        </TR>
<?php foreach ($packageProducts as $section => $products) : ?>
    <TR STYLE="BACKGROUND-COLOR: #ffffff;">
            <TD colspan="4" style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;VERTICAL-ALIGN: top; " >
    &nbsp;
            </TD>
        </TR>
    <?php foreach ($products as $product) : ?>

    <TR STYLE="BACKGROUND-COLOR: #ffffff;">
        <?php if (isset($product['image'])):?>
            <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif;  COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0px;  VERTICAL-ALIGN: top;" align="left" rowspan="<?php echo isset($product['subgroup']) ? count($product['subgroup']) + 1 : 1; ?>" colspan='1'>
                <?php echo $product['image']; ?>
            </TD>
        <?php endif; ?>
        <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top;" colspan="<?php echo (isset($product['image']))? 1 : 2; ?>" align="left">
            <?php if ($section == Vznl_Catalog_Model_Type::SUBTYPE_DEVICE || $section == Vznl_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION) : ?>
                <B style="FONT-SIZE: 15px;"><?php echo $product['name']; ?></B>
            <?php else: ?>
                <?php echo $product['name']; ?>
            <?php endif; ?>
            <?php if (isset($product['promoPriceTax'])) :
                $promoMaf += $product['promoPrice'];
                $promoMafTax += $product['promoPriceTax']; ?>
            <?php endif; ?>
        </TD>
        <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT:0; PADDING-RIGHT:0; VERTICAL-ALIGN: top; FONT-WEIGHT: bold;" colspan="1" align="right">
            <?php echo isset($product['promoPrice'.$tax]) ? Mage::helper('core')->currency($product['promoPrice'.$tax], true, false) : (isset($product['maf'.$tax]) ? $product['maf'.$tax] : ''); ?>&nbsp;
        </TD>
        <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT:0; PADDING-RIGHT:0; VERTICAL-ALIGN: top; FONT-WEIGHT: bold;" colspan="1" align="right">
            <?php echo $product['price'.$tax]; ?>
        </TD>
    </TR>
    <?php if (isset($product['subgroup'])) :
        foreach ($product['subgroup'] as $subproduct) :
            if ($subproduct['name']):
            ?>
                <TR STYLE="BACKGROUND-COLOR: #ffffff;">
                    <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top; " colspan="<?php echo (isset($product['image']))? 1 : 2; ?>" align="left">
                        <?php echo $subproduct['name']; ?>
                    </TD>
                    <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT:0; PADDING-RIGHT:0; VERTICAL-ALIGN: top; FONT-WEIGHT: bold;" colspan="1" align="right">
                        &nbsp;
                    </TD>
                    <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top; FONT-WEIGHT: bold;" colspan="1" align="right">
                        <?php if (isset($subproduct['price'.$tax])) {
                            // is this ever set?
                            echo $subproduct['price'.$tax];
                        }
                        ?>&nbsp;
                    </TD>
                </TR>
            <?php endif;
        endforeach;
    endif; ?>

    <?php if ($section == Vznl_Catalog_Model_Type::SUBTYPE_DEVICE || $section == Vznl_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION) : ?>
        <TR STYLE="BACKGROUND-COLOR: #ffffff;">
            <TD colspan="4" style="PADDING-TOP: 0; LINE-HEIGHT: 0;">&nbsp;</TD>
        </TR>
    <?php endif; ?>

    <?php if (isset($product['connection_fee'])) :
        $totalConnectionFee += $product['connection_fee']['price'];
        $totalConnectionFeeTax += $product['connection_fee']['priceTax']; ?>

        <TR STYLE="BACKGROUND-COLOR: #ffffff;">
            <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top;" colspan="2" align="left">
                <?php echo $product['connection_fee']['name']; ?>
            </TD>
            <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT:0; PADDING-RIGHT:0; VERTICAL-ALIGN: top;" colspan="1" align="right">
                &nbsp;
            </TD>
            <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top; FONT-WEIGHT: bold;" colspan="1" align="right">
                <?php echo Mage::helper('core')->currency($product['connection_fee']['price'.$tax]); ?>
            </TD>
        </TR>
    <?php endif; ?>

<?php endforeach; // end $products
endforeach; // end $packageProducts

if ( ! $quote ) :
    $ctnEndDate = $package->getCtnOriginalEndDate();
    $ctnStartDate = $package->getCtnOriginalStartDate();
    if ($ctnEndDate && $ctnStartDate) { // Previous contract starts in the past, get enddate
        if (strtotime($ctnStartDate->format('d-m-Y')) < time()) {
            $startDate = $ctnEndDate ? $ctnEndDate->format('d-m-Y') : $this->getSigningDate();
        } else {
            $startDate = $ctnStartDate ? $ctnStartDate->format('d-m-Y') : $this->getSigningDate();
        }
        if (strtotime($startDate) < time()) {
            $startDate = $this->getSigningDate();
        }
    } else { // Previous contract end date
        $startDate = $this->getSigningDate();
    }
    ?>
    
    <?php 
    $deviceRc = false;
    foreach ($packageItems as $i) {
        /** @var Dyna_Catalog_Model_Product $productTemp */
        $productTemp = $i->getProduct();
        if ($productTemp->is(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE_SUBSCRIPTION) && ($productTemp->getMaf() > 0)) {
            $deviceRc = true;
        }
    } ?>

    <?php if (!$package->isFixed()) :?>
    <TR STYLE="BACKGROUND-COLOR: #ffffff;">
        <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 12px; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top;" colspan="2" align="left">
            <?php if (!$package->isRetention()): ?><b><?php endif;?><?php echo $checkoutHelper->__("New subscription end date"); ?>:<?php if (!$package->isRetention()): ?></b><?php endif;?>
        </TD>
        <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 12px; PADDING-LEFT: 0; PADDING-RIGHT: 0; VERTICAL-ALIGN: top;" colspan="2" align="left">
            <?php echo date("d-m-Y", strtotime("+$subscriptionDuration month", strtotime($startDate))); ?>
        </TD>
    </TR>
    <?php endif; ?>
    <TR STYLE="BACKGROUND-COLOR: #ffffff;">
        <TD colspan="4" align="left">
            <table style="width: 100%">
                <?php if (!$package->isFixed()) :?>
                <tr>
                    <td style="font-style: italic; FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;">
                    <?php echo $checkoutHelper->__("Immediately you going to use your new subscription. This means that you will pay directly for your new subscription."); ?>
                    </td>
                </tr>
                <?php endif; ?>
                <tr>
                    <td style="font-style: italic; FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 0; PADDING-RIGHT: 0;">
                    <?php if ($deviceRc): ?>
                        <?php echo sprintf($checkoutHelper->__("After the full payment of your phone, you pay per month no longer for your phone."), $subscriptionDuration); ?>
                    <?php endif; ?>
                    </td>
                </tr>
            </table>
        </TD>
    </TR>
<?php endif;

    $totalPromo += $promoMaf;
    $totalTaxPromo += $promoMafTax - $promoMaf;
    $totalPromoTax += $promoMafTax;

    $totalMaf += $packageTotalsWithoutTax['totalmaf'];
    $totalTaxMaf += $packageTotalsWithTax['totalmaf'] - $packageTotalsWithoutTax['totalmaf'];
    $totalMafTax += $packageTotalsWithTax['totalmaf'];

    $totalPrice += $packageTotalsWithoutTax['totalprice'];
    $totalTaxPrice += $packageTotalsWithTax['totalprice'] - $packageTotalsWithoutTax['totalprice'];
    $totalPriceTax += $packageTotalsWithTax['totalprice'];

    if ($this->getOrderEdit() && $package->isDelivered()) {
        /** @var Omnius_Package_Helper_Data $packageHelper */
        $packageHelper = Mage::helper('vznl_package');
        $packageDifference = $packageHelper->getPackageDifferences($package->getPackageId());
        if ( ! is_array($packageDifference) && ! empty($packageDifference)) {
            $difference += $packageHelper->getPackageDifferences($package->getPackageId());
        }
    }
?>

</TABLE>
</TD>
</TR>
    <TR>
        <TD colspan="4" style="PADDING-TOP: 5px;">&nbsp;</TD>
    </TR>

<?php endforeach; #packages ?>
</TABLE>
<!--TOTALS section-->
<TABLE width="100%" CELLSPACING="0" BORDER="0">
    <TR>
        <TD style="BORDER-WIDTH: 1px; BORDER-COLOR: #7D7D7D; BORDER-STYLE: solid; PADDING-BOTTOM:20px; PADDING-TOP:20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px;">
            <TABLE width="100%" CELLSPACING="0" BORDER="0">
                <TR style="BACKGROUND-COLOR: #ffffff">
                    <TD width="40%" style="FONT-SIZE: 22px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT:0; PADDING-RIGHT:0; VERTICAL-ALIGN: top;" colspan="1" align="left">
                        <B><?php echo $checkoutHelper->__('Total'); ?></B>
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $checkoutHelper->__("Subscription Fee"); ?></B>
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $checkoutHelper->__("Per month"); ?></B>
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 15px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM: 0; PADDING-TOP: 0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $checkoutHelper->__("Hardware price"); ?></B>
                    </TD>
                </TR>
                <?php if ($deliveryCosts): ?>
                    <TR>
                        <TD width="40%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top;" colspan="1" align="right">
                            <?php echo $checkoutHelper->__("Delivery costs"); ?>
                        </TD>
                        <TD width="20%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top;" colspan="1" align="right">
                            &nbsp;
                        </TD>
                        <TD width="20%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top;" colspan="1" align="right">
                            &nbsp;
                        </TD>
                        <TD width="20%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top;" colspan="1" align="right">
                            <?php echo Mage::helper('core')->currency($deliveryCosts, true, false); ?>
                        </TD>
                    </TR>
                <?php endif; ?>
                <TR style="BACKGROUND-COLOR: #ffffff">
                    <TD width="40%" style="FONT-SIZE: 22px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="left">
                        &nbsp;
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 22px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $money(${'totalConnectionFee'.$tax}); ?></B>
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 22px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $money(${'totalMaf'.$tax}); ?></B>
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 22px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
                        <B><?php echo $money(${'totalPrice'.$tax}); ?></B>
                    </TD>
                </TR>
                <TR style="BACKGROUND-COLOR: #ffffff">
                    <TD width="40%" style="FONT-SIZE: 8px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="left">
                        &nbsp;
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 8px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
<!--                        <b>--><?php //echo $checkoutHelper->__($exclTax ." VAT") . '; ' . $money(${'totalConnectionFee'.$withTax}); ?><!--</b>-->
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 8px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
<!--                        <b>--><?php //echo $checkoutHelper->__($exclTax ." VAT") . '; ' .$money(${'totalMaf'.$withTax}); ?><!--</b>-->
                    </TD>
                    <TD width="20%" style="FONT-SIZE: 8px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:0px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" colspan="1" align="right">
<!--                        <b>--><?php //echo $checkoutHelper->__($exclTax . " VAT") . '; ' .$money(${'totalPrice'.$withTax}); ?><!--</b>-->
                    </TD>
                </TR>
                <?php if ( ! $quote ) : ?>
                    <tr>
                        <td colspan="4">
                            <TABLE width="100%" CELLSPACING="0" BORDER="0">
                                <TR style="BACKGROUND-COLOR: #ffffff">
                                    <TD width="45%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:10px; PADDING-LEFT: 0; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <b><?php echo $checkoutHelper->__('Payment:'); ?></b>
                                    </TD>
                                </TR>
                                <TR style="BACKGROUND-COLOR: #ffffff">
                                    <TD width="45%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php echo $checkoutHelper->__('One-time costs hardware'); ?>:
                                    </TD>
                                    <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php
                                        $totalHw = ${'totalPrice'.$tax};
                                        $paymentMethod = $this->getPaymentMethod();
                                        $parentPaymentMethod = $this->getParentPaymentMethod();
                                        if ($paymentMethod == Dyna_Checkout_Helper_Fields::PAYMENT_DIRECT_DEBIT) {
                                            $paymentMethod = 'Direct Debit';
                                        }
                                        if ($parentPaymentMethod == Dyna_Checkout_Helper_Fields::PAYMENT_DIRECT_DEBIT) {
                                            $parentPaymentMethod = 'Direct Debit';
                                        }
                                        $paymentMethodText = '';
                                        if ($paymentMethod) {
                                            $paymentMethodText = lcfirst($checkoutHelper->__($paymentMethod));
                                        }
                                        $parentPaymentMethodText = '';
                                        if ($parentPaymentMethod) {
                                            $parentPaymentMethodText = lcfirst($checkoutHelper->__($parentPaymentMethod));
                                        }
                                        if ($paymentMethodText == 'free') {
                                            $paymentMethodText = '';
                                        }
                                        if($parentPaymentMethodText == 'free') {
                                            $parentPaymentMethodText = '';
                                        }

                                        if ($paymentMethodText == 'adyen_hpp') {
                                            echo $money($totalHw) . sprintf($checkoutHelper->__(' already met via %s'), $paymentMethodText);
                                        } elseif ($this->getOrderEdit() && $difference > 0) {
                                            if ($parentPaymentMethod == 'checkmo') {
                                                echo $money($totalHw-$difference) . ' - ' . $checkoutHelper->__('Direct Debit') . '<br />';
                                                echo $money($difference) . ' - ' . $checkoutHelper->__('Direct Debit');
                                            } else {
                                                echo $money($totalHw-$difference) . sprintf(($this->getIsPaidParent() ? $checkoutHelper->__(' already met with %s') : $checkoutHelper->__(' to meet with %s') ), $parentPaymentMethodText) . '<br />';
                                                echo $money($difference) . sprintf(($this->getIsPaid() ? $checkoutHelper->__(' already met with %s') : $checkoutHelper->__(' to meet with %s') ), $paymentMethodText);
                                            }
                                        } elseif ($this->getOrderEdit() && $difference < 0) {
                                            $difference = -1 * $difference;
                                            if ($parentPaymentMethod == 'checkmo') {
                                                echo $money($totalHw-$difference) . ' - ' . $checkoutHelper->__('Direct Debit') . '<br />';
                                                echo $money($difference) . ' ' . $checkoutHelper->__('Direct Debit');
                                            } else {
                                                echo $money($totalHw+$difference) . sprintf(($this->getIsPaidParent() ? $checkoutHelper->__(' already met with %s') : $checkoutHelper->__(' to meet with %s') ), $parentPaymentMethodText) . '<br />';
                                                echo $money($difference) .  sprintf($checkoutHelper->__(' to be returned with %s'), $paymentMethodText);
                                            }
                                        } elseif ($this->getOrderEdit() && $difference == 0) {
                                            if ($parentPaymentMethod == 'checkmo') {
                                                echo $money($totalHw) . ' - ' . $checkoutHelper->__('Direct Debit');
                                            } else {
                                                echo $money($totalHw) . sprintf(($this->getIsPaidParent() ? $checkoutHelper->__(' already met with %s') : $checkoutHelper->__(' to meet with %s') ), $parentPaymentMethodText);
                                            }
                                        } else {
                                            if ($paymentMethod == 'checkmo') {
                                                if ($totalHw == 0) {
                                                    echo $checkoutHelper->__('Inapplicable');
                                                } else {
                                                    echo $checkoutHelper->__('Direct Debit');
                                                }
                                            } else {
                                                if ($this->getPaymentMethod() == Dyna_Checkout_Helper_Fields::PAYMENT_DIRECT_DEBIT) {
                                                    echo $checkoutHelper->__('Direct Debit');
                                                } else {
                                                    echo ($totalHw == 0)
                                                    ?
                                                        $checkoutHelper->__('Inapplicable')
                                                    :
                                                        ucfirst(trim(sprintf(($this->getIsPaid() ? $checkoutHelper->__(' already met with %s') : $checkoutHelper->__(' to meet with %s') ), $paymentMethodText)))
                                                    ;
                                                }
                                            }
                                        }
                                        ?>
                                    </TD>
                                </TR>
                                <TR style="BACKGROUND-COLOR: #ffffff">
                                    <TD width="45%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php echo $checkoutHelper->__('One-off connection charge'); ?>:
                                    </TD>
                                    <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php echo (${'totalConnectionFee'.$tax} == 0) ? $checkoutHelper->__('Inapplicable') : $checkoutHelper->__('Direct debit (first phone bill)'); ?>
                                    </TD>
                                </TR>
                                <TR style="BACKGROUND-COLOR: #ffffff">
                                    <TD width="45%" style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 0; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php echo $checkoutHelper->__('Monthly Cost'); ?>:
                                    </TD>
                                    <TD style="FONT-SIZE: 13px; FONT-FAMILY: Arial,Verdana, sans-serif; COLOR: #7D7D7D; PADDING-BOTTOM:3px; PADDING-TOP:0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top;" align="left">
                                        <?php echo (${'totalMaf'.$withTax} == 0) ? $checkoutHelper->__('Inapplicable') : $checkoutHelper->__('Direct Debit'); ?>
                                    </TD>
                                </TR>
                            </TABLE>
                        </td>
                    </tr>
                <?php endif; ?>
            </TABLE>
        </TD>
    </TR>
</TABLE>
