/*********************** CSS for Place starts here ************************/
.pincodelabel {
	opacity: 0.8;
	font-family: Roboto;
	font-size: 12px;
	line-height: 1;
	text-align: left;
	color: #5b717c;
	top: 29px;
	position: absolute;
	padding: 0px 12px 5px 12px;
	font-weight: normal;
	border: none;
}

.inputpincode {
	width: 418px;
	height: 32px;
	border-radius: 3px;
	background-color: #ffffff;
	/*border: solid 1px #d9d9d9;*/
	float: left;
}

.pincodessearch {
	width: 70px;
	height: 14px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 1;
	text-align: left;
	color: #2d4552;
	border: none !important;
}

.addresssearch {
    background: url(../../images/de/campsearch.svg) no-repeat center;
    float: right;
    width: 18px;
    height: 18px;
    object-fit: contain;
    position:absolute;
    top: 10px; right: 126px;
	margin-right: 10px;

}

.buttonbounds {
	width: 82px;
	height: 32px;
	border-radius: 2px;
	background-color: #009ca7;
	box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
	border: solid 1px rgba(0, 0, 0, 0.05);
	margin-left: 5px;
    margin-top: 1px;
}

.button-text {
	width: 33px;
	height: 18px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.29;
	text-align: center;
	color: #ffffff;
    margin-top: 8px;
    margin-left: 10px;
}

.buttonfilter {
    background: url(../../img/filter.svg) no-repeat center;
    fill: #ffffff;
    width: 20px;
    height: 20px;
    object-fit: contain;
    position:absolute;
    top: 10px; right: 38px;
    background-color: rgba(0, 0, 0, 0);
}

.divfilterbutton {
	width: 117px;
	height: 32px;
	float: right;
}

.addressfiltertypes {
	width: 540px;
	min-height: 32px;
}

.divplacemap {
	width: 510px;
	height: 380px;
	top:12px;
}

.divplace {
	width: 540px;
	/*height: 500px;*/
	margin-top: 20px;
}

.placediv {
	width: 510px;
	height: 56px;
	background-color: rgba(0, 0, 0, 0);
	position:relative;
	border-bottom: solid 1px #d9d9d9;
	display: inline-block;

}

.placeimageD {
	fill: #ffffff;
	float: left;
	width: 30px;
	height: 30px;
	object-fit: contain;
	position:relative;
	top: 14px;
	left: 3px;
	background-color: rgba(0, 0, 0, 0);
}


.location-address {
	width: 320px;
	height: 36px;
	line-height: 15px;
	float: left;
	left: -1px;
	padding-top: 10px;
	padding-left: 20px;
	position: relative;
	display: inline-block;
}

.location-address>div>span,.location-address>div>p{
	font-family: Roboto;
	font-size: 14px !important;
	color: #2d4552;
}
.distance {
	width: 50px;
	height: 11px;
	font-family: Roboto;
	font-size: 10px;
	color: #2d4552;
	font-weight: Bold;
	display: inline-block;
	position: relative;
	top: 25px;
	left: 40px;
}

.select-button {
	width: 80px;
	height: 32px;
	border: 1px solid #009ca7;
	border-radius: 2px;
	top: 15px;
	float: right;
	position: relative;
	cursor: pointer;
}
.select-txt {
	width: 40px;
	height: 14px;
	font-family: Roboto;
	font-size: 14px;
	color: #009ca7;
	font-weight: Bold;
	line-height: 14px;
	left: 20px;
	top:9px;
	padding: 9px;

}

.location-pagination {
	width: 510px;
	height: 56px;
	border-bottom: solid 1px #d9d9d9;
}


.active-select {
	background-color:Teal !important
}

.active-select-text {
	color:white
}

.locationpage {
	display: none;
}
.location-page-active {
	display: block;
}

.shape {
	width: 10px;
	height: 10px;
	object-fit: contain;
}

.dhlIdentificationdiv .input-background {
	height: 64px;
	width: 510px;
	border-bottom: solid 1px #d9d9d9;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.03);
	position: relative;
	border: solid 1px #d9d9d9;
}

.dhl-input-box {
	width: 480px !important;
	padding-top: 7px !important;
	position: relative;
	top:-6px;
	left: 13px;
}
.multi-select-button {
	background: url(../../img/Filter.png) no-repeat center;
    fill: #ffffff;
    float: right;
    height: 40px;
    width: 130px;
    object-fit: contain;
    /*content: "Filter";*/
}

.dhlIdentification-box {
    height: 75px;
    width: 510px;
    border-bottom: solid 1px #d9d9d9;
}

.google-pagination{
	padding-left: 50px;
	padding-top: 40px;
}

.multi-select-container {
	position: relative;
	display: none;
	right: 30px;
	float: right;
	width:148px;
}

.multi-select-menu {
	position: relative;
	left: 0;
	top: 2px;
	z-index: 1;
	float: left;
	min-width: 100%;
	background: #fff;
	border-radius: 4px;
	list-style: none;
	font-size: 14px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-color: #fff;
}

.multi-select-container-open{
	display: inline-block;
}

.multi-select-menuitem {
	display: block;
	font-size: 12px;
	white-space: nowrap;
	height: 32px;
	width: inherit;
	padding: 8px 9px 11px 16px;

}

.multi-select-menuitem + .multi-select-menuitem {
	padding-top: 0;
}

.multi-select-presets {
	border-bottom: 1px solid #ddd;
}

.multi-select-menuitem input {
	position: absolute;
	margin-top: 0.25em;
	margin-left: -20px;
}

.multi-select-button {
	display: inline-block;
	font-size: 0.875em;
	padding: 0.2em 0.6em;
	max-width: 16em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: -0.5em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	cursor: default;
}

.multi-select-button:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.4em 0.4em 0 0.4em;
	border-color: #999 transparent transparent transparent;
	margin-left: 0.4em;
	vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu {
	display: block;

}

.multi-select-container--open .multi-select-button:after {
	border-width: 0 0.4em 0.4em 0.4em;
	border-color: transparent transparent #999 transparent;
}

.multi-select-container--positioned .multi-select-menu {
	/* Avoid border/padding on menu messing with JavaScript width calculation */
	box-sizing: border-box;
}

.multi-select-container--positioned .multi-select-menu label {
	/* Allow labels to line wrap when menu is artificially narrowed */
	white-space: normal;
}

.Rectangle {
	width: 16px;
	height: 16px;
	border-radius: 2px;
	background-color: #ffffff;
	background-color: var(--white);
	border: solid 1px #d9d9d9;
	display: inline-block;
	object-fit: contain;
}

.multi-select-item-text {
	font-weight: normal;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	top:-3px !important;
	height: 18px;
	background-color: #ffffff;
	background-color: var(--white);
	font-family: Roboto;
	font-size: 12px !important;
	line-height: 1.5;
	text-align: left;
	color: #2d4552;
	width: 97px;
	left:5px;
}

.location-error-title {
	width: 300px;
	height: 22px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.57;
	text-align: center;
	color: #2d4552;
	position: relative;
}

.location-error-description {
	width: 300px;
	height: 48px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.71;
	text-align: center;
	color: #5b717c;
	position: relative;
}

.multi-select-menu-title {
	padding: 12px 0px 0px 17px;
	position: relative;
	height: 32px;
	width: 97px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color: #324d5b;
	color: var(--default);
	white-space: nowrap;
}

.filter-box-checked {
	background: url(../../img/rightcheck.svg) no-repeat center;
	object-fit: contain;
	background-color: #000000;
	background-color: var(--black);
}

.multi-select-menuitem:hover {
	background-color:#009ca7;
	cursor: pointer;
}

.placediv:hover {
	cursor:pointer;
	width: 510px;
	height: 56px;
	background-color: #fafafa;
}

.pagination-page-active>a {
	background-color:#efefef !important;
	border-color: #ddd !important;
	font-weight:bold !important;
}


/*********************** CSS for datetime starts here ************************/
.delivery-datetime-container {
	width: 100%;
	height: 633px;
	opacity: 0.9;
}

.datepaginationdiv {
	width: 100%;
	height: 60px;
	box-shadow: inset 0px -1px 2px rgba(0,0,0,0.05);
}

.paginationbg {
	width: 17px;
	height: 61px;
	background-color: #d8d8d8;
}

.timeline {
	width: 38px;
	height: 533px;
	font-family: Roboto;
	font-size: 12px;
	color: #2d4552;
	font-weight: Regular;
	line-height: 73px;
	float: left;
	/*padding-left: 15px;*/
}

.timelinediv {
	width: 460px;
	height: 533px;
	float: right;
	line-height: 35px;
    display: table-column;
    position: relative;
    padding-left: 10px;
}

.divloader {
    display: none;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  	background-color: rgba(0, 0, 0, 0.7);
    background-image: url("../../img/loading.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.Previous {
	position: relative;
	left:1px;
	width: 17px;
	height: 61px;
	background-color: #dedfdf;
	background-color: var(--white-two);
	/*display: inline-block;*/
	top:-60px;
	/*left:0px;*/
	/*padding-top: 25px;*/
	border: 1px solid #d9d9d9;
	/*margin-top: -2px;*/
	text-align: center;

}

.Next {
	width: 17px;
	height: 61px;
	background-color: #dedfdf;
	background-color: var(--white-two);
	right: -1px;
	position: relative;
	/*padding-top: 25px;*/
	border: 1px solid #d9d9d9;
	/*margin-top: -2px;*/
	text-align: center;
    top:-60px;

	/*display: inline-block;*/
	/*top:16px;*/
}

.Date {
	width: 84px;
	height: 61px;
	background-color: #dedfdf;
	box-shadow: inset -1px 0 0 0 #d8d9da;
	display: inline-block;
	border: solid 1px #d9d9d9;
	padding: 14px;
	margin: -2px;
	position: relative;
	left:-17px;
	box-shadow: inset -1px 0 0 0 #d8d9da;
}

.slide-one:hover {
	cursor: pointer;
}

.Date:hover {
	cursor: pointer;
	background-color: #239ca5;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.DateSelectionBar {
	width: 538px;
	height: 60px;
	box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.05);
	position: relative;
	display: inline;
	left:20px;
}

.Shape {
	width: 10px;
	height: 10px;
	object-fit: contain;
    margin-top: 20px;
}

.Day-Date {
	/*width: 84px;*/
	height: 24px;
	font-family: Roboto;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	color: #2d4552;
	position: relative;
}

.Day-Date .text-style-1 {
	font-weight: normal;
}

.delivery-time-container {
	width: 540px;
	height: 633px;
	opacity: 0.9;
}


#slides {
    width: 498px;
    overflow: hidden;
    position: relative;
    width: auto;
    height: 60px;
    box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.05);
    left:20px;
    /*right:20px;*/
}
#slides ul {
    list-style: none;
    width: 100%;
    /*height: 250px;*/
    /*margin: 0;*/
    /*padding: 0;*/
    position: relative;
}

#slides li {
    width: 100%;
    /*height: 250px;*/
    float: left;
    text-align: center;
    position: relative;
    font-family: lato, sans-serif;
    left:19px;
}



