
.notification-panel {
    position: relative;
    padding-top: 10px;
}

.notification-panel.open {
    background-color: #f5f5f5;
    float: none
}

.notification-panel.open .bundle-options-trigger {
    right: 10px;
    position: absolute;
}

.side-cart.block.active .title .bundle-options-trigger {
    display: inline-block;
}

.side-cart.block:not(.active) .title .bundle-options-trigger {
    display: block;
}

.notification-panel .bundle-options-trigger {
    margin-left: 10px;
    display: block;
}

.notification-panel .badge {
    background-color: #FADE60;
    color: #635B00;
    border: 1px solid #635B00
}

.notification-panel .notification-panel-wrapper {
    padding: 40px 20px 20px 20px;
    border-bottom: 1px solid #B8B8B8;
    margin-bottom: 20px;
    display: block;
    margin-top: 0px;
}


.notification-panel .slide {
    bottom: -24px;
    left: 50%;
    position: absolute;
    border: 1px solid #B8B8B8;
    border-top: 0;
    height: 25px;
    width: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 3px 0px #DADADA;
}

.notification-panel .slide-up {
    background: url("../../images/enlarge_icon_up.png") no-repeat scroll center center #F5F5F5;
}

.notification-panel .slide-down {
    background: url("../../images/enlarge_icon_down.png") no-repeat scroll center center #F5F5F5;
}

.notification-panel .products-container {
    max-height:150px;
    overflow-y:auto;
    padding-left: 25px;
}

.notification-panel .products-save {
    width: 150px;
}
.notification-panel .button-row {
    padding-right:30px;
}
.notification-panel .familyName {
    font-size:14px;
    margin-bottom: 20px;
}
