/** Button styling **/

.btn-wrapper {
    padding: 5px 0;
    margin: 0;
    display: inline-block;
    float: none;
    padding-left: 3px;
    vertical-align: bottom !important;
}

.btn-wrapper.telephone {
    margin-right: 0px;
}

.btn-addr-search {
    color: #fff;
    background-color: #6cc0dd;
    width: 100%;
    height: 32px;
    padding: 0;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.btn-addr-search:hover, .btn-addr-search:focus {
    color: #FFF;
}

.btn-contact-details-add {
    width: auto;
    height: 100%;
}

.btn-contact-details-add img {
    height: 30px;
    width: auto;
    cursor: pointer;
}

.btn-info {
    font-family: 'Arial Bold', 'Arial Regular', 'Arial', serif;
}

.margin-top-0 {
    margin-top: 0 !important;
}

/** Cart sections **/

#cart-top h1 {
    /*border-bottom: 1px solid #eee;*/
    font-size: 30px;
    color: #F00;
    margin-top: 30px;
    /*padding-bottom: 20px;
    margin-bottom: 20px;*/
}

#cart-content {
    font: 12px Arial, Helvetica, sans-serif;
}

#cart-content .radio-wrapper-one-line, .radio-wrapper-multiple-line, .radio-wrapper, .checkbox-wrapper {
    display: block;
    padding-top: 5px;
}

#cart-content .radio-wrapper-one-line label {
    margin-right: 15px;
    margin-left: 0;
}

#cart-content .radio-wrapper-multiple-line label {
    margin-top: 0;
    margin-bottom: 0;
}

#cart-content .checkbox-no-margin {
    margin: 0;
}

#cart-content label {
    font-size: 11px;
    margin-bottom: 5px;
}

#cart-content label span {
    font-size: 12px;
    font-weight: normal;
}

#cart-content input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=submit], select, button, textarea {
    font-family: 'Arial Bold', 'Arial Regular', 'Arial', serif;
}

#cart-content input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], select, textarea {
    box-shadow: inset 0 1px 1px 0 #BCBCBC;
    -webkit-box-shadow: inset 0 1px 1px 0 #BCBCBC;
}

#cart-content .radio-schedule-container {
    padding: 5px;
    background-color: #e4e4e4;
    border: 1px solid #CCCCCC;
}

#cart-content h3 {
    line-height: 200%;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

#cart-content h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

#cart-content h1, #cart-content h2, #cart-content h3, #cart-content h4, #cart-content h5, #cart-content h6 {
    color: #333333;
    font-family: 'Arial Bold', Arial, Helvetica, sans-serif;
}

#cart-content .strong {
    font-weight: bold;
}

#cart-content .billing-address-details {
    margin-left: 20px;
    margin-top: 10px;
}

#cart-content .highlight {
    padding: 20px;
    border: 1px solid #CCCCCB;
    background-color: #EEEEEE;
}

#cart-content .other-address-container {
    padding: 20px;
    border: 1px solid #CCCCCB;
    background-color: #EEEEEE;
}

#cart-content #customer_service_address {
    /*    max-width: 180px !important;*/
}

#cart-content .customer-type-text {
    color: #CCCCCC;
}

#customer_contact_method_container {
    padding-bottom: 0px !important;
}

#customer_contact_person {
    padding-top: 0px !important;
}

#customer_contact_person .fixed-customer-contact {
    margin-left: 0px;
    margin-top: 10px;
}

/** START saveBilling step **/

#cart-content #saveBilling .invoice-options {
    margin-top: 20px;
    margin-bottom: 10px;
}

#cart-content #saveBilling .single-connection {
    border-top: 1px solid #eee;
    line-height: 200%;
}

#cart-content #saveBilling .single-connection {
    border-top: 1px solid #eee;
    line-height: 200%;
}

/** END saveBilling step **/

/** START savePayment step **/

#cart-content #savePayment h4.border-top {
    border-top: 1px solid #eee;
    line-height: 200%;
}

#iban-data-loading {
    display: none;
    width: 25px;
    height: 25px;
    background: url("../../images/de/gif_loader_u756.gif") no-repeat;
    background-size: 25px 25px;
}

#generate-bank-data-error-message {
    color: #E60000;
}

/** END savePayment step **/

#cart-content .hr-under {
    margin-top: 5px;
    margin-bottom: 20px;
}

#cart-content .hr-over {
    margin-top: 40px;
    margin-bottom: 5px;
}

#cart-content .hr-between {
    margin-top: 20px;
    margin-bottom: 20px;
}

#cart-content .radio-indent {
    padding-left: 21px;
}

#cart-content .specified-address, #cart-content .specified-address-normal {
    margin-bottom: 0;
}

#cart-content .specified-address {
    font-weight: bold;
}

#cart-content .specified-address-normal {
    font-weight: normal;
}

.radio-wrapper-one-line {
    position: relative;
}

.radio-wrapper-one-line .validation-advice {
    position: absolute;
    left: 0;
    bottom: -6px;
    min-width: 200px;
}

.col-left-button-wrapper {
    border-bottom: 1px solid #CCC;
    text-align: center;
    width: 60px;
}

.icon-person-search {
    width: 20px;
    height: 30px;
    font-size: 22px;
    line-height: 0;
    background: url("../../images/de/person.png") no-repeat;
    background-size: 16px 20px;
    padding-left: 40px;
    margin: auto auto 15px;
    background-position-x: 15px;
    background-position-y: 1px;
}

.bigView .icon-person-search-reduced,
.mediumView .icon-person-search-reduced {
    display: none;
}

.smallView .icon-person-search-reduced {
    display: none;
}

/* OTHER CHECKOUT STEP*/

#cart-content .phonebook-entry-block, #cart-content .prev-conn-block {
    background-color: #F4F4F4;
    border: 1px solid #E3E3E3;
}

#cart-content .phonebook-entry-block {
    padding: 5px 25px;
}

#cart-content .prev-conn-block {
    padding: 20px 25px;
}

#cart-content .phonebook-entry-block-nr {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #3d3d3d;
    color: #FFFFFF;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#cart-content .numbering-text-align {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
}

#cart-content .other-conn-location-textarea,
#cart-content .provider-comment-installer {
    height: 90px;
    box-shadow: inset 0 1px 1px 0 #BCBCBC !important;
    -webkit-box-shadow: inset 0 1px 1px 0 #BCBCBC !important;
}

#cart-content .other-install-instruction-textarea {
    height: 95px;
    box-shadow: inset 0 1px 1px 0 #BCBCBC !important;
    -webkit-box-shadow: inset 0 1px 1px 0 #BCBCBC !important;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    text-align: left;
    border-color: transparent;
    outline-style: none;
    padding-top: 30px;
}

#cart-content .other-install-instruction-label {
    top: 20px;
}

#cart-content .other-disabled-degree-percentage-sign {
    position: absolute;
    right: 23px;
    top: 27px;
}

#cart-content .conn-periods-notification {
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #F4F4F4;
    border: 1px solid #E3E3E3;
}

#cart-content .conn-periods-notification span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#cart-content .conn-periods-notification span.icon-info-sign {
    background: url("../../images/info-sign.png") no-repeat;
    height: 16px;
    width: 16px;
    line-height: 15px;
    color: #FFFFFF;
    font-family: 'Arial Bold', 'Arial', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    margin-right: 2px;
}

.date-element-wrapper {
    position: relative;
}

.date-element-wrapper .date_icon_wrapper, .date-element-wrapper .ui-datepicker-trigger {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.date-element-wrapper .ui-datepicker-trigger {
    border: none;
}

.date-element-wrapper.label-field-container .date_icon_wrapper, .date-element-wrapper.label-field-container .ui-datepicker-trigger {
    top: 25px;
}

.date-element-wrapper.date-field-icon-container .date_icon_wrapper, .date-element-wrapper.date-field-icon-container .ui-datepicker-trigger {
    top: 17px;
}

.date_icon_wrapper img, .ui-datepicker-trigger img {
    width: 100%;
    height: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.date_icon_wrapper img:hover, .ui-datepicker-trigger img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/* END OTHER CHECKOUT STEP */

/* OVERVIEW CHECKOUT STEP */

#saveOrderOverview .customer-overview.col-md-12 {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#saveOrderOverview .overview-block {
    background: #f8f8f8;
    bordeR: solid 1px #e4e4e4;
    border-radius: 5px;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

#cart-content #saveOrderOverview .product-selection {
    border-top: 1px solid #eee;
    line-height: 200%;
    margin-bottom: 0;
}

#cart-content #saveOrderOverview h4.bank-details,
#cart-content #saveOrderOverview h4.address-details,
#cart-content #saveOrderOverview h4.marketing-details {
    border-top: 1px solid #eee;
    line-height: 100%;
    margin-bottom: 14px;
    padding-top: 10px;
}

#saveOrderOverview .overview-prices.col-md-3 {
    padding: 0 5px 0 25px;
}

#saveOrderOverview .overview-prices .col-md-5 {
    padding-left:  20px;
    padding-right: 0;
}

#saveOrderOverview .overview-prices .col-md-2 {
    padding-left:  0;
    padding-right: 0;
}

#saveOrderOverview .overview-prices .align-right {
    float: right;
}

#saveOrderOverview .overview-block-title,
#saveOverview .overview-block-title {
    font-weight: 700;
    padding-bottom: 3px;
}

#saveOrderOverview .overview-block-title.bank-details-title,
#saveOrderOverview .overview-block-title.address-title {
    line-height: 15px;
}

#saveOrderOverview .overview-block-title.marketing-title {
    line-height: 18px;
}

#saveOrderOverview .marketing-info {
    line-height: 21px;
}

#saveOrderOverview .bank-overview.col-md-12 {
    padding: 15px 10px 10px 5px;
}

#saveOrderOverview .marketing-overview.col-md-12 {
    padding: 20px 10px 20px 5px;
}

#saveOrderOverview .products-overview.col-md-12 {
    padding: 15px 5px 15px 5px;
}

#saveOrderOverview .address-overview p.small {
    margin: 0;
    height: 6px;
}

#saveOrderOverview .address-overview div.pin-address {
    background: url("../../images/de/pin.png") no-repeat;
    min-height: 40px;
    width: 40px;
    background-size: 40px 40px;
    display: block;
    float: left;
}

#saveOrderOverview .address-overview div.address-details {
    display: inline-block;
    padding-left: 10px;
}

#saveOrderOverview .address-overview.col-md-12 {
    padding: 20px 10px 20px 0;
    line-height: 16px;
}

#saveOrderOverview .overview-phone {
    min-height: 19px;
}

#saveOrderOverview .overview-block-price-slide {
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkout-continue-btn {
    width: 140px;
}

.btn-contact-remove {
    background-image: url("../../images/trash-icon.png");
    background-repeat: no-repeat;
    background-size: 14px 18px;
    background-position: center;
}

.customer-password-icon {
    position: absolute;
    top: 19px;
    right: 12px;
}
.copy-to-clipboard-icon {
    position: absolute;
    top: 19px;
    right: 15px;
}
.copy-to-clipboard-icon img {
    width: 16px;
}
.copy-to-clipboard-icon input {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.change-provider-icon {
    display: inline-block;
}

/*END OVERVIEW CHECKOUT STEP*/

/*VOICELOG CHECKOUT STEP*/
#saveOverview {
    /*font-size: 14px;*/
}

/*#saveOverview p.small-paragraph {*/
/*margin: 0;*/
/*}*/

#saveOverview .products-overview.col-md-11,
#saveOverview .voicelog-overview.col-md-11,
#saveOverview .products-overview .col-md-8 {
    padding-left: 0;
}

/*#saveOverview .products-overview.col-md-11 {*/
/*padding-bottom: 20px;*/
/*}*/

#saveOverview .overview-block-title {
    line-height: 20px;
}

#saveOverview .voicelog-terms .important-info {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #363636;
}

#saveOverview .voicelog-terms {
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 5px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
}

#cart-content #saveOverview label.checkbox-inline {
    line-height: 22px;
    font-weight: inherit;
    font-size: 12px;
    margin-top: 15px;
    font-family: 'Arial Bold', 'Arial', serif;
    margin-bottom: 0;
}

#cart-content #saveOverview label.checkbox-inline input {
    margin-right: 15px;
}

#saveOverview .submit-buttons .col-md-6 {
    padding-left: 0;
}

#saveOverview .submit-buttons .col-md-3 {
    padding-right: 0;
}

#saveOverview .checked-terms-background {
    background-color: #f3fdf3;
}

#saveOverview #delivery_address_block {
    font-weight: bold;
}

/*END VOICELOG CHECKOUT STEP*/

#cart .bg-white.superorder_block {
    background-color: #F8F8F8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 42px 0;
    border-color: #D8D8D8;
}

#cart-top h1.confirmation {
    color: #E60000;
}

#order-confirmation-old-order-message {
    padding-top: 20px;
    font-size: 13px;
}

#order-increment-id {

}

#cart-content .btn.btn-info.btn-goto-homepage {
    padding-top: 5px;
    font-family: 'Arial Bold', 'Arial', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}

#cart-content .detail-tax {
    padding-bottom: 23px;
}

#cart-top {
    margin-right: 0;
    margin-top: 15px;
}

.modal-title-processing {
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #FF0000;
    text-align: left;
    line-height: 25px;
}

.modal-block span {
    font-family: 'Arial Regular', 'Arial', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #333333;
    text-align: left;
    line-height: normal;
}

#polling-modal .progress {
    height: 32px;
}

#polling-modal .progress-bar {
    background-color: #45ada8;
}

#polling-modal .modal-content {
    height: 300px;
    padding: 40px 50px 40px 50px;
}

/* GENERAL CHECKOUT CSS */

#cart-content select, #checkout-bank-generator select {
    -moz-appearance: none;
    -webkit-appearance: button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background: url(../../images/15xvbd5.png) no-repeat 97% center;
    color: #333;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-right: 40px;
    min-width: 105px;
}

select.contact-data-telephone-type {
    min-width: 118px;
}

#cart-content select.disabled {
    background: #EEEEEE url(../../images/15xvbd5.png) no-repeat 97% center;
}

.btn.btn-default.btn-block.no-cursor {
    cursor: inherit;
}

#cart-content .bs-docs-section {
    margin-top: 50px;
}

#cart-content .show-for-cancellation-date .warning {
    background: url(../../images/de/info.png) no-repeat;
    background-size: 18px 18px;
    width: 40px;
    height: 20px;
    float: left;
    display: inline-block;
    background-position-x: 15px;
}

#cart-content .show-for-cancellation-date {
    background-color: #f4f4f4;
    border: solid 1px #e3e3e3;
    height: 90px;
    padding-top: 15px;
}

#cart-content .show-for-cancellation-date .warning-text {
    float: left;
    padding-top: 3px;
    width: 310px;
}

.col-md-1-house-number {
    width: 8.50% !important;
}

/** Modals CSS **/
#customer-address-search .modal-body, #customer-address-search .modal-footer, #customer-address-search .modal-header {
    padding: 15px 25px;
}

#customer-address-search .modal-body {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#customer-address-search .modal-footer input {
    width: 25%;
}

.address-search-container .address-search-count {
    height: 40px;
    color: #51ABCC;
}

.address-search-container .address-search-item input[type=radio] {
    margin-top: -1px;
    vertical-align: middle;
}

.address-search-container .address-search-item {
    line-height: normal;
    padding: 5px 10px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0); /* IE6-9 */
}

.address-search-container .address-search-item label {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: normal;
}

#checkout-offer-send .terms {
    width: auto;
    display: inline-block;
    margin: auto;
    height: auto
}

#checkout-offer-send .modal-header {
    padding-top: 20px;
    font-size: 28px;
    color: #666666;
}

#checkout-offer-send .modal-footer .btn-default{
    padding: 0;
    height: 32px;
}
#checkout-offer-send .modal-footer .btn-addr-search {
    background-color: #9c2aa0;
    width:auto;
}

.modal-body label {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Arial Bold", "Arial";
    margin-top: 10px;
}

.modal-body label.label-full-width {
    width: 100%;
}

.modal-body select.initial-height {
    height: initial;
}

/** End of Modals CSS **/

/** General use CSS **/

.no-margin-bottom, .no-margin-bottom * {
    margin-bottom: 0 !important;
}

.no-margin-top, .no-margin-top * {
    margin-top: 0 !important;
}

.no-margin-left, .no-margin-left * {
    margin-left: 0 !important;
}

.no-margin-right, .no-margin-right * {
    margin-right: 0 !important;
}

.no-margin, .no-margin * {
    margin: 0 !important;
}

.no-padding-bottom, .no-padding-bottom * {
    padding-bottom: 0 !important;
}

.no-padding-top, .no-padding-top * {
    padding-top: 0 !important;
}

.no-padding-left, .no-padding-left * {
    padding-left: 0 !important;
}

.no-padding-right, .no-padding-right * {
    padding-right: 0 !important;
}

.no-padding, .no-padding * {
    padding: 0 !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.padding-left-10 {
    padding-left: 10px;
}

/** End of General use CSS **/

/** Checkout **/
.iban-counter {
    position: absolute;
    right: 23px;
    top: 27px;
}

/** Checkout **/
.iban-valid {
    position: absolute;
    right: 23px;
    top: 15px;
    width: 28px;
    height: 23px;
    background: url('../../images/de/green-mark.png') no-repeat center center;
    background-size: 20px;
}

.iban-sepa-validation {
    position: absolute;
    top: 18px;
    right: 55px;
    font-size: 10px;
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 5px;
}

.iban-sepa-validation.valid {
    border: 1px solid #27CD2F;
    color: #27CD2F;
}

.iban-sepa-validation.invalid {
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
}

.new-sepa-mandate-form-container {
    padding: 20px;
    border: 1px solid #CCCCCB;
    background-color: #EEEEEE;
}

.invalid-sepa-address-message {
    color: #E60000;
}

#saveDeliveryAddress .date-element-wrapper .ui-datepicker {
    top: 30px !important;
    left: 0px !important;
}

#saveDeliveryAddress .date-element-wrapper .ui-datepicker.pos-initial {
    position: initial !important;
}

.autocomplete-container
{
    position: relative;
}

#saveChangeProvider .date-element-wrapper .ui-datepicker {
    top: 30px !important;
    left: inherit !important;
    position: relative !important;
}

#saveChangeProvider .date-element-wrapper.cancellation-date .ui-datepicker {
    top: -345px!important;
    right: 0!important;
    left: inherit !important;
    position: absolute !important;
}


.cancellation_date_block {
    padding-bottom: 22px;
}

#orderview_layout_fix {
    position: absolute;
    height: calc(100% - 35px);
    height: -moz-calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    height: -o-calc(100% - 35px);
    height: -ms-calc(100% - 35px);
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    width: -o-calc(100% - 25px);
    width: -ms-calc(100% - 25px);
    margin: 0 300px 0 15px !important;
}

#orderview_layout_fix p.permission-warning-message {
    position: absolute;
    top: 30px;
}

.enable-orders-page-scroll {
   overflow-y: auto !important;
   overflow-x: hidden !important;
}

/*Fix for closing button on ALL input fields in IE11*/
input::-ms-clear {
    display: none;
}

/*IE11 Dropdownmenu fix*/
select::-ms-expand {
    display: none;
}

/* Order overview design updates */

#saveOrderOverview .title {
    position: relative;
    border: 1px solid #EDEDED;
    border-left-width: 5px;
    color: #324D5B;
    padding: 17px 0 0 0;
    height: 50px;
    cursor: pointer;
    background: #FDFDFD;
    margin-bottom: 5px;
}

#saveOrderOverview .title i.vfde-arrow-down2 {
    padding-left: 15px;
}

#saveOrderOverview .title span.order-status {
    border-radius: 3px;
    font-size: 12px;
    padding: 3px 10px 2px 10px;
    position: relative;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    cursor: initial;
    background-color: orange;
    color: white;
}

#saveOrderOverview .title span.order-status.pending {
    color: white;
    border: 1px solid yellow;
    background-color: yellow;
}

#saveOrderOverview .title span.order-status.completed-success {
    color: white;
    border: 1px solid green;
    background-color: green;
}

#saveOrderOverview .title span.order-status.completed-failed {
    color: white;
    border: 1px solid red;
    background-color: red;
}

#saveOrderOverview .overview-block.products-overview {
    margin-bottom: 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#saveOrderOverview .overview-block.products-overview .total-excluding-tax,
#saveOrderOverview .overview-block.products-overview .total-including-tax {
    margin: 0;
}

#saveOrderOverview div.overview-block.products-overview.order-totals {
    background: #f8f8f8;
}

#cart-top p.order-date {
    margin: 0;
}

#cart-top p.order-date:last-child {
    margin-bottom: 20px;
}

#customer-search-results .customer-results-table.customer-panel-table.orderview-fix {
    position: relative;
    overflow-x: hidden;
    height: calc(100% - 35px);
    height: -moz-calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    height: -o-calc(100% - 35px);
    height: -ms-calc(100% - 35px);
    width: -moz-calc(100% - 25px);
    width: -o-calc(100% - 25px);
    width: -ms-calc(100% - 25px);
}

/* EOF Order overview design updates */

.checkout-cart-index .col-right.sidebar {
    display: none;
}

.checkout-cart-index .col-left .sticker {
    display: none;
}

/* new layout */
.summary {
    display: block;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    background: #fcfcfc;
    margin-bottom: 20px;
}

.summary .head {
    padding: 15px;
}

.summary .head >
h3 {
    display: inline-block;
    margin: 0;
    font-size: 24px !important;
    color: #2D4552;
    border: none !important;
    line-height: normal !important;
    font-weight: 300 !important;
}

.summary .head .btn-edit {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background: transparent;
    background-image: url("../../img/mode_edit.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.summary .section-head {
    padding: 0 15px;
    background-color: #E9EAEB;
    box-shadow: inset 1px 0 0 0 #E3E3E3, inset 0 1px 0 0 #DEDEDE, inset 0 -1px 0 0 #E5E5E5, inset -1px 0 0 0 #E3E3E3;
}

.summary .section-head h5 {
    margin: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    color: #2D4552;
    text-transform: uppercase;
}

.summary .section-content {
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #5B717C;
}

.summary .section-content-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #E2574C;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    background-image: url("../../img/icon-internet-phone.svg");
    background-repeat: no-repeat;
    background-position: 3px 4px;
}

.new_superorder {
    display: none;
}

/* fix to https://github.com/uxsolutions/bootstrap-datepicker/issues/1129 */
.bootstrap-datepicker-fix {
    left: initial !important;
    top: initial !important;
    z-index: 99999 !important;
}

#showOrderConfirmation {
    text-align: center;
    overflow-x: hidden;
    margin-bottom: 50px;
}

.bank-overview-monthly p {
    margin: 0px;
    padding: 0px;
}

/* Button spacing and positioning */
.buttons-left {
    float: left;
}
.buttons-left button {
    float: left;
    margin-right: 10px;
}
.buttons-right {
    float: right;
}
.buttons-right button {
    float: left;
    margin-left: 10px;
}

.cart-errors {
    margin-left: 50px;
}

.provider-phone-remove-button {
    background-image: url('../../images/icon-trash-bin.png');
    background-repeat: no-repeat;
    background-position: center;
}
