#config-wrapper .conf-block .conf-header-container {
    border-bottom: 1px solid red;
}

#config-wrapper .conf-block .conf-header-container h3 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 2px;
    line-height: 25px;
    text-align: left;
    font-family: "Vodafone Rg";
}

#config-wrapper .conf-block {
    margin-bottom: 5px;
}

#config-wrapper .conf-block .panel-heading {
    padding: 7px 6px 0 6px;
}

#config-wrapper .conf-block .panel-title {
    color: #2d4552;
    font: 500 16px "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
}

#config-wrapper .conf-block .counter {
    display: block;
    background-color: #D2322D;
    color: white;
    font-size: 15px;
}

#config-wrapper .conf-block .row [class*="col-"] {
    padding-left: 0;
}

#config-wrapper .conf-block .panel-heading .results-number {
    color: #51ABCC;
    font: normal 400 12px 'Arial Regular', 'Arial';
}

#config-wrapper .conf-block .product-table {
    padding: 0 0 2px;

}

#config-wrapper .conf-block .panel-body-choice {
    padding: 5px 15px 0px 30px;
}

#config-wrapper .conf-block .option-products .item-row {
    padding: 15px 5px 15px 25px;
}

.option-products .item-price .per-month, .product-table .item-price .per-month {
    font-size: 14px;
}

#config-wrapper .conf-block .product-table .item-row.padding {
    padding: 15px 0px 15px 30px;
}

#config-wrapper .conf-block .product-table .item-row:last-child {
    border-bottom: 1px solid #CCCCCC;
}

#config-wrapper .conf-block .product-table {
    /* max-height: 100px; */
    overflow: hidden;
    overflow-y: auto;
}

#config-wrapper .conf-block .panel-body .item-title {
    font-family: "Vodafone Rg Bold", "Vodafone Rg";
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-align: left;
    line-height: normal;
}

#config-wrapper .conf-block .panel-body .item-price {
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    text-align: left;
    line-height: 18px
}

.cursor {
    cursor: pointer !important;
}
#config-wrapper .conf-block .item-row .out-of-stock {
    color: #CC0000;
    font-size: 12px;
}

#config-wrapper .conf-block .panel-heading, .content .panel-body .item-row {
    cursor: pointer;
}

#config-wrapper .conf-block .panel-body-choice {
    background-color: white;
}

#config-wrapper .conf-block .promotions {
    padding: 15px 0px 15px 30px;
}

#config-wrapper .conf-block #section-discount h3 {
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

.conf-block .no-item-message {
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
#config-wrapper #accessory-block .panel-body {
    padding: 0px;
}
#config-wrapper .label-purple {
background-color: #9C2AA0;
}

.conf-block .item-row.selected:not(.discount-item) {
    background-color:#DCEEF5;
}

.conf-block .item-row.mandatory-row {
    cursor: not-allowed;
}

.conf-block .product-table .item-row:hover {
    background-color: #C1C1C1;
}

.conf-block .product-table .item-row.mandatory-row {
    background-color: #CBE4FF;
}

.conf-block .product-table .item-row.mandatory-row:hover {
    background-color: #CBE4FF;
}

.cart_right_expanded_packages .package-item-description-coupon {
    visibility:hidden;
}

.cart_packages .coupon.form-inline {
    margin: 0 0 0 20px;
}
.cart_packages .coupon.form-inline input.submit-coupon-button {
    background-color: #3E9B96;
    border-color: #368985;
}

.selected-item .dot.glyphicon.glyphicon-info-sign, .hide_not_selected_products{
    display: none;
}

#cancel-cart-modal .modal-body p,
#cancel-single-package-modal .modal-body p,
#cancel-lowentry-bundle-modal .modal-body p,
#cancel-single-package-with-redplus-modal .modal-body p {
    margin: 0;
    display: inline-block;
}

#cancel-cart-modal .modal-body p img,
#cancel-lowentry-bundle-modal .modal-body p img,
#cancel-single-package-modal .modal-body p img,
#cancel-single-package-with-redplus-modal .modal-body p img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

#cancel-cart-modal .modal-footer,
#cancel-single-package-modal .modal-footer,
#cancel-lowentry-bundle-modal .modal-footer,
#cancel-single-package-with-redplus-modal .modal-footer {
    margin-top: 0;
}

.open-orders-search-error {
    height: 70px;
    border: 1px solid #CC0000;
    padding-top: 25px;
    border-radius: 5px;
    color: #CC0000;
    font-size: 14px;
}

.red-plus-owner-disabled {
    cursor: not-allowed;
}

.red-plus-owner-error {
    background: #F2F2F2 !important;
}

.red-plus-owner-error-badge {
    font-size: 15px;
    width: 12px;
    height: 7px;
    background-size: 12px 7px;
    display: block;
    margin-top: 18px;
    margin-left: 20px;
    color: grey;
}

.totalBillingDetailsModal hr {
    margin-top: 15px;
    margin-bottom: initial;
    border: 0;
    border-top: 1px solid black;
}

.show-bundle-hints {
    position: initial;
    z-index: initial;
    top: initial;
    overflow: initial;
    overflow-y: initial;
    right: 0 !important;
    padding-right: 0;
    padding-left: 45px;
}

.show-bundle-hints div.navbar-fixed-bottom {
    left: initial;
}

.show-bundle-hints div.hint-description-badge {
    display: inline-table;
    background-color: rgb(255, 174, 1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.show-bundle-hints div.hint-description-badge i {
    color: white;
}

.show-bundle-hints .modal-title .hint-title {
    font-size: 24px;
    line-height: 28px;
    color: #2e4551;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.show-bundle-hints .modal-body {
    font-size: 14px;
    line-height: 24px;
    color: #2e4551;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.show-bundle-hints .modal-dialog {
    margin: 0 0 0 45px;
}

.show-bundle-hints .modal-body p {
    padding: 0 20px 20px 30px;
}

span.by-system {
    border-radius: 3px;
    width: 3px;
    height: 3px;
    min-height: 3px;
    margin-top: 5px;
}

span.by-system.removed {
    border: 3px solid #E43D3D;
}

span.by-system.added {
    border: 3px solid #58BADC;
}
.configurator-filter-container .bootstrap-tagsinput input{
    min-width: 500px;
}
#btn-delete-all.disabled, #btn-save-and-send.disabled {
    pointer-events: none;
    cursor: default;
}

.google-search-address {
    position: absolute;
    width: 200px;
    z-index: 100;
}

.google-search-address .entry {
    font-size: 12px;
    cursor: pointer;
}

.google-search-address .entry:hover, .google-search-address .entry.focused {
    background-color: #eee;
}
