@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src:
		local('Material Icons'),
		local('MaterialIcons-Regular'),
		/* from https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5SQZRqoBW5Q4K_a7BOZJO20.eot */
		url('../../fonts/Material_Icons.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff */
		url('../../fonts/Material_Icons.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2 */
		url('../../fonts/Material_Icons.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=2fcrYFNaTjcS6g4U3t-Y5dh2DojuSknG-1uCuZr85Zg&skey=4fbfe4498ec2960a&v=v22#MaterialIcons */
		url('../../fonts/Material_Icons.svg#MaterialIcons') format('svg'),
		/* from https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf */
		url('../../fonts/Material_Icons.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}