.cancel-package-modal .modal-dialog {
    width: 530px;
}

.cancel-package-modal .modal-content .col-md-3 {
    width: 120px;
    padding-right: 0;
}

.modal#cancel-single-package-modal.with-bundle .modal-footer {
    padding-top: 20px !important;
}

.cancel-package-modal .modal-content .col-md-9 {
    padding-left: 0;
    padding-right: 0;
}

.modal .modal-header h4 {
    width: 370px;
    padding-left: 17px;
    clear: both;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: normal;
    text-align: left;
    color: #2e4551;
}

.modal.show-warning .modal-warning-container {
    width: 120px;
    min-height:205px;
    display: block;
    border-radius: 3px;
    background-color: #fafbfc;
}

.modal.show-warning .modal-warning-container .icon-area {
    line-height: 200px;
    height: 77.4px;
    margin: 0 auto;
    padding-top: 60px;
}

.modal.show-warning .modal-warning-container .icon-area .triangle {
    height: 91px;
    background: url('../../images/de/warning-icon.png') no-repeat center center;
}

.modal.show-warning h3 {
    font: normal 14px 'Roboto';
    line-height: 24px;
}



.modal-wrapper input[type=radio] {
    position: absolute;
    visibility: hidden; }
.modal-wrapper input[type=radio] + label, .modal-wrapper input[type="checkbox"] + label, .modal-wrapper .radio-wrapper-fake input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 18px;
    width: 18px;
    z-index: 9;
    cursor: pointer;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 0px 0px 1px #ddd;
    -moz-box-shadow: inset 0px 0px 0px 1px #ddd;
    box-shadow: inset 0px 0px 0px 1px #ddd; }
.modal-wrapper input[type=radio]:checked + label, .modal-wrapper .radio-wrapper-fake input[type="checkbox"]:checked + label {
    -webkit-box-shadow: inset 0px 0px 0px 5px #45ada8;
    -moz-box-shadow: inset 0px 0px 0px 5px #45ada8;
    box-shadow: inset 0px 0px 0px 5px #45ada8; }
.modal-wrapper input[type="checkbox"] {
    display: none; }
.modal-wrapper input[type="checkbox"] + label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: white; }
.modal-wrapper input[type="checkbox"]:checked + label {
    box-shadow: none;
    background: url("../../img/tick.png") no-repeat center center #45ada8; }
.modal-wrapper .radio-wrapper-fake input[type="checkbox"]:checked + label {
    background: none; }
.modal-wrapper input[type=radio][disabled] + label, .modal-wrapper input[type="checkbox"][disabled] + label {
    background-color: #fdfdfd;
    -webkit-box-shadow: inset 0px 0px 0px 1px #eee;
    -moz-box-shadow: inset 0px 0px 0px 1px #eee;
    box-shadow: inset 0px 0px 0px 1px #eee; }
.modal-wrapper input[type=radio][disabled] + label + span, .modal-wrapper input[type="checkbox"][disabled] + label + span {
    color: #c9c9c9 }
.modal-wrapper textarea,
.modal-wrapper input[type="text"],
.modal-wrapper input[type="password"] {
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #2d4552;
    border: solid 1px #ddd;
    width: 100%;
    padding: 20px 12px 5px 12px;
    margin: 0;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box !important; }
.modal-wrapper input[type="text"],
.modal-wrapper input[type="password"] {
    height: 44px; }
.modal-wrapper select + label,
.modal-wrapper textarea + label,
.modal-wrapper input[type="text"] + label,
.modal-wrapper input[type="password"] + label {
    color: #5b717c; }
.modal-wrapper .input-group-custom {
    position: relative;
    padding: 5px 0; }
.modal-wrapper .input-group-custom.pre-btn {
    display: inline-block;
    vertical-align: bottom;
    width: 377px;
    float: none; }
.modal-wrapper input:focus, .modal-wrapper select:focus {
    padding-left: 11px;
    outline: none;
    border: solid 2px #45ada8; }
.modal-wrapper select:disabled + label,
.modal-wrapper textarea:disabled + label,
.modal-wrapper input[type="text"]:disabled + label,
.modal-wrapper input[type="password"]:disabled + label,
.modal-wrapper input[type="text"]:read-only + label {
    color: #c9c9c9; }
.modal-wrapper input:disabled:focus,
.modal-wrapper select:disabled:focus,
.modal-wrapper input:read-only:focus {
    color: #c9c9c9;
    outline: none;
    border: solid 1px #ddd !important; }
.modal-wrapper input:disabled,
.modal-wrapper select:disabled,
.modal-wrapper input:read-only {
    color: #c9c9c9; }
.modal-wrapper input:disabled:focus,
.modal-wrapper select:disabled:focus,
.modal-wrapper input:read-only:focus {
    color: #c9c9c9;
    outline: none;
    border: solid 1px #ddd !important; }
.modal-wrapper input[type="text"] + label,
.modal-wrapper input[type="password"] + label,
.modal-wrapper textarea + label,
.modal-wrapper select + label {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 13px;
    right: 13px;
    bottom: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
.modal-wrapper input.input-dirty + label, .modal-wrapper input[type="text"]:focus + label,
.modal-wrapper input[type="password"].input-dirty + label, .modal-wrapper input[type="password"]:focus + label,
.modal-wrapper textarea.input-dirty + label, .modal-wrapper textarea:focus + label,
.modal-wrapper select.input-dirty + label, .modal-wrapper select:focus + label {
    bottom: 23px;
    left: 13px;
    font-size: 12px;
    margin-right: 5px;
}
.modal-wrapper input[type="checkbox"].input-dirty + label,
.modal-wrapper input[type="radio"].input-dirty + label {
    top: 0;
    left: 0; }
.modal-wrapper .select-wrapper.select-no-label {
    position: relative; }
.modal-wrapper .select-wrapper.select-no-label:after {
    top: 9px; }
.modal-wrapper .select-wrapper.select-no-label select,
.modal-wrapper .select-wrapper.select-no-label select:focus {
    padding-top: 12px;
    padding-bottom: 10px;
    line-height: 16px; }
.modal-wrapper .select-wrapper.select-no-label {
    position: relative; }
.modal-wrapper .select-wrapper.select-no-label:after {
    top: 9px; }
.modal-wrapper .select-wrapper.select-no-label select,
.modal-wrapper .select-wrapper.select-no-label select:focus {
    padding-top: 12px;
    padding-bottom: 10px;
    line-height: 16px; }


.modal-wrapper .validation-advice {
    background: #f25151;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    margin: 0 0 5px 0;
    padding: 7px 10px;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: auto;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    z-index: 100;
}
.modal-wrapper .validation-advice:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f25151; }
.modal-wrapper input.validation-failed,
.modal-wrapper textarea.validation-failed,
.modal-wrapper select.validation-failed {
    background-color: #f2eaeb;
    border: solid 2px #f15252; }
.modal-wrapper input.validation-failed + label,
.modal-wrapper textarea.validation-failed + label,
.modal-wrapper select.validation-failed + label,
.modal-wrapper .input-group-custom.validation-failed label {
    color: #f15252; }