#campaigns-wrapper {
    height: 100%;
    overflow-y: auto;
    position: relative;
    padding-bottom: 20px;
    background-color: #fafbfc !important;
    background-color: var(--pale-grey);
}

#campaigns-wrapper .middle{
    margin: 0 auto !important;
    padding-top: 40px;
}

.defaultcampaign {
    background: url(../../images/de/whiteinfo.svg) 15px no-repeat;
    background-size: 30px 30px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    left: 10px;
    border: solid 1px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    padding: 15px 0;
    margin-bottom: 10px;
    background-color: #f5b931 !important;
}

.defaultcampaign span {
    margin-left: 50px;
}

.campserviceability-check-warning {
    background: url(../../images/de/campservice.svg) 15px no-repeat;
    background-size: 30px 30px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    color: #324d5b;
    border: solid 1px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    padding: 15px 0;
    margin-bottom: 10px;
    background-color: #FEF8EB !important;
}

.campserviceability-check-warning span {
    margin-left: 50px;
}

.campaign-data-content{
    width: 564px;
    height: 202px;
    border-radius: 3px;
    background-color: #009ca7 !important;
    background-color: var(--primary);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), inset 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(51, 51, 51, 0.1);
    margin: 0 auto !important;
}

.campaign-data-header{
    width: 565px;
    margin: 0 auto !important;
}

.campaign-data-header .customer-type {
    width: 130px;
    height: 24px;
    font-family: RobotoSlab;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #2d4552;
}

.campaign-data-header .title {
    width: 540px;
    height: 18px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    text-align: left;
    color: #324d5b;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--default);

}

.campaign-data-header .rectangles-9.col-xs-6 {
    width: 282px;
    height: 40px;
    border-radius: 3px;
    background-color: #f2f3f4;
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.campaign-data-header  .rectangle-9.col-xs-6 {
    width: 283px;
    height: 40px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.0);
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.rectangle-text {
    width: 253px;
    height: 16px;
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
    color: #324d5b;
    color: var(--default);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.campaign-data-content .bg {
    width: 564px;
    height: 72px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
}

.campaign-data-content .section-title {
    /*width: 160px;*/
    height: 30px;
    font-family: Roboto;
    font-size: 24px;
    line-height: 1.25;
    text-align: left;
    color: #ffffff !important;
    color: var(--white);
    padding-left: 15px;
    padding-top: 14px;
    text-overflow: ellipsis;
    float:left;
}

.campaign-data-content .shape {
    width: 2.5px;
    height: 7.1px;
    background-color: #ffffff !important;
    background-color: var(--white);
    padding-top: 14px;
}

.campaign-data-content .date {
    /*width: 157px;*/
    height: 18px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
    color: #ffffff !important;
    color: var(--white);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.campaign-data-content .details {
    height: 18px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.0;
    text-align: left;
    color: #ffffff !important;
    color: var(--white);
    padding-left: 15px;
    padding-top: 18px;
    text-overflow: ellipsis;
}

.campaign-data-content .address {
    height: 54px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: #ffffff !important;
    color: var(--white);
    padding-left: 15px;
    padding-top: 20px;
    text-overflow: ellipsis;
}


.campaign-shape {
    width: 257.7px;
    height: 293px;
    border-radius: 3px;
    background-color: #333333;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.campaign-button {
    width: 88px;
    height: 32px;
    border-radius: 2px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
}

.campaign-button-text {
    width: 48px;
    height: 18px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    text-align: center;
    color: #ffffff !important;
    color: var(--white);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.campaign-info {
    cursor: pointer;
    background: url(../../images/de/whiteinfo.svg) no-repeat center;
    color: #ffffff !important;
    color: var(--white);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    padding-top: 30px;
    padding-left: 30px;
}

.campaign-tooltipheader {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.0;
    text-align: left;
    color: #ffffff;
    color: var(--white);
    text-transform: uppercase;
}

.campaign-tooltiptext {
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.71;
    text-align: left;
    color: #ffffff;
    text-transform: capitalize;
}

.camptooltip{
    width: 200px !important;
}

.campignserviceability-check-warning span {
    width: 452px;
    height: 18px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    text-align: left;
    color: #324d5b;
    color: var(--default);
    padding: 61px 19px 19px 0px;
}

.campignserviceability-check-warning {
    background: url(../../images/de/red-warning.png) 15px no-repeat;
    color: #fef8ea ;
    width: 564px;
    height: 56px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.05);
}

.campignserviceability-check-warning1 {
    background: url(../../images/de/serviceabilitywarning.png) 15px no-repeat;
    color: #fef8ea ;
    width: 564px;
    height: 56px;
}

.campignrectangle-7 {
    width: 564px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.campofferrectangle-3.col-xs-6{
    width: 270px;
    padding-right: 0px;
    padding-left: 0px;
}

.divboarder{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    background-color: #ffffff;
    background-color: var(--white);
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.campoffertitle {
    height: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: left;
    color: #5b717c;
    padding-top: 1px;
    padding-left: 20px;
    text-overflow: ellipsis;
    float:left;
}

.campaignoffer-info {
    cursor: pointer;
    background: url(../../images/de/greyinfo.svg) no-repeat center;
    color: #ffffff !important;
    color: var(--white);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    padding-top: 15px;
    padding-left: 25px;
}


.campsubtitle-descriptio {
    height: 18px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.12;
    text-align: left;
    color: #5b717c;
    padding-top: 5px;
    padding-left: 20px;
    text-overflow: ellipsis;
}

.camphr {
    width: 247px;
    height: 1px;
    background-color: #e0e1e2;
    border: solid 1px #e0e1e2;
}

.campaignoffer-check {
    cursor: pointer;
    background: url(../../images/de/check-mark-grey.png) no-repeat center;
    color: #ffffff !important;
    color: var(--white);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    padding-right: 10px;
}

.usppackagetype {
    height: 18px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
    color: #5b717c;
    padding-top: 5px;
}

.campofferusp {
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    color: #5b717c;
    padding-top: 5px;
    clear: both;
}

.campofferundiscounted-price {
    height: 18px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #5b717c;
    text-decoration: line-through;
}

.campofferdiscounted-per-mon {
    height: 18px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.9;
    text-align: left;
    color: #324d5b;
    color: var(--default);
}

.campofferdiscounted-per-mon .text{
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
}

.campofferdiscounted-months {
    height: 18px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #5b717c;
}

.campofferbutton-background {
    width: 247px;
    height: 40px;
    border-radius: 2px;
    background-color: #009ca7;
    background-color: var(--primary);
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.05);
    padding-bottom: 20px;
}

.offerbuttontext {
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
    color: #ffffff;
    color: var(--white);
}

.campbtn-infodisable, .campbtn-infodisable[disabled], .campbtn-infodisable.disabled {
    color: #fff;
    background-color: #dedede;
    border-color: #dedede;
    height: 40px;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
}

.campbtn-info, .campbtn-info[disabled], .campbtn-info.disabled {
    color: #fff;
    background-color: #009ca7;
    border-color: #009ca7;
    height: 40px;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
}

.campbtn-infoselected, .campbtn-infoselected[disabled], .campbtn-infoselected.disabled {
    color: #fff;
    background-color: #009ca7;
    border-color: #009ca7;
    width: 80px;
    height: 30px;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
}

.campbtn-infoselect, .campbtn-infoselect[disabled], .campbtn-infoselect.disabled {
    color: #009ca7;
    background-color: #fff;
    border-color: #009ca7;
    width: 80px;
    height: 30px;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
}

.campofferblock{
    min-height: 170px;
    max-height: 170px;
    overflow: hidden;
}

.campofferblockov{
    min-height: 170px;
}

.campshowmorediv{
    height: 19px;
}

.campshow-more {
    height: 18px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
    color: #5b717c;
    text-align: center;
}

.campaignoffer-moreimg {
    cursor: pointer;
    background: url(../../images/de/expand-more.png) no-repeat center;
    width: 16px;
    height: 16px;
    object-fit: contain;
    background-color: #000000;
    background-color: var(--black);
}

.camppagination{
    height: 20px;
    width: 564px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    vertical-align:middle;
    display:table-cell;
    align-items: center;
    display: flex;
    justify-content: center;
}

.campaignpaginationimgs {
    cursor: pointer;
    background: url(../../images/de/campdots.png) no-repeat center;
    background-size: 8px 8px;
    width: 8px;
    height: 8px;
    display: block;
    float: left;
    padding-left: 20px;
    position:relative;
}

.campaignpaginationimg {
    cursor: pointer;
    background: url(../../images/de/campdot.png) no-repeat center;
    background-size: 8px 8px;
    width: 8px;
    height: 8px;
    display: block;
    float: left;
    padding-left: 20px;
    position:relative;
}

.campaign-row.col-xs-12 {
    width: 564px;
    display: flex;
    justify-content: space-around;
}

.serviceability-check-warning span {
    margin-left: 50px;
}

.campmodal{
    width: 590px;
    height: 387px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background-color: #ffffff;
}

.campmodaltitle{
    width: 197px;
    height: 28px;
    font-family: Roboto;
    font-size: 24px;
    color: #2d4552;
    font-weight: Regular;
    padding-top: 31px;
    padding-left: 21px;
}

.campli{
    width: 550px;
    height: 65px;
}

.defaultdiv1{
    width: 415px;
    min-height: 35px;
    float: left;
}

.campdefaulttitle{
    font-family: Roboto;
    font-size: 14px;
    color: #2e4551;
    font-weight: bold;
    line-height: 18px;
    display: flex;
}

.campdefaultsubtitle{
    font-family: Roboto;
    font-size: 14px;
    color: #2e4551;
    line-height: 18px;
}

.defaultdiv2{
    height: 35px;
    width: 100px;
    float: right;
}

.defcampline{
    clear: both;
    width: 540px;
    height: 1px;
    background-color: #d9d9d9;
}

.clearboth{
    clear: both;
}

.defaultcampaign-info {
    cursor: pointer;
    background: url(../../images/de/greyinfo.svg) no-repeat center;
    color: #ffffff !important;
    color: var(--white);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    padding-top: 15px;
    padding-left: 30px;
}

.campmodaheader{
    height: 28px;
    font-family: Roboto;
    font-size: 24px;
    text-align: left;
    color: #2d4552;
}

.modalinput{
    width: 548px;
    height: 44px;
    border-radius: 3px;
    background-color: #ffffff;
    background-color: var(--white);
    border: solid 1px #d9d9d9;
}


.modalclose{
    background: url(../../images/de/closecamp.svg) no-repeat center;
    float: right;
    width: 14px;
    height: 14px;
    object-fit: contain;
    background-color: #000000;
    background-color: var(--black);

}

.modal-search {
    background: url(../../images/de/campsearch.svg) no-repeat center;
    float: right;
    width: 18px;
    height: 18px;
    object-fit: contain;
    background-color: #000000;
    background-color: var(--black);
    position:absolute;
    top: 14px;
    right: 50px;
}

.arrowdown {
    background: url(../../images/de/arrowdown.svg) no-repeat center;
    float: right;
    width: 12px;
    height: 8px;
    object-fit: contain;
    position: absolute;
    padding-left: 20px;
    padding-top: 15px;
}
.arrowup {
    background: url(../../images/de/arrowup.svg) no-repeat center;
    float: right;
    width: 12px;
    height: 8px;
    object-fit: contain;
    position: absolute;
    padding-left: 20px;
    padding-top: 15px;
}

#default-campaign .modal .modal-dialog {
    width: 590px;
}

#default-campaign .modal .modal-body {
    padding: 0 21px;
}

#default-campaign input[type="text"] {
    height: 44px;
    width:100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
    padding-right:30px;
}

#default-campaign .form-control {
    height: 14px;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.0;
    text-align: left;
    color: #5b717c;
}

.campaign-row.col-xs-12 {
    padding-right: 0px !important;
}

.campaign-row.col-xs-12 .buy-campaign-button {
    padding-top: 0px;
    height: 40px;
}

#default-campaign .modal-dialog .modal-content {
    min-height: 250px;
}

#default-campaign .modal-dialog {
    width: 600px;
}

.tooltip-in-line {
    top:0px !important;
    z-index: 999999 !important;
}

.campaign-container-data {
    width:83%;
    float:left;
}

.campaign-data-content .button-container {
    width:17%;
    float:left;
    padding-top: 14px;
}

.search-campaign-list {
    padding-top: 10px;
}

.campaign-row .divboarder .buy-campaign-button{
    margin-bottom: 10px;
}

.middle.offers-list {
   width:564px;
}