@font-face {
  font-family: 'vfde-svg-fonts';
  src:  url('../../fonts/vfde-svg-fonts.eot?4le0z5');
  src:  url('../../fonts/vfde-svg-fonts.eot?4le0z5#iefix') format('embedded-opentype'),
    url('../../fonts/vfde-svg-fonts.ttf?4le0z5') format('truetype'),
    url('../../fonts/vfde-svg-fonts.woff?4le0z5') format('woff'),
    url('../../fonts/vfde-svg-fonts.svg?4le0z5#vfde-svg-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vfde-"], [class*=" vfde-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vfde-svg-fonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vfde-arrow-right:before {
  content: "\e92a";
}
.vfde-arrow-left:before {
  content: "\e900";
}
.vfde-empty-state .path1:before {
  content: "\e902";
  color: rgb(45, 69, 82);
  opacity: 0.1;
}
.vfde-empty-state .path2:before {
  content: "\e903";
  margin-left: -1.0458984375em;
  color: rgb(17, 126, 147);
}
.vfde-empty-state .path3:before {
  content: "\e91e";
  margin-left: -1.0458984375em;
  color: rgb(255, 255, 255);
}
.vfde-attach:before {
  content: "\e904";
}
.vfde-copy:before {
  content: "\e905";
}
.vfde-delete:before {
  content: "\e906";
}
.vfde-save:before {
  content: "\e907";
}
.vfde-lightbulb:before {
  content: "\e908";
}
.vfde-more:before {
  content: "\e909";
}
.vfde-person:before {
  content: "\e90a";
}
.vfde-shopping-bag:before {
  content: "\e90b";
}
.vfde-add-circle:before {
  content: "\e90c";
}
.vfde-arrow-up:before {
  content: "\e92b";
}
.vfde-arrow-left2:before {
  content: "\e92c";
}
.vfde-arrow-right2:before {
  content: "\e92d";
}
.vfde-arrow-down2:before {
  content: "\e90d";
}
.vfde-clear:before {
  content: "\e90e";
}
.vfde-disabled:before {
  content: "\e90f";
}
.vfde-filter-color .path1:before {
  content: "\e910";
  color: rgb(69, 173, 168);
}
.vfde-filter-color .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(69, 173, 168);
}
.vfde-filter-color .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(69, 173, 168);
}
.vfde-filter-color .path4:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.vfde-filter-color .path5:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.vfde-filter-color .path6:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.vfde-filter-default .path1:before {
  content: "\e924";
  color: rgb(255, 255, 255);
}
.vfde-filter-default .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.vfde-filter-default .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.vfde-filter-default .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.vfde-filter-default .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.vfde-filter-default .path6:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.vfde-filter-grey .path1:before {
  content: "\e916";
  color: rgb(191, 191, 191);
}
.vfde-filter-grey .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(191, 191, 191);
}
.vfde-filter-grey .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(191, 191, 191);
}
.vfde-filter-grey .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(69, 173, 168);
}
.vfde-filter-grey .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(69, 173, 168);
}
.vfde-filter-grey .path6:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(69, 173, 168);
}
.vfde-selection:before {
  content: "\e91c";
}
.vfde-info:before {
  content: "\e91d";
}
.vfde-telephone:before {
  content: "\e901";
}
.vfde-loader:before {
  content: "\e91f";
}
.vfde-search:before {
  content: "\e920";
}
.vfde-unfold-less:before {
  content: "\e921";
}
.vfde-unfold-more:before {
  content: "\e922";
}
.vfde-verified:before {
  content: "\e923";
}

