<?php
$categoriesToFiles = $this->getData('categoriesToFiles');
?>
<div id='modal_dialog_message'>
    <div class='entry-edit'>
        <div class='entry-edit-head'>
            <h4 class='icon-head head-edit-form fieldset-legend'>
                <?php echo $categoriesToFiles[$this->getData('category')] . '.log'; ?>(id: <?php echo $this->getData('executionId') ?>)
            </h4>
        </div>
        <fieldset id='grop_fields'>
            <?php echo $this->getData('logContent') === false ? 'No log content available' : str_replace("\n", "<br/>", $this->getData('logContent')); ?>
        </fieldset >
    </div >
