<!-- Cart Completed Packages -->
<div class="modal" id="cart-packages-modal" tabindex="-1" role="dialog" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <h4><?php echo $this->__('Incomplete packages will be deleted if you continue') ?></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal"><?php echo $this->__('Cancel');?></button>
                <button type="button" class="btn btn-primary pull-right" onclick="jQuery('#cart-packages-modal').modal('hide');appendSplit(jQuery('#expanded_form'));jQuery('#expanded_form').submit();"><?php echo $this->__('Continue') ?></button>
            </div>
        </div>
    </div>
</div>
