<!-- Search Client Modal -->
<div class="modal" id="search-client" tabindex="-1" role="dialog" aria-labelledby="searchClientLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="searchClientLabel"><?php echo Mage::helper('omnius_checkout')->__("Customer lookup"); ?></h4>
            </div>
            <div class="modal-body">
                <?php
                    echo Mage::getBlockSingleton('page/html')
                        ->setTemplate('customer/search.phtml')
                        ->setFormId('cart_customer_search')
                        ->setOnClickAction('cart')
                        ->toHtml();
                ?>
            </div>
            <div class="modal-footer modal-footer-search">
                <button type="button" class="btn btn-link pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__("Cancel"); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Search Stores Modal -->
<div class="modal bs-modal-sm" id="search-stores" data-pakket="false" tabindex="-1" role="dialog" aria-labelledby="otherAddressLabel" aria-hidden="true">
<script>
var _stores = new Array();
</script>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="otherAddressLabel"><?php echo Mage::helper('omnius_checkout')->__("Find a store"); ?></h4>
            </div>
            <div class="modal-body">
                <form class="form" role="form">
                    <div class="clearfix row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="searchStore[postcode]" name="searchStore[postcode]" placeholder="<?php echo Mage::helper('omnius_checkout')->__("City"); ?>" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-default"><?php echo Mage::helper('omnius_checkout')->__("Search"); ?></button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Search address results -->
                <div id="storesFound" class="hidden">
                    <hr />
                    <table class="table table-striped">
                        <thead>
                            <tr><th><?php echo Mage::helper('omnius_checkout')->__("Nearby"); ?>:</th><th><?php echo Mage::helper('omnius_checkout')->__("Delivery status"); ?></th></tr>
                        </thead>
                        <tbody><!-- Filled with ajax --></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__("Cancel"); ?></button>
                <button type="button" class="btn btn-primary pull-right" onclick="checkout.setStoreAddress()"><?php echo Mage::helper('omnius_checkout')->__("Select shop"); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Search Phone Number Modal-->
<div class="modal bs-modal-sm search-phone-number" id="search-phone-number" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?php echo Mage::helper('omnius_checkout')->__('Choose Number'); ?></h4>
            </div>
            <div class="modal-body">                
                <!-- Search numbers results -->
                <div id="numbersFound">
                    <hr />
                    <table class="table table-striped">
                        <thead>
                        <tr><th><?php echo Mage::helper('omnius_checkout')->__('Number'); ?></th></tr>
                        </thead>
                        <tbody>
                            <!-- Filled with JavaScript-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('Cancel'); ?></button>
                <button type="button" class="btn btn-default pull-right" onclick="setPhoneNumber(this)"><?php echo Mage::helper('omnius_checkout')->__('Select'); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Shopping cart exceeds grand total -->
<div class="modal bs-modal-sm search-phone-number" id="grandtotal-exceeded" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><?php echo $this->__('Grand total exceeded')?></h4>
            </div>
            <div class="modal-body">                
                <p><?php echo $this->__('The grand total of the shopping cart exceeded the maximum amount of &euro;10,000 for business customers')?></p>
                <p><?php echo $this->__('You can remove some packages at the configurator')?></p>
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-primary"><?php echo $this->__('Back to configurator')?></a>
            </div>
        </div>
    </div>
</div>

<!--Already logged in customer confirmation modal-->
<div class="modal bs-modal-sm" id="load_customer_confirmation" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p><?php echo $this->__('The log of the client, you may lose retention packages, inlife packages, discount rules and completed coupon codes.');?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('Cancel'); ?></button>
                <button type="button" class="btn btn-primary pull-right" onclick="customer.loadCustomerDataOnCart(jQuery('#load_customer_confirmation').data('id'));" ><?php echo Mage::helper('omnius_checkout')->__('Confirm'); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Log new customer confirmation modal-->
<div class="modal" id="new_customer_confirmation" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><?php echo $this->__('Warning')?></h4>
            </div>
            <div class="modal-body">
                <p><?php echo $this->__('The log of the client, you may lose retention packages, inlife packages, discount rules and completed coupon codes.');?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('Cancel'); ?></button>
                <button type="button" class="btn btn-primary pull-right" onclick="moveQuoteToNewCustomer()" ><?php echo Mage::helper('omnius_checkout')->__('Confirm'); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Leave checkout deliver page confirmation modal-->
<div class="modal" id="checkout_deliver_confirmation" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><?php echo $this->__('Warning')?></h4>
            </div>
            <div class="modal-body">
                
                <p>
                    <?php 
                    echo $this->__('You want to leave the delivery process early. Are you sure?') . '<br />';
                    echo $this->__('The order is not ready to be delivered at this time. Any porting request will not be started.') . '<br />';
                    echo $this->__('Sign the contract and press the `Proceed to Checkout` to complete the delivery process.');?> 
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('NO, Continue on with the delivery process'); ?></button>
                <button type="button" class="btn btn-primary pull-right" onclick="checkoutDeliveryForce(this)" ><?php echo Mage::helper('omnius_checkout')->__('YES, Leave the delivery process'); ?></button>
            </div>
        </div>
    </div>
</div>
