<?php
$isSoho = Mage::getSingleton('customer/session')->getIsSoho();
$btwSessionState = Mage::getSingleton('customer/session')->getBtwState();
// initial state
if (is_null($isSoho) && is_null($btwSessionState)) {
    $btwState = filter_var($this->getBtwState(), FILTER_VALIDATE_BOOLEAN);
} else {
    $btwState = (bool) $isSoho;
    if ($btwSessionState == false) {
        $btwState = false;
    }
    if ($btwSessionState == true) {
        $btwState = true;
    }
}
?>

<?php
/**
 * Shopping cart totals template
 * @var $this Omnius_Checkout_Block_Cart_Totals
 */
?>
<?php
$isEditMode = Mage::getSingleton('checkout/session')->getIsEditMode();
$orderEdit = (int)Mage::getSingleton('customer/session')->getOrderEdit();
?>
<?php if ($this->canApplyMsrp()): ?>
    <div class="cart-msrp-totals">
        <?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?>
    </div>
<?php else: ?>
    <?php if (!$this->getIsEmail()): ?>
        <div id="cart_totals" class="tax-toggle" data-state="<?php echo ($btwState) ? 'true' : 'false' ?>">
            <div>
                <table>
                    <tr>
                        <td>
                            <p class="cart_totals_header" style="max-width: 60%; font-size: 19px;">€ <?php echo $this->__("Total in 1st month"); ?></p>
                        </td>
                        <td>
                            <div class="toggle-container">
                                <div class="toggle-label off-state" onclick="sidebar.updatePrices(this);">
                                    <label for="toggle"> <?php echo $this->__("Show VAT") ?></label>
                                </div>
                                <div class="switch">
                                    <div id="display-prices-switch"
                                         class="toggle-button  <?php echo ($btwState) ? 'on-state' : 'off-state' ?>"
                                         onclick="sidebar.updatePrices(this);"><span class="bullet"> </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <table class="cart-totals-table div-table fullWidth">
                <thead>
                <tr class="div-table-row div-table-row-header gesamt-min">
                    <th class="div-table-cell tdEven_lightBlue"></th>
                    <th class="div-table-cell one-of-costs a-right  tdEven_lightBlue"><?php echo $this->__('One time cost') ?></th>
                    <th class="div-table-cell monthly a-right  tdEven_lightBlue"><?php echo $this->__('Monthly') ?></th>
                </tr>
                </thead>

                <tbody>
                </tbody>

                <tfoot class="gesamt-min">
                    <?php echo $this->renderTotals('footer'); ?>
                </tfoot>
            </table>

            <?php // OMNVFDE-705: When including tax is selected, hide the price details block ?>
            <div id="cartTotalsDetails" class="<?php echo $btwState ? "" : "hide"; ?>">
                <table class="cart-totals-table div-table fullWidth">
                    <colgroup>
                        <col>
                        <col width="">
                        <col width="">
                    </colgroup>
                    <thead>
                        <tr class="div-table-row div-table-row-header">
                            <th class="div-table-cell tdEven_lightBlue"></th>
                            <th class="div-table-cell one-of-costs a-right tdEven_lightBlue"><?php echo $this->__('One time cost') ?></th>
                            <th class="div-table-cell monthly a-right tdEven_lightBlue"><?php echo $this->__('Monthly') ?></th>
                        </tr>
                    </thead>

                    <tbody>
                        <?php echo $this->renderTotals(); ?>
                    </tbody>
                </table>
            </div>

            <div class="clearfix checkout-button">
                <?php if (!Omnius_Checkout_Helper_Data::onCheckout() && !$this->getCheckoutButton()): ?>
                    <?php
                    /** @var Dyna_Configurator_Helper_Data $configuratorHelper */
                    $configuratorHelper = Mage::helper('dyna_configurator');
                    $hasKipWhileNotAllowed = $configuratorHelper->hasKIPWhileNotAllowed();
                    $complete = Mage::helper('dyna_checkout')->hasAllPackagesCompleted() && !$hasKipWhileNotAllowed;
                    $hasItemsOnQuote = count(Mage::getSingleton('checkout/session')->getQuote()->getAllItems());
                    $hasChanges = Mage::getSingleton('checkout/cart')->isChanged();
                    ?>
                    <?php if ($isEditMode && $orderEdit > 0 && Mage::getSingleton('customer/session')->getOrderEditMode()) : ?>
                        <a onclick="customer.setLoading(true);window.location.href='<?php echo $this->getUrl('checkout/cart/cancelEditSuperorderPackage') ?>';return false;"
                           style="" class="btn col-sm-4 btn-default"><?php echo $this->__('Cancel'); ?></a>
                        <?php if ($hasChanges) : ?>
                            <!-- Hide button if package is not complete or changes were not made -->
                            <input type="button" id="configurator_checkout_btn"
                                   data-hasProductsInCart="<?php echo $complete ? 'yes' : 'no'; ?>"
                                   value="<?php echo $this->__('Proceed'); ?>"
                                   class="btn btn-primary btn-block col-sm-offset-3 col-sm-5 expand-checkout<?php echo ($complete || $hasItemsOnQuote) ? '' : ' incomplete disabled'; ?>"
                                onclick="proceedToExtendedCart()"/>
                        <?php endif; ?>
                    <?php else : ?>
                        <input type="button" id="configurator_checkout_btn"
                               data-hasProductsInCart="<?php echo $complete ? 'yes' : 'no'; ?>"
                               value="<?php echo $this->__('Proceed'); ?>"
                               class="btn btn-primary btn-block col-sm-offset-3 col-sm-5 expand-checkout<?php echo ($complete || $hasItemsOnQuote) ? '' : ' incomplete disabled'; ?>"
                               onclick="proceedToExtendedCart()"/>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
        </div>
    <?php else: ?>
        <div class="tableContainer_tabs">
            <table class="fullWidth">
                <thead>
                <tr>
                    <th class="tdEven2_lightBlue"><p class="cart_totals_header">€ <?php echo $this->__('Total'); ?></p></th>
                    <th class="tdEven2_lightBlue"></th>
                    <th class="tdEven2_lightBlue"></th>
                </tr>
                <tr>
                    <th class="tdEven_lightBlue"></th>
                    <th class="a-right tdEven_lightBlue"><?php echo $this->__('Per month'); ?></th>
                    <th class="a-right tdEven_lightBlue"><?php echo $this->__('One Time'); ?></th>
                </tr>
                </thead>

                <tbody>
                    <?php echo $this->renderTotals(); ?>
                </tbody>

                <tfoot>
                <?php echo $this->renderTotals('footer'); ?>
                </tfoot>
            </table>
        </div>
    <?php endif; ?>
<?php endif; ?>
