<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$onlyButtons = $this->getOnlyShowButtons();
$productGroupCollection = Mage::getModel('package/package')->getDefaultProductOrder($simcard=false);
$oldProductGroup = $productGroupCollection[0];
$agent = Mage::getSingleton('customer/session')->getAgent();
$loggedInAgent = Mage::getSingleton('customer/session')->getAgent(true); 
$cancelledPackagesNow = Mage::registry('cancelledPackagesNow') ?: [];
$canChangeSuperorder = $loggedInAgent->canDoActionOnSuperorderPackage(Dyna_Agent_Model_Agent::AGENT_CHANGE_PACKAGE, $this->getSuperOrder());
$canCancelSuperorder = $loggedInAgent->canDoActionOnSuperorderPackage(Dyna_Agent_Model_Agent::AGENT_CANCEL_PACKAGE, $this->getSuperOrder());
$isOrderClosed = $this->getSuperOrder()->getOrderStatus() == Omnius_Superorder_Model_Superorder::SO_CLOSED;
/** @var Omnius_Package_Model_Package $package */
$package = $this->getPackage();
$packageDisabled = false;
/** @var Omnius_Superorder_Model_Superorder $superorder */
$superorder = $this->getSuperOrder();
$packageAllowPortingEdit = $package->allowNumberPortingEdit((bool)$package->getCurrentNumber());
$missingSim = $superorder->getMissingSim();
if (!$packageAllowPortingEdit) {
    $packageDisabled = (bool) $package->getCurrentNumber();
}
$showReturnButton = !($package->getStatus() == Omnius_Package_Model_Package::ESB_PACKAGE_STATUS_CANCELLED || $package->getReturnDate() ||(count(array_merge($this->getModifiedPackageIds(), $this->getCancelledPackageIds()))
    && (($package->getStatus() !== $this->getEditedPackageStatus()) || $this->getIsLocked())))
    && Mage::getSingleton('customer/session')->getAgent(true)->isGranted(array('REGISTER_RETURN'));
if ($showReturnButton) {
    if ($package->getNewPackageId()) {
        // if package was edited, only show if hardware changed
        $showReturnButton = (bool) $package->getHardwareChange();
    } else {
        // if package was not yet edited, only show if there is a hardware item in the package
        $showReturnButton = $package->containsHardware();
    }
}
if (!$onlyButtons) {
    foreach ($productGroupCollection as $productGroup): ?>
        <?php $packageData = $package->getDisplayFor($productGroup, $this->getItems()); ?>
        <?php if ($packageData): ?>
            <?php foreach ($packageData as $qo_id => $data): ?>
                <?php if ($oldProductGroup != $productGroup): //if productGroup changed, put a dotted line ?>
                    <tr>
                        <td class="dotted" colspan="4">
                        </td>
                    </tr>
                    <tr class="small">
                        <td colspan="2" class="dotted-right">&nbsp;</td>
                        <td class="dotted-right">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <?php $oldProductGroup = $productGroup ?>
                <?php endif; ?>
                <?php
                $counts = array();
                $index = 0;
                $row = 0;
                foreach ($data['image'] as $id => $image) {
                    if ($image == '') {
                        $index++;
                    } else {
                        $index = 1;
                        $row = $id;
                    }
                    $counts[$row] = $index;
                }
                ?>
                <?php for ($i = 0; $i < count($data['image']); $i++): ?>
                    <tr>
                        <td width="4%">
                            <?php if (isset($counts[$i])): ?>
                                <?php echo isset($data['image'][$i]) ? $data['image'][$i] : ''; ?>
                            <?php else: ?>
                                &nbsp;
                            <?php endif; ?>
                        </td>
                        <td class="dotted-right">
                            <?php echo isset($data['name'][$i]) ? $data['name'][$i] : ''; ?>
                        </td>
                        <td class="package-prices dotted-right">
                            <?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?>
                        </td>
                        <td class="package-prices">
                            <?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?>
                        </td>
                    </tr>
                <?php endfor; ?>

            <?php endforeach; ?>
            <tr class="small">
                <td colspan="2" class="dotted-right">&nbsp;</td>
                <td class="dotted-right">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

        <?php endif; ?>
    <?php endforeach;
}?>

<?php
$customerIsBusiness = Mage::getSingleton('customer/session')->getCustomer()->getIsBusiness();
$packageTotals = $package->getPackageTotals($this->getItems());
$cancelledPackages = $onlyButtons ? ($package->isCancelled() ? [$package->getPackageId()] : []) : Mage::helper('omnius_package')->getCancelledPackages();
$isCanceled = in_array($package->getPackageId(), array_merge($cancelledPackages, $cancelledPackagesNow)) || strtotime($package->getCancellationDate()) > 0;
$labelClass = ($isCanceled !== false) ? 'striked ' : '';
$totalsClass = $labelClass . 'red';
$isDelivered = $package->isDelivered();
?>
<?php if (in_array($package->getPackageId(), $this->getModifiedPackageIds()) && $isDelivered): ?>
    <?php $packageDiffPrice = Mage::helper('omnius_package')->getPackageDifferences($package->getPackageId()); ?>
    <?php $totalsClass = $labelClass; ?>
<?php endif;?>
<?php if (!$onlyButtons): ?>
    <tr class="order_package_item dotted">
        <td colspan="2" style="text-align: right" class="dotted-right">
            <label><?php echo $this->helper('tax')->__('Excl.') ?></label><br/>
            <label><?php echo $this->helper('tax')->__('Tax') ?></label><br/>
            <label class="<?php echo $totalsClass;?>"><?php echo $this->helper('tax')->__('Total') ?></label><br/>
            <?php
            /** @var Omnius_Checkout_Helper_Data $checkoutHelper */
            $checkoutHelper = Mage::helper('omnius_checkout');
            if (isset($packageDiffPrice) && $isDelivered) :
    
                if ($packageDiffPrice > 0) {
                    $toBePaid = Mage::registry('to_pay_amount');
                    Mage::unregister('to_pay_amount');
                    if ($toBePaid) {
                        $toBePaid[$package->getPackageId()] = $packageDiffPrice;
                    } else {
                        $toBePaid = array($package->getPackageId() => $packageDiffPrice);
                    }
                    Mage::register('to_pay_amount', $toBePaid, true);
                }
                ?>
                <label class="red"><?php echo $checkoutHelper->__($packageDiffPrice >= 0 ? 'Payment' : 'Refund') ?></label>
            <?php endif; ?>
            <?php if(!$isDelivered && !$isCanceled):
                $toBePaid = Mage::registry('to_pay_amount');
                Mage::unregister('to_pay_amount');
                if ($toBePaid) {
                    $toBePaid[$package->getPackageId()] = $packageTotals['total'];
                } else {
                    $toBePaid = array($package->getPackageId() => $packageTotals['total']);
                }
                Mage::register('to_pay_amount', $toBePaid, true);
            endif;?>
        </td>
        <td class="dotted-right package-prices">
            <label class="<?php echo $labelClass;?>"><?php echo Mage::helper('core')->currency($packageTotals['subtotal_maf'], true, false) ?></label><br/>
            <label class="<?php echo $labelClass;?>"><?php echo Mage::helper('core')->currency($packageTotals['tax_maf'], true, false) ?></label><br/>
            <label class="<?php echo $totalsClass;?>"><?php echo Mage::helper('core')->currency($packageTotals['total_maf'], true, false); ?></label><br/>
            <?php if(isset($packageDiffPrice) && $isDelivered):?>
                <label class="red"></label>
            <?php endif;?>
        </td>
        <td class="package-prices">
            <label class="<?php echo $labelClass;?>"><?php echo Mage::helper('core')->currency($packageTotals['subtotal_price'], true, false) ?></label><br/>
            <label class="<?php echo $labelClass;?>"><?php echo Mage::helper('core')->currency($packageTotals['tax_price'], true, false) ?></label><br/>
            <label class="<?php echo $totalsClass;?>"><?php echo Mage::helper('core')->currency($packageTotals['total'], true, false); ?></label><br/>
            <?php if(isset($packageDiffPrice) && $isDelivered):?>
                <label class="red"><?php echo Mage::helper('core')->currency($packageDiffPrice < 0 ? -1*$packageDiffPrice : $packageDiffPrice, true, false);?></label>
            <?php endif;?>
        </td>
    </tr>
<?php endif;?>
<?php if (!$onlyButtons): ?>
<tr>
    <td colspan="4" class="package_edit_button">
<?php endif;?>
        <?php if (Mage::registry('creditCheckPerformed') && $package->getSuperOrder()->isEditable($this->getDeliveryInThisStore())): ?>
        <div class="<?php echo $onlyButtons ? 'fixed-buttons pull-right' : 'btn-group'; ?>">
            <?php
                $isDisabled = ( ! $package->getSuperOrder()->isEditable($this->getDeliveryInThisStore()))
                    || (count(array_merge($this->getModifiedPackageIds(), $this->getCancelledPackageIds()))
                        && (($package->getStatus() !== $this->getEditedPackageStatus())
                            || $this->getIsLocked()
                            || $this->getModified()))
                    || ($isCanceled !== false)
                    || ($this->getIsDeliveredEdited());
            ?>
            <?php if (!$onlyButtons): ?>
                <button type="button" id="button-edit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    <?php echo $isDisabled ? 'disabled="disabled"':''?>>
                    <?php echo $this->__('Please Select');?> <span class="caret"></span>
                </button>
            <?php endif;?>
            <?php if (!$onlyButtons): ?>
                <ul class="dropdown-menu edit-mode edit_package_options" role="menu" aria-labelledby="button-edit">
            <?php endif;?>
                <?php if (($onlyButtons && $isDisabled) || !$canChangeSuperorder || $packageDisabled || $missingSim): ?>
                    <?php if ($onlyButtons): ?>
                        <div class="disabled btn btn-xs btn-default pull-right"><?php echo $this->__('Adjust');?></div>
                        <div class="pull-right">&nbsp</div>
                    <?php else: ?>
                        <li><a class="disabled" href="javascript:void(0)"><?php echo $this->__('Adjust');?></a></li>
                    <?php endif; ?>
                <?php else: ?>
                    <?php if ($onlyButtons): ?>
                        <div class="btn btn-xs btn-primary pull-right" onclick="editTopMenuPackage('<?php echo $superorder->getOrderNumber(); ?>','<?php echo $superorder->getId(); ?>','<?php echo $package->getPackageId(); ?>', <?php echo (int) $package->isDelivered() ?>, <?php echo $superorder->getCustomerId(); ?>)"><?php echo $this->__('Adjust'); ?></div>
                        <div class="pull-right">&nbsp</div>
                    <?php else: ?>
                        <li><a onclick="editPackage('<?php echo $package->getPackageId();?>', <?php echo (int) $package->isDelivered() ?>)" href="javascript:void(0)"><?php echo $this->__('Adjust');?></a></li>
                    <?php endif; ?>
                <?php endif; ?>
                <?php if (($onlyButtons && $isDisabled) || !$canCancelSuperorder || $missingSim): ?>
                    <?php if ($onlyButtons): ?>
                        <div class="disabled btn btn-xs btn-default pull-right"><?php echo $this->__('Cancel'); ?></div>
                    <?php else: ?>
                        <li><a class="disabled" href="javascript:void(0)"><?php echo $this->__('Cancel'); ?></a></li>
                    <?php endif; ?>
                <?php else: ?>
                    <?php
                    if ($package->getOneOfDeal() && !$superorder->hasChildren() && !$superorder->hasParents()) {
                        $action = 'cancelOneOffPackages();';
                        $topMenu = 1;
                    } elseif ($package->isDelivered()) {
                        $action = 'cancelDeliveredPackage(' . $package->getPackageId() . ');';
                        $topMenu = 2;
                    } else {
                        $action = 'cancelPackage(' . $package->getPackageId() . ');';
                        $topMenu = 3;
                    }
                    if ($onlyButtons) {
                        $action = 'cancelTopMenuPackage(\'' . $superorder->getOrderNumber() . '\',\'' . $superorder->getId() . '\',\'' . $package->getPackageId() . '\',\'' . $topMenu . '\',' . $superorder->getCustomerId() . ');';
                    }
                    ?>
                    <?php if ($onlyButtons): ?>
                        <div class="btn btn-xs btn-primary pull-right" onclick="<?php echo $action; ?>"><?php echo $this->__('Cancel'); ?></div>
                    <?php else: ?>
                        <li><a onclick="<?php echo $action; ?>" href="javascript:void(0)"><?php echo $this->__('Cancel'); ?></a></li>
                    <?php endif; ?>
                    <?php unset($action); ?>
                <?php endif; ?>
                <?php if (!$onlyButtons): ?>
                    <?php if (
                        ! $package->isDelivered()
                        && ! ($package->getApproveOrder() && $package->getContractSignDate())
                        && ($package->needsApprovePackage() || $package->isRetention())
                    ): ?>
                        <?php if ( ! $this->getDeliveryInThisStore() && count($cancelledPackagesNow) > 0 || !$canChangeSuperorder || $package->getSuperOrder()->getCreatedWebsiteId() != Mage::app()->getWebsite()->getId()) : ?>
                            <li><a class="disabled" href="javascript:void(0)"><?php echo $this->__('Deliver Order');?></a></li>
                        <?php else: ?>
                            <li><a class="<?php echo $isDisabled ? '':'delivery_enabled';?>" onclick="deliverOrder('<?php echo $this->getSuperOrder()->getOrderNumber(); ?>', '<?php echo $package->getPackageId(); ?>')" href="javascript:void(0)"><?php echo $this->__('Deliver Order');?></a></li>
                        <?php endif; ?>
                    <?php endif;?>
                <?php endif; ?>
            <?php if (!$onlyButtons): ?>
                </ul>
            <?php endif; ?>
            <script type="text/javascript">
                jQuery(function($) {
                    $('body').click(function() {
                        $('.btn-group.open').removeClass('open');
                    });
                });
            </script>
        </div>
        <?php elseif ($onlyButtons): ?>
        <div class="pull-right fixed-buttons">
                <div class="disabled btn btn-xs btn-default pull-right"><?php echo $this->__('Adjust'); ?></div>
                <div class="pull-right">&nbsp</div>
                <div class="disabled btn btn-xs btn-default pull-right"><?php echo $this->__('Cancel'); ?></div>
            <script type="text/javascript">
                jQuery(function($) {
                    $('body').click(function() {
                        $('.btn-group.open').removeClass('open');
                    });
                });
            </script>
        </div>
        <?php endif; ?>

        <?php if (!$onlyButtons && $showReturnButton && !$isCanceled && $isDelivered && !$isOrderClosed): ?>
            <button class="btn btn-primary test" type="button" id="return_button_<?php echo $package->getPackageId(); ?>" onclick="checkout.registerReturn(<?php echo $package->getPackageId(); ?>);"><?php echo $this->__('Register return');?></button>
        <?php endif; ?>
<?php if (!$onlyButtons): ?>
    </td>
</tr>
<?php endif; ?>
