<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$package = $this->getPackage();
$code = (!empty($package))?$package->getVfStatusCode():'';
echo '<span class="credit-check-error">';
if ($package) {
	if ($package->getCreditcheckStatus() == Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_REFERRED) {
		echo '<br> ' . 'Creditcheck Referred';
		if ($package->getVfStatusDesc())
			echo '<br> ' . str_replace('#', '<br />', $package->getVfStatusDesc());
	} elseif ($package->getCreditcheckStatus() == Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_REJECTED) {
		echo '<br> ' . 'Creditcheck Rejected';
		if ($package->getVfStatusDesc())
			echo '<br> ' . str_replace('#', '<br />', $package->getVfStatusDesc());
	} else {
		echo $this->__('Fout opgetreden bij order validatie op de DealerAdapter') . '(' . $code .')';
		if ($package->getVfStatusDesc())
			echo '<br> ' . $this->__(str_replace('@', '<br />', $package->getVfStatusDesc()));
	}
} else {
    // Stubbed message for the credit fraud control
    echo '<br> ' . 'Creditcheck Rejected';
}
echo '</span>';