<?php /** @var Dyna_Checkout_Block_Cart_Steps_OrderConfirmation $this  */?>

<div class="bs-docs-section hidden">

    <div class="bs-docs-section-fullheight">

        <form class="cart" action="showOrderConfirmation" method="post" role="form" id="showOrderConfirmation">

            <div class="checkout-section" id="checkout-section-last">
                <div class="checkout-content">
                    <div class="checkout-content-body checkout-content-naked">
                        <p class="section-header-capitals">
                            <?php echo $this->__('Confirmation'); ?>
                        </p>
                        <p class="section-header">
                            <?php echo $this->__('Order confirmed'); ?>
                        </p>
                        <div class="checkout-section-container ">
                            <div class="dt">
                                <div class="tc">
                                    <p id="order-confirmation-old-order-message"><?php echo $this->__('Your order was submitted under the following order number'); ?></p>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-section-container ">
                            <div class="checkout-content-box">
                                <p class="bg-success order-confirmation-id"><?php echo $this->__('Order number'); ?> <strong id="order-increment-id"><?php echo $this->getSuperOrderNumber(); ?></strong></p>
                                <div class="copy-to-clipboard-icon"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     data-container="body"
                                     data-html="true"
                                     data-original-title="<span><?php echo $this->__('Copy to clipboard'); ?></span>"><img onclick="customerDe.addToClipboard('#order-increment-id-input'); return false;" src="<?php echo $this->getSkinUrl('images/icon-clipboard.png'); ?>">
                                </div>
                                <input type="input" name="order-increment-id-input" id="order-increment-id-input" value="<?php echo $this->getSuperOrderNumber(); ?>" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkout-section prev-next-section">
                <div class="checkout-content">
                    <div class="checkout-content-body">
                        <div class="checkout-section-container dt">
                            <div class="tr">
                                <div class="tc al vm ">
                                    <a class="arrow-back checkout-continue-btn step back-button" href="/"><?php echo $this->__('Back to dashboard'); ?></a>
                                </div>
                                <div class="tc ar">
                                    <button class="btn btn-primary step checkout-view-order" onclick="customerDe.loadOrderByIdFromContainer('#order-increment-id-input'); return false;" type="button"><?php echo $this->__('View order'); ?></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>
