<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/** @var Omnius_Package_Model_Package $package */
$package = $this->getPackage();
$items = $this->getItems() ?: array();
$showReturn = false;
$agent = Mage::getSingleton('customer/session')->getAgent(true);
$showCancelled = false;
$returnedItems = array();
foreach ($items as $item) {
    if ($item->getRegisterReturn()) {
        $returnedItems[] = $item->getProduct()->getName();
    }
}

if ($package->getReturnDate()) {
    $showReturn = true;
} elseif ($package->getCancellationDate()) {
    $showCancelled = true;
}
?>
<!--Retourned note-->
<?php if ($showReturn) : ?>
    <div class="dotted-right">
        <p class="clearfix">
            <span class="col-md-12"><?php echo $this->__('Items return'); ?></span>
        </p>

        <p class="clearfix">
            <span class="col-md-3"><?php echo $this->__('By'); ?></span>
            <span class="col-md-9"><?php echo $package->getReturnedBy() ?></span>
        </p>

        <p class="clearfix">
            <span class="col-md-3"><?php echo $this->__('Date'); ?></span>
            <span class="col-md-9"><?php echo date('d-m-Y',strtotime($package->getReturnDate())); ?></span>
        </p>

        <p class="clearfix">
            <span class="col-md-3"><?php echo $this->__('Package complete'); ?> ?</span>
            <span class="col-md-9"><?php echo $this->__($package->getCompleteReturn() ? 'Yes' : 'No'); ?></span>
        </p>

        <p class="clearfix">
            <span class="col-md-3"> <?php echo $this->__('Items undamaged'); ?> ?</span>
            <span class="col-md-9"><?php echo $this->__($package->getNotDamagedItems() ? 'Yes' : 'No'); ?></span>
        </p>
        <p class="clearfix">
            <span class="col-md-3"> <?php echo $this->__('Items'); ?></span>
            <span class="col-md-9"><?php echo implode(', ', $returnedItems); ?></span>
        </p>
        <p class="clearfix">
            <span class="col-md-3"><?php echo $this->__('Note'); ?></span>
            <span class="col-md-9"><?php echo $package->getReturnNotes() ?></span>
        </p>
    </div>
<?php endif; ?>
<!--Cancelled note-->
<?php if ($showCancelled) : ?>
    <div class="dotted-right">
        <p class="clearfix">
            <span class="col-md-12"><?php echo $this->__('Pre-Notification'); ?></span>
        </p>

        <p class="clearfix">
            <span class="col-md-12"><?php echo $this->__('The client has indicated to modify this package. Goods must be received back before the change can be applied.'); ?></span>
        </p>

        <p class="clearfix">
            <span class="col-md-3"><?php echo $this->__('By'); ?>:</span>
            <span class="col-md-9"><?php echo $package->getReturnedBy() ?></span>
        </p>

        <p class="clearfix">
            <span class="col-md-3"><?php echo $this->__('Date'); ?>:</span>
            <span class="col-md-9"><?php echo date('d-m-Y',strtotime($package->getCancellationDate())); ?></span>
        </p>

        <p class="clearfix">
            <span class="col-md-3"><?php echo $this->__('Return reason'); ?>:</span>
            <span class="col-md-9"><?php echo $this->__($package->getRefundReason() ? 'Yes' : 'No'); ?></span>
        </p>

        <p class="clearfix">
            <span class="col-md-3"><?php echo $this->__('Return method'); ?>:</span>
            <span class="col-md-9"><?php echo $this->__('Home Delivery'); ?></span> <!--Hardcoded ?-->
        </p>

        <p class="clearfix">
            <span class="col-md-3"><?php echo $this->__('Refund method'); ?>:</span>
            <span class="col-md-9"><?php echo $this->__($package->getRefundMethod()) ?></span>
        </p>

        <?php if($agent->isGranted(array('REGISTER_RETURN'))): ?>
            <button class="btn btn-primary" onclick="checkout.registerReturn(<?php echo $package->getPackageId(); ?>); return false;">
                <?php echo $this->__('Register return'); ?>
            </button>
        <?php endif; ?>
    </div>
<?php endif; ?>

