<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

    /** @var $this Omnius_Checkout_Block_Cart_Steps_SaveNumberPorting */
    $cartPackages               = $this->getCartPackages();
    $operators                  = $this->getOperators();
    $providers                  = $this->getProviders();
    $networkProviderSimRanges   = $this->getNetworkProviderSimRanges();
?>
<!-- Nummerbehoud
================================================== -->
<div class="bs-docs-section hidden">
    <form class="cart" action="saveNumberPorting" method="post" role="form" id="saveNumberPorting">
        <h4 id="number_porting" class="page-header"><?php echo $this->__('Number portability');?></h4>
        <?php if($cartPackages) :
            foreach($cartPackages as $packageId => $package):
                $packageDisabled = $this->isPackagePortingDisabled(); ?>
                <div class="row porta-pakket" data-package-id="<?php echo $packageId; ?>">
                    <div class="col-md-2"><img width="65" class="center-block" src="<?php echo $package['image_url']; ?>" alt="" /></div>
                    <div class="col-md-10">
                        <p><strong><?php echo ucfirst($this->__($package['name'])); ?> <?php echo $packageId; ?></strong> - <?php echo Mage::helper('omnius_configurator')->getPackageDescription($package['sale_type']); ?></p>
                        <p><?php echo $package['items']; ?></p>
                        <div class="row col-md-5">
                            <div class="radio porta-off<?php echo ($packageDisabled) ? ' disabled' : ''; ?>">
                                <label>
                                    <input type="radio" class="portability-off" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> data-package="<?php echo $packageId; ?>" name="portability[<?php echo $packageId; ?>][check]" <?php echo $package['current_number'] ? '' : 'checked'; ?> value="0"> <strong><?php echo $this->__('No'); ?></strong>, <?php echo $this->__('number portability is not needed'); ?>
                                </label>
                            </div>
                            <div class="radio<?php echo ($packageDisabled) ? ' disabled' : ''; ?>">
                                <label>
                                    <input type="radio" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> class="portability-on" data-package="<?php echo $packageId; ?>" name="portability[<?php echo $packageId; ?>][check]" <?php echo $package['current_number'] ? 'checked' : ''; ?> value="1"> <strong><?php echo $this->__('Yes'); ?></strong>, <?php echo $this->__('number portability is necessary'); ?>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-7 hidden">
                            <p><strong><?php echo $this->__('Current provider info'); ?></strong></p>
                            <div class="clearfix form-row">
                                <label for="portability[<?php echo $packageId; ?>][number_porting_type]"><?php echo $this->__('Number type'); ?></label>
                                <select class="form-control porting-number-type input-sm" onchange="switchProvider(<?php echo $packageId; ?>)" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> id="portability[<?php echo $packageId; ?>][number_porting_type]" name="portability[<?php echo $packageId; ?>][number_porting_type]">
                                    <option value="0" <?php echo (isset($package['number_porting_type']) && $package['number_porting_type'] == 0) ? 'selected="selected"' : ''; ?>><?php echo $this->__('Consumer number');?></option>
                                    <option value="1" <?php echo (isset($package['number_porting_type']) && $package['number_porting_type'] == 1) ? 'selected="selected"' : ''; ?>><?php echo $this->__('Business number');?></option>
                                </select>
                            </div>
                            <div class="clearfix form-row">
                                <label for="portability[<?php echo $packageId; ?>][type]"><?php echo $this->__('Type of connection'); ?></label>
                                <select class="form-control porting-connection-type input-sm" id="portability[<?php echo $packageId; ?>][type]" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> name="portability[<?php echo $packageId; ?>][type]">
                                    <option value="<?php echo Omnius_Catalog_Model_Type::NUMBER_PORTING_SUBSCRIPTION_VALUE;?>" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> <?php echo $package['connection_type'] == 1 ? 'selected="selected"' : ''; ?>>
                                        <?php echo $this->__('Subscription'); ?>
                                    </option>
                                    <option value="<?php echo Omnius_Catalog_Model_Type::NUMBER_PORTING_PORTING_VALUE;?>" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> <?php echo $package['connection_type'] == 2 ? 'selected="selected"' : ''; ?>>
                                        <?php echo $this->__('Prepaid'); ?>
                                    </option>
                                </select>
                            </div>
                            <div class="clearfix form-row">
                                <label for="portability[<?php echo $packageId; ?>][mobile_number]"><?php echo $this->__('Current mobile number'); ?></label>
                                <input type="text" id="portability[<?php echo $packageId; ?>][mobile_number]" name="portability[<?php echo $packageId; ?>][mobile_number]" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> class="form-control input-sm" value="<?php echo $package['current_number']; ?>" />
                            </div>
                            <div class="clearfix form-row"<?php echo (isset($package['number_porting_type']) && $package['number_porting_type'] == 1) ? ' style="display:none;"' : ' style="display:block;"'; ?>>
                                <label for="portability[<?php echo $packageId; ?>][sim]"><?php echo $this->__('Current SIM card number'); ?></label>
                                <input type="text" id="portability[<?php echo $packageId; ?>][sim]" name="portability[<?php echo $packageId; ?>][sim]" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> class="form-control sim-number input-sm network-sim-validation-none" value="<?php echo $package['current_simcard_number']; ?>" />
                            </div>
                            <div class="clearfix form-row">
                                <label for="portability[<?php echo $packageId; ?>][current_provider]"><?php echo $this->__('Current service operator');?></label>
                                <select id="portability[<?php echo $packageId; ?>][current_provider]" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> name="portability[<?php echo $packageId; ?>][current_provider]" class="provider_select form-control input-sm">
                                    <option  value data-validate="none"><?php  echo $this->__('Select current operator'); ?></option>
                                    <?php foreach ($operators as $code => $operator) : ?>
                                        <?php foreach ($operator['providers'] as $index => $provider): ?>
                                            <option <?php echo ($provider['code'] == $package['network_provider']) ? 'selected' : ''; ?> data-validate="<?php echo $index; ?>" operator="<?php echo $code; ?>" value="<?php echo $provider['code']; ?>"><?php echo $provider['name']; ?></option>
                                        <?php endforeach; ?>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="clearfix form-row">
                                <label for="portability[<?php echo $packageId; ?>][current_operator]"><?php echo $this->__('Current service provider');?></label>
                                <select id="portability[<?php echo $packageId; ?>][current_operator]" disabled <?php echo ($packageDisabled) ? 'disabled' : ''; ?> class="operator_select form-control input-sm disabled">
                                    <option value><?php  echo $this->__('Select current operator'); ?></option>
                                    <?php $value = ""; ?>
                                    <?php foreach($operators as $code => $operator): ?>
                                        <?php $selected = (isset($package['network_operator']) && $package['network_operator'] == $code) ? ' selected' : ''; ?>
                                        <?php if ($selected) $value = $code; ?>
                                        <option value="<?php echo $code; ?>"<?php echo $selected; ?>><?php echo $operator['name']; ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input type='hidden' id="hidden_portability[<?php echo $packageId; ?>][current_operator]" name="portability[<?php echo $packageId; ?>][current_operator]" value="<?php echo $value; ?>" class="validation-passed">
                            </div>
                            <div class="clearfix form-row"<?php echo (isset($package['number_porting_type']) && $package['number_porting_type'] == 1) ? ' style="display:block;"' : ' style="display:none;"'; ?>>
                                <label for="portability[<?php echo $packageId; ?>][contract]"><?php echo $this->__('Client number provider'); ?></label>
                                <input type="text" id="portability[<?php echo $packageId; ?>][contract]" name="portability[<?php echo $packageId; ?>][contract]" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> class="form-control input-sm validate-np-contract" value="<?php echo $package['contract_nr'] ?: ''; ?>" />
                            </div>
                            <div class="clearfix form-row">
                                <label for="portability[<?php echo $packageId; ?>][end_date_contract]"><?php echo $package['actual_porting_date'] ? $this->__('Actual porting date') : $this->__('Preferred change date'); ?></label>
                                <input type="text" onkeyup="onDateKeyUp(this)" data-package-id="<?php echo $packageId; ?>" <?php echo ($packageDisabled) ? 'disabled' : ''; ?> id="portability[<?php echo $packageId; ?>][end_date_contract]" name="portability[<?php echo $packageId; ?>][end_date_contract]" class="form-control input-sm" placeholder="dd-mm-jjjj" maxlength="10" value="<?php echo $package['actual_porting_date'] ? date('d-m-Y',strtotime($package['actual_porting_date'])) : ($package['contract_end_date'] ? date('d-m-Y',strtotime($package['contract_end_date'])) : ''); ?>" />
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            <?php
            endforeach;
        endif; ?>

        <?php if(!Mage::getSingleton('customer/session')->getOrderEdit()): ?>
            <div class="row">
                <div class="col-md-12 clearfix">
                    <button type="submit" data-step="saveNumberPorting" class="btn btn-primary pull-right step"><?php echo $this->__('Next step');?></button>
                </div>
            </div>
        <?php endif; ?>
    </form>
</div>

<script>
    //<![CDATA[
    // add translations
    Translator.add('The date is in a holiday.','<?php echo $this->__("The date is in a holiday."); ?>');
    // Add the translation because it's misspelled in the core
    Translator.add(
        'Please use numbers only in this field. Please avoid spaces or other characters such as dots or commas.',
        '<?php echo addslashes(Mage::helper('omnius_checkout')->__('Please use numbers only in this field. please avoid spaces or other characters such as dots or commas.')); ?>'
    );
    Translator.add('Select current operator','<?php  echo $this->__('Select current operator'); ?>');

    function checkDate(field) {
        if (jQuery.trim(jQuery(field).val()) == '') {
            jQuery(field).addClass('required-failed');
            jQuery(field).addClass('validation-failed').parent().find('.ajax-validation').remove();

            return false;
        } else {
            jQuery(field).removeClass('required-failed');
        }
        jQuery(field).parent().find('[class^="validation-"]').remove();
        var packageId = jQuery(field).data('packageId');

        jQuery.ajax(
            '<?php echo Mage::getUrl('checkout/index/validateDate') ?>',
            {
                type: 'POST',
                data: {
                    date : jQuery(field).val(),
                    field: jQuery(field).attr('name'),
                    type: jQuery.trim(jQuery('select[id="portability[' + packageId + '][type]"] option:selected').val()),
                    customerType: jQuery.trim(jQuery('select[id="portability[' + packageId + '][number_porting_type]"] option:selected').val()),
                    packageId: packageId,
                    current_operator: jQuery.trim(jQuery('select[id="portability['+packageId+'][current_operator]"] option:selected').val()),
                    current_provider: jQuery.trim(jQuery('select[id="portability['+packageId+'][current_provider]"] option:selected').val())
                }
            }
        )
        .done(function(data) {
            if(data.field) {
                jQuery('input[name="'+data.field+'"]').parent().find('[class^="validation-"]').remove();
                jQuery('input[name="'+data.field+'"]').addClass('validation-failed');
                jQuery('input[name="'+data.field+'"]').parent().append('<div class="validation-advice ajax-validation" id="advice-'+data.field+'">' + data.field_error + '</div>');
                return false;
            } else {
                jQuery(field).removeClass('validation-failed').parent().find('[class^="validation-"]').remove();
                return true;
            }
        });

        return true;
    }

    Validation.add('validate-porting-date', '<?php echo $this->__('This is a required field.'); ?>', function(v, element) {
        return checkDate(element);
    });

    networkProviderSimRanges = <?php echo $networkProviderSimRanges; ?>;

    function sortByProperty(property) {
        var sortOrder = 1;
        if (property[0] === "-") {
            sortOrder = -1;
            property = property.substr(1);
        }
        return function (a, b) {
            var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
            return result * sortOrder;
        }
    }

    //Automatic determine donor network operator RFC-150633
    Validation.add('network-sim-validation-none', '<?php echo $this->__('SIM card number does not match the chosen service provider'); ?>', function(v, element) {
        var el = jQuery(element);
        var allOperators = false;
        el.val(el.val().trim());
        if (!el.val().length) {
            allOperators = true;
        }

        var classes = el.attr('class');
        if (classes.indexOf('network-sim-range-') != -1) {
            classes.split(' ').each(function (value) {
                if (value.indexOf('network-sim-range-') != -1) {
                    el.removeClass(value);
                }
            });
        }

        var countValidation = 0;
        var countIndex=null;
        var regExp;
        var serviceOperatorsList = [];
        var serviceOperators= [];
        jQuery.each(networkProviderSimRanges, function (index, regExpString) {
            if (allOperators) {
                serviceOperatorsList.push({'index' : index, 'regExp' : regExpString});
            } else {
                if (regExpString != '/^.*$/') {
                    regExp = new RegExp(regExpString.substring(1, regExpString.length - 1)); //Removing string slashes
                    if (regExp.test(el.val())) {
                        serviceOperatorsList.push({'index' : index, 'regExp' : regExpString});
                    }
                } else {
                    regExp = new RegExp(regExpString.substring(1, regExpString.length - 1));
                    serviceOperatorsList.push({'index' : index, 'regExp' : regExpString});
                }
            }
        });

        if (serviceOperatorsList.length) {
            //We have just one matching network service operator with index: countIndex
            jQuery.each(serviceOperatorsList, function (index, value2) {
                jQuery.each(operatorData, function (value) {
                    if (operatorData[value].hasOwnProperty('providers')) {
                        if (operatorData[value]['providers'][value2.index] !== undefined) {
                            //It is a match network service operator list
                            serviceOperators.push({
                                'index' : value2.index,
                                'operator-code' : value,
                                'service-code' : operatorData[value]['providers'][value2.index]['code'],
                                'service-name' : operatorData[value]['providers'][value2.index]['name']
                            });
                        }
                    }
                });
            });

            serviceOperators.sort(sortByProperty('service-name'));

            //And now we fill the service operator list with data
            var selectId = "portability\\[" + parseInt(el.attr('id').match(/(\d+)/g)[0]) + "\\]\\[current_operator\\]";
            //Preserve previously selected value
            var selectedProvider = "portability\\[" + parseInt(el.attr('id').match(/(\d+)/g)[0]) + "\\]\\[current_provider\\]";
            var selectedValue = jQuery("select#" + selectedProvider).val();
            var selectedOperator = jQuery("select#" + selectedProvider).find("option[value=" + selectedValue + "]").attr('operator');
            jQuery("select#" + selectId + " option[value='']").attr("selected", "selected");
            var providerSelect = jQuery('#' + selectId).parent().parent().children('.form-row').children('.provider_select');
            providerSelect.html('');
            providerSelect.append("<option value>" + Translator.translate('Select current operator') + "</option>");
            jQuery.each(serviceOperators, function (index, val) {
                if (serviceOperators.length==1) {
                    providerSelect.append('<option selected operator=' + val['operator-code'] + ' data-validate="' + val['index'] + '" value="' + val['service-code'] + '">' + val['service-name'] + '</option>');
                    //Trigger click event for providers select
                    providerSelect.trigger('change');
                } else {
                    providerSelect.append('<option operator=' + val['operator-code'] + ' data-validate="' + val['index'] + '" value="' + val['service-code'] + '">' + val['service-name'] + '</option>');
                }
            });

            if (serviceOperators.length > 1) {
                if (providerSelect.find("option[value=" + selectedValue + "]").attr('operator') == selectedOperator) {
                    providerSelect.val(selectedValue);
                    Validation.validate(providerSelect.attr('name'));
                } else {
                    providerSelect.find("option").eq(0).attr('selected','selected');
                }
                providerSelect.trigger('change');
            }


            return true;
        } else {
            //Resetting service provider list and network operator
            var selectId = "portability\\[" + parseInt(el.attr('id').match(/(\d+)/g)[0]) + "\\]\\[current_operator\\]";
            jQuery("select#" + selectId + " option[value='']").attr("selected", "selected");
            var providerSelect = jQuery('#' + selectId).parent().parent().children('.form-row').children('.provider_select');
            providerSelect.html('');
            providerSelect.append("<option value>" + Translator.translate('Select current operator') + "</option>");

            //Operator reset
            jQuery("select#" + selectId).find('option').removeAttr("selected");
            jQuery("select#" + selectId + " option:first").attr("selected", "selected");
            jQuery("#hidden_" + selectId).val("");

            Validation.validate(providerSelect.attr('name'));

            return false;
        }
    });

    var operatorData = <?php echo json_encode($operators); ?>;
    form.saveNumberPorting = new VarienForm('saveNumberPorting', true);

    var noWeekendsAndHolidays = function (date) {
        var m = date.getMonth();
        var d = date.getDate();
        var y = date.getFullYear();
        if (m <= 9) {
            m = '0' + (m + 1);
        }
        if (d <= 9) {
            d = '0' + d;
        }

        var disabledSpecificDays = <?php echo json_encode(Mage::helper('omnius_validators')->getHolidayDates());?>;
        for (var i = 0; i < disabledSpecificDays.length; i++) {
            if (jQuery.inArray(y + '-' + m + '-' + d, disabledSpecificDays) != -1 || new Date() > date) {
                return [false];
            }
        }

        var noWeekend = jQuery.datepicker.noWeekends(date);
        return !noWeekend[0] ? noWeekend : [true];
    };

    jQuery(function($) {
        var tmpOptions = {};
        function hideDeliveryInOtherStore(packageId) {
            $('#cart #delivery-type .dropdown-menu li a[data-value="pickup"]').parent().addClass('hidden');
            $('[id="delivery[pakket][{0}][address]"]'.format(packageId)).find('option').each(function(){
                if($(this).val() == 'store') {
                    tmpOptions[packageId] = $(this);
                    var parentSelect = $(this).parent();
                    parentSelect.parent().find('.extra.{0}'.format($(this).val())).addClass('hidden');
                    parentSelect.find('option').first().prop('selected',true);
                    parentSelect.trigger('change');
                    $(this).detach();
                }
            });
            var deliveryInput = $('#cart #delivery-type input[name="delivery[method]"]');
            if(deliveryInput.val() == 'pickup') {
                // Reset delivery options
                $('#cart #delivery-type #delivery_method_text').text('<?php echo $this->__('Choose'); ?>');
                deliveryInput.val('');
                $('#cart #delivery-type .delivery-method').addClass('hidden');

                // Reset payment options
                $('#cart #payment-type #payment_method_text').text('<?php echo $this->__('Choose'); ?>');
                $('#cart #payment-type input[name="payment[method]"]').val('');
                $('#cart #payment-type .payment-extra').addClass('hidden');
            }
        }

        function showDeliveryInOtherStore(packageId) {
            var showDelivery = true;
            // check if there is any other package with number porting activated
            $('#cart .portability-on').each(function() {
                if($(this).is(':checked')) {
                    showDelivery = false;
                }
            });
            if(showDelivery) {
                $('#cart #delivery-type .dropdown-menu li a[data-value="pickup"]').parent().removeClass('hidden');
            }
            if(tmpOptions.hasOwnProperty(packageId) && tmpOptions[packageId].length) {
                $('[id="delivery[pakket][{0}][address]"]'.format(packageId)).append(tmpOptions[packageId]);
            }
            tmpOptions[packageId] = {};

        }

        var isCrossStoreNP = "<?php echo (int) $this->getIsCrossStore(); ?>";
        $('#cart .portability-on, #cart .portability-off').bind('change', function () {
            var parent = $(this).parents('.porta-pakket').first().find('.row').first();
            var packageId = $(this).data('package');
            if ($(this).val() == '1') {
                parent.addClass('portability');
                checkout.switchPortabilityRules(packageId, 'add');
                parent.next('.col-md-7').removeClass('hidden');
                if (isCrossStoreNP == 0) {
                    hideDeliveryInOtherStore(packageId);
                }

                $('.validate-porting-date').datepicker({
                    dateFormat: "dd-mm-yy",
                    firstDay: 1,
                    beforeShowDay: noWeekendsAndHolidays,
                    beforeShow: function (input) {
                        $(input).unbind('blur');
                    },
                    onSelect: function (dateText, inst) {
                        checkDate(inst.input);
                    }
                });
                if ($.inArray(packageId, numberPortingPackages) == -1) {
                    numberPortingPackages.push(packageId);
                }
                if (typeof(initDeliveryOptions) != "undefined") {
                    initDeliveryOptions($);
                }
            } else {
                parent.parent().find('.validation-advice').remove();
                parent.removeClass('portability');
                checkout.switchPortabilityRules(packageId, 'remove');
                parent.next('.col-md-7').addClass('hidden');
                if (isCrossStoreNP == 0) {
                    showDeliveryInOtherStore(packageId);
                }
                if ($.inArray(packageId, numberPortingPackages) != -1) {
                    numberPortingPackages.splice($.inArray(packageId, numberPortingPackages), 1);
                    if (typeof(initDeliveryOptions) != "undefined") {
                        initDeliveryOptions($);
                    }
                }
            }
        });

        $('.provider_select').on('change', function(ev) {
            var operatorId = "portability\\[" + parseInt($(this).attr('id').match(/(\d+)/g)[0]) + "\\]\\[current_operator\\]";
            var value = $('option:selected', this).attr('operator');
            if (value === undefined) {
                $("select#" + operatorId).find('option').prop("selected", false);
                $("select#" + operatorId).val(undefined);
                $("#hidden_" + operatorId).val("");
            } else {
                $("select#" + operatorId).find('option').prop("selected", false);
                $("select#" + operatorId + " option[value='" + value + "']").prop("selected", "selected");
                $("#hidden_" + operatorId).val(value);
            }

            var current = $(this);
            var exceptions = <?php echo Mage::helper('core')->jsonEncode(Mage::helper('omnius_validators')->getNpExceptions());?>;
            if (current.find('option:selected').length) {
                var value = current.find('option:selected').first().data('validate');
                var provider = current.find('option:selected').first().val();
                var operator = current.parent().parent().find('.operator_select').find('option:selected').first().val();
                if (!value) return;
            }
            var contractInput = current.parent().parent().find('.validate-np-contract, .validate-np-dot-contract').first();
            Validation.reset(contractInput.attr('name'));
            // Set default validation
            contractInput.removeClass('validate-np-dot-contract').addClass('validate-np-contract');
            exceptions.each(function (el) {
                // If an exception is found, update the validation class
                if (el == (operator + '-' + provider)) {
                    contractInput.removeClass('validate-np-contract').addClass('validate-np-dot-contract');
                }
            });
        });

        //Check if sim number has value on load
        $(document).ready( function (){
            $('.sim-number').each(function (){
                el = $(this);
                if (el.val().length) {
                    var currentServiceOperator = "";
                    var regExp = /\[([0-9]+)\]/;
                    matches = regExp.exec(el.attr('id'));
                    var packageId = matches[1];
                    var currentProvider = "portability[" + packageId + "][current_provider]";
                    var currentOperator = "portability[" + packageId + "][current_operator]";
                    var currentProviderValue = $('[id="' + currentProvider + '"]').val();
                    var currentOperatorValue = $('[id="' + currentOperator + '"]').val();

                    //Filtering select option by sim number
                    Validation.validate(el.attr('name'));
                    $('[id="' + currentProvider + '"]').val(currentProviderValue);
                    $('[id="' + currentOperator + '"]').val(currentOperatorValue);
                } else {
                    Validation.validate(el.attr('name'));
                }
            });

            $('.provider_select').each(function () {
                var current = $(this);
                var exceptions = <?php echo Mage::helper('core')->jsonEncode(Mage::helper('omnius_validators')->getNpExceptions());?>;
                if (current.find('option:selected').length) {
                    var value = current.find('option:selected').first().data('validate');
                    var provider = current.find('option:selected').first().val();
                    var operator = current.parent().parent().find('.operator_select').find('option:selected').first().val();
                    if (!value) return;
                }
                var contractInput = current.parent().parent().find('.validate-np-contract, .validate-np-dot-contract').first();
                Validation.reset(contractInput.attr('name'));
                // Set default validation
                contractInput.removeClass('validate-np-dot-contract').addClass('validate-np-contract');
                exceptions.each(function (el) {
                    // If an exception is found, update the validation class
                    if (el == (operator + '-' + provider)) {
                        contractInput.removeClass('validate-np-contract').addClass('validate-np-dot-contract');
                    }
                });
            });
        });

        Validation.add('validate-np-dot-contract', '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-np-dot-contract');?>', function(v) {
            // Allow digits and dot
            return (v.length > 0 && /^\d*\.?\d*$/.test(v));
        });

        Validation.add('validate-np-contract', '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-np-contract');?>', function(v) {
            // Allow only digits
            return (v.length > 0 && /^[0-9]+$/.test(v));
        });

        <?php if($cartPackages) {
            foreach($cartPackages as $packageId => $package) :
                if ($package['current_number']) {
                    echo '$(\'[name="portability['. $packageId .'][check]"]\').filter(\'.portability-on\').trigger(\'change\');' . PHP_EOL;
                } ?>
                sortDropdown('operator_select', <?php echo $packageId; ?>);
                setDropdownDefault('operator_select', '<?php echo $this->__('Select current operator'); ?>', <?php echo $packageId; ?>);
                setDropdownDefault('porting-number-type', '<?php echo $this->__('Select current network type'); ?>', <?php echo $packageId; ?>);
                setDropdownDefault('porting-connection-type', '<?php echo $this->__('Select current connection type'); ?>', <?php echo $packageId; ?>);
                <?php endforeach;
        } ?>
    });
    //]]>
</script>
