<?php
// ::: Delivery data ::: //
/** @var $this Dyna_Checkout_Block_Cart_Steps_SavePayments */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

$customerAddress = $this->getCustomerAddress();
$serviceAddressDetails = $this->getServiceAddressDetails();
$specifiedAddressRows = ($this->hasCable()) ? $this->getDeliveryAddress(true) : $this->getDeliveryAddress();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");
$checkoutLayout->setupFormLayout();

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper("dyna_checkout/fields");
$checkoutData->setCheckoutData("save_payments", $quote->getId());

$hasSimOnly = $this->hasSimOnly();
$paymentDebit = $this->getPaymentDebit();
$paymentTransfer = $this->getPaymentTransfer();

$customerFields = $this->getCustomerFields();

$isSohoCustomer = $customer->getIsSoho();

$packages = $this->getPackages();

$customerKnownAddress = $checkoutLayout->getCustomerKnownAddressArray();

?>

<!-- Payments -->
<div class="bs-docs-section hidden">
    <form class="cart" action="savePayments" method="post" role="form" id="savePayments">

        <input type="hidden" vfde-model="payment[monthly][type]">
        <input type="hidden" vfde-model="payment[iban]">

        <div class="checkout-section" id="checkout-section-fourth">
        <div class="checkout-timeline">
            <!--<div v-my-tooltip.right-middle="{ content: 'Previous connection', classes:'checkout-timeline-point'}"></div>-->
        </div>
        <div class="checkout-content">
            <div class="checkout-content-body checkout-content-naked">

                <p class="section-header-capitals">
                    <?php echo $this->__("Payment options"); ?>
                </p>

                <!-- PAYMENTS Monthly START -->

                <?php if( $checkoutLayout->isAvailableSection( 'payments_monthly' ) ): ?>

                    <p class="section-header" id="payment">
                        <?php echo $this->__('Monthly payments'); ?>
                    </p>

                    <div class="checkout-section-container">

                        <div class="input-group-custom">

                            <section class="accordion" id="monthly-payments">


                                <!-- PAYMENTS: Use existing IBAN (all stacks) -->
                                <?php
                                foreach( $checkoutLayout->getCustomerBankAccountNumbers() as $knownIban => $stack ) {
                                    print $this->getLayout()
                                        ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                        ->setData( "checkout_data", $checkoutData )
                                        ->setData( "package", NULL )
                                        ->setData( "id", "payment[monthly]" )
                                        ->setData( "known_iban", $knownIban )
                                        ->setData( "stack", $stack )
                                        ->setTemplate("checkout/cart/steps/save_payments_partials/payments_direct_debit_reuse.phtml")
                                        ->toHtml();
                                }
                                ?>

                                <!-- PAYMENTS: By bank transfer (NEW) -->
                                <?php
                                print $this->getLayout()
                                    ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                    ->setData( "checkout_data", $checkoutData )
                                    ->setData( "package", NULL )
                                    ->setData( "id", "payment[monthly]" )
                                    ->setTemplate( "checkout/cart/steps/save_payments_partials/payments_direct_debit_new.phtml" )
                                    ->toHtml();
                                ?>

                                <!-- PAYMENTS: Use another IBAN (NEW) -->
                                <?php
                                print $this->getLayout()
                                    ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                    ->setData( "checkout_data", $checkoutData )
                                    ->setData( "package", NULL )
                                    ->setData( "id", "payment[monthly]" )
                                    ->setTemplate("checkout/cart/steps/save_payments_partials/payments_direct_debit_diff.phtml")
                                    ->toHtml();
                                ?>

                                <!-- PAYMENTS: By Invoice (NEW) -->
                                <?php
                                print $this->getLayout()
                                    ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                    ->setData( "checkout_data", $checkoutData )
                                    ->setData( "package", NULL )
                                    ->setData( "id", "payment[monthly]" )
                                    ->setTemplate( "checkout/cart/steps/save_payments_partials/payments_invoice.phtml" )
                                    ->toHtml();
                                ?>

                                <!-- SPLIT payment options starts here -->
                                <?php if( $checkoutLayout->showSplitPayments() ): ?>

                                    <div class="accordion-item">

                                    <div class="accordion-head split-head">
                                        <input type="radio" id="payment[monthly][type][split]" name="payment[monthly][type]" onchange="switchMonthlyPayment(this); subModelChange('payment[monthly][type]', 'split');reuseIbanSummaryUpdate(jQuery(this))"
                                               value="<?php echo Dyna_Checkout_Helper_Fields::PAYMENT_SPLIT_PAYMENT ?>"/>
                                        <label for="payment[monthly][type][split]"></label> <?php echo $this->__("Customer uses multiple payment methods"); ?>
                                    </div>

                                    <div class="accordion-body split-body">

                                        <?php foreach( $packages as $package ) : ?>

                                            <?php
                                            if( !$checkoutLayout->isAvailableSection( 'payments_monthly', $package ) ):
                                                // Leave out postpaid packages from monthly payments
                                                continue;
                                            endif;
                                            ?>
                                            <input type="hidden" vfde-model="payment[monthly][<?php echo $package->getPackageId(); ?>][type]"/>
                                            <input type="hidden" vfde-model="payment[<?php echo $package->getPackageId(); ?>][iban]"/>

                                            <div class="per-package-element">
                                                <div class="option-image-block product-cart-icon product-checkout-icon <?php echo strtolower($package->getType()); ?> pull-left"> </div>
                                                <div data-summary-id="1" class="package-summary pull-left">
                                                    <?php
                                                    $packageTitle = Mage::getModel('dyna_package/packageType')->loadByCode($package->getType())->getFrontEndName();
                                                    $packageTypeAndTariffTitles = Mage::helper('dyna_package')->getTypeAndSubtypeTitle($package, Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION);
                                                    if (($packageTypeAndTariffTitles['packageTitle'] != '') && ($packageTypeAndTariffTitles['packageSubtypeTitle'] != '')) {
                                                        echo "<p title='{$packageTypeAndTariffTitles['packageSubtypeTitle']}'>{$packageTypeAndTariffTitles['packageSubtypeTitle']}</p>" .
                                                            "<p class='light' title='{$packageTypeAndTariffTitles['packageTitle']}'>{$packageTypeAndTariffTitles['packageTitle']}</p>";
                                                    } else {
                                                        echo "<p title='{$packageTitle}'>{$packageTitle}</p>";
                                                    }
                                                    ?>
                                                </div>
                                            </div>

                                            <div class="split-items-margin">

                                                <section class="accordion split-options">

                                                    <!-- PAYMENTS: Use existing IBAN (all stacks) -->
                                                    <?php
                                                    foreach( $checkoutLayout->getCustomerBankAccountNumbers() as $knownIban => $stack ) {
                                                        print $this->getLayout()
                                                            ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                                            ->setData( "checkout_data", $checkoutData )
                                                            ->setData( "package", NULL )
                                                            ->setData( "id", "payment[pakket][" . $package->getPackageId() . "]" )
                                                            ->setData( "known_iban", $knownIban )
                                                            ->setData( "stack", $stack )
                                                            ->setTemplate("checkout/cart/steps/save_payments_partials/payments_direct_debit_reuse.phtml")
                                                            ->toHtml();
                                                    }
                                                    ?>

                                                    <!-- PAYMENTS: By bank transfer (NEW) -->
                                                    <?php
                                                    print $this->getLayout()
                                                        ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                                        ->setData( "checkout_data", $checkoutData )
                                                        ->setData( "package", $package )
                                                        ->setData( "id", "payment[pakket][" . $package->getPackageId() . "]" )
                                                        ->setTemplate( "checkout/cart/steps/save_payments_partials/payments_direct_debit_new.phtml" )
                                                        ->toHtml();
                                                    ?>

                                                    <!-- PAYMENTS: Use another IBAN (NEW) -->
                                                    <?php
                                                    print $this->getLayout()
                                                        ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                                        ->setData( "checkout_data", $checkoutData )
                                                        ->setData( "package", $package )
                                                        ->setData( "id", "payment[pakket][" . $package->getPackageId() . "]" )
                                                        ->setTemplate("checkout/cart/steps/save_payments_partials/payments_direct_debit_diff.phtml")
                                                        ->toHtml();
                                                    ?>

                                                    <!-- PAYMENTS: By Invoice (NEW) -->
                                                    <?php
                                                    print $this->getLayout()
                                                        ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                                        ->setData( "checkout_data", $checkoutData )
                                                        ->setData( "package", $package )
                                                        ->setData( "id", "payment[pakket][" . $package->getPackageId() . "]" )
                                                        ->setTemplate( "checkout/cart/steps/save_payments_partials/payments_invoice.phtml" )
                                                        ->toHtml();
                                                    ?>

                                                </section>
                                            </div>
                                        <?php endforeach; ?>

                                    </div>

                                </div>

                                <?php endif; ?>

                            </section>

                        </div>

                    </div>

                <?php endif; ?>

                <!-- PAYMENTS Monthly END -->


                <!-- PAYMENTS Onetime START -->

                <input type="hidden" vfde-model="payment[one_time][type]">
                <?php if( $checkoutLayout->isAvailableSection( 'payments_onetime' ) ): ?>

                    <p class="section-header" id="payment">
                        <?php echo $this->__('Payment for your one-off costs'); ?>
                    </p>

                    <div class="checkout-section-container" id="save-payments-onetime-content">

                        <!-- PAYMENTS: Onetime (all) -->
                        <?php
                        print $this->getLayout()
                            ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                            ->setData( "checkout_data", $checkoutData )
                            ->setTemplate( "checkout/cart/steps/save_payments_partials/onetime_payments.phtml" )
                            ->toHtml();
                        ?>

                    </div>

                <?php endif; ?>

                <!-- PAYMENTS Onetime END -->


                <!-- PAYMENTS Billing START -->

                <input type="hidden" vfde-model="billing[other_address][selected]">

                <p class="section-header">
                    <?php echo $this->__('Billing address'); ?>
                </p>

                <div class="checkout-section-container ">

                    <div class="input-group-custom">

                        <section class="accordion" id="billing-payments">


                            <!-- BILLING: Known address -->
                            <?php
                            print $this->getLayout()
                                ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                ->setData( "checkout_data", $checkoutData )
                                ->setData( "package", NULL )
                                ->setData( "id", "billing" )
                                ->setTemplate( "checkout/cart/steps/save_payments_partials/billing_known.phtml" )
                                ->toHtml();
                            ?>

                            <!-- BILLING: Customer address -->
                            <?php
                            print $this->getLayout()
                                ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                ->setData( "checkout_data", $checkoutData )
                                ->setData( "package", NULL )
                                ->setData( "id", "billing" )
                                ->setTemplate( "checkout/cart/steps/save_payments_partials/billing_customer.phtml" )
                                ->toHtml();
                            ?>

                            <!-- BILLING: Other address -->
                            <?php
                            print $this->getLayout()
                                ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                ->setData( "checkout_data", $checkoutData )
                                ->setData( "package", NULL )
                                ->setData( "id", "billing" )
                                ->setTemplate( "checkout/cart/steps/save_payments_partials/billing_other.phtml" )
                                ->toHtml();
                            ?>

                            <!-- BILLING: PO Box -->
                            <?php
                            print $this->getLayout()
                                ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                ->setData( "checkout_data", $checkoutData )
                                ->setData( "package", NULL )
                                ->setData( "id", "billing" )
                                ->setTemplate( "checkout/cart/steps/save_payments_partials/billing_po.phtml" )
                                ->toHtml();
                            ?>

                            <!-- SPLIT payment options starts here -->
                            <?php if( $checkoutLayout->showSplitBilling() ): ?>

                                <div class="accordion-item">

                                    <div class="accordion-head">
                                        <input type="radio" id="<?php echo $id ?? ''; ?>_split" class="billing_selected_5" name="billing[other_address][selected]" value="5" onchange="switchOtherAddress(this);subModelChange('billing[other_address][selected]', '5')"/>
                                        <label for="<?php echo $id ?? ''; ?>_split"></label> <?php echo $this->__("Customer uses multiple billing addressees"); ?>
                                    </div>

                                    <div class="accordion-body split-body">

                                        <?php foreach( $packages as $package ) : ?>

                                            <input type="hidden" vfde-model="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][selected]"/>


                                            <div class="per-package-element">
                                                <div class="option-image-block product-cart-icon product-checkout-icon <?php echo strtolower($package->getType()); ?> pull-left"> </div>
                                                <div data-summary-id="1" class="package-summary pull-left">
                                                    <?php
                                                    $packageTitle = Mage::getModel('dyna_package/packageType')->loadByCode($package->getType())->getFrontEndName();
                                                    $packageTypeAndTariffTitles = Mage::helper('dyna_package')->getTypeAndSubtypeTitle($package, Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION);
                                                    if (($packageTypeAndTariffTitles['packageTitle'] != '') && ($packageTypeAndTariffTitles['packageSubtypeTitle'] != '')) {
                                                        echo "<p title='{$packageTypeAndTariffTitles['packageSubtypeTitle']}'>{$packageTypeAndTariffTitles['packageSubtypeTitle']}</p>" .
                                                            "<p class='light' title='{$packageTypeAndTariffTitles['packageTitle']}'>{$packageTypeAndTariffTitles['packageTitle']}</p>";
                                                    } else {
                                                        echo "<p title='{$packageTitle}'>{$packageTitle}</p>";
                                                    }
                                                    ?>
                                                </div>
                                            </div>

                                            <div class="split-items-margin">

                                                <section class="accordion split-options">


                                                    <!-- BILLING: Known address -->
                                                    <?php
                                                    print $this->getLayout()
                                                        ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                                        ->setData( "checkout_data", $checkoutData )
                                                        ->setData( "package", $package )
                                                        ->setData( "id", "billing[pakket][" . $package->getPackageId() . "]" )
                                                        ->setTemplate( "checkout/cart/steps/save_payments_partials/billing_known.phtml" )
                                                        ->toHtml();
                                                    ?>

                                                    <!-- BILLING: Customer address -->
                                                    <?php
                                                    print $this->getLayout()
                                                        ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                                        ->setData( "checkout_data", $checkoutData )
                                                        ->setData( "package", $package )
                                                        ->setData( "id", "billing[pakket][" . $package->getPackageId() . "]" )
                                                        ->setTemplate( "checkout/cart/steps/save_payments_partials/billing_customer.phtml" )
                                                        ->toHtml();
                                                    ?>

                                                    <!-- BILLING: Other address -->
                                                    <?php
                                                    print $this->getLayout()
                                                        ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                                        ->setData( "checkout_data", $checkoutData )
                                                        ->setData( "package", $package )
                                                        ->setData( "id", "billing[pakket][" . $package->getPackageId() . "]" )
                                                        ->setTemplate( "checkout/cart/steps/save_payments_partials/billing_other.phtml" )
                                                        ->toHtml();
                                                    ?>

                                                    <!-- BILLING: PO Box -->
                                                    <?php
                                                    print $this->getLayout()
                                                        ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                                                        ->setData( "checkout_data", $checkoutData )
                                                        ->setData( "package", $package )
                                                        ->setData( "id", "billing[pakket][" . $package->getPackageId() . "]" )
                                                        ->setTemplate( "checkout/cart/steps/save_payments_partials/billing_po.phtml" )
                                                        ->toHtml();
                                                    ?>

                                                </section>
                                            </div>
                                        <?php endforeach; ?>

                                    </div>

                                </div>

                            <?php endif; ?>

                        </section>

                        <!-- BILLING: Type -->
                        <?php
                        print $this->getLayout()
                            ->createBlock( 'dyna_checkout/cart_steps_savePayments' )
                            ->setData( "checkout_data", $checkoutData )
                            ->setTemplate( "checkout/cart/steps/save_payments_partials/billing_type.phtml" )
                            ->toHtml();
                        ?>

                    </div>

                </div>

                <!-- PAYMENTS Billing END -->


            </div>

            <section class="summary section-summary" id="section-summary-savePayments">
                <div class="head">
                    <h3><?php echo $this->__('Payment options'); ?></h3>
                    <button class="btn-edit pull-right"></button>
                </div>

                <!-- MONTHLY PAYMENTS summary -->
                <?php if( $checkoutLayout->isAvailableSection( 'payments_monthly' ) ): ?>
                <div class="section-head"><h5><?php echo $this->__('Monthly payment details'); ?></h5></div>
                <div class="section-content">

                    <!-- MONTHLY PAYMENTS SINGLE summary -->
                    <div vfde-show="payment[monthly][type] != split">
                    <?php $packageType = $packages[0]->getType();
                        $packageItemsBySubtype = $packages[0]->getPackagesProductsForSidebarSection(
                            $packages[0]->getData('items'), Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_ORDER_OVERVIEW
                        ); ?>

                        <div class="row">
                            <div class="col-sm-1">
                                <div class="sprite sprite-icon-<?php echo $packages[0]->isMobile() ? 'mobile' : 'internet-phone' ?> sprite-<?php echo $packageType; ?>"></div>
                            </div>
                            <div class="col-sm-11">


                                <div vfde-show="payment[monthly][type] == direct_debit">
                                    <p><strong><?php echo $this->__('Pay by bank transfer'); ?></strong></p>
                                    <p>
                                        IBAN:
                                        <span class="payment[monthly][direct_debit][iban][new]-summary" vfde-show="payment[iban] == new"></span>
                                        <span class="payment[monthly][direct_debit][iban][diff]-summary" vfde-show="payment[iban] == diff"></span>
                                        <span class="payment[monthly][direct_debit][iban][reuse]-summary" vfde-show="payment[iban] == reuse"></span>
                                    </p>

                                    <?php if( $checkoutLayout->isAvailableSection( 'payments_alternative_account_holder' ) ): ?>
                                    <div vfde-show="payment[monthly][alternative_account_holder] != 1">
                                    <?php endif; ?>

                                        <p>
                                            <span class="customer[firstname]-summary"></span> <span class="customer[lastname]-summary"></span>
                                        </p>
                                        <?php if ($checkoutLayout->isCustomerSohoAddressAvailable($this->hasCableOrFixedTypePackage()))  : ?>
                                            <p>
                                                <span class="customer_soho[address][street]-summary"></span>
                                                <span class="customer_soho[address][houseno]-summary"></span>
                                                <span class="customer_soho[address][addition]-summary"></span>
                                            </p>
                                            <p>
                                                <span class="customer_soho[address][postcode]-summary"></span>
                                                <span class="customer_soho[address][city]-summary"></span>
                                            </p>
                                        <?php else: ?>

                                            <?php if ($checkoutLayout->isCustomerPrivateAddressAvailable($this->hasFixedTypePackage(), $this->hasCableOrFixedTypePackage()))  : ?>

                                                <?php if (true === $checkoutLayout->isFieldAvailable('customer[c1-1]', null, intval($isSohoCustomer), intval($customer->getCommercialRegister()))) : ?>
                                                    <div vfde-show="customer[business][commercial_register] != 2">
                                                        <p>
                                                            <span class="customer[address][street]-summary"></span>
                                                            <span class="customer[address][houseno]-summary"></span>
                                                            <span class="customer[address][addition]-summary"></span>
                                                        </p>
                                                        <p>
                                                            <span class="customer[address][postcode]-summary"></span>
                                                            <span class="customer[address][city]-summary"></span>
                                                        </p>
                                                    </div>
                                                <?php else: ?>
                                                    <p>
                                                        <span class="customer[address][street]-summary"></span>
                                                        <span class="customer[address][houseno]-summary"></span>
                                                        <span class="customer[address][addition]-summary"></span>
                                                    </p>
                                                    <p>
                                                        <span class="customer[address][postcode]-summary"></span>
                                                        <span class="customer[address][city]-summary"></span>
                                                    </p>
                                                <?php endif; ?>

                                            <?php endif; ?>

                                        <?php endif; ?>

                                    <?php if( $checkoutLayout->isAvailableSection( 'payments_alternative_account_holder' ) ): ?>
                                    </div>
                                    <?php endif; ?>

                                    <?php if( $checkoutLayout->isAvailableSection( 'payments_alternative_account_holder' ) ): ?>
                                    <div vfde-show="payment[monthly][alternative_account_holder] == 1">
                                        <p>
                                            <span class="payment[monthly][alternative][firstname]-summary"></span>
                                            <span class="payment[monthly][alternative][lastname]-summary"></span>
                                        </p>
                                        <p>
                                            <span class="payment[monthly][alternative][street]-summary"></span>
                                            <span class="payment[monthly][alternative][houseno]-summary"></span>
                                            <span class="payment[monthly][alternative][addition]-summary"></span>
                                        </p>
                                        <p>
                                            <span class="payment[monthly][alternative][postcode]-summary"></span>
                                            <span class="payment[monthly][alternative][city]-summary"></span>
                                        </p>
                                    </div>
                                    <?php endif; ?>

                                </div>

                                <div vfde-show="payment[monthly][type] == banktransfer">
                                    <p><strong><?php echo $this->__('Pay by bank transfer'); ?></strong></p>
                                    <?php echo $this->__('Customer receives invoice'); ?>
                                </div>

                            </div>
                        </div>

                    </div>

                    <?php if($checkoutLayout->showSplitPayments()): ?>

                    <!-- MONTHLY PAYMENTS SPLIT summary -->
                    <div vfde-show="payment[monthly][type] == split">

                        <?php foreach($packages as $package):
                        $packageType = $package->getType();
                        $packageItemsBySubtype = $package->getPackagesProductsForSidebarSection(
                            $package->getData('items'),
                            Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_ORDER_OVERVIEW
                        ); ?>

                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="sprite sprite-icon-<?php echo $package->isMobile() ? 'mobile' : 'internet-phone' ?> sprite-<?php echo $packageType; ?>"></div>
                                </div>
                                <div class="col-sm-11">

                                    <div vfde-show="payment[monthly][<?php echo $package->getPackageId(); ?>][type] == direct_debit">
                                        <p class="package-name"><?php echo $this->__('Pay'); ?> <?php if(isset($packageItemsBySubtype['tariff']['items'])) {
                                                echo $this->__($packageItemsBySubtype['tariff']['items'][0]['name'] ?? "");
                                            } else {
                                                echo sprintf('%s %d', $this->__('Package'), $package->getPackageId());
                                            } ?> <?php echo $this->__('by bank transfer'); ?></p>
                                        <p>
                                            IBAN:
                                            <span class="payment[pakket][<?php echo $package->getPackageId(); ?>][direct_debit][iban][new]-summary"></span>
                                            <span class="payment[pakket][<?php echo $package->getPackageId(); ?>][direct_debit][iban][diff]-summary"></span>
                                            <span class="payment[pakket][<?php echo $package->getPackageId(); ?>][direct_debit][iban][reuse]-summary"></span>
                                        </p>

                                        <div vfde-show="payment[pakket][<?php echo $package->getPackageId(); ?>][alternative_account_holder] == 1">
                                            <p>
                                                <span class="payment[pakket][<?php echo $package->getPackageId(); ?>][alternative][firstname]-summary"></span>
                                                <span class="payment[pakket][<?php echo $package->getPackageId(); ?>][alternative][lastname]-summary"></span>
                                            </p>
                                            <p>
                                                <span class="payment[pakket][<?php echo $package->getPackageId(); ?>][alternative][street]-summary"></span>
                                                <span class="payment[pakket][<?php echo $package->getPackageId(); ?>][alternative][houseno]-summary"></span>
                                                <span class="payment[pakket][<?php echo $package->getPackageId(); ?>][alternative][addition]-summary"></span>
                                            </p>
                                            <p>
                                                <span class="payment[pakket][<?php echo $package->getPackageId(); ?>][alternative][postcode]-summary"></span>
                                                <span class="payment[pakket][<?php echo $package->getPackageId(); ?>][alternative][city]-summary"></span>
                                            </p>
                                        </div>


                                        <div vfde-show="payment[pakket][<?php echo $package->getPackageId(); ?>][alternative_account_holder] != 1">
                                            <p>
                                                <span class="customer[firstname]-summary"></span> <span class="customer[lastname]-summary"></span>
                                            </p>

                                            <?php if ($checkoutLayout->isCustomerSohoAddressAvailable($this->hasCableOrFixedTypePackage()))  : ?>
                                                <p>
                                                    <span class="customer_soho[address][street]-summary"></span>
                                                    <span class="customer_soho[address][houseno]-summary"></span>
                                                    <span class="customer_soho[address][addition]-summary"></span>
                                                </p>
                                                <p>
                                                    <span class="customer_soho[address][postcode]-summary"></span>
                                                    <span class="customer_soho[address][city]-summary"></span>
                                                </p>
                                            <?php else: ?>

                                                <?php if ($checkoutLayout->isCustomerPrivateAddressAvailable($this->hasFixedTypePackage(), $this->hasCableOrFixedTypePackage()))  : ?>

                                                    <?php if ($checkoutLayout->isFieldAvailable('customer[c1-1]', null, intval($isSohoCustomer), intval($customer->getCommercialRegister()))) : ?>
                                                        <div vfde-show="customer[business][commercial_register] != 2">
                                                            <p>
                                                                <span class="customer[address][street]-summary"></span>
                                                                <span class="customer[address][houseno]-summary"></span>
                                                                <span class="customer[address][addition]-summary"></span>
                                                            </p>
                                                            <p>
                                                                <span class="customer[address][postcode]-summary"></span>
                                                                <span class="customer[address][city]-summary"></span>
                                                            </p>
                                                        </div>
                                                    <?php else: ?>
                                                        <p>
                                                            <span class="customer[address][street]-summary"></span>
                                                            <span class="customer[address][houseno]-summary"></span>
                                                            <span class="customer[address][addition]-summary"></span>
                                                        </p>
                                                        <p>
                                                            <span class="customer[address][postcode]-summary"></span>
                                                            <span class="customer[address][city]-summary"></span>
                                                        </p>
                                                    <?php endif; ?>

                                                <?php endif; ?>

                                            <?php endif; ?>

                                        </div>
                                    </div>

                                    <div vfde-show="payment[monthly][<?php echo $package->getPackageId(); ?>][type] == banktransfer">

                                        <p class="package-name"><?php echo $this->__('Pay'); ?> <?php if(isset($packageItemsBySubtype['tariff']['items'][0])) {
                                                echo $this->__($packageItemsBySubtype['tariff']['items'][0]['name']);
                                            } else {
                                                echo sprintf('%s %d', $this->__('Package'), $package->getPackageId());
                                            } ?> <?php echo $this->__('by invoice'); ?></p>
                                        <p>
                                        <?php echo $this->__('Customer receives invoice'); ?>
                                    </div>


                                </div>
                            </div>

                        <?php endforeach; ?>

                    </div>

                    <?php endif; ?>

                </div>
                <?php endif; ?>

                <!-- ONE TIME PAYMENTS summary -->
                <?php if( $checkoutLayout->isAvailableSection('payments_onetime')): ?>
                <div class="section-head"><h5><?php echo $this->__('One-off payment details'); ?></h5></div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="<?php echo $this->getSkinUrl('images/all_payments.png')?>" class="all-img">
                        </div>
                        <div class="col-sm-11">

                            <div vfde-show="payment[one_time][type] == direct_debit">
                                <p><strong><?php echo $this->__('Pay by bank transfer'); ?></strong></p>
                                <p>
                                    IBAN:
                                    <?php if(!$checkoutData->getFieldValue("payment[one_time][direct_debit][iban]")) : ?>
                                    <span class="payment_one_time_iban_voicelog"></span>
                                    <?php else : ?>
                                    <span class="payment[one_time][direct_debit][iban]-summary"></span>
                                    <?php endif; ?>
                                </p>

                                <p>
                                    <span class="customer[firstname]-summary"></span> <span class="customer[lastname]-summary"></span>
                                </p>

                                <?php if ($checkoutLayout->isCustomerSohoAddressAvailable($this->hasCableOrFixedTypePackage()))  : ?>
                                    <p>
                                        <span class="customer[address][company_name]-summary"></span>
                                        <span class="customer[address][company_additional_name]-summary"></span>
                                    </p>
                                    <p>
                                        <span class="customer_soho[address][street]-summary"></span>
                                        <span class="customer_soho[address][houseno]-summary"></span>
                                        <span class="customer_soho[address][addition]-summary"></span>
                                    </p>
                                    <p>
                                        <span class="customer_soho[address][postcode]-summary"></span>
                                        <span class="customer_soho[address][city]-summary"></span>
                                    </p>
                                <?php else: ?>

                                    <?php if ($checkoutLayout->isCustomerPrivateAddressAvailable($this->hasFixedTypePackage(), $this->hasCableOrFixedTypePackage()))  : ?>

                                        <?php if ($checkoutLayout->isFieldAvailable('customer[c1-1]', null, intval($isSohoCustomer), intval($customer->getCommercialRegister()))) : ?>
                                            <div vfde-show="customer[business][commercial_register] != 2">
                                                <p>
                                                    <span class="customer[address][street]-summary"></span>
                                                    <span class="customer[address][houseno]-summary"></span>
                                                    <span class="customer[address][addition]-summary"></span>
                                                </p>
                                                <p>
                                                    <span class="customer[address][postcode]-summary"></span>
                                                    <span class="customer[address][city]-summary"></span>
                                                </p>
                                            </div>
                                        <?php else: ?>
                                            <p>
                                                <span class="customer[address][street]-summary"></span>
                                                <span class="customer[address][houseno]-summary"></span>
                                                <span class="customer[address][addition]-summary"></span>
                                            </p>
                                            <p>
                                                <span class="customer[address][postcode]-summary"></span>
                                                <span class="customer[address][city]-summary"></span>
                                            </p>
                                        <?php endif; ?>

                                    <?php endif; ?>

                                <?php endif; ?>

                            </div>

                            <div vfde-show="payment[one_time][type] == cashondelivery">
                                <p><strong><?php echo $this->__('Pay by cash delivery'); ?></strong></p>

                                <p>
                                    <span class="payment[one_time][cash][gender]-summary"></span>
                                    <span class="payment[one_time][cash][firstname]-summary"></span>
                                    <span class="payment[one_time][cash][lastname]-summary"></span>
                                </p>
                                <p>
                                    <span class="payment[one_time][cash][street]-summary"></span>
                                    <span class="payment[one_time][cash][houseno]-summary"></span>
                                    <span class="payment[one_time][cash][addition]-summary"></span>
                                </p>
                                <p>
                                    <span class="payment[one_time][cash][postcode]-summary"></span>
                                    <span class="payment[one_time][cash][city]-summary"></span>
                                </p>
                            </div>

                            <div vfde-show="payment[one_time][type] == checkmo">
                                <p><strong><?php echo $this->__('Pay by invoice'); ?></strong></p>
                                <?php echo $this->__('Customer receives invoice'); ?>
                            </div>

                        </div>
                    </div>
                </div>
                <?php endif; ?>

                <div>
                    <div class="section-head"><h5><?php echo $this->__('Billing Address'); ?></h5></div>
                    <div class="section-content">
                        <div class="row" vfde-show="billing[other_address][selected] != 5">
                            <?php $packageType = $packages[0]->getType();
                            $packageItemsBySubtype = $packages[0]->getPackagesProductsForSidebarSection(
                                $packages[0]->getData('items'), Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_ORDER_OVERVIEW
                            ); ?>
                            <div class="col-sm-1">
                                <?php if(count($packages) > 1) : ?>
                                <img src="<?php echo $this->getSkinUrl('images/all_payments.png')?>" class="all-img">
                                <?php else: ?>
                                <div class="sprite sprite-icon-<?php echo $packages[0]->isMobile() ? 'mobile' : 'internet-phone' ?> sprite-<?php echo $packageType; ?>"></div>
                                <?php endif; ?>
                            </div>
                            <div class="col-sm-11">

                                <!--SAME AS CUSTOMER-->
                                <div vfde-show="billing[other_address][selected] == 1">
                                    <p>
                                        <span class="customer[gender]-summary"></span> <span class="customer[prefix]-summary"></span>
                                        <span class="customer[firstname]-summary"></span> <span class="customer[lastname]-summary"></span>
                                    </p>

                                    <?php if ($checkoutLayout->isCustomerSohoAddressAvailable($this->hasCableOrFixedTypePackage()))  : ?>
                                        <p>
                                            <span class="customer[address][company_name]-summary"></span>
                                            <span class="customer[address][company_additional_name]-summary"></span>
                                        </p>
                                        <p>
                                            <span class="customer_soho[address][postcode]-summary"></span>
                                            <span class="customer_soho[address][city]-summary"></span>
                                        </p>
                                        <p>
                                            <span class="customer_soho[address][street]-summary"></span>
                                            <span class="customer_soho[address][houseno]-summary"></span>
                                            <span class="customer_soho[address][addition]-summary"></span>
                                        </p>
                                    <?php else: ?>

                                        <?php if ($checkoutLayout->isCustomerPrivateAddressAvailable($this->hasFixedTypePackage(), $this->hasCableOrFixedTypePackage()))  : ?>

                                            <?php if ($checkoutLayout->isFieldAvailable('customer[c1-1]', null, intval($isSohoCustomer), intval($customer->getCommercialRegister()))) : ?>
                                                <div vfde-show="customer[business][commercial_register] != 2">
                                                    <p>
                                                        <span class="customer[address][postcode]-summary"></span>
                                                        <span class="customer[address][city]-summary"></span>
                                                    </p>
                                                    <p>
                                                        <span class="customer[address][street]-summary"></span>
                                                        <span class="customer[address][houseno]-summary"></span>
                                                        <span class="customer[address][addition]-summary"></span>
                                                    </p>
                                                </div>
                                            <?php else: ?>
                                                <p>
                                                    <span class="customer[address][postcode]-summary"></span>
                                                    <span class="customer[address][city]-summary"></span>
                                                </p>
                                                <p>
                                                    <span class="customer[address][street]-summary"></span>
                                                    <span class="customer[address][houseno]-summary"></span>
                                                    <span class="customer[address][addition]-summary"></span>
                                                </p>
                                            <?php endif; ?>

                                        <?php endif; ?>

                                    <?php endif; ?>

                                </div>

                                <!--DIFFERENT ADDRESS-->
                                <div vfde-show="billing[other_address][selected] == 2">
                                    <p>
                                        <span class="billing[other_address][gender]-summary"></span>
                                        <span class="billing[other_address][prefix]-summary"></span>
                                        <span class="billing[other_address][firstname]-summary"></span>
                                        <span class="billing[other_address][lastname]-summary"></span>
                                    </p>
                                    <p>
                                        <span class="billing[other_address][postcode]-summary"></span>
                                        <span class="billing[other_address][city]-summary"></span>
                                    </p>
                                    <p>
                                        <span class="billing[other_address][street]-summary"></span>
                                        <span class="billing[other_address][houseno]-summary"></span>
                                        <span class="billing[other_address][addition]-summary"></span>
                                    </p>
                                </div>

                                <!--POBOX-->
                                <?php if( $checkoutLayout->showBillingPOBox() ): ?>
                                    <div vfde-show="billing[other_address][selected] == 3">
                                        <p>
                                            <span class="customer[gender]-summary"></span> <span class="customer[prefix]-summary"></span>
                                            <span class="customer[firstname]-summary"></span> <span class="customer[lastname]-summary"></span>
                                        </p>

                                        <?php if (true === $checkoutLayout->isFieldAvailable('customer[c1-4]', null, intval($isSohoCustomer), intval($customer->getCommercialRegister())))  : ?>
                                            <p>
                                                <span class="customer[address][company_name]-summary"></span>
                                                <span class="customer[address][company_additional_name]-summary"></span>
                                            </p>
                                        <?php endif; ?>
                                        <p>
                                            <span class="billing[other_address][pobox]-summary"></span>
                                            <span class="billing[other_address][postcode]-summary"></span>
                                            <span class="billing[other_address][city]-summary"></span>
                                        </p>
                                    </div>
                                <?php endif; ?>

                                <?php if( $checkoutLayout->customerAddressIsKnown() ): ?>
                                    <div vfde-show="billing[other_address][selected] == 4">
                                        <p>
                                            <span class="customer[gender]-summary"></span> <span class="customer[prefix]-summary"></span>
                                            <span class="customer[firstname]-summary"></span> <span class="customer[lastname]-summary"></span>
                                        </p>

                                        <?php if (true === $checkoutLayout->isFieldAvailable('customer[c1-4]', null, intval($isSohoCustomer), intval($customer->getCommercialRegister())))  : ?>
                                        <p>
                                            <span class="customer[address][company_name]-summary"></span>
                                            <span class="customer[address][company_additional_name]-summary"></span>
                                        </p>
                                        <?php endif; ?>

                                        <p><?php echo trim($customerKnownAddress['postcode']." ".$customerKnownAddress['city']); ?></p>
                                        <p><?php echo trim($customerKnownAddress['street'].
                                                " ".$customerKnownAddress['house_number'].
                                                " ".$customerKnownAddress['house_addition']); ?></p>
                                    </div>
                                <?php endif; ?>

                            </div>
                        </div>

                        <div vfde-show="billing[other_address][selected] == 5">
                            <?php foreach($packages as $package): ?>
                            <div class="row">
                                <?php $packageType = $package->getType();
                                $packageItemsBySubtype = $package->getPackagesProductsForSidebarSection(
                                    $package->getData('items'), Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_ORDER_OVERVIEW
                                ); ?>
                                <div class="col-sm-1">
                                    <div class="sprite sprite-icon-<?php echo $package->isMobile() ? 'mobile' : 'internet-phone' ?> sprite-<?php echo $packageType; ?>"></div>
                                </div>
                                <div class="col-sm-11">

                                    <!--SAME AS CUSTOMER-->
                                    <div vfde-show="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][selected] == 1">
                                        <p>
                                            <span class="customer[gender]-summary"></span> <span class="customer[prefix]-summary"></span>
                                            <span class="customer[firstname]-summary"></span> <span class="customer[lastname]-summary"></span>
                                        </p>

                                        <?php if ($checkoutLayout->isCustomerSohoAddressAvailable($this->hasCableOrFixedTypePackage()))  : ?>
                                            <p>
                                                <span class="customer[address][company_name]-summary"></span>
                                                <span class="customer[address][company_additional_name]-summary"></span>
                                            </p>
                                            <p>
                                                <span class="customer_soho[address][postcode]-summary"></span>
                                                <span class="customer_soho[address][city]-summary"></span>
                                            </p>
                                            <p>
                                                <span class="customer_soho[address][street]-summary"></span>
                                                <span class="customer_soho[address][houseno]-summary"></span>
                                                <span class="customer_soho[address][addition]-summary"></span>
                                            </p>
                                        <?php else: ?>

                                            <?php if ($checkoutLayout->isCustomerPrivateAddressAvailable($this->hasFixedTypePackage(), $this->hasCableOrFixedTypePackage()))  : ?>

                                                <?php if ($checkoutLayout->isFieldAvailable('customer[c1-1]', null, intval($isSohoCustomer), intval($customer->getCommercialRegister()))) : ?>
                                                    <div vfde-show="customer[business][commercial_register] != 2">
                                                        <p>
                                                            <span class="customer[address][postcode]-summary"></span>
                                                            <span class="customer[address][city]-summary"></span>
                                                        </p>
                                                        <p>
                                                            <span class="customer[address][street]-summary"></span>
                                                            <span class="customer[address][houseno]-summary"></span>
                                                            <span class="customer[address][addition]-summary"></span>
                                                        </p>
                                                    </div>
                                                <?php else: ?>
                                                    <p>
                                                        <span class="customer[address][postcode]-summary"></span>
                                                        <span class="customer[address][city]-summary"></span>
                                                    </p>
                                                    <p>
                                                        <span class="customer[address][street]-summary"></span>
                                                        <span class="customer[address][houseno]-summary"></span>
                                                        <span class="customer[address][addition]-summary"></span>
                                                    </p>
                                                <?php endif; ?>

                                            <?php endif; ?>

                                        <?php endif; ?>

                                    </div>

                                    <!--DIFFERENT ADDRESS-->
                                    <div vfde-show="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][selected] == 2">
                                        <p>
                                            <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][gender]-summary"></span>
                                            <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][prefix]-summary"></span>
                                            <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][firstname]-summary"></span>
                                            <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][lastname]-summary"></span>
                                        </p>
                                        <p>
                                            <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][postcode]-summary"></span>
                                            <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][city]-summary"></span>
                                        </p>
                                        <p>
                                            <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][street]-summary"></span>
                                            <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][houseno]-summary"></span>
                                            <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][addition]-summary"></span>
                                        </p>
                                    </div>

                                    <!--POBOX-->
                                    <?php if( $checkoutLayout->showBillingPOBox($package) ): ?>
                                        <div vfde-show="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][selected] == 3">
                                            <p>
                                                <span class="customer[gender]-summary"></span> <span class="customer[prefix]-summary"></span>
                                                <span class="customer[firstname]-summary"></span> <span class="customer[lastname]-summary"></span>
                                            </p>

                                            <?php if (true === $checkoutLayout->isFieldAvailable('customer[c1-4]', null, intval($isSohoCustomer), intval($customer->getCommercialRegister())))  : ?>
                                                <p>
                                                    <span class="customer[address][company_name]-summary"></span>
                                                    <span class="customer[address][company_additional_name]-summary"></span>
                                                </p>
                                            <?php endif; ?>
                                            <p>
                                                <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][pobox]-summary"></span>
                                                <span class="bbilling[pakket][<?php echo $package->getPackageId(); ?>][other_address][postcode]-summary"></span>
                                                <span class="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][city]-summary"></span>
                                            </p>
                                        </div>
                                    <?php endif; ?>

                                    <?php if( $checkoutLayout->customerAddressIsKnown() ): ?>
                                        <div vfde-show="billing[pakket][<?php echo $package->getPackageId(); ?>][other_address][selected] == 4">
                                            <p>
                                                <span class="customer[gender]-summary"></span> <span class="customer[prefix]-summary"></span>
                                                <span class="customer[firstname]-summary"></span> <span class="customer[lastname]-summary"></span>
                                            </p>

                                            <?php if (true === $checkoutLayout->isFieldAvailable('customer[c1-4]', null, intval($isSohoCustomer), intval($customer->getCommercialRegister())))  : ?>
                                                <p>
                                                    <span class="customer[address][company_name]-summary"></span>
                                                    <span class="customer[address][company_additional_name]-summary"></span>
                                                </p>
                                            <?php endif; ?>

                                            <p><?php echo trim($customerKnownAddress['postcode']." ".$customerKnownAddress['city']); ?></p>
                                            <p><?php echo trim($customerKnownAddress['street'].
                                                    " ".$customerKnownAddress['house_number'].
                                                    " ".$customerKnownAddress['house_addition']); ?></p>
                                        </div>
                                    <?php endif; ?>

                                </div>

                            </div>
                            <?php endforeach; ?>
                        </div>

                    </div>
                </div>

            </section>

        </div>
    </div>

        <?php if (!$this->getCustomerSession()->getOrderEdit()): ?>

            <div class="checkout-section prev-next-section">
                <div class="checkout-timeline">
                    <!--                    <div v-my-tooltip.right-middle="{ content: 'CUSTOMER INFORMATION', classes:'checkout-timeline-point'}"></div>-->
                </div>
                <div class="checkout-content">
                    <div class="checkout-content-body">
                        <div class="checkout-section-container dt">
                            <div class="tr">
                                <div class="tc al vm ">
                                    <a class="arrow-back checkout-continue-btn step back-button" href="/"><?php echo $this->__('Back to configuration'); ?></a>
                                </div>
                                <div class="tc ar">
                                    <button data-step="savePayments" class="btn btn-primary step checkout-continue-btn" type="submit"><?php echo $this->__('Next step'); ?></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <?php endif; ?>

    </form>
</div>

<script>

    // Setup monthly payments options
    function initMonthlyPayments() {
        // Automatically select 1st options if no data for this step present
        var $monthlyPaymentsSelectedOption = '<?php echo $checkoutData->getFieldValue("payment[monthly][type]" ); ?>';
        if( $monthlyPaymentsSelectedOption == '' ) {
            jQuery('#monthly-payments .accordion-head input:first').click().change();
        } else {
            jQuery('#monthly-payments .accordion-head input[value="' + $monthlyPaymentsSelectedOption + '"]').not('.split-head').click().change();
        }
        // Check if only one option present, then disable it automatically
        var $countMonthlyAvailable = jQuery('#monthly-payments .accordion-item:visible').length;
        if( $countMonthlyAvailable == 1 ) {
            jQuery('#monthly-payments .accordion-item:visible').addClass('disabled');
            jQuery('#monthly-payments .accordion-item:visible input:first').trigger('click');
        }
    }

    // Setup onetime payments options
    function initOnetimePayments() {
        // Automatically select 1st options if no data for this step present
        var $onetimePaymentsSelectedOption = '<?php echo $checkoutData->getFieldValue("payment[one_time][type]" ); ?>';
        if( $onetimePaymentsSelectedOption == '' ) {
            jQuery('#onetime-payments .accordion-head input:first').click().change();
        } else {
            jQuery('#onetime-payments .accordion-head input[value="' + $onetimePaymentsSelectedOption + '"]').click().change();
        }
        // Check if only one option present, then disable it automatically
        var $countOnetimeAvailable = jQuery('#onetime-payments .accordion-item:visible').length;
        if ($countOnetimeAvailable == 1) {
            jQuery('#onetime-payments .accordion-item:visible').addClass('disabled');
            jQuery('#onetime-payments .accordion-item:visible input:first').trigger('click');
        }
        setupOnetimeIBAN();
    }

    // Setup billing options
    function initBillingOptions() {
        // Check if only one option present, then disable it automatically
        var $countBillingAvailable = jQuery('#billing-payments .accordion-item:visible').length;
        if( $countBillingAvailable == 1 ) {
            jQuery('#billing-payments .accordion-item:visible').addClass('disabled');
            jQuery('#billing-payments .accordion-item:visible input:first').trigger('click');
        }
    }

    // Setup onetime IBAN options
    function setupOnetimeIBAN() {
        // If any IBAN monthly payment option is available, then disable onetime IBAN fillin
        if( jQuery('#monthly-payments .accordion-item.active .iban-field').length > 0 ) {
            jQuery('#onetime-by-bank-transfer .accordion-head').addClass('accordion-head-markerless');
            jQuery('#onetime-by-bank-transfer .accordion-body').hide();
            checkout.removeCheckoutContainerValidationRules($j('#onetime-by-bank-transfer .accordion-body').find('.one-time'));
            var $iban = jQuery('input[id="payment[one_time][direct_debit][iban]"]').val();
            if( $iban != "" ) {
                $iban = ' (' + $iban + ')';
            }
            jQuery('#onetime_option_name').html( jQuery('#onetime_option_name').data('contents') + $iban );
        } else {
            jQuery('#onetime-by-bank-transfer .accordion-head').removeClass('accordion-head-markerless');
            jQuery('#onetime-by-bank-transfer .accordion-body').show();
            checkout.setCheckoutContainerValidationRules($j('#onetime-by-bank-transfer .accordion-body').find('.one-time'));
            jQuery('#onetime_option_name').html( jQuery('#onetime_option_name').data('contents') );
        }
    }

    // Update alternative account holder visibility and validation
    function toggleAlternativeAccountBlocks(element) {
        var $context = $(element).closest('.accordion-body');
        jQuery('.alternative-account-holder', $context).addClass('hidden');
        checkout.removeCheckoutContainerValidationRules(jQuery('.alternative-account-holder', $context));
        if (element.prop('checked') !== false) {
            jQuery('.alternative-account-holder', $context).removeClass('hidden');
            checkout.setCheckoutContainerValidationRules(jQuery('.alternative-account-holder', $context));
        }
        if (element.attr('data-newsepaform') == 'update') {
            jQuery('.remove-for-alternative-payment', $context).removeClass('hidden');
            if (element.is(':checked')) {
                jQuery('.remove-for-alternative-payment', $context).addClass('hidden');
            }
        }
    }

    // Update one-time payments and validation
    function switchOneTimePayment(elem) {
        var stepContainer = '#onetime-payments';
        checkout.removeCheckoutContainerValidationRules($j(stepContainer).find('.one-time'));
        if( $j(stepContainer).find('.one-time.' + elem.value).length > 0 ) {
            $j(stepContainer).find('.one-time').addClass('hidden');
            $j(stepContainer).find('.one-time.' + elem.value).removeClass('hidden');
            checkout.setCheckoutContainerValidationRules($j(stepContainer).find('.one-time.' + elem.value));
        }
    }

    // Update monthly payments visibility and validaton
    function switchMonthlyPayment(elem) {
        var $value = elem.value;
        var $cotainer = $(elem).closest('.accordion-item');
        if( $value.indexOf("|") > 0 ) {
            $value = $value.substring( 0, $value.indexOf("|") );
        }
        if( $value.length == 0 ) {
            return;
        }
        toggleSplitPaymentsDefaultOptions( $value );
        var splitCheckboxChecked = jQuery('input[id="payment[monthly][type][split]"]').is(':checked');
        var isSplitPayments = jQuery(elem).parents('.split-body').length > 0;
        switch( true ) {
            case !splitCheckboxChecked && isSplitPayments:
                // Do not change anything as this is a hidden call
                break;
            case splitCheckboxChecked && isSplitPayments:
                checkout.removeCheckoutContainerValidationRules($j('#monthly-payments').find('.monthly'));
                checkout.setCheckoutContainerValidationRules($j('#monthly-payments .split-body').find('.accordion-item.active').find('.monthly'));
                break;
            default:
                checkout.removeCheckoutContainerValidationRules($j('#monthly-payments').find('.monthly'));
                checkout.setCheckoutContainerValidationRules($j($cotainer).find('.'+$value+'.monthly:visible'));
                break;
        }
        $j('#monthly-payments').find('.validation-failed').removeClass('validation-failed');
        setupOnetimeIBAN();
    }

    // Enable payment address
    function showPaymentAddressDetails(elem) {
        var companyName = jQuery('[id="customer[address][company_name]"]').val();
        var streetHouseNr = jQuery('[id="customer[address][street]"]').val() + ' ' + jQuery('[id="customer[address][houseno]"]').val();
        var postcodeCity = jQuery('[id="customer[address][postcode]"]').val() + ' ' + jQuery('[id="customer[address][city]"]').val();
        var stepContainer = jQuery(elem).parents('.accordion-body');
        jQuery('.payment-address-details',stepContainer).empty()
            .append(companyName + '<br>')
            .append(streetHouseNr + '<br>')
            .append(postcodeCity);
        jQuery('.paymentAddress',stepContainer).removeClass('hidden');
    }

    // Disable payment address
    function hidePaymentAddressDetails(elem) {
        var stepContainer = jQuery(elem).parent('.accordion-body');
        jQuery('.paymentAddress',stepContainer).addClass('hidden');
    }

    // Enable defaults for split payments, per package
    function toggleSplitPaymentsDefaultOptions( $value ) {
        if( $value == 'split' ) {
            jQuery('#monthly-payments section.split-options').each( function( index, item ) {
                if( jQuery( '.accordion-item.active', item ).length == 0 ) {
                    jQuery( '.accordion-item .accordion-head input:radio', item ).first().click().change();
                    //checkout.validateIBANRequest( jQuery( 'input.known-customer', item ) );
                } else {
                    jQuery( '.accordion-item .accordion-head.active input:radio', item ).change();
                }
            });
        }
    }

    // Update billing address for SOHO
    function switchBillingSohoFields( stepContainer, elem ) {
        var billingSohoFields = jQuery('.billing-soho-fields',stepContainer);
        if( jQuery( elem ).val() == '3' ) {
            billingSohoFields.removeClass('hidden');
            jQuery('[data-id="billing[other_address][firstname]"],[data-id="billing[other_address][lastname]"]',$container).parent().addClass('hidden')
            jQuery('[data-id="billing[other_address][firstname]"],[data-id="billing[other_address][lastname]"]',$container).removeClass('required-entry validate-name');
           checkout.setCheckoutContainerValidationRules(billingSohoFields);
        } else {
            jQuery('[data-id="billing[other_address][firstname]"],[data-id="billing[other_address][lastname]"]',stepContainer).parent().removeClass('hidden');
            jQuery('[data-id="billing[other_address][firstname]"],[data-id="billing[other_address][lastname]"]',stepContainer).addClass('required-entry validate-name');
            billingSohoFields.addClass('hidden');
            checkout.removeCheckoutContainerValidationRules(billingSohoFields);
        }
    }

    // Update address type options
    function switchAddressType( stepContainer, enabled, type ) {
        $j(stepContainer).find('.switch-address').addClass('hidden');
        checkout.removeCheckoutContainerValidationRules($j(stepContainer).find('.switch-address'));
        if ( enabled != undefined ) {
            $j(stepContainer).find('.type-' + type).removeClass('hidden');
            checkout.setCheckoutContainerValidationRules($j(stepContainer).find('.type-' + type ));
        }
    }

    // Update billing address options
    function switchOtherAddress(elem) {
        var stepContainer = jQuery( elem ).closest('.accordion-item');
        checkout.removeCheckoutContainerValidationRules(
            stepContainer.siblings('.accordion-item').not('.active').find('.accordion-body').not('.split-body')
        );
        switch( jQuery( elem ).val() ) {
            case '2':
                // Other address
                var $_matchContainer = $j(stepContainer).find('.type-address');
                $_matchContainer.removeClass('hidden');
                switchAddressType( stepContainer, true, 'address' );
                switchBillingSohoFields( stepContainer, jQuery('input[data-id="billing[other_address][gender]"]',stepContainer) );
                checkout.setCheckoutContainerValidationRules( stepContainer );
                break;
            case '3':
                // PO Box
                var $_matchContainer = $j(stepContainer).find('.type-address');
                $_matchContainer.removeClass('hidden');
                switchAddressType( stepContainer, true, 'pobox' );
                checkout.setCheckoutContainerValidationRules( stepContainer );
                break;
            case '5':
                // Split
                jQuery('#billing-payments section.split-options').each( function( index, item ) {
                    if( jQuery( '.accordion-item.active', item ).length == 0 ) {
                        jQuery( '.accordion-item .accordion-head input:radio', item ).first().click();
                    }
                });
                break;
            default:
                var $_matchContainer = $j(stepContainer).find('.type-address');
                $_matchContainer.addClass('hidden');
                switchAddressType( stepContainer );
                break;
        }

    }

    // Sunmary helper
    function reuseIbanSelect(element) {
        var summaryElement = jQuery('[class="payment[monthly][direct_debit][iban][reuse]-summary"]');
        summaryElement.text(element.val().split('|')[1]);
    }

    // Summary helper
    function reuseIbanSummaryUpdate (element) {
        if(element.val().search('|') == -1) {
            jQuery('[class="payment[monthly][direct_debit][iban][reuse]-summary"]').css('display', 'none');
        } else {
            jQuery('[class="payment[monthly][direct_debit][iban][reuse]-summary"]').css('display', 'inline');
        }
    }

</script>