<?php /** @var $this Dyna_Checkout_Block_Cart_Steps_SaveBilling */

/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

$packages = $this->getPackages();

/** @var Dyna_Customer_Model_Session $session */
$session = Mage::getSingleton('dyna_customer/session');
/** @var Dyna_Agent_Model_Dealer $agent */
$agent = $session->getAgent();
$agreementConditionsRequired = $agent->isGranted(array('VOICELOG_REQUIRED'));
$hasSubmitOrder = $agent->isGranted(array('SUBMIT_ORDER'));

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");
$checkoutLayout->setupFormLayout();

$deliveryAddress = [
    "street" => '',
    "zipcode" => '',
];
$customer = [];
$customerFields = $this->getCustomerFields();
if (count($customerFields)) {

    $customer = [
        'name' => sprintf("%s %s %s", htmlspecialchars($customerFields['customer[prefix]']), htmlspecialchars($customerFields['customer[firstname]']), htmlspecialchars($customerFields['customer[lastname]'])),
    ];

    $deliveryAddress = [
        "street" => htmlspecialchars($customerFields['customer[address][street]'] ?? '') . ' ' . htmlspecialchars($customerFields['customer[address][houseno]'] ?? ''),
        "zipcode" => htmlspecialchars($customerFields['customer[address][postcode]'] ?? '') . ' ' . htmlspecialchars($customerFields['customer[address][city]'] ?? '')
    ];
}

$customer = $this->getCustomer();
$hasDifferentAddress = $this->getCustomerAddress() !== $this->getServiceAddressDetails();

/** @var Dyna_Bundles_Helper_Data $bundlesHelper */
$bundlesHelper = Mage::helper('bundles');

/** @var Dyna_Checkout_Model_Sales_Quote $quote */
$quote = Mage::getSingleton('checkout/cart')->getQuote();

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper("dyna_checkout/fields");

// if sales ids triple is not available, save offer and confirm order buttons will be disabled
$salesIdsTriple = $bundlesHelper->getProvisDataByRedSalesId($quote->getRedSalesId());
// if the offer contains a cable package which doesn't contain Marketing, Campaign and Werbe codes, disable saveOffer button
$cableOfferAttributes = $helper->checkCableOfferAttributes();
/**
 * Voicelog ruling flags
 */
$showMoveOrMigrationInfo = $cableOnlyOrder = $isGigakombi = $hasMobile = $hasDslLte = false;
$isActivationOrder = 0;
$noCableOrder = true;
$isMpo = count($packages) > 1 ? true : false;
$serviceAddressDetails = $this->getServiceAddressDetails();

?>


<div class="bs-docs-section hidden" id="saveOverviewArea">
    <form class="cart" action="saveOverview" method="post" role="form" id="saveOverview">

        <div class="checkout-section" id="checkout-section-nineth">
            <div class="checkout-timeline">
                <!--<div v-my-tooltip.right-middle="{ content: 'Previous connection', classes:'checkout-timeline-point'}"></div>-->
            </div>
            <div class="checkout-content">
                <div class="checkout-content-body checkout-content-naked" style="overflow:hidden">
                    <p class="section-header-capitals">
                        <?php echo $this->__('Terms &#38; Conditions'); ?>
                    </p>

                    <p class="section-header">
                        <?php echo $this->__('Sales and service verification'); ?>
                    </p>

                    <!-- General VL agreement END -->

                    <div class="checkout-section-container">

                        <?php if ($checkoutLayout->isDeliveryOptionsSectionAvailable()): ?>
                            <div class="voicelog-text-container">

                                <!-- SPLIT DELIVERY ADDRESS -->

                                <?php if ($checkoutLayout->isDeliveryOptionsSectionAvailable()): ?>
                                    <div id="delivery_method_split" class="section-content">
                                        <?php foreach ($packages as $package) {
                                            $packageType = $package->getType();
                                            $packageItemsBySubtype = $package->getPackagesProductsForSidebarSection(
                                                $package->getData('items'),
                                                Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_ORDER_OVERVIEW
                                            );
                                            $packageTypeAndTariffTitles = Mage::helper('dyna_package')->getTypeAndSubtypeTitle($package, Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION);

                                            $migrationOrMoveOffnetState = Mage::getSingleton('checkout/cart')->getCheckoutSession()->getInMigrationOrMoveOffnetState();

                                            if ($package->isCrossSell()) {
                                                $showMoveOrMigrationInfo = 'X';
                                            }
                                            if ($migrationOrMoveOffnetState == Dyna_Catalog_Model_Type::MIGRATION) {
                                                $showMoveOrMigrationInfo = 'M';
                                            }
                                            if ($migrationOrMoveOffnetState == Dyna_Catalog_Model_Type::MOVE_OFFNET) {
                                                $showMoveOrMigrationInfo = 'F';
                                            }

                                            if ($package->getSaleType() == Dyna_Checkout_Model_Sales_Quote_Item::ACQUISITION || $package->getSaleType() == Dyna_Catalog_Model_ProcessContext::MIGCOC) {
                                                $isActivationOrder += 1;
                                            }
                                            if ($package->isCable()) {
                                                $noCableOrder = false;
                                                $cableOnlyOrder = true;
                                            } else {
                                                $cableOnlyOrder = false;
                                            }
                                            if ($package->isMobile()) {
                                                $hasMobile = true;
                                            }
                                            if ($package->isDsl() || $package->isLte()) {
                                                $hasDslLte = true;
                                            }
                                            if ($package->isPartOfGigaKombi()) {
                                                $isGigakombi = true;
                                            }

                                            ?>
                                            <p class="voicelog-overview large-text strong"><strong>
                                                    <!-- DELIVERY HEADERS -->
                                                    <?php
                                                    if (true === $package->isCable()):
                                                        ?>
                                                        <span vfde-show="provider_<?php echo $packageType ?>_connection_active == 0">
                                                                <?php echo $this->__('We want to send your cable / TV set to this address') ?>
                                                            </span>
                                                        <span vfde-show="provider_<?php echo $packageType ?>_connection_active == 1">
                                                                <?php echo $this->__('We want to send your device (s) to the following address') ?>
                                                            </span>
                                                        <?php
                                                    else:
                                                        echo sprintf($this->__('Your %s hardware will be delivered to the following address:'),$packageTypeAndTariffTitles['packageTitle']);
                                                    endif;
                                                    ?>
                                                    <!-- DELIVERY HEADERS ENDS -->
                                                </strong></p>
                                            <!-- summary SOHO -->
                                            <?php if ($customer->getIsSoho()) { ?>
                                                <p>
                                                    <?php echo __('Fa.') ?>
                                                    <span class="customer[address][company_name]-summary"></span>
                                                    <?php echo __('z.Hdn') ?>
                                                    <span class="customer[gender]-summary"></span> <span
                                                            class="customer[lastname]-summary"></span>
                                                </p>
                                                <!-- summary PRIVAT -->
                                            <?php } else { ?>
                                                <p>
                                                    <span class="customer[gender]-summary"></span> <span
                                                            class="customer[prefix]-summary"></span>
                                                    <span class="customer[firstname]-summary"></span> <span
                                                            class="customer[lastname]-summary"></span>
                                                </p>
                                            <?php } ?>
                                            <div container="delivery[method][service]-container">
                                                <div vfde-show="delivery[deliver][<?php echo $package->getPackageId(); ?>][address] == service">
                                                    <!-- summary SERVICE per package -->
                                                    <?php if ($checkoutLayout->hasServiceAddressVisible(array($package))) { ?>
                                                        <p><?php echo $serviceAddressDetails['street'] . " " . $serviceAddressDetails['houseno'] . " " . $serviceAddressDetails['addition']; ?></p>
                                                        <p><?php echo $serviceAddressDetails['postcode'] . " " . $serviceAddressDetails['city']; ?></p>
                                                    <?php } ?>
                                                </div>
                                            </div>

                                            <!-- summary CUSTOMER ADDRESS per package -->
                                            <?php if ($checkoutLayout->hasBillingAddressVisible(array($package))) { ?>
                                                <div vfde-show="delivery[deliver][<?php echo $package->getPackageId(); ?>][address] == deliver">
                                                    <?php if ($checkoutLayout->isCustomerSohoAddressAvailable($this->hasCableOrFixedTypePackage())) { ?>
                                                        <p>
                                                            <span class="customer_soho[address][street]-summary"></span>
                                                            <span class="customer_soho[address][houseno]-summary"></span>
                                                            <span class="customer_soho[address][addition]-summary"></span>
                                                        </p>
                                                        <p>
                                                            <span class="customer_soho[address][postcode]-summary"></span>
                                                            <span class="customer_soho[address][city]-summary"></span>
                                                        </p>
                                                    <?php } else { ?>
                                                        <p>
                                                            <span class="customer[address][street]-summary"></span>
                                                            <span
                                                                    class="customer[address][houseno]-summary"></span>
                                                            <span
                                                                    class="customer[address][addition]-summary"></span>
                                                        </p>
                                                        <p>
                                                            <span class="customer[address][postcode]-summary"></span>
                                                            <span class="customer[address][city]-summary"></span>
                                                        </p>
                                                    <?php } ?>
                                                </div>
                                            <?php } ?>
                                            <!-- summary OTHER ADDRESS per package -->
                                            <?php if ($checkoutLayout->hasDifferentAddressVisible(array($package))) { ?>
                                                <div vfde-show="delivery[deliver][<?php echo $package->getPackageId(); ?>][address] == other_address">
                                                    <p>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][gender]-summary"></span>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][prefix]-summary"></span>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][firstname]-summary"></span>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][lastname]-summary"></span>
                                                    </p>
                                                    <p>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][company_name]-summary"></span>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][co_name]-summary"></span>
                                                    </p>
                                                    <p>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][street]-summary"></span>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][houseno]-summary"></span>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][addition]-summary"></span>
                                                    </p>
                                                    <p>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][postcode]-summary"></span>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][city]-summary"></span>
                                                    </p>
                                                </div>
                                            <?php } ?>
                                            <!-- summary STORE -->
                                            <?php if ($checkoutLayout->hasDeliverToVFShopVisible($packages)) { ?>
                                                <div vfde-show="delivery[deliver][<?php echo $package->getPackageId(); ?>][address] == pickup">
                                                    <p>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][store]-shop-name-summary"></span>
                                                    </p>
                                                    <p>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][store]-shop-street-summary"></span>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][store]-shop-houseno-summary"></span>
                                                    </p>
                                                    <p>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][store]-shop-postcode-summary"></span>
                                                        <span class="delivery[pakket][<?php echo $package->getPackageId(); ?>][store]-shop-city-summary"></span>
                                                    </p>
                                                </div>
                                            <?php } ?>

                                            <!-- Installation Type -->
                                            <?php
                                            if ($isMpo && true === $package->isCable()) {
                                                ?>
                                                <p vfde-show="provider_<?php echo $packageType ?>_connection_active == 1"><?php echo $this->__('A technician from Vodafone Kabel Germany wants to contact you. Together, arrange an appointment - at your home. On this date, our technician brings along your new equipment.') ?></p>
                                                <p vfde-show="provider_<?php echo $packageType ?>_connection_active == 0"><?php echo $this->__('So you can connect your device yourself. Just follow the steps in the guide. ') ?></p>
                                            <?php } ?>
                                            <!-- Installation Type END -->
                                        <?php } ?>
                                    </div>
                                <?php endif; ?>

                                <!-- SINGLE DELIVERY ADDRESS -->

                                <div id="delivery_method_solid" class="section-content">

                                    <?php
                                    $packageType = $packages[0]->getType();
                                    $packageItemsBySubtype = $packages[0]->getPackagesProductsForSidebarSection(
                                        $packages[0]->getData('items'),
                                        Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_ORDER_OVERVIEW
                                    );
                                    $packageTypeAndTariffTitles = Mage::helper('dyna_package')->getTypeAndSubtypeTitle($package, Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION);

                                    $moveOrMigration = $packages[0]->getUseCaseIndication();
                                    $migrationOrMoveOffnetState = Mage::getSingleton('checkout/cart')->getCheckoutSession()->getInMigrationOrMoveOffnetState();

                                    if ($package->isCrossSell()) {
                                        $showMoveOrMigrationInfo = 'X';
                                    }
                                    if ($migrationOrMoveOffnetState == Dyna_Catalog_Model_Type::MIGRATION) {
                                        $showMoveOrMigrationInfo = 'M';
                                    }
                                    if ($migrationOrMoveOffnetState == Dyna_Catalog_Model_Type::MOVE_OFFNET) {
                                        $showMoveOrMigrationInfo = 'F';
                                    }


                                    if ($packages[0]->getSaleType() == Dyna_Checkout_Model_Sales_Quote_Item::ACQUISITION || $packages[0]->getSaleType() == Dyna_Catalog_Model_ProcessContext::MIGCOC) {
                                        $isActivationOrder += 1;
                                    }
                                    if ($packages[0]->isCable()) {
                                        $noCableOrder = false;
                                        $cableOnlyOrder = true;
                                    }
                                    if ($packages[0]->isMobile()) {
                                        $hasMobile = true;
                                    }
                                    if ($packages[0]->isDsl() || $packages[0]->isLte()) {
                                        $hasDslLte = true;
                                    }
                                    if ($packages[0]->isPartOfGigaKombi()) {
                                        $isGigakombi = true;
                                    }


                                    ?>

                                    <p class="voicelog-overview large-text strong">
                                        <strong><?php echo __('We will send your devices to this address') ?> :</strong>
                                    </p>
                                    <!-- summary SOHO -->
                                    <?php if ($customer->getIsSoho()) { ?>
                                        <p>
                                            <?php echo __('Fa.') ?>
                                            <span class="customer[address][company_name]-summary"></span>
                                            <?php echo __('z.Hdn') ?>
                                            <span class="customer[gender]-summary"></span> <span
                                                    class="customer[lastname]-summary"></span>
                                        </p>
                                        <!-- summary PRIVAT -->
                                    <?php } else { ?>
                                        <p>
                                            <span class="customer[gender]-summary"></span> <span
                                                    class="customer[prefix]-summary"></span>
                                            <span class="customer[firstname]-summary"></span> <span
                                                    class="customer[lastname]-summary"></span>
                                        </p>
                                    <?php } ?>
                                    <!-- summary SERVICE -->
                                    <?php if ($checkoutLayout->hasServiceAddressVisible($packages, $hasDifferentAddress)) { ?>
                                        <div vfde-show="delivery[deliver][address] == service">
                                            <p><?php echo $serviceAddressDetails['postcode'] . " " . $serviceAddressDetails['city']; ?></p>
                                            <p><?php echo $serviceAddressDetails['street'] . " " . $serviceAddressDetails['houseno'] . " " . $serviceAddressDetails['addition']; ?></p>
                                        </div>
                                    <?php } ?>
                                    <!-- summary CUSTOMER ADDRESS -->
                                    <?php if ($checkoutLayout->hasBillingAddressVisible($packages)) { ?>
                                        <div vfde-show="delivery[deliver][address] == deliver">
                                            <?php if ($checkoutLayout->isCustomerSohoAddressAvailable($this->hasCableOrFixedTypePackage())) { ?>
                                                <p>
                                                    <span class="customer_soho[address][street]-summary"></span>
                                                    <span class="customer_soho[address][houseno]-summary"></span>
                                                    <span class="customer_soho[address][addition]-summary"></span>
                                                </p>
                                                <p>
                                                    <span class="customer_soho[address][postcode]-summary"></span>
                                                    <span class="customer_soho[address][city]-summary"></span>
                                                </p>
                                            <?php } else { ?>
                                                <p>
                                                    <span class="customer[address][street]-summary"></span> <span
                                                            class="customer[address][houseno]-summary"></span> <span
                                                            class="customer[address][addition]-summary"></span>
                                                </p>
                                                <p>
                                                    <span class="customer[address][postcode]-summary"></span>
                                                    <span class="customer[address][city]-summary"></span>
                                                </p>
                                            <?php } ?>
                                        </div>
                                    <?php } ?>
                                    <!-- summary OTHER ADDRESS -->
                                    <?php if ($checkoutLayout->hasDifferentAddressVisible($packages)) { ?>
                                        <div vfde-show="delivery[deliver][address] == other_address">
                                            <p>
                                                <span class="delivery[other_address][street]-summary"></span>
                                                <span class="delivery[other_address][houseno]-summary"></span>
                                                <span class="delivery[other_address][addition]-summary"></span>
                                            </p>
                                            <p>
                                                <span class="delivery[other_address][postcode]-summary"></span>
                                                <span class="delivery[other_address][city]-summary"></span>
                                            </p>
                                        </div>
                                    <?php } ?>
                                    <!-- summary STORE -->
                                    <?php if ($checkoutLayout->hasDeliverToVFShopVisible($packages)) { ?>
                                        <div vfde-show="delivery[deliver][address] == pickup">
                                            <p>
                                                <span class="delivery[pickup][store]-shop-name-summary"></span>
                                            </p>
                                            <p>
                                                <span class="delivery[pickup][store]-shop-street-summary"></span>
                                                <span class="delivery[pickup][store]-shop-houseno-summary"></span>
                                            </p>
                                            <p>
                                                <span class="delivery[pickup][store]-shop-postcode-summary"></span>
                                                <span class="delivery[pickup][store]-shop-city-summary"></span>
                                            </p>
                                        </div>
                                    <?php } ?>

                                    <?php
                                    foreach ($packages as $package) {
                                        if ($isMpo && $package->isCable()) {
                                            $packageType = $package->getType();
                                            ?>
                                            <p vfde-show="provider_<?php echo $packageType ?>_connection_active == 1"><?php echo $this->__('Ein Techniker von Vodafone Kabel Deutschland meldet sich bei Ihnen. Zusammen vereinbaren Sie dann einen Termin – bei Ihnen zu Hause. Zu diesem Termin bringt unser Techniker auch Ihre neuen Geräte mit.') ?></p>
                                            <p vfde-show="provider_<?php echo $packageType ?>_connection_active == 0"><?php echo $this->__('Sie können Ihr Gerät auch selbst anschließen. Folgen Sie einfach den Schritten in der Anleitung. ') ?></p>
                                        <?php }
                                    } ?>
                                </div>
                            </div>
                        <?php endif; ?>

                        <!-- summary Migration or Move Offnet -->
                        <?php if ($showMoveOrMigrationInfo == 'M'): ?>
                            <div class="voicelog-text-container">
                                <p class="voicelog-overview large-text strong">
                                    <strong><?php echo $this->__('This is important for your switch from DSL to cable or DSL to DSL (Migration and Move Open)') ?></strong>
                                </p>
                                <p>
                                <span><?php
                                    if ($customer->getIsSoho()) {
                                    if ($customer->getCompanyName()) {
                                        echo $this->__('Fa');
                                        echo $customer->getCompanyName();
                                    }
                                    echo $this->__('z. Hdn');
                                    ?>
                                </span>
                                    <span class="customer[prefix]-summary"></span>
                                    <span class="customer[firstname]-summary"></span>
                                    <?php
                                    } else {
                                        ?>
                                        <span class="customer[gender]-summary"></span>
                                        <span class="customer[prefix]-summary"></span>
                                        <span class="customer[firstname]-summary"></span>
                                        <span class="customer[lastname]-summary"></span>
                                        <?php
                                    }
                                    ?>
                                </p>
                                <p>
                                    <?php
                                    echo $this->__('We do this as we discussed it with you: we solve your DSL contract with us. And you switch to the more powerful network of Vodafone Kabel Deutschland. With the installation Vodafone Kabel Deutschland accepts your order. From this point on, you can use the Internet from the TV socket. To do and change your old phone number: We do it for you. You do not need to do anything. Sit back and relax.');
                                    ?>
                                </p>
                            </div>
                            <?php
                        endif; ?>

                        <?php if ($hasDslLte || !$noCableOrder): ?>
                            <div class="voicelog-text-container">
                                <p class="voicelog-overview large-text strong">
                                    <strong><?php echo $this->__('So geht es weiter') ?></strong>
                                </p>
                                <?php foreach ($packages as $package) {

                                    if ($isMpo && true === $package->isCable()) {
                                        echo $this->__('You will receive the complete contract documents for the next few days. Vodafone Kabel Deutschland GmbH accepts your order: by sending the document or installation - if you have commissioned a technician.');
                                        ?>
                                        <span vfde-show="delivery[pakket][<?php echo $package->getPackageId(); ?>][date_choice] == 2">
                                         <?php echo $this->__('Your desired date for the connection is the') ?> <span
                                                    class="delivery[pakket][<?php echo $package->getPackageId(); ?>][date]-summary"></span>
                                    </span>

                                        <?php
                                    }
                                    if (true === $package->isDSL() || true === $package->isLTE()) {
                                        echo $this->__('You will receive the order confirmation for your DSL / LTE order with terms and conditions and cancellation policy in the next few days.');
                                        ?>
                                        <span vfde-show="delivery[pakket][<?php echo $package->getPackageId(); ?>][date_choice] == 2">
                                         <?php echo $this->__('Your desired date for the connection is the') ?> <span
                                                    class="delivery[pakket][<?php echo $package->getPackageId(); ?>][date]-summary"></span>
                                    </span>
                                        <?php
                                    }
                                }
                                ?>
                            </div>
                        <?php endif; ?>

                        <!-- summary AGB & Desired Activation or Change Date -->
                        <?php if ($isActivationOrder && $hasMobile): ?>
                            <div class="voicelog-text-container">
                                <?php echo $this->__('You will receive the complete contract documents for your mobile phone contract with the terms and conditions and the cancellation policy in the next few days.') ?>
                            </div>
                        <?php endif; ?>
                        <div class="dt">
                            <div class="voicelog-terms col-md-12">
                                <div>
                                    <strong><?php echo $this->__('Yes, I agree with the Terms and Conditions.') ?></strong></div>
                                <hr>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="voicelog[terms1]"
                                           class="voicelog-terms-check <?php echo $agreementConditionsRequired ? 'required' : ''; ?>"
                                           id="voicelog[terms1]"
                                           value="1" data-required="1">
                                    <strong><?php echo $this->__("YES") ?></strong>
                                </label>
                            </div>
                        </div>
                        <!-- Legal Link -->
                        <?php
                        $linkedCustomers = $session->getServiceCustomers() ?? array();
                        ?>
                    </div>
                </div>
            </div>
        </div>


        <div class="checkout-section prev-next-section">
            <div class="checkout-timeline">
                <!--                    <div v-my-tooltip.right-middle="{ content: 'CUSTOMER INFORMATION', classes:'checkout-timeline-point'}"></div>-->
            </div>
            <div class="checkout-content">
                <div class="checkout-content-body">
                    <div class="checkout-section-container dt">
                        <div class="tr">
                            <div class="tc al vm">
                                <a id="save-overview-back-button" class="arrow-back"
                                   href="/checkout/cart"><?php echo $this->__('Back to checkout details'); ?></a>
                            </div>
                            <div class="tc ar submit-buttons">
                                <?php if ($checkoutLayout->currentAgentHasSalesId()): ?>
                                    <?php
                                    $disabledSaveButton = (isset($salesIdsTriple['error']) || !($cableOfferAttributes)) ? "disabled='disabled'" : "";
                                    if ($agent->getId() && $agent->isGranted(array('SEND_OFFER'))) : ?>
                                        <?php if ($hasSubmitOrder) : ?>
                                            <button type="button"
                                                    onclick="checkout.initContractSend()"
                                                    class="btn btn-finish btn-primary send-offer-btn step checkout-continue-btn <?php echo $agreementConditionsRequired || (isset($salesIdsTriple['error']) || !($cableOfferAttributes)) ? 'disabled' : ''; ?>"
                                                <?php echo $disabledSaveButton; ?>>
                                                <?php echo $this->__("Save your order"); ?>
                                            </button>
                                        <?php else : ?>
                                            <button type="button"
                                                    onclick="checkout.sendBackOfficeOfferData()"
                                                    class="btn btn-finish btn-primary send-offer-btn step checkout-continue-btn disabled"
                                                <?php echo $disabledSaveButton; ?>>
                                                <?php echo $this->__("Send order to BO"); ?>
                                            </button>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                    <button type="submit"
                                            data-step="saveOverview"
                                            class="btn btn-finish btn-primary submitbutton checkout-continue-btn step <?php echo $agreementConditionsRequired ? 'disabled' : 'ignore-agreement-conditions'; ?>"
                                        <?php if (isset($salesIdsTriple['error']) || !$hasSubmitOrder): ?>
                                            disabled="disabled"
                                        <?php endif; ?>>
                                        <?php echo $this->__("Confirm order"); ?>
                                    </button>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<a name="voiceLog"></a>

<script>
    function toggleSelectedTerms(element) {
        if (false !== element.prop('checked')) {
            element.closest('div.voicelog-terms').addClass('checked-terms-background');
        } else {
            element.closest('div.voicelog-terms').removeClass('checked-terms-background');
        }

        if (!$j('#saveOverview').find('.submit-buttons button.submitbutton').hasClass('ignore-agreement-conditions')) {

            var allTermsChecked = true;
            $j("[name^='voicelog\\[terms']").each(function (el) {
                if ($j(this).data('required') == '1' && !$j(this).prop('checked')) {
                    allTermsChecked = false;
                }
            });

            if (allTermsChecked) {
                $j('button[data-step="saveOverview"].submitbutton').removeClass('disabled');
                $j('.submit-buttons button').removeClass('disabled');
                $j('.submit-buttons button').attr('disabled', false);
            } else {
                $j('button[data-step="saveOverview"].submitbutton').addClass('disabled');
                $j('.submit-buttons button').addClass('disabled');
                $j('.submit-buttons button').attr('disabled', true);
            }
        }
    }

    // todo: remove
    function submitVoiceLog() {
        if ($j("[name^='voicelog\\[terms']:not(:checked)").length == 0) {

            $j('#polling-modal').modal();

            $j('form#saveOverview').submit();

            return true;
            // @todo remove the bundle from session if exists set on session
        }

        return false;
    }

    function fillSaveOverviewData() {
        fillOverviewDeliveryAddress();
        toggleBankInformation();
    }

    function fillOverviewDeliveryAddress() {
        if (jQuery('[name="delivery[method]"]:checked').data('address') == 'billing_address') {
            var deliveryAddress = "";
            jQuery('[id="delivery[specified_address]"] span').each(function (index) {
                if (jQuery('[id="customer[type]"]').val() != "Soho")
                // Soho case does not contains customer name
                {
                    // Skip span with index == 0 which contains customer name
                    if (!index) {
                        return;
                    }
                }
                deliveryAddress += '<span>' + jQuery(this).html() + '</span><br/>';
            });
        } else if (jQuery('[name="delivery[method]"]:checked').data('address') == 'other_address') {
            var addition = typeof (jQuery('[id="delivery[other_address][addition]"]').val()) !== 'undefined' ? jQuery('[id="delivery[other_address][addition]"]').val() : '';
            var deliveryAddress = ''
                + '<span>' + checkout.encodeHTML(jQuery('[id="delivery[other_address][street]"]').val() + ' ' + checkout.encodeHTML(jQuery('[id="delivery[other_address][houseno]"]').val())) + ' ' + checkout.encodeHTML(addition) + '</span> <br/>'
                + '<span>' + checkout.encodeHTML(jQuery('[id="delivery[other_address][postcode]"]').val()) + ' ' + checkout.encodeHTML(jQuery('[id="delivery[other_address][city]"]').val()) + '</span>';
        }

        jQuery('#delivery_address_block').append(deliveryAddress);
        checkout.toggleVoiceLogDeliveryInfo();
    }

    function toggleBankInformation() {
        var monthlyFee = jQuery('.monthly-fee').data('monthly-fee');

        if (monthlyFee > 0) {
            jQuery('.iban-field').removeClass('hide');
        }
    }

</script>