<!-- Vast op Mobiel
================================================== -->
<div class="bs-docs-section hidden">
    <form class="cart" action="saveFixedToMobile" method="post" role="form" id="saveFixedToMobile">
        <h4 id="fixed-to-mobile" class="page-header"><?php echo $this->__('Fixed to Mobile');?></h4>
        <?php $vomItems = Mage::registry('vom_items');
        $packages = Mage::registry('packages');
        $session = Mage::getSingleton('checkout/session');
        foreach($packages as $package):
            if(isset($vomItems[$package['package_id']])): ?>
                <div class="row">
                    <div class="col-md-3"><img class="center-block" src="<?php echo $this->getSkinUrl('images/vom.png') ?>" /></div>
                    <div class="col-md-8">
                        <div class="clearfix form-row">
                            <div class="col-md-6">
                                <label for="fixed[<?php echo $package['package_id']; ?>][mobile_number]"><?php echo $this->__('Fixed to Mobile Number');?></label>
                                <input type="text" id="fixed[<?php echo $package['package_id'];?>][mobile_number]" name="fixed[<?php echo $package['package_id'];?>][mobile_number]" class="form-control input-sm required-entry validate-porting-number" value="<?php echo $package['fixed_to_mobile']; ?>">
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
        <div class="row">
            <div class="col-md-12 clearfix">
                <button type="submit" data-step="saveFixedToMobile" class="btn btn-primary pull-right step"><?php echo $this->__('Next step');?></button>
            </div>
        </div>
    </form>
</div>

<script>
    //<![CDATA[
    form.saveFixedToMobile = new VarienForm('saveFixedToMobile', true);
    //]]>
</script>
