<?php
/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveOther */
$noteTypeArray = $this->getNoteTypes();
$telephoneProviderArray = $this->getTelephoneProviders();
$notes = $this->getNoteTypes();
$telephoneInfoOptions = $this->getTelephoneInfoOptions();
$infoExchangeOptions = $this->getInfoExchangeOptions();
$keywordOptions = $this->getKeywordOptions();
$phoneEntryTypeOptions = $this->getPhoneEntryTypeOptions();
$phonebookChoices = $this->getPhonebookChoices();
$singleConnectionChoices = $this->getSingleConnectionChoices();
$individualConnectionChoices = $this->getIndividualConnectionChoices();
$dataConnectionChoices = $this->getDataConnectionChoices();

$quote = $this->getQuote();
$cableInternetPhoneActive = strtolower($quote->getPackageType()) == strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE);
/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper("dyna_checkout/fields");
$checkoutData->setCheckoutData("save_other", $quote->getId());

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");
$checkoutLayout->setupFormLayout();

$checkoutHelper = $this->getCheckoutHelper();
$phonebookEntriesLimit = $this->getHasComfortConnection() ? 3 : 1;
$phonebookCheckoutItems = $this->getPhonebookItemsPerChoice();

$configurationData = Mage::getModel('dyna_configurator/client_configurationDataClient')->executeGetConfigurationData();
?>
<!-- Other details
    ================================================== -->
<div class="bs-docs-section hidden">
    <form class="cart" action="saveOther" method="post" role="form" id="saveOther">


        <!-- Additional options -->
        <div class="checkout-section" id="checkout-section-sixth">
            <div class="checkout-timeline">
                <!--<div v-my-tooltip.right-middle="{ content: 'Previous connection', classes:'checkout-timeline-point'}"></div>-->
            </div>
            <div class="checkout-content">
                <div class="checkout-content-body checkout-content-naked">

                    <p class="section-header-capitals">
                        <?php echo $this->__('Others'); ?>
                    </p>

                    <div class="checkout-section-container" id="other_content">

                        <?php if( $checkoutLayout->isAvailableSection( 'other_discounts_and_phonebook' ) ): ?>

                            <?php if ($this->getHasStudentDiscount()) : ?>

                                <p class="section-header">
                                    <?php echo $this->__('Student offer'); ?>
                                </p>

                                <div class="dt">

                                    <div class="tc cell50">
                                        <div class="input-group-custom">
                                            <div class="field-row">
                                                <input type="text" id="other[student][matriculation_nr]"
                                                       name="other[student][matriculation_nr]"
                                                       class="form-control input-sm required-entry"
                                                       value="<?php echo $checkoutData->getFieldValue("other[student][matriculation_nr]"); ?>"/>
                                                <label for="other[student][matriculation_nr]"><?php echo $this->__('Matriculation number'); ?></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tc cell50">
                                        <div class="input-group-custom">
                                            <div class="field-row">
                                                <input type="text" id="other[student][institution_location]"
                                                       name="other[student][institution_location]"
                                                       class="form-control input-sm required-entry"
                                                       value="<?php echo $checkoutData->getFieldValue("other[student][institution_location]"); ?>"/>
                                                <label for="other[student][institution_location]"><?php echo $this->__('Location of institution'); ?></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            <?php elseif ($this->getHasDisabledDiscount()) : ?>

                                <p class="section-header">
                                    <?php echo $this->__('Offer for people with disabilities'); ?>
                                </p>

                                <div class="dt">

                                    <div class="tc cell50">
                                        <div class="input-group-custom">
                                            <div class="field-row">
                                                <input type="text" id="other[disabled][disabled_id]" name="other[disabled][disabled_id]"
                                                       class="form-control input-sm required-entry"
                                                       value="<?php echo $checkoutData->getFieldValue("other[disabled][disabled_id]"); ?>"/>
                                                <label for="other[disabled][disabled_id]"><?php echo $this->__('Disabled ID'); ?></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tc cell50">
                                        <div class="input-group-custom">
                                            <div class="field-row">
                                                <input type="text" id="other[disabled][disabled_degree]"
                                                       name="other[disabled][disabled_degree]"
                                                       class="form-control input-sm required-entry"
                                                       value="<?php echo $checkoutData->getFieldValue("other[disabled][disabled_degree]"); ?>"/>
                                                <label for="other[disabled][disabled_degree]"><?php echo $this->__('Degree of disability').'%'; ?></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            <?php endif; ?>

                        <?php endif; ?>

                        <div class="checkout-section-container ">

                        <?php if ($this->hasCable()) : ?>

                            <p class="section-header" id="connection_data_title">
                                <?php echo $this->__('Connection data'); ?>
                            </p>

                            <div class="checkout-section-container ">

                                <div class="input-group-custom">

                                    <section class="accordion">

                                        <div class="accordion-item">
                                            <div class="accordion-head">
                                                <input type="radio" id="other[connection_data][<?php echo $this::SAVE_DATA_CONNECTION ?>]" name="other[connection_data]" <?php
                                                echo $checkoutData->getFieldValue("other[connection_data]") == $this::SAVE_DATA_CONNECTION ? "checked" : ""; ?>
                                                       value="<?php echo $this::SAVE_DATA_CONNECTION ?>"/>
                                                <label for="other[connection_data][<?php echo $this::SAVE_DATA_CONNECTION ?>]"></label> <?php echo $this->__('Save (legal limit)'); ?>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <div class="accordion-head">
                                                <input type="radio" id="other[connection_data][<?php echo $this::DELETE_DATA_CONNECTION ?>]" name="other[connection_data]" <?php
                                                echo $checkoutData->getFieldValue("other[connection_data]") == $this::DELETE_DATA_CONNECTION ? "checked" : ""; ?>
                                                       value="<?php echo $this::DELETE_DATA_CONNECTION ?>"/>
                                                <label for="other[connection_data][<?php echo $this::DELETE_DATA_CONNECTION ?>]"></label> <?php echo $this->__('Clear after accounting'); ?>
                                            </div>
                                        </div>

                                    </section>
                                </div>
                            </div>

                        <?php endif; ?>
                        </div>

                        <?php if (Mage::getSingleton('customer/session')->getAgent()->canSelectMarketingData() && $checkoutLayout->currentAgentIsCOPS() && $checkoutLayout->isAvailableSection('other_marketing_data') ) : ?>
                        <p class="section-header">
                                <?php echo $this->__('Marketingdata'); ?>
                            </p>
    
                            <div class="checkout-section-container ">
    
                                <div class="dt">
    
                                    <div class="tc cell33">
                                        <div class="input-group-custom">
                                            <div class="select-wrapper">
                                                <div class="field-row">
                                                    <select name="other[marketing][code]" id="other[marketing][code]" class="form-control input-sm required-entry">
                                                        <option value=""><?php echo $this->__('-'); ?></option>
                                                        <?php foreach ( $checkoutLayout->ensureElementIsArrayList( $configurationData['MarketingCodes'] ) as $data ) : ?>
                                                            <option value="<?php echo $data['Code']; ?>" <?php echo $checkoutData->getFieldValue("other[marketing][code]") == $data['Code'] ? "selected" : "" ?>><?php echo $data['PresentationText']; ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                    <label for="other[marketing][code]"><?php echo $this->__("Marketingcode"); ?></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="tc cell33">
                                        <div class="input-group-custom">
                                            <div class="select-wrapper">
                                                <div class="field-row">
                                                    <select name="other[marketing][promotion]" id="other[marketing][promotion]" class="form-control input-sm required-entry">
                                                        <option value=""><?php echo $this->__('-'); ?></option>
                                                        <?php foreach ( $checkoutLayout->ensureElementIsArrayList( $configurationData['AdvertisingCodes'] ) as $data ) : ?>
                                                            <option value="<?php echo $data['Code']; ?>" <?php echo $checkoutData->getFieldValue("other[marketing][promotion]") == $data['Code'] ? "selected" : "" ?>><?php echo $data['PresentationText']; ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                    <label for="other[marketing][promotion]"><?php echo $this->__("Promotionalcode"); ?></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="tc cell33">
                                        <div class="input-group-custom">
                                            <div class="select-wrapper">
                                                <div class="field-row">
                                                    <select name="other[marketing][campaign]" id="other[marketing][campaign]" class="form-control input-sm required-entry">
                                                        <option value=""><?php echo $this->__('-'); ?></option>
                                                        <?php foreach ( $checkoutLayout->ensureElementIsArrayList( $configurationData['Campaigns'] ) as $data ) : ?>
                                                            <option value="<?php echo $data['Code']; ?>" <?php echo $checkoutData->getFieldValue("other[marketing][campaign]") == $data['Code'] ? "selected" : "" ?>><?php echo $data['PresentationText']; ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                    <label for="other[marketing][campaign]"><?php echo $this->__("Campaign"); ?></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
    
                            </div>
                        <?php endif; ?>

                        <?php if(!$this->isDslOnly() || !$this->isMobileOnly()) : ?>
                        <p class="section-header">
                            <?php echo $this->__('Remarks'); ?>
                        </p>

                        <?php /* OMNVFDE-694: GetConfigurationData service call / <comments> node maps to notes  */ ?>

                        <div class="checkout-section-container ">

                            <?php if ($this->hasCable()): ?>

                                <div class="dt">
                                    <div class="tc">
                                        <div class="input-group-custom">
                                            <div class="select-wrapper">
                                                <div class="field-row">
                                                    <select name="other[remarks][note]" id="other[remarks][note]" class="form-control input-sm">
                                                        <option value=""><?php echo $this->__('-'); ?></option>
                                                        <?php foreach ($notes as $note) : ?>
                                                            <option
                                                                    value="<?php echo $note['pk']; ?>"
                                                                    data-editable=<?php echo (int)($note['edit'] == 'true'); ?> <?php echo $checkoutData->getFieldValue("other[remarks][note]") == $note['pk']
                                                                ? "selected" : "" ?>><?php echo $note['text']; ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                    <label for="other[remarks][note]"><?php echo $this->__("Standard note"); ?></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <?php endif; ?>

                            <div class="dt">
                                <div class="tc">
                                    <div class="input-group-custom">
                                        <div class="field-row">
                                            <textarea id="other[remarks][content]" name="other[remarks][content]" maxlength="150"
                                                      class="form-control textarea other-install-instruction-textarea validate-length-max maximum-length-150"
                                            ><?php echo $checkoutData->getFieldValue("other[remarks][content]"); ?></textarea>
                                            <label for="other[remarks][content]" class="other-install-instruction-label"><?php echo $this->__('Remarks (max 150 characters)'); ?></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php endif; ?>

                    </div>
                </div>
            </div>
        </div>



        <?php if (!$this->getCustomerSession()->getOrderEdit()): ?>
            <div class="checkout-section prev-next-section">
                <div class="checkout-timeline">
                    <!--                    <div v-my-tooltip.right-middle="{ content: 'CUSTOMER INFORMATION', classes:'checkout-timeline-point'}"></div>-->
                </div>
                <div class="checkout-content">
                    <div class="checkout-content-body">
                        <div class="checkout-section-container dt">
                            <div class="tr">
                                <div class="tc al vm ">
                                    <a class="arrow-back checkout-continue-btn step back-button" href="/"><?php echo $this->__('Back to configurator'); ?></a>
                                </div>
                                <div class="tc ar">
                                    <button id="saveOtherButton" data-step="saveOther" class="btn btn-primary step checkout-continue-btn" type="submit"><?php echo $this->__('Next step'); ?></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif; ?>


    </form>
</div>

<script>
    <?php // refactor the [1] or [2] from the below code;  ?>
    //<![CDATA[
    // Save delivery address form validation
    form.saveOther = new VarienForm('saveOther', true);
    //]]>

    var HAS_PHONEBOOK_NO_ENTRIES_RELATION = <?php echo json_encode($this->getHasPhonebookNoEntriesRelation()); ?>;
    var HAS_PHONEBOOK_ONE_ENTRY_RELATION = <?php echo json_encode($this->getHasPhonebookOneEntryRelation()) ?>;
    var HAS_PHONEBOOK_NO_INDIVIDUAL_CONNECTION_RELATION = <?php echo json_encode($this->getHasPhonebookNoIndividualConnectionRelation()) ?>;
    var HAS_PHONEBOOK_DELETE_CONNECTION_DATA_RELATION = <?php echo json_encode($this->getHasPhonebookDeleteConnectionDataRelation()) ?>;
    var HAS_PHONEBOOK_SAVE_CONNECTION_DATA_RELATION = <?php echo json_encode($this->getHasPhonebookSaveConnectionDataRelation()) ?>;

    var NO_CHANGE_PROVIDER = '<?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::NO_CHANGE_PROVIDER?>';
    var YES_CHANGE_PROVIDER = '<?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::YES_CHANGE_PROVIDER?>';
    var TRANSFER_NONE = '<?php echo Dyna_Superorder_Helper_Client::PORTING_NO_NUMBER; ?>';
    var HAS_PHONEBOOK_NO_ENTRIES = <?php echo json_encode($this->getHasPhonebookNoEntries()); ?>;
    var HAS_PHONEBOOK_ONE_ENTRY = <?php echo json_encode($this->getHasPhonebookOneEntry()) ?>;
    var HAS_PHONEBOOK_NO_INDIVIDUAL_CONNECTION = <?php echo json_encode($this->getHasPhonebookNoIndividualConnection()) ?>;
    var HAS_CABLE = <?php echo json_encode($this->hasCable()); ?>;
    var IS_CABLE_INTERNET_PHONE_ACTIVE = <?php echo json_encode($cableInternetPhoneActive); ?>;
    var HAS_FIXED = <?php echo json_encode($this->hasFixedTypePackage()); ?>;
    var HAS_MOBILE = <?php echo json_encode($this->hasMobileTypePackage()); ?>;
    var PHONEBOOK_CHOICE_STANDARD = '<?php echo Dyna_Checkout_Block_Cart_Steps_SaveOther::PHONEBOOK_CHOICE_STANDARD; ?>';
    var PHONEBOOK_CHOICE_NO_ENTRIES = '<?php echo Dyna_Checkout_Block_Cart_Steps_SaveOther::PHONEBOOK_CHOICE_NO_ENTRIES; ?>';
    var PHONEBOOK_CHOICE_EXTENDED = '<?php echo Dyna_Checkout_Block_Cart_Steps_SaveOther::PHONEBOOK_CHOICE_EXTENDED; ?>';
    var NO_SINGLE_CONNECTION = '<?php echo Dyna_Checkout_Block_Cart_Steps_SaveOther::NO_SINGLE_CONNECTION; ?>';
    var SINGLE_CONNECTION_FULL_NUMBER = '<?php echo Dyna_Checkout_Block_Cart_Steps_SaveOther::SINGLE_CONNECTION_FULL_NUMBER; ?>';
    var SINGLE_CONNECTION_SHORT_NUMBER = '<?php echo Dyna_Checkout_Block_Cart_Steps_SaveOther::SINGLE_CONNECTION_SHORT_NUMBER; ?>';

    var TELEPHONE_BOOK_NO_ENTRIES = '<?php echo Dyna_Catalog_Model_Type::getPhonebookNoEntries(); ?>';
    var TELEPHONE_BOOK_ONE_ENTRY = '<?php echo Dyna_Catalog_Model_Type::getPhonebookOneEntry(); ?>';
    var TELEPHONE_BOOK_NO_INVERSION_SKU = '<?php echo Dyna_Catalog_Model_Type::getPhonebookNoInversion(); ?>';
    var TELEPHONE_BOOK_ONE_NUMBER_SKU = '<?php echo Dyna_Catalog_Model_Type::getPhonebookOneNumber(); ?>';
    var TELEPHONE_BOOK_NEW_NUMBER_SKU = '<?php echo Dyna_Catalog_Model_Type::getPhonebookNewNumber(); ?>';
    var TELEPHONE_BOOK_WITH_ADDRESS_SKU = '<?php echo Dyna_Catalog_Model_Type::getPhonebookWithAddress(); ?>';
    var TELEPHONE_BOOK_WITHOUT_ADDRESS_SKU = '<?php echo Dyna_Catalog_Model_Type::getPhonebookWithoutAddress(); ?>';
    var TELEPHONE_BOOK_ABREVIATED_FIRSTNAME_SKU = '<?php echo Dyna_Catalog_Model_Type::getPhonebookAbreviatedFirstname(); ?>';
    var TELEPHONE_BOOK_PRINTED_ELECTRONIC_SKU = '<?php echo Dyna_Catalog_Model_Type::getPhonebookPrintedElectronic(); ?>';
    var TELEPHONE_BOOK_PRINTED_SKU = '<?php echo Dyna_Catalog_Model_Type::getPhonebookPrinted(); ?>';
    var TELEPHONE_BOOK_NO_INDIVIDUAL_CONECTION = '<?php echo Dyna_Catalog_Model_Type::getPhonebookNoIndividualConnection(); ?>';
    var TELEPHONE_BOOK_DELETED_CONNECTION_DATA = '<?php echo Dyna_Catalog_Model_Type::getPhonebookDeleteConnectionData(); ?>';
    var TELEPHONE_BOOK_SAVE_CONNECTION_DATA = '<?php echo Dyna_Catalog_Model_Type::getPhonebookSaveConnectionData(); ?>';

    var CHECKOUT_SELF_REFERRER_SKUS = '<?php echo Dyna_Catalog_Model_Type::getCheckoutSelfReferrerSkus(); ?>';

    var MOBILE_NO_CONNECTION_OVERVIEW = '<?php echo Dyna_Catalog_Model_Type::getMobileNoConnectionOverviewSkus(); ?>';
    var MOBILE_SHORTENED_DESTINATION_NUMBER = '<?php echo Dyna_Catalog_Model_Type::getMobileShortenedDestinationNumberSkus(); ?>';
    var MOBILE_FULL_DESTINATION_NUMBER = '<?php echo Dyna_Catalog_Model_Type::getMobileFullDestinationNumberSkus(); ?>';

    jQuery(document).ready(function () {

        <?php foreach ($this->getPackages() as $package) : ?>
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][prefix]"] = "";
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][gender]"] = "";
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][company_name]"] = "";
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][keyword]"] = "";
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][information_exchange]"] = "";
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][firstname]"] = "required-entry";
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][co_users][firstname]"] = "required-entry";
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][co_users][lastname]"] = "required-entry";
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][lastname]"] = "required-entry";
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][profession]"] = "required-entry";
            checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][directories_entry][checkbox]"] = "other-directories-checkbox";

            hidePhonebookChoiceDependentBlocks(<?php echo $package->getPackageId(); ?>, '<?php echo $package->getType(); ?>');
        <?php endforeach; ?>


        <?php if ($this->hasCable()): ?>
        jQuery('[id="other[remarks][note]"]').on('change', function () {
            // Save option value in textarea
            var jElement = jQuery('[id="other[remarks][content]"]');

            // If agent can edit enable textarea
            if (jQuery(this).find('option:selected').attr('data-editable') == "1") {
                jElement.removeAttr('readonly');
            } else {
                jElement.removeAttr('readonly').attr('readonly', true);
            }

            jElement.text( jQuery(this).find('option:selected').text() );

        });
        <?php endif; ?>

        // Event callbacks definition
        <?php foreach ($this->getPackages() as $package) : ?>
            <?php $packageType = $package->getType(); ?>
            jQuery('[name="other[phonebook_choice][<?php echo $package->getPackageId(); ?>][<?php echo $packageType ?>]"]').change(function (e) {
                togglePhonebookChoices(jQuery(e.target), <?php echo $package->getPackageId(); ?>, '<?php echo $packageType; ?>');
            });
        <?php endforeach; ?>

        // Update extended phone entries by adding the last rufnummer
        <?php foreach ($this->getPackages() as $package) : ?>
        jQuery('[id="saveChangeProvider"]').on('blur', '[class~="provider[<?php echo $package->getType(); ?>][phone_transfer]"]', function(){
            <?php foreach ($this->getPackages() as $package) : ?>
            <?php $packageType = $package->getType(); ?>
                <?php if ($packageType != 'mobile') : ?>
                    var phoneEntriesSelect<?php echo $packageType ?> = jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][phone_entries][0][telephone_no]"]'),
                        phonebookNumbersLength<?php echo $packageType ?> = phoneEntriesSelect<?php echo $packageType ?>.children('option').length,
                        currentId<?php echo $packageType ?> = jQuery(this).attr('id'),
                        currentNumber<?php echo $packageType ?> = jQuery(this).val();

                    // update if only coming back to Rufnummerubernahme section and adding rufnummers
                    if(phonebookNumbersLength<?php echo $packageType ?> != 0) {
                        var currentPhoneEntriesDuplicate<?php echo $packageType ?> = false;
                        // check if added rufnummer is not a duplicate
                        phoneEntriesSelect<?php echo $packageType ?>.children('option').each(function(){
                            if(jQuery(this).text() == currentNumber<?php echo $packageType ?>){
                                currentPhoneEntriesDuplicate<?php echo $packageType ?> = true;
                            }
                        });
                        if(!currentPhoneEntriesDuplicate<?php echo $packageType ?> || (currentNumber<?php echo $packageType ?> == '')){
                            // add the new value into select
                            var newOption<?php echo $packageType ?> = jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][phone_entries][0][telephone_no]"] option').filter(function() {
                                return jQuery(this).text() === Translator.translate('New');
                            });
                            newOption<?php echo $packageType ?>.remove();
                            phoneEntriesSelect<?php echo $packageType ?>.append(jQuery('<option/>').val(currentNumber<?php echo $packageType ?>).text(currentNumber<?php echo $packageType ?>));
                            <?php if ($packageType != 'lte') : ?>
                                phoneEntriesSelect<?php echo $packageType ?>.append(jQuery('<option/>').val(currentNumber<?php echo $packageType ?>).text(Translator.translate('New')));
                                // set new option as default
                                jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][phone_entries][0][telephone_no]"] option').filter(function() {
                                    return jQuery(this).text() === Translator.translate('New');
                                }).attr('selected','selected');
                            <?php else : ?>
                                // set new option as default
                                jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][phone_entries][0][telephone_no]"] option').last().attr('selected','selected');
                            <?php endif; ?>
                        }
                    }
                <?php endif; ?>
            <?php endforeach; ?>
        });
        <?php endforeach; ?>

        applyProductsBehavior();

        // If no checkout data is present for this step, handle preselected elements
        <?php if (!$checkoutData->hasCheckoutData()) : ?>

            <?php foreach ($this->getPackages() as $package) : ?>
                <?php $packageType = $package->getType(); ?>
                <?php if ($this->getHasStudentDiscount() || $this->hasCableOrFixedTypePackage()) : ?>
                    jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][directories_entry][printed]"]').prop('checked', false);
                <?php endif; ?>
                checkout.triggerEvent(jQuery('[id="other[phonebook_choice][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][' + PHONEBOOK_CHOICE_NO_ENTRIES + ']"]'), 'click', false);
            <?php endforeach; ?>
            if (jQuery('[id="other[connection_data][<?php $this::SAVE_DATA_CONNECTION ?>]"]').length > 0) {
                jQuery('[id="other[connection_data][<?php $this::SAVE_DATA_CONNECTION ?>]"]').prop('checked', true);
            }
        <?php endif; ?>

        <?php foreach ($this->getPackages() as $package) : ?>
            <?php $packageType = $package->getType(); ?>
            <?php if (($choice = $checkoutData->getFieldValue('other[phonebook_choice]['.$package->getPackageId().']['.$packageType.']')) !== false): ?>
                jQuery('[id="other[phonebook_choice][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][<?php echo $choice ?>]"]').prop('checked', true);

                checkout.triggerEvent(jQuery('[id="other[phonebook_choice][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][<?php echo $choice ?>]"]'), 'click', false);
            <?php endif; ?>
        <?php endforeach; ?>

        jQuery('.phonebook-entry-phone-type').each(function () {
            if (jQuery(this).find('option[selected]').length == 0) {
                jQuery(this).find('option:first').prop("selected", true);
            }
        });

        handlePhonebookChoiceSkus();
        addEventHandlersForProductLogic();


        <?php if(!$checkoutData->getFieldValue("other[connection_data]")) { ?>
            jQuery('label[for="other[connection_data][<?php echo $this::SAVE_DATA_CONNECTION ?>]"]').click();
        <?php } ?>

        jQuery('label[for^="other[connection_data][').each(function(element) {
            jQuery(element).click(function() {
                if(jQuery('[id^="other[connection_data]["]:checked').length > 0) {
                    jQuery('[id="connection_data_title"]').removeClass('required-entry');
                } else {
                    jQuery('[id="connection_data_title"]').addClass('required-entry');
                }
            });
        });

    });
//hier
    function togglePhonebookChoices(element, packageId, packageType) {

        hidePhonebookChoiceDependentBlocks(packageId, ""+packageType+"");

        var phonebookChoice = jQuery('#phonebook-choice\\['+packageId+'\\]\\['+packageType+'\\]');

        if (element) {
            checkout.removeCheckoutContainerValidationRules(phonebookChoice);

            var validationElement = phonebookChoice.find('[name="other[extended]['+packageId+']['+packageType+'][directories_entry][checkbox]"]');
            validationElement.removeClass('other-directories-checkbox');

            if (element.val() == 2) {
                validationElement.addClass('other-directories-checkbox');
                phonebookChoice.removeClass('hidden');
                checkout.setCheckoutContainerValidationRules(phonebookChoice);
            } else {
                phonebookChoice.addClass('hidden');
                checkout.removeCheckoutContainerValidationRules(phonebookChoice);
            }


            phonebookChoice.find('input, textarea, select').each(function () {
                checkout.inputLabels(this);
            });

        }

    }

    function hidePhonebookChoiceDependentBlocks(packageId, packageType) {
        var phonebookChoice = jQuery('#phonebook-choice\\['+packageId+'\\]\\['+packageType+'\\]');
        phonebookChoice.addClass('hidden');
        checkout.removeCheckoutContainerValidationRules(phonebookChoice);
    }

    /**
     * Applies checkout behavior based on current quote items
     */
    function applyProductsBehavior() {
        if (HAS_CABLE) {
            var phonebookChoiceTitle = jQuery('#phonebook_choice_title');
            var connectionDataTitle = jQuery('#connection_data_title');
            // refractoring needed

            var standardChoiceContainers = [];
            var extendedChoiceContainers = [];
            var noEntriesChoiceContainers = [];
            var inverseSearchContainers = [];

            <?php foreach ($this->getPackages() as $package) : ?>
                standardChoiceContainers.push(jQuery('[id="other[phonebook_choice][<?php echo $package->getPackageId() ?>][<?php echo $package->getType() ?>][' + PHONEBOOK_CHOICE_STANDARD + ']"]').closest('div.accordion-body'));
                extendedChoiceContainers.push(jQuery('[id="other[phonebook_choice][<?php echo $package->getPackageId() ?>][<?php echo $package->getType() ?>][' + PHONEBOOK_CHOICE_EXTENDED + ']"]').closest('div.accordion-body'));
                noEntriesChoiceContainers.push(jQuery('[id="other[phonebook_choice][<?php echo $package->getPackageId() ?>][<?php echo $package->getType() ?>][' + PHONEBOOK_CHOICE_NO_ENTRIES + ']"]').closest('div.accordion-body'));
                inverseSearchContainers.push(jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][not_inverse_search]"]').closest('div.form-row'));
            <?php endforeach; ?>

            var connectionDataContainer = jQuery('[id="other[connection_data][<?php echo $this::SAVE_DATA_CONNECTION ?>]"]').closest('div.dt');
            var saveConnectionDataContainer = jQuery('[id="other[connection_data][<?php echo $this::SAVE_DATA_CONNECTION ?>]"]').closest('label');
            var deleteConnectionDataContainer = jQuery('[id="other[connection_data][<?php echo $this::DELETE_DATA_CONNECTION ?>]"]').closest('label');

            if(!HAS_MOBILE && !HAS_FIXED) {
                phonebookChoiceTitle.addClass('hidden');
                for(var i = 0; i < standardChoiceContainers.length; i++) {
                    standardChoiceContainers[i].addClass('hidden');
                    extendedChoiceContainers[i].addClass('hidden');
                    noEntriesChoiceContainers[i].addClass('hidden');
                    inverseSearchContainers[i].addClass('hidden');

                    checkout.removeCheckoutContainerValidationRules(standardChoiceContainers[i]);
                    checkout.removeCheckoutContainerValidationRules(extendedChoiceContainers[i]);
                    checkout.removeCheckoutContainerValidationRules(noEntriesChoiceContainers[i]);
                    checkout.removeCheckoutContainerValidationRules(inverseSearchContainers[i]);
                }
                checkout.removeCheckoutContainerValidationRules(connectionDataContainer);
            }

            if (HAS_PHONEBOOK_NO_ENTRIES_RELATION) {
                // Display title
                phonebookChoiceTitle.removeClass('hidden');
                // Display only no entry phonebook choice
                for(var i = 0; i < noEntriesChoiceContainers.length; i++) {
                    noEntriesChoiceContainers[i].removeClass('hidden');
                    checkout.setCheckoutContainerValidationRules(noEntriesChoiceContainers[i]);
                    noEntriesChoiceContainers[i].find('input[type=radio]').trigger('click');
                }

            }

            if (HAS_PHONEBOOK_ONE_ENTRY_RELATION) {
                // Display title
                phonebookChoiceTitle.removeClass('hidden');
                // Display only standard and extended phonebook choices
                for(var i = 0; i < noEntriesChoiceContainers.length; i++) {
                    standardChoiceContainers[i].removeClass('hidden');
                    extendedChoiceContainers[i].removeClass('hidden');
                    checkout.setCheckoutContainerValidationRules(standardChoiceContainers[i]);
                    checkout.setCheckoutContainerValidationRules(extendedChoiceContainers[i]);

                    // Display inverse search section
                    inverseSearchContainers[i].addClass('hidden');
                    checkout.setCheckoutContainerValidationRules(inverseSearchContainers[i]);

                    standardChoiceContainers[i].find('input[type=radio]').trigger('click');
                }
            }

            if (HAS_PHONEBOOK_DELETE_CONNECTION_DATA_RELATION || HAS_PHONEBOOK_SAVE_CONNECTION_DATA_RELATION) {
                // Display connection data title
                connectionDataTitle.removeClass('hidden');
                // Display connection data container
                connectionDataContainer.removeClass('hidden');
                checkout.setCheckoutContainerValidationRules(connectionDataContainer);

                if (!HAS_PHONEBOOK_DELETE_CONNECTION_DATA_RELATION) {
                    deleteConnectionDataContainer.addClass('hidden');
                    checkout.removeCheckoutContainerValidationRules(deleteConnectionDataContainer);
                } else if (!HAS_PHONEBOOK_SAVE_CONNECTION_DATA_RELATION) {
                    saveConnectionDataContainer.addClass('hidden');
                    checkout.removeCheckoutContainerValidationRules(saveConnectionDataContainer);
                } else {
                    saveConnectionDataContainer.find('input').trigger('click');
                }
            }
        }
    }

    /**
     * Sets products which must to be added and products which must be removed from quote, based on Phonebook Entries choice
     */
    function handlePhonebookChoiceSkus() {
        if (HAS_CABLE && IS_CABLE_INTERNET_PHONE_ACTIVE) {
            <?php foreach ($this->getPackages() as $package): ?>
            handleCheckoutItemsForCable(<?php echo $package->getPackageId() . ",'" . $package->getType() . "'"; ?>);
            <?php endforeach; ?>
        }

        if (HAS_FIXED) {
            handleCheckoutItemsForFixed();
        }

        if (HAS_MOBILE) {
            handleCheckoutItemsForMobile();
        }
    }

    /**
     * Handling mobile checkout logic for adding products to cart depending checkout choices
     */
    function handleCheckoutItemsForMobile()
    {
        // Getting choices
        var sendInvoiceByPost = jQuery('[name="billing[post_invoice]"]:checked');
        var singleConnection = jQuery('[name="other[single_connection][<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_MOBILE)?>]"]');

        var optionsToSkus = {
            choice_<?php echo $this::NO_SINGLE_CONNECTION ?>: MOBILE_NO_CONNECTION_OVERVIEW,
            choice_<?php echo $this::SINGLE_CONNECTION_FULL_NUMBER ?>: MOBILE_FULL_DESTINATION_NUMBER,
            choice_<?php echo $this::SINGLE_CONNECTION_SHORT_NUMBER ?>: MOBILE_SHORTENED_DESTINATION_NUMBER
        };

        // Setting initial mobile checkout products states to false
        checkout.checkoutProducts[MOBILE_NO_CONNECTION_OVERVIEW] = false;
        checkout.checkoutProducts[MOBILE_SHORTENED_DESTINATION_NUMBER] = false;
        checkout.checkoutProducts[MOBILE_FULL_DESTINATION_NUMBER] = false;

        if (singleConnection.length > 0) {
            checkout.checkoutProducts[optionsToSkus['choice_' + singleConnection.val()]] = true;
        }
    }

    /**
     * Handling fixed checkout logic for adding products to cart depending checkout choices
     */
    function handleCheckoutItemsForFixed()
    {
        // Getting choices
        var sendInvoiceByPost = jQuery('[name="billing[post_invoice]"]:checked');
        var checkoutSelfReferrer = jQuery('[id="payment[monthly][type][banktransfer]"]:checked');
        var phoneNumbers = jQuery('#other_content').find('.phonebook-choice').find('.dt');

        // Setting initial fixed checkout products states to false
        checkout.checkoutProducts[CHECKOUT_SELF_REFERRER_SKUS] = false;

        if (checkoutSelfReferrer.length) {
            checkout.checkoutProducts[CHECKOUT_SELF_REFERRER_SKUS] = true;
        }
        if (phoneNumbers.length) {
            var counter = 0;
            phoneNumbers.each(function(){
                var phoneOption = jQuery(this).find('.phone-number').find('option:selected');
                var phoneType = jQuery(this).find('.phone-type').find('option:selected');
                if (phoneOption.html() && ('' != phoneOption.html()) && phoneType.val() != '<?php echo Dyna_Checkout_Block_Cart_Steps_SaveOther::PHONE_ENTRY_TYPE_NO_ENTRY ?>') {
                    counter++;
                }
            });

        }
    }

    function handleCheckoutItemsForCable(packageId,packageType) {
        var selectedPhonebookChoice = jQuery('[name="other[phonebook_choice]['+packageId+']['+packageType+']"]:checked');
        var phonebookNumber = jQuery('[id="other[extended]['+packageId+']['+packageType+'][phone_entries][0][telephone_no]"]');
        var nonInverseSearch = jQuery('[id="other[extended]['+packageId+'][not_inverse_search]"]');
        var publishAddress = jQuery('[id="other[extended]['+packageId+']['+packageType+'][publish_address]"]');
        var abreviatedName = jQuery('[id="other[extended]['+packageId+'][abreviated_name]"]');
        var dirElectronic = jQuery('[id="other[extended]['+packageId+']['+packageType+'][directories_entry][electronic]"]');
        var dirPrinted = jQuery('[id="other[extended]['+packageId+']['+packageType+'][directories_entry][printed]"]');
        var transferredPhonesChoice = jQuery('[id="provider[cable_internet_phone][no_phones_transfer]"]');
        var changeProviderChoice = jQuery('[name="provider[cable_internet_phone][change_provider]"]:checked');
        var singleConnectionChoice = jQuery('[name="other[single_connection][<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE)?>]"]');
        var connectionDataChoice = jQuery('[name="other[connection_data]"]:checked');
        var transferPhoneListFields = jQuery('.transfer-phone-list-fields');
        var carrierDropdown = jQuery('[id="provider[cable_internet_phone][current_provider_type]"]');
        
        checkout.checkoutProducts[TELEPHONE_BOOK_NO_ENTRIES] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_ONE_ENTRY] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_NO_INVERSION_SKU] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_ONE_NUMBER_SKU] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_NEW_NUMBER_SKU] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_WITH_ADDRESS_SKU] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_WITHOUT_ADDRESS_SKU] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_ABREVIATED_FIRSTNAME_SKU] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_PRINTED_ELECTRONIC_SKU] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_PRINTED_SKU] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_NO_INDIVIDUAL_CONECTION] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_DELETED_CONNECTION_DATA] = false;
        checkout.checkoutProducts[TELEPHONE_BOOK_SAVE_CONNECTION_DATA] = false;

        if ((HAS_PHONEBOOK_NO_ENTRIES || HAS_PHONEBOOK_ONE_ENTRY) && nonInverseSearch.prop('checked')) {
            checkout.checkoutProducts[TELEPHONE_BOOK_NO_INVERSION_SKU] = true;
        }

        if (singleConnectionChoice.val() == NO_SINGLE_CONNECTION) {
            checkout.checkoutProducts[TELEPHONE_BOOK_NO_INDIVIDUAL_CONECTION] = true;
        }

        if (connectionDataChoice.val() == '1') {
            checkout.checkoutProducts[TELEPHONE_BOOK_SAVE_CONNECTION_DATA] = true;
        } else if (connectionDataChoice.val() == '2') {
            checkout.checkoutProducts[TELEPHONE_BOOK_DELETED_CONNECTION_DATA] = true;
        }

        if (selectedPhonebookChoice.val() == PHONEBOOK_CHOICE_STANDARD) {
            checkout.checkoutProducts[TELEPHONE_BOOK_ONE_ENTRY] = true;
            checkout.checkoutProducts[TELEPHONE_BOOK_WITHOUT_ADDRESS_SKU] = true;
            checkout.checkoutProducts[TELEPHONE_BOOK_PRINTED_ELECTRONIC_SKU] = true;

            if (transferredPhonesChoice.val() != TRANSFER_NONE && changeProviderChoice.val() != NO_CHANGE_PROVIDER) {
                checkout.checkoutProducts[TELEPHONE_BOOK_ONE_NUMBER_SKU] = true;
            } else if (transferredPhonesChoice.val() == TRANSFER_NONE && changeProviderChoice.val() != NO_CHANGE_PROVIDER) {
                checkout.checkoutProducts[TELEPHONE_BOOK_NEW_NUMBER_SKU] = true;
            }
        } else if (selectedPhonebookChoice.val() == PHONEBOOK_CHOICE_NO_ENTRIES) {
            checkout.checkoutProducts[TELEPHONE_BOOK_NO_ENTRIES] = true;
        } else if (selectedPhonebookChoice.val() == PHONEBOOK_CHOICE_EXTENDED) {
            checkout.checkoutProducts[TELEPHONE_BOOK_ONE_ENTRY] = true;

            if (phonebookNumber.val() == phonebookNumber.find('option').length-1) {
                checkout.checkoutProducts[TELEPHONE_BOOK_NEW_NUMBER_SKU] = true;
            } else {
                checkout.checkoutProducts[TELEPHONE_BOOK_ONE_NUMBER_SKU] = true;
            }

            if (publishAddress.prop('checked')) {
                checkout.checkoutProducts[TELEPHONE_BOOK_WITH_ADDRESS_SKU] = true;
            } else {
                checkout.checkoutProducts[TELEPHONE_BOOK_WITHOUT_ADDRESS_SKU] = true;
            }

            if (abreviatedName.prop('checked')) {
                checkout.checkoutProducts[TELEPHONE_BOOK_ABREVIATED_FIRSTNAME_SKU] = true;
            }

            if (dirPrinted.prop('checked') && dirElectronic.prop('checked')) {
                checkout.checkoutProducts[TELEPHONE_BOOK_PRINTED_ELECTRONIC_SKU] = true;
            } else if (dirPrinted.prop('checked')) {
                checkout.checkoutProducts[TELEPHONE_BOOK_PRINTED_SKU] = true;
            }
        }
    }


    /**
     * Adds event handlers on checkout elements in accordance with Cable, Fixed and Mobile product logic
     */
    function addEventHandlersForProductLogic() {
        if (HAS_CABLE) {
            <?php foreach ($this->getPackages() as $package): ?>
            jQuery('[name="other[phonebook_choice][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>]"], ' +
                '[name^="other[single_connection][<?php echo $package->getType(); ?>]"], ' +
                '[name="other[connection_data]"], ' +
                '[id="other[extended][<?php echo $package->getPackageId(); ?>][not_inverse_search]"], ' +
                '[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][publish_address]"], ' +
                '[id="other[extended][<?php echo $package->getPackageId(); ?>][abreviated_name]"], ' +
                '[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][directories_entry][printed]"], ' +
                '[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][directories_entry][electronic]"] '
            ).click(function (e) {
                handlePhonebookChoiceSkus();
            });

            jQuery('[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][phone_entries][0][telephone_no]"]').on('change', function (e) {
                handlePhonebookChoiceSkus();
            });
            <?php endforeach; ?>

            <?php foreach ($dataConnectionChoices as $choice) : ?>
            jQuery('[id="other[connection_data][<?php echo $choice ?>]"]').on('click', function() {
                handlePhonebookChoiceSkus();
            });
            <?php endforeach ; ?>
        }

        if (HAS_FIXED) {
            jQuery('[name="payment[monthly][type]"]').click(function(e){
                handlePhonebookChoiceSkus();
            });
            jQuery('input[name="billing[post_invoice]"], input[name="billing[email_invoice]"]').on('change', function() {
                handlePhonebookChoiceSkus();
            });
            jQuery('#other_content').find('.phonebook-choice').find('.phone-type').on('change', function() {
                handlePhonebookChoiceSkus();
            });

        }

        if (HAS_MOBILE) {
            jQuery('[name="other[single_connection][<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_MOBILE);?>]"]').click(function (e) {
                handlePhonebookChoiceSkus();
            });
            jQuery('input[name="billing[post_invoice]"], input[name="billing[email_invoice]"]').on('change', function() {
                handlePhonebookChoiceSkus();
            });
        }
    }

    function handlePhonebookEntries() {
        var phoneBookLimit = <?php echo $phonebookEntriesLimit ?>;
        var newNumberString = Translator.translate('New');
        <?php foreach ($this->getPackages() as $package): ?>
            <?php $packageType = $package->getType(); ?>
            <?php $i = 0; ?>
            for (var i = 0; i < phoneBookLimit; i++) {
                var prefix<?php echo $packageType ?> = '';
                var numbersArray<?php echo $packageType ?> = [''];

                if (jQuery('[id="provider[<?php echo $packageType ?>][no_phones_transfer]"]').val() != TRANSFER_NONE && jQuery('[name="provider[<?php echo $packageType ?>][change_provider]"]:checked').val() != NO_CHANGE_PROVIDER) {
                    jQuery('[name^="customer[contact_details][phone_list]"][name$="[telephone]"]').each(function () {
                        numbersArray<?php echo $packageType ?>.push(jQuery(this).val());
                    });
                }
                <?php if($packageType != 'lte' && $packageType != 'dsl') : ?>
                    jQuery('[class~="provider[<?php echo $packageType ?>][phone_transfer]"').each(function () {
                        numbersArray<?php echo $packageType ?>.push(jQuery(this).val());
                    });
                <?php endif; ?>
                <?php if($packageType != 'lte') : ?>
                    numbersArray<?php echo $packageType ?>.push(newNumberString);
                <?php endif; ?>

                jQuery('[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][phone_entries][' + i + '][telephone_no]"]')
                    .find('option')
                    .remove();

                for (var key in numbersArray<?php echo $packageType ?>) {
                    if (numbersArray<?php echo $packageType ?>.hasOwnProperty(key)) {
                        var option = jQuery('<option></option>')
                            .val(numbersArray<?php echo $packageType ?>[key])
                            .html(numbersArray<?php echo $packageType ?>[key]);

                        if (numbersArray<?php echo $packageType ?>[key] == "") {
                            option.prop('hidden', true);
                        }
                        jQuery('[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][phone_entries][' + i + '][telephone_no]"]').append(option);
                    }
                }

                jQuery('[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][phone_entries][' + i + '][prefix][hidden]"]').val(prefix<?php echo $packageType ?>);

                jQuery('[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][phone_entries][' + i + '][telephone_no]"]').val(numbersArray<?php echo $packageType ?>.indexOf(newNumberString));
                // set new option as default
                jQuery('[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][phone_entries][' + i + '][telephone_no]"] option').filter(function() {
                    return jQuery(this).text() === Translator.translate('New');
                }).attr('selected','selected');
                <?php if ($packageType == 'lte') : ?>
                jQuery('[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][phone_entries][' + i + '][telephone_no]"] option').last().attr('selected','selected');
                <?php endif; ?>
            }

        <?php if ($checkoutData->hasCheckoutData() && ($this->hasFixedTypePackage())) : ?>
        <?php for ($i = 0;  $i < $phonebookEntriesLimit; $i++) : ?>
        <?php if ($checkoutData->getFieldValue("other[extended][".$package->getPackageId()."][".$package->getType()."][phone_entries][" . $i . "][telephone_no]")): ?>
        jQuery('[id="other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][phone_entries][<?php echo $i; ?>][telephone_no]"]').val('<?php echo $checkoutData->getFieldValue("other[extended][".$package->getPackageId()."][".$package->getType()."][phone_entries][" . $i . "][telephone_no]") ?>');
        <?php endif; ?>
        <?php endfor; ?>
        <?php endif; ?>
        var registrationsNoSelect = jQuery('[id="other[extended][<?php echo $package->getPackageId(); ?>][dsl][phone_entries_count]"]');
        if(registrationsNoSelect) {
            handleChangeRegistrationNo(registrationsNoSelect);
        }
        <?php endforeach; ?>
    }

    function fillSaveChangeProviderData() {
        <?php if ($this->hasCable() || $this->hasFixedTypePackage()) : ?>
        handlePhonebookEntries();
        <?php endif; ?>

        return true;
    }

    function handleChangeRegistrationNo(elem) {
        var limit = <?php echo $phonebookEntriesLimit ?>;
        var elem = jQuery(elem);
        var registrtations = elem.val();
        var choice2 = elem.closest('.choice-2');
        for (i = 0; i < limit; i++) {
            if (i >= registrtations) {
                choice2.find('.phonebook-entry-' + i).hide();
                choice2.find('.phonebook-entry-' + i).find('.phonebook-entry-phone-type').val('No entry');
                choice2.find('.phonebook-entry-' + i).find('.phone-number').val('Neu');
            } else {
                choice2.find('.phonebook-entry-' + i).show();
            }
        }
    }

    function validateAge(dob, maxage, minage) {
        var birth_month = dob[1];
        var birth_year = dob[2];
        var birth_day = dob[0];

        var today_date = new Date();
        var today_year = today_date.getFullYear();
        var today_month = today_date.getMonth();
        var today_day = today_date.getDate();
        var age = today_year - birth_year;

        /** Check if the month is not smaller **/
        if ( today_month < (birth_month - 1))
        {
            age--;
        }

        /** Check if the day is not smaller **/
        if (((birth_month - 1) == today_month) && (today_day < birth_day))
        {
            age--;
        }
        
        if(maxage !== null && minage !== null) {
            if (age >= minage && age <= maxage) {
                return true;
            }
        }

        return false;
    }

    Validation.add('other-directories-checkbox', '<?php echo $this->__("Please select at least one of the options above.") ?>', function (v, el) {
        var packageId = jQuery(el).data('package-id');

        if(jQuery('[data-package-id="' + packageId + '"]').filter(':checked').length > 0) {
            return true;
        }
        return false;
    });

    Validation.add('other-disabled-degree-min', '<?php echo $this->__("The minimum degree for the disabled is 50%") ?>', function (v, el) {
        var disabledDegreeInput = '[id="' + el.id + '"]';
        var degree = jQuery(disabledDegreeInput).val();
        if(degree !== undefined){
            degree = degree.replace(',','.');
        }
        if(!isNaN(degree) && degree >= 50){
            return true
        }

        return false;
    });

    Validation.add('other-disabled-degree-max', '<?php echo $this->__("The maximum degree is 100%") ?>', function (v, el) {
        var disabledDegreeInput = '[id="' + el.id + '"]';
        var degree = jQuery(disabledDegreeInput).val();
        if(degree !== undefined){
            degree = degree.replace(',','.');
        }
        if(!isNaN(degree) && degree <= 100){
            return true
        }

        return false;
    });

    Validation.add('validate-one-accordion-item-selected', '<?php echo $this->__("Please select one of the options.") ?>', function(v, el) {
        var found = false;

        jQuery(el).parent().children('.accordion').children('.accordion-item').each(function() {
            if(jQuery(this).children('.radio-wrapper, .accordion-head').first().find('input:radio').is(':checked')) {
                found = true;
            }
        });

        return found;
    });

    <?php
    $youngMinAge = Dyna_Catalog_Model_Type::getMobileYoungMinAge();
    $youngMaxAge = Dyna_Catalog_Model_Type::getMobileYoungMaxAge();

    $youbiageMaxAge = Dyna_Catalog_Model_Type::getYouBiageMaxAge();
    $youbiageMinAge = Dyna_Catalog_Model_Type::getYouBiageMinAge();

    ?>
    Validation.add('validate-young-age', '<?php echo $this->__("Age has to be between " . $youngMinAge . " and " . $youngMaxAge . " years."); ?>', function(v,el) {
        /** [DD,MM,YYYY] **/
        var dob = jQuery(el).val().split(".");
        return validateAge(dob, <?php echo (int) $youngMaxAge; ?>, <?php echo (int) $youngMinAge; ?>);
    });

    Validation.add('validate-youbiage-age', '<?php echo $this->__("Age has to be between " . $youbiageMinAge . " and " . $youbiageMaxAge . " years."); ?>', function(v,el) {
        /** [DD,MM,YYYY] **/
        var dob = jQuery(el).val().split(".");
        return validateAge(dob, <?php echo (int) $youbiageMaxAge; ?>, <?php echo (int) $youbiageMinAge; ?>);
    });

</script>
