<!-- Vodafone Garant
================================================== -->
<div class="bs-docs-section hidden">
    <form class="cart" action="saveWarranty" method="post" role="form" id="saveWarranty">
        <h4 id="warranty" class="page-header"><?php echo $this->__('Vodafone warranty'); ?></h4>

        <div class="row">
            <?php
            $packageArray = array();
            $items = Mage::getSingleton('checkout/session')->getQuote()->getAllItems();
            
            foreach($items as $item) {
                $packageArray[$item->getPackageId()][] = $item->getName();
            }
            
            foreach ($items as $item):
                if (Mage::helper('omnius_catalog')->is(array(Omnius_Catalog_Model_Type::SUBTYPE_DEVICE), $item->getProduct())):?>
                    <div class="col-md-3"><img class="center-block" src="<?php echo $this->helper('catalog/image')->init($item->getProduct(), 'small_image')->resize(80); ?>" height="80" width="80" /></div>
                    <div class="col-md-8 white-bg">
                        <div class="clearfix form-row">
                            <div>
                                <p>
                                    <span>
                                        <?php echo $item->getName();?>
                                    </span>
                                </p>
                            </div>

                            <div>
                                <label for="warranty[<?php echo $item->getPackageId();?>][imei]"><?php echo $this->__('Imei Number'); ?></label>
                                <input type="text" id="warranty[<?php echo $item->getPackageId();?>][imei]" name="warranty[<?php echo $item->getPackageId();?>][imei]" class="form-control input-sm">
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endforeach;?>
        </div>
        <div class="row">
            <div class="col-md-12 clearfix">
                <button type="submit" data-step="saveWarranty" class="btn btn-primary pull-right step"><?php echo $this->__('Next step'); ?></button>
            </div>
        </div>
    </form>
</div>

<script>
    //<![CDATA[
    form.saveWarranty = new VarienForm('saveWarranty', true);
    //]]>
</script>
