<!-- Contract Signing
<?php
$skipToDeliverSteps = Mage::registry('skipToDeliverSteps');
/** @var Omnius_Superorder_Model_Superorder $superOrder */
$superOrder = Mage::registry('order');
$quote = Mage::registry('quote');
$showDeliverySteps = Mage::registry('showDeliverySteps');
/** @var Omnius_Catalog_Helper_Data $catalogHelper */
$catalogHelper = Mage::helper('omnius_catalog');
$customerSession = Mage::getSingleton('customer/session');
?>
================================================== -->
<div id="contract_page" class="bs-docs-section <?php echo ($skipToDeliverSteps || $customerSession->getOrderEdit()) ? '' : 'hidden'; echo (($showDeliverySteps) || $customerSession->getOrderEdit()) ? '' : ' skip'; ?>">
    <form class="cart" method="post" action="saveContract"  role="form" id="saveContract">
        <h4 id="contract" class="page-header"><?php echo $this->__('Contract'); ?></h4>
        <div id="contract-content">
        <?php if ($this->getShowStep()):
            $thisOrderPackages = array();
            $orderPackages = array();
            $packageContainsSubscription = array();
            $session = Mage::getSingleton('checkout/session');
            $agent = $customerSession->getAgent();
            $thisStoreId = $agent ? $agent->getDealer()->getId() : null;
            if (!$skipToDeliverSteps) {
                $orderIds = $this->getOrderIds() ?: Mage::getSingleton('core/session')->getOrderIds();
                // If no orders were edited and on order edit, show the contract for all the old packages
                if(!$orderIds && $customerSession->getOrderEdit()) {
                    $orderIds = array();
                    $superOrder = $superOrder ? : $quote ? Mage::getModel('superorder/superorder')->load($quote->getSuperOrderEditId()) : Mage::getModel('superorder/superorder')->load(Mage::getSingleton('checkout/cart')->getQuote()->getSuperOrderEditId());
                    $isDeliveredAndEdited = $superOrder->isDeliveredAndEdited();
                    $ordersOld = $superOrder->getOrders(!$isDeliveredAndEdited);
                    foreach($ordersOld as $orderOld) {
                        if((!$orderOld->getParentId() && $isDeliveredAndEdited) || !$isDeliveredAndEdited){
                            $orderIds[$orderOld->getId()] = $orderOld->getIncrementId();
                        }
                    }
                }
                foreach($orderIds as $orderId) {
                    $order = Mage::getModel('sales/order')->loadByAttribute('increment_id', $orderId);
                    if ($order->getId()) {
                        $conn = Mage::getSingleton('core/resource')->getConnection('core_read');
                        $packageCollection = Mage::getModel('package/package')->getPackages($order->getSuperorderId())->setOrder('package_id', 'ASC');
                        $packagesModel = $conn->fetchAll($packageCollection->getSelect());
                        foreach($packagesModel as  $packageModel) {
                            $thisOrderPackages[$order->getIncrementId()][$packageModel['package_id']] = $packageModel;
                        }
                        foreach ($order->getAllItems(true) as $item) {
                            $packageId = $item->getPackageId();
                            if(!isset($orderPackages[$order->getIncrementId()][$packageId])) {
                                $orderPackages[$order->getIncrementId()][$packageId] = $thisOrderPackages[$order->getIncrementId()][$packageId];
                            }
                            $orderPackages[$order->getIncrementId()][$packageId]['items'][$item->getId()] = $item;
                            if (!isset($packageContainsSubscription[$packageId]) && $catalogHelper->is(array(Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION), $item->getProduct())) {
                                $packageContainsSubscription[$packageId] = true;
                            }
                        }
                        ksort($orderPackages[$order->getIncrementId()]);
                        if ( ! $superOrder) {
                            $superOrder = Mage::getModel('superorder/superorder')->load($order->getSuperorderId());
                        }
                    }
                }
                if ($superOrder && ! $superOrder->getId()) {
                    Mage::throwException($this->__('No current super order found.'));
                }
            } else {
                $orders = Mage::registry('orders');
                foreach ($orders as $order) {
                    $orderIds[$order->getId()] = $order->getIncrementId();
                    $storeId = $order->getShippingAddress()->getDeliveryStoreId();
                    if ($storeId == $thisStoreId) {
                        $conn = Mage::getSingleton('core/resource')->getConnection('core_read');
                        $packageCollection = Mage::getModel('package/package')->getPackages($order->getSuperorderId())->setOrder('package_id', 'ASC');
                        $packagesModel = $conn->fetchAll($packageCollection->getSelect());
                        foreach($packagesModel as  $packageModel) {
                            $thisOrderPackages[$order->getIncrementId()][$packageModel['package_id']] = $packageModel;
                        }
                        foreach ($order->getAllItems(true) as $item) {
                            $packageId = $item->getPackageId();
                            if(!isset($orderPackages[$order->getIncrementId()][$packageId])) {
                                $orderPackages[$order->getIncrementId()][$packageId] = $thisOrderPackages[$order->getIncrementId()][$packageId];
                            }
                            $orderPackages[$order->getIncrementId()][$packageId]['items'][$item->getId()] = $item;
                            if (!isset($packageContainsSubscription[$packageId]) && $catalogHelper->is(array(Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION), $item->getProduct())) {
                                $packageContainsSubscription[$packageId] = true;
                            }
                        }
                        ksort($orderPackages[$order->getIncrementId()]);
                    }
                    unset($thisOrderPackages);
                }
            }
            $websiteCode = Mage::app()->getWebsite($superOrder->getWebsiteId())->getCode();
            ?>
            <?php foreach ($orderPackages as $orderNumber => $packages): ?>
                <div class="row <?php echo isset($orderIds) && array_search($orderNumber, $orderIds) ? 'order-' . array_search($orderNumber, $orderIds) : '';?>">
                    <h3 class="col-md-offset-1 col-md-5"><?php echo $this->__('Order number'); ?>: <?php echo $orderNumber; ?></h3>
                </div>
                <?php foreach ($packages as $i => $package): ?>
                    <?php
                        if ($package['type'] === Omnius_Configurator_Model_PackageType::PACKAGE_TYPE_MOBILE) {
                            $hardwareOnly = false;
                        } else {
                            continue;
                        }
                        if (!isset($packageContainsSubscription[$package['package_id']])) {
                            continue;
                        }
                    ?>
                    <div class="row">
                        <div class="col-md-3">
                            <?php foreach ($package['items'] as $item): ?>
                                <?php if ($catalogHelper->is(
                                    array(Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION), $item->getProduct())):?>
                                    <img height="80" class="center-block" src="<?php echo $this->helper('catalog/image')->init($item->getProduct(), 'small_image')->resize(80); ?>" />
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </div>
                        <div class="col-md-8 white-bg">
                            <div class="clearfix form-row">
                                <div class="col-md-6">
                                    <p><strong>
                                    <?php if($hasHn) : ?>
                                        <?php echo $this->__('New Netherlands');?>
                                    <?php else: ?>
                                        <?php echo $this->__(ucfirst($item->getPackageType()) . ' Package'); ?>
                                    <?php endif; ?>
                                    </strong>&nbsp;&nbsp;&nbsp;<span class="sale-type" style="font-weight: normal;"><?php echo $this->__(strtoupper($package['sale_type'])) ?></span></p>
                                    <p>
                                        <?php $name = '';
                                        foreach ($package['items'] as $item) {
                                            if (!$item->isPromo()) {
                                                $name .= $item->getProduct()->getName() . ', ';
                                            }
                                        }
                                        echo rtrim($name, ', ');
                                        ?>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            <?php endforeach; ?>
                <div class="row">
                    <div class="clearfix form-row">
                        <div class="col-md-offset-6 col-md-6">
                            <a href="<?php echo Mage::getUrl('checkout/cart/print', array('superorder_id' => $superOrder->getOrderNumber())); ?>" class="btn btn-primary print-contract-url print-validate" target="_blank" ><?php echo $this->__('Print Contract'); ?></a>
                        </div>
                    </div>
                    <?php if($skipToDeliverSteps || !$customerSession->getOrderEdit() || $this->getOrderIds()): ?>
                        <div class="clearfix form-row">
                            <div class="col-md-offset-6 col-md-6">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="contract[sendmail]" name="contract[sendmail]" value="1">
                                    <?php echo $this->__('Contract emailed to customer'); ?>
                                </label>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if($skipToDeliverSteps || !$customerSession->getOrderEdit() || $this->getOrderIds()): ?>
                        <?php if(!$hardwareOnly): ?>
                            <div class="clearfix form-row">
                                <div class="col-md-offset-6 col-md-6">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" onclick="checkIfAllChecked()" id="contract[signed]" name="contract[signed]" value="1" class="required-entry">
                                        <?php echo $this->__('Contract signed'); ?>
                                    </label>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
            <?php if (!$skipToDeliverSteps): ?>
                <?php if(!$customerSession->getOrderEdit() || $this->getOrderIds()): ?>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary pull-left step" data-step="saveContract" onclick="continueWithoutSigning()"><?php echo $this->__('Continue other time');?></button>
                            <button type="submit" id="contract-continue-button" class="btn btn-success pull-right step disabled" data-step="saveContract"><?php echo $this->__('Next step'); ?></button>
                        </div>
                    </div>
                <?php endif; ?>
            <?php else: ?>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary pull-left step" data-step="saveContract" onclick="submitSteps()"><?php echo $this->__('Continue other time');?></button>
                        <button type="submit" id="contract-continue-button" class="<?php echo (!$hardwareOnly) ? 'disabled' : '' ;?> btn btn-success pull-right step" data-step="saveContract"><?php echo $this->__('Continue Checkout');?></button>
                    </div>
                    <div class="col-md-12">&nbsp</div>
                    <?php if(!$superOrder->hasDeliveredPackages()): ?>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary pull-left step" data-step="saveContract" onclick="cancelOrder(<?php echo ($superOrder && $superOrder->getOrderNumber()) ? $superOrder->getOrderNumber() : null; ?>)"><?php echo $this->__('Cancel Order');?></button>
                        </div>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
            <input type="hidden" name="superorder_id" value="<?php echo ($superOrder && $superOrder->getOrderNumber()) ? $superOrder->getOrderNumber() : null; ?>"/>
        <?php endif; ?>
        </div>
    </form>
</div>

<script type="text/javascript">
    form.saveContract = new VarienForm('saveContract', true);
</script>
