<!-- Vodafone Thuis
================================================== -->
<div class="bs-docs-section hidden">
    <form class="cart" action="saveVodafoneHome" method="post" role="form" id="saveVodafoneHome">
        <h4 id="vodafone-home" class="page-header"><?php echo $this->__('Vodafone Home');?></h4>
            <?php
            $session = Mage::getSingleton('checkout/session');
            foreach ($session->getQuote()->getAllVisibleItems() as $item):
                $product = Mage::getModel('catalog/product')->load($item->getProductId());
                if ($product && $product->getId() && $product->$showCheckoutShowThuis()):?>
                    <div class="row">
                        <div class="col-md-2"><img height="80" class="center-block" src="<?php echo $mediaUrl; ?>/tmp/thuis.png" /></div>
                        <div class="col-md-9 white-bg">
                            <div class="clearfix form-row">
                                <div class="col-md-6">
                                    <label for="vodafone_home[<?php echo $item->getPackageId();?>][order_number]"><?php echo $this->__('Order number');?></label>
                                    <input type="text" id="vodafone_home[<?php echo $item->getPackageId();?>][order_number]" name="vodafone_home[<?php echo $item->getPackageId();?>][order_number]" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
        <div class="row">
            <div class="col-md-12 clearfix">
                <button type="submit" data-step="saveVodafoneHome" class="btn btn-primary pull-right step"><?php echo $this->__('Next step');?></button>
            </div>
        </div>
    </form>
</div>

<script>
    //<![CDATA[
    form.saveVodafoneHome = new VarienForm('saveVodafoneHome', true);
    //]]>
</script>
