<div class="container">
    <div class="row">
        <div class="col-md-12 page-title">
            <h1>Seite nicht gefunden</h1>
        </div>
        <div class="col-md-12">
            <p>Die gewünschte Seite konnte nicht gefunden werden.</p>
        </div>
    </div>
</div>