<div class="col-main">
    <div class="page-title">
        <h1>Bei der Verarbeitung Ihrer Anfrage ist ein Fehler aufgetreten</h1>
    </div>
    <?php if ($this->showSentMsg): ?>
    <ul class="messages">
        <li class="success-msg">
            <ul>
                <li>Ihre Nachricht wurde gesendet und wird so schnell wie möglich beantwortet werden. Vielen Dank für die Berichterstattung.</li>
            </ul>
        </li>
    </ul>
    <?php endif; ?>
    <?php if ($this->showSendForm): ?>
    <ul class="messages">
        <li class="note-msg">
            <ul>
                <li>Wir erleben derzeit einige technische Probleme. Wir entschuldigen uns für die Unannehmlichkeiten und werden Sie in Kürze kontaktieren, um das Problem zu lösen. Um uns zu helfen, füllen Sie bitte das untenstehende Formular aus.</li>
            </ul>
        </li>
    </ul>
        <?php if ($this->showErrorMsg): ?>
    <ul class="messages">
        <li class="error-msg">
            <ul>
                <li>Bitte füllen Sie alle Pflichtfelder mit gültigen Informationen aus</li>
            </ul>
        </li>
    </ul>
        <?php endif; ?>
    <form action="<?php echo "{$this->getBaseUrl(true)}errors/report.php?id={$this->reportId}" ?>" method="post" id="form-validate">
        <fieldset class="fieldset">
            <h2>Personal Information</h2>
            <ul class="form-list group-select">
                <li class="fields">
                    <div class="field">
                        <label for="firstname" class="required"><em>*</em>Vorname</label>
                        <span class="input-box"><input type="text" name="firstname" id="firstname" value="<?php echo $this->postData['firstName'] ?>" title="First Name" class="required-entry input-text" /></span>
                    </div>
                    <div class="field">
                        <label for="lastname" class="required"><em>*</em>Familienname</label>
                        <span class="input-box"><input type="text" name="lastname" id="lastname" value="<?php echo $this->postData['lastName'] ?>" title="Last Name" class="required-entry input-text" /></span>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="firstname" class="required"><em>*</em>E-Mail-Addresse</label>
                        <span class="input-box"><input type="text" name="email" id="email_address" value="<?php echo $this->postData['email'] ?>" title="Email Address" class="validate-email required-entry input-text" /></span>
                    </div>
                    <div class="field">
                        <label for="firstname">Telefon</label>
                        <span class="input-box"><input type="text" name="telephone" id="telephone" value="<?php echo $this->postData['telephone'] ?>" title="Telephone" class="input-text" /></span>
                    </div>
                </li>
                <li>
                    <div class="input-box">
                        <label for="firstname">Kommentar</label>
                        <span class="input-box"><textarea name="comment" cols="5" rows="3"><?php echo $this->postData['comment'] ?></textarea></span>
                    </div>
                </li>
            </ul>
        </fieldset>
        <div class="buttons-set form-buttons btn-only">
            <button name="submit" class="button" type="submit"><span><span>Einreichen</span></span></button>
        </div>
        <p class="required">* Benötigte Felder</p>
    </form>
    <?php elseif ('' == $this->reportAction): ?>
        <p><em>Der Ausnahmedruck ist aus Sicherheitsgründen standardmäßig deaktiviert.</em></p>
    <?php endif; ?>

    <?php if ($this->reportAction == 'print'): ?>
    <div class="trace-container">
        <div class="trace">
            <pre><?php echo $this->reportData[0] ?><br />
<strong>Trace:</strong>
<?php echo htmlspecialchars($this->reportData[1]) ?><br />
</pre>
        </div>
    </div>
    <?php endif; ?>
    <?php if ($this->reportId && $this->reportUrl): ?>
        <p>Fehlerprotokollnummer: <a href="<?php echo htmlspecialchars($this->reportUrl) ?>"><?php echo $this->reportId ?></a></p>
    <?php endif; ?>
</div>
