<?php
/**
 * Copyright (c) 2018. Dynacommerce B.V.
 */
$allowedMulti = Mage::helper('dyna_configurator')->allowMultipleProductsSelected($this->getType(), $this->getSection());
/** @var Vznl_Configurator_Helper_Data $configuratorHelper */
$configuratorHelper = Mage::helper('vznl_configurator');
?>
<div class="conf-block panel panel-default panel-searchable"
     id="<?php echo $this->getSection() ?>-block"
     data-expanded="false" data-type="<?php echo $this->getSection() ?>"
     data-index="{{index}}" data-multi="<?php echo $allowedMulti ? 'true' : 'false'; ?>"
>
    <div class="selection-block box-closed">
        <div class="panel-heading">
            <div class="row configurator-top">
                <div class="col-sm-4 col-md-4 col-lg-4 item-title">
                    <div class="pull-left">
                        <span class="counter <?php echo $this->getType() . ' ' . $this->getSection(); ?>"><!-- {{math index "+" 1}} --></span>
                    </div>
                    <div class="pull-left">
                        <div class="panel-title">
                            <?php echo $this->getPackageTypeName(); ?><span class="incomplete hidden">*</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 pull-right prn">
                    <div class="content text-right">
                        <div class="no-item-message">
                            <?php echo $this->__('Please select'); ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row configurator-filter-container">
                <div class="filter">
                    <div class="search-container">
                        <input 
                            type="text"
                            id="search-<?php echo $this->getSection(); ?>"
                            name="search-<?php echo $this->getSection(); ?>"
                            class="search-<?php echo $this->getSection(); ?> form-control search"
                            data-search-on-type="true"
                            data-document-id="entity_id"
                            data-search-fields="name,sku,description"
                            data-callback="configurator.filterProducts"
                            data-documents=""
                            placeholder="<?php echo $configuratorHelper->__('Search'); ?>"
                        />
                        <div class="search-icon"></div>
                    </div>
                    <?php if (in_array($this->getSection(), ['tariff', 'device'])) { ?>
                        <button type="button" class="form-control btn btn-show-all show-incompatible" onclick="configurator.activateDisabledItems(this);">
                            <span class="glyphicon glyphicon-list"></span>
                            <?php echo $this->__('Show all'); ?>
                        </button>
                        <button type="button" class="form-control btn btn-show-all hide-incompatible hidden" onclick="configurator.deactivateDisabledItems(this);">
                            <span class="glyphicon glyphicon-list"></span>
                            <?php echo $this->__('Show available'); ?>
                        </button>
                    <?php } ?>
                    <!--Hidden filter button for wave2 see OVG-794 comments-->
                    {{#compare (objectLength filters) 0 operator='>'}}
                        <button class="form-control btn btn-secondary btn-filter" onclick="window.configuratorUI.toggleFilters('<?php echo $this->getSection(); ?>')">
                            <?php echo $this->__("Filter"); ?>
                            <span class="filter-status"><span data-default-message="({0})" data-message="({0})"></span></span>
                        </button>
                    {{/compare}}
                </div>
                <div class="clearfix"></div>
                <div class="filters-container" data-section="<?php echo $this->getSection(); ?>">
                    <input type="text" name="search-<?php echo $this->getSection(); ?>-tags"
                           class="search-<?php echo $this->getSection(); ?>-tags"
                           data-role="tagsinput"
                           readonly
                    />
                    {{#each filters }}
                        {{#assertSection this}}
                            <div class="dropdown section-filters" data-section="<?php echo $this->getSection(); ?>" data-filter-for="{{@key}}">
                                <button class="btn btn-filter dropdown-toggle" id="dropdown-filter-type" data-toggle="dropdown">
                                    {{this.label}}
                                    <i class="vfde-unfold-more small"></i>
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="dropdown-filter-type">
                                    {{#each this.options}}
                                        {{#if @key}}
                                            <li data-selection="{{@key}}" onclick="window.configuratorUI.selectFilterOption(this);">{{this}}</li>
                                        {{/if}}
                                    {{/each}}
                                </ul>
                            </div>
                        {{/assertSection}}
                    {{/each}}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="product-table clearfix">
            <div class="family-header family-header-price">
                <div class="family-name"></div>
                <div class="family-price">
                    <?php echo $this->__("One Time"); ?>
                </div>
                <div class="family-price">
                    <?php echo $this->__("Monthly"); ?>
                </div>
            </div>
            {{#if families}}
                {{#each families}}
                    {{#if this.products}}
                        {{> <?php echo $this->getSection(); ?>_family this}}
                    {{/if}}
                {{/each}}
            {{/if}}
            {{#if products}}
                {{#each products}}
                    {{> <?php echo $this->getSection(); ?>_selected_item this}}
                {{/each}}
            {{else}}
                <p><?php echo $this->__('No products available'); ?></p>
            {{/if}}
        </div>
    </div>

    <div class="selected-item"
         data-no-item="
         {{#compare products.length 0 operator='=='}}
             {{#compare families.length 0 operator='=='}}
                <?php echo $this->__('Nothing selectable'); ?>
             {{else}}
                <?php echo $this->__('Please select'); ?>
             {{/compare}}
         {{else}}
             <?php echo $this->__('Please select'); ?>
         {{/compare}}"
         onclick="configurator.toggleSection('<?php echo $this->getSection() ?>', false);"
    >
        <div class="panel-heading block-header">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 item-title">
                    <div class="pull-left">
                        <span class="counter <?php echo $this->getType() . ' ' . $this->getSection(); ?>"><!-- {{math index "+" 1}} --></span>
                    </div>
                    <div class="pull-left">
                        <div class="panel-title">
                            <?php echo $this->getPackageTypeName(); ?>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 pull-right prn">
                    <div class="content text-right">
                        <div class="no-item-message">
                            <?php echo $this->__('Please select'); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-footer col-md-12"></div>
    </div>
</div>
<?php if ($this->getSection() == 'tariff') :?>
<div class="item-sim sim-select panel panel-default conf-block text-left" id="sim-select-block" style="display:none;" data-type="<?php echo $this->getSection() ?>">
    <div class="section--title">
        <?php echo $this->__('Select SIM card')?>
    </div>
    <div class="form-group label-floating">
        <div class="input-wrapper select-wrapper">
            <label><?php echo $this->__('Sim card') ?></label>
            <select id="sim-card-select"><!-- filled by js--></select>
        </div>
    </div>
</div>
<?php endif; ?>