<?php
/** @var $this Dyna_Bundles_Block_Hint */

/** @var Dyna_Bundles_Helper_Data $bundleHelper */
$bundleHelper = Mage::helper('dyna_bundles');
$bundles = $this->getBundlesToDisplay();
if (empty($bundles)) {
    throw new Exception($this->__("Something went wrong while launching the bundle configurator. Try again later"));
}


// will contain other combinations of bundles
$additionalBasePackages = $additionalQuotePackages = [];
// there are 2 or more bundles, get all other bundles combinations
if (count($bundles) >= 1) {
    foreach ($bundles as $extraBundle) {
        //get installed base packages
        if ($extraBundle->getInstalledBasePackages()) {
            $additionalBasePackages = array_merge($additionalBasePackages, $extraBundle->getInstalledBasePackages());
        }
        //get quote packages
        if ($extraBundle->getQuoteBasePackages()) {
            $additionalQuotePackages = array_merge($additionalQuotePackages, $extraBundle->getQuoteBasePackages());
        }
    }
}

// get first bundle and display it in the hint panel
$bundle = array_shift($bundles);
$quotePackage = $bundle->getQuotePackage();
$bundles[] = $bundle;
unset($bundle);


$stack_identifier = in_array(strtolower($quotePackage['type']), Vznl_Catalog_Model_Type::getMobilePackages()) ? Dyna_Catalog_Model_Type::TYPE_MOBILE
    : (in_array(strtolower($quotePackage['type']), Vznl_Catalog_Model_Type::getFixedPackages()) ? Vznl_Catalog_Model_Type::TYPE_FIXED : 'dsl');
$packageStack = $quotePackage['type'];
?>

<div class="bundle-details-header">
    <div class="container-fluid clearfix">
        <div class="col-sm-8 col-sm-offset-2">
            <!--actual package-->
            <div class="col-xs-4 bundle-package-block first-bundle default" data-bundle-ui-section-id="1">
                <div class ="bundle-package-block-body">
                    <div class="col-xs-1 pln prn mrn mln">
                        <div class="overview-plan-badge">
                            <span class="stack-identificator <?php echo strtolower($stack_identifier); ?> <?php echo $quotePackage['process_context'] == 'ACQ' ? 'new_indicator' : ''; ?>"></span>
                        </div>
                    </div>
                    <div class="col-xs-10 pln prn">
                        <div class="col-xs-12 prn mrn mln">
                            <p class="orderline-text"><?php echo $quotePackage['product'] ?></p>
                        </div>
                        <div class="col-xs-12 prn mrn mln">
                            <p class="orderline-text-description">
                                <?php
                                    if (in_array($quotePackage['type'], Dyna_Catalog_Model_Type::getMobilePackages())) {
                                        if (!empty($quotePackage['ctn'])) {
                                            echo $this->__("with phone number") . ': ' . $quotePackage['ctn'];
                                        } else {
                                            echo sprintf($this->__("Vodafone %s"), $quotePackage['package_type_name']);
                                        }
                                    } else{
                                        echo $this->__("Service address") . ': '. ($quotePackage['address'] ?? '-');
                                    }
                                ?>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-1 right-button" onclick="configuratorUI.deleteBundleConfigurator(this)">
                        <i class="vfde vfde-delete fa-xs"></i>
                    </div>
                </div>
                <div class="after-icon-plus">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
            <!-- end actual package-->

            <!-- to select -->
            <div class="col-xs-4 bundle-package-block default multipackage" data-bundle-ui-section-id="2">
                <div class ="bundle-package-block-body bordered" onclick="configurator.showBundlesAlternatives(this);">
                    <div class="col-xs-1 pln prn mrn mln">
                        <div class="overview-plan-badge">
                            <span class="stack-identificator  "></span>
                        </div>
                    </div>
                    <div class="col-xs-10 pln prn">
                        <div class="col-xs-12 prn mrn mln">
                            <p class="orderline-text">
                                <?php echo $this->__("Add package"); ?>
                            </p>
                        </div>
                        <div class="col-xs-12 prn mrn mln">
                            <p class="orderline-text-description">
                                <?php echo $this->__("Mobilfunk/Kable/DSL"); ?>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="after-icon">
                    <div class="merge-divider"></div>
                </div>
            </div>
            <!-- end to select-->

            <!--installed base template Not used-->
            <div class="col-xs-4 bundle-package-block default hidden template">
                <div class ="bundle-package-block-body">
                    <div class="col-xs-1 pln prn mrn mln">
                        <div class="overview-plan-badge">
                            <span class="stack-identificator mobile "></span>
                        </div>
                    </div>
                    <div class="col-xs-10 pln prn">
                        <div class="col-xs-12 prn mrn mln">
                            <p class="orderline-text"><?php echo $quotePackage['product'] ?></p>
                        </div>
                        <div class="col-xs-12 prn mrn mln">
                            <p class="orderline-text">
                                <?php
                                echo $this->__("Service address") . ': '. ($quotePackage['address'] ?? '-');
                                ?>
                            </p>
                        </div>
                    </div>
                    <!--<div class="col-xs-1 right-button" style="display: none;">
                        <i class="vfde vfde-delete fa-xs"></i>
                    </div>-->
                </div>
                <div class="after-icon">
                    <div class="merge-divider"></div>
                </div>
            </div>
            <!-- end installed base -->

            <!-- Make bundle -->
            <div class="col-xs-4">
                <div class="bundle-to-cart-btn">
                    <input type="submit" class="btn btn-block btn-primary disabled"
                        value="<?php echo $this->__('Add to basket') ?>"
                        data-bundle-id=""
                        data-subscription-number=""
                        data-inter-stack-package-id=""
                        data-product-id=""
                        data-entity-id=""
                        data-contract-id=""
                        onclick="configurator.addToCartBundle(this)"
                    />
                </div>
                <button class="btn btn-default info-btn-bundle expand-drawer col-xs-2 disabled" onclick="configurator.showBundleBarMainDetailsToaster()">
                    <i class="vfde vfde-info"></i>
                </button>
                <button class="btn btn-default info-btn-bundle colapse-drawer col-xs-2 disabled" aria-hidden="true" onclick="configurator.showBundleBarInformationToaster()">
                    <i class="vfde vfde-info"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-1">
            <button id='hideToasterButton' type="button" class="close button vfde-clear fs14 main-color" onclick="configuratorUI.hideBundleToaster()" aria-hidden="true" style=""></button>
        </div>
    </div>
</div>

<!-- Summary info about the chosen bundle -->
<div class="bundle-details-packages">
    <div class="container-fluid clearfix">
        <div class="col-sm-8 col-sm-offset-2" id="bundle-details-packages-list">
            <!-- Ajax loaded-->
            <div data-stack="<?php echo $packageStack; ?>" class="col-xs-4 bundle-package-summary default source-package">
                <h4></h4>
                <ul></ul>
                <p class="old-price"></p>
                <h2 class="new-price"></h2>
            </div>
            <div data-stack="" class="col-xs-4 bundle-package-summary default target-package">
                <h4></h4>
                <ul></ul>
                <p class="old-price"></p>
                <h2 class="new-price"></h2>
            </div>
            <div class="col-xs-4 bundle-package-summary bundle-details" style="border-right: 0;">
                <div id="bundle-details-title" class="bundle-details-title">
                    <h2></h2>
                </div>
                <ul>
                    <li id="bundle-description" class="bundle-description">
                        <i class="vfde ' + iconClass + '"></i><p></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end of summary info -->


<!-- Bundle alternatives modal -->
    <div id="bundle-alternatives" class="hidden">
        <div class="row bundle-alternatives-packages" data-bundle-ui-section-id="2">
            <!--<div class="col-xs-12 col-sm-12 clearfix bundle-alternatives-header">
                <div data-tab="installed-base" class="col-md-4 col-xs-12 tab-details <?php if( count($additionalBasePackages) > 0 ) { ?>active<?php } else { ?>hidden<?php } ?> clearfix" onclick="configuratorUI.toggleBundlesAlternativesTabs(this)">
                    <?php echo $this->__("My products") . '(' . count($additionalBasePackages) . ')' ?>
                </div>
                <div data-tab="shopping-cart" class="col-md-4 col-xs-12 tab-details <?php if( count($additionalBasePackages) == 0 ) { ?>active<?php } ?> clearfix" onclick="configuratorUI.toggleBundlesAlternativesTabs(this)">
                    <?php echo $this->__("Shopping Cart") .'(' . count($additionalQuotePackages) . ')' ;  ?>
                </div>
            </div>-->

            <!-- tab installed base products -->
            <div class=" col-md-12 col-xs-12 col-sm-12 clearfix container-fluid bundle-alternatives-body <?php if( count($additionalBasePackages) == 0 ) { ?>hide<?php } ?>" data-tab="installed-base">
                <ul class="row">
                    <?php if (count($additionalBasePackages) > 0): ?>
                        <!--alternatives-list hidden-->
                        <?php foreach ($additionalBasePackages as $additionalBasePackage) : ?>
                            <li class="col-xs-12 bundle-alternative-product">
                                <div class="col-xs-1 pln prn mrn mln">
                                    <span class="stack-identificator <?php echo $additionalBasePackage['package_type_icon'];?>"></span>
                                </div>
                                <div class="col-xs-9 pln mln">
                                    <div class="col-xs-12 pln">
                                        <p class="orderline-text"><?php echo $additionalBasePackage['title'] ?></p>
                                    </div>
                                    <div class="col-xs-12 pln">
                                        <p class="orderline-text-description">
                                            <?php
                                            if(strtolower($additionalBasePackage['package_type']) == 'mobile'){
                                                if(isset($additionalBasePackage['ctn'])){
                                                    echo $this->__("with phone number") . ': '. $additionalBasePackage['ctn'];
                                                }else{
                                                    echo sprintf($this->__("Vodafone %s"), $additionalBasePackage['package_type_name']);
                                                }
                                            }else{
                                                echo $this->__("Service address") . ': '. ($additionalBasePackage['address'] ?? '-');
                                            }
                                            ?>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-2 pln">
                                    <button class="btn btn-green bundle-package-entry"
                                        data-product-id="<?php echo $additionalBasePackage['product_id']?>"
                                        data-bundle-id="<?php echo $additionalBasePackage['active_bundle_id']?>"
                                        data-contract-id="<?php echo $additionalBasePackage['contract_id']; ?>"
                                        data-entity-id="<?php echo $additionalBasePackage['entity_id']; ?>"

                                        onclick="configuratorUI.switchBundle(this, '<?php echo $additionalBasePackage['active_bundle_id']; ?>',
                                            '<?php echo $additionalBasePackage['contract_id']; ?>',
                                            '<?php echo $additionalBasePackage['product_id']; ?>',
                                            '<?php echo isset($additionalBasePackage['is_interstack']) ? $additionalBasePackage['is_interstack'] : null; ?>',
                                            '<?php echo isset($additionalBasePackage['package_id']) ? $additionalBasePackage['package_id'] : null; ?>',
                                            '<?php echo $additionalBasePackage['package_type']; ?>')"
                                    ><?php echo $this->__('Select');?></button>
                                </div>
                            </li>
                        <?php endforeach; ?>
                    <?php else:?>
                    <li class="col-xs-12 ">
                        <p class="orderline-text"><?php echo $this->__("No installed base packages"); ?></p>
                    </li>
                    <?php endif;?>
                </ul>
            </div>

            <!-- tab quote products -->
            <div class="col-md-12 col-xs-12 col-sm-12 clearfix container-fluid  bundle-alternatives-body <?php if( count($additionalBasePackages) > 0 ) { ?>hide<?php } ?>" data-tab="shopping-cart">
                <ul class="row">
                    <?php if (count($additionalQuotePackages) > 0): ?>
                        <!--alternatives-list hidden-->
                        <?php foreach ($additionalQuotePackages as $additionalQuotePackage): ?>
                            <li class="col-xs-12 bundle-alternative-product">
                                <div class="col-xs-1 pln prn mrn mln">
                                    <span class="stack-identificator <?php echo strtolower($additionalQuotePackage['package_type']);?>  "></span>
                                </div>
                                <div class="col-xs-9 pln mln">
                                    <div class="col-xs-12 pln">
                                        <p class="orderline-text"><?php echo $additionalQuotePackage['title'] ?></p>
                                    </div>
                                    <div class="col-xs-12 pln">
                                        <p class="orderline-text-description">
                                            <?php
                                                if(strtolower($additionalQuotePackage['package_type']) == 'mobile'){
                                                    if(isset($additionalQuotePackage['ctn'])){
                                                        echo $this->__("with phone number") . ': '. $additionalQuotePackage['ctn'];
                                                    }else{
                                                        echo sprintf($this->__("Vodafone %s"), $additionalQuotePackage['package_type_name']);
                                                    }
                                                }else{
                                                    echo $this->__("Service address") . ': '. ($additionalQuotePackage['address'] ?? '-');
                                                }
                                            ?>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-2 pln">
                                    <button class="btn btn-green bundle-package-entry"
                                        data-product-id="<?php echo $additionalQuotePackage['product_id'] ?? ''; ?>"
                                        data-bundle-id="<?php echo $additionalQuotePackage['active_bundle_id'] ?? ''; ?>"
                                        data-contract-id="<?php echo $additionalQuotePackage['contract_id'] ?? ''; ?>"
                                        data-entity-id="<?php echo $additionalQuotePackage['package_id'] ?? ''; ?>"

                                        onclick="configuratorUI.switchBundle(this, '<?php echo $additionalQuotePackage['active_bundle_id']; ?>','<?php echo $additionalQuotePackage['contract_id'] ?? ''; ?>',
                                            '<?php echo $additionalQuotePackage['product_id'] ?? '';?>',
                                            '<?php echo $additionalQuotePackage['is_interstack'] ?? ''; ?>',
                                            '<?php echo ($additionalQuotePackage['package_id']) ? $additionalQuotePackage['package_id'] : null; ?>',
                                            '<?php echo $additionalQuotePackage['package_type']; ?>',
                                            '<?php echo $additionalQuotePackage['process_context']; ?>')"
                                    ><?php echo $this->__('Select');?></button>
                                </div>
                            </li>
                        <?php endforeach; ?>
                    <?php else:?>
                        <li class="col-xs-12 ">
                            <p class="orderline-text"><?php echo $this->__("No quote packages"); ?></p>
                        </li>
                    <?php endif;?>
                </ul>
            </div>
        </div>
    </div>
<!-- Bundle alternatives modal -->
