<script id="customer-screen-cable-tv-product" type="text/x-handlebars-template">
    <?php $customerSession = Mage::getSingleton('customer/session');?>

    <div id="cable-product-tv-{{customer_number}}-{{@index}}" class="product-details-content-container clearfix collapse">
        <div class="product-details-header row  col-sm-12 clearfix">
            <div data-tab="general" class="details-item active tab-title col-lg-2 col-sm-6 col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("General") ?>
            </div>

            {{#if tariff}}
            <div data-tab="subscriptions" class="details-item tab-title col-lg-3 col-sm-6 col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Tariff") ?>
            </div>
            {{/if}}

            {{#if options}}
            <div data-tab="options" class="details-item tab-title col-lg-2 col-sm-6 col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Options") ?>
            </div>
            {{/if}}

            {{#if devices}}
            <div data-tab="hardware" class="details-item tab-title col-lg-3 col-sm-6 col-md-6 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Hardware") ?>
            </div>
            {{/if}}

            {{#if discounts}}
            <div data-tab="benefits" class="details-item tab-title col-lg-2 col-sm-12 col-md-6 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Benefits") ?>
            </div>
            {{/if}}
        </div>

        {{#if this.disableButtons.perform_serviceability.enabled}}
        {{setVariable 'hidden' 'buttonsVisible'}}
        {{setVariable 'disabled-mandatory' 'buttonsDisabled'}}
        {{else}}
        {{setVariable '' 'buttonsVisible' }}
        {{setVariable '' 'buttonsDisabled' }}
        {{/if}}

        <!-- tab contents general-->
            <div class="product-details-content tab-details general col-md-12  col-sm-12 clearfix row">
                <div class="row row-flex">
                    <div class="col-lg-8 col-sm-12 clearfix same-height-col col-md-12 general-content">
                        <div class="info-title"><?php echo $this->__("Bundle Eligible"); ?>:
                        </div>
                        <div class="info-description">
                            <?php echo $this->__("No"); ?>
                        </div>
                        <div class="row clearfix margin-bottom-10"></div>

                        <div class="info-title"><?php echo $this->__("Part of Bundle"); ?>:
                        </div>
                        <div class="info-description">
                            {{#if part_of_bundle}}
                                <?php echo $this->__("Yes"); ?>
                            {{else}}
                                <?php echo $this->__("No"); ?>
                            {{/if}}
                        </div>
                        <div class="row clearfix margin-bottom-10"></div>

                        {{#if service_address}}
                        <div class="info-title"><?php echo $this->__("Service Address"); ?>:
                        </div>
                        <div class="info-description">
                            {{service_address.street}} {{service_address.house_number}} {{service_address.house_addition}},
                            {{service_address.postcode}} {{service_address.city}}
                            {{service_address.district}} {{service_address.country.Name}}
                        </div>
                        <div class="row clearfix margin-bottom-10"></div>
                        {{/if}}

                        <div class="info-title"><?php echo $this->__("Type of connection"); ?>:
                        </div>
                        <div class="info-description">
                            {{#if env_contract}}
                            <?php echo $this->__("Single User Agreement"); ?>
                            {{else}}
                            <?php echo $this->__("Multiple User Agreement"); ?>
                            {{/if}}
                        </div>
                        <div class="row clearfix margin-bottom-10"></div>
                    </div>
                    <div class="col-lg-4 col-sm-12 clearfix products-buttons-container col-md-12 same-height-col">
                        <?php if ($customerSession->getAgent()->isGranted(array('CHANGE_TO_CAB_BASE'))) : ?>
                            <div class="ten-px-delimiter">
                                <div class="btn-block">
                                    <button type="button"
                                            class="btn btn-block btn-primary loading-search pos-relative ellipsis-overflow {{buttonsDisabled}}
                                                {{#if this.disableButtons.modify_package.class}} disabled {{else}}{{#if tariff.name }}{{tariff.name}}{{else}} disabled {{/if}}{{/if}}"
                                            data-customer-id="{{this.customer_number}}"
                                            data-service-line-id="{{this.service_line_id}}"
                                            data-skus="{{this.mapped_skus}}"
                                            data-tariff="{{this.tariff.sku}}"
                                            data-socs="{{this.mapped_socs}}"
                                            data-all-socs="{{this.all_socs}}"
                                            data-package-type="{{this.package_type}}"
                                            data-ctn="{{this.ctn}}"
                                            data-button="modify_package"
                                            data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KD; ?>"
                                            data-bundle-product-ids="{{this.bundle_product_ids}}"
                                            onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::ILSBLU; ?>')"
                                            title="<?php echo $this->__('Modify Package'); ?>">
                                        <?php echo $this->__('Modify Package'); ?>
                                    </button>
                                </div>
                            </div>
                        <?php endif; ?>

                        <?php if ($customerSession->getAgent()->isGranted(array('MOVE_OFFNET_CABLE_TO_DSL'))) : ?>
                            <div class="ten-px-delimiter">
                                <div class="btn-block">
                                    <button type="button"
                                            class="btn btn-block btn-info-grey btn-move-service loading-search pos-relative button-requires-serviceability-kip ellipsis-overflow {{buttonsDisabled}} {{#if this.disableButtons.change_service.class}} disabled {{/if}}"
                                            {{#ifCond this.disableButtons.change_service.class "!=" true}}
                                                onclick="customerSection.moveOffnetToDsl(this, '{{service_address.address_id}}', '{{tariff.name}}', '{{customer_number}},{{tariff.install_base_product_id}}', {{part_of_bundle}})"
                                            {{/ifCond}}
                                            data-button="change_service"
                                            data-package-creation-type = "{{this.package_type}}"
                                            data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KD; ?>"
                                            title="<?php echo $this->__('Move Service'); ?>">
                                        <?php echo $this->__('Move Service'); ?>
                                    </button>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        {{#if tariff.name }}
            {{#if this.disableButtonsMessages}}
                <div class='col-lg-12 col-sm-12 clearfix eligibility-check alert-warning alert-disable-buttons general tab-details'
                     data-serialized-key="{{this.disableButtons.perform_serviceability.serviceAddressID}}">
                    <div class="warning-message col-xl-12 col-lg-8 col-md-12 col-sm-12">
                        <div class="notification-circle-icon"> </div>
                        {{#each this.disableButtons }}
                            {{#if this.message }}
                                <div class="notif-msg">{{this.message}}</div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{else}}
                <div class='col-lg-12 col-sm-12 clearfix eligibility-check alert-warning alert-disable-buttons general tab-details {{#compare buttonsVisible "" operator="=="}} hidden {{/compare}}'
                     data-serialized-key="{{this.disableButtons.perform_serviceability.serviceAddressID}}"
                     data-customer-number="{{customer_number}}">
                    <div class="warning-message col-xl-9 col-lg-8 col-md-12 col-sm-12">
                        <div class="notification-circle-icon"> </div>
                        <div class="notif-msg"><?php echo $this->__("Perform serviceability check before changing package"); ?></div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-4">
                        <button type="button"
                                class="btn btn-block loading-search pos-relative eligibility-btn renewal-check-button ellipsis-overflow"
                                data-id="{{this.service_address.address_id}}"
                                data-street="{{this.service_address.street}}"
                                data-building-nr="{{this.service_address.house_number}}"
                                data-postalcode="{{this.service_address.postcode}}"
                                data-city-name="{{this.service_address.city}}"
                                data-house-addition="{{this.service_address.house_addition}}"
                                data-my-products-check="true"
                                onclick="customerSection.performCheckServiceEligibility(this)"
                                title="<?php echo $this->__('Serviceability Check'); ?>">
                            <?php echo $this->__('Serviceability Check'); ?>
                    </div>
                </div>
            {{/if}}
        {{/if}}

            <!-- tab contents subscriptions-->
            <div class="product-details-content tab-details subscriptions col-md-12  col-sm-12 clearfix row hide">
                {{#if tariffsByCategory}}
                    {{#each tariffsByCategory}}
                        <div class="col-md-12 product-details-content-title uppercase category-title">
                            {{@key }}
                        </div>
                        {{#each this}}
                            <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                                <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                                <div class="col-xl-8 col-lg-8 col-md-9 col-sm-7 product-details">
                                    <div class="product-name">
                                        {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                        <div class="product-phone-number">
                                            <?php echo $this->__("Contract start"); ?>:
                                            {{#if contract_start_date}}
                                                {{formatDate contract_start_date 'DD.MM.YYYY'}}
                                            {{else}}
                                                <?php echo $this->__("N/A"); ?>
                                            {{/if}} -
                                            <?php echo $this->__("Active until") ?>:
                                                <?php echo $this->__("N/A"); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/each}}
                {{else}}
                    <div class="col-xl-12 col-md-12 col-sm-12 ">
                        <div class="no-content-available">
                            <p><?php echo $this->__("No tariff configured"); ?></p>
                        </div>
                    </div>
                {{/if}}
            </div>

            <!-- tab contents hardware-->
            <div class="product-details-content tab-details hardware col-md-12  col-sm-12 clearfix row hide">
                {{#if devices}}
                    {{#each devices}}
                        <div class="col-md-12 product-details-content-title uppercase category-title">
                            {{@key }}
                        </div>
                        {{#each this}}
                            <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                                <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                                <div class="col-xl-8 col-lg-8 col-md-9 col-sm-7  product-details">
                                    <div class="product-name">
                                        {{#if device_name}} {{device_name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                        <div class="product-phone-number">
                                            <?php echo $this->__("Hardware type"); ?>:
                                            {{#if device_type}}
                                                {{device_type}}
                                            {{else}}
                                                <?php echo $this->__("N/A"); ?>
                                            {{/if}} -
                                            <?php echo $this->__("Article Number") ?>:
                                            {{#if device_code}}
                                                {{device_code}}
                                            {{else}}
                                                <?php echo $this->__("N/A"); ?>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/each}}
                {{else}}
                    <div class="col-xl-12 col-md-12 col-sm-12 ">
                        <div class="no-content-available">
                            <p><?php echo $this->__("No hardware configured"); ?></p>
                        </div>
                    </div>
                {{/if}}
            </div>

        <!-- tab contents options-->
        <div class="product-details-content tab-details options col-md-12  col-sm-12 clearfix row hide">
            {{#if options}}
                {{#each options}}
                    <div class="col-md-12 product-details-content-title uppercase category-title">
                        {{@key }}
                    </div>
                    {{#each this}}
                        <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                            <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-xl-8 col-lg-8 col-md-9 col-sm-7  product-details">
                                <div class="product-name">
                                    {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                    <div class="product-phone-number">
                                        <?php echo $this->__("Contract start"); ?>:
                                        {{#if contract_start_date}}
                                        {{formatDate contract_start_date 'DD.MM.YYYY'}}
                                        {{else}}
                                        <?php echo $this->__("N/A"); ?>
                                        {{/if}} -
                                        <?php echo $this->__("Active until") ?>:
                                        <?php echo $this->__("N/A"); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="no-content-available">
                        <p><?php echo $this->__("No options configured"); ?></p>
                    </div>
                </div>
            {{/if}}
        </div>

        <!-- tab contents discounts-->
        <div class="product-details-content tab-details benefits col-md-12  col-sm-12 clearfix row hide">
            {{#if discounts}}
            {{#each discounts}}
            <div class="col-md-12 product-details-content-title uppercase category-title">
                {{@key }}
            </div>
            {{#each this}}
            <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-xl-8 col-lg-8 col-md-9 col-sm-7  product-details">
                    <div class="product-name">
                        {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
            {{/each}}
            {{else}}
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                <div class="no-content-available">
                    <p><?php echo $this->__("No discounts configured"); ?></p>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</script>

<script type="text/javascript">
    Handlebars.registerPartial("customer-screen-cable-tv-product", jQuery("#customer-screen-cable-tv-product").html());
</script>
