<?php if($this->isGigacombi()) : ?>
    <div class="possible-soc">
        <div>
            <p>
                Gut zu wissen:  Die GigaKombi löst Red One ab. In Ihren Dokumenten heißt die GigaKombi aber noch eine Zeit lang Red One.<br>
            </p>
            <b>Ihre Mobilfunk-Vorteile</b>
            <ul>
                <li>10 Euro mtl. Rabatt auf Mobilfunkrechnung</li>
                <li>5 Euro mtl. Rabatt auf bis zu 4 Red+ Allnet</li>
                <li>WiFi Calling kostenlos</li>
            </ul>
            <b>Ihre Festnetz-Vorteile</b>
            <ul>
                <li>Mobilfunk-Flat aus dem Festnetz</li>
                <li>2 Euro Rabatt auf WLAN-Option bei Buchung eines Kabelanschlusses</li>
            </ul>
            <p>
                Rabatte werden gewährt, sobald der Festnetzauftrag aktiv ist.
            </p>
        </div>
    </div>
<?php endif; ?>

<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */
$offerType = '';
if($this->hasCable()) {
    $offerType = 'Cable';
} elseif($this->hasMobile() || $this->hasPrepaid()) {
    $offerType = 'Mobile';
}
?>
<?php if($offerType == 'Cable') : ?>
    <p>
        <strong>Bitte beachten Sie: </strong> Diese Zusammenfassung dient ausschließlich der Bestätigung des Einganges Ihrer Bestellung und stellt noch keine Annahme Ihres Angebotes auf Abschluss eines Vertrages dar.
    </p>
<?php else : ?>
    <p>
        <strong>Bitte beachten Sie: </strong> Diese Zusammenfassung dient ausschließlich der Bestätigung des Einganges Ihrer Bestellung und stellt noch keine Annahme Ihres Angebotes auf Abschluss eines Vertrages dar. Ihr Vertrag über Mobilfunkdienstleistungen kommt mit Aktivierung/Freischaltung der Mobilfunkdienstleistung bzw. soweit Sie nur Hardware oder Zubehör bestellt haben, mit dem Versand des Artikels an Sie zustande.
    </p>
    <?php if($this->preliminaryBasePriceFootnote()) : ?>
        <p>
            <strong>Basispreis im Voraus: </strong> Im Vodafone-Red-Tarif zahlen Sie den monatlichen Basispreis immer im Voraus. Auf der 1. Rechnung in Ihrem neuen Tarif zahlen Sie den Basispreis für den nächsten Monat und den anteiligen Basispreis für den laufenden Monat. Selbstverständlich wird Ihnen auf Ihrer letzten Rechnung kein weiterer Basispreis berechnet.
        </p>
    <?php endif ?>
    <?php if ($this->isSpeedGo()) : ?>
        <p>
            <strong>Vodafone SpeedGo: </strong> Für Ihr bestes Surferlebnis informieren wir Sie per SMS bei Verbrauch von 90% Ihrer Inklusiv-Daten und schalten bei 100% weitere MB frei. Je nach Tarif 100 MB für 2€ oder 250 MB für 3€. Maximal 3-mal in Folge. Sie können immer per SMS ablehnen - dann surfen Sie ab Verbrauch von 100% langsamer mit bis zu 32 kbit/s.
        </p>
    <?php endif; ?>
<?php endif; ?>

