<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/** @var $this Omnius_Checkout_Block_Pdf_Warranty */
?>
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
    <style type="text/css">
        <!--
        body { font-family: Helvetica, sans-serif; }
        sup { font-size: 5pt; font-weight: normal; color: #989898; }
        h1 { text-align: left; font-size: 10pt; line-height: 11pt; font-weight: bold; }
        .italic { font-style: italic; }
        table { border-spacing: 1px; }
        .no-break { page-break-inside: avoid; }
        /*.page-break	{ page-break-before: always; }*/
        .wrapper { width: 530pt; }

        td.label{text-align: left; font-size: 9pt; line-height: 11pt; padding: 0; font-weight: bold; }
        td.medium {font-size: 9pt; line-height: 11pt; font-weight: normal}

        -->
    </style>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/print.css') ?>" media="print"/>
</head>
<body>
<div class="wrapper">
    <table class="no-break" width="100%">
        <tr>
            <td style="font-weight:bold; vertical-align: top; text-align: left; font-size: 12pt" width="40%">
                VODAFONE <?php echo $this->__('WARRANTY POLICY'); ?>
            </td>
            <td></td>
            <td style="font-weight:bold; vertical-align: top; text-align: right; font-size: 9pt" width="30%" align="right">
                Vodafone Libertel B.V.<br/>
                Postbus 1500, 6201 BM Maastricht<br/>
                KvK 14052.264
            </td>
        </tr>
    </table>

    <table class="no-break">
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" class="label"><h1 class="italic"><?php echo $this->__('Account')?></h1></td>
        </tr>
        <tr>
            <td class="label medium"><?php echo ($this->getCustomerIsBusiness()) ? $this->__('Company Name') : $this->__('Name') ?>:</td>
            <td width="5%"></td>
            <td class="medium"><?php echo $this->getName() ?></td>
        </tr>
        <tr>
            <td class="label medium"><?php echo ($this->getCustomerIsBusiness()) ? $this->__('Company address') : $this->__('Address') ?>:</td>
            <td width="5%"></td>
            <td class="medium"><?php echo $this->getAddress() ?></td>
        </tr>
        <tr>
            <td class="label medium"><?php echo $this->__('Birth date') ?>:</td>
            <td width="5%"></td>
            <td class="medium"><?php echo $this->getBirthDate() ?></td>
        </tr>
        <tr>
            <td class="label medium"><?php echo $this->__('Client Number') ?> vodafone:</td>
            <td width="5%"></td>
            <td class="medium"><?php echo $this->getCustomer()->getBan() ?></td>
        </tr>
        <tr>
            <td class="label medium"><?php echo $this->__('Order Number') ?>:</td>
            <td width="5%"></td>
            <td class="medium"><?php echo $this->getIncrementId() ?></td>
        </tr>
        <tr>
            <td class="label medium"><?php echo $this->__('Order Date') ?>:</td>
            <td width="5%"></td>
            <td class="medium"><?php echo $this->getOrderDate() ?></td>
        </tr>
    </table>

    <table class="no-break">
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" class="label"><h1 class="italic"><?php echo $this->__('Warranty details')?></h1></td>
        </tr>
        <tr>
            <td class="label medium"><?php echo $this->__('Warranty Product') ?>:</td>
            <td width="5%"></td>
            <td class="medium" ><?php echo ($this->getWarrantyProduct() ? $this->getWarrantyProduct()->getName() : '') ?></td>
        </tr>
        <tr>
            <td class="label medium"><?php echo $this->__('Monthly Cost') ?>&nbsp;(<?php echo ($this->getCustomerIsBusiness() ? $this->__('excl. VAT') : $this->__('incl. VAT')) ?>):</td>
            <td width="5%"></td>
            <?php $cost = $this->getWarrantyPrice() ?>
            <td class="medium"><?php echo ($cost !== false) ? Mage::helper('core')->currency($cost , true, false) : '' ?>&nbsp;</td>
        </tr>
        <tr>
            <td class="label medium"><?php echo $this->__('Effective Date') ?>:</td>
            <td width="5%"></td>
            <td class="medium"><?php echo $this->getEffectiveDate() ?>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td class="label medium"><?php echo $this->__('Insured Product') ?>:</td>
            <td width="5%"></td>
            <td class="medium" ><?php echo ($this->getDeviceProduct() ? $this->getDeviceProduct()->getName() : '') ?></td>
        </tr>
        <tr>
            <td class="label medium"><?php echo $this->__('IMEI no.') ?>:</td>
            <td width="5%"></td>
            <td class="medium" ><?php echo $this->getPackageModel()->getImei() ?></td>
        </tr>
    </table>

    <table class="no-break">
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="label"><h1 class="italic"><?php echo $this->__('Terms')?></h1></td>
        </tr>
        <tr>
            <td class="medium">
                Bij het aanvragen van deze verzekering heeft u tevens uw akkoord gegeven op de Vodafone Garant Voorwaarden. Deze kunt u te allen tijden hier downloaden: <a href="https://www.vodafone.nl/garant">www.vodafone.nl/garant</a>.<br/>
                Hierin kunt u onder meer lezen wat de minimum duur is van de verzekering en onder welke voorwaarden u de verzekering kunt opzeggen.
            </td>
        </tr>
    </table>

</div>

<?php echo '
<script type="text/php">
      if ( isset($pdf) ) {
        $font = Font_Metrics::get_font("helvetica", "normal");
        $size = 9;

        $y = $pdf->get_height() - 40;
        $x = $pdf->get_width() - 32 - Font_Metrics::get_text_width("'. $this->__("Page") .' 1 '. $this->__("of") .' 1", $font, $size);

        $pdf->page_text($x, $y, "'. $this->__("Page") .' {PAGE_NUM} '. $this->__("of") .' {PAGE_COUNT}", $font, $size);

        $x = $pdf->get_width() - 32 - Font_Metrics::get_text_width("'. $this->__("Paraph") .'", $font, $size);
        $pdf->page_text($x, $y + $size + 1, "'. $this->__("Paraph") .'", $font, $size);
      }
    </script>
'; ?>


</body>
</html>
