<script id="left-sidebar-link-details" type="text/x-handlebars-template">
    <?php
        $customerSession = Mage::getSingleton('customer/session');
    ?>
    <div id="link-details-360" class="customer-results-table customer-panel-table scrollable-y-table">
        <div class="col-title">
            <div class="table-title"><?php echo $this->__('Link details'); ?></div>
        </div>
        <div class="left-sidebar-additional-info">
            <div class="table-description">
                {{#compare noLinkedAccounts 1 operator=">"}} {{noLinkedAccounts}} {{else}} 0 {{/compare}} <?php echo $this->__("Linked accounts") ?>
                {{#compare noLinkedAccounts 1 operator="<="}}
                    <div class="info-message">
                        <div class="col-md-12 customer-delimiter"></div>
                        <div class="col-md-12 info-container">
                            <span class="square"></span>
                            <span class="message">
                                <?php echo $this->__("There are no linked Accounts.") ?>
                            </span>
                        </div>
                        <div class="col-md-12 customer-delimiter"></div>
                     </div>
                {{/compare}}
            </div>
        </div>
        {{#compare noLinkedAccounts 1 operator=">"}}
            <div class="customer-row col-md-12" onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="potential-links-{{global_id}}">
                <div class="row row-with-headers">
                    <div class="col-md-1">
                        <button type="button" class="collapse-button-search buttons-trigger">
                        </button>
                    </div>
                    <div class="col-md-8 customer-details-name">
                        <div class="col-md-7 names">
                            {{#compare IsSoho "1" operator="=="}}
                                {{company_name}}
                            {{/compare}}
                                {{first_name}}
                            {{last_name}}
                        </div>
                        <div class="col-md-5 customer-icon-details">
                            {{#compare isSoho true operator="=="}}
                                <span class="icon-soho-cust"></span>
                            {{else}}
                                <span class="icon-private-cust"></span>
                            {{/compare}}
                            <span class="auth-call" onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="potential-links-{{global_id}}">
                                <span class="auth-call-linked"></span>
                                {{global_id}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 customer-types text-right">
                        {{#compare stacks.KIAS true operator="=="}}
                            <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                        {{else}}
                            <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                       {{/compare}}

                        {{#compare stacks.KD true operator="=="}}
                            <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                        {{else}}
                            <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                        {{/compare}}

                        {{#compare stacks.FN true operator="=="}}
                            <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                        {{else}}
                            <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                        {{/compare}}
                    </div>
                </div>
                <div class="row row-with-address">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5 customer-details-content">
                        {{street}}
                        {{no}}
                        {{postal_code}}
                        {{city}}
                    </div>
                    <div class="col-md-2  customer-details-content">
                        {{#compare IsSoho "1" operator="=="}}
                        {{else}}
                        {{birth_date}}
                        {{/compare}}
                    </div>
                    <div class="col-md-2  customer-details-content">
                        {{#if contact_number}}
                        {{#showLocalAreaCode contact_number_prefix}}{{/showLocalAreaCode}} {{contact_number}}
                        {{else}}
                        -
                        {{/if}}
                    </div>
                    <div class="col-md-1 customer-types">
                    </div>
                </div>
                <div class="col-md-12 customer-delimiter"></div>
            </div>
            {{#each linkedAccounts}}
                {{#each this}}
                    <div class="customer-row col-md-12 collapse out potential-links-{{../../global_id}} {{#if this.is_temporary}}temporary-customer{{/if}}">
                        <div class="row row-with-headers ">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-8 customer-details-name">
                                <div class="col-md-7 names">
                                    {{#compare this.party_type "SOHO" operator="=="}}
                                        {{this.company_name}}
                                    {{/compare}}
                                    {{this.firstname}}
                                    {{this.lastname}}
                                </div>
                                <div class="col-md-5 customer-icon-details">
                                {{#compare this.party_type "SOHO" operator="=="}}
                                    <span class="icon-soho-cust"></span>
                                {{else}}
                                    <span class="icon-private-cust"></span>
                                {{/compare}}
                                    {{#if this.is_temporary}}
                                        <span class="auth-call" onclick="customerDe.displayTemporaryCustomerError('{{this.customer_number}}', '<?php echo $this->__("The order of this new customer is still being processed, the customer can not be authenticated until further notice.");?>')">
                                             <span class="small-info"></span>
                                            {{this.customer_number}}
                                        </span>
                                    {{else}}
                                        <span class="auth-call" onclick="customerDe.getAuthDetails('{{this.global_id}}', '{{this.customer_number}}', event, this)">
                                             <span class="small-info"></span>
                                            {{this.customer_number}}
                                        </span>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col-md-3 customer-types text-right">
                                {{#compare  this.account_category 'KIAS' operator="=="}}
                                <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                                {{else}}
                                <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                                {{/compare}}

                                {{#compare this.account_category 'KD' operator="=="}}
                                <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                                {{else}}
                                <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                                {{/compare}}

                                {{#compare this.account_category 'FN' operator="=="}}
                                <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                {{else}}
                                <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                {{/compare}}
                            </div>
                        </div>
                        <div class="row row-with-address">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-5 customer-details-content">
                                {{this.address.street}}
                                {{this.address.house_number}}
                                {{this.address.postcode}}
                                {{this.address.city}}
                            </div>
                            <div class="col-md-2  customer-details-content">
                                {{#compare this.party_type "PRIVATE" operator="=="}}
                                {{getDotDateFromLineDate this.dob}}
                                {{/compare}}
                            </div>
                            <div class="col-md-2  customer-details-content">
                                {{#showLocalAreaCode this.local_area_code}}{{/showLocalAreaCode}} {{this.phone_number}}
                            </div>
                            <div class="col-md-1 customer-types">
                            </div>
                        </div>
                        <div class="col-md-12 customer-delimiter"></div>
                    </div>
                {{/each}}
            {{/each}}
        {{/compare}}
        <?php if ($customerSession->getAgent()->isGranted(array('LINKED_ACCOUNTS_RESULTS')) && !Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')) : ?>
            <div class="customer-row col-md-12">
                <div class="search-potential-btn">
                    <input type="button" class="btn btn-block btn-primary loading-search"
                           value="<?php echo $this->__("Find more results"); ?>"
                           onclick="customerDe.showLinkPageDetails('{{global_id}}')" />
                </div>
            </div>
        <?php endif?>
    </div>
</script>
