<script id="left-sidebar-products-content" type="text/x-handlebars-template">
    <div class="customer-results-table customer-panel-table scrollable-y-table">
        <div class="title-div">
            {{#if household }}
                <div class="household-back-div" onclick="customerDe.callPanel('household_info_left');"><span></span></div>
                <div class="title"><?php echo $this->__('Products of'); ?> {{ customer_details }}</div>
            {{else}}
                <div class="title"><?php echo $this->__('Products of'); ?> {{ customer_details }}</div>
            {{/if}}
        </div>
        <!-- Mobile products section -->
        {{#if KIAS}}
            {{> kias-customer this}}
        {{/if}}

        {{> kias-permission}}
        <!-- EOF Mobile products section -->

        <!-- Cable products section -->
        {{#if KD}}
            {{> kd-customer this}}
        {{/if}}

        {{> kd-permission}}
        <!-- EOF Cable products section -->

        <!-- Fixed products section -->
        {{#if FN}}
            {{> fn-customer this}}
        {{/if}}

        {{> fn-permission}}
        <!-- EOF FN products section -->
    </div>
    <script>
        jQuery(document).ready(function() {
            jQuery('.tooltip-icon').tooltip();
        });
    </script>
</script>
<!-- todo: include template only if customer has specific stacks -->
<?php echo $this->getChildHtml('kias'); ?>
<?php echo $this->getChildHtml('kd'); ?>
<?php echo $this->getChildHtml('fn'); ?>
<?php echo $this->getChildHtml('kd.permission');  ?>
<?php echo $this->getChildHtml('fn.permission');  ?>
<?php echo $this->getChildHtml('kias.permission'); ?>

<!-- Migration of DSL: cable available, switch to cable confirmation modal -->
<div class="modal checkAddressForMigration migrateMoveModal" id="migrateToDslModal" tabindex="-1" role="dialog" aria-labelledby="migrateMoveModal">
    <!-- Content loaded through handlebars -->
</div>

<!-- Migration of DSL: cable tv and internet&phoneavailable, switch to cable migration decisional modal -->
<div class="modal checkAddressForMigration migrateMoveModal" id="migrateToCableDecideModal" tabindex="-1" role="dialog" aria-labelledby="migrateMoveModal">
        <!-- Content loaded through handlebars -->
</div>

<!--MIGRATE TO DSL confirmation-->
<!-- Confirmation of migration to DSL when CABLE is also available: YES => create dsl migration ; NO =>nothing  -->
<script id="migration-switch-to-cable-modal-content" type="text/x-handlebars-template">
    <div class="modal-dialog" role="document" id="move-decision">
        <div class="modal-content ajax-container">
            <div class="modal-header"><?php echo $this->__("Cable is Available") ?></div>
            <div class="modal-body">
                <?php echo $this->__("Both DSL and Cable are available at this address.") ?>
                <strong>
                    {{#if fullAddress}}
                        {{ fullAddress}}
                    {{else}}
                        {{ street}} {{houseNumber}}, {{postCode}} {{city}}
                    {{/if}}
                </strong>
                {{#if partOfBundle}}
                    <br/>
                    <p><?php echo $this->__("Please note that by continuing the installed base bundle will be broken."); ?></p>
                {{/if}}
                <br/>
                <br/>
                <?php echo $this->__("Do you want to proceed with the Move Offnet scenario?"); ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-info-white" data-dismiss="modal"
                        onclick="customerSection.cancelMoveOffnet()"
                        value=" <?php echo $this->__("No") ?>">
                    <?php echo $this->__("No") ?>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MOVE_OFFNET; ?>"
                        data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL); ?>"
                        data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                        data-package-creation-type-id ="{{packageCreationTypeId}}"
                        onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"
                        value="<?php echo $this->__("Yes") ?>">
                    <?php echo $this->__("Yes") ?>
                </button>
            </div>
        </div>
    </div>
</script>

<!--right side temporary "to checkout" btn and block details for moving from CABLE to DSL-->
<script id="migrate-to-dsl-template" type="text/x-handlebars-template">
    <div class="migration-info migrate-to-cable-container migrate-or-move-offnet-container">
        <div class="migrate-to-cable-content">
            <div class="migrate-to-cable-title"><?php echo $this->__("Kabel: Move offnet"); ?></div>
            <div id="installed-cable-product-name" class="migrate-to-cable-package"></div>
        </div>
        <div class="migrate-confirm-button">
            <input id="move-to-dsl" type="button" class="btn btn-block btn-primary hide"
                   data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MOVE_OFFNET; ?>"
                   data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL); ?>"
                   value="<?php echo $this->__("Open configurator"); ?>"
                   data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                   data-package-creation-type-id="<?php echo Mage::helper('dyna_configurator/cart')->getCreationTypeId(Dyna_Catalog_Model_Type::CREATION_TYPE_DSL); ?>"
                   onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"/>
            <input id="move-to-dsl-or-keep-product" type="button" class="btn btn-block btn-primary hide"
                   data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                   data-package-creation-type-id="{{packageCreationTypeId}}"
                   value="<?php echo $this->__("Open configurator"); ?>"
                   onclick="customerSection.showMoveOffnetModalDecision(this)"/>
        </div>
    </div>
</script>

<!--right side temporary "to checkout" btn and block details for moving from dsl to cable-->
<script id="migrate-to-cable-template" type="text/x-handlebars-template">
    <div class="migration-info migrate-to-dsl-container migrate-or-move-offnet-container">
        <div class="migrate-to-dsl-content">
            <div class="migrate-to-dsl-title"><?php echo $this->__("Kabel: Migration"); ?></div>
            <div id="installed-fixed-product-name" class="migrate-to-dsl-package"></div>
        </div>
        <div class="migrate-confirm-button">
            <input id="migrate-to-configurator-kip" type="button" class="btn btn-block btn-primary hide"
                   data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MIGRATION; ?>"
                   data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE); ?>"
                   value="<?php echo $this->__("Open configurator"); ?>"
                   data-package-creation-type-id="<?php echo Mage::helper('dyna_configurator/cart')->getCreationTypeId(Dyna_Catalog_Model_Type::CREATION_TYPE_CABLE_INTERNET_PHONE); ?>"
                   data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                   onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"/>
            <input id="migrate-to-configurator-kaa-kad" type="button" class="btn btn-block btn-primary hide"
                   data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MIGRATION; ?>"
                   data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_TV); ?>"
                   data-package-creation-type-id="<?php echo Mage::helper('dyna_configurator/cart')->getCreationTypeId(Dyna_Catalog_Model_Type::CREATION_TYPE_CABLE_TV); ?>"
                   data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                   value="<?php echo $this->__("Open configurator"); ?>"
                   onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"/>
            <input id="migrate-to-configurator-kip-kaa-kad" type="button" class="btn btn-block btn-primary hide"
                   data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                   value="<?php echo $this->__("Open configurator"); ?>"
                   onclick="customerSection.showMigrationModalDecision()"/>
        </div>
    </div>
</script>

<!--when both kip and kaa/kad are available at the installed fixed product the Agent must decide if a Cable Tv or Cable Internet&Phone is wanted-->
<script id="migrate-dsl-to-cable-tv-or-cable-internet-and-phone" type="text/x-handlebars-template">
    <div class="modal-dialog" role="document">
        <div class="modal-content ajax-container">
            <div class="modal-header"><?php echo $this->__("Cable TV or Cable Internet & Phone") ?></div>
            <div class="modal-body">
                <?php echo $this->__("Both Cable Tv and Cable Internet & Phone are available at the address"); ?>
                {#if partOfBundle}}
                    <p><?php echo $this->__("Please note that by continuing the installed base bundle will be broken."); ?></p>
                {{/if}}
                <strong>
                    {{#if fullAddress}}
                        {{ fullAddress}}
                    {{/if}}
                </strong>
                <br/>
                <?php echo $this->__("Please select what package is desired"); ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-info-white"
                        data-dismiss="modal"
                        data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_TV) ?>"
                        data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MIGRATION ?>"
                        data-package-creation-type-id ="<?php echo Mage::helper('dyna_configurator/cart')->getCreationTypeId(Dyna_Catalog_Model_Type::CREATION_TYPE_CABLE_TV); ?>"
                        onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"
                        value="<?php echo $this->__("Cable TV") ?>">
                    <?php echo $this->__("Cable TV") ?>
                </button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal"
                        data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE) ?>"
                        data-package-creation-type-id ="<?php echo Mage::helper('dyna_configurator/cart')->getCreationTypeId(Dyna_Catalog_Model_Type::CREATION_TYPE_CABLE_INTERNET_PHONE); ?>"
                        data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MIGRATION ?>"
                        onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"
                        value=" <?php echo $this->__("Cable Internet & Phone") ?>">
                    <?php echo $this->__("Cable Internet & Phone") ?>
                </button>
            </div>
        </div>
    </div>
</script>
<!-- FIXED END -->
