<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */
?>
<?php
/**
 * Customer login form template
 *
 * @see Mage_Customer_Block_Form_Login
 */
?>
<div class="rhombus"></div>
<?php
$token = $this->getRequest()->get('token');
$agent = $this->getAgent($token);
$session = Mage::getSingleton('customer/session');
$temporaryPasswordExpired = $session->getTemporaryPasswordFlag();
$firstPasswordNedeed = $session->getFirstPasswordFlag();
?>
<div class="account-login">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('customer.form.login.extra')?>
    <div class="registered-users container-fluid">
        <div class="row">
            <div class="col-xs-12"><h3><?php echo $this->__('Agent password reset form'); ?></h3></div>
        </div>
        <form class="form-horizontal" role="form" id="login-form" method="post" action="<?php echo $this->getUrl('agent/account/passwordReset')?>">
            <?php
            Mage::helper('dyna_core')->setPostKey($this->getRequest()->getMethod());
            ?>

            <?php if ($token): ?>
                <input type="hidden" id="token" name="token" value="<?php echo $token; ?>">
            <?php endif; ?>
            <?php if ($temporaryPasswordExpired): ?>
                <div class="row">
                    <div class="col-sm-12 red">
                        <?php echo sprintf($this->__('Your password is expired, please change your password!')); ?>
                    </div>
                </div>
            <?php endif; ?>
            <?php if($firstPasswordNedeed): ?>
                <div class="row">
                    <div class="col-sm-12 red">
                        <?php echo sprintf($this->__('You need to change your password once, by filling out your new password twice.')); ?>
                    </div>
                </div>
            <?php endif; ?>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label required text-left"><?php echo $this->__('New Password') ?></label>
                        <div class="col-sm-8">
                            <input type="password" id="password" class="form-control required-entry" name="password" data-required="true" data-format="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label required text-left"><?php echo $this->__('Confirmation') ?></label>
                        <div class="col-sm-8">
                            <input type="password" id="password_confirmation" class="form-control required-entry" name="password_confirmation" data-required="true" data-format="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 pull-right">
                    <input type="submit" class="btn btn-primary right" title="<?php echo $this->__('Update password') ?>" name="send" id="send" value="<?php echo $this->__('Update password') ?>">
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
      //<![CDATA[
      var dataForm = new VarienForm('login-form', true);
      //]]>
    </script>
</div>
