<?php
$customerSession = Mage::getSingleton('customer/session');
?>
<script id="fn-customer" type="text/x-handlebars-template">
    <div class="row products-section col-xl-12 col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="products-section-header">
            <div class="product-category-title no-padding">
                <?php echo $this->__("landline"); ?>
            </div>
        </div>
    </div>
    <div class="row products-section col-xl-12 col-lg-12 col-md-12 col-sm-12 clearfix">
        <?php //@todo use products-order-dunning to style the IN_DUNNING orders according to UI kit ?>
        {{#each FN as |customer customer_number|}}
            <div class="products-order-additional-container {{#ifCond customer.contracts.0.dunning_status '==' '<?php echo Dyna_Customer_Helper_Services::DUNNING_IN; ?>'}}products-order-dunning{{/ifCond}}">
                <div class="products-order-additional">
                    <div class="products-order-number products-order-number-fn {{#ifCond customer.contracts.0.dunning_status '==' '<?php echo Dyna_Customer_Helper_Services::DUNNING_IN; ?>'}}popover-order-dunning{{/ifCond}}"
                         data-customer-number="{{customer_number}}"
                         data-popover-type="Fn"
                         data-toggle="popover">
                        {{customer.contracts.0.customer_number}}
                        <span></span>
                    </div>

                    <!-- Customer Total Billing Details Modal -->
                    <div class="modal totalBillingDetailsModal" id="totalBillingDetailsModalFn-{{customer_number}}">
                        <div class="popover-header"></div>
                        <div class="popover-content">
                            <?php // OVG-1993 - only show for dunning customers ?>
                            {{#if customer.contracts.0.dunning_status}}
                                {{#ifCond customer.contracts.0.legacy_dunning_amount '==' 0}}
                                    <div class="col-md-8"> <p><?php echo $this->__("Open invoice amount") ?>:</p> </div>
                                    <div class="col-md-4"> <p><strong><?php echo $this->__("Unknown"); ?></strong></p> </div>
                                    <div class="clearfix"></div>
                                {{else}}
                                    <div class="col-md-6"> <p><?php echo $this->__("Open invoice amount") ?>:</p> </div>
                            <div class="col-md-6"> <p><strong>{{{ customer.contracts.0.display_dunning_amount}}}</strong></p> </div>
                                    <div class="clearfix"></div>
                                {{/ifCond}}
                            {{else}}
                                <div class="col-md-8"> <p><?php echo $this->__("Open invoice amount") ?>:</p> </div>
                                <div class="col-md-4"> <p><strong><?php echo $this->__("Unknown"); ?></strong></p> </div>
                                <div class="clearfix"></div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>

            {{#ifCond customer.contracts.0.dunning_status '==' '<?php echo Dyna_Customer_Helper_Services::DUNNING_IN; ?>'}}
                <div class="products-sub-package clearfix">
                    <div class="products-sub-package-header-container clearfix critical-warning">
                        <div class="products-sub-package-header clearfix">
                            <div class="col-xl-11 col-lg-11 col-md-9 col-sm-9 product-details clearfix">
                                <span class="critical-alert-icon"> </span>
                                <div class="extra-info">
                                    <div class="product-name"><?php echo $this->__("WARNING! This customer is in dunning"); ?></div>
                                    <div class="more-info"><?php echo $this->__("Currently it is not allowed to perform any actions for this customer ID"); ?></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/ifCond}}

            {{#each customer.contracts}}
                {{setIndexKey @index}}
                <div class="products-sub-package clearfix" data-customer-number="{{customer_number}}">
                    <div id="fixed-product-{{customer_number}}-{{@index}}" class="products-sub-package-header-container clearfix {{#if part_of_bundle}} part-of-bundle {{/if}}">
                        <div class="products-sub-package-header clearfix {{#if this.part_of_bundle}} part-of-bundle {{/if}}">
                            <div class="product-details-image-general col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                <span class="fn-customer"></span>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-10 col-sm-8 product-details">
                                <div class="product-name">{{#if tariff.name }}{{tariff.name}} {{else}}
                                    <p class="disabled"><?php echo $this->__("Unknown"); ?></p> {{/if}}</div>
                                {{#if service_address}}
                                <div class="product-phone-number">
                                    <?php echo $this->__("Service address")?>: {{service_address.street}} {{service_address.house_number}} {{service_address.house_addition}},
                                    {{service_address.postcode}} {{service_address.city}} -
                                    <?php echo $this->__("Connection") ?>: {{#if subscriptions.0.ctn }}{{subscriptions.0.ctn}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                </div>
                                {{/if}}
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 product-more-details">
                                <button type="button" class="expand-product-details"
                                        onclick="customerSection.toggle(this, '#fn-product-{{customer_number}}-{{@index}}-contract-information', 100);"></button>
                            </div>
                        </div>
                    </div>
                    <div id="fixed-product-{{customer_number}}-{{@index}}">
                        <div class="card card-block">
                            <?php //fn product template is defined below ?>
                            {{> customer-screen-fixed-product this}}
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>
</script>

<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("fn-customer", jQuery("#fn-customer").html());
</script>

<?php echo $this->getChildHtml('fn.content'); ?>

