<script id="kd-no-permission" type="text/x-handlebars-template">
    <div class="kd-no-permission-wrapper hidden">
        <div class="row products-section col-xl-12 col-lg-9 col-md-7 col-sm-5 clearfix">
            <div class="products-section-header">
                <div class="product-category-title no-padding">
                    <?php echo $this->__("Cable"); ?>
                </div>
            </div>
        </div>

        <div class="products-section-products row col-xl-12 col-lg-9 col-md-7 col-sm-12 clearfix">
            <div class="products-order-additional-container mtl"></div>
            <div class="products-sub-package-header-container clearfix critical-warning">
                <div class="products-sub-package-header clearfix">
                    <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9 product-details">
                        <span class="critical-alert-icon"> </span>
                        <div class="product-name">
                            <?php echo $this->__('You do not have the permission to access this section.'); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("kd-permission", jQuery("#kd-no-permission").html());
</script>
