<?php
$promoRules = $this->getPromoRules();
$packageId = $this->getPackage()->getPackageId();
$quote = Mage::getSingleton('checkout/cart')->getQuote();
$btwSessionState = Mage::getSingleton('customer/session')->getBtwState() ?? 1;
$mapPromoLabelCalsses = array(
        'Dealcloser' => 'blue',
        'Friends and Family' => 'yellow'
);
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');
$disabledPromosText = array();
foreach ($promoRules as $targetId => $promoRuleEntry) {
    if (isset($promoRuleEntry['disabledPromosText'])) {
        $disabledPromosText = $promoRuleEntry['disabledPromosText'];
    }
}

?>
<div id="promos-loader-wrapper">
    <div class="promos-loader-middle">
        <div class="promos-loader-content">
            <div class="promos-loader"></div>
            <p><?php echo $this->__('Please wait'); ?></p>
            <div><?php echo $this->__('Update eligible promotions'); ?></div>
        </div>
    </div>
</div>

<div id="promo-rules-container" data-package-id="<?php echo $packageId; ?>">
    <div class="promos-container-header">
        <div>
            <button class="colapse-promos-icon" onclick="colapsePackagePromosContainer();">
                <i class="icon-navigate-next">&nbsp;</i>
            </button>
        </div>

        <div class="promos-container-title" data-text="<?php echo preg_replace('/^(\w+)/i', '<strong>$1</strong>', $this->__('Promotions for %s')); ?>"></div>
    </div>
    <?php if ($disabledPromosText) { ?>
        <div class="notification-banner warning new-ui-elements">
            <div class="notification-banner-text">
                <div class="notification-banner-title">
                    <?php echo $helper->__($disabledPromosText); ?>
                </div>
            </div>
        </div>
    <?php } ?>
    <div class="promos-content-relative">
        <div class="scroll-overlay-top">&nbsp;</div>
        <div class="content scrollbar-outer">
            <div class="row price-header-row">
                <div class="col-sm-7"></div>
                <div class="col-sm-5 incl-vat-tax">
                    <div class="col-sm-6 labels right-align"><?php echo $this->__('Upfront'); ?></div>
                    <div class="col-sm-6 labels right-align"><?php echo $this->__('Monthly'); ?></div>
                </div>
            </div>

            <?php $alreadyDisplayedFamilies = []; ?>
            <?php foreach ($promoRules as $targetId => $productPromoRules): ?>
            <?php
                $quoteItem = Mage::getModel('sales/quote_item')->getCollection()
                    ->addFieldToFilter('quote_id', $quote->getId())
                    ->addFieldToFilter('package_id', $packageId)
                    ->addFieldToFilter('product_id', $targetId)
                    ->getFirstItem();

                $mafInclTax = $quoteItem->getItemFinalMafInclTax();
                $priceInclTax = $quoteItem->getItemFinalPriceInclTax();

                $mafExclTax = $quoteItem->getItemFinalMafExclTax();
                $priceExclTax = $quoteItem->getItemFinalPriceExclTax();

                if ($quoteItem->hasMixmatchPrice()) {
                    if ($quoteItem->getMixmatchMafSubtotal() != null) {
                        $mafInclTax = $quoteItem->getMixmatchMafTax() + $quoteItem->getMixmatchMafSubtotal();
                        $mafExclTax = $quoteItem->getMixmatchMafSubtotal();
                    }

                    if ($quoteItem->getMixmatchSubtotal() != null) {
                        $priceInclTax = $quoteItem->getMixmatchTax() + $quoteItem->getMixmatchSubtotal();
                        $priceExclTax = $quoteItem->getMixmatchSubtotal();
                    }
                }
                ?>
                <div class="target-product-container" data-product-id="<?php echo $targetId ?>">
                    <div class="row target-product-header">
                        <div class="col-sm-7"><?php echo $quoteItem->getName(); ?></div>
                        <div class="col-sm-5 incl-vat-tax" style="display: <?php echo $btwSessionState ? "block" : "none"; ?>">
                            <div class="col-sm-6 labels right-align"><?php echo $helper->showNewFormattedPriced($priceInclTax); ?></div>
                            <div class="col-sm-6 labels right-align"><?php echo $helper->showNewFormattedPriced($mafInclTax); ?></div>
                        </div>

                        <div class="col-sm-5 excl-vat-tax" style="display: <?php echo !$btwSessionState ? "block" : "none"; ?>">
                            <div class="col-sm-6 labels right-align"><?php echo $helper->showNewFormattedPriced($priceExclTax); ?></div>
                            <div class="col-sm-6 labels right-align"><?php echo $helper->showNewFormattedPriced($mafExclTax); ?></div>
                        </div>
                    </div>

                    <?php
                    $exclusiveFamilyRuleIds = array();
                    if (isset($productPromoRules['exclusiveFamilies'])) {
                        $exclusiveFamilyRuleIds = $productPromoRules['exclusiveFamilies'];
                        unset($productPromoRules['exclusiveFamilies']);
                    }
                    if (isset($productPromoRules['disabledPromosText'])) {
                        $disabledPromosText = $productPromoRules['disabledPromosText'];
                        unset($productPromoRules['disabledPromosText']);
                    }
                    if (array_key_exists('disabledPromosText', $productPromoRules) && empty($productPromoRules['disabledPromosText'])) {
                        unset($productPromoRules['disabledPromosText']);
                    }
                    ?>

                    <?php foreach($productPromoRules as $promoRuleId => $promoRule):
                        $checked = $promoRule->getIsCurrentlyApplied() ? ' checked="checked"' : '';
                        $promoExclusiveFamilyId = $promoRule->getExclusiveFamily();
                        ?>
                        <?php if ($promoExclusiveFamilyId &&
                            isset($exclusiveFamilyRuleIds[$promoExclusiveFamilyId]) &&
                            count($exclusiveFamilyRuleIds[$promoExclusiveFamilyId]) > 1 ): ?>

                            <?php if (in_array($promoExclusiveFamilyId, $alreadyDisplayedFamilies)){ continue; } ?>

                            <div class="promo_container promo_group_container" data-exclusive-family-id="<?php echo $promoExclusiveFamilyId; ?>">
                                <div class="promo_group-item">
                                    <div class="radio">
                                        <label>
                                            <input type="radio"
                                                   class="add-promo-rule no-exclusive-family"
                                                   name="package_promo_exclusive_<?php echo $promoExclusiveFamilyId; ?>"
                                                   id="package_promo_exclusive_<?php echo $promoExclusiveFamilyId.'_none'; ?>"
                                                   value="0"
                                                   checked>
                                            <span class="circle"></span><span class="check"></span>
                                            <?= $this->__('No selection'); ?>
                                        </label>
                                    </div>
                                    <div class="promo-option-separator">&nbsp;</div>
                                </div>

                                <?php foreach ($exclusiveFamilyRuleIds[$promoExclusiveFamilyId] as $key => $exclusiveFamilyRuleId): ?>
                                    <?php
                                        if (!isset($promoRules[$targetId][$exclusiveFamilyRuleId])) {
                                            continue;
                                        }
                                        $exclusivePromoRule = $promoRules[$targetId][$exclusiveFamilyRuleId];
                                        $exclusiveFamilyChecked = ($exclusivePromoRule->getIsCurrentlyApplied()) ? ' checked="checked"' : ''
                                    ;?>
                                    <div class="promo_group-item">
                                        <div class="radio">
                                            <label>
                                                <input type="radio"
                                                       class="add-promo-rule"
                                                       name="package_promo_exclusive_<?php echo $promoExclusiveFamilyId; ?>"
                                                       id="package_promo_exclusive_<?php echo $promoExclusiveFamilyId.'_'.$exclusivePromoRule->getRuleId(); ?>"
                                                       value="<?php echo $exclusivePromoRule->getRuleId(); ?>"<?php echo $exclusiveFamilyChecked; ?>>
                                                <span class="circle"></span><span class="check"></span>
                                                <?php echo $exclusivePromoRule->getName(); ?>
                                            </label>
                                        </div>
                                        <?php
                                        if ($exclusivePromoRule->getPromotionLabel()) :
                                            $promoLabels = array_map('trim',explode(',',$exclusivePromoRule->getPromotionLabel())); ?>

                                            <div class="promo-labels clearfix">
                                                <?php foreach ($promoLabels as $promoLabel): ?>
                                                    <div class="promo-label <?php echo (isset($mapPromoLabelCalsses[$promoLabel]) ? 'promo-label-'.$mapPromoLabelCalsses[$promoLabel] : ''); ?>">
                                                        <?php echo $promoLabel; ?>
                                                    </div>
                                                <?php endforeach; ?>
                                            </div>

                                        <?php endif; ?>

                                        <?php if ($key < count($exclusiveFamilyRuleIds[$promoExclusiveFamilyId]) - 1) : ?>
                                        <div class="promo-option-separator">&nbsp;</div>
                                        <?php endif; ?>
                                    </div>
                                <?php endforeach; ?>
                                <?php $alreadyDisplayedFamilies[] = $promoExclusiveFamilyId; ?>
                            </div>
                        <?php else: ?>
                            <div class="promo_container">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               class="add-promo-rule"
                                               name="package_promo_<?php echo $promoRule->getRuleId(); ?>"
                                               id="package_promo_<?php echo $promoRule->getRuleId(); ?>"
                                               value="<?php echo $promoRule->getRuleId(); ?>"<?php echo $checked; ?>>
                                        <span class="checkbox-material"><span class="check"></span></span>
                                        <?php echo $promoRule->getName(); ?>
                                    </label>
                                </div>
                                <?php
                                if ($promoRule->getPromotionLabel()) :
                                    $promoLabels = array_map('trim',explode(',',$promoRule->getPromotionLabel()));?>

                                    <div class="promo-labels clearfix">
                                        <?php foreach ($promoLabels as $promoLabel): ?>
                                            <div class="promo-label <?php echo (isset($mapPromoLabelCalsses[$promoLabel]) ? 'promo-label-'.$mapPromoLabelCalsses[$promoLabel] : ''); ?>">
                                                        <?php echo $promoLabel; ?>
                                                    </div>
                                        <?php endforeach; ?>
                                    </div>

                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
            <?php endforeach ?>
        </div>
        <div class="scroll-overlay-bottom">&nbsp;</div>
    </div>

    <button class="colapse-promos-button secondary-button" onclick="colapsePackagePromosContainer();"><?php echo $this->__('Close promotions panel'); ?></button>
</div> <!-- END #promo-rules btn btn-primary btn-block col-sm-offset-3 col-sm-5 expand-checkout canProceed -->

<script>
    jQuery(document).ready(function ($) {
        var packageContainer = $('.cart_packages .side-cart.block[data-package-id="<?php echo $packageId; ?>"]');
        var titleContainer = $(packageContainer).find('.group-title span.package-type');
        var packageTitle;
        if (!$(titleContainer).hasClass('empty-package')) {
            packageTitle = $(titleContainer).text();
        } else {
            packageTitle = $(packageContainer).find('.group-title p').text();
        }
        $('.promos-container-title').html($('.promos-container-title').data('text').replace('%s', packageTitle));

        jQuery('#promo-rules-container input[type=checkbox], #promo-rules-container input[type=radio]').on('click', function(){
            jQuery('#promos-loader-wrapper').show();
            setTimeout(function(){
                jQuery('#promos-loader-wrapper').hide();
            }, 3000)
        });

      jQuery('#promo-rules-container').on('click', '.add-promo-rule', function(){
        var packageId = jQuery(this).closest('#promo-rules-container').data('package-id'),
            promoRuleId = jQuery(this).val(),
            groupContainer = jQuery(this).closest('.promo_group_container'),
            exclusiveFamilyId = jQuery(groupContainer).data('exclusive-family-id');

        if (groupContainer.length && jQuery(groupContainer).data('exclusive-family-id')) {
            data = {promoRuleId:promoRuleId, packageId:packageId, exclusiveFamilyId: exclusiveFamilyId};
        } else {
            data = {promoRuleId:promoRuleId, packageId:packageId};
        }

        jQuery.post('vznl_pricerules/promo/addRule', data, function(result) {
          // update stackable promotions drawer
          jQuery('.package-promos-container').html(result.stackablePromotionsDrawer);
          assurePromosContainerHeight();

          // update cart
            $('.cart_packages .side-cart.block[data-package-id="'+ packageId +'"].active').replaceWith(result.rightBlock);

          // update totals
          jQuery('#cart_totals').replaceWith(result.totals);
        });
      });
      
      jQuery('.package-promos-container .scrollbar-outer').scrollbar();
    });
</script>