<?php
// Checkout data is set from parent renderer: checkout/cart/partials/steps/save_customer.phtml

/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveCustomer */

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = $this->getData("checkout_data");

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();
$commercial_register_type = $this->getCommercialRegisterType();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");
$checkoutLayout->setupFormLayout();

?>

<?php
    // Only company name and company additional name are the fields that need to be shown for soho customer with cable package
    // Company name will be filled with info from RetrieveCustomerInfo service call and it will not be editable
    // Company additional name will be editable only for cable packages
    // See OMNVFDE-1297, description link for details
?>


<div class="dt ">

    <div class="tc cell50">
        <div class="input-group-custom">
            <div class="field-row">
                <input type="text" id="customer[address][company_name]" name="customer[address][company_name]" class="form-control input-sm required-entry validate-alphanum-with-spaces validate-length-max maximum-length-30"
                       value="<?php echo $checkoutData->getFieldValue("customer[address][company_name]", $customer->getCompanyName()) ?>" <?php echo $customer->isCustomerLoggedIn() && strlen($customer->getCompanyName()) > 0 ? "readonly" : "" ?> />
                <label for="customer[address][company_name]"><?php echo $this->__('Company name'); ?></label>
            </div>
        </div>
    </div>

    <?php if( $checkoutLayout->isAvailableField( 'customer[address][company_additional_name]' ) ): ?>
        <div class="tc cell50 commercial-register-1">
            <div class="input-group-custom">
                <div class="field-row">
                    <input type="text" id="customer[address][company_additional_name]" name="customer[address][company_additional_name]" class="form-control input-sm validate-alphanum-with-spaces validate-length-max maximum-length-30"
                           value="<?php echo $checkoutData->getFieldValue("customer[address][company_additional_name]", $customer->getCompanyAdditionalName()) ?>"
                        <?php echo $customer->isCustomerLoggedIn() && strlen($customer->getCompanyAdditionalName()) > 0 &&  $this->hasFixedTypePackage() ? "readonly" : "" ?>/>
                    <label for="customer[address][company_additional_name]"><?php echo $this->__('Additional company name'). ' ' . $this->__('(optional)'); ?></label>
                </div>
            </div>
        </div>
    <?php endif; ?>

</div>

<?php if( $checkoutLayout->isAvailableSection( 'company_details_registration' ) ): ?>
    <div class="dt commercial-register-1">

        <div class="tc cell33">
            <div class="input-group-custom">
                <div class="select-wrapper">
                    <div class="field-row">
                        <select id="customer[address][commercial_register_type]" name="customer[address][commercial_register_type]" class="form-control input-sm" <?php echo $customer->isCustomerLoggedIn() && strlen($customer->getCompanyLegalForm()) > 0 ? "readonly" : "" ?>>
                            <option value=""><?php echo ""; ?></option>
                            <?php foreach ($commercial_register_type as $key => $value) : ?>
                                <option value="<?php echo $value; ?>" <?php echo $checkoutData->getFieldValue("customer[address][commercial_register_type]", $customer->getCompanyLegalForm()) == $value ? "selected" : ''; ?>><?php echo $this->__($value); ?></option>
                            <?php endforeach; ?>
                        </select>
                        <label for="customer[address][commercial_register_type]"><?php echo $this->__('Commercial register type'); ?></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="tc cell33">
            <div class="input-group-custom">
                <div class="field-row">
                    <input type="text" id="customer[address][company_registration_number]" name="customer[address][company_registration_number]"
                           class="form-control input-sm validate-number"
                           value="<?php echo $checkoutData->getFieldValue("customer[address][company_registration_number]", $customer->getCompanyRegistrationNumber()) ?>"  <?php echo $customer->isCustomerLoggedIn() && strlen($customer->getCompanyRegistrationNumber()) > 0 ? "readonly" : "" ?>/>
                    <label for="customer[address][company_registration_number]"><?php echo $this->__('Company registration number'); ?></label>
                </div>
            </div>
        </div>

        <div class="tc cell33">
            <div class="input-group-custom">
                <div class="field-row">
                    <input type="text" id="customer[address][company_trade_location]" name="customer[address][company_trade_location]"
                           class="form-control input-sm validate-alpha validate-length-max maximum-length-30"
                           value="<?php echo $checkoutData->getFieldValue("customer[address][company_trade_location]", $customer->getCompanyRegistrationCity()) ?>"  <?php echo $customer->isCustomerLoggedIn() && strlen($customer->getCompanyRegistrationCity()) > 0 ? "readonly" : "" ?>/>
                    <label for="customer[address][company_trade_location]"><?php echo $this->__('Trade Register Location'); ?></label>
                </div>
            </div>
        </div>

    </div>
<?php endif; ?>
