#homepage-wrapper {
    position: relative;
    overflow: auto;
    padding-left: 0;
}

#campaigns-loading {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: rgb(250,251,252,.5);
    transition: 0.25s ease all;
    -moz-transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
}

#campaigns-loading.spinner {
    background-image: url(../images/spinner.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center center;
}

.campaigns-initiated #campaigns-loading {
    opacity: 0;
}

#campaigns-loading.campaigns-loading-reload {
    z-index: 100;
    opacity: 1;
}

#campaigns {
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: 0.25s ease all;
    -moz-transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
}

.campaigns-initiated #campaigns {
    opacity: 1;
}

#campaigns-top {
    width: 460px;
    margin: 0 auto;
}

.campaigns-initiated #campaigns-top {
    transition: 0.2s ease width;
    -moz-transition: 0.2s ease width;
    -webkit-transition: 0.2s ease width;
}

#campaigns-top.campaigns-top-large {
    width: 700px;
}

#campaigns-top-customer {
    background-color: #f2f3f4;
    border-radius: 5px;
}

#campaigns-top-customer-header {
    color: #2d4552;
    font-size: 10px;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

#campaigns-top-customer-type .toggle-label {
    margin-top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#campaigns-top-customer-type label {
    font-size: 14px;
    line-height: 1.29em;
    color: #2d4552;
    font-weight: normal;
    margin-bottom: 0px;
}

#campaigns-top-campaign {
    color: #ffffff;
    background-color: #00b0ca;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05), inset 0 -1px 1px 0 rgba(0,0,0,.1);
    border: solid 1px rgba(51,51,51,.1);
    border-radius: 3px;
}

#campaigns-top-campaign-header {
    padding: 13px 15px 5px 15px;
    background-color: rgba(0,0,0,.05);
}

#campaigns-top-campaign-header-title {
    font-size: 24px;
    line-height: 1.25em;
}

#campaigns-top-campaign-header-date {
    font-size: 10px;
    line-height: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

#campaigns-top-campaign-header-context-menu {
    position: relative;
}

#campaigns-top-campaign-header-context-menu .menu-trigger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    padding: 1px 13px 1px 8px;
    font-size: 16px;
    border-radius: 2px;
}

#campaigns-top-campaign-header-context-menu .menu-trigger:hover, #campaigns-top-campaign-header-context-menu .menu-trigger.open {
    background-color: rgba(0,0,0,.2);
}

#campaigns-top-campaign-header-context-menu .menu-expand {
    top: 25px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 0;
}

#campaigns-top-campaign-header-context-menu .menu-expand > ul > li > a {
    font-weight: normal;
    color: #2d4552;
}

#campaigns-top-campaign-header-context-menu .menu-expand > ul > li:hover {
    background-color: #00B0CA;
}

#campaigns-top-campaign-header-context-menu .menu-expand > ul > li > a:hover {
    color: #FFFFFF;
}

#campaigns-top-campaign-header-context-menu .menu-expand > ul > li > a > img {
    vertical-align: middle;
    margin-right: 6px;
}

#campaigns-top-campaign-content {
    padding: 20px 15px;
}

#campaigns-top-campaign-content > * {
    margin-bottom: 15px;
}

#campaigns-top-campaign-content > *:last-child {
    margin-bottom: 0;
}

#campaigns-top-campaign-content-campaign-hint {
    font-size: 18px;
    line-height: 1.33em;
}

#campaigns-top-campaign-content-promotion-hints {
    font-size: 12px;
    line-height: 1.67em;
    font-weight: bold;
    text-transform: uppercase;
}

#campaigns-offers {
    width: 460px;
    margin: 0 auto;
    border-top: 1px solid #d9d9d9;
}

.campaigns-initiated #campaigns-offers {
    transition: 0.2s ease width;
    -moz-transition: 0.2s ease width;
    -webkit-transition: 0.2s ease width;
}

#campaigns-offers.campaigns-offers-3 {
    width: 700px;
}

#campaigns-offers.campaigns-offers-4 {
    width: 940px;
}

#campaigns-offers .notification-banner {
    margin-top: 0;
    margin-bottom: 20px;
}

#campaigns-offers-viewport {
    position: relative;
    overflow: hidden;
}

#campaigns-offers-items {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.campaigns-offers-item {
    float: left;
    width: 220px;
    margin-right: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05);
    border: solid 1px #e3e3e3;
    background-color: #ffffff;
    color: #2d4552;
    padding: 20px 15px;
}

.campaigns-offers-item:last-child {
    margin-right: 0;
}

.campaigns-offers-item-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
    min-height: 61px;
}

.campaigns-offers-item-header-title {
    font-size: 18px;
    line-height: 1.33em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 26px);
    margin-bottom: 5px;
    float: left;
}

.campaigns-offers-item-header-info {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    cursor: pointer;
    background: url(../images/campaign-info.svg);
    float: left;
    margin-top: 2px;
}

.campaigns-offers-item-header-subtitle {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 16px;
    line-height: 1.38em;
    color: #5b717c;
}

.campaigns-offers-item-content {
    max-height: 144px;
    overflow: hidden;
    position: relative;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.campaigns-offers-items-expand .campaigns-offers-item-content {
    max-height: 1000px;
}

.campaigns-offers-item-content-usps {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.29em;
    padding-bottom: 30px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.campaigns-offers-item-content-usps > li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
}

.campaigns-offers-item-content-usps > li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: block;
    overflow: visible;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: top left;
}

.campaigns-offers-item-content-usps > li:last-child {
    margin-bottom: 0;
}

.campaigns-offers-item-content-overlay {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #ffffff;
    background: linear-gradient(0deg, #ffffff 75%, rgba(255,255,255,0) 100%);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.campaigns-offers-items-expand .campaigns-offers-item-content-overlay {
    height: 20px;
    opacity: 0;
}

.campaigns-offers-item-content-show {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 2em;
    font-weight: bold;
    padding-right: 22px;
    color: #2d4552;
    background-repeat: no-repeat;
    background-position: center right;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}

.campaigns-offers-item-content-show-more {
    background-image: url(../../../omnius/default/images/de/arrowdown.svg);
}

.campaigns-offers-item-content-show-less {
    z-index: 2;
    opacity: 0;
    bottom: -10px;
    background-image: url(../../../omnius/default/images/de/arrowup.svg);
}

.campaigns-offers-items-expand .campaigns-offers-item-content-show-more {
    bottom: 10px;
    opacity: 0;
}

.campaigns-offers-items-expand .campaigns-offers-item-content-show-less {
    z-index: 3;
    bottom: 0;
    opacity: 1;
}

.campaigns-offers-item-footer {
    border-top: 1px solid #d9d9d9;
    padding-top: 20px;
}

.campaigns-offers-item-footer-undiscounted {
    text-decoration: line-through;
    color: #5b717c;
    font-size: 12px;
    line-height: 2em;
}

.campaigns-offers-item-footer-discounted {
    font-size: 14px;
    line-height: 1.29;
}

.campaigns-offers-item-footer-discounted > strong {
    font-size: 20px;
    font-weight: bold;
}

.campaigns-offers-item-footer-months {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.85em;
}

.new-ui-elements .btn.campaigns-offers-item-footer-select {
    margin: 0;
}

.campaigns-offers-controls {
    position: absolute;
    z-index: 4;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #2d4552;
    border-radius: 2px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -1000px;
    color: #ffffff;
    opacity: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    transition-property: opacity, left, right;
}

#campaigns-offers-viewport:hover .campaigns-offers-controls {
    opacity: 1;
}

#campaigns-offers-controls-previous {
    left: 12px;
    background-image: url(../images/navigate-previous.svg);
}

#campaigns-offers-viewport:hover #campaigns-offers-controls-previous {
    left: 16px;
}

#campaigns-offers-controls-next {
    right: 12px;
    background-image: url(../images/navigate-next.svg);
}

#campaigns-offers-viewport:hover #campaigns-offers-controls-next {
    right: 16px;
}

#campaigns-offers-pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#campaigns-offers-pagination > li {
    margin: 0 5px;
}

#campaigns-offers-pagination > li > a {
    display: block;
    background-color: #E9EAEB;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    text-indent: -1000px;
    transition: 0.1s ease all;
    -moz-transition: 0.1s ease all;
    -webkit-transition: 0.1s ease all;
}

#campaigns-offers-pagination > li.active > a, #campaigns-offers-pagination > li > a:hover,  #campaigns-offers-pagination > li > a:focus {
    background-color: #00B0CA;
}

.tooltip.campaign-tooltip .tooltip-inner {
    min-width: auto;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.29em;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.tooltip.campaign-tooltip {
    margin-top: 5px;
    margin-left: 5px;
}

#campaigns-offers-empty {
    padding: 80px;
    width: 460px;
    height: 400px;
    border-radius: 3px;
    background-color: rgba(159, 171, 178, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#campaigns-offers-empty > img {
    width: 77px;
    height: 75px;
    margin: 0 auto 30px auto;
    display: inline-block;
}

#campaigns-offers-empty > h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38em;
    color: #2d4552;
    margin: 0 0 10px 0;
}

#campaigns-offers-empty > p {
    font-size: 14px;
    line-height: 1.71em;
    color: #5b717c;
}