/* CSS for the fixed checkout sections */
.checkout-address {
    font-family: Roboto;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
}

.calendar {
    z-index: 9999 !important;
    position: fixed !important;
}

.delivery_date {
    margin: 12px 12px 0px 0px;
    float: right;
}
#search_store {
    float: right;
    margin-top: 10px;
}

#delivery_wish_date {
    width: 155px !important;
    float: left;
    margin-right: 12px !important;
}

#other_address {
    display: none;
}

.checkout-cart-index .calendar table {
    width: 265px !important;
}

#delivery_address1 .checkout-content-body.checkout-content-naked {
    min-height: 267px;
}

#cart-top {
    margin-top: 25px;
}

#checkout-wrapper {
    margin: 30px auto 0 auto;
}

.email-informative-icon  .email-informative {
    width: 15px;
    height: 15px;
    display: block;
    background: url(../images/info-standard.svg) no-repeat;
    background-size: 15px 15px;
    position: relative;
    float: left;
    top:35px;
    cursor: pointer;
}

.email-tooltip .tooltip-inner {
    max-width: 320px;
    /* If max-width does not work, try using width instead */
    width: 320px;
}

.dotted-list li {
    font-size: 11px;
    margin-left: 15px;
    list-style-type: disc;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 */
    .delivery_date {
    margin: 12px;
    float: right;
    width: 25px;
    max-width: 60px !important;
    }
    *::-ms-backdrop,
    .delivery_date {
    margin: 12px;
    float: right;
    width: 25px;
    max-width: 60px !important;
    }
  }
  
  @media screen\0 {
    .checkbox-material {
        top: 4px !important; 
        /*left: -1px !important;*/
      }   
  }
