#config-wrapper .conf-block .product-table .item-row .item-label, #config-wrapper .conf-block .product-table .item-row .item-date,
#config-wrapper .conf-block .product-table .item-row .item-label, #config-wrapper .conf-block .product-table .item-row .item-desc{
    display: block;
}

#config-wrapper .conf-block .product-table .item-row .item-label {
    width: 100px;
    height: 14px;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--white);
    background-color: var(--dark-grey-blue);
}

#config-wrapper .conf-block .product-table .item-row .item-contract {
    display: flex;
    height: 12px;
    margin-top: 3px;
}

#config-wrapper .conf-block .product-table .item-row .item-contract .item-contract-label {
    display: block;
    background-color: var(--dark-grey-blue);
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 8px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    border-radius: 3px;
    padding: 1px 5px;
    margin-right: 10px;
}

#config-wrapper .conf-block .product-table .item-row .item-contract .item-contract-start-date {
    display: block;
    color: var(--silver-three);
    font-size: 10px;
    line-height: 1.25em;
    padding: 1px 0;
    font-weight: bold;
}

#config-wrapper .conf-block .configurator-filter-container .search-container .label-info {
    background: #45ada8;
    padding: 1px 7px;
    margin: 1px 5px 1px 0;
    font-size: 14px;
}

#config-wrapper .conf-block .configurator-filter-container .search-container input[type="text"] {
    display: inline-block;
    min-width: 0;
    height: 33px;
}

.stockPopUpModal .modal-dialog {
    width: 600px;
}

.stockPopUpModal .modal-dialog .modal-content .modal-header h4 img {
    vertical-align: middle;
}

.stockPopUpModal .modal-dialog .modal-content .modal-body .location-row {
    border-top: 1px solid #000000;
    background-color: #f2f2f2;
}

.stockPopUpModal .modal-dialog .modal-content .modal-body .stock-data-row {
    padding: 10px;
}

.stockPopUpModal .modal-dialog .modal-content .modal-body .stock-data-row .dealer-data {
    font-weight: bolder;
}

.stockPopUpModal .modal-dialog .modal-content .modal-body .show-stores-switch {
    border-top: 1px dotted #000000;
    padding: 10px 0px 10px 0px;
}

.stockPopUpModal .modal-dialog {
    width: 600px;
}

.stockPopUpModal .modal-dialog .modal-content .modal-header h4 img {
    vertical-align: middle;
}

.stockPopUpModal .modal-dialog .modal-content .modal-body .location-row {
    border-top: 1px solid #000000;
    background-color: #f2f2f2;
}

.stockPopUpModal .modal-dialog .modal-content .modal-body .stock-data-row {
    padding: 10px;
}

.stockPopUpModal .modal-dialog .modal-content .modal-body .stock-other-stores {
    padding-bottom: 20px;
}

.stockPopUpModal .modal-dialog .modal-content .modal-body .stock-data-row .dealer-data {
    font-weight: bolder;
}

.stockPopUpModal .modal-dialog .modal-content .modal-body .show-stores-switch {
    border-top: 1px dotted #000000;
    padding: 10px 0px 10px 0px;
}

.stockPopUpModal .dealers-list {
    width: 100%;
}

.stockPopUpModal .modal-footer {
    padding-top: 0px !important;
}

.conf-header {
    padding: 1px 0 10px;
    text-align: right;
}

#cart_totals .toggle-container {
    display: none!important;
}

#cart_totals .cart_totals_header {
    max-width: 100%!important;
}

.section-filters ul.dropdown-menu {
    white-space: nowrap;
}

.section-filters ul.dropdown-menu li:hover {
    background: #eff1f3;
}

.configurator-filter-container .bootstrap-tagsinput input {
    border: none;
    display: none;
    min-width: 0;
}

.dropdown.section-filters {
    min-width: auto !important;
    display: inline-block;
}

.section-filters ul.dropdown-menu {
    white-space: nowrap;
    z-index: 5;
}

.section-filters ul.dropdown-menu li:hover {
    background: #eff1f3;
}

#config-wrapper .conf-block .row.configurator-filter-container .filter button.btn-danger {
    border-color: #d43f3a;
    color: #fff;
}

#config-wrapper .conf-block, .sticker .cart_packages .side-cart.block .title {
    -webkit-transition: border 0.25s ease;
    -moz-transition: border 0.25s ease;
    -ms-transition: border 0.25s ease;
    -o-transition: border 0.25s ease;
    transition: border 0.25s ease;
}

#config-wrapper .conf-block.incomplete {
    border-color: #e2574c;
}

.sticker .cart_packages .side-cart.block.incomplete .title {
    border-color: #e2574c;
}

.product-cart-icon.zig {
    background-image: url(../images/icons-package-inverse-internet-phone.svg);
}

.product-cart-icon.postpaid, .product-cart-icon.prepaid, .product-cart-icon.hardware {
    background-image: url(../images/mobile.svg);
}

#config-wrapper .conf-block .product-table .item-row .item-name,
#config-wrapper .conf-block .product-table .item-row .item-title {
    overflow: visible;
}

.col-right .sticker .col-title.order-edit {
    background: url(../images/order_edit.jpg) no-repeat scroll left 3px transparent;
}

.col-right .sticker .order-edit {
    color: #F00 !important;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 10px;
    line-height: 28px;
}

.top_menu_content {
    display: block;
    background: #fff;
    padding: 10px 30px;
    max-height: none;
}

.conf-block .item-price .per-month .interval {
    font-size: 10px;
    text-transform: lowercase;
}

.cart_packages .coupon.form-inline {
    margin: 0 0 0 5px;
}

.coupon-section div.row div.col-sm-6 span.small-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #2D4552;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 3.0em;
    padding-left: 15px;
    padding-top: 5px;
}

.conf-block .price .top {
    width: 56px;
}

.panel-heading .filter-results-unique {
    padding-right: 12px;
}

#config-wrapper .conf-block .product-table {
    float: none !important;
    position: static !important;
}

.side-cart .block-container>.title div.group-title {
    width: 89%;
}

.cart_packages .side-cart.block.active .block-container .content .row.bullet-line > .name-row {
    line-height: initial;
    max-height: 42px;
    overflow: hidden;
    color: #2D4552;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-transform: none;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 13px !important;
    font-weight: 500 !important;
}

.block-container .row .excl-vat-tax.last {
    left: 75%;
}

.block-container .row .incl-vat-tax.last {
    left: 75%;
}

.coupon-section {
    padding-bottom: 33px;
}

.product-cart-icon.int_tv_fixtel {
    background-image: url(../images/int_tv_fixtel.svg);
}

.right_expanded_packets .nav>li {
    margin-top: 5px !important;
}

.sticker .toggle-container.soho-toggle {
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 20px 10px;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.soho-toggle .toggle-label {
    margin-top: 0px;
}

.soho-toggle .toggle-label label {
    margin-bottom: 0px;
}

.customer-type {
    width: 100%;
    height: 20px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #2d4552;
    padding: 10px;
}
.vn-segmentedControl {
    background-color: #fdfdfd;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    display: inline-flex;
    flex-flow: row nowrap;
}
.vn-segmentedControl .vn-segmentedControlButton {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    border-right: 1px solid #d9d9d9;
}
.vn-segmentedControl .vn-segmentedControlButton:last-child {
    border-right: none;
}
.vn-segmentedControl .vn-segmentedControlButton > input {
    display: none;
}
.vn-segmentedControl .vn-segmentedControlButton > label {
    padding: 7px 14px;
    width: 100%;
}
.vn-segmentedControl .vn-segmentedControlButton > label:hover {
    cursor: pointer;
}
.vn-segmentedControl .vn-segmentedControlButton.selected {
    background-color: #f2f3f4;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}
.vn-segmentedControl.stacked {
    display: inline-block;
}
.vn-segmentedControl.stacked .vn-segmentedControlButton {
    border-right: none;
    border-bottom: 1px solid #d9d9d9;
}
.vn-segmentedControl.stacked .vn-segmentedControlButton:last-child {
    border-bottom: none;
}
.vn-segmentedControl.fluid {
    width: 100%; }

/* Promo Drawer START */

    /* START Checkbox/radio btns style */
.promo_container .checkbox label,
.promo_container.radio label,
.promo_container label {
    font-size: 14px;
    line-height: 1.42857;
    color: #4A4A4A;
    font-weight: 400; }

.promo_container .checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none; }
.promo_container .checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 1px;
    padding-right: 5px;
    display: inline-block; }
.promo_container .checkbox .checkbox-material:before {
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.84);
    height: 18px;
    width: 18px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    top: 0;
    -webkit-transform: scale3d(2.3,2.3,1);
    -moz-transform: scale3d(2.3,2.3,1);
    -o-transform: scale3d(2.3,2.3,1);
    -ms-transform: scale3d(2.3,2.3,1);
    transform: scale3d(2.3,2.3,1); }
.promo_container .checkbox .checkbox-material .check {
    background: #ffffff;
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    z-index: 1;
    border-radius: 3px; }
.promo_container .checkbox .checkbox-material .check:before {
    position: absolute;
    content: "";
    transform: rotate(45deg);
    display: block;
    margin-top: -3px;
    margin-left: 7px;
    width: 0;
    height: 0;
    background: red;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    -webkit-animation: checkbox-off 0.3s forwards;
    -moz-animation: checkbox-off 0.3s forwards;
    -o-animation: checkbox-off 0.3s forwards;
    -ms-animation: checkbox-off 0.3s forwards;
    animation: checkbox-off 0.3s forwards; }
.promo_container .checkbox input[type=checkbox]:focus + .checkbox-material .check:after {
    opacity: 0.2; }
.promo_container .checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #ffffff;
    border: 1px solid #45ADA8; }
.promo_container .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #45ADA8;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    -webkit-animation: checkbox-on 0.3s forwards;
    -moz-animation: checkbox-on 0.3s forwards;
    -o-animation: checkbox-on 0.3s forwards;
    -ms-animation: checkbox-on 0.3s forwards;
    animation: checkbox-on 0.3s forwards; }
.promo_container .checkbox input[type=checkbox]:checked + .checkbox-material:before {
    -webkit-animation: rippleOn 500ms;
    -moz-animation: rippleOn 500ms;
    -o-animation: rippleOn 500ms;
    -ms-animation: rippleOn 500ms;
    animation: rippleOn 500ms; }
.promo_container .checkbox input[type=checkbox]:checked + .checkbox-material .check:after {
    -webkit-animation: rippleOn 500ms forwards;
    -moz-animation: rippleOn 500ms forwards;
    -o-animation: rippleOn 500ms forwards;
    -ms-animation: rippleOn 500ms forwards;
    animation: rippleOn 500ms forwards; }
.promo_container .checkbox input[type=checkbox]:not(:checked) + .checkbox-material:before {
    -webkit-animation: rippleOff 500ms;
    -moz-animation: rippleOff 500ms;
    -o-animation: rippleOff 500ms;
    -ms-animation: rippleOff 500ms;
    animation: rippleOff 500ms; }
.promo_container .checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
    -webkit-animation: rippleOff 500ms;
    -moz-animation: rippleOff 500ms;
    -o-animation: rippleOff 500ms;
    -ms-animation: rippleOff 500ms;
    animation: rippleOff 500ms; }
.promo_container fieldset[disabled] .checkbox,
.promo_container fieldset[disabled] .checkbox input[type=checkbox],
.promo_container .checkbox input[type=checkbox][disabled] ~ .checkbox-material .check,
.promo_container .checkbox input[type=checkbox][disabled] + .circle {
    opacity: 0.5; }
.promo_container .checkbox input[type=checkbox][disabled] ~ .checkbox-material .check {
    border-color: #EEEEEE; }
.promo_container .checkbox input[type=checkbox][disabled]:checked ~ .checkbox-material .check:before {
    color: #EEEEEE; }
.promo_container .checkbox input[type=checkbox][disabled] + .checkbox-material .check:after {
    background-color: rgba(0,0,0, 0.87);
    transform: rotate(-45deg); }

@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px; }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px; }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px; } }

@keyframes rippleOn {
    0% {
        opacity: 0; }
    50% {
        opacity: 0.2; }
    100% {
        opacity: 0; } }
@keyframes rippleOff {
    0% {
        opacity: 0; }
    50% {
        opacity: 0.2; }
    100% {
        opacity: 0; } }

.promo_container .radio label span {
    display: block;
    position: absolute;
    left: 10px;
    top: 0px;
    transition-duration: 0.2s; }
.promo_container .radio label .circle {
    border: 1px solid #d9d9d9;
    height: 18px;
    width: 18px;
    border-radius: 100%; }
.promo_container .radio label .check {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: #45ADA8;
    -webkit-transform: scale3d(0,0,0);
    -moz-transform: scale3d(0,0,0);
    -o-transform: scale3d(0,0,0);
    -ms-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0); }
.promo_container .radio label .check:after {
    display: block;
    position: absolute;
    content: "";
    background-color: rgba(0,0,0, 0.87);
    left: -18px;
    top: -18px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    -webkit-transform: scale3d(1.5,1.5,1);
    -moz-transform: scale3d(1.5,1.5,1);
    -o-transform: scale3d(1.5,1.5,1);
    -ms-transform: scale3d(1.5,1.5,1);
    transform: scale3d(1.5,1.5,1); }
.promo_container .radio label input[type=radio]:not(:checked) ~ .check:after {
    -webkit-animation: rippleOff 500ms;
    -moz-animation: rippleOff 500ms;
    -o-animation: rippleOff 500ms;
    -ms-animation: rippleOff 500ms;
    animation: rippleOff 500ms; }
.promo_container .radio label input[type=radio]:checked ~ .check:after {
    -webkit-animation: rippleOff 500ms;
    -moz-animation: rippleOff 500ms;
    -o-animation: rippleOff 500ms;
    -ms-animation: rippleOff 500ms;
    animation: rippleOff 500ms; }
.promo_container .radio input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden; }
.promo_container .radio input[type=radio]:checked ~ .check {
    background-color: #ffffff;
    margin-left: 1px;
    margin-top: 1px;
}
.promo_container .radio input[type=radio]:checked ~ .circle {
    border-color: #45ADA8;
    background: #45ADA8; }
.promo_container .radio input[type=radio]:checked ~ .check {
    -webkit-transform: scale3d(0.45, 0.45, 1);
    -moz-transform: scale3d(0.45, 0.45, 1);
    -o-transform: scale3d(0.45, 0.45, 1);
    -ms-transform: scale3d(0.45, 0.45, 1);
    transform: scale3d(0.45, 0.45, 1); }
.promo_container .radio input[type=radio][disabled] ~ .check, .radio input[type=radio][disabled] ~ .check {
    background-color: #ffffff; }
.promo_container .radio input[type=radio][disabled] ~ .circle {
    border-color: #eeeeee;
    background: #eeeeee; }

    /* STOP Checkbox/radio btns style */

.menu-expand .icon-add {
padding-left: 20px;
background-image: url('../img/add.svg');
}

.menu-expand li.disabled .icon-add {
    background-image: url('../img/add_disabled.svg');
}

.menu-expand li.disabled, .menu-expand li.disabled a {
    cursor: not-allowed !important;
}

.package-promos-container {
    display: none;
    background-color: #ffffff;
    height: 100%;
    position: relative;
}

#promos-loader-wrapper {
    display: none;
}

.promos-loader-middle {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    text-align: center;
}

.promos-loader-content {
    display: table-cell;
    vertical-align: middle;
}

.promos-loader {
    border: 3px solid #ffffff;
    border-radius: 50%;
    border-top: 3px solid #009CA7;
    border-left: 3px solid #009CA7;
    border-right: 3px solid #009CA7;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto 30px;
}

.promos-loader-content p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey-blue);
}

.promos-loader-content div {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: var(--slate);
}

#promo-rules-container {
    width: 100%;
    padding: 0 20px;
    height: 100%;
}

#promo-rules-container .notification-banner.warning {
    margin: 20px 0 0 0;
}

.promos-container-header {
    margin-top: 50px;
}

.package-promos-container button.colapse-promos-icon {
    background: none;
    border: none;
}

.package-promos-container button.colapse-promos-icon i {
    display: block;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    background: url('../img/arrow_right.png') no-repeat center;
    margin: 20px 0;
}

.package-promos-container button.colapse-promos-button {
    width: 350px;
    position: fixed;
    bottom: 20px;
    z-index: 1000;
}

.package-promos-container .promo-rules-container {
    display: block;
}

.secondary-button {
    height: 40px;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey-blue);
    background-color: white;
}

.secondary-button[disabled] {
    border: solid 1px #dedede;
    color: var(--silver-three);
    background-color: white;
}

.secondary-button:hover {
    border: solid 1px var(--silver-two);
    background-color: #f7f8f9;
    color: var(--dark-grey-blue);
}

.secondary-button:focus {
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #58badc;
    color: var(--dark-grey-blue);
    background-color: white;
}

.promos-container-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--dark-grey-blue);
}

.package-promos-container .content {
    margin: 0;
    font-size: 10px;
    color: #999;
    height: calc(100% - 150px);
    padding-top: 12px;
}

.scroll-overlay-top {
    position: absolute;
    top: 0;
    right: 10px;
    width: 340px;
    height: 20px;
    transform: rotate(180deg);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--white));
    z-index: 999;
}

.scroll-overlay-bottom {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 340px;
    height: 20px;
    transform: rotate(180deg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), var(--white));
    z-index: 999;
}

.package-promos-container .content .row {
    padding: 2px 15px;
    position: relative;
    height: auto;
    margin: 0;
}

.package-promos-container .content .row.price-header-row {
    border-top: initial;
    border-bottom: initial;
    background-color: initial;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    color: #2d4552;
}

.package-promos-container .content .row > div {
    color: #212121;
    font-size: 10px;
}

.package-promos-container [class^=col-] {
    padding: 0;
}

.target-product-header {
    height: 24px;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 0 rgba(0, 0, 0, 0.03);
    background-color: rgba(45, 69, 82, 0.05);
}

.target-product-header {
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: var(--dark-grey-blue);
    text-transform: uppercase;
}

.promo_container {
    padding: 20px 0;
    border-bottom: 1px solid #d9d9d9;
}

.target-product-container .promo_container:last-child {
    border-bottom: none;
}

.promo_container .checkbox, .promo_container .radio {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 12px;
}

.promo-label {
    border-radius: 3px;
    text-transform: uppercase;
    padding: 1px 3px;
    margin-right: 5px;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    float: left;
    margin-bottom: 5px;
    background-color: #999;
}

.promo-label.last {
    margin-right: 0;
}

.promo-label.promo-label-blue {
    background-color: #58BADC;
}

.promo-label.promo-label-yellow {
    background-color: #FFAF00;
}

.promo-labels {
    margin-left: 38px;
}

.promo_container .radio label span {
    left: 0;
}

.promo_container .radio label {
    padding-left: 28px;
}

.promo_container .checkbox label,.promo_container  .radio label {
    display: inline-block;
    padding-right: 12px;
    position: relative;
    padding-left: 28px;
    margin-bottom: 5px;
}

.promo-option-separator {
    margin: 20px 0 20px 38px;
    height: 1px;
    background-color: #d9d9d9;
}

.promo_container .checkbox label .checkbox-material {
    position: absolute;
    left: 0;
}

#fadded-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity=70);
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    content: '';
}

.col-right.sidebar.promos-sidebar {
    z-index: 3004 !important;
    top: 0;
    height: 100%;
}

.promos-content-relative {
    position: relative;
    margin: 20px 0;
}

.scrollbar-inner > .scroll-element .scroll-element_track {
    background-color: #fff;
}

/* Promo Drawer STOP */

.tooltip.in {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}
.tooltip {
    position: absolute;
    opacity: 0;
    transition: opacity, transform .2s ease;
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
}
.tooltip.left .tooltip-arrow {
    border-left-color: #333333;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #333333;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #333333;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #333333;
}
.tooltip-inner {
    background: #333333;
    padding: 15px 12px;
    color: #ffffff;
    text-align: left;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    word-break: break-word;
}
.tooltip-inner p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.29;
    text-transform: none;
    margin: 0 0 5px 0;
    color: #ffffff;
}
.tooltip-inner p:first-child {
    margin-top: 0;
}

.tooltip.left {
    margin-top: 5px;
}

div.badge.ils-change, div.badge.ils-renew,  div.badge.ils-modify {
    background: url(../images/ils-renew-icon.svg) center center no-repeat;
    float: left;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.orderline-advanced div.badge.ils-change, .orderline-advanced div.badge.ils-renew, .orderline-advanced div.badge.ils-modify {
    margin-top: 7px;
}

#config-wrapper.including-vat .excl-vat-tax {
    display: none;
}

#config-wrapper.excluding-vat .incl-vat-tax {
    display: none;
}

#config-wrapper .conf-block .product-table .item-row {
    padding: 13px 20px 13px 15px;
    border: 1px solid rbga(0,0,0,0.15);
}

/* START SALES HINTS NOTIFICATIONS */
.toast-notifications-container {
    width: 320px;
    position: fixed;
    bottom: 15px !important;
    right: 15px !important;
    z-index: 7999;
    opacity: unset !important;
    transition: height 1s !important;
}

#config-wrapper .conf-block .product-table .item {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

    #config-wrapper .conf-block .product-table .item .item-name {
        display: flex;
        align-items: center;
        justify-content: stretch;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: calc(100% - 140px);
    }

        #config-wrapper .conf-block .product-table .item .item-picture-container {
            flex-grow: 0;
            flex-shrink: 0;
            padding: 0;
            margin-right: 10px;
            width: 30px;
            height: 30px;
            border-radius: 3px;
            overflow: hidden;
            text-align: center;
        }

            #config-wrapper .conf-block .product-table .item .item-picture-container.no-image {
                border: none;
                background-image: url(../images/icons-package-inverse-fallback.svg);
            }

            #config-wrapper .conf-block .product-table .item-row.disabled-row .item .item-picture-container {
                border-color: #d9d9d9;
            }

            #config-wrapper .conf-block .product-table .item .item-picture-container > img {
                display: inline-block;
                max-width: 30px;
                max-height: 30px;
            }

        #config-wrapper .conf-block .product-table .item .item-description-holder {
            display: block;
            max-width: calc(100% - 40px);
        }

            #config-wrapper .conf-block .product-table .item .item-title {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.29;
                color: #2d4552;
                width: 100%;
                height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
            }

                #config-wrapper .conf-block .product-table .item .item-title-inner {
                    display: inline-block;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

            #config-wrapper .conf-block .item .item-info {
                width: 20px;
                height: 20px;
                margin-left: 0;
                vertical-align: text-bottom;
                background: url(../images/icons-general-info-inverse.svg);
            }

            #config-wrapper .conf-block .item-row.disabled-row .item .item-info {
                background: url(../images/icons-general-info-inverse-disabled.svg);
            }

            #config-wrapper .conf-block .product-table .item .item-label,
            #config-wrapper .conf-block .product-table .item .item-date,
            #config-wrapper .conf-block .product-table .item .item-desc
            {
                margin-top: 4px;
            }

            #config-wrapper .conf-block .product-table .item .item-label,
            #config-wrapper .conf-block .product-table .item .item-date,
            #config-wrapper .conf-block .product-table .item .item-desc,
            #config-wrapper .conf-block .product-table .item .item-desc > *
            {
                font-size: 10px;
                line-height: 1;
                font-weight: bold;
                color: #5b717c;
                width: 100%;
                height: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0;
                display: block;
            }

            #config-wrapper .conf-block .product-table .item .item-desc > a {
                color: #009ca7 !important;
                display: inline-block;
                width: auto;
            }

            #config-wrapper .conf-block .product-table .item .item-desc > a:hover {
                color: #007c92 !important;
            }

            #config-wrapper .conf-block .product-table .item .item-desc > a:focus {
                color: #58badc !important;
                background-color: #f1f1f1;
            }

#config-wrapper .conf-block .product-table .item .item-price {
    width: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 10px;
    font-size: 14px;
}

#config-wrapper .conf-block .product-table .item-row.multi-option, #config-wrapper .conf-block .product-table .item-row.selected {
    border-left-width: 6px;
    border-color: #009ca7;
    background-color: #f7fcfc;
    padding-left: 10px;
}

.toast-notification {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 0;
    position: relative;
    display: none;
}

.toast-notification.toast-notification-warning {
    background-color: #FEF8EA;
}
.toast-notification.toast-notification-error {
    background-color: #fceeed;
}

.toast-notification:first-of-type {
    margin: 0;
}

.toast-notification .toast-notification-icon {
    background-size: 32px 32px;
    display: inline-block;
    width: 34px;
    height: 34px;
    float: left;
}

.toast-notification.toast-notification-warning .toast-notification-icon {
    background: url(../images/warning-icon.svg) no-repeat center;
}

.toast-notification.toast-notification-error .toast-notification-icon {
    background: url(../images/banner-error.svg) no-repeat center;
}

.toast-notification-close-icon {
    background: url(../images/cardinality_close.svg) no-repeat center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px !important;
    height: 24px !important;
    cursor: pointer;
}

.toast-notification-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: var(--dark-grey-blue);
    margin: 10px 0;
    line-height: 1.29em;
    max-height: 2.58em;
    overflow: hidden;
}

.toast-notification-description {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--dark-grey-blue);
    line-height: 1.29em;
    max-height: 3.87em;
    overflow: hidden;
    margin-bottom: 10px;
}

div.process-context-indication {
    float: right;
    margin: 14px 0 0 10px;
    text-align: center;
    position: relative;
}

/* END SALES HINTS NOTIFICATIONS */


div.process-context-indication .badge {
    padding: 11px;
}


#config-wrapper .conf-block .product-table .item-row {
    padding: 13px 20px 13px 15px;
    border: 1px solid rbga(0,0,0,0.15);
}

#config-wrapper .conf-block .product-table .item-row.disabled-row {
    cursor: not-allowed;
    border: solid 1px #d9d9d9;
    background-color: rgba(45, 69, 82, 0.02);
}

#config-wrapper .conf-block .product-table .item-row.disabled-row * {
    color: #bfc1c2 !important;
}

#config-wrapper .conf-block .product-table .item {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

#config-wrapper .conf-block .product-table .item .item-name {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 140px);
}

#config-wrapper .conf-block .product-table .item .item-picture-container {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #9fabb2;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
}

#config-wrapper .conf-block .product-table .item-row.disabled-row .item .item-picture-container {
    border-color: #d9d9d9;
}

#config-wrapper .conf-block .product-table .item .item-picture-container > img {
    display: inline-block;
    max-height: 28px;
    max-width: 28px;
}

#config-wrapper .conf-block .product-table .item .item-description-holder {
    display: block;
    max-width: calc(100% - 40px);
}

#config-wrapper .conf-block .product-table .item .item-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: #2d4552;
    width: 100%;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

#config-wrapper .conf-block .product-table .item .item-title-inner {
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#config-wrapper .conf-block .product-table .item .item-title-inner span {
    margin-left: 5px;
    display: inline-block;
}

#config-wrapper .conf-block .item .item-info {
    width: 20px;
    height: 20px;
    margin-left: 0;
    vertical-align: text-bottom;
    background: url(../images/icons-general-info-inverse.svg);
}

#config-wrapper .conf-block .item-row.disabled-row .item .item-info {
    background: url(../images/icons-general-info-inverse-disabled.svg);
}

#config-wrapper .conf-block .product-table .item .item-label,
#config-wrapper .conf-block .product-table .item .item-date,
#config-wrapper .conf-block .product-table .item .item-desc
{
    margin-top: 4px;
}

#config-wrapper .conf-block .product-table .item .item-label,
#config-wrapper .conf-block .product-table .item .item-date,
#config-wrapper .conf-block .product-table .item .item-desc,
#config-wrapper .conf-block .product-table .item .item-desc > *
{
    font-size: 10px;
    line-height: 1;
    font-weight: bold;
    color: #5b717c;
    width: 100%;
    height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    display: block;
}

#config-wrapper .conf-block .product-table .item .item-price {
    width: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 10px;
    font-size: 14px;
}

#config-wrapper .conf-block .counter {
    border-radius: 3px;
}

.configurator-top {
    padding: 3px 8px 0 5px;
}

#config-wrapper .conf-block .panel-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.875;
}

#config-wrapper .conf-block span.please-select {
    display: inline-block;
    margin-left: 10px;
    padding-left: 0;
    width: 20px;
    height: 20px;
    background-image: url(../images/icons-general-not-selected.svg);
    vertical-align: middle
}

#config-wrapper .conf-block .row.configurator-filter-container {
    margin-top: 16px;
}

#config-wrapper .conf-block .counter {
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat;
    background-position: center center;
}

#config-wrapper .conf-block .counter.mobile {
    background-color: #e22e2e !important;
}

#config-wrapper .conf-block .counter.hardware {
    background-color: #e22e2e !important;
}

#config-wrapper .conf-block .counter.int_tv_fixtel {
    background-color: #FBA540 !important;
}

#config-wrapper .conf-block .counter.addon {
    background-image: url(../../../omnius/default/images/de/options-outline-white.svg);
}

#config-wrapper .conf-block .counter.accessory {
    background-image: url(../../../omnius/default/images/de/accessories-outline-white.svg);
}

#config-wrapper .conf-block .counter.pakket {
    background-image: url(../../../omnius/default/images/de/plan-outline-white.svg);
}

#config-wrapper .conf-block .counter.pakket_details {
    background-image: url(../images/icons-package-comp-bundle.svg);
}

#config-wrapper .conf-block .counter.pakket_addons {
    background-image: url(../../../omnius/default/images/de/options-outline-white.svg);
}

.conf-block .product-table .family {
    margin-bottom: 17px;
}

.conf-block .product-table .family:last-child {
    margin-bottom: 0;
}

.conf-block .product-table .family:first-child .family-header {
    margin-top: 0;
}

.conf-block .product-table .family-header {
    display: flex;
    justify-content: stretch;
    padding: 0 20px 5px 5px;
    height: 20px;
    overflow: hidden;
    color: #2d4552;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 5;
    margin-top: 0 !important;
}

.conf-block .product-table .family-header.family-header-price {
    z-index: 5;
    background-color: #FFF;
    position: sticky;
    height: 20px;
    right: 0;
    overflow: visible;
    display: flex;
    text-transform: uppercase;
    margin-bottom: -20px;
}

.conf-block .product-table .family-header > * {
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.conf-block .product-table .family-header .family-name {
    flex-grow: 1;
    font-size: 12px;
    line-height: 1.67;
}

.conf-block .product-table .family-header .family-price {
    width: 60px;
    font-size: 10px;
    line-height: 2;
    margin-left: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    text-transform: uppercase;
}
.conf-block .product-table > .family-header + .family > .family-content:first-child {
    padding-top: 20px;
}

.conf-block .selection-block {
    padding-bottom: 0;
}

#config-wrapper .conf-block .product-table {
    margin-top: 17px;
}

#config-wrapper .conf-block .panel-heading.block-header {
    padding: 3px 8px 0 5px;
}

#config-wrapper .conf-block span.check {
    background-image: url(../images/configurator-check.svg);
    padding-left: 0;
    display: inline-block;
    width: 17px;
    height: 13px;
}

#config-wrapper .conf-block:last-child {
    margin-bottom: 0;
}

.filter {
    display: flex;
    justify-content: stretch;
}

#config-wrapper .conf-block .row.configurator-filter-container .filter button {
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 14px;
    color: #2d4552;
    width: auto;
    flex-grow: 0;
}

#config-wrapper .conf-block .row.configurator-filter-container .filter .btn-filter {
    background-repeat: no-repeat;
    background-position: right 6px center;
    background-image: url(../images/buttons-comp-options-expand.svg);
    padding-right: 38px;
}

#config-wrapper .conf-block .row.configurator-filter-container .filter > *, #config-wrapper .conf-block .row.configurator-filter-container .filter button {
    margin-right: 10px;
}

#config-wrapper .conf-block .row.configurator-filter-container .filter > *:last-child, #config-wrapper .conf-block .row.configurator-filter-container .filter button:last-child {
    margin-right: 0;
}

#config-wrapper .conf-block .search-container {
    width: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

#config-wrapper .conf-block .panel-heading {
    position: relative;
}

.section-filters .btn {
    color: #324d5b;
    font-weight: bold;
    font-size: 12px;
}

.section-filters .btn i {
    padding-left: 5px;
}

.conf-block .filter-status {
    line-height: inherit;
    font-weight: normal;
}

.conf-block .price .top {
    font-size: 14px;
    text-decoration: line-through;
    margin-bottom: 0;
    line-height: 14px;
    text-align: right;
}

div.process-context-indication {
    float: right;
    margin: 18px 0 0 10px;
    text-align: center;
}

#order-preview-container .details-container div.process-context-indication {
    margin: 0px 0 0 10px;
}


#config-wrapper .conf-block, #config-wrapper .conf-block .selection-block {
    overflow: visible;
}
/* Filters section */
#config-wrapper .conf-block .panel-heading {
    line-height: normal;
}

#config-wrapper .bootstrap-tagsinput {
    position: absolute;
    top: 45px;
    left: 4px;
    background-color: transparent;
    width: auto;
}

.bootstrap-tagsinput .tag {
    position: relative;
    background-color: #00b0ca;
    border-radius: 3px;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
    padding: 0 22px 0 5px;
    display: inline-block;
    margin-right: 7px;
}

.bootstrap-tagsinput .tag [data-role=remove] {
    position: absolute;
    background-image: url(../images/close-white.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0;
    right: 3px;
    top: 3px;
}
.bootstrap-tagsinput .tag [data-role=remove]:hover {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 2px;
    box-shadow: none;
}
.bootstrap-tagsinput .tag [data-role=remove]:after {
    content: "";
    display: none;
}

#config-wrapper .conf-block .configurator-filter-container .search-container input[type="text"],
#config-wrapper .conf-block .configurator-filter-container .search-container input[type="text"]::placeholder {
    font-size: 14px;
    color: #5b717c;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

#config-wrapper .conf-block .filter {
    margin-bottom: 5px;
}

.configurator-navigation {
    display: block;
    color: #fff;
    font-weight: 500;
    z-index: 10;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    height: 45px;
    width: 40px;
}
.configurator-navigation .configurator-navigation-toggle {
    display: block;
    background-color: #575756;
    background-image: url(../images/three-dots-white.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    border-radius: 2px;
    margin-top: 5px;
    color: #fff;
}
.configurator-navigation.open .configurator-navigation-toggle {
    background-image: url(../images/close-white.svg);
}
.configurator-navigation.open .configurator-navigation-toggle {
    background-image: url(../images/close-white.svg);
}
.configurator-navigation .configurator-navigation-menu {
    display: none;
    background-color: #575756;
    color: #fff;
    font-weight: 500;
    z-index: 10;
    position: absolute;
    bottom: 45px;
    right: 0;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    border-radius: 2px;
}
.configurator-navigation.open .configurator-navigation-menu {
    display: block;
}
.configurator-navigation .configurator-navigation-menu ul {
    margin: 0;
}
.configurator-navigation .configurator-navigation-menu ul li {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 30px 0 40px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.configurator-navigation .configurator-navigation-menu li:hover {
    background-color: #454544;
}

.configurator-navigation-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 9px;
    top: 8px;
}
.configurator-navigation-icon.abonnement, .configurator-navigation-icon.pakketten {
    background-image: url(../images/icons-configurator-comp-plan.svg);
}
.configurator-navigation-icon.toestel, .configurator-navigation-icon.hardware {
    background-image: url(../images/icons-configurator-comp-hardware.svg);
}
.configurator-navigation-icon.extra, .configurator-navigation-icon.addons {
    background-image: url(../images/icons-configurator-comp-options.svg);
}
.configurator-navigation-icon.accessoire {
    background-image: url(../images/icons-configurator-comp-acessories.svg);
}
.configurator-navigation-icon.pakketdetails {
    background-image: url(../images/icons-package-comp-bundle.svg);
}
.configurator-navigation-icon.goodies {
    background-image: url(../images/icons-configurator-comp-benefits.svg);
}

#config-wrapper {
    scroll-behavior: smooth;
}

#config-wrapper #sim-select-block {
    display: flex;
    justify-content: space-between;
    height: 56px;
    background-color: #f7f8f9;
    border: 1px solid #d9d9d9;
    padding: 5px 15px;
    overflow: visible;
}

#config-wrapper #sim-select-block .section--title {
    line-height: 46px;
    font-weight: bold;
    color: #2d4552;
}

#config-wrapper #sim-select-block .form-group {
    width: 300px;
    margin: 0 !important;
}
