body, html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: VodafoneRg;
}

p {
  margin: 0.7px 0;
}

div {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.container {
  width: 826.7px;
  padding: 0 4.9%;
}

.bold {
  font-weight: bold;
}

table {
  width: 100%;
}

table, tr, td {
  vertical-align: top;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 10px;
  line-height: 11px;
}

/* Headers */
h1 {
  font-size: 40px;
  color: #e60000;
  font-weight: normal;
  margin: 0 0 26px 0;
  line-height: normal;
}

h2 {
  font-size: 21.4px;
  vertical-align: middle;
  line-height: 26.7px;
  margin: 0 0 6.7px 0;
  font-weight: normal;
  color: #e60000;
}

h2 img {
  margin: 0 8px 0 0;
  vertical-align: middle;
  width: 26.7px;
}

h3 {
  font-size: 17.3px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e60000;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e60000;
  border-bottom: 1px solid #666;
  margin: 0 0 6.7px 0;
  padding: 0 0 5px 0;
}

/* Packages */
.package {
  padding: 12px;
  margin-bottom: 9.3px;
  background-color: #ebebeb;
  page-break-inside: avoid !important;
}

.package .white {
  background-color: #fff;
}

.package .totals {
  padding: 2.7px 0 !important;
}

.package .totals-left {
  padding-left: 6.7px !important;
  border-radius: 2.7px 0 0 2.7px;
}

.package .totals-right {
  padding-right: 6.7px !important;
  border-radius: 0 2.7px 2.7px 0;
}

.package .addonindent {
  padding-left: 9px !important;
}

.package .footnote {
  font-size: 8px;
  text-align: center;
  border-top: solid 1px #afafaf;
  border-bottom: solid 1px #afafaf;
  padding: 2.7px 0;
  margin-bottom: 5.3px;
}

.package .left {
  width: 50%;
  padding-right: 12px;
  border-right: solid 1px #666;
}

.package .right {
  width: 50%;
  padding-left: 12px;
  border-left: solid 1px #666;
  margin-left: -1px;
}

.package .packagetable {
  margin-bottom: 5.3px;
}

.package .priceheader {
  font-size: 8px;
}

.package .pricetable {
  margin-top: 9.3px;
}

.package .privacysettings {
  font-size: 8px;
  margin-bottom: 5.3px;
}

.package .privacysettings .left, .package .privacysettings .right {
  border: 0;
}

.package .pricesymbol {
  width: 6px;
}

.package .price {
  text-align: right;
  padding-right: 20px !important;
}

/* Rows */
.row {
  width: 100%;
  margin-bottom: 4px;
}

.row .left {
  width: 33%;
}

.row .right {
  width: 67%;
}

/* Terms */
.terms {
  page-break-inside: avoid !important;
  padding-left: 1.5%;
  padding-right: 1.5%;
  font-size: 8px;
}

.terms p {
  margin-bottom: 4px;
}

.terms .header {
  font-weight: bold;
}

.terms .left {
  width: 50%;
  padding-right: 13.3px;
}

.terms .right {
  padding-left: 12px;
  width: 50%;
}

.terms ul {
  margin: 0 0 4px 9px;
  padding: 0 0 0 9px;
}

/* Header */
#header {
  padding: 0 1.5%;
  margin-top: 66.7px;
}

#header .logo {
  text-align: center;
}

/* Customer */
.customer {
  margin-bottom: 16px;
  padding: 0 1.5%;
  word-break: break-all;
}

/* Footer */
#footer {
  width: 100%;
  height: 84px;
  margin-top: 33.3px;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

#footer .left {
  height: 100%;
  vertical-align: bottom;
  width: 50%;
  padding-right: 13.3px;
}

#footer .right {
  height: 100%;
  width: 50%;
  padding-left: 13.3px;
}

#footer #signature {
  width: 100%;
  padding: 13.3px;
  height: 84px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

#footer #signature .date {
  float: right;
  margin-right: 13.3px;
}

#footer .barcode {
  width: 196px;
  height: 53.3px;
  margin-top: 15px;
}

#footer .pagination {
  float: right;
  width: 116.7px;
  text-align: right;
  margin-top: 70.7px;
}