/* New UI Checkout*/
#cart-content p {
    font-size: 14px;
    line-height: 24px;
    color: #2d4552;
}

#cart-content h1, #cart-content h2, #cart-content h3, #cart-content h4, #cart-content h5, #cart-content h6 .checkout-wrapper section h3 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#cart-content h5 {
    color: #2d4552;
}

#cart-content h3 {
    text-align:left;
    margin: 3px 0 2px 0;
    font-size: 12px;
    color: #45ada8 !important;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: none;
}

#cart-content h4{
    text-align:left;
    font-size: 24px;
    color: #2D4552;
    font-weight: 400;
    margin: 25px 0 17px 0;
    line-height: 1.4em;
}

#cart-content .section {
    padding:0;
    display:none;
    margin-bottom: 40px;
}
#cart-content .section .summary {
    text-align: left;
    display: none;
}
#cart-content .section .summary h3 {
    color: #2D4552!important;
    font-size: 24px;
}
#cart-content .section .footer {
    background-color:transparent;
}
#checkout-wrapper textarea, #checkout-wrapper input[type="text"], #checkout-wrapper input[type="password"], .checkout-modal textarea, .checkout-modal input, .checkout-modal input[type="password"] {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0;
}
#checkout-wrapper input[type="text"]::-ms-clear, #checkout-wrapper input[type="text"]::-ms-reveal, #checkout-wrapper input[type="password"]::-ms-clear, #checkout-wrapper input[type="password"]::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
}
#cart-content select, #checkout-bank-generator select {
    background: transparent;
    border: none !important;
    padding: 0;
}
#checkout-wrapper .select-wrapper label, .checkout-modal .select-wrapper label {
    text-align:left;
}

#checkout-wrapper .section .optional {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(217, 217, 217, 0.5);
    border-radius: 3px;
    padding: 7px 11px;
    height: 56px;
    overflow: hidden;
    transition: height 200ms;
    box-sizing: border-box;
}
#checkout-wrapper .section .optional > .row {
    padding: 0 10px;
    opacity: 0;
    transition: opacity 200ms;
}
#checkout-wrapper .section-footer a:hover {
    text-decoration: underline;
}

#checkout-wrapper  .breadcrumb-section {
    position: relative;
    height: 100vh;
}
#checkout-wrapper  .breadcrumb-section .breadcrumb-bar {
    position: relative;
    top: 22px;
    height: calc(90% - 50px);
}
#checkout-wrapper  .breadcrumb-section .breadcrumb-bar .bar {
    transform: translateX(3px);
    width: 2px;
    height: 100%;
    background-color: #E9EAEB;
}
#checkout-wrapper  .breadcrumb-section .breadcrumb-bar .bar-active {
    position: absolute;
    transform: translateX(3px);
    width: 2px;
    background-color: #23b0c8;
    top: 0;
}
#checkout-wrapper  .breadcrumb-section .breadcrumb-bar .vertex {
    position: absolute;
    transform: translateX(-5px);
    display: block;
    box-sizing: border-box;
    height: 18px;
    width: 18px;
    background: #ffffff;
    border-radius: 10px;
    border: 2px solid #E9EAEB;
    cursor: pointer;
}
#checkout-wrapper  .breadcrumb-section .breadcrumb-bar .vertex.active {
    border-color: #23b0c8;
}
#checkout-wrapper  .breadcrumb-section .breadcrumb-bar .vertex.completed {
    background-color: #23b0c8;
    border-color: #23b0c8;
    background-image: url("/skin/frontend/vznl/default/images/checkout/check.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/*
    Radio box
*/
#checkout-wrapper .radio-box {
    margin: 10px 0;
}

#checkout-wrapper .radio-box .radio-item {
    padding-left: 0;
}

#checkout-wrapper .radio-box .radio-item:first-child {
    border-radius: 3px 3px 0 0;
}

#checkout-wrapper .radio-box .radio-item:first-child > .radio {
    border-radius: 3px 3px 0 0;
}

#checkout-wrapper .radio-box .radio-item:last-child {
    border-radius: 0 0 3px 3px;
}

#checkout-wrapper .radio-box .radio-item:last-child > .radio {
    border-radius: 0 0 3px 3px;
}

#checkout-wrapper .radio-box .radio {
    position: relative;
    background: #fff;
    border: 1px solid #d9d9d9;
    margin: -1px 0 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    padding-left: 0;
}

#checkout-wrapper .radio-box .radio label {
    display: block;
    padding: 19px 20px 18px 41px;
    margin: 0;
}

#checkout-wrapper .radio-box .radio label span {
    left: 14px;
    top: 18px;
}

#checkout-wrapper .radio-box .radio-collection {
    position: relative;
}

#checkout-wrapper .radio-box .radio-collection:after {
    content: url(../images/expand.svg);
    position: absolute;
    top: 21px;
    right: 23px;
    transition: transform 200ms;
    transform: rotate(-90deg);
    pointer-events: none;
    display: none !important;
}

#checkout-wrapper .radio-box .radio-collection .radio {
    margin-top: -1px;
    padding-left: 0;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(217, 217, 217, 0.5);
    padding: 20px 5px;
    display: none;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown .package-head {
    display: flex;
    position: relative;
    height: 30px;
    margin-bottom: 20px;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown .package-head-icon {
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/mobile.svg);
    background-size: cover;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown .package-head > label {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 10px;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown .package-head > label > h5 {
    margin: 1px 0 0 0;
    margin-top: 1px;
    display: block;
    font-size: 14px;
    line-height: 1.29em;
    font-weight: 500;
    color: #2d4552;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown .package-head > label > h5 > .info-icon {
    margin: 0;
    vertical-align: middle;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown .package-head > label > .packagetype {
    color: #5C707A;
    font-weight: bold;
    font-size: 10px;
    line-height: 1em;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown .package-head span {
    position: relative;
    top: 3px;
    font-size: 10px;
    font-weight: 500;
    color: #5c707a;
    float: right;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown .package-head-fixedicon {
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/fixed.svg);
    background-size: cover;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown > .row {
    padding: 0 10px;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown > .row > div {
    padding: 0 5px;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown.checked > .row {
    display: block;
}

#checkout-wrapper .radio-box .radio-collection.checked:after {
    transform: rotate(90deg);
}

#checkout-wrapper .radio-box .radio-collection.checked > .radio-popdown {
    display: block;
}

#checkout-wrapper .radio-box .radio-disabled > label {
    color: #bfc1c2;
    pointer-events: none;
}


#checkout-wrapper .radio-disabled input[type=radio] ~ .circle {
    border-color: #eeeeee;
    background: #ffffff;
}

#checkout-wrapper .radio .collection-price {
    position: absolute;
    right: 55px;
    top: 21px;
    font-size: 14px;
    color: #5c717b;
}

#checkout-wrapper .checkbox .collection-price {
    position: absolute;
    right: 55px;
    top: 20px;
    font-size: 14px;
    color: #5c717b;
}

#checkout-wrapper .radio .collection-price {
    position: absolute;
    right: 55px;
    top: 21px;
    font-size: 14px;
    color: #5c717b;
}

#checkout-wrapper .checkbox .collection-price {
    position: absolute;
    right: 55px;
    top: 20px;
    font-size: 14px;
    color: #5c717b;
}


/*
    Check box
*/

.checkbox-options {
            margin: 0px;
        }
#checkout-wrapper .checkbox-options .checkbox-collection {
    position: relative;
}
#checkout-wrapper .checkbox-options .checkbox-collection:after {
    content: url(../images/expand.svg);
    position: absolute;
    z-index: 1;
    top: 21px;
    right: 23px;
    transition: transform 200ms;
    transform: rotate(-90deg);
    pointer-events: none;
}
#checkout-wrapper .checkbox-options .checkbox-collection .checkbox-popdown {
    display: none;
    box-sizing: border-box;
}
#checkout-wrapper .checkbox-options .checkbox-collection .checkbox-popdown > .row {
    padding: 0 10px;
}
#checkout-wrapper .checkbox-options .checkbox-collection .checkbox-popdown > .row > div {
    padding: 0 5px;
}
#checkout-wrapper .checkbox-options .checkbox-collection.checked:after {
    transform: rotate(90deg);
}
#checkout-wrapper .checkbox-options .checkbox-collection.checked > .checkbox-popdown {
    padding: 20px 5px;
    display: block;
    border: 1px solid rgba(217, 217, 217, 0.5);
    background-color: rgba(0, 0, 0, 0.03);
}

#checkout-wrapper .checkbox-options .checkbox-collection.checked > .checkbox-popdown.np-fixed {
    padding: 0px;
    display: block;
}
#checkout-wrapper .checkbox-options .checkbox-collection:first-child .checkbox {
    border-top: 1px solid #d9d9d9;
}
#checkout-wrapper .checkbox-options .checkbox {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-top: none;
    margin: 0;
    padding-left: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}
#checkout-wrapper .checkbox-options .checkbox label {
    padding: 19px 20px 19px 40px;
    display: block;
    margin: 0;
}
#checkout-wrapper .checkbox-options > .checkbox:first-child {
    border-top: 1px solid #d9d9d9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#checkout-wrapper .checkbox-options > .checkbox-item:first-child .checkbox {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#checkout-wrapper .checkbox-options .checkbox-item:last-child > .checkbox {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#checkout-wrapper .checkbox-options .checkbox-item:last-child > .checkbox-popdown {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#checkout-wrapper .checkbox-options .checkbox-item.checked:last-child > .checkbox {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#checkout-wrapper .checkbox-wrapper {
    display: flex;
    align-items: center;
    background: #f2f3f4;
    border-radius: 3px;
    height: 44px;
    padding: 0 12px;
    margin: 5px 0;
}
#checkout-wrapper .checkbox-disabled > label {
    opacity: 0.3;
    pointer-events: none;
}
#checkout-wrapper .checkbox-options .checkbox label span {
    left: 6px;
    top: 9px;
    position: absolute;
    margin-right: 4px;
    padding-right: 0px;
    margin-left: 0;
}
@media screen\0 {
    #checkout-wrapper .checkbox-options .checkbox label span {
        left: 6px !important;
        top: 12px !important;
    }
}

/* Section wrapper */
.section-wrapper {
    background: #f2f3f4;
    border-radius: 3px;
    padding: 15px 10px;
    margin-bottom: 10px;
}
.section-wrapper .section-wrapper-header {
    font-size: 10px;
    font-weight: bold;
    color: #2d4552;
    text-transform: uppercase;
}

/* Tooltips */
#checkout-wrapper .tooltip .tooltip-inner, .modal.new-style-modal .tooltip .tooltip-inner {
    box-shadow: none;
    padding: 8px 10px 7px 10px;
    font-weight: bold;
    font-size: 14px;
}
#checkout-wrapper #checkout-form .tooltip .tooltip-inner ul, .modal.new-style-modal .tooltip .tooltip-inner ul{
    list-style-type: disc;
    margin-left: 15px;
    margin-top: 10px;
    font-weight:normal;
}

#checkout-wrapper #checkout-form .tooltip .tooltip-inner ul:last-child {
    margin-bottom: 0;
}

/* Popover */
#checkout-wrapper #checkout-form .popover, .modal .popover {
    background: #333333;
    color: #ffffff;
    width: auto;
    box-shadow: none;
}
#checkout-wrapper #checkout-form .popover .popover-title, .modal .popover .popover-title {
    color: #ffffff !important;
    background: transparent;
    text-transform: none !important;
    font-size: 14px;
    margin: 0;
    padding: 16px 20px 0 20px;
    border-bottom: none;
}
#checkout-wrapper #checkout-form .popover .popover-content, .modal .popover .popover-content {
    font-weight: bold;
    font-size: 12px;
    padding: 10px 20px 17px 20px;
}
#checkout-wrapper #checkout-form .popover .popover-content ul, .modal .popover .popover-content ul {
    list-style-type: disc;
    font-weight: normal;
    margin-left: 15px;
}
#checkout-wrapper #checkout-form .popover.right .arrow, .modal .popover.right .arrow {
    top: 47%;
    margin: 0;
    border-width: 6px;
    border-right-color: #333333;
}
.modal .popover.right .arrow {
    margin-top: -5px;
}
.popover {
    min-width: fit-content !important;
}
#checkout-wrapper #checkout-form .popover.right .arrow:after, .modal .popover.right .arrow:after {
    left: 6px;
    border-right-color: #333333;
}
#checkout-wrapper #checkout-form .popover.left .arrow, .modal .popover.left .arrow {
    right:-7px;
    top: 49%;
    border-left-color: #333333;
}
#checkout-wrapper #checkout-form .popover.left .arrow:after, .modal .popover.left .arrow:after {
    display: none;
}
#checkout-wrapper #checkout-form .popover .tooltip-inner, .modal .popover .tooltip-inner {
    box-shadow: none;
    padding: 7px 11px;
    font-weight: bold;
    font-size: 14px;
}

/* Input validation */
.form-group .input-wrapper .tooltip {
    left: 0 !important;
    margin-top: 5px;
}
.form-group .input-wrapper .tooltip .tooltip-arrow {
    border-top-color: #e2574c;
}
.form-group .input-wrapper .tooltip .tooltip-inner {
    background-color: #e2574c;
}
.form-group.error .input-wrapper {
    border: 2px solid #e2574c;
    font-weight: 400;
    padding: 3px 11px;
    color: #e2574c;
}
.form-group.error .input-wrapper label {
    color: #e2574c !important;
}
.form-group.error .input-wrapper input {
    color: #e2574c !important;
}
.form-group.error .input-wrapper.select-wrapper {
    padding: 0px 12px;
}
.form-group.error .input-wrapper.select-wrapper label {
    margin: 14px 0 0 0;
}
.form-group.disabled .input-wrapper {
    border: 1px solid #e9eaeb;
}
.form-group.disabled .input-wrapper label {
    color: #bfc1c2;
}
.form-group.disabled .input-wrapper input {
    color: #bfc1c2 !important;
}

/* Input validation */
#connectManuallyModal .form-group .input-wrapper .tooltip {
    left: 0 !important;
}
#connectManuallyModal .form-group .input-wrapper .tooltip .tooltip-arrow {
    border-top-color: #e2574c;
}
#connectManuallyModal .form-group .input-wrapper .tooltip .tooltip-inner {
    background-color: #e2574c;
    box-shadow: none;
    padding: 7px 11px;
    font-weight: bold;
    font-size: 14px;
}
#connectManuallyModal .form-group.error .input-wrapper {
    border: 2px solid #e2574c;
    padding: 3px 11px;
}
/* Content separator */
#checkout-wrapper .content-separator {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
#checkout-wrapper .radio-box .row:first-child .content-separator {
    margin-top: 0;
}
#checkout-wrapper .content-separator .content-separator-title {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: 0.3px;
    color: #2d4552;
    text-transform: uppercase;
    margin-right: 6px;
}
#checkout-wrapper .content-separator:after {
    content: '';
    background-color: #d9d9d9;
    height: 1px;
    flex-grow:1;
}

/* Checkbox and radio button */
#checkout-wrapper .checkbox {
    padding-left: 0;
}
#checkout-wrapper .checkbox label {
    padding-left: 29px;
    display: block;
}
#checkout-wrapper .checkbox label span {
    margin-left: -14px;
}
#checkout-wrapper .checkbox.disabled label, #checkout-wrapper .radio.disabled label {
    color: rgb(201, 201, 201);
}
#checkout-wrapper .checkbox label, #checkout-wrapper .radio label {
    font-size: 14px !important;
}
#checkout-wrapper .checkbox .checkbox-material:before, #checkout-wrapper .radio label .check:after {
    display: none;
}
#checkout-wrapper .radio label {
    padding-left: 9px;
}
#checkout-wrapper .radio label span {
    left: -17px;
    top: -1px;
}



/*!
 * Datepicker for Bootstrap v1.6.4 (https://github.com/eternicode/bootstrap-datepicker)
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */
.datepicker {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
}
.datepicker-inline {
    width: 220px;
}
.datepicker.datepicker-rtl {
    direction: rtl;
}
.datepicker.datepicker-rtl table tr td span {
    float: right;
}
.datepicker-dropdown {
    top: 0;
    left: 0;
}
.datepicker-dropdown:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #999;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}
.datepicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-top: 0;
    position: absolute;
}
.datepicker-dropdown.datepicker-orient-left:before {
    left: 6px;
}
.datepicker-dropdown.datepicker-orient-left:after {
    left: 7px;
}
.datepicker-dropdown.datepicker-orient-right:before {
    right: 6px;
}
.datepicker-dropdown.datepicker-orient-right:after {
    right: 7px;
}
.datepicker-dropdown.datepicker-orient-bottom:before {
    top: -7px;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
    top: -6px;
}
.datepicker-dropdown.datepicker-orient-top:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #999;
}
.datepicker-dropdown.datepicker-orient-top:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #fff;
}
.datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: #eee;
    cursor: pointer;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #999;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: none;
    color: #999;
    cursor: default;
}
.datepicker table tr td.highlighted {
    background: #d9edf7;
    border-radius: 0;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #fde19a;
    background-image: -moz-linear-gradient(to bottom, #fdd49a, #fdf59a);
    background-image: -ms-linear-gradient(to bottom, #fdd49a, #fdf59a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
    background-image: -webkit-linear-gradient(to bottom, #fdd49a, #fdf59a);
    background-image: -o-linear-gradient(to bottom, #fdd49a, #fdf59a);
    background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
    border-color: #fdf59a #fdf59a #fbed50;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #000;
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled] {
    background-color: #fdf59a;
}
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active {
    background-color: #fbf069 \9;
}
.datepicker table tr td.today:hover:hover {
    color: #000;
}
.datepicker table tr td.today.active:hover {
    color: #fff;
}
.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
    background: #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
    background-color: #f3d17a;
    background-image: -moz-linear-gradient(to bottom, #f3c17a, #f3e97a);
    background-image: -ms-linear-gradient(to bottom, #f3c17a, #f3e97a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
    background-image: -webkit-linear-gradient(to bottom, #f3c17a, #f3e97a);
    background-image: -o-linear-gradient(to bottom, #f3c17a, #f3e97a);
    background-image: linear-gradient(to bottom, #f3c17a, #f3e97a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
    border-color: #f3e97a #f3e97a #edde34;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled] {
    background-color: #f3e97a;
}
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active {
    background-color: #efe24b \9;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
    background-color: #9e9e9e;
    background-image: -moz-linear-gradient(to bottom, #b3b3b3, #808080);
    background-image: -ms-linear-gradient(to bottom, #b3b3b3, #808080);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(#808080));
    background-image: -webkit-linear-gradient(to bottom, #b3b3b3, #808080);
    background-image: -o-linear-gradient(to bottom, #b3b3b3, #808080);
    background-image: linear-gradient(to bottom, #b3b3b3, #808080);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
    border-color: #808080 #808080 #595959;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled:hover[disabled] {
    background-color: #808080;
}
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active {
    background-color: #666666 \9;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(to bottom, #08c, #0044cc);
    background-image: -ms-linear-gradient(to bottom, #08c, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0044cc));
    background-image: -webkit-linear-gradient(to bottom, #08c, #0044cc);
    background-image: -o-linear-gradient(to bottom, #08c, #0044cc);
    background-image: linear-gradient(to bottom, #08c, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
    background-color: #0044cc;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
    background-color: #003399 \9;
}
.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
    background: #eee;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
    background: none;
    color: #999;
    cursor: default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(to bottom, #08c, #0044cc);
    background-image: -ms-linear-gradient(to bottom, #08c, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0044cc));
    background-image: -webkit-linear-gradient(to bottom, #08c, #0044cc);
    background-image: -o-linear-gradient(to bottom, #08c, #0044cc);
    background-image: linear-gradient(to bottom, #08c, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
    background-color: #0044cc;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
    background-color: #003399 \9;
}
.datepicker table tr td span.old,
.datepicker table tr td span.new {
    color: #999;
}
.datepicker .datepicker-switch {
    width: 145px;
}
.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th {
    cursor: pointer;
}
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    background: #eee;
}
.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
}
.input-append.date .add-on,
.input-prepend.date .add-on {
    cursor: pointer;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
    margin-top: 3px;
}
.input-daterange input {
    text-align: center;
}
.input-daterange input:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.input-daterange .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: 18px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-left: -5px;
    margin-right: -5px;
}

#delivery-date .input-wrapper:after {
    padding: 2px;
}

.datepicker {
    font-family: Roboto;
    font-size: 14px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(217, 217, 217, 0.5);
}
.datepicker .datepicker-days table.table-condensed thead tr th {
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #5b717c;
}
.datepicker .datepicker-days table.table-condensed thead tr th.dow {
    padding-top: 14px;
}
.datepicker .datepicker-days table.table-condensed thead tr th.datepicker-switch {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    color: #2d4552;
}
.datepicker .datepicker-days table.table-condensed thead tr th.prev {
    font-size: 0;
    transform: rotate(180deg);
    border-radius: 2px;
}
.datepicker .datepicker-days table.table-condensed thead tr th.prev:before {
    content: url(../images/arrow.svg);
    position: absolute;
    top: 2px;
    right: 10px;
}
.datepicker .datepicker-days table.table-condensed thead tr th.next {
    font-size: 0;
    border-radius: 2px;
}
.datepicker .datepicker-days table.table-condensed thead tr th.next:before {
    content: url(../images/arrow.svg);
    margin-left: 2px;
    width: 21px;
    display: block;
    margin-top: -3px;
}
.datepicker .datepicker-days table.table-condensed tr {
    border: none;
}
.datepicker .datepicker-days table.table-condensed tr:hover {
    background: inherit;
}
.datepicker .datepicker-days table.table-condensed tr td.day {
    border: 1px solid #bfc1c2;
    color: #5b717c;
    height: 38px;
    line-height: 37px;
    width: 38px;
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}
.datepicker .datepicker-days table.table-condensed tr td.day.today {
    border: 2px solid #009ca7;
    background-color: #ffffff;
    background-image: none;
}
.datepicker .datepicker-days table.table-condensed tr td.day.today:hover {
    background: #e6e6e6;
}
.datepicker .datepicker-days table.table-condensed tr td.day:hover {
    background: #e6e6e6;
}
.datepicker .datepicker-days table.table-condensed tr td.day.active {
    background-color: #009ca7 !important;
    background-image: none !important;
    color: #ffffff !important;
}
.datepicker .datepicker-days table.table-condensed tr td.day:nth-child(n+6) {
    background-color: rgba(242, 243, 244, 0.7);
}
.datepicker .datepicker-days table.table-condensed tr td.day:nth-child(n+6):hover {
    background-color: #dbdfdf;
}
.datepicker .datepicker-days table.table-condensed tr td.day.disabled {
    background-color: #e9eaeb;
    color: #bfc1c2;
}
.datepicker .datepicker-days table.table-condensed tr td.day.disabled:hover {
    background-color: #e9eaeb;
}
.datepicker .datepicker-days table.table-condensed tr td.day.old {
    visibility: hidden;
    height: 0;
    line-height: 0;
    border: none;
}
.datepicker .datepicker-days table.table-condensed tr td.day.new {
    display: none;
}

.datepicker-dropdown.datepicker-orient-top:before {
    border: none;
}
.datepicker-dropdown.datepicker-orient-top:after {
    left: 144px;
}

/** custom form elements */
#checkout-wrapper .split-phone, #checkout-wrapper .split-email {
    margin: 7px 0;
}

.summary-email-header, .summary-phone-header {
    display: none;
}

#checkout-wrapper .radio-box .package-head-fixedicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/fixed.svg);
    background-repeat: no-repeat;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown .package-head span.info_icon {
    padding-left: 37px;
    cursor: pointer;
    background: url(../../../omnius/default/images/icon-info-black.png) no-repeat 50%;
    background-size: 16px 16px;
    height: 16px;
    display: block;
}

/* Orderline advanced */
.orderline-advanced {
    border-radius: 3px;
    border: solid 1px #e3e3e3;
    background-color: rgba(0, 0, 0, 0.01);
    margin: 5px 0;
    color: #2d4552;
}
.orderline-advanced .orderline-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;
    border-left: 6px solid #ebebec;
    padding: 0 10px;
    justify-content: space-around;
}

.orderline-advanced .orderline-header .orderline-header-icon {
    width: 30px;
    flex: 0 0 30px;
    height: 30px;
    background-image: url(../images/product-fallback.svg);
    margin-right: 10px;
    border-radius: 2px;
}

.orderline-advanced .orderline-header .orderline-header-title {
    margin-right: 10px;
    flex: 1;
}

.orderline-advanced .orderline-header h6.orderline-header-title-category {
    opacity: 0.8;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #324d5b !important;
    text-transform: none;
    margin: 0;
}
.orderline-advanced .orderline-header h5.orderline-header-title-name {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #2d4552 !important;
    line-height: normal;
}

.orderline-advanced .orderline-header span.orderline-header-title-name {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.29;
    color: #2d4552;
    padding: 0;
}

.orderline-advanced .orderline-header .orderline-header-actions {
    width: 100px;
    flex: 0 0 100px;
    display: flex;
    flex-direction: row-reverse;
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action:hover .orderline-action-icon {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action .orderline-action-icon, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator .orderline-action-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    background-image: url(../images/three-dots.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action {
    position: relative;
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 198px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border: #d8d9da;
    border-radius: 3px;
    background-color: #ffffff;
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item:hover {
    background-color: #00b0ca;
    cursor: pointer;
    color: #ffffff;
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon:before, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon:before {
    display: inline-flex;
    align-items: inherit;
    justify-content: center;
    width: 20px;
    height: 20px;
    content: '';
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.note-icon:before, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.note-icon:before {
    background-image: url(../images/baseline-chat_bubble.svg);
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.edit-icon:before, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.edit-icon:before {
    background-image: url(../images/icons-general-edit.svg);
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.connect-icon:before, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.connect-icon:before {
    background-image: url(../images/icons-general-sim-card.svg);
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.delete-icon:before, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.delete-icon:before {
    background-image: url(../images/icons-general-delete.svg);
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover .contextmenu-item-icon.note-icon:before, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.note-icon:before {
    background-image: url(../images/baseline-chat_bubble-white.svg);
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover .contextmenu-item-icon.edit-icon:before, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.edit-icon:before {
    background-image: url(../images/icons-general-edit-white.svg);
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover .contextmenu-item-icon.connect-icon:before, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.connect-icon:before {
    background-image: url(../images/icons-general-sim-card-white.svg);
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover .contextmenu-item-icon.delete-icon:before, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.delete-icon:before {
    background-image: url(../images/icons-general-delete-white.svg);
}
.orderline-advanced .orderline-header .orderline-header-actions .orderline-action.contextmenu-action.expanded ul.contextmenu, .orderline-advanced .orderline-header .orderline-header-actions .orderline-indicator.contextmenu-action.expanded ul.contextmenu {
    display: block;
    width: max-content;
}

.orderline-advanced .orderline-dropdown {
    display: block;
    background-color: #f8f9fb;
}
.orderline-advanced .orderline-dropdown .orderline-details {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #eef8fb;
    padding: 20px 15px;
}
.orderline-advanced .orderline-dropdown .orderline-details .orderline-details-table {
    table-layout: fixed;
}
.orderline-advanced .orderline-dropdown .orderline-details .orderline-details-table tbody tr {
    border-top: none;
}
.orderline-advanced .orderline-dropdown .orderline-details .orderline-details-table tbody tr:hover {
    background: transparent;
}
.orderline-advanced .orderline-dropdown .orderline-details .orderline-details-table tbody tr td {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    color: #5b717c;
    padding: 0;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-header {
    display: flex;
    align-items: center;
    height: 24px;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 0 rgba(0, 0, 0, 0.03);
    background-color: rgba(45, 69, 82, 0.05);
}
.orderline-advanced .orderline-dropdown .orderline-price-section-header .orderline-section-table {
    margin: 0 15px;
    width: calc(100% - 30px);
}
.orderline-advanced .orderline-dropdown .orderline-price-section-header .orderline-section-table tbody tr {
    border-top: none;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-header .orderline-section-table tbody tr:hover {
    background: transparent;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-header .orderline-section-table tbody tr td {
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 2;
    text-transform: uppercase;
    color: #2d4552;
    padding: 0;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-header .orderline-section-table tbody tr td:nth-child(2) {
    width: 75px;
    text-align: right;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-header .orderline-section-table tbody tr td:nth-child(3) {
    width: 75px;
    text-align: right;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content {
    display: flex;
    align-items: center;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content .orderline-section-table {
    margin: 13px 15px 20px;
    width: calc(100% - 30px);
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content .orderline-section-table tbody tr {
    border-top: none;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content .orderline-section-table tbody tr:hover {
    background: transparent;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content .orderline-section-table tbody tr td {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.29;
    color: #2d4552;
    padding: 0;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content .orderline-section-table tbody tr td span.orderline-section-table-orderline {
    display: inline-block;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content .orderline-section-table tbody tr td label.orderline-section-table-package-name {
    font-size: 14px !important;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.29;
    color: #2d4552;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content .orderline-section-table tbody tr td span.orderline-section-table-subline {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content .orderline-section-table tbody tr td:nth-child(2) {
    width: 75px;
    text-align: right;
    font-weight: normal;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content .orderline-section-table tbody tr td:nth-child(3) {
    width: 75px;
    text-align: right;
    font-weight: normal;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section {
    display: flex;
    align-items: center;
    background-color: #e9eaeb;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table {
    margin: 13px 15px 20px;
    width: calc(100% - 30px);
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr {
    border-top: none;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:hover {
    background: transparent;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr td {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.95;
    color: #2d4552;
    padding: 0;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr td span.orderline-section-table-orderline {
    display: block;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr td span.orderline-section-table-subline {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr td:nth-child(2) {
    width: 75px;
    text-align: right;
    font-weight: normal;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr td:nth-child(3) {
    width: 75px;
    text-align: right;
    font-weight: normal;
}

.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(3) td {
    padding-bottom: 0px;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(3) td .triangle-down-icon {
    margin-left: 8px;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(4) {
    border-top: 0px solid #d9d9d9;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(4) td {
    padding-top: 0px;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(1) td,
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(2) td,
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(3) td,
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(6) td {
    font-weight: normal;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(3) td {
    padding-bottom: 0px;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(3) td .triangle-down-icon {
    margin-left: 8px;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(6) td {
    border-top: 0px solid #d9d9d9;
    padding:8px 0px;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(7) td {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    height: 3px;
    padding-top: 10x;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(8) td {
    padding-top: 10px;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr:nth-child(5) td {
    padding-top: 10px;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr.orderline-section-table-coupon {
    border-bottom: 1px solid #DDDDDD;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr.orderline-section-table-coupon td {
    padding-bottom: 8px;
}
.orderline-advanced .orderline-dropdown .orderline-total-price-section .orderline-section-table tbody tr.orderline-section-table-price-row td {
    padding-top: 8px;
}
.orderline-advanced .orderline-dropdown .orderline-price-section-content .orderline-section-table tbody tr td .circle-small {
    float: left;
    margin: 5px 10px 0 -10px;
    border-radius: 50%;
    display: block;
    height: 6px;
    width: 6px;
}
.orderline-advanced.expandable .orderline-header:hover {
    cursor: pointer;
}
.orderline-advanced.expandable .orderline-header:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: 40px;
    top: 13px;
    background-repeat: no-repeat;
}
.orderline-advanced.expandable .orderline-header:after {
    position: absolute;
    content: url(../images/chevron.svg);
    width: 24px;
    height: 24px;
    right: 12px;
    top: 11px;
    transform: rotate(90deg);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}
.orderline-advanced.expandable .orderline-dropdown {
    display: none;
}
.orderline-advanced.expandable.expanded .orderline-dropdown {
    display: block;
}
.orderline-advanced.expandable.expanded .orderline-header:after {
    transform: rotate(-90deg);
}
.orderline-advanced.loading .orderline-header:before {
    animation: spin 1s linear infinite;
    background-image: url(../images/button-loading.svg);
}
.orderline-advanced.succeeded .orderline-header:before {
    background-image: url(../images/checkout/check_credit.svg);
}
.orderline-advanced.failed .orderline-header:before {
    background-image: url(../images/error.svg);
}
.orderline-advanced.warning .orderline-header:before {
    background-image: url(../images/exclamation.svg);
}

/*Orderline section*/
.orderline-section {
    border-radius: 3px;
    border: solid 1px rgba(216, 217, 218, 0.5);
    background-color: rgba(0, 0, 0, 0.03);
    padding: 15px;
    margin: 10px 0;
}
.orderline-section .orderline-header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.orderline-section .orderline-header .orderline-header-icon {
    width: 30px;
    height: 30px;
    background-image: url(../images/product-fallback.svg);
    margin-right: 10px;
    border-radius: 2px;
}
.orderline-section .orderline-header .orderline-header-mobileicon {
    width: 30px;
    flex: 0 0 30px;
    height: 30px;
    background-image: url(../images/mobile.svg);
    margin-right: 10px;
    border-radius: 2px;
}
.orderline-section .orderline-header .orderline-header-fixedicon {
    width: 30px;
    flex: 0 0 30px;
    height: 30px;
    background-image: url(../images/fixed.svg);
    margin-right: 10px;
    border-radius: 2px;
}
.orderline-section .orderline-header .orderline-header-title-order {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
    text-transform: none;
}
.orderline-section .orderline-header .orderline-header-title-category {
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #5b717c !important;
    text-transform: none;
}
.orderline-section .orderline-content .form-group:last-child {
    margin: 0 !important;
}

.orderline-section .orderline-content .row:last-child {
    padding-bottom: 0 !important;
}

/*Orderline simple*/
#checkout-wrapper .orderline-simple .orderline-header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#checkout-wrapper .orderline-simple .orderline-header .orderline-header-icon {
    width: 30px;
    height: 30px;
    background-image: url(../images/product-fallback.svg);
    margin-right: 10px;
    border-radius: 2px;
}
#checkout-wrapper .orderline-simple .orderline-header .orderline-header-mobileicon {
    background-image: url(../images/mobile.svg);
}
#checkout-wrapper .orderline-simple .orderline-header .orderline-header-fixedicon {
    background-image: url(../images/fixed.svg);
}
#checkout-wrapper .orderline-simple .orderline-header .orderline-header-title-order {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
    text-transform: none;
}
#checkout-wrapper .orderline-simple .orderline-header .orderline-header-title-order .info-icon {
    line-height: 10px;
    margin: 0 5px;
}
#checkout-wrapper .orderline-simple .orderline-header .orderline-header-title-category {
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #5b717c !important;
    text-transform: none;
}



#checkout-wrapper .form-group label {
    color: #5b717c;
}

/* Input */
#checkout-wrapper .form-group .input-wrapper.currency {
    padding-left: 42px;
}

#checkout-wrapper .form-group .input-wrapper label.currency-input {
     padding-left: 30px !important;
}

#checkout-wrapper .form-group .input-wrapper.currency:before {
    display: block;
    content: '€';
    line-height: 42px;
    text-align: center;
    position: absolute;
    width: 35px;
    height: 42px;
    border-radius: 2px 0 0 2px;
    background-color: #f5f6f7;
    color: #2d4552;
    left: 1px;
    font-size: 18px;
}

#checkout-wrapper .form-group.error .input-wrapper.currency:before {
    height: 40px;
    line-height: 40px;
    width: 34px;
    left: 2px;
    text-indent: -1px;
}

#checkout-wrapper .form-group .input-wrapper .btn {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -16px;
    margin-bottom: 0;
}

#checkout-wrapper .form-group.disabled .input-wrapper .btn {
    pointer-events: auto;
}

#checkout-wrapper .form-group .input-wrapper label.label-reuse-data {
    padding-top: 5px;
}

#checkout-wrapper .form-group .input-wrapper label {
    left: initial;
    right: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 26px);
}

#checkout-wrapper .form-group.is-empty .input-wrapper label {
    font-size: 14px;
}

/*Select box*/
#checkout-wrapper .select-wrapper label {
    margin-bottom: 0;
    font-size: 11px;
}
#checkout-wrapper .select-wrapper select {
    top: -8px;
    left: 0;
    position: absolute;
    height: 100%;
    font-size: 14px;
    padding: 20px 40px 5px 13px;
    cursor: pointer;
    background-image: none;
}

#checkout-wrapper .select-wrapper {
    background-image: none;
}

/* Textarea */

.form-group .textarea-counter {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    color: #5b717c;
}

/* Sections */
.edit-mode #cart #cart-content {
    width: 700px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
#cart-content .section, #cart-content .errorsection {
    width: 570px;
}

.cart .connectionbox-head-icon.int_tv_fixtel {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/fixed.svg);
    background-repeat: no-repeat;
    margin-right: 10px;
}

.cart .connectionbox-head-icon.mobile {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #e2574c;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 3px;
    margin-right: 10px;
    background-image: url(../images/mobile.svg);
    background-repeat: no-repeat;
    background-position: -1px -1px;
}

.cart .connectionbox {
    position: relative;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(217, 217, 217, 0.5);
    border-radius: 3px;
    padding-bottom: 0;
}

.cart .connectionbox-head h5 {
    position: absolute;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2D4552;
    margin: 0;
    width: 100%;
}

.cart .connectionbox-head span {
    position: absolute;
    top: 38px;
    left: 55px;
    font-size: 10px;
    font-weight: 500;
    color: #5C707A;
    width: 29px;
    height: 11px;
    line-height: 10px;
}

.cart span.Icons-General-Info-Standard {
    position: relative;
    top: 0px;
    cursor: pointer;
    background: url(../../../vznl/default/images/icon-info-black.png) no-repeat 50%;
    background-size: 15px 15px;
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    left: 5px;
}

.cart .connectionbox-content {
    margin:18px 12px 10px
}

.cart .connectionbox-head {
    margin: 18px 15px;
}

.summary .connectionbox-head-icon.int_tv_fixtel {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    background-image: url("../../default/img/icon-internet-phone.png");
    background-repeat: no-repeat;
}

#numbersFound .number-selection-option,
.ajax-results-telephone .number-selection-option {
    position: relative;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    border-bottom: 1px solid #d9d9d9;
    font-weight: bold;
}
#numbersFound .number-selection-option:last-child,
.ajax-results-telephone .number-selection-option:last-child {
    border-bottom: none;
}

#numbersFound .number-selection-option .number-select-option-image,
.ajax-results-telephone .number-selection-option .number-select-option-image {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    border-radius: 3px;
    background-image: url(../images/icons-package-standard-mobile.svg);
    background-repeat: no-repeat;
}
.ajax-results-telephone .number-selection-option .number-select-option-image {
    background-image: url(../images/icons-package-standard-internet-phone.svg);
}

#device-selection .device-name-search-icon {
    width: 20px;
    height: 20px;
    display: block;
    background: url(../img/components/checkout/icons-navbar-search.svg) no-repeat;
    background-size: 20px 20px;
    float: right;
    position: relative;
    top: 15px;
    cursor: pointer;
}

.autocomplete-suggestions {
    position: absolute;
    background: none 0px 0px repeat scroll rgb(255, 255, 255) !important;
    overflow: auto;
    margin-top: 5px;
    height: 150px;
}
.autocomplete-suggestion {
    padding: 8px 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.autocomplete-selected {
    background: #45ADA8;
}
/*Input type ahead*/
.typeahead-input:after {
    background-image: url(../images/icons-general-search.svg);
    content: " ";
    overflow: hidden;
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    top: 50%;
    margin-top: -10px;
    right: 10px;
}

.typeahead-input.typeahead-loading:after {
    animation: spin 1s linear infinite;
    background-image: url(../images/button-loading.svg);
}

.typeahead-input ul.typeahead-popdown {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border: #d8d9da;
    border-radius: 3px;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 1;
}

.typeahead-input.expanded ul.typeahead-popdown {
    display: block;
    color: #2d4552;
    font-weight: normal;
}

.typeahead-input ul.typeahead-popdown li.typeahead-item {
    display: flex;
    align-items: center;
    padding: 13px 15px;
    font-size: 14px;
}

.typeahead-input ul.typeahead-popdown li.typeahead-item span.stock-indicator {
    align-self: flex-end;
    font-size: 10px;
    font-weight: bold;
    color: #2d4552;
    text-transform: uppercase;
    margin-left: auto;
}

.typeahead-input ul.typeahead-popdown li.typeahead-item:hover, .typeahead-input ul.typeahead-popdown:not(:hover) li.typeahead-item.selected {
    background-color: #00b0ca;
    cursor: pointer;
    color: #FFFFFF;
}

.typeahead-input ul.typeahead-popdown li.typeahead-item:hover span.stock-indicator, .typeahead-input ul.typeahead-popdown:not(:hover) li.typeahead-item.selected span.stock-indicator {
    color: #FFFFFF;
}

.typeahead-input ul.typeahead-popdown li.typeahead-item.disabled * {
    color: #999999 !important;
}

.typeahead-input ul.typeahead-popdown li.typeahead-item.disabled:hover, .typeahead-input ul.typeahead-popdown:not(:hover) li.typeahead-item.selected.disabled {
    background-color: #EEEEEE;
    cursor: default;
}

.typeahead-input ul.typeahead-popdown li.typeahead-item.selected.disabled * {
    color: #666666 !important;
}

.store-selection-container {
    padding: 0 13px 0 13px;
    font-size: 14px;
    line-height: 1.71em;
    color: var(--dark-grey-blue);
}

.store-selection-found {
    line-height: 1.29em;
}

.store-selection-found .store-selection {
    font-weight: bold;
}

.store-stock {
    font-size: 10px;
    line-height: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown.search-store-container > .row:not(:last-child):after {
    display: none;
}

.showTelePhoneNumbers .option-image-block {
    background-image: url(../images/empty-orderline-icon.png);
    background-size: 30px 30px;
}

.search-phone-number .showTelePhoneNumbers .option-image-block {
    background-image: url(../images/mobile.svg);
}

.telephoneResultsModal .showTelePhoneNumbers .option-image-block {
    background-image: url(../images/fixed.svg);
}

.search-phone-number label, .telephoneResultsModal label {
    line-height: 30px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    padding-left: 5px;
}

.search-phone-number table td, .telephoneResultsModal table td {
    padding: 0px !important;
}

.showTelePhoneNumbers.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #ffffff;
}

.showTelePhoneNumbers .option-image-block {
    display: inline-table;
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: center;
    position: relative;
    top: 10px;
}

.modal.new-style-modal .btn.select,
#checkout-wrapper .btn.select.select_number {
    float: right;
}

.orderline-advanced .orderline-header .orderline-header-fixedicon {
    width: 30px;
    height: 30px;
    background-image: url(../images/fixed.svg);
    margin-right: 10px;
    border-radius: 2px;
}
.orderline-advanced .orderline-header .orderline-header-mobileicon {
    width: 30px;
    height: 30px;
    background-image: url(../images/mobile.svg);
    margin-right: 10px;
    border-radius: 2px;
}
.orderline-advanced .striked {
    text-decoration: line-through;
}
.orderline-advanced .orderlineprice {
    font-size: 14px !important;
}

.orderline-advanced .white-bg {
    background-color: #ffffff!important;
}

#saveOverview .div-table thead .div-table-row-header,
#saveOverview .div-table tbody,
#saveOverview .div-table .div-table-row-header {
    background-color: #fff!important;
}

#saveOverview .hide-on-overview {
    display: none;
}

#saveOverview .border {
    border-bottom: 1px solid #e0e0e0;
    padding: 1px;
    margin-left: 10px;
    width: 95%;
}
#saveOverview #cart_totals .div-table {
    width: 100%;
    padding: 10px 0px 12px 12px;
}

#couponCodeInput {
    width: 60%;
}

#couponCodeInput .btn-content{
    color: #ffffff;
}
#saveOverview .checkbox label span {
    font-size: 14px;
}
#checkout-wrapper #saveOverview .orderline-section-table a:hover {
    text-decoration: none!important;
}
#checkout-wrapper #saveOverview .checkbox-options .checkbox label span {
    left: 6px;
    top: 11px;
    position: absolute;
}

@media screen\0 {
    #checkout-wrapper #saveOverview .checkbox-options .checkbox label span {
        margin-top: 0px;
        margin-left: 0px;
   }
}

#checkout-wrapper #saveOverview .checkbox-options .checkbox label {
    padding-left: 40px;
}

/*Contract section*/
#checkout-wrapper .contract-section {
    font-family: Roboto !important;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.03);
    padding: 15px;
    margin-bottom: 10px;
    color: #2d4552;
}

#checkout-wrapper .contract-section .contract-section-header {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.33;
    margin-bottom: 30px;
}

#checkout-wrapper .contract-section .contract-section-product-group .product-group-title {
    font-size: 10px;
    font-weight: bold;
    color: #2d4552;
    text-transform: uppercase;
    margin: 10px 0;
}

#checkout-wrapper .contract-section .contract-section-product-group .product-group-products {
    border-radius: 3px;
    border: solid 1px rgba(216, 217, 218, 0.5);
    background-color: rgba(0, 0, 0, 0.03);
}

#checkout-wrapper .contract-section .contract-section-product-group .product-group-products .orderline-section {
    border: none;
    background-color: transparent;
    padding: 0 0 10px 0;
    margin: 10px;
    border-bottom: 1px solid #d9d9d9;
}

#checkout-wrapper .contract-section .contract-section-product-group .product-group-products .orderline-section .orderline-header {
    margin-bottom: 0;
}

#checkout-wrapper .contract-section .contract-section-product-group .product-group-products .orderline-section .orderline-header .orderline-header-title-order {
    margin-top: 0;
}

#checkout-wrapper .contract-section .contract-section-product-group .product-group-products .orderline-section:last-child {
    border-bottom: none;
    padding: 0 0 0 0;
}

#checkout-wrapper .contract-section .contract-section-list-components {
    margin: 17px 0 1px 0;
}

#checkout-wrapper .contract-section .contract-section-list-components .contract-section-list-component {
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#checkout-wrapper .contract-section .contract-section-list-components .contract-section-list-component:last-child {
    border: none;
}

#checkout-wrapper .contract-section .contract-section-list-components .contract-section-list-component .btn {
    margin: 0;
}



.progress-indicator {
    width: 100%;
    margin: 10px 0;
}

.progress-indicator .progress-indicator-bar {
    background-color: #f2f3f4;
    height: 24px;
    border-radius: 3px;
    width: 100%;
}

.progress-indicator .progress-indicator-bar .progress-indicator-bar-progress {
    background-image: linear-gradient(to right, #e60000, #f48c00);
    height: 100%;
    border-radius: 3px;
}

.progress-indicator .progress-indicator-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.progress-indicator .progress-indicator-information .progress-indicator-information-title {
    font-family: Roboto;
    font-size: 14px;
    color: #5b717c;
    font-weight: normal;
    line-height: 18px;
}

.progress-indicator .progress-indicator-information .progress-indicator-information-percentage {
    font-family: Roboto;
    font-size: 18px;
    color: #2d4552;
    font-weight: normal;
    line-height: 24px;
}



.price-summary {
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #e3e3e3;
    background-color: #ffffff;
    padding: 15px 15px 20px 15px;
    margin: 10px 0;
}

.price-summary .price-summary-line {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    line-height: 24px;
    font-size: 14px;
    color: #2d4552;
}

.price-summary .price-summary-line .price-summary-line-text {
    display: inline-block;
}

.price-summary .price-summary-line .price-summary-line-price {
    display: inline-block;
    text-align: right;
}

.price-summary .price-summary-line .price-summary-line-price .price-summary-price-upfront {
    display: inline-block;
    width: 77px;
}

.order-details-table.package-content-table .price-summary-line-price {
    display: flex;
}

.price-summary .price-summary-line .price-summary-line-price .price-summary-price-monthly {
    display: inline-block;
    width: 77px;
}

.price-summary .price-summary-separator-single {
    width: 100%;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    margin: 10px 0;
}

.price-summary .price-summary-separator-double {
    width: 100%;
    height: 3px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin: 10px 0;
}

.price-summary .price-summary-header {
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.price-summary .price-summary-bold {
    font-weight: bold;
}

.price-summary .price-summary-light {
    color: #5b717c;
}

.price-summary .price-summary-total {
    font-weight: bold;
}

.price-summary .price-summary-total .price-summary-line-text {
    font-size: 16px;
}

.details-preview-table .price-summary .price-summary-line .price-summary-line-text {
    width: 300px;
}

.loan-banner {
    height: 42px;
    width: 100%;
    border-radius: 3px;
    border: solid 1px #2c4553;
    background-color: #ffffff;
    background-image: url(../images/geld-lenen-kost-geld.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 0;
}

.expanded-package-loan-banner .loan-banner, .save-overview-loan-banner .loan-banner, .loan-banner.banner-after-summary {
    height: 42px;
    width: 100%;
    border-radius: 3px;
    border: solid 1px #2c4553;
    background-color: #ffffff;
    background-image: none;
    margin-bottom: 0;
    padding: 10px 10px;
}

.expanded-package-loan-banner .loan-banner img, .save-overview-loan-banner .loan-banner img, .loan-banner.banner-after-summary img {
    margin: auto;
}

/*Icons*/
.info-icon {
    display: inline-block;
    line-height: 10px;
    margin: 0 5px;
    vertical-align: middle;
}
.info-icon:after {
    content: '';
    background-image: url(../images/icons-general-info-1.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
}

/*Helper classes*/
#checkout-wrapper .hidden {
    display: none !important;
}

#checkout-wrapper .col-lg-1, #checkout-wrapper .col-lg-2, #checkout-wrapper .col-lg-3, #checkout-wrapper .col-lg-4, #checkout-wrapper .col-lg-5, #checkout-wrapper .col-lg-6, #checkout-wrapper .col-lg-7, #checkout-wrapper .col-lg-8, #checkout-wrapper .col-lg-9, #checkout-wrapper .col-lg-10, #checkout-wrapper .col-lg-11, #checkout-wrapper .col-lg-12,
#checkout-wrapper .col-md-1, #checkout-wrapper .col-md-2, #checkout-wrapper .col-md-3, #checkout-wrapper .col-md-4, #checkout-wrapper .col-md-5, #checkout-wrapper .col-md-6, #checkout-wrapper .col-md-7, #checkout-wrapper .col-md-8, #checkout-wrapper .col-md-9, #checkout-wrapper .col-md-10, #checkout-wrapper .col-md-11, #checkout-wrapper .col-md-12,
#checkout-wrapper .col-sm-1, #checkout-wrapper .col-sm-2, #checkout-wrapper .col-sm-3, #checkout-wrapper .col-sm-4, #checkout-wrapper .col-sm-5, #checkout-wrapper .col-sm-6, #checkout-wrapper .col-sm-7, #checkout-wrapper .col-sm-8, #checkout-wrapper .col-sm-9, #checkout-wrapper .col-sm-10, #checkout-wrapper .col-sm-11, #checkout-wrapper .col-sm-12,
#checkout-wrapper .col-xs-1, #checkout-wrapper .col-xs-2, #checkout-wrapper .col-xs-3, #checkout-wrapper .col-xs-4, #checkout-wrapper .col-xs-5, #checkout-wrapper .col-xs-6, #checkout-wrapper .col-xs-7, #checkout-wrapper .col-xs-8, #checkout-wrapper .col-xs-9, #checkout-wrapper .col-xs-10, #checkout-wrapper .col-xs-11, #checkout-wrapper .col-xs-12 {
    padding-right: 5px;
    padding-left: 5px;
}

#checkout-wrapper .row {
    margin-right: -5px;
    margin-left: -5px;
}

.checkbox .checkbox-material:before {
    display: none;
}
#checkout-wrapper .checkbox input[type=checkbox] + .checkbox-material .check-align {
    margin: 1px;
}
#checkout-wrapper .checkbox input[type=checkbox]:checked + .checkbox-material .check {
    border: none;
}
#checkout-wrapper .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    margin-top: -3px;
    margin-left: 7px;
}


#checkout-wrapper * {
    font-family: Roboto, Helvetica, sans-serif !important;
}

.package-indicator-mobile {
    background: url('../images/package-indicator-mobile.svg') !important;
}

.package-indicator-internet-phone {
    background: url('../images/package-indicator-internet-phone.svg') !important;
}

/*Headers*/
#checkout-wrapper #checkout-form h3, .modal .popover h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    color: #00b0ca !important;
    margin: 21px 0 -16px 0;
}
#checkout-wrapper #checkout-form .summary h3 {
    color: #2D4552 !important;
    margin: 0;
    font-weight: normal !important;
    text-transform: initial;
}
#checkout-wrapper #checkout-form h4 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    color: #2D4552 !important;
    margin: 19px 0 18px 0;
}


#checkout-wrapper .section-footer {
    position: fixed;
    bottom: 40px;
    width: 568px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #f2f3f4;
    border: 1px solid #D9D9D9;
    padding: 8px 11px;
    z-index: 10;
}

#checkout-wrapper .section-footer .section-footer-gradient {
    position: absolute;
    width: 588px;
    height: 56px;
    transform: translate(-22px, -56px);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(251,252,252,1) 87%, rgba(250,251,252,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(251,252,252,1) 87%,rgba(250,251,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(251,252,252,1) 87%,rgba(250,251,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fafbfc',GradientType=0 ); /* IE6-9 */
}

#checkout-wrapper .section-footer-wrapper {
    position: relative;
}

#checkout-wrapper .section-footer a {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    line-height: 56px;
    color: #2E4551;
}

#checkout-wrapper .section-footer a.arrow-back:before {
    content: url(../images/arrow.svg);
    display: inline-block;
    transform: rotate(180deg) translateY(2px);
    margin-right: 7px;
    margin-left: -2px;
    pointer-events: none;
}

#checkout-wrapper .section-footer a.arrow-back:focus {
    border-radius: 0;
    background-color: transparent;
}

#checkout-wrapper .section-footer a.arrow-back:before {
    content: url(../images/arrow.svg);
    display: inline-block;
    transform: rotate(180deg) translateY(2px);
    margin-right: 7px;
    margin-left: -2px;
}

#checkout-wrapper .section-footer a.arrow-back:focus {
    border-radius: 0;
    background-color: transparent;
}

#checkout-wrapper .section-footer .btn-next {
    width: 145px;
    padding-left: 0;
    padding-right: 0;
}

#checkout-wrapper .section-footer .continue-btn {
    width: 190px !important;
}

#checkout-wrapper .order-details-text {
    font-size: 14px;
    color: #2d4552;
    margin-bottom: 25px;
    text-align: left;
}

#checkout-wrapper #showOrderConfirmation {
    margin-bottom: 30px;
}

#checkout-wrapper .order-details-box {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #d9d9d9;
    background: #ffffff;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

#checkout-wrapper .order-details-box #order-increment-id,
#checkout-wrapper .order-details-box #new-order-increment-id
{
    font-size: 14px;
    color: #2d4552;
}

#checkout-wrapper .order-details-box .order-details-box-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#checkout-wrapper .order-details-box .order-details-box-right .order-details-copy-button {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}

#confirm-peal-order-id {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    margin: 10px 0 0 0;
    justify-content: space-between;
    display: flex;
    padding: 16px;
}

#peal-order-number {
    font-weight: bold;
}

#checkout-wrapper .checkout-contract-signing-text {
    font-size: 14px;
    margin-bottom: 15px;
    color: #2d4552;
    line-height: 24px;
}

#checkout-wrapper .contract-checkboxes .checkbox-options {
    margin: 10px 0;
}

/*CHECKOUT OVERRIDES HERE*/

.section-content-allicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/all.svg);
    background-repeat: no-repeat;
}
.section-content-mobileicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/mobile.svg);
    background-repeat: no-repeat;
}
.section-content-fixedicons {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/fixed.svg);
    background-repeat: no-repeat;
}

.section-content-allicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/all.svg);
    background-repeat: no-repeat;
}
.summary-separator-single-line {
    width: 100%;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    margin: 10px 0;
}
.section-content-mobileicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/mobile.svg);
    background-repeat: no-repeat;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 43px;
    left: 0;
    right: 0;
    margin-left: -11px;
    width: 538px !important;
    max-height: 230px;
    overflow: auto;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #45ADA8;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

checkout-wrapper .checkbox-options .checkbox-collection.checked > .checkbox-popdown.np-mobile {
    padding: 0px;
    display: block;
}

.modal.new-style-modal .btn.nocontent.error:before, #checkout-wrapper .btn.nocontent.error:before {
    content: "";
    margin-left: -10px;
}
.modal.new-style-modal .btn.nocontent.error.error:after, #checkout-wrapper .btn.nocontent.error:after {
    content: url(../images/close_error.svg);
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.modal.new-style-modal .btn.nocontent.error, #checkout-wrapper .btn.nocontent.error {
    background-image: none;
    width: 85px;
    background-color: #e2574c;
    color: #ffffff;
}

#technician-price {
    float: right;
    margin-right: 25px;
}

#customer_privacy .section-wrapper {
    margin: 10px 0 20px 0;
}

.form-group .info_icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background: url(../images/icons-general-info-inverse.svg) no-repeat 50%;
    width: 16px;
    height: 16px;
    display: block;
}

#business-search-button {
    margin: 2px 0;
}

#checkout-wrapper .section-footer .btn.change-order-referred {
    width: auto;
}

/* Summary */
#checkout-wrapper #checkout-form .summary {
    background-color: rgba(159, 171, 178, 0.02);
}
#checkout-wrapper #checkout-form .summary .head {
    background-color: rgba(159, 171, 178, 0.05);
}
#checkout-wrapper #checkout-form .summary .head .btn-edit {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 2px;
    background: transparent;
    background-image: url(../images/edit.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50%;
}

/*Service address*/
#checkout-wrapper #checkout-form .service-address {
    color: #fff;
    margin: 0 0 20px 0;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), inset 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #00b0ca;
    overflow: hidden;
}
#checkout-wrapper #checkout-form .service-address h3 {
    background-color: rgba(0, 0, 0, 0.05);
    color: #fff !important;
    padding: 13px 15px;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-transform: none;
}
#checkout-wrapper #checkout-form .service-address .content {
    padding: 20px 15px;
    font-size: 14px;
    line-height: 18px;
}

#checkout-wrapper .form-group .input-wrapper.currency input {
    position: absolute;
    font-size: 14px;
    height: 100%;
    width: 100%;
    left: 28px;
    padding: 19px 13px 7px 13px;
}

#checkout-wrapper .form-group.error .input-wrapper.currency {
    border: 2px solid #e2574c;
}

#polling-modal .modal-dialog .modal-content {
    height: auto;
    padding: 0 0 10px 0;
}

.np-connection-type.disabled {
    background: none !important;
}

#checkout-wrapper .form-group.is-empty .input-wrapper label.phoneNo-fixed {
    color: #4A4A4A;
}

#checkout-wrapper .form-group .input-wrapper img.phoneNo-success {
    float: right;
    vertical-align: middle;
    margin: 12px;
}

 #move-delivery-option.radio input[type=radio]:checked ~ .circle.isdisable {
    border-color: #A9A9A9 !important;
    background:   #A9A9A9 !important;
 }

#saveOverview .cart_right_expanded {
    margin-top: 0!important;
}

#checkout-wrapper #right-panel-cart > .row:first-child {
    padding-bottom: 0;
}

.form-group.label-floating.is-empty label.control-label.second-line-lable {
    top: -7px;
    line-height: 1;
}

#cart #show-dropdown-list ul.edit_package_options li a{
    color:black;
}

@media screen\0 {
    .checkout_header_text {
        letter-spacing: 0px !important;
        padding-right: 0px !important;
        margin-right: -40px !important;
        margin-top: -6px !important;
    }
    .checkbox-material {
        margin-top: -6px !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
       /* IE10 */
    #checkout-wrapper .checkbox-collection label .info-icon  {
        transform: translateY(8px) !important;
        padding: 1px !important;

    }
    *::-ms-backdrop,
    #checkout-wrapper .checkbox-collection label .info-icon  {
        transform: translateY(8px) !important;
        padding: 1px !important;
    }
}

input[type=text].cart-coupon-input {
    color: #555555;
}

#saveOverview .coupon-class {
    padding-left: 0px;
}

#saveOverview .form-group label {
    color: #5b717c;
}

#saveOverview .form-group .input-wrapper {
    min-height: 44px;
    padding: 0px 12px;
    width: 100%;
}
#saveOverview .form-group .input-wrapper input {
    position: absolute;
    font-size: 14px;
    height: 100%;
    width: 100%;
    top: 4px;
    left: 0;
    padding: 19px 13px 7px 13px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #saveOverview .form-group .input-wrapper input#email_overwrite {
        top: -7px;
    }
}

#saveOverview .form-group .input-wrapper.currency {
    padding-left: 42px;
}
#saveOverview .form-group .input-wrapper.currency:before {
    display: block;
    content: '€';
    line-height: 42px;
    text-align: center;
    position: absolute;
    width: 35px;
    height: 42px;
    border-radius: 2px 0 0 2px;
    background-color: #f5f6f7;
    color: #2d4552;
    left: 1px;
    font-size: 18px;
}
#saveOverview .form-group .input-wrapper .btn {
    position: absolute;
    right: 4px;
    z-index:3;
}
#saveOverview .form-group .input-wrapper label {
    left: initial;
    right: initial;
}
#saveOverview .form-group.is-empty .input-wrapper label {
    font-size: 14px;
}

#saveOverview .package-item-description-coupon a {
    color: #fff!important;
    background-color: #575756;
    background-image: none;
    text-decoration: none;
}

#checkout-wrapper #checkout-form .summary .head .btn-edit.disabled {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    background: transparent;
    background-image: url(../../../omnius/default/img/mode_edit.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50%;
    pointer-events: none;
}

#checkout-wrapper #registerImei .section-footer {
    width: 582px !important;
    top: 20px;
    position: relative;
}

#checkout-wrapper #saveIncomeTest .radio-box {
    margin: 0;
}

#checkout-wrapper .radio-box .radio-collection .radio-popdown > .row:not(:last-child):after {
    height: 20px;
    overflow: hidden;
    margin: 0 5px 20px 5px;
    border-bottom: 1px solid #d9d9d9;
    display: block;
}

#checkout-wrapper .radio-popdown .radio-box {
    margin: 0;
}

#num-selection > div:not(:last-child) {
    margin-bottom: 20px;
}

h5.orderline-header-title-name {
    margin-top: 0;
}
.section-wrapper-content.checkout_ziggo_settings {
    margin-left: -16px;
}

.package-notes, .package-notes-checkout, .package-notes-extended, .shopping-cart-notes {
    background-image: url(../images/notes.svg) !important;
}

#checkout-wrapper .summary .section-content .row {
	padding-bottom: 0;
	line-height: 24px;
}

#checkout-wrapper .summary .section-head h5 {
	margin: 0 !important;
    font-weight: bold;
}
#numbers-list-summary .summary .section-content {
    padding: 10px 15px;
}
