.scrollable-y-table {
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.main-container .sidebar {
    font-family: Roboto;
    background-color: #fafbfc;
    border-right: none;
}
.main-container .sidebar #customer-search-results .top_menu_content {
    background: transparent;
    padding: 50px 40px;
    padding-bottom: 0;
    height: 100%;
}
.main-container .sidebar #customer-search-results .top_menu_content.saved-shopping-bag .header {
    padding-top: 0px;
}
.main-container .sidebar #customer-search-results .top_menu_content h3.tab-title {
    font-size: 30px;
    font-weight: normal;
    color: #2d4552;
    margin-bottom: 35px;
    font-family: Roboto;
}
.main-container .sidebar #customer-search-results .top_menu_content .vn-tab .tab-menu {
    margin-bottom: 30px;
}
.main-container .sidebar #customer-search-results .top_menu_content .vn-table .table-order-status {
    display: inline-block;
    max-width: 100%;
    padding: 0px 10px;
    background-color: #5c5c5c;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-container .sidebar .sticker .customer-info {
    height: 100%;
    width: 300px;
    background-color: #ffffff;
}
.main-container .sidebar .sticker .customer-info .customer-info-block {
    background: transparent;
}
.main-container .sidebar .sticker .customer-info .customer_ctns {
    background-color: transparent;
}


:root {
    --dark-grey-blue: #2d4552;
    --black: #000000;
    --primary-dark: #007c92;
    --slate: #5b717c;
    --silver: #e9eaeb;
}

#order-preview-container {
    height: 100%;
    background: transparent;
    margin-bottom: 0;
}
#order-preview-container .order-preview-container-form {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
}
#order-preview-container .order-sticky-header {
    flex-grow: 0;
    flex-shrink: 0;
}
#order-preview-container .order-sticky-header {
    padding: 50px 40px 11px 40px;
    box-shadow: inset 0px -1px 0px rgba(0,0,0,.1);
}
#order-preview-container .header {
    width: auto;
    display: table;
}
#order-preview-container .header .shape-container {
    padding: 0 14px;
    box-shadow: inset -1px 0 0 0 #dcdcdc;
    display: table-cell;
    vertical-align: middle;
}
#order-preview-container .header .shape {
    width: 8px;
    height: auto;
    vertical-align: middle;
    cursor: pointer;
}
#order-preview-container .header .order-number {
    width: auto;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d4552;
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
}
#order-preview-container .header .order-status {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}
#order-preview-container .header .order-status span {
    display: inline-block;
    max-width: 200px;
    padding: 0px 10px;
    background-color: #5c5c5c;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#order-preview-container .menu-actions {
    font-family: Roboto;
    font-size: 10px;
    line-height: 2;
    height: 28px;
    margin-bottom: 10px;
}
#order-preview-container .menu-actions ul {
    margin-left: 8px;
}
#order-preview-container .menu-actions ul > li {
    width: auto;
    height: 28px;
    border-radius: 3px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    margin-right: 6px;
}
#order-preview-container .menu-actions ul > li.more-actions > a {
    cursor: default;
}
#order-preview-container .menu-actions ul > li.more-actions:hover ul {
    display: block;
}
#order-preview-container .menu-actions ul > li a {
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2d4552;
    text-transform: uppercase;
    line-height: 28px;
    padding: 2px 6px;
    display: block;
    height: 28px;
}
#order-preview-container .menu-actions ul > li a:hover {
    background-color: rgba(33, 43, 54, 0.1);
    border-radius: 2px;
}
#order-preview-container .menu-actions ul > li.disabled a {
    background-color: transparent;
    cursor: default;
    text-decoration: none;
}

#order-preview-container ul.actions-hover-menu {
    display: none;
    position: absolute;
    top: 22px;
    right: 0;
    width: 198px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 99;
}
#order-preview-container ul.actions-hover-menu li {
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: white;
}
#order-preview-container ul.actions-hover-menu li a {
    display: block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2d4552;
    height: 40px;
    line-height: 40px;
    text-transform: none;
    text-align: left;
    padding-left: 45px;
    background-position: 8% center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}
#order-preview-container ul.actions-hover-menu li a:hover {
    background-color: #00b0ca;
    color: #fff;
}


#order-preview-container .menu-actions ul > li .order-lock {
    float: none;
    margin: 0;
}
#order-preview-container .menu-actions ul > li .order-lock .lock-info-spinner {
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2d4552;
    text-transform: uppercase;
    line-height: 28px;
    padding: 2px 6px;
    display: block;
    height: 28px;
}
#order-preview-container .menu-actions ul > li .order-lock .lock-info-spinner img.credit-check-spinner  {
    height: 24px;
    margin: 2px 0 0 12px;
}

#order-preview-container .menu-actions ul > li .order-lock .lock-info-content {
    height: 28px;
    line-height: 28px;
}
#order-preview-container .menu-actions ul > li .order-lock .lock-info-content .lock-icon {
    height: 24px;
}
#order-preview-container .menu-actions ul > li .order-lock .lock-info-content button {
    width: auto;
    background: transparent;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2d4552;
    text-transform: uppercase;
    line-height: 28px;
    border: 0px solid;
    padding: 0;
    margin-left: 20px;
}

#order-preview-container .details-container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    padding: 20px 40px 0 40px;
}
#order-preview-container .details-container .details-right-col {
    width: 200px;
    position: sticky;
    top: 0;
    margin-left: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}

_:-ms-fullscreen, :root #order-preview-container .details-container .details-right-col {
     top:auto;
     position: fixed; 
}

#order-preview-container .details-container .details-right-col .table-mini {
    border-radius: 3px;
    border: solid 1px rgba(216, 217, 218, 0.5);
    background-color: rgba(159, 171, 178, 0.02);
    margin-bottom: 20px;
    padding: 14px 10px;
}
#order-preview-container .details-container .details-right-col .table-mini .table-remark-content{
    border-bottom: solid 1px rgba(216, 217, 218, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}
#order-preview-container .details-container .details-right-col .table-mini .table-remark-content:last-child {
    border: none;
    padding-bottom: 0px;
}
#order-preview-container .details-container .details-right-col .table-mini .table-remark-content:first-of-type {
    padding-top: 0px;
}
#order-preview-container .details-container .details-right-col .table-mini h3 {
    height: 18px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
    padding-bottom: 12px;
}
#order-preview-container .details-container .details-right-col .table-mini p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    word-wrap: break-word;
    color: #5b717c;
    padding: 0;
    margin: 0;
}
#order-preview-container .details-container .details-right-col .table-mini p.details-p {
    line-height: 1.71;
    color: #2d4552;
}
#order-preview-container .details-container .details-right-col .table-mini hr {
    height: 1px;
    background-color: #d9d9d9;
    margin: 10px 0;
}
#order-preview-container .details-container .details-right-col .table-mini ul {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    margin-bottom: 0px;
}
#order-preview-container .details-container .details-right-col .table-mini ul li {
    line-height: 1.71;
}
#order-preview-container .details-container .details-right-col .table-mini ul li a {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #00b0ca;
    padding: 0;
}

#order-preview-container .details-container .details-right-col .table-mini ul li.disabled a {
    color: #00b0ca !important;
}

#order-preview-container .details-container .details-preview-table {
    width: 500px;
    flex-shrink: 0;
    flex-grow: 0;
}
#order-preview-container .details-container .details-preview-table .package-content-table {
    border-radius: 3px;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-content-order-table {
    border-radius: 3px;
    border: solid 1px rgba(216, 217, 218, 0.5);
    margin-bottom: 10px;
}

#order-preview-container .details-container .details-preview-table .package-content-table .order-service-address {
    text-align: left;
    background-color: #00B1C6;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 20px;
}
#order-preview-container .details-container .details-preview-table .package-content-table .order-service-address h3 {
    text-align: left;
    color: #fff;
    padding: 10px;
    margin-bottom: 0;
    background-color: #00A8BB;
}

#order-preview-container .details-container .details-preview-table .package-content-table .order-service-address .content {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
}

#order-preview-container .details-container .details-preview-table .package-content-table .detailed-status{
    padding: 20px 15px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #eef8fb;
    word-wrap: break-word;
    color: #5b717c;
}

#order-preview-container .details-container .details-preview-table .package-content-table .detailed-status .title{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #2d4552;
    line-height: 1.29em;
}

#order-preview-container .details-container .details-preview-table .package-content-table .detailed-status .title a.superorder-parent {
    color: #2d4552;
}

#order-preview-container .details-container .details-preview-table .package-content-table .detailed-status .section-content {
    line-height: 1.71em;
}

#order-preview-container .details-container .details-preview-table .package-content-table .package-head {
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(159, 171, 178, 0.02);
    padding: 9px 15px;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .init {
    background-color: rgba(221, 221, 221, 0.5);
    width: 5px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .package-details {
    flex: 1;
    overflow: hidden;
    margin-right: 10px;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .package-details img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .package-details .package-type {
    height: 10px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #5b717c;
    margin-top: 1px;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .package-details .orderline {
    height: 18px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: #2d4552;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .order-details-status {
    height: 17px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 2px;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .order-details-status span {
    display: inline-block;
    background-color: #5c5c5c;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    letter-spacing: 1px;
    max-width: 100%;
}

#order-preview-container .cancel-status span {
    background-color: #da1a1a !important;
}

#order-preview-container .details-container .details-preview-table .package-content-table .package-head .round-box {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #d8d8d8;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .context-menu { 
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-image: url(../images/menu.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 2px;                                                                                                                                                                                                                                                                                                                  
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .context-menu.expanded .actions-hover-menu  { 
    display: block;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .package-details-right {
    margin-left: auto;
    max-width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .context-menu.enabled:hover {
    background-color: #e9eaeb;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .context-menu.enabled.open ul,
#order-preview-container .details-container .details-preview-table .package-content-table .package-head .context-menu.enabled.expanded ul {
    display: block;
    margin-left: -182px;
}

#order-preview-container .details-container .details-preview-table .package-content-table .package-section {
    height: 24px;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 0 rgba(0, 0, 0, 0.03);
    background-color: rgba(45, 69, 82, 0.05);
    padding: 4px 15px 0 15px;
    display: table;
    width: 100%;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-section div {
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #2d4552;
    text-transform: uppercase;
    display: table-cell;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-section div.section-onetime {
    width: 80px;
    text-align: right;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-section div.section-monthly {
    width: 80px;
    text-align: right;
}

#order-preview-container .details-container .details-preview-table .package-content-table .package-subsection {
    padding: 10px 0 20px 0;
}

#order-preview-container .details-container .details-preview-table .package-content-table .subsection-element {
    background-color: #fafbfc;
    padding: 4px 15px 0 15px;
    display: table;
    width: 100%;
}
#order-preview-container .details-container .details-preview-table .package-content-table .subsection-element div {
    display: table-cell;
}
#order-preview-container .details-container .details-preview-table .package-content-table .subsection-element div.section-onetime {
    width: 80px;
    text-align: right;
    font-weight: normal;
}
#order-preview-container .details-container .details-preview-table .package-content-table .subsection-element div.section-monthly {
    width: 80px;
    text-align: right;
    font-weight: normal;
}

#order-preview-container .details-container .details-preview-table .package-content-table .subsection-big {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
}
#order-preview-container .details-container .details-preview-table .package-content-table .subsection-small {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #5b717c;
}

#order-preview-container .details-container .details-preview-table .package-content-table .package-summary {
    background-color: #e9eaeb;
    padding-bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-summary .summary-contents {
    display: table;
    width: 100%;
    padding: 10px 15px 0 15px;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-summary .summary-contents div {
    display: table-cell;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-summary div.section-onetime {
    width: 80px;
    text-align: right;
    font-weight: normal;
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-summary div.section-monthly {
    width: 80px;
    text-align: right;
    font-weight: normal;
}
#order-preview-container .details-container .details-preview-table .summary .section-content.with-packages {
    display: flex;
}
#order-preview-container .details-container .details-preview-table .summary .section-content .section-content-left {
    width: 30px;
    margin-right: 15px;
}
#order-preview-container .details-container .details-preview-table .summary .section-content .section-content-right {
    flex: 1;
}
.section-content-allicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/all.svg);
    background-repeat: no-repeat;
}

.package-statuses {
    background-color: #dff1f7;
}

.section-content-mobileicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 3px;
    background-image: url(../images/mobile.svg);
    background-repeat: no-repeat;
}

.section-content-fixedicons {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 3px;
    background-image: url(../images/fixed.svg);
    background-repeat: no-repeat;
}

.contract-section {
    font-family: Roboto !important;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.03);
    padding: 15px;
    margin: 10px 0 20px 0;
    color: #2d4552;
}

.contract-section:last-child {
    margin-bottom: 10px;
}

.contract-section .contract-section-header {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.33;
    margin-bottom: 20px;
}

.contract-section .contract-section-product-group .product-group-title {
    font-size: 10px;
    font-weight: bold;
    color: #2d4552;
    text-transform: uppercase;
    margin: 10px 0;
}

.contract-section .contract-section-product-group .product-group-products {
    border-radius: 3px;
    border: solid 1px rgba(216, 217, 218, 0.5);
    background-color: rgba(0, 0, 0, 0.03);
}

.contract-section .contract-section-product-group .product-group-products .orderline-section {
    border: none;
    background-color: transparent;
    padding: 0 0 10px 0;
    margin: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.contract-section .contract-section-product-group .product-group-products .orderline-section .orderline-header {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.contract-section .contract-section-product-group .product-group-products .orderline-section .orderline-header h5.orderline-header-title-order {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #2d4552 !important;
    line-height: normal;
}
.contract-section .contract-section-product-group .product-group-products .orderline-section .orderline-header h6.orderline-header-title-category {
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #324d5b !important;
    text-transform: none;
    margin: 0;
}

.contract-section .contract-section-product-group .product-group-products .orderline-section:last-child {
    border-bottom: none;
    padding: 0 0 1px 0;
}

.contract-section .contract-section-list-components {
    margin: 17px 0 1px 0;
}

.contract-section .contract-section-list-components .contract-section-list-component {
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.contract-section .contract-section-list-components .contract-section-list-component:last-child {
    border: none;
    padding: 10px 0 0 0;
}

.contract-section .contract-section-list-components .contract-section-list-component .btn {
    height: 32px;
    padding: 0 20px;
    font-size: 14px !important;
}

.orderline-advanced .orderline-header h6.orderline-header-title-category {
    opacity: 0.8;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #324d5b !important;
    text-transform: none;
    margin: 0;
}
.orderline-advanced .orderline-header h5.orderline-header-title-name {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #2d4552 !important;
    line-height: normal;
}

.print-button {
    box-shadow: none !important;
    margin-top: 0px !important;
    background-color: transparent;
    background-image: none;
    color: #2d4552;
    font-weight: bold;
    border-radius: 0px;
    border: solid 1px rgba(0, 0, 0, 0.2);
}
#order-preview-container .details-container .details-preview-table .package-content-table .package-summary div.section-monthly.striked,
#order-preview-container .details-container .details-preview-table .package-content-table .package-summary div.section-onetime.striked,
#order-preview-container .details-container .details-preview-table .package-content-table .package-subsection .subsection-element .subsection-name span.striked {
    text-decoration: line-through;
}
.product-details-content-container .products-buttons-container {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

@media screen and (max-width: 1200px) {
    .product-details-content .row-flex {
        display: flex!important;
    }
}
@media screen and (max-width: 1600px) {
    .product-details-content-container .products-buttons-container {
        padding-top: 30px!important;
    }
}
.notification-banner-title > button {
    left: 80% !important;
    position: absolute !important;
    margin-top: 8px !important;
    width: 100px !important;
}
.warning > .notification-banner-text > .notification-banner-title > .one-line-with-btn {
        width: fit-content !important;
        float:left !important;
}
.send-sms-code {
    margin-top: 7px !important;
    width: 170px !important;
}
.radio-popdown > div > .col-sm-4 > .btn-secondary {
    margin-top: 7px !important;
    width: 170px !important;
}
.split-phone {
    margin-top: 7px !important;
}
.split-email {
    margin-top: 7px !important;
}

@media screen\0 {
    .split-phone > .btn-content {
        margin-left: -9px!important;
    }
    .split-email > .btn-content {
        margin-left: -9px!important;
    }
    .notification-banner-actions > .btn.btn-secondary.small {
        margin-right:4px !important;
    }
    .notification-banner-actions > .btn.btn-secondary.small > .btn-content {
        margin-right: 26px !important;
    }
    .notification-banner-actions > .btn.btn-secondary.small + .btn.btn-secondary.small > .btn-content {
        margin-right: 20px !important;
    }
    .notification-banner-actions > .btn.btn-secondary.small {
        margin-left: 10px !important;
        width: 140px !important;
        /*margin-top: 36px !important;*/
    }
}
.products-order-additional {
    background-color: transparent;
}

.products-order-additional div.products-order-number {
    background-color: #FFFFFF;
    width: auto;
    padding: 2px 10px;
}

.product-details-content-container .product-details-content {
    box-shadow: none;
}

.package-type-padding {
    padding-top: 10px;
}

@media screen\0 {
    .order-sticky-header > .notification-banner.warning > .notification-banner-text > .notification-banner-actions > .btn-secondary > .btn-content {
        margin-right: 30px !important;
    }

}
.email-display {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.div-email .tooltip-inner {
    word-wrap: break-word;
}

/* Tooltips */
#contract_order_modal .tooltip .tooltip-inner ul {
    list-style-type: disc;
    margin-left: 15px;
    margin-top: 10px;
 }

#contract_order_modal .tooltip .tooltip-inner ul li {
   font-weight: normal;
}
/* Tooltips */
#contract_order_modal .tooltip .tooltip-inner ul {
    list-style-type: disc;
    margin-left: 15px;
    margin-top: 10px;
 }

#polling-modal .modal-dialog .modal-content {
    width: 600px !important;
}

#polling-modal .modal-dialog .modal-header {
    margin-top: 6px !important;
}

.progress-indicator-information-title {
    font-size: 18px !important;
}
.progress-indicator-information-percentage {
    font-size: 18px !important;
}
#overview-delivery-address .head .btn-edit.enabled {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 2px;
    background: transparent;
    background-image: url(../images/edit.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50%;
}
#overview-delivery-address .head .btn-edit.disabled {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 2px;
    background: transparent;
    background-image: url("../../../omnius/default/img/mode_edit.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50%;
    pointer-events: none;
}

.section-content-right .package-name {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29em;
    color: #2d4552;
    margin-bottom: 10px;
}

.details-preview-table .row > .col-sm-6:last-child {
    color: #2d4552;
}

#order-preview-container .details-container .details-preview-table h2 {
    font-family: Roboto;
    font-size: 24px;
    color: #2d4552;
    font-weight: normal;
    line-height: 30px;
}
.return-note-margin {
    margin-top:0.6rem;
}

.banner-title-margin {
    margin:0.7rem;
    font-weight:bold;
}

.title-margin {
    margin-top:0.5rem;
}

