#inlife-wrapper {
    background: #fff;
    padding: 3rem 60px;
    overflow-y: auto;
    height: 100%;
}

#inlife-wrapper h2 {
    font-size: 20px;
    color: #666666;
    margin-top: 0;
}

#inlife-wrapper h3 {
    font-size: 16px;
    margin-top: 10px;
}

#inlife-wrapper h4 {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

#inlife-wrapper .service-error ul ul {
    padding-left: 20px;
}

#inlife-wrapper .section .less-padding-left {
    padding-left: 5px;
}

#inlife-wrapper .section .less-padding-right {
    padding-right: 5px;
}

#inlife-wrapper .section .current-new-arrow {
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -6px;
}

#inlife-wrapper .section .separator {
    border-top: 1px solid #333;
    height: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 0;
}

#inlife-wrapper .section .btn {
    width: 100%;
    text-align: left;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

#inlife-wrapper .section .btn-small {
    width: auto;
}

#inlife-wrapper .section .payload {
    overflow: auto;
    max-height: 201px;
}

#inlife-wrapper .section .btn .text {
    display: inline-block;
    margin-left: 26px;
    padding-right: 26px;
    padding-left: 12px;
    border-left: 1px solid #ccc;
    padding-top: 6px;
    padding-bottom: 6px;
    white-space: normal;
    word-break: break-all;
}

#inlife-wrapper .section .payload .btn .text {
    z-index: 1;
    width: 100%;
    cursor: default;
}

#inlife-wrapper .section .btn .glyphicon {
    top: 50%;
    margin-top: -7px;
    position: absolute;
}

#inlife-wrapper .label {
    font-size: 9px;
    margin-right: 5px;
}

#inlife-wrapper .border-bottom {
    border-bottom: 1px solid #ccc;
}

#inlife-wrapper label {
    font-weight: normal;
    margin-bottom: 0;
    font-family: vodafonerg-webfont;
}

#inlife-wrapper .form-row {
    margin-bottom: 10px;
}

#inlife-wrapper .vom .blue-title {
    color: #00CCFF;
    margin-bottom: 0;
    font-size: 18px;
}

#inlife-wrapper .vom .blue-title.height {
    line-height: 50px;
}

#inlife-wrapper .vom .extra .address-text {
    margin-bottom: 0px;
    padding-left: 20px;
}

#inlife-wrapper .vom h3 {
    font-weight: bold;
    margin: 0;
}

#inlife-wrapper .vom label.strong {
    font-weight: bold;
}

#inlife-wrapper .vom #saveVom {
    max-height: 600px;
    overflow-y: auto;
    display: block;
    overflow-x: hidden;
    padding-top: 15px;
}

#inlife-wrapper .vom .number-selection {
    line-height: 18px;
    padding: 5px 0;
    text-align: left;
}

#inlife-wrapper .edit-sim .dropdown-menu li span {
    line-height: 30px;
    display: inline-block;
}

#inlife-wrapper .edit-sim .dropdown-menu li span:first-child {
    width: 25%;
}

#inlife-wrapper .edit-sim .dropdown-menu li span:nth-child(2) {
    width: 50%;
    text-align: center;
}

#inlife-wrapper .edit-sim .dropdown-toggle .caret {
    float: right;
    position: relative;
    top: 8px;
}

#inlife-wrapper .edit-subscription .btn {
    white-space: normal;
}

#inlife-wrapper .multisim .radio {
    margin: 0;
    font-size: 13px;
}

#inlife-wrapper .vom .radio {
    margin: 0;
}

#inlife-wrapper .multisim .delivery-method {
    font-size: 13px;
}

#inlife-wrapper table .border-right {
    border-right: 1px solid #DDD;
}

#inlife-wrapper table.quote-addon thead td,
#inlife-wrapper table.quote-addon tfoot td {
    background: #eee;
}

#inlife-wrapper .subscriptions-wrapper,
#inlife-wrapper .multisim-wrapper {
    max-height: 450px;
    overflow-y: auto;
}

#search-inlife-phone-number.modal .modal-header h4 {
    width: 100%;
}

#search-inlife-phone-number #ctn-content .radio,
#search-inlife-phone-number #ctn-content .checkbox {
    line-height: 1.8;
    margin: 0;
}

#search-inlife-phone-number .modal-body label {
    display: block;
    margin: 0;
    width: 100%;
}

.red {
    color: #ff0000;
}

.inlife-index-index .col-right.sidebar {
    display: none;
}

.inlife-index-index div .col3-layout .main .col-main {
    width: calc(100% - 245px);
}

.inlife-index-index .col-main {
    margin: 0 0 0 244px!important;
}

.ctn_box.inlife {
    background: url(../images/inlife_icon.png) center center no-repeat;
    height: 25px;
}

.radio-number-selection input[type=radio] {
    margin: -5px 9px 0;
}
