#promo-rules {
    position: relative;
    padding-top: 10px;
    float: right;
    width: 100%;
}
#promo-rules.open {
    background-color: #f5f5f5;
}
#promo-rules.open .promo-rules-trigger {
    right: 10px;
    position: absolute;
}
.side-cart.block.active .title .promo-rules-trigger {
    display: inline-block;
}
.side-cart.block:not(.active) .title .promo-rules-trigger {
    display: none;
}
#promo-rules .promo-rules-trigger {
    margin-left: 10px;
    display: block;
}
#promo-rules .badge {
    background-color: #FADE60;
    color: #635B00;
    border: 1px solid #635B00;
}
#promo-rules .promo-rules-container {
    padding: 0 10px 10px 10px;
    margin-bottom: 20px;
    display: none;
    margin-top: 0px;
}
#promo-rules .promo-rules-container .title {
    position: absolute;
    top: 1px;
    right: 40px;
}
#promo-rules .promo-rules-container .benefit li {
    line-height: 22px;
    font-style: italic;
    color: #B8B8B8
}
#promo-rules .slide-up {
    bottom: -24px;
    left: 50%;
    position: absolute;
    background: url("../images/enlarge_icon_up.png") no-repeat scroll center center #F5F5F5;
    border: 1px solid #B8B8B8;
    border-top: 0;
    height: 25px;
    width: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 3px 0px #DADADA;
}
.promo-rules-trigger {
    right: 95px;
    position: absolute;
    bottom: 1px;
}
.promo-rules-trigger .badge {
    background-color: #f9f9f9;
    color: #212121;
    border: 1px solid #CCCCCC;
    padding: 2px 3px;
}