/* General */
.display-inline {
    display: inline !important;
}

.display-inline-table {
    display: inline-table !important;
}

/* Rewrite omius classes */
#config-wrapper .conf-block .counter {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

#config-wrapper .conf-block .counter.mobile,
#config-wrapper .conf-block .counter.prepaid,
#config-wrapper .conf-block .counter.redplus {
    background-color: #e2574c !important;
}

#config-wrapper .conf-block .counter.dsl {
    background-color: #3f7490 !important;
}

#config-wrapper .conf-block .counter.lte {
    background-color: #ba74bd !important;
}

#config-wrapper .conf-block .counter.cable_internet_phone,
#config-wrapper .conf-block .counter.cable_independent,
#config-wrapper .conf-block .counter.cable_tv {
    background-color: #f6a623 !important;
}

#config-wrapper .conf-block .counter.general {
    background-color: #9fabb2 !important;
}

#config-wrapper .conf-block span.status {
    width: 170px;
    height: 12px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-align: right;
    color: #5b717c;
}

#config-wrapper .conf-block span.check {
    padding-left: 0;
    display: inline-block;
    width: 17px;
    height: 13px;
    object-fit: contain;
    margin-left: 5px;
    background-image: url(../images/configurator-check.svg);
}

#config-wrapper .conf-block .counter.device,
#config-wrapper .conf-block .counter.hardware {
    background: url(../../../omnius/default/images/de/hardware-outline-white.svg) no-repeat center;
}

#config-wrapper .conf-block .counter.tariff {
    background: url(../../../omnius/default/images/de/plan-outline-white.svg) no-repeat center;
}

#config-wrapper .conf-block .counter.option {
    background: url(../../../omnius/default/images/de/options-outline-white.svg) no-repeat center;
}

#config-wrapper .conf-block .counter.discount,
#config-wrapper .conf-block .counter.goody {
    background: url(../../../omnius/default/images/de/benefits-outline-white.svg) no-repeat center;
}

#config-wrapper .conf-block .counter.accesories,
#config-wrapper .conf-block .counter.additional_services,
#config-wrapper .conf-block .counter.fee {
    background: url(../../../omnius/default/images/de/accessories-outline-white.svg) no-repeat center;
}

#config-wrapper .conf-block h3 {
    color: #2d4552;
    display: inline-block;
    vertical-align: top;
    font-size: 1.143rem;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
}

#config-wrapper .conf-block {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 12px;
    transition: max-height 500ms;
    background-color: #ffffff;
}

.conf-block .filter {
    margin-right: 0;

}

.conf-block .block-header,
.conf-block .section-filters,
.block-footer.col-md-12,
.conf-block .filter-input,
.conf-block .product-table,
.conf-block .selection-block,
.conf-block .content {
    background: none;
    line-height: 30px;
}

#config-wrapper .conf-block .product-table .item-row {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    margin: 5px 0 0 0;
    color: #2d4552;
    cursor: pointer;
    width: 100%;
}

#config-wrapper .conf-block .product-table .item-row:not('.package-item') .item-name {
    /** Don't touch this one also **/
    width: 54.5%;
}

#config-wrapper .conf-block .product-table .item-row .item-picture-container .item-picture {
    background: #ffffff url('../../../omnius/default/images/de/Icons_Mobile.svg') no-repeat center center;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background-position: center;
    vertical-align: top;
}

#config-wrapper .conf-block .product-table .item-row.selected {
    background-color: #f5f9fa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

#config-wrapper .conf-block .product-table .item-row.selected.mandatory-row div {
    cursor: not-allowed;
}

#config-wrapper .conf-block .product-table .item-row.selected.mandatory-row>div>div>div {
    opacity: 0.7;
}

#config-wrapper .conf-block .product-table .item-row.not-allowed {
    background-color: #f5f9fa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: not-allowed;
    opacity: 0.7;
}

#config-wrapper .conf-block .product-table .item-row:hover {
    background-color: #f5f9fa;
}

#config-wrapper .conf-block .product-table .item-row.multi-option {
    border-radius: 3px;
    background-color: rgba(0, 157, 168, 0.02);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #45ada8;
    border-left-width: 4px;
}

#config-wrapper .conf-block .product-table .item-row.error {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 1px #bd0911;
}

#config-wrapper .conf-block .product-table .item-row.inactive {
    border-radius: 3px;
    background-color: rgba(217, 216, 215, 0.15);
    border: solid 1px rgba(0, 0, 0, 0.15);
}

#config-wrapper .conf-block .product-table .item-row.inactive .item-title,
#config-wrapper .conf-block .product-table .item-row.inactive span {
    color: #bfbfbf;
}

#config-wrapper .conf-block input[type="text"] {
    height: inherit;
}

.conf-block .product-table .family-content {
    border: 0;
}

#config-wrapper .conf-block .panel-heading {
    padding: 0;
}

#config-wrapper .conf-block select {
    height: inherit;
    color: #45ada8;
    border: 1px solid rgba(69, 173, 168, 0.5);
}

.conf-block span.is-marked-selected {
    font: 400 normal 31px "vficons-regular-webfont";
    margin-right: 5px;
    vertical-align: sub;
    margin-left: -3px;
    color: #666666;
    font-size: 12px;
}

#config-wrapper .conf-block .panel-heading .row {
    margin: 0;
}

#config-wrapper .conf-block .row.configurator-filter-container {
    margin-top: 10px;
}

#config-wrapper .conf-block .row.configurator-filter-container .filter .filter-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../../../omnius/default/images/de/filter-color.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translateY(5px);
    margin-right: 10px;
}

#config-wrapper .configurator-filter-container input[type='text'] {
    line-height: 1.42857143;
}

#config-wrapper .conf-block .search-container {
    position: relative;
    border: solid 1px #e4e4e4;
    border-radius: 3px;
    display: inline-block;
    width: calc(100% - 90px);
}

#config-wrapper .conf-block .search-container.full-width-search {
    width: 100%;
}

#config-wrapper .conf-block  .search-container input[type="text"] {
    background-color: #ffffff;
    text-decoration: none;
    border: 0;
    color: #555;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    display: block;
}

#config-wrapper .conf-block  .search-container .search-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    content: " ";
    background: url(../../../omnius/default/images/de/search.svg) no-repeat center center;
    width: 16px;
    height: 16px;
}


#config-wrapper .conf-block input[type="text"].form-control::-webkit-input-placeholder {
    color: #5b717c;
    font-weight: 700;
}

#config-wrapper .conf-block .item-row .in-stock {
    color: #5b717c;
    font-size: 10px;
}

.icon-item-info,
#config-wrapper .conf-block .item-row .item-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    background: url(../../../omnius/default/images/de/Icons_Info.svg) no-repeat center center;
}

.icon-item-info {
    vertical-align: middle;
}

#config-wrapper .conf-block .panel-heading .row.filter-results {
    margin-top: 15px;
}

.configurator-filter-container .col-sm-12.col-md-12.col-lg-12.filter{
    padding-right: 0px;
}

#config-wrapper .conf-block button.add-package {
    min-width: 135px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px rgba(69, 173, 167, 0.5);
    font-family: 'Roboto', 'Arial Regular', 'Arial', serif !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #45ada8;
    padding: 10px;
}

.panel-heading .filter-results-unique {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2d4552;
    line-height: normal;
    padding: 0;
    text-align: right;
}

.option-products .item-price .per-month, .product-table .item-price .per-month {
    text-align: right;
}

#config-wrapper .conf-block .panel-heading .results-number {
    color: #45ada8;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
    padding-top: 5px;
}

.conf-block .product-table .family .family-header {
    text-transform: uppercase;
    font: bold 12px 'Roboto', Arial, Helvetica, sans-serif;
    color: #2d4552;
    margin-top: 10px;
}

/*tags input*/
.bootstrap-tagsinput {
    border: 0;
    box-shadow: none;
    width: 100%;
}

.bootstrap-tagsinput .tag {
    font-size: 12px;
    font-weight: 300;
}

/* configurator filters */
.btn-filter, .btn-filter:hover, .btn-filter:focus, .btn-filter:active {
    border: none;
    border-radius: 0;
    box-shadow: none;
    z-index: 2;
    position: relative;
    background: transparent;
}

.dropdown.section-filters {
    min-width: auto !important;
    display: inline-block;
}

.section-filters ul.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    min-width: 100px;
    height: auto;
    max-height: 125px;
    overflow-x: hidden;
}

.section-filters ul.dropdown-menu li {
    padding: 0 10px;
}

/* Red+ panel design */

.redPlusPanelContainer .package-row {
    margin: 0;
    border-bottom: 1px solid #D9D9D9;
}

/*.redPlusPanelContainer button {
    padding: 5px 18px;
    border: 1px solid rgba(69, 173, 168, 0.5);
    border-radius: 2px;
    color: #45ada8;
    font-size: 14px;
    font-weight: 800;
    vertical-align: middle;
    min-width: 80px;
    box-shadow: none;
    background: #f2f3f4;
    margin-top: 15px;
}

.redPlusPanelContainer button.selected {
    color: #ffffff;
    background: rgb(68,173,168);
}*/

.redPlusPanelContainer .package-table {
    background: #f2f3f4;
}

.redPlusPanelContainer .package-code-icon {
    border: 1px solid #E2574C;
    border-radius: 2px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}

.redPlusPanelContainer .icon-column {
    padding-top: 15px;
}

.redPlusPanelContainer .row.heading-row {
    background: #EDEDED;
    font-weight: 800;
    padding-left: 20px;
}

.redPlusPanelContainer .package-table {
    overflow-y: scroll;
    max-height: 200px;
}

/* Linked accounts */
.linkedAccountSelection, .redPlusPanelContainer {
    margin-top:20px;
}

.linkedAccountSelection .panel-heading:hover,
.redPlusPanelContainer .panel-heading:hover {
    cursor: pointer;
}

.linkedAccountSelection .panel-default,
.redPlusPanelContainer .panel-default {
    background: #F7F7F7;
}

.redPlusPanelContainer .option-image,
.linkedAccountSelection .option-image{
    margin-top: 0;
    margin-bottom: 0;
}

.linkedAccountSelection .header.align-middle{
    display: table-cell;
    vertical-align: middle;
    height: 30px;
}

.redPlusPanelContainer .linkedElement,
.linkedAccountSelection .linkedElement {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 5px 0;
}

.redPlusPanelContainer .linkedElementHeader,
.linkedAccountSelection .linkedElementHeader {
    background: #EDEDED;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 14px;
}

.redPlusPanelContainer .linkedElement .header,
.linkedAccountSelection .linkedElement .header {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    background: none;
}

.redPlusPanelContainer .linkedElement .subheader,
.linkedAccountSelection .linkedElement .subheader {
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
    color: #5B717B;
    background: none;
}

.tooltip.tooltip-linked-accounts .tooltip-inner {
    font-size: 16px;
    font-weight: 300;
}

.tooltip.tooltip-linked-accounts .tooltip-inner .tooltip-header {
    background: none !important;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    height: auto;
}

.tooltip.tooltip-linked-accounts .tooltip-inner .tooltip-subheader {
    background: none !important;
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    white-space: nowrap;
    margin: 0 0 20px 0;
    height: auto;
}

.tooltip.tooltip-linked-accounts .tooltip-inner .tooltip-content {
    margin: 20px 0 5px 0px;
    line-height: 24px;
}

.redPlusPanelContainer .linkedElement .title {
    float: left;
    font-size: 16px;
    font-weight: 500;
    background: none;
    line-height: 30px;
}

.red-plus-group-hr {
    border-top: 1px solid rgb(204, 204, 204);
}

.subscription-tab-header {
    font-size: 12px;
    font-weight: bold;
}

#config-wrapper .add-bundle-button button {
    min-width: 135px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px rgba(69, 173, 167, 0.5);
    font-family: 'Roboto', 'Arial Regular', 'Arial', serif !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #45ada8;
    padding: 10px;
}

#config-wrapper .add-bundle-button i.vfde-add-circle,
#config-wrapper button.add-package i.vfde-add-circle {
    padding-left: 5px;
}


/* Order overview updated design */

.overview-block-section {
    background-color: #e4e4e4;
    font-family: 'Roboto', 'Arial Regular', 'Arial', serif !important;
}

.overview-plan-section {
    background-color: #eff1f3;
    padding: 7px 0 3px 5px;
}

.overview-plan-details {
    background: #FDFDFD;
    border: solid 1px #e4e4e4;
    border-radius: inherit;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

#saveOrderOverview .title {
    margin-bottom: inherit;
}

.overview-package-title {
    top: -8px !important;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
    display: inline-block;
    left: 5px;
}

.overview-package-title span {
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    position: relative;
}

.overview-title-font {
    font-weight: 500;
    color: #324D5B;
    font-family: 'Roboto', 'Arial Regular', 'Arial', serif !important;
}

.overview-package-costs {
    background-color: #eff1f3 !important;
    border-radius: inherit !important;
}

.overview-order-costs {
    background-color: #FDFDFD !important;
    border-radius: inherit !important;
    color: #324D5B !important;
    font-family: 'Roboto', 'Arial Regular', 'Arial', serif !important;
}

.overview-plan-icon-block {
    position: relative;
    bottom: 19px;
    height: 27px !important;
}

.overview-plan-icon {
    margin-left: 2px;
    margin-top: 6px;
}

.overview-plan-icon.fa-mobile {
    margin-top: initial;
}

.overview-plan-badge {
    width: 30px;
    display: inline-block;
}

#saveOrderOverview .title .stack-identificator {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    top: -8px !important;
    position: relative;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

.overview-plan-badge .stack-identificator.mobile,
.overview-plan-badge .stack-identificator.prepaid,
#right_expanded_packets .product-cart-icon.mobile,
#right_expanded_packets .product-cart-icon.prepaid {
    background: url(../images/icons-package-inverse-mobile-red.svg) transparent;
}

.overview-plan-badge .stack-identificator.cable_internet_phone,
#right_expanded_packets .product-cart-icon.cable_internet_phone {
    background-image: url(../../../omnius/default/images/de/icon-cable-yellow.svg);
}

.overview-plan-badge .stack-identificator.cable_tv,
#right_expanded_packets .product-cart-icon.cable_tv {
    background-image: url(../../../omnius/default/images/de/icon-tv-yellow.svg);
}

.overview-plan-badge .stack-identificator.cable_independent,
#right_expanded_packets .product-cart-icon.cable_independent {
    background-image: url(../../../omnius/default/images/de/icon-cable-independent-yellow.svg);
}

.overview-plan-badge .stack-identificator.dsl,
#right_expanded_packets .product-cart-icon.dsl {
    background-image: url(../../../omnius/default/images/de/icon-cable-blue.svg);
}

.overview-plan-badge .stack-identificator.int_tv_fixtel,
#right_expanded_packets .product-cart-icon.int_tv_fixtel {
    background-image: url(../images/icons-package-inverse-internet-phone.svg);
}

.overview-plan-badge .stack-identificator.lte,
#right_expanded_packets .product-cart-icon.lte {
    background-image: url(../../../omnius/default/images/de/icon-cable-mauve.svg);
}

.overview-plan-badge .stack-identificator.bundle,
.overview-plan-badge .stack-identificator.redplus,
#right_expanded_packets .product-cart-icon.bundle,
#right_expanded_packets .product-cart-icon.redplus {
    background-image: url(../../../omnius/default/images/de/icon-bundle-grey.svg);
}

.bundle-package-block-body .stack-identificator.mobile, .bundle-alternatives-body .stack-identificator.mobile {
    background: url(../images/icons-package-inverse-mobile-red.svg) transparent;
}

/*CABLE TV*/
.bundle-package-block-body .stack-identificator.cable_tv, .bundle-alternatives-body .stack-identificator.int_tv_fixtel {
    background-image: url(../images/icons-package-inverse-internet-phone.svg);
}

.wth-22 {
    width: 22%;
}

.fs-11 {
    font-size: 11px;
}

.overview-font-header {
    text-indent: 20px;
    font-size: 24px;
    background: #FDFDFD;
    border: solid 1px #e4e4e4;
    font-weight: 400;
    margin: 0;
    height: 56px;
    padding-top: 12px;
}

.order-details-section p {
    text-indent: 5px;
    margin: 0;
    font-family: 'Roboto', 'Arial Regular', 'Arial', serif !important;
    color: #324D5B;
}

.order-details-section p:first-child {
    padding-top: 10px;
}

.overview-sub-header {
    color: #324D5B;
    margin: 0;
    text-indent: 19px;
    font-size: 14px;
    font-weight: bold;
    background: #FDFDFD;
    padding: 10px 0 10px 0;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.bs-docs-section #order_overview, .bs-docs-section #totalCostsHeader {
    border: none;
}

#cart-top p.overview-title-font {
    font-size: 24px;
    margin-top: 30px;
    font-weight: initial;
}

.overview-back-btn {
    padding: 10px;
    background-color: #eff1f3;
}

.overview-back-btn p {
    margin: 0 0 0 10px;
    font-weight: bold;
}

.overview-back-btn p a {
    text-decoration: none;
    color: #bfbfbf !important;
}

.overview-back-btn p a i {
    position: relative;
    bottom: 1px;
}

.overview-back-btn p span {
    color: #4aa694;
}

.btn-cancel-order {
    float: right;
}

.btn-cancel-order, .btn-cancel-order span {
    color: black !important;
}

/* EOF Order overview updated design */


#sales-id-menu {
    background: url(../../../omnius/default/images/wave2/sales-i-d.svg) 13px 15px no-repeat;
    display: block;
    float: right;
    height: 52px;
    position: relative;
    top: -2px;
    width: 50px;
}

#sales-id-menu:hover {
    background: #eeeeee url(../../../omnius/default/images/wave2/sales-i-d.svg) 13px 15px no-repeat;
}

#sales-id-menu>.dropdown-toggle {
    cursor: pointer;
    display: block;
    height: 52px;
    width: 50px;
}

#sales-id-menu>.dropdown-toggle>.circle-medium {
    border-radius: 50%;
    display: block;
    height: 8px;
    width: 8px;
    position: relative;
    right: -32px;
    top: 11px;
}

#sales-id-menu>.dropdown-menu {
    background-clip: padding-box;
    background: #e9eaeb;
    border: 0;
    border-radius: 0px;
    box-shadow: 0px 2px 8px 2px #e5e5e5;
    float: left;
    font-size: 14px;
    left: initial;
    list-style: none;
    margin: 0;
    min-width: 160px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 56px;
    width: 260px;
    z-index: 1000;
}

#sales-id-menu>.dropdown-menu li {
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5;
    color: #2d4552;
    font-family: 'Roboto', 'Arial Regular', 'Arial', serif !important;
    font-size: 14px;
    font-weight: bold;
    max-height: 50px;
    line-height: 1.14;
    padding: 12px 0 12px 10px;
}

#sales-id-menu>.dropdown-menu>li.first-row {
    background: #e9eaeb;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 1px 0 0 0 #d8d8d8, inset -1px 0 0 0 #d8d8d8, inset 0 1px 0 0 #e5e5e5;
    height: 20px;
    padding: 5px 0 5px 10px;
}

#sales-id-menu>.dropdown-menu>li.first-row, #sales-id-menu>.dropdown-menu>li.first-row .dealer-name, #sales-id-menu>.dropdown-menu>li.first-row .dealer-id {
    color: #2d4552;
    font-family: 'Roboto', 'Arial Regular', 'Arial', serif !important;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    height: 20px;
    text-transform: uppercase;
}

#sales-id-menu>.dropdown-menu>li.no-dealer-code, #sales-id-menu>.dropdown-menu>li.sales-id {
    color: #2d4552;
    font-family: 'Roboto', 'Arial Regular', 'Arial', serif !important;
    font-size: 14px;
    font-weight: bold !important;
    line-height: 1.14;
}

#sales-id-menu .circle-small, .cart-group-content .circle-small, .package-items-table td.names .circle-small {
    border-radius: 50%;
    display: block;
    height: 6px;
    width: 6px;

}

#sales-id-menu .sales-id span.circle-small {
    float: left;
    margin: 4px 14px 0 10px;
}

.cart-group-content .circle-small, .package-items-table td.names .circle-small {
    float: left;
    margin: 5px 4px 0 -10px;
}

#sales-id-menu>.dropdown-toggle>.red {
    background: #f52929;
}

#sales-id-menu .pale-red {
    background: #e2574c;
}

#sales-id-menu .pale-blue {
    background: #4681a0;
}

#sales-id-menu .pale-yellow {
    background: #f6a623;
}

#sales-id-menu .pale-mauve {
    background: #ba74bd;
}

.removed-red {
    background: #e22f2f;
}

.added-blue {
    background: #58BADC;
}

.keep-grey {
    background: #bfbfbf;
}

.default-none {
    display: none;
}

.user-menu {
    position: relative !important;
}

#config-wrapper .conf-block .product-table .item-row .item-label, #config-wrapper .conf-block .product-table .item-row .item-date {
    padding: 2px 7px;

    display: inline-block;
    top: -15px;
    font-size: 8px;
    border-radius: 3px;
    color: white;
    line-height: 8px;
    vertical-align: top;
    letter-spacing: 0.5px;
}

#config-wrapper .conf-block .product-table .item-row .item-label.given, #config-wrapper .conf-block .product-table .item-row .item-label.mandatory {
    background-color: #58BADC;
}
#config-wrapper .conf-block .product-table .item-row .item-date {
    color: #5b717c;
    font-size: 10px;
}

#config-wrapper .conf-block .product-table .item-row .item-label.contract {
    background-color: #2d4552;
}

#config-wrapper .conf-block .product-table .item-row .item-label.campaign {
    background-color: #E60000;
}

#config-wrapper .conf-block .product-table .item-row .item-label.input {
    background-color: #d7d7d7;
}

#smartcard-wrapper {
    box-sizing: border-box !important;
    box-shadow: inset 1px 0 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #fafbfc;
    font-family: 'Roboto' !important;
    z-index: 1;
}

#smartcard-wrapper .serial-input {
    padding-right: 0;
}

#smartcard-wrapper .hidden-content {
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.03);
    border: solid 1px rgba(217, 217, 217, 0.5);
    width: 100%;
    min-height: 56px;
}

.smartcard-item-no-padding {
    padding: 0 !important;
}

.smartcard-item-no-padding:after {
    content: none !important;
}

#smartcard-wrapper .input-group-custom {
    position: relative;
    padding: 5px 0;
}

#smartcard-wrapper .hidden-content input[type="text"] {
    width: 100%;
    height: 50px !important;
    padding-left: 10px;
    color: #333333;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #ddd;
    padding: 20px 12px 5px 12px;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box !important;
    z-index: 2;
}

#smartcard-wrapper .hidden-content label {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    bottom: 23px;
    left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#smartcard-wrapper input.btn-check {
    position: relative;
    bottom: 41px;
    float: right;
    right: 20px;
    width: 8% !important;
    height: 32px;
    border-radius: 2px;
    background-color: #45ada8;
    border: solid 1px rgba(0, 0, 0, 0.05);
}

#smartcard-wrapper .field-row.serial-error input[type="text"] {
    background-color: #f2eaeb;
    border: solid 1px #f15252;
    color: #f15252;
}

#smartcard-wrapper .field-row.serial-error label {
    color: #f15252;
}

#smartcard-wrapper .field-row.serial-error input.btn-check {
    background-color: #f25151;
    color: white;
}

#smartcard-wrapper .field-row.serial-error .popover.fade.top.in {
    background-color: #f25151;
    color: white;
}

#smartcard-wrapper .field-row.serial-error .popover.fade.top.in .arrow:after {
    border-top-color: #f25151;
}

#smartcard-wrapper .field-row.serial-error input.btn-check,
#smartcard-wrapper .field-row.serial-error .popover.fade.top,
#smartcard-wrapper .field-row.serial-error .popover.fade.top.in {
    font-family: 'Roboto', 'Arial Regular', 'Arial', serif !important;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

#smartcard-wrapper .field-row.serial-error .popover.fade.top,
#smartcard-wrapper .field-row.serial-error .popover.fade.top.in {
    left: initial !important;
    background-color: #f15252;
    border: solid 1px #f15252;
    color: #ffffff;
}

.smartcard-loader {
    background: url(../../../omnius/default/images/de/grey_loader.gif) no-repeat center;
    background-size: 20%;
}

.smartcard-success {
    background: url(../../../omnius/default/images/de/check-mark-white.png) no-repeat center;
    background-size: 35%;
}

#config-wrapper .bundle-identifier {
    display: inline-block;
    padding-left: 7px;
}

.bundle-to-cart-btn input[type="submit"].btn-block {
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: #575756;
    font-weight:bold;
}
#config-wrapper .label-purple {
    width: 38px;
    height: 12px;
    border-radius: 3px;
    border: solid 1px #58badc;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.5px;
    text-align: center;
    color: #58badc;
    text-transform: uppercase;
    background-color: transparent;
    padding: 1px 4px;
}

.bundle-to-cart-btn input[type="submit"].btn-block {
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.05);
    background-color: #575756;
    font-weight:bold;
    margin-top: 9px;
}

.bundle-package-block-body .stack-identificator.new_indicator::after, .bundle-alternatives-body .stack-identificator.new_indicator::after,
.bundle-package-block-body .overview-plan-badge span.new_indicator::after {
    content: "";
    position: absolute;
    top: -4px;
    width: 12px;
    height: 12px;
    background-color: #58badc;
    border: solid 2px #ffffff;
    right: -7px;
    border-radius: 50%;
}

.bundle-package-block .after-icon-plus {
    float: right;
    top: 18px;
    right: -6px;
    position: absolute;
    z-index: 2;
    color: #3a505c;
}

.info-btn-bundle {
    width: 40px !important;
    height: 40px !important;
    padding: 0;
    margin: 9px 8px 8px 0;
    font-size: 16px;
    color: #2d4552;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.info-btn-bundle:hover {
    background-color: #f7f8f9;
    color: #2d4552;
    border-color: #d8d9da;
}

#bundleModalAlternatives .bundle-alternatives-body .btn.btn-green.bundle-package-entry.disabled {
    height: 32px;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 0 22px 0 0;
    margin-left: -35px;
}

#bundleModalAlternatives .bundle-alternatives-body .btn.btn-green.bundle-package-entry {
    margin-left: 0;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 5px 20px 6px 20px;
    width: 90px;
}

#bundleModalAlternatives .modal-dialog .modal-header {
    font-size: 24px;
    color: #2d4552;
    margin-left: 4px;
    margin-top: 4px;
}

#bundleModalAlternatives .bundle-alternatives-packages {
    padding-bottom: 20px;
    padding-top: 0;
}

#bundleModalAlternatives .bundle-alternatives-body {
    height: 100%;
    overflow-y: auto;
}

#bundleModalAlternatives .modal-dialog .modal-header button {
    margin-right: 3px;
}

.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
    background-color: #FFFFFF;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.btn-green {
    color: #2d4552;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

.btn-green.active, .btn-green:active, .btn-green:focus, .btn-green:hover, .open .dropdown-toggle.btn-green {
    color: #2d4552;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

.bundleDetails.modal.middle-state .modal-dialog.modal-sm {
    margin-bottom: 0;
    bottom: 0;
}

.bundle-details-header button.close.vfde-clear {
    padding-top: 17px;
    position: fixed;
    right: 20px;
}

#bundleModalAlternatives .modal-dialog .modal-header button::before {
    content: "";
}

#bundleModalAlternatives .bundle-alternatives-header .tab-details.active {
    color: #00b0ca;
    border-bottom: 2px solid #00b0ca;
}

#bundleModalAlternatives .bundle-alternatives-body .bundle-alternative-product {
    padding: 12px 0 7px 0;
}

.modal .modal-body {
    padding: 0 20px;
}

.info-indicator {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../images/info-indicator.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 4px;
    position: relative;
    left: 4px;
}

.tooltip {
    z-index: 10041;
}

.tooltip .tooltip-inner {
    padding: 6px 10px;
}

.tooltip .tooltip-inner h5:last-child {
    margin-bottom: 2px;
}

#saveOrderOverview .title.bundle, #saveOrderOverview .title.intra-stack-bundle, .expanded-package-details table.package-items-table thead.bundle th, .side-cart .block-container > .title.bundle {
    border-left-color: #58badc !important;
    background-color: #f8f9fa;
    padding: 19px 0 0 15px;
    border: 0;
    box-shadow: inset 0 1px 0 0 #ededed, inset 0 -1px 0 0 #ededed;
}

.side-cart .block-container > .title.bundle::before {
    display: inline-block;
    width: 5px;
    background-color: #58badc;
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
}

#bundle-details-packages-list .bundle-package-summary ul {
    overflow:auto;
    height: 120px
}

#bundle-details-packages-list .bundle-package-summary.bundle-details ul {
    overflow:hidden;
    height: 70px;
}

#bundle-description {
    height: 70px;
}

.bundle-package-summary {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-right: 20px;
}

.bundle-package-summary .new-price {
    margin-top:10px;
}

.bundle-package-summary.bundle-details .bundle-details-title {
    margin-bottom: 15px;
    height: 65px;
}

.bundle-package-summary.bundle-details .bundle-details-title h2 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #2d4552;
}

#bundle-description p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #5b717c;
}

#bundleModalAlternatives .bundle-alternatives-body .bundle-alternative-product .orderline-text-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    padding-top: 2px;
}

.bundle-package-block .bundle-package-block-body {
    margin-top: 14px;
}

.bundle-package-summary h4:first-child {
    margin-bottom: 10px;
    height: 20px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-transform: uppercase;
}

.bundle-package-summary ul li.bundle-added i.vfde-verified {
    margin-right: 12px;
    font-size: 17px;
}

.bundle-package-summary ul li.bundle-removed i.vfde-clear {
    font-size: 13px;
    color: #e2574c;
    margin-right: 16px;
}

.bundle-package-summary .bundle-removed .additional-bundle-info-icon {
    text-decoration: none;
}

.bundle-package-summary .bundle-added, .bundle-package-summary .bundle-removed {
    display: flex;
}

.bundle-details-packages {
    min-height: 220px;
}

.bundle-details-header, .bundle-details-packages {
    padding-left: 39px;
    padding-right: 39px;
}

.bundle-package-block-body .orderline-text, .bundle-package-block-body .orderline-text-description {
    margin-left: 10px;
}

.bundle-package-block-body .orderline-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
}

.bundle-package-block-body .orderline-text-description {
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #5b717c;
}

.bundle-package-block-body .col-xs-12 {
    padding-left: 0;
}

.bundle-package-block-body .col-xs-1.pln.prn.mrn.mln {
    width: 30px;
}
