/*
    Shopping Bag Stylesheet
 */

.cart_packages .side-cart {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#shopping-bag {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 0;
    margin-top: 0;
    background-color: #fafbfc;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.block-click {
    cursor: not-allowed;
}
#shopping-bag .shopping-bag-head {
    padding: 50px 20px 20px 20px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #ffffff;
}
#shopping-bag .shopping-bag-head .shopping-bag-head-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
    margin-top: 5px;
}
#shopping-bag .shopping-bag-head .shopping-bag-head-title h2:before {
    top: 0;
    background-image: url(../../default/images/shopping-bag.svg);
}
#shopping-bag .shopping-bag-head .buttons-container {
    padding: 0;
    margin: 0;
}
#shopping-bag .shopping-bag-head #right-panel-cart-menu {
    position: relative;
}
#shopping-bag .shopping-bag-head #right-panel-cart-menu .menu-trigger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    padding: 1px 13px 1px 8px;
    font-size: 16px;
    border-radius: 2px;
}
#shopping-bag .shopping-bag-head #right-panel-cart-menu .menu-trigger:hover {
    background-color: #e9eaeb;
}
#shopping-bag .shopping-bag-head #right-panel-cart-menu .menu-expand {
    position: absolute;
    top: 25px;
    margin: 0;
    min-width: 200px;
    width: auto;
    border-radius: 3px;
    overflow: hidden;
}
#shopping-bag .shopping-bag-head #package-types {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    overflow: hidden;
    border: solid 1px #d9d9d9;
}
#shopping-bag .shopping-bag-head #package-types #soho-toggle {
    margin: 21px 9px 9px 9px;
    height: 32px;
}
#shopping-bag .shopping-bag-head #package-types #soho-toggle.disabled label {
    cursor: default;
    color: #c9cbcc;
}
#shopping-bag .shopping-bag-head #package-types .vn-segmentedControl .vn-segmentedControlButton > label {
    font-weight: normal;
    color: #2d4552;
    line-height: 30px;
    padding: 0;
}
#shopping-bag .vn-segmentedControlButton {
    padding: 0;
}
#shopping-bag .shopping-bag-head #package-types .btn {
    line-height: 40px;
    padding: 0 10px 0 10px;
    box-shadow: inset 1px 0 0 0 #d8d9da, inset -1px 0 0 0 #d8d9da, inset 0 -1px 0 0 #d8d9da;
    border: none;
}
#shopping-bag #package-types .btn.btn-default.no-cursor {
    line-height: 20px;
}
#shopping-bag .shopping-bag-head #package-types .btn .product-cart-icon {
    margin: 5px 6px 5px 0;
}

#shopping-bag #cart-spinner-wrapper .cart_packages, #shopping-bag #cart-spinner-wrapper .cart_packages_extra {
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
}

#shopping-bag .shopping-bag-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
#shopping-bag .no-package-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#shopping-bag .no-package-zone div.img {
    background-image: url(../images/no-packages.svg);
    background-size: auto;
    min-height: 52px;
    margin-bottom: 25px;
    box-shadow: none;
}



/*
    Shopping Cart Totals
 */
#shopping-bag #cart_totals {
    margin: 0;
    padding: 15px 20px 20px 20px;
    bottom: 0;
    border: none;
    border-top: 1px solid rgba(217,217,217, .5);
    z-index: auto;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

#shopping-bag #cart_totals .cart-totals-header h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2d4552;
    text-align: left;
}

#shopping-bag #cart_totals .cart-totals-header .cart-totals-header-tax-toggle {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 18px;
}

#shopping-bag #cart_totals .price-summary {
    box-shadow: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#shopping-bag #cart_totals .price-summary .price-summary-line {
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #2d4552;
}

#shopping-bag #cart_totals .price-summary .price-summary-line-text {
    font-size: 13px;
    font-weight: bold;
}

#shopping-bag #cart_totals .price-summary .price-summary-line .price-summary-line-price {
    display: flex;
    text-align: right;
}

#shopping-bag #cart_totals .price-summary .price-summary-line.price-summary-total {
    font-size: 13px;
    font-weight: bold;
}

#shopping-bag #cart_totals .price-summary .price-summary-line.price-summary-total .price-summary-line-text {
    font-size: 13px;
    font-weight: bold;
}

#shopping-bag #cart_totals .price-summary .price-summary-line .price-summary-line-price .shopping-bag-summary-line-price,
#shopping-bag #cart_totals .price-summary .price-summary-line .price-summary-line-price .price-summary-price-upfront,
#shopping-bag #cart_totals .price-summary .price-summary-line .price-summary-line-price .price-summary-price-monthly {
    min-width: 63px;
    width: 64px;
}

#shopping-bag #cart_totals .price-summary .price-summary-line.price-summary-header {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    color: #2d4552;
    margin: 0;
}


#shopping-bag .block {
    background-color: transparent;
}
#shopping-bag .block-container .col-sm-3 {
    height: auto;
}
#shopping-bag .coupon-section {
    border-top: none;
    background-color: transparent;
    padding-bottom: 0px;
}
#shopping-bag .coupon-section .col-sm-3 {
    padding-top: 0;
}
#shopping-bag .shoppingbag-coupon-section {
    background-color: #f2f3f4;
    padding: 0 15px;
    margin-bottom: 5px;
}
#shopping-bag .shoppingbag-coupon-section .shoppingbag-product-add-coupon {
    border: none;
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    color: #009ca7;
    line-height: 24px;
    cursor: pointer;
}
#shopping-bag .shoppingbag-coupon-section form.coupon {
    margin-right: 0;
    display: block;
    padding: 5px 0;
}

#shopping-bag .shoppingbag-product-total-section {
    display: flex;
    justify-content: space-between;
    background-color: #f2f3f4;
    line-height: 24px;
    color: #2d4552;
    padding: 0 15px 10px;
}
#shopping-bag .shoppingbag-product-total-section .shoppingbag-product-total-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

#shopping-bag .block {
    background-color: transparent;
}
#shopping-bag .block-container .col-sm-3 {
    height: auto;
}
#shopping-bag .coupon-section {
    border-top: none;
    background-color: transparent;
    padding-bottom: 0px;
}
#shopping-bag .coupon-section .col-sm-3 {
    padding-top: 0;
}
#shopping-bag .shoppingbag-coupon-section {
    background-color: #f2f3f4;
    padding: 0 15px;
    margin-bottom: 5px;
}
#shopping-bag .shoppingbag-coupon-section .shoppingbag-product-add-coupon {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border: none;
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    color: #009ca7;
    line-height: 24px;
    cursor: pointer;
}
#shopping-bag .shoppingbag-coupon-section form.coupon {
    margin-right: 0;
    display: block;
    padding: 10px 0;
}

#shopping-bag .shoppingbag-product-total-section {
    display: flex;
    justify-content: space-between;
    background-color: #f2f3f4;
    line-height: 24px;
    color: #2d4552;
    padding: 0 15px;
}
#shopping-bag .shoppingbag-product-total-section .shoppingbag-product-total-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.cart_packages .coupon .form-group {
    margin-bottom: 0;
}

.cart_packages .coupon .form-group .cart-coupon-input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    box-shadow: none;
}

.cart_packages .side-cart.block.active .block-container .content .row {
    padding-left: 15px;
}

#shopping-bag .cart_packages .side-cart.block.active .block-container .content .row.group-header > .name-row {
    font-size: 10px !important;
    font-weight: bold !important;
}

#shopping-bag .cart_packages .price-row {
    font-weight: bold;
    width: 61px;
    padding: 0 !important;
    margin: 0 !important;
}

#shopping-bag .cart_packages .side-cart.block.active .block-container .content .row.bullet-line>.price-row {
    line-height: 24px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

#shopping-bag .side-cart .block-container>.title div.group-title p {
    margin-bottom: 0;
    font-size: 10px;
    font-weight: bold;
    color: #5b717c;
}

#shopping-bag div.title span.package-type {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}

#shopping-bag .side-cart .block-container>.title {
    border: solid 1px rgba(215, 215, 215, 0.5);
    background-color: rgba(213, 213, 213, 0.05);
    border-left-width: 5px;
    display: flex;
    align-items: center;
    padding: 0 4px 0 35px;
}

#shopping-bag .orderline-header-actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: auto;
}

#shopping-bag .package-notes-extended {
    background-position: 50% 50% !important;
}
#shopping-bag .note-indicator {
    width: auto;
    height: auto;
    max-width: 22px;
    max-height: 22px;
}
#shopping-bag .note-indicator .package-notes-extended {
    width: 22px;
    height: 22px;
    border-radius: 2px;
}
#shopping-bag .note-indicator .package-notes-extended:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#shopping-bag .package-lightbulb-tooltip {
    margin: 0 8px 0 0 !important;
}

#shopping-bag .side-cart.block {
    width: 100%;
}

#shopping-bag .block .title:before {
    content: '';
    position: absolute;
    top: 14px;
    left: 4px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(../images/chevron.svg);
    background-color: transparent;
    transform: rotate(90deg);
}

#shopping-bag .block.active .title:before {
    transform: rotate(-90deg);
}
#shopping-bag .title .cart-package-title {
    padding-right: 10px;
    overflow: hidden;
}

#shopping-bag .side-cart .block-container>.title div.group-title {
    top: auto !important;
    width: 100%;
    display: block;
    left: 0;
    line-height: 14px;
}

#shopping-bag .cart_packages .side-cart.block .content .row.group-header:before {
    content: none;
}

#shopping-bag .cart_packages .side-cart.block.active .block-container .content > .row {
    padding: 0 15px 0 13px !important;
}
#shopping-bag .cart_packages .side-cart.block.active .cart-group-content .row:first-child {
    margin-top: 5px !important;
}
#shopping-bag .cart_packages .side-cart.block.active .cart-group-content .row:last-child {
    margin-bottom: 5px !important;
}
#shopping-bag .cart_packages .side-cart.block.active .block-container .content .row.bullet-line > .name-row {
    max-height: 48px;
    line-height: 24px !important;
    max-width: 148px;
}
#shopping-bag .cart_packages .side-cart.block.active .block-container .content .row.bullet-line-new > div {
    max-width: 148px;
}
#shopping-bag .side-cart .small-label {
    font-size: 13px;
    line-height: 24px;
    text-align: right;
    font-weight: 700;
    padding-top: 3px;
    padding: 0;
    margin: 0;
    width: 60px;
    display: block;
}
#shopping-bag .shoppingbag-product-total-section .one-off > span {
    width: 80px;
    position: absolute;
    right: 14px;
}
#shopping-bag .cart_packages .side-cart.block.active .block-container .content > .row {
    margin: 4px 0 !important;
}
#shopping-bag .cart_packages .side-cart.block.active .block-container .content .row.price-header-row {
    background-color: #f2f3f4;
    margin: 0 !important;
    height: 20px !important;
    margin-bottom: 4px !important;
}
#shopping-bag .side-cart .block-container, #shopping-bag .side-cart .section {
    cursor: unset;
}
#shopping-bag #show-packages {
    box-shadow: none;
    line-height: 40px;
    font-weight: bold;
}
#shopping-bag .customer-type {
    text-transform: uppercase;
}
#shopping-bag #package-types .btn.disabled {
    filter: grayscale(1);
}

#shopping-bag .cart_packages .side-cart.block.incomplete .title {
    border-color: #e2574c;
}