.page .header-container .header .left-menu {
    padding: 0;
}

div .col3-layout .main .col-main {
    width: calc(100% - 600px);
    height: calc(100% - 50px);
    padding: 20px !important;
    top: 50px;
    float: none;
}

#config-wrapper {
    overflow: auto;
    width: calc(100% + 20px);
    height: calc(100% + 40px);
    padding: 20px 20px 20px 0;
    margin-top: -20px !important;
}

#config-wrapper > .content {
    width: calc(100% + 10px);
}

.change-order-notification {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #fafbfc;
    z-index: 100;
}

.customer_ctns div span.my-updates {
    width: 14px;
    height: 20px;
    display: block;
    background: url(../images/edit.svg) no-repeat;
    background-size: 14px;
    position: relative;
    float: left;
    background-position: center center;
}

.customer_ctns div span.my-deal {
    width: 16px;
    height: 20px;
    display: block;
    background: url(../images/info-standard.svg) no-repeat;
    background-size: 16px;
    position: relative;
    float: left;
    background-position: center center;
}

.customer_ctns div span.my-360-view {
    width: 18px;
    height: 20px;
    display: block;
    background: url(../images/360-view.svg) no-repeat;
    background-size: 18px;
    background-position: center center;
    position: relative;
    float: left;
}
/* 360 view disabled menu */
.customer_ctns ul li.View360Opacity {
    opacity : 0.4;
    filter: alpha(opacity=40);
}

.notification-bar-error {
    font-size: 14px;
    margin: 33px 0 !important;
    top: 18px !important;
}

.order-notification-bar-error {
    width: 943px !important;
    height: 43px;
    border-radius: 3px;
    border: solid 1px #5dbada;
    background-color: rgba(93, 186, 218, 0.1);
}


.agent_details_top {
    float: left;
    padding-top: 12px;
}
.menu-arrow-button {
    display: inline-block;
    font-family: vficons-regular-webfont,serif;
    vertical-align: top;
    line-height: 0px;
    padding-top: 12px !important;
}

/* Product popup modal */
.productPopUpModal .modal-header {
    border-bottom: 1px solid #e5e5e5;
}
.productPopUpModal .modal-dialog{
    margin-top: 50px;
}
.productPopUpModal .tab-content .row:nth-child(odd){
    background-color: #f2f2f2;
}
.productPopUpModal .tab-content .row{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.productPopUpModal .nav{
    margin-bottom: 15px;
}
.productPopUpModal .nav a{
    text-decoration: none;
}
.productPopUpModal .tab-content .overview .row:nth-child(odd){
    background-color: transparent;
}
.productPopUpModal .overview img{
    max-width: 100%;
}

#my-360-view-iframe {
    border: none;
    margin-top: 1rem;
    min-height: 70vh;
    width: 100%;
}

.item-volte {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    background: url(../images/4g_icon_red.svg) no-repeat center center;
    background-size: contain;
}

.item_ilt {
    background: url(../images/ilt_icon.png) top no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-left: 10px;
    vertical-align: middle;
    width: 25px;
}

.customer-results-table .customer-information {
    font-size: 14px;
}

.customer-results-table .customer-information div {
    min-height: 30px;
}

.customer-results-table .customer-information .refresh-icon {
    width: 34px;
    height: 34px;
    background: url(../images/refresh_icon.png) no-repeat;
    background-size: 34px 34px;
    display: inline-block;
    text-decoration: none;
    padding-top: 6px;
}

.update-details-table.clearfix {
    margin-bottom: 30px;
}

.ucfirst {
    text-transform: capitalize;
}

.hidden-non-password{
    text-security: disc;
    -webkit-text-security: disc;
    -moz-text-security: disc;
}

/* Coupon code field styling for extended shopping cart */
.cart_right_expanded_packages .package-item-description-coupon {
    visibility: visible;
    margin: 0;
    float: initial;
}

.submit-coupon-button,
input.submit-coupon-button {
    background: linear-gradient(to bottom, #F4F4F4 0%, #DADADA 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #CCCCCC !important;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    height: 29px;
    left: 72px;
    margin: 0;
    position: absolute;
    text-indent: -2px;
    top: 0px;
    vertical-align: super;
    width: 25px;
    font-family: vficons-regular-webfont;
    font-size: 19px;
}

.submit-coupon-button {
    font-family: vficons-regular-webfont;
    font-size: 19px;
    line-height: 29px !important;
    cursor: pointer;
    width: 30px;
}

.vf-icon {
    font-family: "vficons-regular-webfont" !important;
}

.cart-coupon-input {
    height: 25px;
    padding: 0 25px 0 6px !important;
}
.coupon-class div {
    padding-left: 0px !important;
}
.remove-coupon {
    font-style: normal;
    cursor: pointer;
    font-size: 12px;
    height: 44px;
    line-height: 2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #5b717c;
    padding: 10px 0;
    display: inline-block;
}

.remove-coupon:after {
    content: url(../images/icons-general-erase.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

#cart-content .submit-coupon-button {
    left: 173px;
}

/* Coupon code styling in shopping cart */
.cart-coupon-input {
    height: 25px;
    width: 92px;
    padding: 0 25px 0 6px;
    font-size: 12px;
}

.coupon .form-group .cart-coupon-input {
    font-size: 12px;
    line-height: 14px;
    padding-right: 25px;
    width: 92px;
}

.coupon-section {
    padding-bottom: 6px;
    background-color: #f8f8f8;
    font-size: 12px;
    border-top: 1px solid #CCC;
    line-height: 17px;
    margin-top: 5px;
    padding-right: 0px !important;
}

.service-stub-menu {
    margin-top: 14px;
}
.service-info-cable-entry-bandwidth {
    width: 50px !important;
}

#list_ctns {
    padding: 15px;
}

#products-content .ctn_list {
    padding: 1px 0 5px 0;
    border-top: 1px solid #000;
    clear: left;
}

#products-content .ctn_list li {
    padding: 8px;
}

.arrow_desc {
    cursor: pointer;
    background: url(../images/arrow_down.png) no-repeat right center;
}

.arrow_asc {
    cursor: pointer;
    background: url(../images/arrow_up.png) no-repeat right center;
}

#products-content .ctn-result-amount {
    padding: 30px 0 5px 0;
    font-size: large;
    font-weight: bold;
}

#products-content .ctn_overview ul {
    border-bottom: 1px dotted #DDD;
    padding: 5px 0;
    clear: both;
}


label.list-style {
    list-style: disc outside none;
    display: list-item;
    margin-left: 16px;
}

.ctn_box {
    cursor: pointer;
    margin: 0 auto;
    text-indent: -100000px;
    width: 25px;
}

.ctn_box.retainablectn {
    background: url(../images/retainable-icon.png) center center no-repeat;
}

.retainable {
    display:none
}

.cart_packages .side-cart.block .content .row.group-header:before {
    display: inline-block;
    width: 5px;
    background-color: red;
    content: "";
    color: red;
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
}

.select2-dropdown.select2-dropdown--below {
    z-index: 99999;
}

#inlife-confirm .modal-dialog {
    width: 720px !important;
}

#inlife-edit-block .validation-failed {
    border: 1px dashed #eb340a !important;
    background: #faebe7 !important;
}

#inlife-edit-block select.input-sm {
    height: 35px;
}

.sim-select .sim-new .list-inline li a.selected-sim {
    color: #800080;
    font-weight: bold !important;
}

div .conf-block .incomplete {
    color: #ff0000;
    padding-left: 5px;
}

div .conf-block .sim-select .incomplete {
    color: #ff0000;
}

div .side-cart .block .incomplete {
    color: #ff0000;
}

.col-right .enlarge.left-direction {
    position: absolute !important;
    border: 1px solid #D1D1D1;
    border-right: 0;
    box-shadow: -2px 0 1px -1px #B8B8B8;
}

.col-right .enlarge {
    top: 55px !important;
    left: -15px !important;
    width: 15px !important;
}

.enlarge {
    background: #FFF;
    border: 0;
    width: 17px;
    height: 19px;
}

.col-right.sidebar {
    width: 300px;
    height: calc(100% - 50px);
    top: 50px;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.cart_packages .side-cart.block.active .block-container .content .row.bullet-line > .name-row {
    white-space: inherit;
    text-overflow: inherit;
}

#right-panel-cart-menu ul li {
    min-width: 230px;
}

#checkout-wrapper .delivery_method_text {
    min-width: 325px;
    font-weight: normal;
    box-shadow: none;
    border: 1px solid #ccc;
    font-size: 14px;
}

.dropdown_delivery {
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn-group #delivery_method_text,
#payment_method_text {
    z-index: unset;
    text-align: left !important;
}

#delivery_choice {
    min-width: 325px;
}

#delivery-type,
#method-deliver,
#method-pickup {
    padding-right: 0px !important;
}

#checkout-wrapper .payment_method_text {
    font-weight: normal;
    box-shadow: none;
    border: 1px solid #ccc;
    min-width: 220px;
    font-size: 14px;
}

#payment_choice {
    min-width: 220px;
}
.notification-overview-button {
    width: 95px !important;
    height: 34px;
    border: 1px solid #99a1a5;
    border-radius: 3px;
    font-size: 14px;
    color: #2d4552;
    background-color: inherit;
    font-weight: 700;
}

.radio_button {
    position: relative;
}

#method-pickup input[type=text] {
    padding: 10px;
    font-size: 14px;
}

.view_stock_button {
    margin-top: 5px;
}

/* css specifically for order details */
.edit-mode .bs-sidenav {
    padding-left: 20px !important;
}

.edit-mode .error-message {
    max-width: 570px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
}

.edit-mode .superorder-totals .error-message {
    font-size: 12px;
    line-height: 14px;
    padding: 10px;
}

.edit-mode #cart #cart-content {
    height: 700px;
    width: 590px !important;
    overflow-y: auto;
    line-height: 1;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0px;
}

.edit-mode #checkout-wrapper {
    height: 100%;
}

.edit-mode #cart {
    overflow: hidden;
    position: absolute;
    height: 100%;
}

.edit-mode #cart #cart-content {
    height: 100%;
    height: calc(100% - 125px);
    height: -moz-calc(100% - 125px);
    height: -webkit-calc(100% - 125px);
    height: -o-calc(100% - 125px);
    height: -ms-calc(100% - 125px);
}

div .edit-mode .main .col-main {
    width: 100%;
}

.lock-info-spinner .credit-check-spinner {
    height: 70px;
    width: auto;
}

#cartTotalsDetails .fbold {
    padding: 1px 3px;
}

.cart_packages::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #f0f0f0;
    display: block;
}

.cart_packages::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(205, 205, 205, 0.75);
}

.cart_packages::-webkit-scrollbar-corner {
    background: #cdcdcd;
}

.item-picture-container .option-image-block {
    background-image: url(../images/empty-orderline-icon.png);
    background-size: 26px 26px;
}

#customer-screen-orders .btn-xs {
    padding: 3px;
    font-size: 11px;
}

.modal .modal-header h4 {
    width: 100% !important;
    padding-left: 25px !important;
    line-height: 1.3;
}

#lucom_sign_contract_failed .modal-dialog.modal-sm {
    width: 720px;
}

.family-status {
    padding-right: 10px;
}

.home_logo {
    width: 200px !important;
    margin-left: -10px !important;
}
.address-header{
    font-weight: bold;
    padding-bottom: 15px;
}

#fixed-telephone .col-md-5 {
    padding: 10px;
    text-align: center;
}

#cart-spinner-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 90px);
}

.address-check {
    width: 135px;
}

.serviceability-container {
    width: 540px;
}

span.loading-search {
    margin-top: -7px;
}
#address-check-container .address-check-text {
    font-weight: 700;
    font-size: 14px;
}
.stop-cancel {
    text-decoration: none;
}

#customer_info {
    float: left;
}

#ctn-width {
    width: 500px !important;
}

#checkout-wrapper {
    max-width: 790px !important;
}

.postal-width {
    width: 19% !important;
}

.houseno-width {
    width: 13% !important;
}

#checkout-wrapper input[type="radio"],
#checkout-wrapper input[type="checkbox"] {
    margin: 0px 0px 0px -20px !important;
}

.logout_button {
    display: inline-block;
    border-radius: 4px;
    margin-top: 14px;
    cursor: pointer;
    text-decoration: none;
}

.validateExactAddressMultipleResultsModal .error-box,
.serviceabilityMultipleResultsModal .error-box {
    border: #ffffe0;
    color: #000000 !important;
    padding: 10px;
    font-weight: 500;
    font-size: large;
    margin-bottom: 15px;
    background-color: #ffffe0 !important;
}

th.oo-middle {
    white-space: nowrap;
}

.serviceability-warning img {
    border: 0;
    width: 26px;
    vertical-align: top;
}
.serviceability-message {
    padding-bottom: 7px;
}
.notification-bar-warning {
    background-color: #F5B92F;
    font-size: 14px;
}
.notification-bar-success {
    background-color: #3C9F8C;
    font-size: 14px;
}

.notification-bar-error {
    background-color: #e2574c;
    font-size: 14px;
}
.col-left .sticker {
    width: 297px;
}
.notification-circle-icon {
    background: url("../images/cardinality_error.svg") no-repeat center;
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    padding-right: 0;
    margin-right: 0;
    margin-top: 1px;
    position: relative;
}
.notification-bar-warning .notification-circle-icon {
    background: url("../images/warning.svg") no-repeat center;
}
.notification-bar-success .notification-circle-icon {
    background: url("../images/check3.svg") no-repeat center !important;
}
.eligibility-check-row {
    margin: -85px 15px 0px 15px;
}
.notification-bar-text {
    position: relative !important;
    top: 17px !important;
    font-weight: 500 !important;
    font-family: "Roboto", 'Arial Regular', 'Arial', serif;
    line-height: normal;
    color: #000000;
    display: inline-block;
    padding-top: 5px;
    margin-left: -5px !important;
}
.notification-overview {
    position: relative;
    left: 280px !important;
    top: -10px;
}

.price-summary {
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #e3e3e3;
    background-color: #ffffff;
    padding: 20px 15px;
    margin: 10px 0;
}

.price-summary .price-summary-line {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    line-height: 24px;
    font-size: 14px;
    color: #2d4552;
}

.price-summary .price-summary-line .price-summary-line-text {
    display: inline-block;
    width: 320px;
}

.price-summary .price-summary-line .price-summary-line-price {
    display: inline-block;
    text-align: right;
}

.price-summary .price-summary-line .price-summary-line-price .price-summary-price-upfront {
    display: inline-block;
    width: 60px;
}

.price-summary .price-summary-line .price-summary-line-price .price-summary-price-monthly {
    display: inline-block;
    width: 60px;
}

.price-summary .price-summary-separator-single {
    width: 100%;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    margin: 10px 0;
}

.price-summary .price-summary-separator-double {
    width: 100%;
    height: 3px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin: 10px 0;
}

.price-summary .price-summary-header {
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.price-summary .price-summary-bold {
    font-weight: bold;
}

.price-summary .price-summary-light {
    color: #5b717c;
}

.price-summary .price-summary-total {
    font-weight: bold;
}

.price-summary .price-summary-total .price-summary-line-text {
    font-size: 16px;
}

.border-notify {
    padding: 3px !important;
    width: 107px;
    height: 27px;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.05);
}
.axi-notification-bar-warning {
    background: url("../images/icon.svg") no-repeat 10px center;
    padding: -5px;
    transition: height 1s !important;
    background-color: #fceeed;
    font-size: 14px;
    padding-right: 0 !important;
    margin: 10px 0 0 0 !important;
}
.notification-bar {
    position: fixed;
    top: -6px;
    width: 100%;
    z-index: 7999;
    padding: 15px;
    height: 56px;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: top 1s ease !important;
    -moz-transition: top 1s ease !important;
    -ms-transition: top 1s ease !important;
    -o-transition: top 1s ease !important;
    transition: top 1s ease !important;
}

.notification-bar.notification-bar-show {
    top: 50px;
}
.notification-bar-close {
    background: url("../images/cardinality_close.svg") no-repeat center;
    position: fixed;
    right: 20px;
    width: 24px !important;
    height: 24px !important;
    display: none;
    text-decoration: none;
    margin-top: 1px;
}

.notification-bar-button .btn {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-size: 16px;
    background-color: transparent;
    margin-right: 15px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 6px 25px;
    line-height: 26px;
    margin-top: -7px;
}
.notification-bar-button .btn:hover {
    color: #FFF;
    background-color: rgba(0,0,0,0.1);
}
.notification-bar-error p .notification-bar-button,
.notification-bar-success p .notification-bar-button,
.notification-bar-warning p .notification-bar-button
{
    display: inline-block;
}
.error-text-message {
    padding-left: 12px;
    position: relative;
    top: 4px !important;
}

.axi-notification-bar-text {
    margin-left: 55px !important;
    margin-top: -3px;
}

.axi-notification-overview {
    left: 524px !important;
}

.col-left .sticker {
    width: 100%;
    width: 297px;
}

#confirmation {
    margin-top: 40px !important;
}
.cart_packages .side-cart.block.active .block-container .content > .row {
    padding: 0 15px !important;
    margin: 2px 0 !important;
}
.cart_packages .side-cart.block.active .block-container .content .cart-group-content .row {
    margin: 0 !important;
    padding: 0 13px !important;
}
.cart_packages .side-cart.block.active .block-container .content .row > div {
    color: #2d4552;
    font-size: 12px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
}
.cart_packages .side-cart.block.active .block-container .content .row.price-header-row {
    background-color: #f2f3f4;
    margin: 0 !important;
    height: 20px !important;
    margin-bottom: 4px !important;
}
.cart_packages .side-cart.block.active .block-container .content .row.price-header-row > div.labels {
    font-size: 10px !important;
    font-weight: bold !important;
    line-height: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 60px;
}
.cart_packages .side-cart.block.active .block-container .content .row.bullet-line-new {
    padding: 5px 20px;
    border-bottom: none;
}
.cart_packages .side-cart.block.active .block-container .content .row.bullet-line-new > div {
    color: #5b717c;
    line-height: 11px;
}
.cart_packages .side-cart.block.active .block-container .content .row>.name-row {
    text-transform: none;
}

.cart_packages .side-cart.block.active .block-container .content .row.group-header > .name-row {
    text-transform: uppercase;
}

.notification-bar p {
    display: flex;
    justify-content: stretch;
}

.notification-bar p > * {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
}

.notification-bar p > .notification-bar-message {
    color: #FFFFFF;
    display: inline-block;
    margin: 0 15px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 14px;
    padding-top: 0;
}

.notification-bar p .notification-bar-close {
    position: relative;
    right: 0;
    padding-top: 0;
    margin-top: 0;
}

.notification-bar p .notification-bar-message strong {
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}

/* To flip glyphicon buttons */
span.glyphicon.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
.page-header-imei {
    padding-left: 47px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.package-information {
    color: #2D4552;
    font-size: 10px;
    display: inline-block;
}

.lock-icon {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    background-position: center center;
    background-size: 12px 16px;
    width: 12px;
    height: 16px;
}

#one-off-deal {
    background-color: #45ada8 !important ;
}

#customer_privacy_fixed input[type="checkbox"] {
    margin: 2px 0px 0px -20px !important;
}

.ils-info {
    padding: 8px 0 0 0 ;
}

.summary .section-content-fixedicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/fixed.svg);
    background-repeat: no-repeat;
}
.summary .section-content-mobileicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/mobile.svg);
    background-repeat: no-repeat;
}
.section-content-allicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/all.svg);
    background-repeat: no-repeat;
}

.technicianvalue {
    padding-left: 0px;
}

.products-section-products {
    margin-bottom: 25px;
}

.products-section-products .warning-message {
    font-size: 14px;
    color: #2d4552;
    font-weight: Bold;
    padding-top: 5px;
}

.products-section-products .renewal-check-button {
    width: 107px;
    height: 36px;
    border: 1px solid #99a1a5;
    border-radius: 3px;
    font-size: 14px;
    color: #2d4552;
    background-color: inherit;
    font-family: Roboto,serif;
    font-weight: 700;
}

span.retainable-loading-search {
    background: url(../../../omnius/default/images/de/gif_loader.gif) 0 no-repeat;
    background-size: 20px 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
}

.notification-bulb-icon {
    background: url(../../default/images/notification_bulb.svg) no-repeat center;
    background-size: 32px 32px;
    display: block;
    width: 49px;
    height: 45px;
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: -10px;
    position: relative;
}
.notification-bulb-message {
    position: relative !important;
    top: 6px;
    font-weight:bold;
    font-family: "Roboto", 'Arial Regular', 'Arial', serif;
    line-height:normal;
    color: #000000;
    display: inline-block;
    padding-top: 5px;
    margin-left: 7px !important;
}
.products-sub-package-header .product-details {
    text-align: left;
}
.products-sub-package-header .product-price {
    text-align: right;
    padding-right: 0px !important;
}
.products-sub-package-header .product-price span.info-icon {
    float: right;
}
.products-sub-package-header .product-price .price {
    margin-right: 10px;
}
.products-sub-package-header .info-icon:after {
    content: '';
    display: none;
}

.col-right .buttons-container .btn.disabled-mandatory {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #b7b7b7;
}

.col-right .buttons-container .btn.disabled-mandatory .option-image-block {
    opacity: .65 !important;
}

.btn.ils-disabled-mandatory {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65 !important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #b7b7b7;
}

.validateWarning {
    background-color: #fcaa30 !important;
}
:root {
    --dark-grey-blue: #2d4552;
    --black: #000000;
    --primary-dark: #007c92;
    --slate: #5b717c;
    --silver: #e9eaeb;
    --white: #ffffff;
    --silver-three: #bfc1c2;
    --silver-two: #d8d9da;
    --pale-grey-two: #f2f3f4;
}

#panel-cart .header {
    width: auto;
    display: table;
}

#panel-cart .header .shape-container {
    padding: 0 14px;
    box-shadow: inset -1px 0 0 0 #dcdcdc;
    display: table-cell;
    vertical-align: middle;
}

#panel-cart .header .shape {
    width: 8px;
    height: auto;
    vertical-align: middle;
    cursor: pointer;
}

#panel-cart .header .order-number {
    width: auto;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d4552;
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
}

#panel-cart .header .order-status {
    display: table-cell;
    vertical-align: middle;
}

#panel-cart .header .order-status span {
    display: inline-block;
    max-width: 100%;
    padding: 0px 10px;
    background-color: #5c5c5c;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#panel-cart .menu-actions {
    font-size: 10px;
    line-height: 2;
    height: 28px;
}

#panel-cart .menu-actions ul {
    margin-left: 10px;
    left: 60px;
}

#panel-cart .menu-actions ul > li {
    height: 28px;
    border-radius: 3px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
}

#panel-cart .menu-actions ul > li.more-actions-list {
    width: 100px;
    height: 28px;
    border-radius: 3px;
    background-color: #e9eaeb;
}

#panel-cart .menu-actions ul > li > a {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2d4552;
    line-height: 28px;
    text-decoration: none;
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li > a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2d4552;
    line-height: 28px;

}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li > div {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 4px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.cart-action-proceed {
    background: url(../../default/images/next_proceed.png);
}

.cart-action-edit {
    background: url(../../default/images/edit.svg);
}

.cart-action-email {
    background: url(../../default/images/e-mail.svg);
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li:hover > .cart-action-proceed {
    background-image:none;
    -webkit-mask-box-image: url(../../default/images/next_proceed.png);
    background-color: #ffffff;
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li:hover > .cart-action-edit {
    background-image:none;
    -webkit-mask-box-image: url(../../default/images/edit.svg);
    background-color: #ffffff;
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li:hover > .cart-action-email {
    background-image:none;
    -webkit-mask-box-image: url(../../default/images/e-mail.svg);
    background-color: #ffffff;
}

#panel-cart .menu-actions ul > li.more-actions-list > ul.actions-hover-menu {
    display: none;
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu {
    height: 80px;
    width: 198px;
    position: absolute;
    margin-top: 3px;
}

#panel-cart .menu-actions ul > li.more-actions-list:hover > ul.actions-hover-menu {
    display: block;
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li.proceed-checkout  {
    width: 198px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li.modify-shopping-bag {
    width: 198px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li.send-cartby-email {
    width: 198px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li {
    line-height: 18px;
    padding: 4px 15px;
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li:hover  {
    background-color: #00b0ca;
}

#panel-cart .menu-actions ul > li > ul.actions-hover-menu > li:hover > a {
    color: #ffffff;
}

#panel-cart .details-container .details-right-col {
    width: 198px;
    float: right;
    padding-left: 20px;
}

#panel-cart .details-container .details-right-col .table-mini {
    border-radius: 3px;
    border: solid 1px rgba(216, 217, 218, 0.5);
    background-color: rgba(159, 171, 178, 0.02);
    margin-bottom: 20px;
    padding: 14px 10px;
}

#panel-cart .details-container .details-right-col .table-mini h3 {
    height: 18px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
    padding-bottom: 12px;
}

#panel-cart .details-container .details-right-col .table-mini p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b717c;
    padding: 0;
    margin: 0;
}

#panel-cart .details-container .details-right-col .table-mini p.details-p {
    line-height: 1.71;
    color: #2d4552;
}

#panel-cart .details-container .details-right-col .table-mini hr {
    height: 1px;
    background-color: #d9d9d9;
    margin: 10px 0;
}

#panel-cart .details-container .details-right-col .table-mini ul {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    margin-bottom: 0px;
}

#panel-cart .details-container .details-right-col .table-mini ul li {
    line-height: 1.71;
}

#panel-cart .details-container .details-right-col .table-mini ul li a {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #58badc;
    padding: 0;
}

#panel-cart .details-container .details-right-col .table-mini ul li a:hover {
    color: #007c92 !important;
}

#panel-cart .details-container .details-right-col .table-mini ul li.disabled a {
    color: #00b0ca !important;
}

#panel-cart .details-container .details-preview-table {
    margin-top: 20px;
}

#panel-cart .details-container .details-preview-table .package-content-table {
    border-radius: 3px;
    border: solid 1px rgba(216, 217, 218, 0.5);
    margin-bottom: 10px;
    overflow: hidden;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-head {
    height: 50px;
    overflow: hidden;
    background-color: rgba(159, 171, 178, 0.02);
}
#panel-cart .details-container .details-preview-table .package-content-table .package-head .init {
    background-color: rgba(221, 221, 221, 0.5);
    width: 5px;
    height: 50px;
    float: left;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-head .package-details {
    float: left;
    width: 200px;
    padding: 10px;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-head .package-details img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-head .package-details .package-type {
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #5b717c;
    margin-top: 1px;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-head .package-details .orderline {
    height: 18px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
    margin-top: 2px;
    white-space: nowrap;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-head .order-status {
    float: right;
    padding-top: 15px;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-head .order-status span {
    display: inline-block;
    max-width: 100%;
    background-color: #5c5c5c;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding: 0 10px;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-head .round-box {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #d8d8d8;
    float: right;
    margin: 18px 14px;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-head .context-menu {
    float: right;
    width: 4px;
    padding: 18px 20px 0 2px;
    text-align: left;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-section {
    height: 24px;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 0 rgba(0, 0, 0, 0.03);
    background-color: rgba(45, 69, 82, 0.05);
    padding: 4px 15px 0 15px;
    display: table;
    width: 100%;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-section div {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #2d4552;
    text-transform: uppercase;
    display: table-cell;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-section div.section-onetime {
    width: 80px;
    text-align: right;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-section div.section-monthly {
    width: 80px;
    text-align: right;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-subsection {
    padding: 10px 0 20px 0;
}

#panel-cart .details-container .details-preview-table .package-content-table .subsection-element {
    background-color: #fafbfc;
    padding: 4px 15px 0 15px;
    display: table;
    width: 100%;
}

#panel-cart .details-container .details-preview-table .package-content-table .subsection-element div {
    display: table-cell;
}

#panel-cart .details-container .details-preview-table .package-content-table .subsection-element div.section-onetime {
    width: 80px;
    text-align: right;
    font-weight: normal;
}

#panel-cart .details-container .details-preview-table .package-content-table .subsection-element div.section-monthly {
    width: 80px;
    text-align: right;
    font-weight: normal;
}

#panel-cart .details-container .details-preview-table .package-content-table .subsection-big {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
}

#panel-cart .details-container .details-preview-table .package-content-table .subsection-small {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #5b717c;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-summary {
    background-color: #e9eaeb;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-summary .summary-contents {
    display: table;
    width: 100%;
    padding: 10px 10px 0 15px;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-summary .summary-contents div {
    display: table-cell;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-summary div.section-onetime {
    width: 80px;
    text-align: right;
    font-weight: normal;
}

#panel-cart .details-container .details-preview-table .package-content-table .package-summary div.section-monthly {
    width: 80px;
    text-align: right;
    font-weight: normal;
}

.shopping-bag-actions-text {
    width: 73px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #2d4552;
}

#panel-cart .package-content-table hr {
    height: 1px;
    background-color: #d9d9d9;
    margin: 0px;
}

#panel-cart .details-container .details-preview-table .sub-total-table {
    padding: 10px;
}

#panel-cart .details-container .details-preview-table .sub-total-table .package-section {
    height: 24px;
    box-shadow: none;
    background-color: #ffffff;
    padding: 10px 15px 0 15px;
    display: table;
    width: 100%;
}

.risk-approve {
    height: 56px;
    border: solid 1px rgba(216, 217, 218, 0.5);
    background-color: #fdf7e9;
    padding: 10px;
    margin-top: 10px;
}

.risk-approve-text {
    height: 18px;
    font-family: Roboto;
    font-size: 14px;
    color: #2d4552;
    font-weight: Bold;
    line-height: 18px;
    float: left;
    padding: 10px;
}

.risk-warning {
    padding: 0 !important;
    float: unset !important;
}

.risk-approve-button {
    width: 90px;
    height: 34px;
    padding: 6px;
    text-align: center;
    float: left;
    border: solid 1px rgba(216, 217, 218, 0.5);
}

.notification-cross-icon {
    background: url(../../default/images/icon.svg) no-repeat center;
    background-size: 32px 32px;
    display: block;
    width: 36px;
    height: 36px;
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    position: relative;
    margin-left: -10px;
}

.notification-warnings-icon {
    background: url(../../default/images/icon-warning.svg) no-repeat center;
    background-size: 32px 32px;
    display: block;
    width: 45px;
    height: 45px;
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    position: relative;
    margin-top: -10px;
}

.warning-bottom {
    margin-bottom: 15px;
}

.no-package-text {
    text-align: center;
    margin: 0 auto;
}

.no-package-text p:first-child {
    font-weight: bold;
}

.disable-products-sub-package {
    opacity: .3;
}
.product-missing {
    background: url(../images/ic-warning.svg);
    width: 20px;
    height: 20px;
    display: block;
    background-size: 20px 20px;
    float: right;
    top:35px;
    cursor: pointer;
    margin-top: 17px;
}
.subscription-missing {
    background: url(../images/ic-error.svg);
    width: 20px;
    height: 20px;
    display: block;
    background-size: 20px 20px;
    float: right;
    top:35px;
    cursor: pointer;
    margin-top: 17px;
}

.product-tooltip-header-hover {
    background-color: #000000;
}

.subscription-tooltip-header-hover {
    background-color: #000000;
}

#user-menu-content .middle-section .tab-content .tab-pane.active{
    max-width: 40%;
}

.modal .modal-dialog .modal-content {
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(217, 217, 217, 0.5);
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #2d4552;
}

.modal .modal-dialog .modal-content .modal-body .row textarea {
    background-color: #ffffff;
    margin: 8px 0 0 0;
}

.modal .modal-dialog .modal-content .modal-header {
    padding: 15px 15px 15px 15px;
}
.modal .modal-dialog .modal-content .modal-header .close {
    font-size: 0;
    width: 20px;
    height: 20px;
    background: url(../images/icons-navigation-close.svg) no-repeat;
    opacity: 1;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
    height: 30px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #2d4552;
    padding-left: 5px !important;
}
#order_status_refresh .modal-dialog.modal-sm {
    width: 590px;
}
#order_status_refresh .modal-header h4 {
    padding-left: 5px !important;
}

#order_status_refresh .modal-body {
    padding: 0 33px 0 20px;
}
.product-details-image {
    width: 30px;
    height: 30px;
    margin-top: 13px;
    padding: 0px;
    border: none;
    background-image: url(../images/empty-orderline-icon.png);
    background-size: 30px 30px
} #customer-search-container .potential-matches-pane .proceedButton {
      background-color: #575756 !important;
      -webkit-text-fill-color: white !important;
      border-radius: 5px;
  }
#customer-search-container .potential-matches-pane .vn-button {
    margin: 0 10px 0 0;
    border-radius: 5px;
}

#customer-search-container .actions {
    position: relative;
    padding: 1px 15px;
}
.vn-table.has-grouped .table-body .table-row {
    padding-right: 16px;
}

.serviceability-container .validation-advice {
    display: block;
    background: url(../../../omnius/default/images/validation_advice_bg.gif) 2px 0 no-repeat;
    top: 35px;
    color: #df280a;
    font-size: 11px;
    line-height: 18px;
    min-height: 18px;
    position: absolute;
    padding: 0 15px;
    border-radius: 5px;
    box-shadow: none;
    left: 0px;
    min-width: 100px;
    text-align: left;
}

/* serviceability validation */
#addressCheckForm .form-group.error input,
#topaddressCheckForm .form-group.error input {
    border: 2px solid #e2574c;
    padding: 6px 11px;
}

#addressCheckForm input[type="number"]::-webkit-outer-spin-button,
#addressCheckForm input[type="number"]::-webkit-inner-spin-button,
#topaddressCheckForm input[type="number"]::-webkit-outer-spin-button,
#topaddressCheckForm input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#addressCheckForm input[type="number"],
#topaddressCheckForm input[type="number"] {
    -moz-appearance: textfield;
}

#addressCheckForm .form-group .tooltip,
#moveServiceAddressCheckForm .form-group .tooltip,
#topaddressCheckForm .form-group .tooltip {
    left: 0 !important;
    top: 20px;
}

#addressCheckForm .form-group .tooltip .tooltip-arrow,
#topaddressCheckForm .form-group .tooltip .tooltip-arrow {
    border-bottom-color: #e2574c;
}

#moveServiceAddressCheckForm .form-group .tooltip .tooltip-arrow {
    border-top-color: #e2574c;
}

#addressCheckForm .form-group .tooltip .tooltip-inner,
#moveServiceAddressCheckForm .form-group .tooltip .tooltip-inner,
#topaddressCheckForm .form-group .tooltip .tooltip-inner {
    background-color: #e2574c;
}

#addressCheckForm .tooltip .tooltip-inner,
#moveServiceAddressCheckForm .tooltip .tooltip-inner,
#topaddressCheckForm .tooltip .tooltip-inner {
    box-shadow: none;
    padding: 7px 11px;
    font-weight: bold;
    font-size: 14px;
}

#addressCheckForm .error label,
#moveServiceAddressCheckForm .error label{
    color: #2d4552;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 */
    .cart_right_expanded p.title {
        height: 30px;
        text-transform: capitalize;
        background-size: 28px 28px;
        line-height: 35px;
        background-position-y: 1px;
    }
    *::-ms-backdrop,
    .cart_right_expanded p.title {
        height: 30px;
        text-transform: capitalize;
        background-size: 28px 28px;
        line-height: 35px;
        background-position-y: 1px;
    }

    *::-ms-backdrop,
    .right_expanded_packets .package-summary p, .right_expanded_packets .package-summary p:first-child {
        color: #2d4552 !important;
    }
}

img.fallback-img {
    content: url(../images/orderline-icon.png);
}

img.fallback-img.mobiel {
    content: url(../../../omnius/default/images/de/icon-mobile-red.svg);
}

.div-padding {
    padding: 10px;
}

.div-padding .products-sub-package-header {
    margin-left: 0px;
    line-height: 56px;
    vertical-align: middle;
    color: #2d4552;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.15);
}

.addons .category-title {
    display: flex;
}

.cable-product-details-content .product-name,
.fixed-product-details-content .product-name,
.fixed-product-details-content .right-column-content .addon-title,
.product-details-content-container .product-name,
.product-details-content-container .right-column-content .addon-title {
    font-family: Roboto;
    font-size: 14px;
    color: #2d4552;
    font-weight: Bold;
    line-height: 18px;
}

.product-details-content-title.category-title {
    font-family: Roboto;
    font-size: 12px;
    color: #2d4552;
    font-weight: Bold;
    line-height: 20px;
    padding-left: 10px;
}

.products-sub-package-header .product-name {
    padding-top: 13px;
    font-weight: 500;
}

.products-sub-package-header .product-phone-number {
    font-family: Roboto;
    font-size: 10px;
    color: #5b717c;
    font-weight: Bold;
    line-height: 10px;
    padding-top: 4px;
    width: 480px;
}


.single-email-container {
    position: relative;
}

.dummy_email_checkbox .checkbox {
    float: left;
}

.privacy-section-header {
    font-size: 14px;
}

.detailed-status {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #eef8fb;
}

.order-service-address {
    text-align: left;
    background-color: #00B1C6;
    color: #fff;
    margin-bottom: 20px;
}

#customer-search-container .vn-customer-search {
    height: calc(100% - 15px);
}
.products-sub-package span.renewable, .products-sub-package span.not-renewable {
    font-size: 8px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 0 4px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}
.products-sub-package span.renewable {
    background-color: #53bade;
}
.products-sub-package span.not-renewable {
    background-color: #e2574c;
}

#customer-search-container .vn-button.secondary {
    border-radius: 3px;
    padding-right: 10px;
}

.privacy-box .checkbox {
    margin-bottom: 0px;
}
.line-seperator {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    margin: 0px;
}
.dropdown-menu li > a {
    font-size: 13px;
    padding: 3px 20px !important;
    margin: 0 5px;
    border-radius: 2px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

#cart_totals .div-table tbody .div-table-cell, #cart_totals .gesamt-min .grand-total .div-table-cell {
    color: #2d4552!important;
    font-weight: 500;
    font-size: 12px !important;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    transition: all 150ms linear;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    cursor: pointer;
    position: absolute;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.loan-banner {
    height: 42px;
    width: 100%;
    border-radius: 3px;
    border: solid 1px #2c4553;
    background-color: #ffffff;
    background-image: url(../images/geld-lenen-kost-geld.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 0 0 0;
}

.expanded-package-container {
    height: 93%;
}
#config-wrapper .conf-block .item-hardware-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: -5px;
    width: 18px;
    height: 25px;
    background: url(../images/Icons_Info.svg) no-repeat center center;
}

.hardware-tooltip {
    font-family: Roboto !important;
    font-style: normal !important;
    font-stretch: normal !important;
    letter-spacing: normal !important;
    color: #2d4552;
    padding: 8px 8px 8px 15px !important;
}

.hardware-tooltip-title {
    height: 20px !important;
    font-size: 10px !important;
    font-weight: bold !important;
    line-height: 2 !important;
    text-transform: uppercase;
}

.hardware-tooltip-text {
    height: 18px !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 1.29 !important;
}

.hardware-main-div tr {
    border-top: none !important;
}

.hardware-main-div tr:hover {
    background: none !important;
}

.hardware-info .tooltip-inner {
    background-color : #ffffff !important;
    max-width: 450px;
    min-width: 220px;
    opacity: 1.0;
    filter: alpha(opacity=100);
    box-shadow : 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.hardware-info > .tooltip-arrow {
    border-right-color: #ffffff !important;
}

.hardware-info > .tooltip-inner {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.hardware-info.in {
    opacity: 1!important;
}

.notification-warning-banner {
    background: url(../images/icon.svg) no-repeat 50%;
    background-size: 32px 32px;
    display: inline-block;
    width: 32px;
    height: 32px;
    float: left;
    margin: 13px 17px 0;
}

.progress-indicator {
    width: 100%;
    margin: 10px 0;
}

.progress-indicator .progress-indicator-bar {
    background-color: #f2f3f4;
    height: 24px;
    border-radius: 3px;
    width: 100%;
}

.progress-indicator .progress-indicator-bar .progress-indicator-bar-progress {
    background-image: linear-gradient(to right, #e60000, #f48c00);
    height: 100%;
    border-radius: 3px;
}
.radio input[type=radio]:checked ~ .circle {
    border-color: #00b0ca !important;
    background: #00b0ca !important;
}
.checkbox label {
    cursor: pointer;
    padding-left: 0;
    color: rgba(0,0,0, 0.26); }
.form-group.is-focused .checkbox label {
    color: rgba(0,0,0, 0.26); }
.form-group.is-focused .checkbox label:hover, .form-group.is-focused .checkbox label:focus {
    color: #d9d9d9; }
fieldset[disabled] .form-group.is-focused .checkbox label {
    color: rgba(0,0,0, 0.26); }
.checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none; }
.checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 1px;
    padding-right: 5px;
    display: inline-block; }
.checkbox .checkbox-material:before {
    display: none!important;}
.checkbox .checkbox-material .check {
    background: #ffffff;
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    z-index: 1;
    border-radius: 3px; }
.checkbox .checkbox-material .check:before {
    position: absolute;
    content: "";
    transform: rotate(45deg);
    display: block;
    margin-top: -4px;
    margin-left: 6px;
    width: 0;
    height: 0;
    background: red;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    -webkit-animation: checkbox-off 0.3s forwards;
    -moz-animation: checkbox-off 0.3s forwards;
    -o-animation: checkbox-off 0.3s forwards;
    -ms-animation: checkbox-off 0.3s forwards;
    animation: checkbox-off 0.3s forwards; }
.checkbox input[type=checkbox]:focus + .checkbox-material .check:after {
    opacity: 0.2; }
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #ffffff;
    border: 1px solid #45ADA8; }
.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #00b0ca !important;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    -webkit-animation: checkbox-on 0.3s forwards;
    -moz-animation: checkbox-on 0.3s forwards;
    -o-animation: checkbox-on 0.3s forwards;
    -ms-animation: checkbox-on 0.3s forwards;
    animation: checkbox-on 0.3s forwards; }
.checkbox input[type=checkbox]:checked + .checkbox-material:before {
    -webkit-animation: rippleOn 500ms;
    -moz-animation: rippleOn 500ms;
    -o-animation: rippleOn 500ms;
    -ms-animation: rippleOn 500ms;
    animation: rippleOn 500ms; }
.checkbox input[type=checkbox]:checked + .checkbox-material .check:after {
    -webkit-animation: rippleOn 500ms forwards;
    -moz-animation: rippleOn 500ms forwards;
    -o-animation: rippleOn 500ms forwards;
    -ms-animation: rippleOn 500ms forwards;
    animation: rippleOn 500ms forwards; }
.checkbox input[type=checkbox]:not(:checked) + .checkbox-material:before {
    -webkit-animation: rippleOff 500ms;
    -moz-animation: rippleOff 500ms;
    -o-animation: rippleOff 500ms;
    -ms-animation: rippleOff 500ms;
    animation: rippleOff 500ms; }
.checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
    -webkit-animation: rippleOff 500ms;
    -moz-animation: rippleOff 500ms;
    -o-animation: rippleOff 500ms;
    -ms-animation: rippleOff 500ms;
    animation: rippleOff 500ms; }
fieldset[disabled] .checkbox, fieldset[disabled] .checkbox input[type=checkbox],
.checkbox input[type=checkbox][disabled] ~ .checkbox-material .check,
.checkbox input[type=checkbox][disabled] + .circle {
    opacity: 0.5; }
.checkbox input[type=checkbox][disabled] ~ .checkbox-material .check {
    border-color: #EEEEEE; }
.checkbox input[type=checkbox][disabled]:checked ~ .checkbox-material .check:before {
    color: #45ADA8 !important;
    filter: grayscale(1); }
.checkbox input[type=checkbox][disabled] + .checkbox-material .check:after {
    background-color: rgba(0,0,0, 0.87);
    transform: rotate(-45deg); }

.progress-indicator .progress-indicator-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.progress-indicator .progress-indicator-information .progress-indicator-information-title {
    font-family: Roboto;
    font-size: 14px;
    color: #5b717c;
    font-weight: normal;
    line-height: 18px;
}

.progress-indicator .progress-indicator-information .progress-indicator-information-percentage {
    font-family: Roboto;
    font-size: 18px;
    color: #2d4552;
    font-weight: normal;
    line-height: 24px;
}

.smallView .sticker {
    display: block !important ;
}
.smallView .sticker .customer_left_search {
    background: transparent ;
}
.smallView .sticker .customer_left_search .vn-header.title {
    display: none ;
}
.smallView .sticker .customer_left_search .vn-customer-search {
    display: none ;
}
.smallView .sticker .customer_left_search .vn-drawer {
    left: 48px !important;
}
.icons-general-sim-card {
    content: url(../../default/images/icons-general-sim-card.svg);
    float: left;
    padding: 8px 0 0 8px;
}

#cart-content .connectionbox-content .row {
    padding-bottom: 0px !important;
}

.modal.new-style-modal .modal-body .loading-box {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.new-style-modal .modal-body .loading-box:before {
    width: 40px;
    height: 40px;
    background-image: url(../images/spinner.svg);
    content: '';
    animation: spin 4s linear infinite;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center center;
}

.modal.new-style-modal .orderline-section-table label {
    font-size: 14px !important;
    font-weight: normal;
    margin: 0px !important;
}
.modal.new-style-modal .orderline-section-table hr {
    margin-bottom: 0px;
    margin-top: 5px;
}
.modal.new-style-modal .separator-single {
    width: 100%;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    margin: 15px 0px 15px 0px;
}
.modal.new-style-modal .separator-double {
    width: 100%;
    height: 3px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin: 10px 0;
}

.note-description .note-body {
    font-size: 14px;
    line-height: 2;
    color: #2d4552;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-top: 20px !important;
}
.note-description .note-date,
.note-description .note-date span{
    height: 14px;
    font-size: 12px;
    font-weight: bold;
    color: #324d5b;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.note-description .note-date span {
    text-decoration: underline;
}
.note-area {
    position: relative;
}
.characters-left {
    float: right;
    width: 40px;
    height: 11px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    text-align: center;
    color: #5b717c;
    position: absolute;
    bottom: 10px;
    right: 0px;
}

#connectManuallyModal .characters-left, #packageNotesModal  .characters-left {
    width: 35px;
}

.note-agent-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.note-agent-email {
    color: white;
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.note-agent-phone {
    margin-top: 15px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

#packageNotesModal .modal-header,
#packageNotesModal .modal-header {
    margin-bottom: 0px!important;
}

#packageNotesModal .form-group {
    padding-bottom: 0px;
    margin: 0px;
}

#packageNotesModal .form-group textarea{
    margin-top: 3px !important;
    margin-bottom: 20px;
    height: 135px;
    padding: 10px 12px;
    resize: none;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    line-height: 1.29;
}

#coupon-check-invalid-coupon .message {
    margin-top: 10px;
}

#packageNotesModal .form-group .input-wrapper{
    margin-bottom: 14px;
}

#packageNotesModal .hidden {
    display: none!important;
}

.sc-note-icon {
    background-size: 21px !important;
    background-position: 13px !important;
    padding-left: 30px;
}

.connect-manually-note .form-group textarea {
    margin-top: 3px !important;
    margin-bottom: 0px;
    height: 135px;
    padding: 10px 12px;
    border: 1px solid #d9d9d9 !important;
}
/* Notes modal styles END */


/* ######################################################################## */

.orderline-action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}
.orderline-action .orderline-action-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.orderline-action .orderline-action-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    background-image: url(../images/three-dots.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.orderline-action.contextmenu-action {
    position: relative;
}

.orderline-action.contextmenu-action ul.contextmenu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 198px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border: #d8d9da;
    border-radius: 3px;
    background-color: #ffffff;
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item.disabled{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    pointer-events: none;
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover {
    background-color: #00b0ca;
    cursor: pointer;
    color: #ffffff;
}

.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 10px;
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.disabled {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 10px;
    opacity: 0.5;
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover .contextmenu-item-icon.note-icon {
    background-image: url(../images/baseline-chat_bubble-white.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover .contextmenu-item-icon.edit-icon {
    background-image: url(../images/icons-general-edit-white.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover .contextmenu-item-icon.connect-icon {
    background-image: url(../images/icons-general-sim-card-white.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover .contextmenu-item-icon.delete-icon {
    background-image: url(../images/icons-general-delete-white.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover .contextmenu-item-icon.duplicate-icon {
    background-image: url(../images/duplicate-w.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item:hover .contextmenu-item-icon.promotion-icon {
    background-image: url(../images/icons-general-add-white.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.note-icon {
    background-image: url(../images/baseline-chat_bubble.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.edit-icon {
    background-image: url(../images/icons-general-edit.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.connect-icon{
    background-image: url(../images/icons-general-sim-card.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.delete-icon {
    background-image: url(../images/icons-general-delete.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.duplicate-icon {
    background-image: url(../images/duplicate.svg);
}
.orderline-action.contextmenu-action ul.contextmenu li.contextmenu-item .contextmenu-item-icon.promotion-icon {
    background-image: url(../images/icons-general-add.svg);
}

.orderline-action.contextmenu-action.expanded ul.contextmenu {
    display: block;
    z-index: 1;
}

.expanded-package-details {
    height: calc(100% - 330px);
    height: -moz-calc(100% - 330px);
    height: -webkit-calc(100% - 330px);
    padding-right: 0px;
    margin-right: 15px;
}

.smallView #left-customer-info {
    display: none;
}

/* Primary button disable */
.btn-primary-disabled.disabled {
    background-color: #b7b2b2 !important;
    line-height: 1.38 !important;
    color: var(--pale-grey-two) !important;
    background-image: none !important;
}

.radio-item .radio-popdown p {
    font-size: 14px;
    padding: 0 5px;
    width: 518px;
    color: #2d4552;
    line-height: 24px;
}

.gd.modal .alert-warning {
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    min-height: 56px;
    line-height: 56px;
    padding-left: 0;
}

.gd.modal .alert-warning .notif-msg {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    padding-top: 17px;
    color: #2d4552;
    display: inline-block;
}

.modal.new-style-modal .form-group .form-control {
    border: none;
}

#order-preview-container .details-container .details-preview-table .package-content-table .package-head .order-status.cancel-status span
{
    background-color: #d9534f;
}
.consolidate-details {
    display: inline-block;
    cursor: pointer;
    margin-top: 11px !important;
}

.modal .modal-content p {
    margin-bottom: 0;
}
.col-md-12-header {
    position: relative;
    min-height: 1px;
    padding-right: 1px !important;
    padding-left: 0px !important;
}


#checkout-wrapper .connection-details .checkbox-options .checkbox label {
    margin: 18px 15px;
    padding: 0px;
}

#checkout-wrapper .connection-details .checkbox-options .checkbox label .checkbox-text {
    white-space: nowrap;
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#checkout-wrapper .connection-details .checkbox-options .checkbox label .checkbox_headerInput {
    float: left;
    height: 18px;
    width: 18px;
}

#checkout-wrapper .connection-details .checkbox label {
    padding-left: 0px;
}
#checkout-wrapper .connection-details .checkbox-options .checkbox label span {
    font-size: 14px;
    left: unset;
    top: unset;
    position: relative;
    float: left;
}

#checkout-wrapper .connection-details .checkbox-options .checkbox label .checkbox_header {
    float: left;
}

#checkout-wrapper .connection-details .checkbox-options .checkbox label .checkbox_header  span.checkout_header_text {
    padding: 0px 8px;
}

.connection-details .checkbox-collection div.checkbox span.info_icon {
    background: url(../../../vznl/default/images/icon-info-black.png) no-repeat 50%;
    background-size: 15px 15px;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    padding: unset;
}

.tab-details.packages, .tab-details.details, .tab-details.addons, .tab-details.goodies, .tab-details.materials {
    padding: 0 10px 10px;
}

.tab-details.packages .products-sub-package-header,
.tab-details.details .products-sub-package-header,
.tab-details.addons .products-sub-package-header,
.tab-details.goodies .products-sub-package-header,
.tab-details.materials .products-sub-package-header {
    margin: 10px 0 0;
    line-height: 56px;
    vertical-align: middle;
    color: #2d4552;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.15);
}

.tab-details.details .tab-content .product-hardware-row {
    margin-bottom: 10px;
}

#remove-saved-quote-modal .cart {
    display: none;
    padding-top: 26px !important;
}
.fixedSubtype {
    width: 100% !important;
}
#shopping-bag .shopping-bag-head .buttons-container .order-edit-mode {
    pointer-events: none;
    color: #ccc!important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 */
    #checkout-wrapper .connection-details .checkbox-options .checkbox label span {
        left: 1px !important;
        top: 6px !important;
        padding-left: 2px !important;
    }
    *::-ms-backdrop,
    #checkout-wrapper .connection-details .checkbox-options .checkbox label span {
        left: 1px !important;
        top: 6px !important;
        padding-left: 2px !important;
    }
}

.notification-banner-title.riskpadding {
    padding-top: 17px !important;
}
.has-spinner.btn.active .btn-spinner {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    vertical-align: text-top;
}

.btn-spinner-inner {
    animation: spin 1s linear infinite;
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../images/button-loading-white.svg);
    background-size: contain;
}


@media screen\0 {
    #checkout-wrapper .connection-details .checkbox-options .checkbox label {
        margin: 12px 15px 22px 15px;
        padding: 0px;
    }
}

@media screen\0 {
    #save-cart-modal .modal-body .input-wrapper.is-empty label {
        top: 15px !important;
    }
    #save-cart-modal .modal-body label {
        top: -8px !important;
    }
    #save-cart-modal .form-group .input-wrapper input {
        top: 0px !important;
    }
    #moveServiceAddressCheckModal .form-group .input-wrapper input {
        top: 0px !important;
    }

    .modal.new-style-modal .form-group label {
        top: -8px !important;
        margin-top: 15px !important;
    }
}

#order-onetime-phone {
    max-width: calc(100% - 83px);
}

/*
    checkbox modal window
*/
.modal.new-style-modal .checkbox-options {
    margin: 5px 0;
}
.modal.new-style-modal .checkbox-options .checkbox-collection {
    position: relative;
}
.modal.new-style-modal .checkbox-options .checkbox-collection:after {
    content: url(../images/expand.svg);
    position: absolute;
    z-index: 1;
    top: 21px;
    right: 23px;
    transition: transform 200ms;
    transform: rotate(-90deg);
    pointer-events: none;
}
.modal.new-style-modal .checkbox-options .checkbox-collection .checkbox-popdown {
    display: none;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(217, 217, 217, 0.5);
}
.modal.new-style-modal .checkbox-options .checkbox-collection .checkbox-popdown > .row {
    padding: 0 10px;
}
.modal.new-style-modal .checkbox-options .checkbox-collection .checkbox-popdown > .row > div {
    padding: 0 5px;
}
.modal.new-style-modal .checkbox-options .checkbox-collection.checked:after {
    transform: rotate(90deg);
}
.modal.new-style-modal .checkbox-options .checkbox-collection.checked > .checkbox-popdown {
    padding: 20px 5px;
    display: block;
}
.modal.new-style-modal .checkbox-options .checkbox-collection:first-child .checkbox {
    border-top: 1px solid #d9d9d9;
}
.modal.new-style-modal .checkbox-options .checkbox {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-top: none;
    margin: 0;
    z-index: 1;
    padding-left: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}
.modal.new-style-modal .checkbox-options .checkbox label {
    display: block;
    margin: 0;
    color: #2d4552;
    font-size: 14px !important;
    font-family: Roboto, Helvetica, sans-serif !important;
    font-weight: normal;
    line-height: 56px;
    padding: 0 20px 0 40px;
}
.modal.new-style-modal .checkbox-options > .checkbox:first-child {
    border-top: 1px solid #d9d9d9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.modal.new-style-modal .checkbox-options > .checkbox:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.modal.new-style-modal .checkbox-options > .checkbox-item:first-child .checkbox {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.modal.new-style-modal .checkbox-options .checkbox-item:last-child > .checkbox {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.modal.new-style-modal .checkbox-options .checkbox-item:last-child > .checkbox-popdown {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.modal.new-style-modal .checkbox-options .checkbox-item.checked:last-child > .checkbox {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.modal.new-style-modal .checkbox-wrapper {
    display: flex;
    align-items: center;
    background: #f2f3f4;
    border-radius: 3px;
    height: 44px;
    padding: 0 12px;
}
.modal.new-style-modal .checkbox-disabled > label {
    opacity: 0.3;
    pointer-events: none;
}
.modal.new-style-modal .checkbox-options .checkbox label span {
    left: 7px;
    top: 10px;
    position: absolute;
    margin-left: 0;
}

.modal.new-style-modal .form-group label {
    color: #5b717c;
}

.modal.new-style-modal p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px !important;
}

.note-description .note-body {
    font-size: 14px;
    line-height: 2;
    color: #2d4552;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-top: 20px !important;
}
.note-description .note-date,
.note-description .note-date span{
    height: 14px;
    font-size: 12px;
    font-weight: bold;
    color: #324d5b;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.note-description .note-date span {
    text-decoration: underline;
}
.note-area {
    position: relative;
}

.note-agent-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.note-agent-email {
    color: white;
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.note-agent-phone {
    margin-top: 15px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

#packageNotesModal .modal-header,
#packageNotesModal .modal-header {
    margin-bottom: 0px!important;
}

#packageNotesModal .form-group {
    padding-bottom: 0px;
    margin: 0px;
}

#packageNotesModal .form-group textarea {
    margin-top: 3px!important;
    margin-bottom: 20px;
    height: 135px;
    padding: 10px 12px;
}

#coupon-check-invalid-coupon .message {
    padding-top: 0px;
}

#packageNotesModal .form-group .input-wrapper{
    margin-bottom: 14px;
}

#packageNotesModal .hidden {
    display: none!important;
}

.sc-note-icon {
    background-size: 21px !important;
    background-position: 13px !important;
    padding-left: 30px;
}
/* Notes modal styles END */
#customer-search-results .customer-results-table.customer-panel-table #cart-content::-webkit-scrollbar, #customer-search-results .customer-results-table.customer-panel-table::-webkit-scrollbar, .cart_packages::-webkit-scrollbar, .side-cart.active .content::-webkit-scrollbar, .sticker #cart-spinner-wrapper::-webkit-scrollbar {
    display: block !important;
}
.bundle-package-block.default:hover {
    background-color: #ffffff;
}

.bundle-package-block.multipackage:hover{
    background: #fafbfc url(../images/icons-general-edit.svg) no-repeat 95% 45%;
    cursor: pointer;
}

.bundle-package-entry.disabled{
    background: url(../images/check2.svg) no-repeat 95% 45%;
    background-color: #3c9f8c !important;
    color: #fff !important;
    opacity: 100;
    width: 125px !important;
    margin-left: -35px;
    padding: 0 15px 0 0px;
}

.error {
    color: #e2574c;
}
.col-left.sidebar.veryBigView {
    min-width: 95vw!important;
}
.col-left.sidebar.veryBigView .panel-content {
    width: calc(100% - 300px);
}
.col-left.sidebar .panel-content .inner,
.col-left.sidebar .panel-content .inner .tab-content {
    height: 100%
}
.col-left.sidebar .panel-content .inner .tab-content .user-info-iframe {
    height: calc(100% - 210px);
    border: 0;
}
@media only screen and (max-width: 1024px) {
    .col-left.sidebar.expanded {
        width:100%!important;
    }
}

.block-container .col-sm-3 {
    padding-right: 7px !important;
}

#agent_details_top_left.grey {
    color: #919193;
}

#agent_details_top_left span {
    visibility: hidden;
    display: none;
}

#agent_details_top_left.grey span {
    visibility: visible;
}

.peal-info {
    padding-top: 15px;
}

.error {
    color: #e2574c;
}

.hardware_name_fixed {
    font-size: 10px;
    line-height: 2em;
    color: #2d4552;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.agent-account-temporarypassword .col1-layout .account-login {
    width: 420px;
}

.col-left.sidebar.veryBigView {
    min-width: 95vw!important;
}
.col-left.sidebar.veryBigView .panel-content {
    width: calc(100% - 300px);
}
.col-left.sidebar .panel-content .inner,
.col-left.sidebar .panel-content .inner .tab-content {
    height: 100%
}
.col-left.sidebar .panel-content .inner .tab-content .user-info-iframe-wrapper {
    height: calc(100% - 150px);
    overflow: hidden;
}
.col-left.sidebar .panel-content .inner .tab-content .user-info-iframe {
    height: calc(100% - 5px);
    border: 0;
    width: 100%
}

.block-container .col-sm-3 {
    padding-right: 7px !important;
}

#agent_details_top_left.grey {
    color: #919193;
}

#agent_details_top_left span {
    visibility: hidden;
    display: none;
}

#agent_details_top_left.grey span {
    visibility: visible;
}
.user-info-iframe-holder {
    width:100%;
    overflow: auto;
    height: 100%;
}

.user-info-iframe {
    min-width: 1400px;
}
span.inline-label {
    display: inline-block;
    height: 20px;
    background-color: #00b0ca;
    color: #ffffff;
    border-radius: 3px;
    padding: 4px 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1em;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    margin-left: 4px;
}

span.inline-label > a.inline-label-remove {
    display: block;
    float: right;
    margin-left: 6px;
    width: 12px;
    height: 12px;
    background-image: url(../images/icon-label-remove.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

span.inline-label > a.inline-label-remove.loading {
    background-image: url(../images/button-loading-white.svg);
    animation: spin 1s linear infinite;
    background-color: transparent;
    border-radius: 0;
}

.cb_slide_panel h1 {
    text-shadow: none;
}

#checkout-wrapper input[type="checkbox"].reuse-checkbox {
    pointer-events: all !important;
}
.tooltip-inner h5{
    color: #fff;
}
#change_delivery_address .modal-dialog .modal-content .modal-header .modal-title {
    padding-left: 0px !important;
}
#change_delivery_address .modal-dialog .modal-content .modal-header h4.modal-title {
    font-size: 17px;
}
#change_delivery_address .radio-box {
    margin: 10px 0;
}
#change_delivery_address .radio-box .radio-item {
    padding-left: 0;
}

#change_delivery_address .radio-box .radio-item:first-child {
    border-radius: 3px 3px 0 0;
}

#change_delivery_address .radio-box .radio-item:first-child > .radio {
    border-radius: 3px 3px 0 0;
}

#change_delivery_address .radio-box .radio-item:last-child {
    border-radius: 0 0 3px 3px;
}

#change_delivery_address .radio-box .radio-item:last-child > .radio {
    border-radius: 0 0 3px 3px;
}

#edit_ilt .radio-box {
    margin: 10px 0;
}

#edit_ilt .radio-box .radio-item {
    padding-left: 0;
}

#edit_ilt .radio-box .radio-item:first-child {
    border-radius: 3px 3px 0 0;
}

#edit_ilt .radio-box .radio-item:first-child > .radio {
    border-radius: 3px 3px 0 0;
}

#edit_ilt .radio-box .radio-item:last-child {
    border-radius: 0 0 3px 3px;
}

#edit_ilt .radio-box .radio-item:last-child > .radio {
    border-radius: 0 0 3px 3px;
}


#change_delivery_address .radio-box .radio,
#edit_ilt .radio-box .radio {
    position: relative;
    background: #fff;
    border: 1px solid #d9d9d9;
    margin: -1px 0 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    padding-left: 0;
}

#change_delivery_address .radio-box .radio label,
#edit_ilt .radio-box .radio label {
    display: block;
    padding: 19px 20px 18px 41px;
    margin: 0;
    font-size: 14px;
    color: #4A4A4A;
    font-weight: 400;
}

#change_delivery_address .radio-box .radio label span,
#edit_ilt .radio-box .radio label span {
    left: 18px;
    top: 19px;
    font-size: 17px;
    position: absolute;
}

#change_delivery_address .radio-box .radio-collection,
#edit_ilt .radio-box .radio-collection {
    position: relative;
}

#change_delivery_address .radio-box .radio-collection:after,
#edit_ilt .radio-box .radio-collection:after {
    content: url(../images/expand.svg);
    position: absolute;
    top: 21px;
    right: 23px;
    transition: transform 200ms;
    transform: rotate(-90deg);
    pointer-events: none;
}

#change_delivery_address .radio-box .radio-collection .radio,
#edit_ilt .radio-box .radio-collection .radio {
    margin-top: -1px;
    padding-left: 0;
}

#change_delivery_address .radio-box .radio-collection .radio-popdown,
#edit_ilt .radio-box .radio-collection .radio-popdown {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(217, 217, 217, 0.5);
    padding: 20px 5px;
    margin-bottom: -3px;
    display: none;
}


#change_delivery_address .radio-box .radio-collection .radio-popdown > .row {
    padding: 0 10px;
}

#change_delivery_address .radio-box .radio-collection .radio-popdown > .row > div {
    padding: 4px 5px;
}

#change_delivery_address .radio-box .radio-collection .radio-popdown.checked > .row {
    display: block;
}

#change_delivery_address .radio-box .radio-collection.checked:after {
    transform: rotate(90deg);
}

#change_delivery_address .radio-box .radio-collection.checked > .radio-popdown {
    display: block;
}

#change_delivery_address .radio-box .radio-disabled > label,
#edit_ilt .radio-box .radio-disabled > label {
    color: #bfc1c2;
    pointer-events: none;
}

#edit_ilt .radio-box .radio-collection .radio-popdown .package-head {
    position: relative;
    border-radius: 3px;
    height: 50px;
}

#edit_ilt .radio-box .radio-collection .radio-popdown .package-head h5 {
    position: absolute;
    top: 1px;
    left: 40px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2d4552;
    margin: 0;
}

#edit_ilt .radio-box .radio-collection .radio-popdown .package-head span {
    position: relative;
    top: 3px;
    font-size: 10px;
    font-weight: 500;
    color: #5c707a;
    float: right;
}

#edit_ilt .radio-box .radio-collection .radio-popdown .package-head-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/mobile.svg);
    background-repeat: no-repeat;
    background-position: -1px -1px;
}

#edit_ilt .radio-box .radio-collection .radio-popdown .package-head-fixedicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-image: url(../images/fixed.svg);
    background-repeat: no-repeat;
}

#edit_ilt .radio-box .radio-collection .radio-popdown > .row {
    padding: 0 10px;
}

#edit_ilt .radio-box .radio-collection .radio-popdown > .row > div {
    padding: 0 5px;
}

#edit_ilt .radio-box .radio-collection .radio-popdown.checked > .row {
    display: block;
}

#edit_ilt .radio-box .radio-collection.checked:after {
    transform: rotate(90deg);
}

#edit_ilt .radio-box .radio-collection.checked > .radio-popdown {
    display: block;
}

#change_delivery_address .radio-disabled input[type=radio] ~ .circle,
#edit_ilt .radio-disabled input[type=radio] ~ .circle {
    border-color: #eeeeee;
    background: #eeeeee;
}

#change_delivery_address .radio input[type=radio]:checked ~ .circle {
    border-color: #45ADA8;
    background: #45ADA8;
}
#change_delivery_address .radio label .circle {
    border: 1px solid #d9d9d9;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: #ffffff;
}
#change_delivery_address .radio input[type=radio]:checked ~ .check {
    background-color: #ffffff;
    -webkit-transform: scale3d(0.45, 0.45, 1);
    -moz-transform: scale3d(0.45, 0.45, 1);
    -o-transform: scale3d(0.45, 0.45, 1);
    -ms-transform: scale3d(0.45, 0.45, 1);
    transform: scale3d(0.45, 0.45, 1);
}

#edit_ilt .radio .collection-price {
    position: absolute;
    right: 55px;
    top: 21px;
    font-size: 14px;
    color: #5c717b;
}

/* Content separator */
#edit_ilt .content-separator {
    display: flex;
    align-items: center;
    margin: 12px 0;
}
#edit_ilt .content-separator .content-separator-title {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: 0.3px;
    color: #2d4552;
    text-transform: uppercase;
    margin-right: 6px;
}
#edit_ilt .content-separator:after {
    content: '';
    background-color: #d9d9d9;
    height: 1px;
    flex-grow:1;
}

#edit_ilt .form-group {
    margin: 0 0 10px 0;
    padding: 0;
}

#edit_ilt * {
    font-family: Roboto, Helvetica, sans-serif !important;
}

/* Checkbox and radio button */
#edit_ilt .checkbox {
    padding-left: 0;
}
#edit_ilt .checkbox label {
    padding-left: 29px;
    display: block;
}
#edit_ilt .checkbox label span {
    margin-left: -14px;
}
#edit_ilt .checkbox.disabled label, #checkout-wrapper .radio.disabled label {
    color: rgb(201, 201, 201);
}
#edit_ilt .checkbox label, #checkout-wrapper .radio label {
    font-size: 14px !important;
}
#edit_ilt .radio label {
    padding-left: 9px;
}
#edit_ilt .radio label span {
    left: -17px;
    top: -1px;
}


/*material-kit*/
.radio label {
    cursor: pointer;
    padding-left: 35px;
    position: relative;
    color: rgba(0,0,0, 0.26); }
.form-group.is-focused .radio label {
    color: rgba(0,0,0, 0.26); }
.form-group.is-focused .radio label:hover, .form-group.is-focused .radio label:focus {
    color: #d9d9d9; }
fieldset[disabled] .form-group.is-focused .radio label {
    color: rgba(0,0,0, 0.26); }
.radio label span {
    display: block;
    position: absolute;
    left: 10px;
    top: 2px;
    transition-duration: 0.2s; }
.radio label .circle {
    border: 1px solid #d9d9d9;
    height: 18px;
    width: 18px;
    border-radius: 100%; }

#change_delivery_address .radio label .check,
.radio label .check {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: #45ADA8;
    -webkit-transform: scale3d(0,0,0);
    -moz-transform: scale3d(0,0,0);
    -o-transform: scale3d(0,0,0);
    -ms-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0);
}

#change_delivery_address h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #2d4552;
}


#change_delivery_address .radio input[type=radio], #edit_ilt .radio input[type=radio] {
    display: none;
}
#change_delivery_address .radio-box .radio label span, #edit_ilt .radio-box .radio label span {
    left: 14px;
    top: 19px;
}
#change_delivery_address .radio-box .radio-disabled > label, #edit_ilt .radio-box .radio-disabled > label {
    color: #bfc1c2;
    pointer-events: none;
}
#edit_ilt .radio input[type=radio][disabled] ~ .circle {
    background-color: #ffffff;
}

#addNoteOnPackage .form-control:focus {
    border: 1px solid #D9D9D9 !important;
    box-shadow : unset !important;
    -webkit-box-shadow : #ffffff;
}

#addNoteOnPackage .form-group textarea:focus {
    background-color : #ffffff !important;
}

i.vfde-more.align-center {
    padding-left: 15px;
}

#myModalLabel {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.expanded-package-details .orderline-header-actions .badge.ils-change {
    margin-top: 6px;
}

#register-textarea .form-group textarea {
    height: 135px;
    padding: 10px 12px;
    resize: none;
    border-radius: 3px;
    line-height: 1.29;
    box-shadow: none;
}

.customer-info-ilt{
    width:100% !important;
}

#registerImei .popover {
    background: #333333 !important;
    color: #ffffff !important;
    width: auto !important;
}

#registerImei .popover h3 {
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 1.67 !important;
    color: #00b0ca !important;
    margin: 21px 0 -16px 0 !important;
}

#registerImei .popover .popover-title {
    color: #ffffff !important;
    background: transparent !important;
    text-transform: none !important;
    font-size: 14px !important;
    margin: 0 !important;
    padding: 16px 20px 0 20px !important;
    border:none!important
}

#registerImei .popover .popover-content {
    font-weight: normal;
    font-size: 12px;
    padding: 10px 20px 17px 20px;
}

#registerImei .popover .popover-content ul {
    list-style-type: disc;
    margin-left: 15px;
}

#registerImei .popover.right .arrow {
    top: 50%;
    margin: 0;
    border-width: 6px;
    border-right-color: #333333;
}

#registerImei .popover.right .arrow:after {
    left: 6px;
    border-right-color: #333333;
}

#registerImei .arrow, .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.partial-termination-detail-content .orderline-section {
    padding: 0;
}

.connection-details .np-package .number-porting-padding {
    padding-bottom: 0px !important;
}

#topaddressCheckForm .check-button {
    padding: 4px 10px 5px 10px;
}
.change_cancel .notification-banner-actions .btn {
    margin: 5px 5px !important;
}

#partial-termination-modal .info-icon {
    margin: 0 5px 10px;
}

#num-selection {
    margin: 20px 0 0 0;
}

.radio label .check:after {
    display: block;
    position: absolute;
    content: "";
    background-color: rgba(0,0,0, 0.87);
    left: -18px;
    top: -18px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    -webkit-transform: scale3d(1.5,1.5,1);
    -moz-transform: scale3d(1.5,1.5,1);
    -o-transform: scale3d(1.5,1.5,1);
    -ms-transform: scale3d(1.5,1.5,1);
    transform: scale3d(1.5,1.5,1); }
.radio label input[type=radio]:not(:checked) ~ .check:after {
    -webkit-animation: rippleOff 500ms;
    -moz-animation: rippleOff 500ms;
    -o-animation: rippleOff 500ms;
    -ms-animation: rippleOff 500ms;
    animation: rippleOff 500ms; }
.radio label input[type=radio]:checked ~ .check:after {
    -webkit-animation: rippleOff 500ms;
    -moz-animation: rippleOff 500ms;
    -o-animation: rippleOff 500ms;
    -ms-animation: rippleOff 500ms;
    animation: rippleOff 500ms; }
.radio input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden; }
.radio input[type=radio]:checked ~ .check, .radio input[type=radio]:checked ~ .check {
    background-color: #ffffff; }
.radio input[type=radio]:checked ~ .circle {
    border-color: #45ADA8;
    background: #45ADA8; }
.radio input[type=radio]:checked ~ .check {
    -webkit-transform: scale3d(0.45, 0.45, 1);
    -moz-transform: scale3d(0.45, 0.45, 1);
    -o-transform: scale3d(0.45, 0.45, 1);
    -ms-transform: scale3d(0.45, 0.45, 1);
    transform: scale3d(0.45, 0.45, 1); }
.radio input[type=radio][disabled] ~ .check, .radio input[type=radio][disabled] ~ .check {
    background-color: #ffffff; }
.radio input[type=radio][disabled] ~ .circle {
    border-color: #eeeeee;
    background: #eeeeee; }

.radio label,
.checkbox label {
    min-height: 20px; }

label {
    font-size: 14px;
    line-height: 1.42857;
    color: #4A4A4A;
    font-weight: 400;
}
