/*
    This is the stylesheet used for generic ui elements.
*/

/* Notification banner */
.notification-banner,
.notification-banner.alert-info {
    position: relative;
    border: solid 1px rgba(0, 0, 0, 0.05);
    padding: 7px 14px 7px 44px!important;
    font-size: 14px;
    color: #2d4552;
    margin: 10px 0;
    border-radius: 3px;
    display: flex;
    filter: none!important;
    line-height: 1!important;
    min-height: 56px;
    flex: 1;
    -ms-flex: 1;
}

.notification-banner:before {
    height: 34px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
}
.notification-banner.success {
    background-color: #ecf6f4;
}
.notification-banner.success:before {
    content: url(../images/banner-success.svg);
}
.notification-banner.notice {
    background-color: #eef8fb;
}
.notification-banner.notice:before {
    content: url(../images/banner-notice.svg);
}
.notification-banner.warning {
    background-color: #fef8ea;
}
.notification-banner.warning:before {
    content: url(../images/banner-warning.svg);
}
.notification-banner.error {
    background-color: #fceeed;
}
.notification-banner.error:before {
    content: url(../images/banner-error.svg);
}
.notification-banner .notification-banner-text {
    margin: 10px 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    -ms-flex: 1;
}
.notification-banner .notification-banner-text .notification-banner-title {
    font-weight: bold;
    line-height: 1.29;
}
.notification-banner .notification-banner-text .notification-banner-description {
    font-weight: 400;
    line-height: 1.29;
}
.notification-banner .notification-banner-title .one-line-with-btn {
    display: flex;
    align-items: center;
    min-height: 40px;
}

.notification-banner .btn.btn-secondary {
    box-shadow: none !important;
    background-color: transparent;
    background-image: none;
    border: solid 1px rgba(0, 0, 0, 0.1) !important;
    color: #2d4552;
    border-radius: 2px;
}
.notification-banner .notification-banner-actions {
    display: flex;
    margin-left: auto !important;
    margin-right: -5px !important;
}
.notification-banner .notification-banner-actions  .btn {
    margin: 5px 0;
}


/*
    Buttons
    Generated by sassmeister.com
    Preferably use .new-ui-elements class
*/
#checkout-wrapper .btn, .modal.new-style-modal .btn, .new-ui-elements .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
    padding: 0 20px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500 !important;
    font-size: 16px !important;
    color: #ffffff !important;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    background-image: linear-gradient(to right, #e60000, #f48c00);
    border-radius: 2px;
    /*margin: 5px;*/
    position: relative;
}
#checkout-wrapper .btn:first-child, .modal.new-style-modal .btn:first-child, .new-ui-elements .btn:first-child {
    margin-left: 0;
}
#checkout-wrapper .btn:last-child, .modal.new-style-modal .btn:last-child, .new-ui-elements .btn:last-child {
    margin-right: 0;
}
#checkout-wrapper .btn:hover, .modal.new-style-modal .btn:hover, .new-ui-elements .btn:hover {
    background-image: linear-gradient(to right, #cd0000, #db7d00);
    color: #ffffff !important;
    border: solid 1px rgba(0, 0, 0, 0.1);
}
#checkout-wrapper .btn svg, .modal.new-style-modal .btn svg, .new-ui-elements .btn svg {
    margin-top: 3px;
}
#checkout-wrapper .btn.icon, .modal.new-style-modal .btn.icon, .new-ui-elements .btn.icon {
    max-width: 40px;
    padding: 0;
}
#checkout-wrapper .btn.fluid, .modal.new-style-modal .btn.fluid, .new-ui-elements .btn.fluid {
    width: 100%;
    padding: 0;
}
#checkout-wrapper .btn.loading, .modal.new-style-modal .btn.loading, .new-ui-elements .btn.loading {
    pointer-events: none;
}
#checkout-wrapper .btn.loading:before, .modal.new-style-modal .btn.loading:before, .new-ui-elements .btn.loading:before {
    display: block;
    position: absolute;
    content: url(../images/button-loading-white.svg);
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    animation: spin 1s linear infinite;
}
#checkout-wrapper .btn.loading .btn-content, .modal.new-style-modal .btn.loading .btn-content, .new-ui-elements .btn.loading .btn-content {
    visibility: hidden;
}
#checkout-wrapper .btn.btn-secondary, .modal.new-style-modal .btn.btn-secondary, .new-ui-elements .btn.btn-secondary {
    box-shadow: none !important;
    background-color: transparent!important;
    background-image: none;
    color: #2d4552 !important;
}
#checkout-wrapper .btn.btn-secondary:hover, .modal.new-style-modal .btn.btn-secondary:hover, .new-ui-elements .btn.btn-secondary:hover {
    background-color: #f7f8f9;
}
#checkout-wrapper .btn.btn-secondary.loading:before, .modal.new-style-modal .btn.btn-secondary.loading:before, .new-ui-elements .btn.btn-secondary.loading:before {
    content: url(../images/button-loading.svg);
}
#checkout-wrapper .btn.btn-primary, .modal.new-style-modal .btn.btn-primary, .new-ui-elements .btn.btn-primary {
    background-color: #575756;
    background-image: none;
}

.modal.new-style-modal .btn.btn-primary{
    background-image: linear-gradient(to right, #e60000, #f48c00) !important;
}

#checkout-wrapper .btn.btn-primary:hover, .modal.new-style-modal .btn.btn-primary:hover, .new-ui-elements .btn.btn-primary:hover {
    background-color: #4e4e4d;
}
#checkout-wrapper .btn.small, .modal.new-style-modal .btn.small, .new-ui-elements .btn.small {
    font-size: 14px !important;
    height: 32px;
}
#checkout-wrapper .btn.small.icon, .modal.new-style-modal .btn.small.icon, .new-ui-elements .btn.small.icon {
    max-width: 32px;
    min-width: 32px;
}
.small-col-spacing .btn.select, .modal.new-style-modal .btn.select, .new-ui-elements .btn.select {
    width: 80px;
    box-shadow: none !important;
    background-color: transparent;
    background-image: none;
    color: #2d4552 !important;
}
.small-col-spacing .btn.select:hover, .modal.new-style-modal .btn.select:hover, .new-ui-elements .btn.select:hover {
    background-color: #f7f8f9;
}
#checkout-wrapper .btn.select.selected, .modal.new-style-modal .btn.select.selected, .new-ui-elements .btn.select.selected {
    width: 115px;
    background-color: #3c9f8c;
    color: #ffffff !important;
}
#checkout-wrapper .btn.select.selected:after, .modal.new-style-modal .btn.select.selected:after, .new-ui-elements .btn.select.selected:after {
    content: url(../images/check2.svg);
    width: auto;
    height: 20px;
    margin-left: 5px;
    display: block;
}
#checkout-wrapper .btn.checked, .modal.new-style-modal .btn.checked, .new-ui-elements .btn.checked {
    pointer-events: none;
    background-color: #3d9f8c;
    box-shadow: none !important;
}
#checkout-wrapper .btn.checked .btn-content, .modal.new-style-modal .btn.checked .btn-content, .new-ui-elements .btn.checked .btn-content {
    visibility: hidden;
}
#checkout-wrapper .btn.checked:before, .modal.new-style-modal .btn.checked:before, .new-ui-elements .btn.checked:before {
    content: url(../images/check2.svg);
    width: 20px;
    height: 20px;
    position: absolute;
}
#checkout-wrapper .btn:disabled, .modal.new-style-modal .btn:disabled, .new-ui-elements .btn:disabled {
    background-color: #d9d9d9;
    background-image: none;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05) !important;
    opacity: 1;
    border: none;
    color: #f2f3f4 !important;
}
#checkout-wrapper .btn.btn-secondary:disabled, .modal.new-style-modal .btn.btn-secondary:disabled, .new-ui-elements .btn.btn-secondary:disabled {
    background-color: transparent;
    background-image: none;
    box-shadow: none !important;
    opacity: 1;
    border: solid 1px #dedede;
    color: #bfc1c2 !important;
}
#checkout-wrapper .btn.nocontent, .modal.new-style-modal .btn.nocontent, .new-ui-elements .btn.nocontent {
    background-image: none;
    width: 85px;
    background-color: #3c9f8c;
    color: #ffffff !important;
    box-shadow: none!important;
}
#checkout-wrapper .btn.nocontent:before, .modal.new-style-modal .btn.nocontent:before, .new-ui-elements .btn.nocontent:before {
    content: "";
    margin-left: -10px;
}
#checkout-wrapper .btn.nocontent:after, .modal.new-style-modal .btn.nocontent:after, .new-ui-elements .btn.nocontent:after {
    content: url(../images/check2.svg);
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: inline-block;
}
#checkout-wrapper .btn.inline, .modal.new-style-modal .btn.inline, .new-ui-elements .btn.inline {
    margin: 7px 0;
}
#checkout-wrapper .notification-banner .btn, .modal.new-style-modal .notification-banner .btn, .new-ui-elements .notification-banner .btn {
    height: 32px;
    font-size: 14px !important;
    border: solid 1px rgba(0, 0, 0, 0.2);
    margin: 5px 0 !important;
}
.new-ui-elements .btn.btn-secondary:disabled {
    border: 1px solid #dedede;
    color: #bfc1c2!important;
    box-shadow: none!important;
}
#checkout-wrapper .btn.btn-loader, .modal.new-style-modal .btn.btn-loader, .new-ui-elements .btn.btn-loader {
    width: 85px;
}
#checkout-wrapper .btn.btn-loader > span.loader, .modal.new-style-modal .btn.btn-loader > span.loader, .new-ui-elements .btn.btn-loader > span.loader {
    width: 18px;
    height: 18px;
    background-image: url("../images/button-loading-white.svg");
}
#checkout-wrapper button.disabled span {
    background: none !important;
}
/*
    Multiselect dropdown
 */
.multiselect-element {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 300px;
    height: 44px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}
.multiselect-element.fluid {
    width: 100%;
}
.multiselect-element .multiselect-element-value {
    width: 100%;
    height: 44px;
}
.multiselect-element .multiselect-element-value:after {
    content: url(../images/pulldown-arrow.svg);
    height: 23px;
    width: 26px;
    position: absolute;
    top: 10px;
    right: 1px;
    pointer-events: none;
    border-left: 1px solid #d9d9d9;
}
.multiselect-element .multiselect-element-value label {
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 12px;
    margin: initial;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: initial;
    color: #5b717c;
    pointer-events: none;
    transform-origin: left top;
    transition: 200ms ease all;
}
.multiselect-element .multiselect-element-value input {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 30px 0 12px;
    overflow: hidden;
    background: transparent;
    border: none;
    color: #2d4552;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}
.multiselect-element.is-empty .multiselect-element-value label {
    top: 13px !important;
    left: 12px !important;
    font-size: 14px !important;
}
.multiselect-element .multiselect-element-value input {
    padding-top: 13px !important;
    padding-left: 12px !important;
    border: none !important;
}
.multiselect-element .multiselect-element-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    top: calc(100% + 5px);
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 3px;
    overflow: hidden;
}
.multiselect-element .multiselect-element-dropdown .multiselect-element-dropdown-option label {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 15px 0 43px;
    margin: 0;
    font-size: 14px;
    color: #2d4552;
    line-height: 40px;
    display: block;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.multiselect-element .multiselect-element-dropdown .multiselect-element-dropdown-option label .checkmark {
    display: inline-block;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 10px;
    left: 15px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #FFFFFF;
}
.multiselect-element .multiselect-element-dropdown .multiselect-element-dropdown-option label:hover {
    background: #00B0CA;
    color: #FFFFFF;
}
.multiselect-element .multiselect-element-dropdown .multiselect-element-dropdown-option label input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.multiselect-element .multiselect-element-dropdown .multiselect-element-dropdown-option label input:checked ~ .checkmark {
    background-color: #00B0CA;
    border-color: #00B0CA;
}
.multiselect-element .multiselect-element-dropdown .multiselect-element-dropdown-option label input:checked ~ .checkmark:after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);
    margin: 2px 0 0 5px;
}
.multiselect-element.active .multiselect-element-dropdown {
    display: block;
    z-index: 100;
}

/*
    Input
 */
.form-group {
    position: relative;
    margin: 5px 0;
}
.modal-body .form-group {
    margin: 5px 0 !important;
}
.form-group .input-wrapper {
    height: 44px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 0 !important;
    background-color: #ffffff;
}
.form-group .input-wrapper.fluid {
    width: 100%;
}
.form-group .input-wrapper label {
    width: calc(100% - 26px) !important;
    position: absolute !important;
    z-index: 1 !important;
    top: 7px !important;
    left: 12px !important;
    margin: initial !important;
    font-family: Roboto !important;
    font-size: 12px !important;
    color: #5b717c;
    font-weight: 400 !important;
    line-height: 16px !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    pointer-events: none !important;
    transform-origin: left top !important;
    transition: 200ms ease all !important;
    pointer-events: none;
}

@media screen\0 {
    .form-group .input-wrapper label {
        /*top: -8px !important;*/
    }
    _:-ms-fullscreen, :root .form-group .input-wrapper label {
        /*top: -9px !important;*/
    }
    _:-ms-fullscreen, :root .form-group .input-wrapper .add-coupon-code {
        top: 2px !important;
    }

    _:-ms-fullscreen, :root .form-group .is-empty .add-coupon-code {
        top: 14px !important;
    }

    _:-ms-fullscreen, :root #personal-contract > div.identification-container > div.col-sm-9 > div > div > label{
        top: 4px !important;
    }

    _:-ms-fullscreen, :root #personal-contract > div:nth-child(2) > div > div > label{
        top: 8px !important;
    }

    _:-ms-fullscreen, :root #personal-contract > div.search-address > div > div:nth-child(1) > div > div > label{
        top: 8px !important
    }

    _:-ms-fullscreen, :root .error .select-wrapper label{
        top :-8px !important;
    }
}
.form-group .input-wrapper .btn {
    top: 6px;
    right: 5px;
    position: absolute;
}
.form-group .input-wrapper input {
    position: absolute;
    font-size: 14px !important;
    height: 100% !important;
    width: 100% !important;
    top: 0 !important;
    left: 0;
    transform: unset !important;
    padding: 21px 12px 7px 12px !important;
    box-shadow: none !important;
    border-radius: unset;
    border: none;
    background: transparent;
    transform: translate(1px) !important;
}

_:-ms-fullscreen, :root .form-group .input-wrapper input {
    left: -1px;
}
@media screen\0 {
    .form-group .input-wrapper input {
        top: -7px;
    }
    _:-ms-fullscreen, :root .form-group .input-wrapper input {
        top: -5px;
    }
}
.form-group .input-wrapper.select-wrapper select {
    display: none;
}
.form-group .input-wrapper.select-wrapper:after {
    content: '';
    background-image: url(../images/pulldown-arrow.svg);
    background-repeat: no-repeat;
    height: 23px;
    width: 26px;
    position: absolute;
    top: 10px;
    right: 1px;
    pointer-events: none;
    border-left: 1px solid #d9d9d9;
}
.form-group .input-wrapper.select-wrapper .select-selected {
    padding: 21px 37px 0 12px;
    color: #2D4552;
    font-size: 14px;
    line-height: initial;
    border: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
_:-ms-fullscreen, :root .form-group .input-wrapper.select-wrapper .select-selected {
    top: 1px;
}
_:-ms-fullscreen, :root .form-group :not(.is-empty).input-wrapper.select-wrapper label {
    /*top: -9px !important;*/
}
_:-ms-fullscreen, :root #sim-select-block .form-group :not(.is-empty).input-wrapper.select-wrapper label {
    top: 7px !important;
}
.form-group .input-wrapper.select-wrapper .select-items {
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    top: 48px;
    border-radius: 3px;
    left: 0;
    right: 0;
    z-index: 99;
}
.form-group .input-wrapper.select-wrapper .select-items div {
    font-size: 14px;
    color: #2D4552;
    padding: 13px 15px;
    border: none;
    cursor: pointer;
}
.form-group .input-wrapper.select-wrapper .select-items div.same-as-selected, .form-group .input-wrapper.select-wrapper .select-items div.item-selected {
    background-color: #f5f6f7;
    font-weight: bold;
}
.form-group .input-wrapper.select-wrapper .select-items div:hover {
    background-color: #00B0CA;
    color: #FFFFFF !important;
}
.form-group .input-wrapper.select-wrapper .select-items.select-hide {
    display: none;
}
.form-group .input-wrapper.is-empty label {
    top: 15px !important;
    left: 10px !important;
    font-size: 13px !important;
    margin: 0 !important;
}
.form-group.disabled {
    pointer-events: none;
}
.form-group.disabled .input-wrapper {
    border-color: #e9eaeb;
}
.form-group.disabled .input-wrapper label {
    color: #bfc1c2;
}
.form-group.disabled .input-wrapper.select-wrapper .select-selected {
    color: #bfc1c2;
}
.form-group.disabled .input-wrapper.select-wrapper:after {
    filter: grayscale(100%);
    opacity: 0.3;
}

/* Form input validation */
.form-group .input-wrapper .tooltip {
    left: 0 !important;
}
.form-group .input-wrapper .tooltip .tooltip-arrow {
    border-top-color: #e2574c;
}
.form-group .input-wrapper .tooltip .tooltip-inner {
    background-color: #e2574c;
}
.form-group.error .input-wrapper {
    border: 2px solid #e2574c;
    font-weight: 400;
    padding: 3px 11px;
}
.form-group.error .input-wrapper.select-wrapper {
    padding: 0px 12px;
}
.form-group.error .input-wrapper.select-wrapper label {
    margin: 14px 0 0 0;
}
.form-group.datepicker-input {
    padding: 0;
}
.form-group.datepicker-input .input-wrapper:after {
    content: '';
    background: url(../images/calendar.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 20px;
    height: 20px;
    display: block;
    pointer-events: none;
}
/* Form Disabled */
.form-group.disabled .input-wrapper {
    border: 1px solid #e9eaeb !important;
}
.form-group.disabled .input-wrapper label {
    color: #bfc1c2 !important;
}
.form-group.disabled .input-wrapper input {
    color: #bfc1c2 !important;
}
/* Form loading */
.form-group.loading .input-wrapper:after {
    animation: spin 1s linear infinite;
    width: 16px;
    height: 16px;
    overflow: hidden;
    content: ' ';
    background-size: cover;
    background-image: url(../images/button-loading.svg);
    position: absolute;
    top: calc(50% - 8px);
    right: 11px;
}

.form-group.loading .input-wrapper input {
    padding-right: 32px !important;
}

.form-group.disabled.loading .input-wrapper:after {
    filter: grayscale(1);
    opacity: 0.5;
}

.form-group .input-wrapper.textarea-wrapper {
    height: auto;
}

.hidden {
    display: none !important;
}

/**
    Modal
 */
.modal.new-style-modal {
    top: 0 !important;
}
.modal.new-style-modal .modal-dialog {
    width: 590px;
    margin: 11.8% auto;
}
.modal.new-style-modal .modal-dialog .modal-content .modal-header {
    padding: 15px 15px 0 20px !important;
    margin: 0 !important;
}
.modal.new-style-modal .modal-dialog .modal-content .modal-header h4 {
    line-height: 1.25;
    padding-left: 0 !important;
    margin-top: 10px;
    clear: none;
}
.modal.new-style-modal .modal-dialog .modal-content .modal-header .close {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-image: url(../images/close.svg);
    position: inherit;
}
.modal.new-style-modal .modal-dialog .modal-content .modal-header .close:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.modal.new-style-modal .modal-dialog .modal-content .modal-body {
    padding: 16px 20px 5px 20px !important;
}
.modal.new-style-modal .modal-dialog .modal-content .modal-footer {
    padding: 19px !important;
}
.modal.new-style-modal.show-warning .modal-dialog {
    width: 530px;
}
.modal.new-style-modal.show-warning .modal-dialog .modal-content {
    position: relative;
    width: auto;
}
.modal.new-style-modal.show-warning .modal-dialog .modal-content .modal-footer {
    position: absolute;
    bottom: 20px;
    padding: 0!important;
    right: 35px;
}
.modal.new-style-modal.show-warning .modal-dialog .modal-content .modal-footer .btn.pull-right {
    margin-left: 10px;
    margin-right: 0;
}
.modal.new-style-modal.show-warning .modal-dialog .modal-content .modal-body {
    padding-bottom: 80px !important;
    padding-top: 13px!important;
}
.modal.new-style-modal.show-warning .modal-warning-container .icon-area .triangle {
    background: url("../images/warning-sign.svg") no-repeat 50%;
    width: 80px;
    height: 80px;
    background-size: cover;
    margin: 0 auto;
}
.modal.new-style-modal.show-warning .modal-dialog .modal-content .modal-header {
    padding-top: 19px!important;
}
.modal.new-style-modal.show-warning .modal-content .modal-left-column {
    width: 120px;
    float: left;
}
.modal.new-style-modal.show-warning .modal-warning-container {
    min-height: 199px;
}
.modal.new-style-modal.show-warning .modal-content .modal-right-column {
    max-width: 408px;
    float: left;
}

/*
    Add small-col-spacing if you need less gutter size between columns
*/
.small-col-spacing .col-lg-1, .small-col-spacing .col-lg-2, .small-col-spacing .col-lg-3, .small-col-spacing .col-lg-4, .small-col-spacing .col-lg-5, .small-col-spacing .col-lg-6, .small-col-spacing .col-lg-7, .small-col-spacing .col-lg-8, .small-col-spacing .col-lg-9, .small-col-spacing .col-lg-10, .small-col-spacing .col-lg-11, .small-col-spacing .col-lg-12,
.small-col-spacing .col-md-1, .small-col-spacing .col-md-2, .small-col-spacing .col-md-3, .small-col-spacing .col-md-4, .small-col-spacing .col-md-5, .small-col-spacing .col-md-6, .small-col-spacing .col-md-7, .small-col-spacing .col-md-8, .small-col-spacing .col-md-9, .small-col-spacing .col-md-10, .small-col-spacing .col-md-11, .small-col-spacing .col-md-12,
.small-col-spacing .col-sm-1, .small-col-spacing .col-sm-2, .small-col-spacing .col-sm-3, .small-col-spacing .col-sm-4, .small-col-spacing .col-sm-5, .small-col-spacing .col-sm-6, .small-col-spacing .col-sm-7, .small-col-spacing .col-sm-8, .small-col-spacing .col-sm-9, .small-col-spacing .col-sm-10, .small-col-spacing .col-sm-11, .small-col-spacing .col-sm-12,
.small-col-spacing .col-xs-1, .small-col-spacing .col-xs-2, .small-col-spacing .col-xs-3, .small-col-spacing .col-xs-4, .small-col-spacing .col-xs-5, .small-col-spacing .col-xs-6, .small-col-spacing .col-xs-7, .small-col-spacing .col-xs-8, .small-col-spacing .col-xs-9, .small-col-spacing .col-xs-10, .small-col-spacing .col-xs-11, .small-col-spacing .col-xs-12 {
    padding-right: 5px;
    padding-left: 5px;
}
.small-col-spacing .row {
    margin-right: -5px;
    margin-left: -5px;
}

/*
    Helper classes
*/
.no-bottom-margin {
    margin-bottom: 0 !important;
}
.no-top-margin {
    margin-bottom: 0 !important;
}
.no-bottom-padding {
    padding-bottom: 0 !important;
}
.no-top-padding {
    padding-bottom: 0 !important;
}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 1024px) {
    .col-left.sidebar.expanded {
        width:100%!important;
    }
}

#move-notification .notification-banner-text {
    display: block;
    margin: 10px 0 0 10px;
    text-align: left;
}

#move-notification.notification-banner:before {
    height: 60px;
    display: inline-block;
}

.shoppingbag-coupon-input .coupon-button-cart {
    position: absolute;
    right: 4px;
    z-index: 3;
}

/**
Context menu icon
 */
.actions-hover-menu .context-menu-icon{
    content: "";
    display: block;
    position: absolute;
}

.actions-hover-menu .icon-delivery {
    background-image: url('../images/icons-general-shipping.svg');
    background-size: 18px 12px;
    width: 18px;
    height: 12px;
    left: 16px;
    top: 16px;
}

.actions-hover-menu li a:hover .icon-delivery {
    background-image: url('../images/icons-general-shipping-white.svg');
}

.actions-hover-menu .icon-edit {
    background-image: url('../images/edit.svg');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    left: 16px;
    top: 12px;
}

.actions-hover-menu li a:hover .icon-edit {
    background-image: url('../images/edit-white.svg');
}


.actions-hover-menu .icon-hardware-returned {
    background-image: url('../images/icons-general-hardware-returned.svg');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 12px;
}

.actions-hover-menu li a:hover .icon-hardware-returned {
    background-image: url('../images/icons-general-hardware-returned-white.svg');
}

.actions-hover-menu .icon-delete {
    background-image: url('../images/icons-general-delete.svg');
    background-size: 12px 16px;
    width: 12px;
    height: 16px;
    left: 19px;
    top: 14px;
    background-position-x: 0px;
    background-color: transparent;
}

.actions-hover-menu li a:hover .icon-delete {
    background-image: url('../images/icons-general-delete-white.svg');
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}
.no-top-margin {
    margin-bottom: 0 !important;
}
.no-bottom-padding {
    padding-bottom: 0 !important;
}
.no-top-padding {
    padding-bottom: 0 !important;
}

.toggle-switch {
    position: relative;
}

.toggle-switch .toggle-switch--inner {
    position: absolute;
    top: 3px;
    right: 0;
    display: inline-block;
    background-color: #dedede;
    height: 14px;
    width: 34px;
    border-radius: 7px;
    transition: background-color 100ms;
}

.toggle-switch .toggle-switch--switch {
    position: absolute;
    top: 0;
    right: 14px;
    display: inline-block;
    width: 20px;
    height: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
    border-image-slice: 1;
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: right 100ms, background-color 100ms;
}

.toggle-switch .toggle-switch--label {
    padding-right: 40px;
    font-size: 10px;
    font-weight: bold;
    font-family: Roboto;
    text-transform: uppercase;
    color: #2d4552;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle-switch .toggle-switch--checkbox {
    display: none;
}

.toggle-switch .toggle-switch--checkbox:checked + .toggle-switch--label .toggle-switch--inner {
    background-color: #7fd6e3;
}

.toggle-switch .toggle-switch--checkbox:checked + .toggle-switch--label .toggle-switch--switch {
    background-color: #00a7bf;
    background-image: none;
    right: 0;
}
.btn-bck-office{
   margin: 5px;
}
