<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$simCardTypes = Mage::helper('omnius_configurator/attribute')->getSimCardTypes();
$allowedMulti = Mage::helper('dyna_configurator')->allowMultipleProductsSelected($this->getType(), $this->getSection());
?>
<div class="conf-block panel panel-default panel-searchable" id="<?php echo $this->getSection() ?>-block"
     data-expanded="false" data-type="<?php echo $this->getSection() ?>"
     data-index="{{index}}" data-multi="<?php echo $allowedMulti ? 'true' : 'false'; ?>">
    <div class="selection-block box-closed">

        <div class="panel-heading" onclick="configurator.toggleSection('<?php echo $this->getSection() ?>', false);">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 item-title">
                    <div class="pull-left">
                        <span class="counter <?php echo $this->getType() . ' ' . $this->getSection(); ?>"><!-- {{math index "+" 1}} --></span>
                    </div>
                    <div class="pull-left">
                        <div class="panel-title">
                            <?php echo $this->getPackageTypeName(); ?>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 pull-right prn">
                    <div class="content text-right">
                        <div class="no-item-message">
                            <?php echo $this->__('Please select') ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row configurator-filter-container">
                <div class="col-sm-12 col-md-12 col-lg-12 filter">
                    <div class="row search-container {{#compare (objectLength filters) 0 operator='=='}}full-width-search{{/compare}}">
                        <input 
                            type="text"
                            id="search-<?php echo $this->getSection() ?>"
                            name="search-<?php echo $this->getSection() ?>"
                            class="search-<?php echo $this->getSection() ?> form-control search"
                            data-search-on-type="true"
                            data-document-id="entity_id"
                            data-search-fields="name,sku,description"
                            data-callback="configurator.filterProducts"
                            data-documents=""
                            data-role="tagsinput"
                            placeholder="<?php echo $this->__('Search'); ?>"
                        />
                        <div class="col-sm-1 col-md-1 col-lg-1 search-icon"></div>
                    </div>
                    <!--Hidden filter button for wave2 see OVG-794 comments-->
                    {{#compare (objectLength filters) 0 operator='>'}}
                    <button class="form-control btn btn-secondary btn-filter pull-right" onclick="window.configuratorUI.toggleFilters('<?php echo $this->getSection(); ?>')">
                        <span class="filter-icon"></span><?php echo $this->__("Filter"); ?>
                    </button>
                    {{/compare}}
                </div>
                <div class="clearfix"></div>
                {{#each filters }}
                    {{#assertSection this}}
                        <div class="hide dropdown section-filters" data-section="<?php echo $this->getSection(); ?>" data-filter-for="{{@key}}">
                            <button class="btn btn-filter dropdown-toggle" id="dropdown-filter-type" data-toggle="dropdown">
                                {{this.label}}
                                <i class="vfde-unfold-more small"></i>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="dropdown-filter-type">
                                {{#each this.options}}
                                    {{#if @key}}
                                        <li data-selection="{{@key}}" onclick="window.configuratorUI.selectFilterOption(this);">{{this}}</li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    {{/assertSection}}
                {{/each}}
            </div>
            <div class="row filter-results filter-status">
                <div class="results-number col-xs-10">
                    <span data-default-message="<strong>{0}</strong> <?php echo $this->__('Products') ?>"
                          data-message="<strong>{0}</strong> <?php echo $this->__('Products ') ?> ">
                        {{products.length}} <?php echo $this->__('Products') ?>
                    </span>
                </div>
                <div class="col-xs-1">
                    <div class="filter-results-unique">
                        <?php echo $this->__("One Time"); ?>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="filter-results-unique">
                        <?php echo $this->__("Monthly") ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-table col-md-12">
            {{#if families}}
            {{#each families}}
            {{#if this.products}}
            {{> <?php echo $this->getSection() ?>_family this}}
            {{/if}}
            {{/each}}
            <div class="clearfix"></div>
            {{/if}}
            {{#if products}}
            {{#each products}}
            {{> <?php echo $this->getSection() ?>_selected_item this}}
            {{/each}}
            {{else}}
            <p><?php echo $this->__('No products available') ?></p>
            {{/if}}
        </div>
    </div>

    <div class="selected-item"
         data-no-item="{{#compare products.length 0 operator='=='}}
             {{#compare families.length 0 operator='=='}}
                <?php echo $this->__('Nothing selectable') ?>
                 {{else}}
                <?php echo $this->__('Please select') ?>
                 {{/compare}}
            {{else}}
            <?php echo $this->__('Please select') ?>
        {{/compare}}"
         onclick="configurator.toggleSection('<?php echo $this->getSection() ?>', false);">
        <div class="panel-heading block-header">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 item-title">
                    <div class="pull-left">
                        <span class="counter <?php echo $this->getType() . ' ' . $this->getSection(); ?>"><!-- {{math index "+" 1}} --></span>
                    </div>
                    <div class="pull-left">
                        <div class="panel-title">
                            <?php echo $this->getPackageTypeName(); ?>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 pull-right prn">
                    <div class="content text-right">
                        <div class="no-item-message">
                            <?php echo $this->__('Please select') ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-footer col-md-12"></div>
    </div>
</div>
