<?php
/** @var Dyna_Bundles_Block_Redplus $this */

/** @var Dyna_Bundles_Helper_Redplus $redPlusHelper */

/** @var Dyna_Checkout_Model_Sales_Quote $quote */
$quote = Mage::getSingleton('checkout/cart')->getQuote();

$parentPackage = Mage::getSingleton('dyna_package/package')->load($quote->getActivePackage()->getParentId());
$parentPackage = ($parentPackage && $parentPackage->getParentAccountNumber() && $parentPackage->getParentAccountNumber() !== Dyna_Customer_Helper_Customer::PRE_POST_BAN) ? $parentPackage : false;

$redPlusHelper           = Mage::helper("dyna_bundles/redplus");
$redPlusEligiblePackages = $this->getEligiblePackages();
$eligibleKiasBundles = [];
$allKiasBundles = [];
$eligibleKiasBundles = [];

//if parentAccountNumber is PRE_POST_BAN don't display IB customers for red+ owner alternative
if ($parentPackage && $parentPackage->getParentAccountNumber() !== Dyna_Customer_Helper_Customer::PRE_POST_BAN) {
    $eligibleKiasBundles = $redPlusHelper->getEligibleKiasBundles($parentPackage);
    $redPlusBundleId = $eligibleKiasBundles['redPlusBundleId'];
    $allKiasBundles = $eligibleKiasBundles['allKiasProducts'];
    $eligibleKiasBundles = $eligibleKiasBundles['eligibleKiasBundles'];
}

// if the current parent is not eligible, append it to the list so the user knows what is the current parent of the red+ subscription
if (!$this->currentParentIsEligible() && !$this->currentParentIsDummy()) {
    $this->injectCurrentParentPackage($redPlusEligiblePackages);
    unset($redPlusEligiblePackages);
    $redPlusEligiblePackages = $this->getRedPlusEligiblePackages();
}
?>

<div class="redPlusPanelContainer <?php if($this->getAddedFromMyProducts() == 1 && $quote->getActivePackage()->getConvertToMember() != 1) echo 'hidden'; ?>" id="redplus-parent-selection-container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" onclick="configuratorUI.toggleRedPlusParentSelectionPanel(this)">
                    <span class="panel-title">
                        <?php echo $this->__('To which contract should we add this RED+?'); ?>
                    </span>
                    <span class="pull-right pts">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </span>
                </div>

                <div class="panel-body">
                    <div class="row linkedElementHeader">
                        <?php
                        echo $this->__('New configured packages').
                            ' ('.($redPlusHelper->getNumberOfRedPlusEligiblePackagesInCart() == 0 ? count($redPlusEligiblePackages) : $redPlusHelper->getNumberOfRedPlusEligiblePackagesInCart() ).')';
                        ?>
                    </div>

                    <?php
                    // -- Render active packages
                    foreach ($redPlusEligiblePackages as $package) {
                        $currentClass = ($package->getEntityId() == $this->getActivePackageParentId()) ?
                            'btn-green-selected' : 'btn-green';
                        $relatedProductSku = $package->getData('eligibleProductSku');
                        $relatedProduct    = Mage::getModel('catalog/product')
                            ->getCollection()
                            ->addAttributeToFilter('sku', $relatedProductSku)
                            ->addAttributeToSelect('name')
                            ->addAttributeToSelect('display_name_configurator')
                            ->getFirstItem();
                        $groupBundleId = $package->getData('groupBundleId') ? $package->getData('groupBundleId') : 0;
                        $tariffName = $relatedProduct->getData('display_name_configurator') && trim($relatedProduct->getData('display_name_configurator')) != "" ? $relatedProduct->getData('display_name_configurator') : $relatedProduct->getData('name');
                        echo "<div class='row linkedElement' id='related_product_{$package->getEntityId()}'>
                            <div class='col-md-10'>
                                <div class='option-image pull-left'>
                                    <span>JS</span>
                                </div>
                                <div class='title'>{$tariffName}</div>
                            </div>

                            <div class='col-md-2 text-right'>
                                <button type='button'
                                    class='btn {$currentClass}'
                                    data-sharing-group-id='-'
                                    data-redplus-related-product=''
                                    onclick='configurator.selectRedPlusParentPackage({$package->getEntityId()}, {$groupBundleId}, this)'>
                                    {$this->__('Choose')}
                                </button>
                            </div>
                        </div>";
                        unset($tariffName);
                    }

                    // -- Render BAN elements
                    foreach ($eligibleKiasBundles as $customerNumber => $kiasProduct) {
                        echo "<div class='row linkedElementHeader'>
                            BAN {$customerNumber} (".count($kiasProduct['contracts']).")
                        </div>";

                        foreach ($kiasProduct['contracts'] as $contract) {
                            $product = $contract['subscriptions'][0];
                            $product['sharing_group_details']['id'] = ['sharing_group_details']['id'] ?? '-';
                            $customerId = $contract['subscriptions'][0]['customer_number'];
                            $productId = $contract['subscriptions'][0]['product_id'];
                            $hasReservedMember = $contract['subscriptions'][0]['has_reserved_member'] ?? false;
                            $correspondingCartPackage = $redPlusHelper->getInstallBasePackageTariff($customerId,$productId);
                            $tariffName = $correspondingCartPackage ? $correspondingCartPackage->getName() : $product['tariff']['name'];
                            /** @var Dyna_Package_Model_Package $currentGhostPackage */
                            $currentGhostPackage = $quote->getGhostPackageForIBSubscription($customerId, $productId);
                            $selected = false;

                            if ((isset($currentGhostPackage)
                                    && $quote->getActivePackage()->getParentId() == $currentGhostPackage->getEntityId()
                                    && $currentGhostPackage->getParentAccountNumber() == $customerId
                                    && $currentGhostPackage->getServiceLineId() == $productId) ||
                                (isset($contract['ban_is_selected']) && $contract['ban_is_selected'] == true)
                            ) {
                                $selected = true;
                            }
                            $currentClass = $selected ? 'btn-green-selected' : 'btn-green';

                            echo "<div class='row linkedElement' id='related_product_{$product['product_id']}'>
                                <div class='col-md-10'>
                                    <div class='option-image pull-left'>
                                        <span>JS</span>
                                    </div>
                                    <div class='pull-left'>
                                        <span class='header'>
                                            {$tariffName}
                                        </span>
                                        <span class='subheader'>
                                            {$product['ctn']}
                                        </span>
                                    </div>
                                </div>

                                <div class='col-md-2 text-right'>
                                    <button type='button'
                                            class='btn {$currentClass}'
                                            data-sharing-group-id='{$product['sharing_group_details']['id']}'
                                            data-redplus-related-product='{$product['tariff']['sku']}'
                                            data-customer-id='{$customerId}'
                                            data-product-id='{$productId}'
                                            data-bundle-id='{$redPlusBundleId}'
                                            data-has-reserved-member='{$hasReservedMember}'
                                            onclick='configurator.addRedPlusMemberFromConfigurator(this)'>
                                        {$this->__('Choose')}
                                    </button>
                                </div>
                            </div>";
                        }
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>
