<?php
$customerSession = Mage::getSingleton('customer/session');
?>
<script id="kd-cls-wrapper" type="text/x-handlebars-template">
    {{#each this}}
    <div class="products-sub-package clearfix">
        <div class="products-sub-package-header-container clearfix {{#if this.part_of_bundle}} part-of-bundle {{/if}}">
            <div class="products-sub-package-header clearfix {{#if this.part_of_bundle}} part-of-bundle {{/if}}">
                <div class="product-details-image-general col-xl-1 col-lg-1 col-md-1 col-sm-1">
                    <span class="cls-customer"></span>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-7 col-sm-8 product-details">
                    <div class="product-name">
                        {{#if this.tariff.name }}
                            {{this.tariff.name}}
                        {{else}}
                            <span class="disabled"><?php echo $this->__("Unknown"); ?></span>
                        {{/if}}
                    </div>

                    <div class="product-phone-number">
                        <?php echo $this->__("Service address")?>:
                        {{#if this.service_address}}
                            {{this.service_address.street}} {{this.service_address.house_number}} {{this.service_address.house_addition}}, {{this.service_address.postcode}} {{this.service_address.city}}
                        {{else}}
                            &dash;
                        {{/if}}
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 product-more-details">
                    <button type="button" id="expand-button-{{../customer_number}}-{{@key}}" class="expand-product-details subscription_{{../customer_number}}-{{@key}}"
                            onclick="customerSection.toggle(this, '#cable-product-cls-{{this.customer_number}}-{{@index}}', 100);"></button>
                </div>
            </div>
        </div>
        {{> customer-screen-cable-cls-product this}}
    </div>
    {{/each}}
</script>


<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("kd-cls-wrapper", jQuery("#kd-cls-wrapper").html());
</script>

<?php echo $this->getChildHtml('cls.content'); ?>
