<?php
$customerSession = Mage::getSingleton('customer/session');
?>
<script id="kd-kip-wrapper" type="text/x-handlebars-template">
    <div class="products-sub-package clearfix" data-customer-number="{{this.0.customer_number}}">
        <div class="products-sub-package-header-container clearfix {{#if this.0.part_of_bundle}} part-of-bundle {{/if}}">
            <div class="products-sub-package-header clearfix {{#if this.0.part_of_bundle}} part-of-bundle {{/if}}">
                <div class="product-details-image-general col-xl-1 col-lg-1 col-md-1 col-sm-1">
                    <span class="kip-customer"></span>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-7 col-sm-8 product-details">
                    <div class="product-name">
                        {{#if this.0.tariff.name}}
                            {{this.0.tariff.name}}
                        {{else}}
                            <span class="disabled"><?php echo $this->__("Unknown"); ?></span>
                        {{/if}}
                    </div>

                    <div class="product-phone-number">
                        <?php echo $this->__("Service address")?>:
                        {{#if this.0.service_address}}
                                {{this.0.service_address.street}} {{this.0.service_address.house_number}} {{this.0.service_address.house_addition}}, {{this.0.service_address.postcode}} {{this.0.service_address.city}}
                        {{/if}} &dash;
                        <?php echo $this->__("Phone number") ?>: {{#if this.0.ctn }}{{this.0.ctn}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                    </div>

                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 product-more-details">
                    <button type="button" id="expand-button-{{this.0.customer_number}}-{{@key}}" class="expand-product-details subscription_{{this.0.customer_number}}-{{@key}}"
                            onclick="customerSection.toggle(this, '#cable-product-{{this.0.customer_number}}-{{@key}}-{{@index}}', 100);"></button>
                </div>
            </div>
        </div>
        <div id="cable-product-{{this.0.customer_number}}-{{@key}}-{{@index}}" class="collapse">
            <div class="card card-block">
                <?php //cable product template is defined below ?>
                {{> customer-screen-cable-kip-product this}}
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("kd-kip-wrapper", jQuery("#kd-kip-wrapper").html());
</script>

<?php echo $this->getChildHtml('kip.content'); ?>
