<?php
$customerSession = Mage::getSingleton('customer/session');
?>
<script id="kd-tv-wrapper" type="text/x-handlebars-template">
    {{#compare (objectLength this) 1 operator='>'}}
    <div class="products-sub-package products-sub-package clearfix" data-customer-number="{{this.0.customer_number}}">
        <div class="products-sub-package-header-container-group products-sub-package-header-container clearfix">
            <div class="products-sub-package-header clearfix">
                <div class="product-details-image-general col-xl-1 col-lg-1 col-md-1 col-sm-1">
                    <span class="tv-customer"></span>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-7 col-sm-8 product-details">
                    <div class="product-name"><?php echo $this->__("TV ") ?>({{objectLength this}})</div>

                    <div class="product-phone-number">
                        <?php echo $this->__("Service address")?>:
                        {{#if this.0.service_address}}
                            {{this.0.service_address.street}} {{this.0.service_address.house_number}} {{this.0.service_address.house_addition}}, {{this.0.service_address.postcode}} {{this.0.service_address.city}}
                        {{else}}
                            &dash;
                        {{/if}}
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                    <button type="button" class="products-icon-info btn btn-link no-of-products-icon not-expanded subscription_{{this.0.customer_number}}-{{@key}}" onclick="customerDe.expandProducts(this)" data-container-products-id="cable-product-{{this.0.customer_number}}-{{@key}}-{{@index}}">
                        <i class="no-of-products-icon not-expanded" ></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="cable-product-{{this.0.customer_number}}-{{@key}}-{{@index}}" class="hide">
            <div class="card card-block col-md-12 grouped-products">
                <?php //cable product template is defined below ?>
                {{#each this}}
                <div class="products-sub-package clearfix ">
                    <div class="products-sub-package-header-container clearfix {{#if this.part_of_bundle}} part-of-bundle {{/if}}">
                        <div class="products-sub-package-header clearfix {{#if this.part_of_bundle}} part-of-bundle {{/if}}">
                            <div class="product-details-image-general col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                <span class="tv-customer"></span>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-7 col-sm-8 product-details">
                                <div class="product-name">
                                    {{#if tariff.name}}
                                        {{tariff.name}}
                                    {{else}}
                                        {{#if options.[0].name}}
                                            {{options.[0].name}}
                                        {{else}}
                                            <span class="disabled"><?php echo $this->__("Unknown"); ?></span>
                                        {{/if}}
                                    {{/if}}
                                </div>

                                <div class="product-phone-number">
                                    <?php echo $this->__("Service address")?>:
                                    {{#if service_address}}
                                        {{service_address.street}} {{service_address.house_number}} {{service_address.house_addition}}, {{service_address.postcode}} {{service_address.city}}
                                    {{else}}
                                        &dash;
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 product-more-details">
                                <button type="button" id="expand-button-{{customer_number}}-{{@index}}" class="expand-product-details subscription_{{this.customer_number}}-{{this.product_id}}"
                                        onclick="customerSection.toggle(this, '#cable-product-tv-{{customer_number}}-{{@index}}', 100);"></button>
                            </div>
                        </div>
                    </div>
                </div>
                {{> customer-screen-cable-tv-product this }}
                {{/each}}
            </div>
        </div>
    </div>
    {{else}}
    {{#each this}}
    <div class="products-sub-package clearfix">
        <div class="products-sub-package-header-container clearfix {{#if this.part_of_bundle}} part-of-bundle {{/if}}">
            <div class="products-sub-package-header clearfix {{#if this.part_of_bundle}} part-of-bundle {{/if}}">
                <div class="product-details-image-general col-xl-1 col-lg-1 col-md-1 col-sm-1">
                    <span class="tv-customer"></span>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-7 col-sm-8 product-details">
                    <div class="product-name">
                        {{#if this.tariff.name}}
                            {{this.tariff.name}}
                        {{else}}
                            <span class="disabled"><?php echo $this->__("Unknown"); ?></span>
                        {{/if}}
                    </div>

                    <div class="product-phone-number">
                        <?php echo $this->__("Service address")?>:
                        {{#if this.service_address}}
                            {{this.service_address.street}} {{this.service_address.house_number}} {{this.service_address.house_addition}}, {{this.service_address.postcode}} {{this.service_address.city}}
                        {{else}}
                            &dash;
                        {{/if}}
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 product-more-details">
                    <button type="button" id="expand-button-{{this.customer_number}}-{{@index}}" class="expand-product-details"
                            onclick="customerSection.toggle(this, '#cable-product-tv-{{this.customer_number}}-{{@index}}', 100);"></button>
                </div>
            </div>
        </div>
        {{> customer-screen-cable-tv-product this}}
    </div>
    {{/each}}
    {{/compare}}
</script>

<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("kd-tv-wrapper", jQuery("#kd-tv-wrapper").html());
</script>

<?php echo $this->getChildHtml('tv.content'); ?>
