<?php
$customerSession = Mage::getSingleton('customer/session');
?>
<script id="peal-fixed-wrapper" type="text/x-handlebars-template">
    <div class="products-sub-package clearfix" data-customer-number="{{this.0.customer_number}}">
        <div class="products-sub-package-header-container clearfix {{#if this.0.part_of_bundle}} part-of-bundle {{/if}} {{#if this.fixed_subscription_missing}}disable-products-sub-package{{/if}}">
            <div class="products-sub-package-header clearfix {{#if this.0.part_of_bundle}} part-of-bundle {{/if}}">
                <div class="product-details-image-general col-xl-1 col-lg-1 col-md-1 col-sm-1">
                    <span class="kip-customer"></span>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-7 col-sm-8 product-details">
                    <div class="product-name">
                        {{#if this.product_name}}
                        {{this.product_name}}
                        {{else}}
                        <span class="disabled"><?php echo $this->__("Unknown"); ?></span>
                        {{/if}}
                    </div>

                    <div class="product-phone-number">
                        <?php echo $this->__("Service address") ?>:
                        {{#if this.service_address}}
                        {{this.service_address.street}} {{this.service_address.house_number}}
                        {{this.service_address.house_addition}}, {{this.service_address.postcode}}
                        {{this.service_address.city}}
                        {{/if}} &dash;
                        <?php echo $this->__("Phone number") ?>: {{#if this.ctn }}{{this.ctn}} {{else}} <span
                                class="disabled"><?php echo "N/A"; ?></span>{{/if}}
                    </div>

                </div>
                <div class="col-xl-1 col-lg-1 col-md-3 col-sm-6  product-status-badge">
                    <div class="badge-container">
                        {{#if this.fixed_subscription_missing}}
                        <span class="notification-subscription-icon"></span>
                        <span class="subscription-missing" data-toggle="tooltip" data-placement="top"
                              data-container="body" data-html="true"
                              data-original-title="<span class='lightbulb-tooltip-title ils-renew-tooltip' style='font-size: 12px;'>
                                            <?php echo $this->__('subscription missing'); ?>
                                            </span>"></span>
                        {{else}}
                            {{#if this.fixed_productdetails_missing}}
                            <span class="product-missing" data-toggle="tooltip" data-placement="top" data-container="body"
                                  data-html="true" data-original-title="<span class='lightbulb-tooltip-title ils-renew-tooltip' style='font-size: 12px;'>
                                                <?php echo $this->__('Product details missing'); ?>
                                                </span>"></span>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 product-more-details">
                    {{#if this.fixed_subscription_missing}}
                    <i class="vfde-disabled red-plus-owner-error-badge"></i>
                    {{else}}
                    {{#compare this.product_status_display
                    '<?php echo Dyna_Customer_Helper_Customer::MOBILE_PRODUCT_STATUS_CANCELLED; ?>' operator="=="}}
                    <i class="vfde-disabled red-plus-owner-error-badge"></i>
                    {{else}}
                    <button type="button" id="expand-button-{{product_offer_id}}"
                            class="expand-product-details subscription_{{product_offer_id}}"
                            onclick="customerSection.toggle(this, '#peal-product-{{product_offer_id}}-{{@index}}', 100);"></button>
                    {{/compare}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div id="peal-product-{{product_offer_id}}-{{@index}}" class="collapse">
            <div class="card card-block">
                <?php //cable product template is defined below ?>
                {{> customer-screen-fixed-product this}}
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
  //Register all product details partials
  Handlebars.registerPartial("peal-fixed-wrapper", jQuery("#peal-fixed-wrapper").html());
</script>

<?php echo $this->getChildHtml('peal.content'); ?>
