<script id="peal-customer" type="text/x-handlebars-template">
    <div class="row products-section col-xl-12 col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="products-section-header">
            <div class="product-category-title no-padding">
                <?php echo $this->__("TV, Internet & Home phone"); ?>
            </div>
        </div>
    </div>
    <div class="row products-section col-xl-12 col-lg-12 col-md-12 col-sm-12 clearfix">
        <?php //@todo use products-order-dunning to style the IN_DUNNING orders according to UI kit ?>
        {{#each PEAL as |customer customer_number|}}
            <?php //@todo use products-order-dunning to style the IN_DUNNING orders according to UI kit ?>
            <div class="products-order-additional-container {{#ifCond customer.contracts.0.dunning_status '==' '<?php echo Dyna_Customer_Helper_Services::DUNNING_IN; ?>'}}products-order-dunning{{/ifCond}}" data-customer-number="{{customer_number}}">
                <div class="products-order-additional">
                    <div class="products-order-number products-order-number-kd {{#ifCond customer.contracts.0.dunning_status '==' '<?php echo Dyna_Customer_Helper_Services::DUNNING_IN; ?>'}}popover-order-dunning{{/ifCond}}"
                         data-customer-number="{{customer_number}}">
                        {{customer_number}}
                    </div>

                    <!-- Customer Total Billing Details Modal -->
                    <div class="modal totalBillingDetailsModal" id="totalBillingDetailsModalKd-{{customer_number}}">
                        <div class="popover-header"></div>
                        <div class="popover-content">
                            <?php // OVG-1993 - only show for dunning customers ?>
                            {{#if customer.contracts.0.dunning_status}}
                                {{#ifCond customer.contracts.0.legacy_dunning_amount '==' 0}}
                                    <div class="col-md-8"> <p><?php echo $this->__("Open invoice amount") ?>:</p> </div>
                                    <div class="col-md-4"> <p><strong><?php echo $this->__("Unknown"); ?></strong></p> </div>
                                    <div class="clearfix"></div>
                                {{else}}
                                    <div class="col-md-6"> <p><?php echo $this->__("Open invoice amount") ?>:</p> </div>
                            <div class="col-md-6"> <p><strong>{{{customer.contracts.0.display_dunning_amount}}}</strong></p> </div>
                                    <div class="clearfix"></div>
                                {{/ifCond}}
                            {{else}}
                                <div class="col-md-8"> <p><?php echo $this->__("Open invoice amount") ?>:</p> </div>
                                <div class="col-md-4"> <p><strong><?php echo $this->__("Unknown"); ?></strong></p> </div>
                                <div class="clearfix"></div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>

            {{#ifCond customer.blacklisted_warning_type '==' 'warning'}}
                <div class="risk-approve warning-bottom">
                    <span class="notification-warnings-icon"> </span>
                    <div class="risk-approve-text risk-warning"><?php echo $this->__('Placing fixed orders is not allowed due to an administrative order restriction.');?></div>
                    <div class="more-info"><?php echo $this->__("Please contact Billing & Collections."); ?></div>
                </div>
            {{/ifCond}}

            {{#ifCond customer.blacklisted_warning_type '==' 'error'}}
                <div class="products-sub-package clearfix warning-bottom">
                    <div class="products-sub-package-header-container clearfix critical-warning">
                        <div class="products-sub-package-header clearfix">
                            <div class="col-xl-11 col-lg-11 col-md-9 col-sm-9 product-details clearfix">
                                <span class="notification-cross-icon"> </span>
                                <div class="extra-info">
                                    <div class="product-name"><?php echo $this->__("Placing fixed orders is not allowed due to an administrative order restriction."); ?></div>
                                    <div class="more-info"><?php echo $this->__("Please contact Billing & Collections."); ?></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/ifCond}}

            {{#ifCond customer.contracts.0.dunning_status '==' '<?php echo Dyna_Customer_Helper_Services::DUNNING_IN; ?>'}}
                <div class="products-sub-package clearfix" data-customer-number="{{customer_number}}">
                    <div class="products-sub-package-header-container clearfix critical-warning {{#if this.0.part_of_bundle}} part-of-bundle {{/if}}">
                            <div class="col-xl-11 col-lg-11 col-md-9 col-sm-9 product-details clearfix ">
                                <span class="critical-alert-icon"> </span>
                                <div class="extra-info">
                                    <div class="product-name"><?php echo $this->__("WARNING! This customer is in dunning"); ?></div>
                                    <div class="more-info"><?php echo $this->__("Currently it is not allowed to perform any actions for this customer ID"); ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/ifCond}}

            {{#each customer.contracts}}
                {{#each this.subscriptions as |subscription subIndex|}}
                    {{> peal-fixed-wrapper subscription}}
                {{/each}}
            {{/each}}
         {{/each}}
    </div>
</script>

<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("peal-customer", jQuery("#peal-customer").html());
</script>
<?php echo $this->getChildHtml('peal.fixed'); ?>