<div class="col-md-12 family packages-family">
    <div class="family-header">
        <span class="family-name"><?php echo $this->__("Optional packages"); ?></span>
    </div>
    <div class="family-content col-md-12">
        {{#each this}}
            {{> <?php echo $this->getSection() ?>_package_selected_item this }}
        {{/each}}
    </div>
</div>
