<?php
/**
 * Copyright (c) 2018. Dynacommerce B.V.
 */
?>
{{#if service_description }}
<span class="item-info" data-toggle="tooltip" data-html="true" data-container="body"
      data-placement="right" title="{{ service_description }}">&nbsp;
</span>
{{/if}}
