<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$visibilityClass = '{{#if product_visibility}} {{else}}hidden{{/if}}';
$priceWithTaxDisplay = '{{#if include_btw}}{{else}}display:none;{{/if}}'; // display for price with tax
$priceWithoutTaxDisplay = '{{#if include_btw}}display:none;{{else}}{{/if}}'; // display for price without tax
?>
<div id="item-product-{{ entity_id }}" class="row item-row <?php echo $visibilityClass; ?>" data-bundles-component="" data-bundle_id="" data-id="{{ entity_id }}"
     onclick="configurator.selectProduct(this); return false;" data-bundles="">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 item prn">
        <div class="item-name col-xs-7">
            <div class="item-picture-container pull-left">
                <div class="option-image-block"></div>
            </div>
            <div class="item-description-holder">
                <div class="item-title">
                    {{ name }}
                    {{> <?php echo $this->getSection() ?>_selected_item_title_icons this}}
                </div>
                {{> <?php echo $this->getSection() ?>_selected_item_sub_text this}}
            </div>
        </div>
        <div class="col-xs-1 marked-selected-container text-left">
            <span class="is-marked-selected hidden">U</span>
        </div>
        <div class="col-xs-1 bundle-identifier">
            <span class="label label-purple hidden"><?php echo $this->__("Bundle"); ?></span>
        </div>
        <div class="col-xs-1 campaign-identifier">
            <span class="label label-purple hidden"></span>
        </div>
        <div class="item-price col-xs-1">
            <div class="right">
                <div style="<?php echo $priceWithoutTaxDisplay; ?>" class="excl-vat-tax one-time price right">
                    <div class="top hide">
                        <span class="value"></span>
                    </div>
                    <div>
                        <span>
                            <span class="normal-price">
                                 {{#if isContainer}}
                                    {{ money display_price }}
                                {{else}}
                                    {{ money price }}
                                {{/if}}
                            </span>
                        </span>
                    </div>
                </div>
                <div style="<?php echo $priceWithTaxDisplay; ?>" class="incl-vat-tax price one-time right">
                    <div class="top hide">
                        <span class="value"></span>
                    </div>
                    <div>
                        <span>
                            <span class="tax-price">
                                {{#if isContainer}}
                                    {{ money display_price }}
                                {{else}}
                                    {{ money price_with_tax }}
                                {{/if}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-price col-xs-1">
            <div style="<?php echo $priceWithoutTaxDisplay; ?>" class="excl-vat-tax price per-month">
                <div class="top hide">
                    <span class="value"></span>
                </div>
                <div>
                    <span>
                        <span class="normal-price">
                            {{#if isContainer}}
                                {{ money display_price_repeated }}
                            {{else}}
                                {{ money regular_maf }}
                             {{/if}}
                        </span><span class="interval"></span>
                    </span>
                </div>
            </div>
            <div style="<?php echo $priceWithTaxDisplay; ?>" class="incl-vat-tax price per-month">
                <div class="top hide">
                    <span class="value"></span>
                </div>
                <div>
                    <span>
                        <span class="tax-price">
                              {{#if isContainer}}
                                {{ money display_price_repeated }}
                              {{else}}
                                {{ money regular_maf_with_tax }}
                              {{/if}}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
