<?php
?>
<div class="item-desc in-stock hidden">
</div>
<span class="item-label hidden">
</span>
<span class="item-date ">
    {{#if initial_period }}
        {{initial_period}} <?php echo " " . $this->__("months minimum term") ?>
    {{/if}}
    {{#if minimum_contract_duration}}
        {{minimum_contract_duration}} <?php echo " " . $this->__("months minimum term") ?>
    {{/if}}
    {{#if contract_period}}
        {{contract_period}} <?php echo " " . $this->__("months minimum term") ?>
    {{/if}}
</span>
