<div id="product_locks">
    <div class="grid">
        <table class="data">
            <thead>
                <tr class="headings">
                    <td>Replica</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->getReplicas() as $replica => $adapter): ?>
                    <tr>
                        <td><strong><?php echo $replica ?></strong></td>
                        <td>
                            <span>
                                <?php if ($this->isLocked(Mage::registry('product')->getId(), $adapter)): ?>
                                    <img src="<?php echo $this->getSkinUrl('images/locked_icon.png'); ?>" alt="Locked"/>
                                <?php else: ?>
                                    <img src="<?php echo $this->getSkinUrl('images/unlocked_icon.png'); ?>" alt="Unlocked"/>
                                <?php endif ?>
                            </span>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>